<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 평생학습</title>
	<meta name="Subject" content="의성군 평생학습" >
	<meta name="title" content="의성군 평생학습" >
	<meta name="keywords" content="의성군 평생학습" >
	<meta name="description" content="의성군 평생학습" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="lifeedu">
		<!-- HEADER -->
		<header><!-- lifeedu/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 메인 상단 슬라이드 -->
				<div class="main-visual-zone">
					<div class="inner">
						<div class="popupzone js-popupzone">
							<h2 class="tit">팝업존</h2>
							<ul class="indicator">
								<li> <button type="button" class="btn-prev"><span>팝업존 이전 슬라이드로 이동</span></button> </li>
								<li> <button type="button" class="btn-next"><span>팝업존 다음 슬라이드로 이동</span></button> </li>
							</ul>
							<div class="slider">
								<div class="slide"><a href="#"><img src="../../static/images/lifeedu/temp/@slide.png" alt="슬라이드명"></a></div>
								<div class="slide"><a href="#"><img src="../../static/images/lifeedu/temp/@slide2.png" alt="슬라이드명"></a></div>
								<div class="slide"><a href="#"><img src="../../static/images/lifeedu/temp/@slide.png" alt="슬라이드명"></a></div>
								<div class="slide"><a href="#"><img src="../../static/images/lifeedu/temp/@slide2.png" alt="슬라이드명"></a></div>
								<div class="slide"><a href="#"><img src="../../static/images/lifeedu/temp/@slide.png" alt="슬라이드명"></a></div>
							</div>
						</div>
					</div>
				</div>
				<!-- //메인 상단 슬라이드 -->

				<!-- 평생학습관, 유관기관 -->
				<div class="main-board-zone">
					<div class="inner">
						<div class="board-zone1">
							<h2 class="tit">평생학습관<span class="sm">(총무과 평생교육)</span></h2>
							<div class="board">
								<h3 class="subtit">접수중인 강좌</h3>
								<ul class="lst">
									<li><a href="#"><span>접수중인 강좌 목록1</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록2</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록3</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록4</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록5</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>접수중인 강좌 더보기</span></a></p>
							</div>
							<div class="board">
								<h3 class="subtit">공지사항</h3>
								<ul class="lst">
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
							</div>
						</div>
						<div class="board-zone2">
							<h2 class="tit">유관기관</h2>
							<div class="board">
								<h3 class="subtit">접수중인 강좌</h3>
								<ul class="lst">
									<li><a href="#"><span>접수중인 강좌 목록1</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록2</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록3</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록4</span></a></li>
									<li><a href="#"><span>접수중인 강좌 목록5</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>접수중인 강좌 더보기</span></a></p>
							</div>
							<div class="board">
								<h3 class="subtit">공지사항</h3>
								<ul class="lst">
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
									<li><a href="#"><span>의성군 평생학습 공지사항입니다.</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
							</div>							
						</div>
					</div>
				</div>
				<!--// 평생학습관, 유관기관 -->

				<!-- 우리동네, 바로가기 -->
				<div class="main-gotolink-zone">
					<div class="inner">
						<!-- 우리동네 -->
						<div class="wearea-zone">
							<div class="inbox"><!--  20190424 div.inbox 추가 -->
								<h2 class="tit">우리동네 평생교육기관</h2>
								<p class="desc">지역별 학습기관 현황을<br> 클릭하시면, 더욱 자세한<br> 강좌를 보실 수 있습니다.</p>
								<div class="map js-map" data-map="">
									<div>
										<img src="../../static/images/lifeedu/main/img_map.png" alt="" usemap="#Map" >
										<map name="Map" id="Map">
										    <area alt="단촌면" title="단촌면" href="#" shape="poly" coords="232,93,251,108,268,120,274,115,279,112,283,110,291,107,289,98,297,101,304,109,310,118,319,115,321,109,320,99,327,98,327,92,324,86,319,78,315,70,319,65,326,63,340,56,344,50,352,50,356,49,347,38,333,32,318,38,305,39" >
										    <area alt="점곡면" title="점곡면" href="#" shape="poly" coords="325,117,333,142,340,153,346,151,354,147,355,138,360,128,359,117,361,111,361,105,367,101,370,98,371,90,371,84,374,79,377,74,380,70,380,65,380,60,367,54,356,58,351,56,344,56,331,64,324,67" >
										    <area alt="옥산면" title="옥산면" href="#" shape="poly" coords="387,63,384,73,375,89,371,103,363,109,365,122,358,143,362,158,378,171,385,175,390,171,395,174,402,181,411,177,421,187,428,187,437,186,438,183,439,173,442,167,440,160,437,134,397,66" >
										    <area alt="사곡면" title="사곡면" href="#" shape="poly" coords="381,181,371,171,361,164,357,152,340,157,330,166,324,168,321,178,324,189,338,201,355,208,367,206,380,209,397,215,412,211,425,206,429,201,431,195,410,184" >
										    <area alt="춘산면" title="춘산면" href="#" shape="poly" coords="372,211,353,210,340,208,336,204,336,212,340,220,344,227,347,233,343,238,338,241,347,245,360,247,372,247,376,248,379,255,389,258,394,252,402,251,414,256,429,267,441,267,443,258,437,250,427,240,432,238,436,232,432,225,404,218,391,218" >
										    <area alt="가음면" title="가음면" href="#" shape="poly" coords="335,244,342,249,350,251,365,252,369,252,374,255,375,264,371,268,362,270,354,270,350,271,343,268,336,268,314,267,301,264,302,261,305,255,309,251,307,249,303,242,306,236,315,233,322,224,324,218,332,216,337,227,340,231,333,237" >
										    <area alt="금성면" title="금성면" href="#" shape="poly" coords="300,238,300,244,302,250,300,258,290,255,275,256,268,247,260,252,254,259,242,255,251,249,251,239,250,231,255,228,256,224,254,217,255,210,260,205,267,202,270,191,276,187,280,185,288,191,293,189,305,186,313,180,318,189,320,197,327,199,331,202,328,211" >
										    <area alt="의성읍" title="의성읍" href="#" shape="poly" coords="281,117,287,117,292,113,294,106,296,107,303,115,310,123,316,121,319,121,326,133,331,145,335,155,326,161,319,163,315,171,303,181,283,183,273,175,264,174,269,163,269,153,267,144,270,134,270,124,278,116" >
										    <area alt="봉양면" title="봉양면" href="#" shape="poly" coords="261,176,267,179,274,182,265,191,262,200,252,206,248,218,233,212,219,210,212,202,203,207,193,207,186,202,186,194,192,187,192,177,192,171,200,166,205,165,213,163,224,164,229,159,238,163,243,162,249,157,256,149,259,148,263,153,263,161" >
										    <area alt="안평면" title="안평면" href="#" shape="poly" coords="184,119,188,129,195,138,199,153,203,161,212,159,222,161,228,155,237,157,244,158,247,149,256,144,263,147,266,138,266,129,265,122,254,118,249,110,242,103,232,99,229,96,222,97,221,89,218,78,216,73,208,74,201,66,191,70,186,77,176,77,172,85,166,89,166,102,166,114" >
										    <area alt="비안면" title="비안면" href="#" shape="poly" coords="127,138,138,144,150,142,153,138,153,130,159,123,163,122,169,122,180,123,186,134,187,142,194,155,199,163,191,167,187,174,188,182,185,190,177,192,166,185,153,185,133,178,122,169,120,165,122,161,125,161,124,153,124,136" >
										    <area alt="구천면" title="구천면" href="#" shape="poly" coords="120,135,120,147,120,156,117,165,112,171,105,181,100,184,86,191,86,196,72,192,70,179,64,171,66,162,72,153,78,149,84,144,83,141,91,135" >
										    <area alt="단밀면" title="단밀면" href="#" shape="poly" coords="8,162,19,156,28,147,35,149,45,155,57,168,60,161,68,149,74,148,76,142,82,135,75,125,61,121,59,119,55,112,41,107,36,98,25,109,18,119,8,124,8,130,10,134,7,138,2,146" >
										    <area alt="다인면" title="다인면" href="#" shape="poly" coords="6,51,15,65,20,72,17,79,23,89,34,91,40,88,47,87,59,94,63,88,67,86,78,91,83,94,87,91,92,88,94,76,92,70,88,60,90,55,86,45,81,35,71,30,66,25,53,17,49,9,46,2,38,1,32,5,30,24,22,36" >
										    <area alt="단북면" title="단북면" href="#" shape="poly" coords="65,92,60,97,49,97,46,93,40,91,41,95,44,102,52,107,61,111,67,121,71,122,77,123,86,128,85,133,96,131,98,125,91,115,95,112,95,107,89,101,87,94,74,99" >
										    <area alt="안계면" title="안계면" href="#" shape="poly" coords="101,110,95,116,101,121,102,130,121,131,131,137,141,139,147,136,149,128,154,119,153,110,143,108,135,104,139,99,137,95,128,95,126,90,122,82,112,83,101,79,97,86,93,94" >
										    <area alt="안사면" title="안사면" href="#" shape="poly" coords="142,92,142,97,145,106,153,107,158,115,165,111,160,101,159,88,147,77,146,72,136,60,129,47,124,41,112,36,111,27,99,17,106,13,96,6,78,13,64,18,94,51,96,59,97,69,99,77" >
										    <area alt="신평면" title="신평면" href="#" shape="poly" coords="153,72,154,78,160,84,166,85,173,81,174,71,185,71,200,63,193,49,190,35,177,25,161,26,150,16,145,10,133,12,131,20,121,32" >
										</map>
									</div>
								</div>
							</div>
						</div>
						<!-- 퀵메뉴 -->
						<div class="quick-zone">
							<h2 class="tit">바로가기 퀵메뉴</h2>
							<ul class="menu">
								<li>
									<a href="#">
										<span class="icon"><img src="../../static/images/lifeedu/main/icon_quick1.png" alt=""></span>
										<span class="name">강좌검색</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icon"><img src="../../static/images/lifeedu/main/icon_quick2.png" alt=""></span>
										<span class="name">평생학습<br>동아리</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icon"><img src="../../static/images/lifeedu/main/icon_quick3.png" alt=""></span>
										<span class="name">배달강좌</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icon"><img src="../../static/images/lifeedu/main/icon_quick4.png" alt=""></span>
										<span class="name">강사뱅크</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--// 우리동네, 바로가기 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- lifeedu/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// // 팝업존
	$(".js-popupzone > .slider").slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		swipe:false,
		autoplaySpeed: 3000,
		nextArrow : $('.js-popupzone .btn-next'),
		prevArrow : $('.js-popupzone .btn-prev'),
		customPaging :  function(slick,index) {
			var i = index + 1
         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
      }
	});

	// 우리동네 
	var idx = 0;
	$(".js-map area").on("mouseenter", function(){
		idx = $(this).index()+1;
		$(".js-map").attr("data-map","map"+idx);
	})
	$(".js-map img").on("mouseleave", function(){
		$(".js-map").attr("data-map",'');
	})

</script>
</body>
</html>