<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>강좌 상세 &lt; 강좌 검색 &lt; 평생학습</title>
	<meta name="Subject" content="평생학습" >
	<meta name="title" content="평생학습" >
	<meta name="keywords" content="평생학습" >
	<meta name="description" content="평생학습" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="lifeedu"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="lifeedu-class-search"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>Lifelong learning 평생학습을 통한 행복한 의성만들기 다함께 찬찬찬!</p>
					<img src="../../static/images/commonbg/bg_lifeedu.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>교육신청</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>기관별</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>접수중인 강좌</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>분야/대상별 강좌</span></a></h2> </li><!-- D : 단일 링크면 single 클래스 추가 -->
								<li> <h2><a href="#" class="single"><span>학습기관현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">강좌 검색</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 강좌 상단 정보 -->
								<div class="class-simple-infor">
									<h3 class="class-name">
										<span class="flag">학력보안</span>
										<span class="name">풀어보자! 내 몸의 통증들</span>
									</h3>
									<p class="booking-state">접수가능<span class="sm">인터넷접수</span></p>
									<ul class="class-lst">
										<li><span class="tit">교육기관</span><div class="cont">청소년교육복지센터</div></li>
										<li><span class="tit">신청/정원</span><div class="cont"><em class="point4">14명</em>/20명</div></li>
										<li><span class="tit">신청기간</span><div class="cont">2019-01-01 ~ 2019-01-01</div></li>
										<li><span class="tit">교육장소</span><div class="cont">청소년교육센터</div></li>
										<li><span class="tit">교육기간</span><div class="cont">2019-01-01 ~ 2019-01-01</div></li>
										<li><span class="tit">진행상태</span><div class="cont point4">진행대기</div></li>
										<li><span class="tit">교육시간</span><div class="cont">10:00 ~ 13:00</div></li>
									</ul>
								</div>
								<div class="comp-btn-zone mt20">
									<div class="l-right">
										<a href="#" class="comm-btn_type3 comm-btn_ledblue"><span>수강신청</span></a>
									</div>
								</div>
								<!--// 강좌 상단 정보 -->

								<!-- 강좌상세정보안내 -->
								<div class="class-detail-infor mt35">
									<h4 class="heading-h3">강좌상세정보안내</h4>
									<div class="scrollzone">
										<div class="scrollzoneinner">
											<table class="comp-tbl_datatype">
												<caption>강좌상세정보안내</caption>
												<colgroup>
													<col style="width:18%">
													<col>
													<col style="width:18%">
													<col>
												</colgroup>
												<tbody>
													<tr>
														<th scope="row">강 좌 명</th>
														<td>풀어보자! 내 몸의 통증들</td>
														<th scope="row">교육시간</th>
														<td>2019-01-01 ~ 2019-01-01</td>
													</tr>
													<tr>
														<th scope="row">교육기간</th>
														<td>2019-01-01 ~ 2019-01-01</td>
														<th scope="row">접수기간</th>
														<td>2019-01-01 ~ 2019-01-01</td>
													</tr>
													<tr>
														<th scope="row">교육장소</th>
														<td>청소년교육센터</td>
														<th scope="row">정 원</th>
														<td>14명 / 20명</td>
													</tr>
													<tr>
														<th scope="row">교육대상</th>
														<td>성인, 청소년</td>
														<th scope="row">접수여부</th>
														<td>접수미달</td>
													</tr>
													<tr>
														<th scope="row">강 사 명</th>
														<td>홍길동 <a href="#" class="comm-btn_type2_search"><span>강사 상세보기</span></a></td>
														<th scope="row">수강료</th>
														<td>20,000</td>
													</tr>
													<tr>
														<th scope="row">담 당 자</th>
														<td>홍길동</td>
														<th scope="row">문의전화</th>
														<td>054-123-1234</td>
													</tr>
													<tr>
														<th scope="row">교육기관</th>
														<td colspan="3">청소년교육복지센터</td>
													</tr>
													<tr>
														<th scope="row">교육내용</th>
														<td colspan="3">내 몸의 통증들을 쉽게 풀어보는 강좌</td>
													</tr>
													<tr>
														<th scope="row">기타사항</th>
														<td colspan="3">-</td>
													</tr>
													<tr>
														<th scope="row">강의계획서</th>
														<td colspan="3">
															<ul class="down-lst">
																<li>
																	<a href="#" target="_blank" title="새창으로 열림" class="comm-btn_download3"><span>강의계획서(풀어보자! 내몸의통증들).hwp (11KB)</span></a>
																	<a href="#" target="_blank" title="새창으로 열림" class="comm-btn_type2"><span>미리보기</span></a>
																</li>
															</ul>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="comp-btn-zone mt20">
									<div class="l-right">
										<a href="#" class="comm-btn_type3 comm-btn_golist"><span>목록으로</span></a>
									</div>
								</div>
								<!--// 강좌상세정보안내 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>