<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>일반강사목록 &lt; 평생학습</title>
	<meta name="Subject" content="평생학습" >
	<meta name="title" content="평생학습" >
	<meta name="keywords" content="평생학습" >
	<meta name="description" content="평생학습" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="lifeedu"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>Lifelong learning 평생학습을 통한 행복한 의성만들기 다함께 찬찬찬!</p>
					<img src="../../static/images/commonbg/bg_lifeedu.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>교육신청</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>기관별</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>접수중인 강좌</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>분야/대상별 강좌</span></a></h2> </li><!-- D : 단일 링크면 single 클래스 추가 -->
								<li> <h2><a href="#" class="single"><span>학습기관현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">일반강사목록</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<div class="teacher_detail_infor">
									<div class="img"><img src="../../static/images/lifeedu/subpage/img_noimg.png" alt="강사 이미지 없음"></div>
									<div class="infor">
										<div class="name"><em>홍길동</em> 강사</div>
										<ul class="lst">
											<li><span class="tit">분&nbsp;야</span>인문교양</li>
											<li><span class="tit">이메일</span>abc@naver.com</li>
											<li><span class="tit">강좌명</span>어린이 중국어</li>
											<li><span class="tit">성&nbsp;별</span>여</li>
											<li><span class="tit">연락처</span>010-1234-1234</li>
											<li><span class="tit">기타사항</span></li>
										</ul>
									</div>
								</div>

								<h3 class="heading-h3 mt35">관련 자격(수료) 및 면허사항</h3>
								<table class="comp-tbl_datatype">
									<caption>관련 자격(수료) 및 면허사항 - 자격명, 발행기관, 발행일자, 자격/면허 번호</caption>
									<colgroup>
										<col style="width:38%">
										<col style="width:28%">
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">자격명</th>
											<th scope="col">발행기관</th>
											<th scope="col">발행일자</th>
											<th scope="col">자격/면허 번호</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
									</tbody>
								</table>

								<h3 class="heading-h3 mt35">주요경력(수상경력포함) 및 활동</h3>
								<table class="comp-tbl_datatype">
									<caption>주요경력(수상경력포함) 및 활동 - 자격명, 발행기관, 발행일자, 자격/면허 번호</caption>
									<colgroup>
										<col style="width:38%">
										<col style="width:28%">
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">자격명</th>
											<th scope="col">발행기관</th>
											<th scope="col">발행일자</th>
											<th scope="col">자격/면허 번호</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
										<tr>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
											<td>어린이 중국어 지도사</td>
										</tr>
									</tbody>
								</table>
								<div class="comp-btn-zone">
									<div class="l-right">
										<a href="#" class="comm-btn_type3 comm-btn_golist3"><span>목록으로</span></a>
									</div>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>