<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>강사 등록안내  &lt; 평생학습</title>
	<meta name="Subject" content="평생학습" >
	<meta name="title" content="평생학습" >
	<meta name="keywords" content="평생학습" >
	<meta name="description" content="평생학습" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="lifeedu"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>Lifelong learning 평생학습을 통한 행복한 의성만들기 다함께 찬찬찬!</p>
					<img src="../../static/images/commonbg/bg_lifeedu.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>교육신청</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>기관별</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>접수중인 강좌</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>분야/대상별 강좌</span></a></h2> </li><!-- D : 단일 링크면 single 클래스 추가 -->
								<li> <h2><a href="#" class="single"><span>학습기관현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">일반강사등록</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<h3 class="heading-h3">일반강사등록</h3>
								<table class="comp-tbl_formtype">
									<caption>일반강사등록 - 강사명, 강사 이미지, 연락처, 주소, 이메일, 지원분야, 강사지원서, 자격증 및 면허, 경력 및 활동 내역</caption>
									<colgroup>
										<col>
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th scope="row">강사명 <span class="important">*</span></th>
											<td>
												<input type="text" title="작성자 입력"  class="comp-input w_password">
												<ul class="w_radio2">
													<li><input type="radio" name="sex" id="female" checked="checked"><label for="female">여자</label></li>
													<li><input type="radio" name="sex" id="men"><label for="men">남자</label></li>
												</ul>
											</td>
										</tr>
										<tr>
											<th scope="row">강사 이미지 <span class="important">*</span></th>
											<td>
												<div class="comp-filefind">
													<input type="file" name="" id="">
													<button type="button" class="comm-btn_type2 comp-btn_filefind"><span>이미지 첨부</span></button>
													<p class="file-upload">홍길동.jpg (320 kb)</p>
													<p class="imp-txt">500mb 이하로 첨부해주시기 바랍니다.</p>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">연락처</th>
											<td>
												<div class="w_phone">
													<select name="" id="" title="집 전화번호 지역번호 2~3자리 선택" class="comp-select">
														<option value="">054</option>
													</select>
													<span class="txt">-</span>
													<input type="text" title="집 전화번호 중간 4자리 입력" class="comp-input">
													<span class="txt">-</span>
													<input type="text" title="집 전화번호 끝 4자리 입력" class="comp-input">
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">주소 <span class="important">*</span></th>
											<td>
												<div class="w_addr">
													<input type="text" title="우편번호 입력" class="comp-input">
													<a href="#" class="comm-btn_type2_blue"><span>우편번호</span></a>
													<input type="text" title="주소 입력" class="comp-input">
													<input type="text" title="상세주소 입력" class="comp-input" placeholder="상세주소를 입력하세요.">
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">이메일 <span class="important">*</span></th>
											<td>
												<div class="w_email">
													<input type="text" title="이메일 아이디 입력" class="comp-input">
													<span class="txt">@</span>
													<input type="text" title="이메일 도메인 입력" class="comp-input">
													<select name="" id="" title="이메일 도메인 선택" class="comp-select">
														<option value="">직접입력</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">지원분야 <span class="important">*</span></th>
											<td>
												<select name="" id="" title="지원분야 선택" class="comp-select w_select">
													<option value="">기초문해</option>
												</select>
											</td>
										</tr>
										<tr>
											<th scope="row">강사지원서 <span class="important">*</span></th>
											<td>
												<div class="comp-filefind">
													<input type="file" name="" id="">
													<button type="button" class="comm-btn_type2 comp-btn_filefind"><span>파일첨부</span></button>
													<p class="file-upload">홍길동 강사지원서.pdf (320 kb)</p>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">자격증 및 면허 <span class="important">*</span></th>
											<td></td>
										</tr>
										<tr>
											<th scope="row">경력 및 	활동 내역 <span class="important">*</span></th>
											<td></td>
										</tr>
									</tbody>
								</table>
							
								<div class="comp-btn-zone">
									<button type="submit" class="comm-btn_type1__deeporange"><span>신청하기</span></button>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>