<div id="header" class="header-type2">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li class="current"><a href="#"><span>의성군청</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="haeder-lang" aria-label="언어별 홈페이지 이동 메뉴">
					<li><a href="#" title="현재 언어" class="icon_country_korea"><span>한국어</span></a></li>
					<li><a href="http://www.usc.go.kr/jp" target="_blank" title="새창으로 열림" class="icon_country_japan"><span>일본어</span></a></li>
					<li><a href="http://www.usc.go.kr/cn" target="_blank" title="새창으로 열림" class="icon_country_china"><span>중국어</span></a></li>
					<li><a href="http://www.usc.go.kr/eng" target="_blank" title="새창으로 열림" class="icon_country_en"><span>영어</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>의성에 관하여</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>의성에 관하여</span></a></p> 
										<div class="group"> <h3><a href="#"><span>인사말</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>소개</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>외국인거주자</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성뉴스</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>

						<li role="treeitem">
							<h2> <a href="#"><span>방문안내</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>방문안내</span></a></p> 
										<div class="group"> <h3><a href="#"><span>한국에 오는방법</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성에 오는방법</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					
						<li role="treeitem">
							<h2> <a href="#"><span>축제/이벤트</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>축제/이벤트</span></a></p> 
										<div class="group"> <h3><a href="#"><span>의성 산수유꽃 축제</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성 국제연날리기 대회</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성 빙계 빙판축제</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					
						<li role="treeitem">
							<h2> <a href="#"><span>여행정보/특산품</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>여행정보/특산품</span></a></p> 
										<div class="group"> <h3><a href="#"><span>관광지도</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>문화/스포츠</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>특산품</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					
						<li role="treeitem">
							<h2> <a href="#"><span>여행정보/통역</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>여행정보/통역</span></a></p> 
										<div class="group"> <h3><a href="#"><span>숙박정보</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>통역서비스</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>질의응답(Q&amp;A)</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('240,240,240,240,240', false);
</script>