<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 외국어</title>
	<meta name="Subject" content="의성군 외국어" >
	<meta name="title" content="의성군 외국어" >
	<meta name="keywords" content="의성군 외국어" >
	<meta name="description" content="의성군 외국어" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="foreign">
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- VISUAL SLIDER ZONE -->
				<div class="main-visual-zone js-main-visual-zone">
					<div class="slider">
						<div class="slide">
							<div class="inner">
								<div class="pcbg"><img src="../../static/images/foreign/temp/@img_main1.png" alt=""><!-- pc배경 --></div>
								<!-- <div class="mobg"><img src="../../static/images/foreign/temp/@img_main1_m.png" alt=""></div> -->
								<div class="popup">
									<p class="tit">1살기좋은 마을, 산수유 꽃피는 마을</p>
									<p class="txt">경북 제일의 의성 사곡면 산수유 마을은 해마다<br>3월말에서 4월 초가 되면 산수유의 만개가 절정을 이룬다.</p>
									<div class="info">
										<span class="address">경북 의성군 금성면 수정리 424-3(주차장)</span>
										<span class="phone">054-830-6574</span>
									</div>
									<a href="#" class="btn-more">더보기</a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="inner">
								<div class="pcbg"><img src="../../static/images/foreign/temp/@img_main1.png" alt=""><!-- pc배경 --></div>
								<!-- <div class="mobg"><img src="../../static/images/foreign/temp/@img_main1_m.png" alt=""></div> -->
								<div class="popup">
									<p class="tit">2살기좋은 마을, 산수유 꽃피는 마을</p>
									<p class="txt">경북 제일의 의성 사곡면 산수유 마을은 해마다<br>3월말에서 4월 초가 되면 산수유의 만개가 절정을 이룬다.</p>
									<div class="info">
										<span class="address">경북 의성군 금성면 수정리 424-3(주차장)</span>
										<span class="phone">054-830-6574</span>
									</div>
									<a href="#" class="btn-more">더보기</a>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="inner">
								<div class="pcbg"><img src="../../static/images/foreign/temp/@img_main1.png" alt=""><!-- pc배경 --></div>
								<!-- <div class="mobg"><img src="../../static/images/foreign/temp/@img_main1_m.png" alt=""></div> -->
								<div class="popup">
									<p class="tit">3살기좋은 마을, 산수유 꽃피는 마을</p>
									<p class="txt">경북 제일의 의성 사곡면 산수유 마을은 해마다<br>3월말에서 4월 초가 되면 산수유의 만개가 절정을 이룬다.</p>
									<div class="info">
										<span class="address">경북 의성군 금성면 수정리 424-3(주차장)</span>
										<span class="phone">054-830-6574</span>
									</div>
									<a href="#" class="btn-more">더보기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--// VISUAL SLIDER ZONE -->
				<!-- MAIN-INFO -->
				<div class="main-info">
					<div class="gorup">
						<div class="news-leadermenu">
							<h2 class="tit">Introduction to Uiseong-gun</h2>
							<p class="txt">I sincerely welcome all of the netizens who have <br>visited the Uiseong county homepage.</p>
							<ul class="menu">
								<li><a href="#">의성군수 인사말</a></li>
								<li><a href="#">의성군 상징 및 기호</a></li>
								<li><a href="#">의성군 위치 및 자연환경</a></li>
							</ul>
						</div>
						<div class="gorup-small">
							<div class="tourist-map">
								<h2 class="tit">관광지도안내</h2>
								<a href="#" class="btn-more">자세히보기</a>
							</div>
							<div class="culture-guide">
								<h2 class="tit">문화/스포츠 안내</h2>
								<a href="#" class="btn-more">자세히보기</a>
							</div>
						</div>
					</div>
					<div class="festival">
						<h2 class="hidden">의성의 농특산품</h2>
						<div class="slider">
							<div class="slide">
								<span class="category">1의성의 축제</span>
								<p class="tit">산수유마을 꽃맞이 행사</p>
								<div class="img-area"></div>
							</div>
							<div class="slide">
								<span class="category">2의성의 축제</span>
								<p class="tit">산수유마을 꽃맞이 행사</p>
								<div class="img-area"></div>
							</div>
						</div>
					</div>
					<div class="list-product">
						<h2 class="hidden">의성의 농특산품</h2>
						<div class="slider">
							<div class="slide">
								<span class="category">1의성의 농특산품</span>
								<span class="tit">의성진 마늘</span>
								<span class="txt">의성진마늘의 재배역사는 매우 <br>오래되었으며, 그 유래가 깊다.</span>
								<div class="img-area"></div>
							</div>
							<div class="slide">
								<span class="category">2의성의 농특산품</span>
								<span class="tit">의성진 마늘</span>
								<span class="txt">의성진마늘의 재배역사는 매우 <br>오래되었으며, 그 유래가 깊다.</span>
							</div>
						</div>
					</div>
				</div>
				<!-- // MAIN-INFO -->
				<!-- MAIN-ETC-ZONE -->
				<div class="main-etc-zone">
					<div class="travel-info">
						<h2>여행정보 바로가기</h2>
						<ul>
							<li><a href="#">숙박시설</a></li>
							<li><a href="#">bbb korea</a></li>
							<li><a href="#">여행 안내전화(1330)<br>콜센터</a></li>
							<li><a href="#">24시간<br>통역서비스</a></li>
							<li><a href="#">1345 외국인<br>종합 정보센터</a></li>
							<li><a href="#">여행정보</a></li>
						</ul>

					</div>
					<div class="weather-info">
						<h2>날씨정보</h2>
						<p class="date">2019년 1월 20일 9시 기준</p>
						<div class="info">
							<span class="ico"></span>
							<ul class="list">
								<li>
									<dl>
										<dt>기상</dt>
										<dd>맑음</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>미세먼지</dt>
										<dd>보통</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>강수량</dt>
										<dd>0.0mm</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
					<div class="usc-guide">
						<h2>날씨정보</h2>
						<ul class="phone-number">
							<li>
								<span class="ico"></span>
								<div class="info">
									<span class="tit">관광 안내전화</span>
									<span class="txt">TEL. 1300</span>
								</div>
							</li>
							<li>
								<span class="ico"></span>
								<div class="info">
									<span class="tit">관광 통역 안내전화</span>
									<span class="txt">TEL. 1345</span>
								</div>
							</li>
						</ul>

					</div>
				</div>
				<!-- // MAIN-ETC-ZONE -->
				
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// 메인 비주얼
	var mainSlider = (function(){
		var windowWidth = (function(){
			if($(window).width() < 1024){
				$(".js-main-visual-zone .slide").each(function(){
					$(this).css({"background":"url("+$(this).find(".mobg img").attr("src")+") no-repeat 50% 50%", "background-size": "cover"});
				})
			}else{
				$(".js-main-visual-zone .slide").each(function(){
					$(this).css({"background":"url("+$(this).find(".pcbg img").attr("src")+") no-repeat 50% 50%", "background-size": "cover"});
				})
			}
		});
		windowWidth();
		$( window ).resize(function() {
			windowWidth();
		});
		$('.js-main-visual-zone .slider').slick({
			dots: true,
			infinite: true,
			speed: 1000,
			fade: true,
			arrows: false,
			swipe: true,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			},
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						swipe:true
				   }
				}
			]
		});
	})();




</script>
</body>
</html>