<div id="header">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
				<ul class="haeder-lang" aria-label="언어별 홈페이지 이동 메뉴">
					<li><a href="#" title="현재 언어" class="icon_country_korea"><span>한국어</span></a></li>
					<li><a href="http://www.usc.go.kr/jp" target="_blank" title="새창으로 열림" class="icon_country_japan"><span>일본어</span></a></li>
					<li><a href="http://www.usc.go.kr/cn" target="_blank" title="새창으로 열림" class="icon_country_china"><span>중국어</span></a></li>
					<li><a href="http://www.usc.go.kr/eng" target="_blank" title="새창으로 열림" class="icon_country_en"><span>영어</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 통합예약서비스</a></h1>
			<p class="btn-search-open view-m"><button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="gnb-search"><span>통합검색 열기</span></button></p>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
			<div class="comp-search" role="search" id="gnb-search" role="dialog">
				<div class="form">
					<p class="btn"><button type="button" class="btn-close"><span>검색 레이어 닫기</span></button></p>
					<select name="" id="" title="검색어 분류 선택">
						<option value="">통합검색</option>
					</select>
					<input type="text" title="검색어 입력" placeholder="검색어를 입력하세요">
				</div>
				<button type="submit"><span>검색</span></button>
			</div>
			<div class="usc-snsgroup">
				<p class="txt">의성군과 소통하기</p>
				<ul class="sns">
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_facebook"><span>페이스북</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_twitter"><span>트위터</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_blog"><span>블로그</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_kakao"><span>카카오스토리</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_instar"><span>인스타그램</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup view-m">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>강좌&middot;교육</span></a> </h2>
							<div class="depth2menu">
								<div class="part-introduce">
									<dl>
										<dt><span>의성군</span> <img src="../../static/images/reservation/img_gnbtxt.png" alt="통합예약"></dt>
										<dd>통합예약을 쉽고 빠르게!!</dd>
									</dl>
								</div>
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>강좌&middot;교육</span></a></p> 
										<div class="group"> <h3><a href="#"><span>전체 강좌교육</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>평생학습</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성군립도서관</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>농업기술센터</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>정보화교육</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>읍면강좌</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>대여&middot;대관</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>대여&middot;대관</span></a></p> 
										<div class="group"> <h3><a href="#"><span>종합복지관</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>조문국박물관</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>보건소</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>해설&middot;견학&middot;예약</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>해설&middot;견학&middot;예약</span></a></p> 
										<div class="group"> <h3><a href="#"><span>문화관과해설사 신청</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성마늘박물관 견학</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>이용안내</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>이용안내</span></a></p> 
										<div class="group"> <h3><a href="#"><span>공지사항</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>예약방법</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>전화번호 안내</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>나의예약현황</span></a> </h2>
							<div class="depth2menu">
								<div class="menu other" role="group">
									<div class="menugroup">
										<p><a href="#"><span>나의예약현황</span></a></p> 
										<div class="group"> <h3><a href="#"><span>강좌교육 예약현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>대여대관 예약현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>해설견학 예약현황</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('255,255,255,255,255', false);
</script>