<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 통합예약</title>
	<meta name="Subject" content="의성군 읍면동" >
	<meta name="title" content="의성군 읍면동" >
	<meta name="keywords" content="의성군 읍면동" >
	<meta name="description" content="의성군 읍면동" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="reservation">
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 텍스트 및 탭 메뉴 -->
				<div class="main-top-zone">
					<div class="inner">
						<div class="section-visual">
							<!-- 메인 비주얼 -->
							<div class="banner-wrap">
								<button type="button" class="btn-main-prev">이전 슬라이드로 이동</button>
								<div class="js-visual">
									<div class="img-area">
										<img src="../../static/images/reservation/temp/@mainbanner01.png" alt="의성군 통합예약을 쉽고 빠르게! 모든 학습강좌 및 대여대관, 견학예약을 한눈에 담을 수 있는 의성군 통합예약서비스입니다." class="view-pc">
										<img src="../../static/images/reservation/temp/@mainbanner01_m.png" alt="의성군 통합예약을 쉽고 빠르게! 모든 학습강좌 및 대여대관, 견학예약을 한눈에 담을 수 있는 의성군 통합예약서비스입니다." class="view-m">
									</div>
									<div class="img-area">
										<img src="../../static/images/reservation/temp/@mainbanner01.png" alt="의성군 통합예약을 쉽고 빠르게! 모든 학습강좌 및 대여대관, 견학예약을 한눈에 담을 수 있는 의성군 통합예약서비스입니다." class="view-pc">
										<img src="../../static/images/reservation/temp/@mainbanner01_m.png" alt="의성군 통합예약을 쉽고 빠르게! 모든 학습강좌 및 대여대관, 견학예약을 한눈에 담을 수 있는 의성군 통합예약서비스입니다." class="view-m">
									</div>
								</div>
								<button type="button" class="btn-main-next">다음 슬라이드로 이동</button>
							</div>
							<!-- 통합예약 공지사항 -->
							<div class="notice-wrap">
								<h2>통합예약 공지사항</h2>
								<div class="date">2019.03<span class="day">23</span></div>
								<div class="js-scroll">
									<ul class="comp-lst_dotted">
										<li>
											<a href="#">
												<p class="txt">제249회 조례규칙심의회 개최</p>
												<time>2019-03-01</time>
											</a>
										</li>
										<li>
											<a href="#">
												<p class="txt">제249회 조례규칙심의회 개최 조례규칙심의회 개최 조례규칙심의회 개최</p>
												<time>2019-03-01</time>
											</a>
										</li>
										<li>
											<a href="#">
												<p class="txt">제249회 조례규칙심의회 개최</p>
												<time>2019-03-01</time>
											</a>
										</li>
										<li>
											<a href="#">
												<p class="txt">제249회 조례규칙심의회 개최</p>
												<time>2019-03-01</time>
											</a>
										</li>
										<li>
											<a href="#">
												<p class="txt">제249회 조례규칙심의회 개최</p>
												<time>2019-03-01</time>
											</a>
										</li>
										<li>
											<a href="#">
												<p class="txt">제249회 조례규칙심의회 개최</p>
												<time>2019-03-01</time>
											</a>
										</li>
									</ul>
								</div>
								<a href="#" class="btn-detail">더보기</a>
							</div>
						</div>

						<div class="section-edu">
							<div class="guide-wrap js-hover">
								<div class="guide-tit">
									<a href="#">통합예약<br>이용안내</a>
								</div>
								<div class="guide-area">
									<ul>
										<li><a href="#">공지사항</a></li>
										<li><a href="#">이용안내</a></li>
										<li><a href="#">담당전화번호</a></li>
									</ul>
									<button type="button" class="btn-close">닫기</button>
								</div>
							</div>
							<div class="slide-wrap">
								<h3><img src="../../static/images/reservation/main/txt_main_edu.png" alt="교육 및 체험이 다양한 교육&middot;강좌 다양한 학습이 가득!!"></h3>
								<div class="tab-wrap">
									<ul class="tab-tit" role="tablist" aria-label="교육,강좌 분류 메뉴">
										<li role="presentation" class="current">
											<a href="#tabId1" role="tab" aria-controls="tabId1" aria-selected="true">전체</a>
										</li>
										<li role="presentation">
											<a href="#tabId2" role="tab" aria-controls="tabId2" >평생학습</a>
										</li>
										<li role="presentation">
											<a href="#tabId3" role="tab" aria-controls="tabId3" >정보교육센터</a>
										</li>
										<li role="presentation">
											<a href="#tabId4" role="tab" aria-controls="tabId4" >청소년센터</a>
										</li>
										<li role="presentation">
											<a href="#tabId5" role="tab" aria-controls="tabId5" >종합복지관</a>
										</li>
										<li role="presentation">
											<a href="#tabId6" role="tab" aria-controls="tabId6" >안계군립도서관</a>
										</li>
										<li role="presentation">
											<a href="#tabId7" role="tab" aria-controls="tabId7" >농업기술센터</a>
										</li>
									</ul>

									<div class="tab-contents">
										<div id="tabId1" role="tabpanel" style="display:block;">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide01">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">1장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
													
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">1장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">1장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">1장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">1장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
										<div id="tabId2" role="tabpanel">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide02">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">2장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
													
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">2장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">2장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">2장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">2장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
										<div id="tabId3" role="tabpanel">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide03">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">3장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
													
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">3장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">3장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">3장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">3장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
										<div id="tabId4" role="tabpanel">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide04">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">4장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">4장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">4장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">4장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">4장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
										<div id="tabId5" role="tabpanel">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide05">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">5장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">5장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">5장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">5장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">5장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
										<div id="tabId6" role="tabpanel">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide06">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">6장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>16명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>16명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">6장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>16명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">6장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>16명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">6장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>16명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">6장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
										<div id="tabId7" role="tabpanel">
											<div class="util-area">
												<div class="util-inner">
													<a href="#" class="btn-detail">더보기</a>
												</div>
											</div>
											<div class="js-slide07">
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">7장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>17명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap off">
													<!-- 예약마감 됐을 경우 off class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>17명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약마감</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">7장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>17명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">7장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>17명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">7장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>17명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
												<div class="reserve-wrap on">
													<!-- 예약하기가 가능 할 경우 on class 추가 -->
													<div class="reserve-area">
														<div class="reserve-inner">
															<p class="tit">7장애인 인식개선 강사 자격증 장애인</p>
															<span class="txt">평생학습</span>
															<div class="img-area">
																<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
															</div>
															<ul class="info-list">
																<li>모집기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>교육기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강기간 : 2019.03.03 ~ 2019.03.03</li>
																<li>수강인원 : <em>15명</em> / 28명</li>
															</ul>
														</div>
														<a href="#" class="btn-reserve"><span>예약하기</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="section-combine">
							<div class="combine-inner">
								<h3>자주찾는<br>통합예약강좌</h3>
								<div class="combine-list js-combine">
									<div class="combine01">
										<a href="#">도서관문화강좌</a>
									</div>
									<div class="combine02">
										<a href="#">도서관 캠프</a>
									</div>
									<div class="combine03">
										<a href="#">평생학습 검색</a>
									</div>
									<div class="combine04">
										<a href="#">도서관 대관</a>
									</div>
									<div class="combine05">
										<a href="#">종합복지관 강좌</a>
									</div>
									<div class="combine06">
										<a href="#">조문국박물관 견학</a>
									</div>
									<div class="combine07">
										<a href="#">산운생태공원 견학</a>
									</div>
									<div class="combine08">
										<a href="#">문화관광해설사 신청</a>
									</div>
								</div>
							</div>
						</div>

						<div class="section-rental">
							<div class="slide-wrap">
								<h3><img src="../../static/images/reservation/main/txt_main_rental.png" alt="군민의 활동적인 취미생활을 위한 대여&middot;대관"></h3>
								<div class="util-area">
									<div class="util-inner">
										<a href="#" class="btn-detail">더보기</a>
									</div>
								</div>

								<div class="js-slide-rental">
									<div class="reserve-wrap on">
										<!-- 예약하기가 가능 할 경우 on class 추가 -->
										<div class="reserve-area">
											<div class="reserve-inner">
												<p class="tit">다목적강당/소강당/소회의실</p>
												<span class="txt">종합복지관</span>
												<div class="img-area">
													<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
												</div>
												<ul class="info-list">
													<li>이용시간 : 09:00 ~ 21:00</li>
													<li>이용대상 : 누구나 이용가능</li>
													<li>휴장 : 매주 월요일</li>
												</ul>
											</div>
											<a href="#" class="btn-reserve"><span>예약하기</span></a>
										</div>
									</div>
									<div class="reserve-wrap off">
										<!-- 예약마감 일 경우 on class 추가 -->
										<div class="reserve-area">
											<div class="reserve-inner">
												<p class="tit">다목적강당/소강당/소회의실</p>
												<span class="txt">종합복지관</span>
												<div class="img-area">
													<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
												</div>
												<ul class="info-list">
													<li>이용시간 : 09:00 ~ 21:00</li>
													<li>이용대상 : 누구나 이용가능</li>
													<li>휴장 : 매주 월요일</li>
												</ul>
											</div>
											<a href="#" class="btn-reserve"><span>예약마감</span></a>
										</div>
									</div>
									<div class="reserve-wrap on">
										<!-- 예약하기가 가능 할 경우 on class 추가 -->
										<div class="reserve-area">
											<div class="reserve-inner">
												<p class="tit">다목적강당/소강당/소회의실</p>
												<span class="txt">종합복지관</span>
												<div class="img-area">
													<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
												</div>
												<ul class="info-list">
													<li>이용시간 : 09:00 ~ 21:00</li>
													<li>이용대상 : 누구나 이용가능</li>
													<li>휴장 : 매주 월요일</li>
												</ul>
											</div>
											<a href="#" class="btn-reserve"><span>예약하기</span></a>
										</div>
									</div>
									<div class="reserve-wrap on">
										<!-- 예약하기가 가능 할 경우 on class 추가 -->
										<div class="reserve-area">
											<div class="reserve-inner">
												<p class="tit">다목적강당/소강당/소회의실</p>
												<span class="txt">종합복지관</span>
												<div class="img-area">
													<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
												</div>
												<ul class="info-list">
													<li>이용시간 : 09:00 ~ 21:00</li>
													<li>이용대상 : 누구나 이용가능</li>
													<li>휴장 : 매주 월요일</li>
												</ul>
											</div>
											<a href="#" class="btn-reserve"><span>예약하기</span></a>
										</div>
									</div>
									<div class="reserve-wrap on">
										<!-- 예약하기가 가능 할 경우 on class 추가 -->
										<div class="reserve-area">
											<div class="reserve-inner">
												<p class="tit">다목적강당/소강당/소회의실</p>
												<span class="txt">종합복지관</span>
												<div class="img-area">
													<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
												</div>
												<ul class="info-list">
													<li>이용시간 : 09:00 ~ 21:00</li>
													<li>이용대상 : 누구나 이용가능</li>
													<li>휴장 : 매주 월요일</li>
												</ul>
											</div>
											<a href="#" class="btn-reserve"><span>예약하기</span></a>
										</div>
									</div>
									<div class="reserve-wrap on">
										<!-- 예약하기가 가능 할 경우 on class 추가 -->
										<div class="reserve-area">
											<div class="reserve-inner">
												<p class="tit">다목적강당/소강당/소회의실</p>
												<span class="txt">종합복지관</span>
												<div class="img-area">
													<img src="../../static/images/reservation/temp/@temp_edu.png" alt="">
												</div>
												<ul class="info-list">
													<li>이용시간 : 09:00 ~ 21:00</li>
													<li>이용대상 : 누구나 이용가능</li>
													<li>휴장 : 매주 월요일</li>
												</ul>
											</div>
											<a href="#" class="btn-reserve"><span>예약하기</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--// 상단 텍스트 및 탭 메뉴 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
	<script>
		// 메인슬라이드
		$('.banner-wrap .js-visual').slick({
			dots: true,
			arrows: true,
			prevArrow : $('.banner-wrap .btn-main-prev'),
			nextArrow : $('.banner-wrap .btn-main-next'),
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: true,
			autoplay: true,
			autoplaySpeed: 2000,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			},
			responsive: [
				 {
					breakpoint: 1024,
					settings: {
						autoplay: false					
					}
				}
			]
		});
		
		// 교육,강좌 슬라이드
		$('.js-slide01, .js-slide02, .js-slide03, .js-slide04, .js-slide05, .js-slide06, .js-slide07').slick({
			arrows: true,
			slidesToShow: 5,
			slidesToScroll: 1
		});

		$('.tab-wrap .tab-tit a').on('click', function () {
			$('.tab-contents .slick-slider').slick('setPosition');
		});
		
		$('.notice-wrap .js-scroll').each(function() {
			new IScroll('.js-scroll', {
				scrollX: false, 
				scrollY: true, 
				mouseWheel: true,
				scrollbars: true,
				interactiveScrollbars: true,
				fadeScrollbars: true
			});
		});
		
		// 대여,대관 슬라이드
		$('.js-slide-rental').slick({
			arrows: true,
			slidesToShow: 5,
			slidesToScroll: 1
		});
		
		// 통합예약 이용안내
		$('.section-edu .js-hover a').on('click', function () {
			if($(this).parents('.guide-wrap').hasClass('on')) {
				if($('.section-edu .js-hover').hasClass('on') == false) return false;
			
			} else {
				$(this).parents('.guide-wrap').addClass('on');
				$('.guide-area').stop().slideDown();
			}

			return false;
		});

		$('.section-edu .btn-close').on('click', function () {
			$(this).parents('.guide-area').stop().slideUp(function () {
				$(this).parents('.guide-wrap').removeClass('on')
			});
		});
		
		//자주찾는 통합예약강좌
		$(window).on('load resize orientationchange', function() {
			$('.js-combine').each(function(){
				var $carousel = $(this);
				if ($(window).width() > 1024) {
					if ($carousel.hasClass('slick-initialized')) {
						$carousel.slick('unslick');
					}
				}
				else{
					if (!$carousel.hasClass('slick-initialized')) {
						$carousel.slick({
							slidesToShow: 4,
							slidesToScroll: 1,
							mobileFirst: true,
							arrows: false
						});
					}
				}
			});
		});
	</script>
</body>
</html>