<div id="header" class="header-type2">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 사회복지</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>생애주기별</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>자료마당</span></a></p> 
										<div class="group"> <h3><a href="#"><span>출산&middot;아동</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>청소년</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>청년</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>노년</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>대상자별</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>대상자별</span></a></p> 
										<div class="group"> <h3><a href="#"><span>기초생활보장</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>최저생활보장</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>장애인</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>여성복지</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>건강</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>다문화</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>보훈</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>고용</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>장사업무</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>복지현황</span></a> </h2>
							<div class="depth2menu" >
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>복지현황</span></a></p> 
										<div class="group"> <h3><a href="#"><span>복지대상자 현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>복지지도</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>복지서비스 시설 소개</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>공적서비스연계 현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>후원연계 현황</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>나눔안내</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>나눔안내</span></a></p> 
										<div class="group"> <h3><a href="#"><span>후원금품 모집</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>재능기부 모집</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>후원/재능 가용현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>우수후원자 게시방</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>착한가게/착한일터</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>착한가게/착한일터</span></a></p> 
										<div class="group"> <h3><a href="#"><span>사회복지공동모금회</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>착한가게</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>착한일터</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>모금 및 집행 현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>행복나눔가게</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>지역복지정보마당</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>지역복지정보마당</span></a></p> 
										<div class="group"> <h3><a href="#"><span>권역별 맞춤형복지팀</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>사회복지기관별</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>지역사회보장협의체</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>미담/보도자료</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>자유게시판</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('425,425,425,425,425,425', false);
</script>