<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 사회복지</title>
	<meta name="Subject" content="의성군 사회복지" >
	<meta name="title" content="의성군 사회복지" >
	<meta name="keywords" content="의성군 사회복지" >
	<meta name="description" content="의성군 사회복지" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="welfare">
		<!-- HEADER -->
		<header><!-- welfare/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 메인 비주얼 영역 -->
				<div class="main-visual-zone js-main-visual-zone">
					<!-- 슬라이드 영역 -->
					<div class="slider">
						<div class="slide" data-idx="1"><!-- D : 개발시 순성 맞게 data-idx 값 넣어주세요  -->
							<div class="img pc"><img src="../../static/images/welfare/main/img_visual1.jpg" alt=""></div><!-- pc img -->
							<div class="img mo"><img src="../../static/images/welfare/main/img_visual1_m.jpg" alt=""></div><!-- mo img -->
							<p class="hidden">품격있는 의성맞춤복지 의성 사회복지 - 군민 모두 함께 누리는 품격있는 맞춤복지를 안내해드립니다.</p>
						</div>

						<div class="slide" data-idx="2">
							<div class="img pc"><img src="../../static/images/welfare/main/img_visual2.jpg" alt=""></div><!-- pc img -->
							<div class="img mo"><img src="../../static/images/welfare/main/img_visual2_m.jpg" alt=""></div><!-- mo img -->
							<p class="hidden">품격있는 의성맞춤복지 의성 사회복지 - 군민 모두 함께 누리는 품격있는 맞춤복지를 안내해드립니다.</p>
						</div>

						<div class="slide" data-idx="3">
							<div class="img pc"><img src="../../static/images/welfare/main/img_visual3.jpg" alt=""></div><!-- pc img -->
							<div class="img mo"><img src="../../static/images/welfare/main/img_visual3_m.jpg" alt=""></div><!-- mo img -->
							<p class="hidden">품격있는 의성맞춤복지 의성 사회복지 - 군민 모두 함께 누리는 품격있는 맞춤복지를 안내해드립니다.</p>
						</div>
					</div>
					<!--// 슬라이드 영역 -->

					<!-- 슬라이드 제어 -->
					<div class="indicator">
						<p class="pause-position"> <button type="button" class="btn-pause" onclick="usc.slickPause('.js-main-visual-zone','.slider', this)"><span>메인 슬라이드 일시정지/재생</span></button> </p>
						<ul class="indicator-numbers" aria-label='메인 비주얼 슬라이드 '>
							<li><button type="button" aria-current='true'><span>1</span></button></li>
							<li><button type="button"><span>2</span></button></li>
							<li><button type="button"><span>3</span></button></li>
						</ul>
					</div>
					<!-- //슬라이드 제어 -->

					<!-- 복지서비스 영역 -->
					<div class="welfare-service-zone">
						<h2 class="tit">복지서비스 바로가기</h2>
						<ul class="service-lst">
							<li> <a href="#" class="life"> <div> 생애주기별<em>출산 &middot; 아동</em> </div> </a> </li>
							<li> <a href="#" class="life"> <div> 생애주기별<em>청소년 &middot; 청년</em> </div> </a> </li>
							<li> <a href="#" class="life"> <div> 생애주기별<em>노년</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>기초생활보장</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>최저생활보장</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>장애인</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>여성복지</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>건강</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>다문화</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>보훈</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>고용</em> </div> </a> </li>
							<li> <a href="#"> <div> 대상자별<em>장사업무</em> </div> </a> </li>
						</ul>
					</div>
					<!-- //복지서비스 영역 -->
				</div>
				<!-- //메인 비주얼 영역 -->
				
				<!-- 메인 하단 영역 -->
				<div class="main-btm-zone">
					<div class="inner">
						<!-- 지원사업 -->
						<div class="btm-business js-business">
							<h2 class="tit">지원사업</h2>
							<div class="lnk-lst">
								<ul class="slider">
									<li><a href="#"><span>저출산극복시책</span></a></li>
									<li><a href="#"><span>아이돌봄지원사업</span></a></li>
									<li><a href="#"><span>청년희망키움통장</span></a></li>
									<li><a href="#"><span>노인돌봄서비스</span></a></li>
									<li><a href="#"><span>저소득층 정부양곡할인</span></a></li>
									<li><a href="#"><span>가사-간병 방문지원사업</span></a></li>
								
									<li><a href="#"><span>저출산극복시책2</span></a></li>
									<li><a href="#"><span>아이돌봄지원사업2</span></a></li>
									<li><a href="#"><span>청년희망키움통장2</span></a></li>
									<li><a href="#"><span>노인돌봄서비스2</span></a></li>
									<li><a href="#"><span>저소득층 정부양곡할인2</span></a></li>
									<li><a href="#"><span>가사-간병 방문지원사업2</span></a></li>
								
									<li><a href="#"><span>저출산극복시책3</span></a></li>
									<li><a href="#"><span>아이돌봄지원사업3</span></a></li>
									<li><a href="#"><span>청년희망키움통장3</span></a></li>
									<li><a href="#"><span>노인돌봄서비스3</span></a></li>
									<li><a href="#"><span>저소득층 정부양곡할인3</span></a></li>
									<li><a href="#"><span>가사-간병 방문지원사업3</span></a></li>
								</ul>
							</div>
						</div>
						<!-- //지원사업 -->
						<!-- 게시판 -->
						<div class="btm-board">
							<!-- 게시판 탭 -->
							<ul role="tablist">
								<li role="presentation"><a href="#tabboard1" role="tab" aria-controls="tabboard1" aria-selected="true">공지사항</a></li>
								<li role="presentation"><a href="#tabboard2" role="tab" aria-controls="tabboard2">착한가게신청</a></li>
								<li role="presentation"><a href="#tabboard3" role="tab" aria-controls="tabboard3">착한일터신청</a></li>
							</ul>
							<!-- 탭 컨텐츠 - 공지사항 -->
							<div id="tabboard1" role="tabpanel" style="display: block">
								<h2 class="hidden">공지사항</h2>
								<dl class="cont">
									<dt><a href="#"><span class="date">2019 <strong>06.28</strong></span>2019년 주민등록 사실조사 실시</a></dt>
									<dd>
										<a href="#">의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을...</a>
									</dd>
								</dl>
								<ul class="lst">
									<li><a href="#"><span class="cont">2019년 상반기 주민자치센터프로그램 강사 모집공고</span><span class="date">2019-01-01</span></a></li>
									<li><a href="#"><span class="cont">2019년 의성읍 주민자치센터 상반기 프로그램 수강생 모집</span><span class="date">2019-01-01</span></a></li>
									<li><a href="#"><span class="cont">2018년 4/4분기 주민등록 사실조사 실시</span><span class="date">2019-01-01</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
							</div>
							<!-- 탭 컨텐츠 - 착한가게신청 -->
							<div id="tabboard2" role="tabpanel">
								<h2 class="hidden">착한가게신청</h2>
								<dl class="cont">
									<dt><a href="#"><span class="date">2019 <strong>06.29</strong></span>2019년 주민등록 사실조사 실시2</a></dt>
									<dd>
										<a href="#">의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을...</a>
									</dd>
								</dl>
								<ul class="lst">
									<li><a href="#"><span class="cont">2019년 상반기 주민자치센터프로그램 강사 모집공고</span><span class="date">2019-01-01</span></a></li>
									<li><a href="#"><span class="cont">2019년 의성읍 주민자치센터 상반기 프로그램 수강생 모집</span><span class="date">2019-01-01</span></a></li>
									<li><a href="#"><span class="cont">2018년 4/4분기 주민등록 사실조사 실시</span><span class="date">2019-01-01</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>착한가게신청 더보기</span></a></p>
							</div>
							<!-- 탭 컨텐츠 - 착한일터신청 -->
							<div id="tabboard3" role="tabpanel">
								<h2 class="hidden">착한일터신청</h2>
								<dl class="cont">
									<dt><a href="#"><span class="date">2019 <strong>06.29</strong></span>2019년 주민등록 사실조사 실시3</a></dt>
									<dd>
										<a href="#">의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을...</a>
									</dd>
								</dl>
								<ul class="lst">
									<li><a href="#"><span class="cont">2019년 상반기 주민자치센터프로그램 강사 모집공고</span><span class="date">2019-01-01</span></a></li>
									<li><a href="#"><span class="cont">2019년 의성읍 주민자치센터 상반기 프로그램 수강생 모집</span><span class="date">2019-01-01</span></a></li>
									<li><a href="#"><span class="cont">2018년 4/4분기 주민등록 사실조사 실시</span><span class="date">2019-01-01</span></a></li>
								</ul>
								<p class="btn-more"><a href="#"><span>착한일터신청 더보기</span></a></p>
							</div>
						</div>
						<!-- //게시판 -->
						<!-- 알림존 -->
						<div class="btm-popup js-popup">
							<h2 class="tit">사회복지 알림존</h2>
							<div class="indicator">
								<p class="btn-arrow btn-prev"><button type="button"><span>팝업존 슬라이드 이전으로 이동</span></button></p>
								<p class="btn-arrow btn-next"><button type="button"><span>팝업존 슬라이드 다음으로 이동</span></button></p>
								<p class="btn-pause"><button type="button" onclick="usc.slickPause('.js-popup','.slider', this)"><span>팝업존 일시정지/재생</span></button></p>
							</div>
							<div class="slider">
								<div class="slide"><a href="#"><img src="../../static/images/welfare/temp/temp.png" alt="알림배너 명"></a></div>
								<div class="slide"><a href="#"><img src="../../static/images/welfare/temp/temp.png" alt="알림배너 명"></a></div>
								<div class="slide"><a href="#"><img src="../../static/images/welfare/temp/temp.png" alt="알림배너 명"></a></div>
							</div>
						</div>
						<!--// 알림존 -->
					</div>
				</div>
				<!-- //메인 하단 영역 -->

				<!-- 메인 메뉴  -->
				<div class="main-etc-zone">
					<div class="inner">
						<ul class="help-menu">
							<li>
								<a href="#">
									<h2 class="tit"><span>의성군 복지현황</span></h2>
									<span class="txt">
										모든 군민이 행복한 삶을 <br class='pc'>
										영위할 수 있는 기반을 제공합니다.
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<h2 class="tit"><span>착한가게 / 착한일터</span></h2>
									<span class="txt">
										자유롭게 행복을 나눠주고, <br class="pc">
										참여할 수 있는 복지 서비스입니다.
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<h2 class="tit"><span>어려운 이웃을 찾아주세요</span></h2>
									<span class="txt">
										우리 주위에 다양한 어려운 이웃을 <br class="pc">
										찾아 복지지원을 제공합니다.
									</span>
								</a>
							</li>
						</ul>
						<div class="gotolnk">
							<h2 class="tit">의성 복지 바로가기</h2>
							<p class="lnk"><a href="#" target="_blank" title="새창으로 열림"><span>의성군 청소년센터</span> <em class="go">GO</em></a></p>
						</div>
					</div>
				</div>
				<!-- //메인 메뉴  -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- welfare/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// // 메인 비주얼
	var mainSlider = (function(){
		$(".js-main-visual-zone .slide").each(function(){
			$(this).find(".pc").css({"background":"url("+$(this).find(".pc img").attr("src")+") no-repeat 50% 0%", "background-size": "cover"}); 
			$(this).find(".mo").css({"background":"url("+$(this).find(".mo img").attr("src")+") no-repeat 50% 0%", "background-size": "cover"}); 
		})

		$('.js-main-visual-zone .slider').slick({
			dots: true,
			infinite: true,
			speed: 500,
			ltr: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			swipe:false,
			autoplay: true,
			autoplaySpeed: 5000,
			customPaging :  function(slick,index) {
				var i = index + 1
	         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
	      },
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						arrows:false,
						swipe:true,
						dots:false
				   }
				}
			]
		}).on("afterChange", function(event, slick, currentSlide, nextSlide){
			var idx = $(".js-main-visual-zone .slider .slick-current .slide").attr("data-idx")-1;
			$(".indicator-numbers li").eq(idx).find("button").attr("aria-current", 'true');
			$(".indicator-numbers li").eq(idx).siblings("li").find("button").removeAttr("aria-current");
		});

		$(".indicator-numbers button").on("click", function(){
			var _i = $(this).closest("li").index();
			$(".js-main-visual-zone .slider").slick('slickGoTo', _i);
		})
	})();

	// 팝업존
	$(".js-popup > .slider").slick({
		dots: false,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		swipe:false,
		autoplay: true,
		autoplaySpeed: 3000,
		nextArrow : $('.js-popup .btn-next button'),
		prevArrow : $('.js-popup .btn-prev button'),
		responsive: [
			{
				breakpoint: 1024,
				settings: {
					swipe:true
			   }
			}
		]
	});
	// 사업
	$(".js-business .slider").on('init', function(event, slick){ 
		$(".js-business .slick-dots button").on("click", function(){
			$(this).attr("aria-selected", 'true').closest("li").addClass("slick-active");
			$(this).closest("li").sibilings().removeClass("slick-active").find("button").removeAttr("aria-selected");
		});
	})
	$(".js-business .slider").slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		rows:6,
		swipe:false,
		arrows:false,
		autoplay: false,  // 자동롤링을 원할경우 해당 속성 true로 변경
		autoplaySpeed: 3000,
		responsive: [
			{
				breakpoint: 1024,
				settings: {
					swipe:true,
					slidesToShow: 2,
					slidesToScroll: 2,
					rows:3
			   }
			}
		]
	});

</script>
</body>
</html>