<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>복지현황 나눔안내 &lt; 복지현황 &lt; 의성군 사회복지</title>
	<meta name="Subject" content="의성군 사회복지" >
	<meta name="title" content="의성군 사회복지" >
	<meta name="keywords" content="의성군 사회복지" >
	<meta name="description" content="의성군 사회복지" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="welfare"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- welfare/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p class="hidden">품격있는 의성맞춤복지 의성사회복지</p>
					<img src="../../static/images/commonbg/bg_welfare.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">생애주기별</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>생애주기별</span></a></li>
										<li><a href="#"><span>대상자별</span></a></li>
										<li><a href="#"><span>복지현황</span></a></li>
										<li><a href="#"><span>나눔안내</span></a></li>
										<li><a href="#"><span>착한가게/착한일터</span></a></li>
										<li><a href="#"><span>지역복지정보마당</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">출산아동</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>출산아동</span></a></li>
										<li><a href="#"><span>청소년</span></a></li>
										<li><a href="#"><span>청년</span></a></li>
										<li><a href="#"><span>노년</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">아이돌봄지원 사업</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>아이돌봄지원 사업</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>복지현황</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>복지대상자 현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>복지지도</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#" aria-current="page"><span>아이돌봄지원 사업</span></a></h3> </li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>복지서비스 시설 소개</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공적서비스연계 현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>후원연계 현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">나눔안내</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 탭 -->
								<ul class="comp-tab_4n" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab"><span>영유아관련</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>아동-청소년관련</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>여성-가족관련</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabCont" aria-selected="true"><span>장애인 관련</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>노인장기요양보험기관</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>노인여가/일자리/노인양로시설</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>자활자립 및 일자리 연계</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>사회복지기관-단체</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>상담관련</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>공공기관 및 기타 생활편의시설</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>경로당현황</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>복지지도 보기</span></a></li>
								</ul>
								<!--// 탭 -->

								<!-- 탭 내용 -->
								<div id="tabCont" role="tabpanel">
									<h3 class="hidden">장애인 관련</h3>
									<!-- 주요기능 -->
									<h4 class="heading-h3">주요기능</h4>
									<div class="wf-function">
										<ul class="group">
											<li><div> 협치기능<span class="sm">(governance)</span> </div></li>
											<li><div> 정책 심의 </div></li>
										</ul>
										<ul class="group">
											<li><div> 연계기능<span class="sm">(network)</span> </div></li>
											<li><div> 계획수립 및 실행 </div></li>
										</ul>
										<ul class="group">
											<li><div> 통합서비스 기능</div></li>
											<li><div> 기본사업수행 </div></li>
										</ul>
										<p class="txt">수요자 중심의 통합적 서비스 제공</p>
									</div>
									<!-- 조직도 -->
									<h4 class="heading-h3 mt40">조직도</h4>
									<div class="wf-organizationchart">
										<p class="txt"> <span>대표협의체 24명 <em class="sm">(심의 및 자문)</em></span> </p>
										<ul class="group">
											<li><div class="txt1"> 사무국 / 1명 <span class="sm">(협의체 업무지원)</span> </div></li>
											<li>
												<div class="txt2"> 실무협의체 / 28명 <span class="sm">(협의 및 조정)</span> </div>
												<div class="smgroup">
													<div class="txt2-2">6개 실무분과 / 65명 <span class="sm">(세부방안모색 및 실천)</span></div>
													<ul>
														<li><span>총괄기획분과</span></li>
														<li><span>노인분과</span></li>
														<li><span>여성영유아분과</span></li>
														<li><span>아동청소년분과</span></li>
														<li><span>장애인분과</span></li>
														<li><span>통합사례관리분과</span></li>
													</ul>
												</div>
											</li>
											<li>
												<div class="txt2"> 실무협의체 / 28명 <span class="sm">(협의 및 조정)</span> </div>
												<div class="smgroup">
													<ul>
														<li>의성면 - <span class="person">28명</span></li>
														<li>비안면 - <span class="person">16명</span></li>
														<li>단촌면 - <span class="person">20명</span></li>
														<li>구천면 - <span class="person">16명</span></li>
														<li>점곡면 - <span class="person">28명</span></li>
														<li>단밀면 - <span class="person">18명</span></li>
														<li>옥산면 - <span class="person">16명</span></li>
														<li>단북면 - <span class="person">13명</span></li>
														<li>춘산면 - <span class="person">18명</span></li>
														<li>안계면 - <span class="person">23명</span></li>
														<li>가음면 - <span class="person">15명</span></li>
														<li>다인면 - <span class="person">21명</span></li>
														<li>금성면 - <span class="person">24명</span></li>
														<li>신평면 - <span class="person">14명</span></li>
														<li>사곡면 - <span class="person">18명</span></li>
														<li>안평면 - <span class="person">23명</span></li>
														<li>봉양면 - <span class="person">24명</span></li>
														<li>안사면 - <span class="person">18명</span></li>										
														<li></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<!--// 탭 내용 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- welfare/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>