<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>아이돌봄지원 사업 &lt; 출산아동 &lt; 생애주기별 &lt; 의성군 사회복지</title>
	<meta name="Subject" content="의성군 사회복지" >
	<meta name="title" content="의성군 사회복지" >
	<meta name="keywords" content="의성군 사회복지" >
	<meta name="description" content="의성군 사회복지" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="welfare"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- welfare/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p class="hidden">품격있는 의성맞춤복지 의성사회복지</p>
					<img src="../../static/images/commonbg/bg_welfare.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">생애주기별</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>생애주기별</span></a></li>
										<li><a href="#"><span>대상자별</span></a></li>
										<li><a href="#"><span>복지현황</span></a></li>
										<li><a href="#"><span>나눔안내</span></a></li>
										<li><a href="#"><span>착한가게/착한일터</span></a></li>
										<li><a href="#"><span>지역복지정보마당</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">출산아동</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>출산아동</span></a></li>
										<li><a href="#"><span>청소년</span></a></li>
										<li><a href="#"><span>청년</span></a></li>
										<li><a href="#"><span>노년</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">아이돌봄지원 사업</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>아이돌봄지원 사업</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>생애주기별</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>출산아동</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>청소년</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#" aria-current="page"><span>아이돌봄지원 사업</span></a></h3> </li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>청년</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>노년</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li> <h3><a href="#"><span>드림스타트</span></a></h3> </li>
											<li> <h3><a href="#"><span>아이돌봄지원 사업</span></a></h3> </li>
											<li> <h3><a href="#"><span>보육시설현황</span></a></h3> </li>
											<li> <h3><a href="#"><span>아동복지시설 현황</span></a></h3> </li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">출산아동 - 아이돌봄지원 사업</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<div class="comp-iconbox">
									<div class="icon"><img src="../../static/images/welfare/subpage/icon_part1.png" alt=""></div>
									<div class="cont">
										<h3 class="tit">청년·내일키움통장이란?</h3>
										<ul class="comp-lst_dotted_grey">
											<li>일하는 수급가구 및 비수급 근로빈곤층의 자활을 위해 목돈을 마련할 수 있도록 지원하는 사업입니다.</li>
										</ul>
										<a href="www.hopegrowing.com" target="_blank" title="새창으로 열림" class="lnk"><span>홈페이지 www.hopegrowing.com</span></a>
									</div>
								</div>

								<figure class="wf-imgbox row mt35">
									<img src="../../static/images/welfare/subpage/img_part1_1.jpg" alt="">
									<figcaption>출산통합지원센터</figcaption>
								</figure>

								<!-- 지원내용 -->
								<h3 class="heading-h3 mt40">지원내용</h3>
								<h4 class="heading-h4 mt15 ml20">아이돌보미가 돌봄이 필요한 아동에게 돌봄서비스를 제공하며, 가정의 소득에 따라 돌봄 비용을 정부에서 차등 지원합니다.</h4>
								<div class="scrollzone ml20">
									<div class="scrollzoneinner">
										<table class="comp-tbl_datatype">
											<caption>돌봄서비스를 지원내용 - 구분, 지원내용, 정부지원 및 부담금</caption>
											<colgroup>
												<col style="width:14%">
												<col>
												<col style="width:25%">
											</colgroup>
											<thead>
												<tr>
													<th scope="col">구분</th>
													<th scope="col">지원내용</th>
													<th scope="col">정부지원 및 부담금</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>영아종일제</td>
													<td>
														만3개월~36개월 이하 아동에게 이유식, 젖병소독, 기저귀 갈기, 목욕 등 영아돌봄과 관련된 활동 전반
													</td>
													<td>
														(정부지원) 1,448~7,720원/시간당 <br>
														(본인부담) 1,930~9,650원/시간당
													</td>
												</tr>
												<tr>
													<td>시간제</td>
													<td>
														맞벌이가정, 다자녀가정 등 만 12세 이하 아동에게 임시보육, 놀이활동, 준비된 식사 및 간식 챙겨주기, 등․하원 동행 등 돌봄 제공
													</td>
													<td>
														(정부지원) 1,448~8,203원/시간당 <br>
														(본인부담) 1,447~12,550원/시간당
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<h4 class="heading-h4 mt15 ml20">※ 소득유형에 따라 정부지원 및 본인부담 금액이 달라질 수 있음</h4>
								<div class="application_process_lst">
									<ol>
										<li>
											<strong class="step">STEP <em>01</em></strong>
											<div class="cont">아동입소 신청<br><span class="sm">(면사무소)</span></div>
										</li>
										<li>
											<strong class="step">STEP <em>02</em></strong>
											<div class="cont">아동입소의뢰(시설)</div>
										</li>
										<li>
											<strong class="step">STEP <em>03</em></strong>
											<div class="cont">시설입소 결정통보</div>
										</li>
										<li>
											<strong class="step">STEP <em>04</em></strong>
											<div class="cont">입소보호</div>
										</li>
									</ol>
								</div>
								<div class="application_process_lst row">
									<ol>
										<li>
											<strong class="step">STEP <em>01</em></strong>
											<div class="cont">아동의뢰(면사무소,학교,지역주민 등) 또는 아동보호자 상담(내방,전화) </div>
										</li>
										<li>
											<strong class="step">STEP <em>02</em></strong>
											<div class="cont">지역아동센터 사업 및 프로그램 안내</div>
										</li>
										<li>
											<strong class="step">STEP <em>03</em></strong>
											<div class="cont">부모 · 아동과 상담 이용적합 여부 결정</div>
										</li>
										<li>
											<strong class="step">STEP <em>04</em></strong>
											<div class="cont">이용신청카드작성</div>
										</li>
										<li>
											<strong class="step">STEP <em>05</em></strong>
											<div class="cont">기관(지역아동센터)접수</div>
										</li>
										<li>
											<strong class="step">STEP <em>06</em></strong>
											<div class="cont">지역아동센터 이용</div>
										</li>
										<li>
											<strong class="step">STEP <em>07</em></strong>
											<div class="cont">아동의 적응관찰 및 개별관리</div>
										</li>
									</ol>
								</div>
								<ul class="wf-imgbox-lst mt30">
									<li>
										<figure class="wf-imgbox">
											<img src="../../static/images/welfare/subpage/img_part1_2_1.jpg" alt="">
											<figcaption>꿈꾸는 키즈랜드 개소식</figcaption>
										</figure>
									</li>
									<li>
										<figure class="wf-imgbox">
											<img src="../../static/images/welfare/subpage/img_part1_2_2.jpg" alt="">
											<figcaption>꿈꾸는 키즈랜드1</figcaption>
										</figure>
									</li>
									<li>
										<figure class="wf-imgbox">
											<img src="../../static/images/welfare/subpage/img_part1_2_3.jpg" alt="">
											<figcaption>꿈꾸는 키즈랜드2</figcaption>
										</figure>
									</li>
								</ul>

								<!-- 내일키움통장 -->
								<h3 class="heading-h3 mt30">내일키움통장</h3>
								<h4 class="heading-h4 mt15 ml20">지원내용</h4>
								<div class="scrollzone ml20">
									<div class="scrollzoneinner">
										<p class="img"><img src="../../static/images/welfare/subpage/img_part1_1.png" alt="내일키움통장 지원 예시 - 본인 저축액 월 5 또는 10만원, 내일키움장례금 1:1(시장진입형)/1:0.5(사회서비스형A) 매칭, 내일키움수익금(월 최대 15만원) 적립, 내일근로 장례금 1:1매칭 지원 정부지원금"></p>
									</div>
								</div>
								<h4 class="heading-h4 mt30 ml20">지원내용</h4>
								<div class="scrollzone ml20">
									<div class="scrollzoneinner">
										<p class="img"><img src="../../static/images/welfare/subpage/img_part1_2.png" alt="내일키움통장 지원내용" longdesc="#longdesc"></p>
										<div id="longdesc" class="hidden">
											<ol>
												<li>대상자유형 - 1.기초생활 스굽노인 2.기타의료급여수급자</li> 
												<li>시&middot;군&middot;구(읍면동 대리접수) 입소신청(장기요양 인정서 첨부)</li>
												<li>시&middot;군&middot;구(읍면동 대리접수) 입소신청(장기요양 인정서 첨부)</li>
												<li>장기요양기관(입소대상자 확인후(*) 수급자와 급여제공계약서 작성)</li>
												<li>장기요양기관 - 장기요양급여 계약내역서 공단통보</li>
												<li>서비스 실시</li>
											</ol>
											<p>일반노인은 위의 절차없이 서비스 실시합니다.</p>
										</div>
									</div>
								</div>

								<!-- 사회복지 공동모금회 -->
								<h3 class="heading-h3 mt30">사회복지 공동모금회</h3>
								<ul class="wf-vision">
									<li>
										<strong class="tit">미션</strong>
										<div class="txt">
											<strong class="ebold">나눔</strong>으로 하나되는 <span class="point1">행복한 세상</span>
										</div>
									</li>
									<li>
										<strong class="tit">비전</strong>
										<div class="txt">
											함께 <strong class="ebold">따뜻한 세상</strong>을 만드는 <span class="point1">사랑의 열매</span>
										</div>
									</li>
									<li>
										<strong class="tit">운영 원리</strong>
										<div class="txt">
											<strong class="ebold">참여</strong>와 <strong class="ebold">권한</strong>의 <sapn class="point1">분산</sapn>(민주성), <strong class="ebold">자율성</strong>과 <strong class="ebold">사회적</strong> <span class="point1">책무성</span>, <br><strong class="ebold">투명성</strong>과 <strong class="ebold">공개성</strong>, <strong class="ebold">신뢰</strong>와 <strong class="ebold">협력</strong>
										</div>
									</li>
									<li>
										<strong class="tit">핵심가치</strong>
										<div class="txt ebold">
											인간존중, 윤리성, 열정, 헌신, 도전정신
										</div>
									</li>
								</ul>
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- welfare/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>