<div id="header" class="">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li class="current"><a href="#"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 안계군립도서관</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>김주수입니다</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"> 
											<h3><a href="#"><span>김주수입니다</span></a></h3> 
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>인사말</span></a></h4> </li>
												<li> <h4><a href="#"><span>걸어온길</span></a></h4> </li>
												<li> <h4><a href="#"><span>주요정책</span></a></h4> </li>
												<li> <h4><a href="#"><span>공약사항 및 실천계획</span></a></h4> </li>
												<li> 
													<h4><a href="#"><span>공약사항 추진관련</span></a></h4> 
													<ul class="depth4menu">
														<li><h5> <a href="#"><span>공약사항 추진목록</span></a> </h5></li>
														<li><h5> <a href="#"><span>재원투자 계획표</span></a> </h5></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>현장속으로</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"> 
											<h3><a href="#"><span>이용안내</span></a></h3> 
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>일정</span></a></h4> </li>
												<li> <h4><a href="#"><span>포토뉴스</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>말과글</span></a> </h2>
							<div class="depth2menu" >
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"> <h3><a href="#"><span>말과글</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>군수와함께해요</span></a> </h2>
							<div class="depth2menu other">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"> 
											<h3><a href="#"><span>군수와함께해요</span></a></h3> 
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>군수와함께해요</span></a></h4> </li>
												<li> <h4><a href="#"><span>기존글보기</span></a></h4> </li>
												<li> <h4><a href="#"><span>내가쓴글보기</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>역대군수</span></a> </h2>
							<div class="depth2menu other">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"> <h3><a href="#"><span>역대군수</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('277,277,277,277,277', false);
</script>