<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 열린군수실</title>
	<meta name="Subject" content="의성군 열린군수실" >
	<meta name="title" content="의성군 열린군수실" >
	<meta name="keywords" content="의성군 열린군수실" >
	<meta name="description" content="의성군 열린군수실" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="openleader">
		<!-- HEADER -->
		<header><!-- openleader/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<div class="inner">
					<!-- 상단 비주얼 -->
					<div class="main-visual js-main-visual">
						<!-- 주요일정, 메뉴 -->
						<div class="section-01">
							<div class="inner">
								<h2 class="tit"><img src="../../static/images/openleader/main/img_main_visual_tit.png" alt="활력넘치는 희망의성 ! 군민과 함꼐 만들어가겠습니다."></h2>
								<div class="name"><img src="../../static/images/openleader/main/img_main_visual_name.png" alt="제62대 의성군수 김주수"></div>
								<div class="calendar">
									<h3 class="tit">주요일정</h3>
									<div class="js-calendar">
										<div class="inner">
											<div class="date">2019.03<span class="day">22</span></div>
											<div id="slide1" class="list"><!-- 개발시 id값을 넣어주시기 바랍니다. -->
												<ul>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color2">문화</span>
															<span class="subject">새해농업인 실용교육(자두)</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color3">행사</span>
															<span class="subject">희망 2019 나눔캠페인 이웃돕기성금모금행사</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">시군평가 및 벤치마킹 실시 결과 보고</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">시군평가 및 벤치마킹 실시 결과 보고</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">시군평가 및 벤치마킹 실시 결과 보고</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="inner">
											<div class="date">2019.03<span class="day">23</span></div>
											<div id="slide2" class="list"><!-- 개발시 id값을 넣어주시기 바랍니다. -->
												<ul>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최제249회 조례규칙심의회 개최</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color2">문화</span>
															<span class="subject">새해농업인 실용교육(자두)</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color3">행사</span>
															<span class="subject">희망 2019 나눔캠페인 이웃돕기성금모금행사</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">시군평가 및 벤치마킹 실시 결과 보고</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">제249회 조례규칙심의회 개최</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="ico color1">군청</span>
															<span class="subject">제249회 조례규칙심의회 개최</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="btn-more"><a href="#">주요일정 더보기</a></div>
								</div>
								<div class="list-quick">
									<ul class="list">
										<li class="togo-1">
											<a href="#">
												<span class="txt">취임사</span>
												<span class="after"><em>바로가기</em></span>
											</a>
										</li>
										<li class="togo-2">
											<a href="#">
												<span class="txt">걸어온길</span>
												<span class="after"><em>바로가기</em></span>
											</a>
										</li>
										<li class="togo-3">
											<a href="#">
												<span class="txt">국민과의<br>약속</span>
												<span class="after"><em>바로가기</em></span>
											</a>
										</li>
										<li class="togo-4">
											<a href="#">
												<span class="txt">공지사항<br>추진관련</span>
												<span class="after"><em>바로가기</em></span>
											</a>
										</li>
										<li class="togo-5">
											<a href="#">
												<span class="txt">의성군<br>역대군수</span>
												<span class="after"><em>바로가기</em></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--// 주요일정, 메뉴 -->
						<!-- 생생 현장속으로, 군수와함께-->
						<div class="section-02">
							<div class="inner">
								<h2 class="tit"><img src="../../static/images/openleader/main/img_main_visual_tit.png" alt="활력넘치는 희망의성 ! 군민과 함꼐 만들어가겠습니다."></h2>
								<div class="list-banner js-list-banner">
									
									<div class="banner js-banner">
										<ul class="list-img">
											<li class="on">
												<a href="#">
													<img src="../../static/images/openleader/temp/@img_list_banner.png" alt="한 자녀 더 갖기 운동본부 발대식 관련 이미지">
													<div class="txt-area">
														<span class="tit">1한 자녀 더 갖기 운동본부 발대식1한 자녀 더 갖기 운동본부 발대식1한 자녀 더 갖기 운동본부 발대식</span>
														<span class="txt">한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식</span>
														<span class="date">2018-11-30</span>
													</div>
												</a>
											</li> 
											<li>
												<a href="#">
													<img src="../../static/images/openleader/temp/@img_list_banner.png" alt="한 자녀 더 갖기 운동본부 발대식 관련 이미지">
													<div class="txt-area">
														<span class="tit">2한 자녀 더 갖기 운동본부 발대식2한 자녀 더 갖기 운동본부 발대식2한 자녀 더 갖기 운동본부 발대식2한 자녀 더 갖기 운동본부 발대식</span>
														<span class="txt">한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식</span>
														<span class="date">2018-11-30</span>
													</div>
												</a>
											</li>
											<li>
												<img src="../../static/images/openleader/temp/@img_list_banner.png" alt="한 자녀 더 갖기 운동본부 발대식 관련 이미지">
												<div class="txt-area">
													<span class="tit">3한 자녀 더 갖기 운동본부 발대식3한 자녀 더 갖기 운동본부 발대식3한 자녀 더 갖기 운동본부 발대식3한 자녀 더 갖기 운동본부 발대식</span>
													<span class="txt">한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식</span>
													<span class="date">2018-11-30</span>
												</div>
											</li>
											<li>
												<a href="#">
													<img src="../../static/images/openleader/temp/@img_list_banner.png" alt="한 자녀 더 갖기 운동본부 발대식 관련 이미지">
													<div class="txt-area">
														<span class="tit">4한 자녀 더 갖기 운동본부 발대식>4한 자녀 더 갖기 운동본부 발대식>4한 자녀 더 갖기 운동본부 발대식</span>
														<span class="txt">한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식</span>
														<span class="date">2018-11-30</span>
													</div>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="../../static/images/openleader/temp/@img_list_banner.png" alt="한 자녀 더 갖기 운동본부 발대식 관련 이미지">
													<div class="txt-area">
														<span class="tit">5한 자녀 더 갖기 운동본부 발대식5한 자녀 더 갖기 운동본부 발대식5한 자녀 더 갖기 운동본부 발대식</span>
														<span class="txt">한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식한 자녀 더 갖기 운동본부 발대식</span>
														<span class="date">2018-11-30</span>
													</div>
												</a>
											</li>
										</ul>
									</div>
									<div class="list">
										<h3 class="tit">생생 현장속으로</h3>
										<div id="js-list-inner" class="list-inner">
											<ul>
												<li class="on">
													<a href="#">
														<span class="subject">2018 공공비축미곡 매입2018 공공비축미곡 매입2018 공공비축미곡 매입2018 공공비축미곡 매입</span>
														<span class="date">2018-11-30</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="subject">한 자녀 더 갖기 운동본부 발대식</span>
														<span class="date">2018-11-30</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="subject">새마을회 사랑의 김장 담그기</span>
														<span class="date">2018-11-30</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="subject">신규 임용공무원 토크 콘서트</span>
														<span class="date">2018-11-30</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="subject">의성군 생활개선회 사랑의 김장나누기</span>
														<span class="date">2018-11-30</span>
													</a>
												</li>
											</ul>
										</div>
										<div class="btn_more">
											<a href="#" class="btn">생생 현장속으로 더보기</a>
										</div>
									</div>
								</div>
								<div class="petition">
									<div class="write">
										<h3 class="tit">군수와 함께해요<span class="tail">!</span></h3>
										<div class="table">
											<div class="inner">
												<p class="txt">의성군민들의 불편함과 불만을<br>경청하여 반영하도록 하겠습니다.</p>
												<a href="#" class="btn">글쓰기 바로가기</a>
											</div>
											<div class="link">
												<a href="#">김주수 군수의 말과글<span class="tail">의성군민 여러분<em>!</em></span></a>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<!--// 생생 현장속으로, 군수와함께-->
					</div>
					<!--// 상단 비주얼 -->
					<!-- 선고공약 -->
					<div class="list-pledge">
						<div class="inner">
							<h3 class="tit">군민과의 약속(선거공약)<span class="tail">군민과 함께하는 창조적인 희망군정을 위한 군수의 약속<em>!!</em></span></h3>
							<ul class="list">
								<li class="ico-01">기업하기 좋은 <strong>환경조성</strong></li>
								<li class="ico-02">지속 가능한 <strong>농업실현</strong></li>
								<li class="ico-03">생애주기별 <strong>복지실현</strong></li>
								<li class="ico-04">머물고 체험하는 <strong>문화관광 육성</strong></li>
								<li class="ico-05">신속하고 투명한 <strong>민원서비스 구현</strong></li>
							</ul>
							<a href="#" class="btn"><span>공약 자세히보기</span></a>
						</div>
					</div>
					<!--// 선고공약 -->
					<!-- 소통하는 의성군수 -->
					<div class="sns-area view-pc">
						<h3 class="tit">소통하는 의성군수<span class="tail">군민과 함께 소통하고 만들어나가는 의성<em>!</em></span></h3>
						<div class="inner">
							<div class="sns-api twitter">
								<h4 class="tit"><span>트위터</span></h4>
								<!-- 트위터 api 영역 -->
								<div class="api-area">
									
								</div>
								<!-- // 트위터 api 영역 -->
							</div>
							<div class="sns-api facebook">
								<h4 class="tit"><span>페이스북</span></h4>
								<!-- 페이스북 api 영역 -->
								<div class="api-area"></div>
								<!-- // 페이스북 api 영역 -->
							</div>
							<div class="sns-api blog">
								<h4 class="tit"><span>네이버블로그</span></h4>
								<!-- 네이버블로그 api 영역 -->
								<div class="api-area"></div>
								<!-- // 네이버블로그 api 영역 -->
							</div>
						</div>
					</div>
					<!--// 소통하는 의성군수 -->
				</div>
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- openleader/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script type="text/javascript">
	
	$(document).ready(function(){
		// 메인비쥬얼
		$('.js-main-visual').slick({
			dots: true,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			}
		});
		//주요일정 슬릭
		$('.js-calendar').slick({
			swipe:false
		});
		//주요일정 스크롤
		$('.js-calendar .inner .list').each(function() {
			if($(this).attr('id') == '') return;
			var myScroll = new IScroll("#"+$(this).attr('id'), {
				scrollX: false, 
				scrollY: true, 
				mouseWheel: true,
				scrollbars: true,
				interactiveScrollbars: true,
				fadeScrollbars: false
			});
		});

		
		$(window).resize(function(){
			list_quick_motion(0);
			main_visual_h();
		});

		//메인 비쥬얼 높이
		main_visual_h();
		function main_visual_h(){
			var main_visual_h = $('.section-02').outerHeight();
			// console.log(main_visual_h)
			$('.section-01').height(main_visual_h);
		}
		//메인비쥬얼 퀵메뉴
		list_quick_motion(0);
		function list_quick_motion(i){
			var list_li = $('.list-quick .list li').size(),
				li_w = $('.list-quick .list > li').outerWidth(),
				current = i + 1;
			if ($(window).width() < 1024) {
				if(current <= list_li){
					setTimeout(function(){
						$('.list-quick li:eq('+ i +')').stop().animate({'left' : ('20' * i) + '%'});
						list_quick_motion(current);
					},200);
				}
			}else{
				if(current <= list_li){
					setTimeout(function(){
						$('.list-quick li:eq('+ i +')').stop().animate({'left' : li_w * i});
						list_quick_motion(current);
					},200);
				}
			}
		}
		

		//생생 현장속으로 스크롤
		var myScroll1 = new IScroll('#js-list-inner', { 
			scrollX: false, 
			scrollY: true, 
			mouseWheel: true,
			scrollbars: true,
			interactiveScrollbars: true,
			fadeScrollbars: false
		});

		//생생 현장속으로 리스트
		$('#js-list-inner li a').bind('mouseover focus click', function(){
			$('#js-list-inner li').removeClass('on');
			$(this).parent().addClass('on');
			var index = $(this).parent().index();
			$('.js-banner .list-img').find('li').removeClass('on')
			$(this).closest('.js-list-banner').find('.js-banner').find('li').eq(index).addClass('on');
		});
	});

</script>
</body>
</html>