<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>공약사항 추진목록 &lt; 공약사항 추진 관련 &lt; 의성군 열린군수실</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="openleader"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- openleader/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="pledge"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 소통하는 희망의성! 군민과 소통하고 함께하는 창조적인 희망군정을 만들겠습니다.</p>
					<img src="../../static/images/commonbg/bg_openleader.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>김주수입니다.</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>인사말</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>걸어온 길</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>주요정책</span></a></h3></li>
											<li><h3><a href="#"><span>공약사항 및 실천계획</span></a></h3></li>
											<li><h3><a href="#"><span>공약사항 추진관련</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>현장속으로</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>일정</span></a></h3></li>
											<li><h3><a href="#"><span>포토뉴스</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="single"><span>말과글</span></a></h2>
								</li>
								<li>
									<h2><a href="#"><span>군수와함께해요</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>군수와 함께해요</span></a></h3></li>
											<li><h3><a href="#"><span>기존글보기</span></a></h3></li>
											<li><h3><a href="#"><span>내가쓴글보기</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="single"><span>역대군수</span></a></h2>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">공약사항 추진목록</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<h3 class="heading-h3">공양사항 추진목록</h3>
								<div class="list-propulsion mt20 ml20">
									<ul class="list">
										<li class="ball-color0">
											<div class="txt">총 공약수 <span class="num">62</span></div> <!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner" style="width:100%"></div></div>
										</li>
										<li class="ball-color1">
											<div class="txt">완료 <span class="num">0</span></div><!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner"></div></div>
										</li>
										<li class="ball-color2">
											<div class="txt">완료 후 계속추진 <span class="num">0</span></div><!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner"></div></div>
										</li>
										<li class="ball-color3">
											<div class="txt">정상추진 <span class="num">61</span></div><!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner"></div></div>
										</li>
										<li class="ball-color4">
											<div class="txt">일부추진 <span class="num">1</span></div><!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner"></div></div>
										</li>
										<li class="ball-color5">
											<div class="txt">보류 <span class="num">0</span></div><!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner"></div></div>
										</li>
										<li class="ball-color6">
											<div class="txt">기타 <span class="num">0</span></div><!-- num에 건수 입력시 자동계산됩니다. -->
											<div class="graph"><div class="inner"></div></div>
										</li>
									</ul>
								</div>
								<div class="tbl-top-utile mt50 ml10">
									<h4 class="heading-h4">민선7기 : 2018. 7. 2. ~ 2022. 6. 30.(4년)</h4>
									<p class="l-right">(‘18. 6월 기준)</p>
								</div>
								<div class="scrollzone ml10">
									<div class="scrollzoneinner">
										<table class="comp-tbl_datatype">
											<caption>민선7기 : 2018. 7. 2. ~ 2022. 6. 30.(4년) - 분야, 순번, 사업비(억원), 이행률(%), 사업추진도,추진부서</caption>
											<colgroup>
												<col style="width:15%;">
												<col style="width:8%;">
												<col style="width:*;">
												<col style="width:8%;">
												<col style="width:8%;">
												<col style="width:12%;">
												<col style="width:15%;">
											</colgroup>
											<thead>
												<tr>
													<th scope="col">분야</th>
													<th scope="col">순번</th>
													<th scope="col">공약사항</th>
													<th scope="col">사업비<br>(억원)</th>
													<th scope="col">이행률<br>(%)</th>
													<th scope="col">사업추진도</th>
													<th scope="col">추진부서</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<td>계</td>
													<td colspan="2">62건</td>
													<td>15,047</td>
													<td>21%</td>
													<td colspan="2"></td>
												</tr>
											</tfoot>
											<tbody>
												<tr>
													<th scope="rowgroup" rowspan="20" class="bg-none">신성장<br>동력산업</th>
													<td>1</td>
													<td class="al-l">통합공항이전 유치 및 주변지역 개발사업</td>
													<td>1,501</td>
													<td>5%</td>
													<td><span class="ball-color5">보류</span></td><!-- ball-color1(완료), ball-color2(완료후 계속추진), ball-color3(정상추진), ball-color4(일부추진), ball-color5(보류), ball-color6(기타)  -->
													<td>미래전략단</td>
												</tr>
												<tr>
													<td>2</td>
													<td class="al-l">세포배양 산업화 허브센터 구축</td>
													<td>200</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>미래전략단</td>
												</tr>
												<tr>
													<td>3</td>
													<td class="al-l">의료용 인공관절/뼈 상용화 기반 구축</td>
													<td>300</td>
													<td>10%</td>
													<td><span class="ball-color2">완료 후<br>계속추진</span></td>
													<td>미래전략단</td>
												</tr>
												<tr>
													<td>4</td>
													<td class="al-l">건강산업(세포배양, 인공관절) 지원센터 구축</td>
													<td>90</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>미래전략단</td>
												</tr>
												<tr>
													<td>5-1</td>
													<td class="al-l">신재생에너지 발전단지 조성 - 풍력발전단지</td>
													<td>3,160</td>
													<td>40%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>미래전략단</td>
												</tr>
												<tr>
													<td>5-2</td>
													<td class="al-l">신재생에너지 발전단지 조성 - 태양광발전사업</td>
													<td>1,400</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>미래전략단</td>
												</tr>
												<tr>
													<td>6</td>
													<td class="al-l">농산물 산지유통시설 인프라 확충 </td>
													<td>117</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>유통축산과</td>
												</tr>
												<tr>
													<td>7</td>
													<td class="al-l">주민 참여형 태양광발전사업 모델 발굴</td>
													<td>0.4</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>일자리경제교통과</td>
												</tr>
												<tr>
													<td>8</td>
													<td class="al-l">창업지원 허브센터 건립</td>
													<td>35</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>일자리경제교통과</td>
												</tr>
												<tr>
													<td>9</td>
													<td class="al-l">의성사랑 상품권 발행 </td>
													<td>43</td>
													<td>50%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>일자리경제교통과</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="al-l">농촌인력중개센터 확대 운영</td>
													<td>12</td>
													<td>7%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>농정과</td>
												</tr>
												<tr>
													<td>11</td>
													<td class="al-l">과실전문생산단지 기반 조성</td>
													<td>109</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>농정과</td>
												</tr>
												<tr>
													<td>12</td>
													<td class="al-l">동부지구 다목적 농촌용수 개발사업</td>
													<td>440</td>
													<td>50%</td>
													<td><span class="ball-color4">정상추진</span></td>
													<td>안전과</td>
												</tr>
												<tr>
													<td>13</td>
													<td class="al-l">봉양 일반산업단지 조성</td>
													<td>382</td>
													<td>10%</td>
													<td><span class="ball-color4">일부추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>14</td>
													<td class="al-l">농촌신활력 플러스사업 추진</td>
													<td>70</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>15</td>
													<td class="al-l">농업 6차산업 활성화</td>
													<td>150</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>농업기술센터</td>
												</tr>
												<tr>
													<td>16</td>
													<td class="al-l">다양한 귀농귀촌정책 추진</td>
													<td>442</td>
													<td>15%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>농업기술센터</td>
												</tr>
												<tr>
													<td>17-1</td>
													<td class="al-l">ICT 스마트 팜 육성 - 농정과</td>
													<td>114</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>농정과</td>
												</tr>
												<tr>
													<td>17-2</td>
													<td class="al-l">ICT 스마트 팜 육성 - 유통축산과</td>
													<td>130</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>유통축산과</td>
												</tr>
												<tr>
													<td>17-3</td>
													<td class="al-l">ICT 스마트 팜 육성 - 농업기술센터</td>
													<td>3</td>
													<td>5%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>농업기술센터</td>
												</tr>
												<tr>
													<th scope="rowgroup" rowspan="16" class="bg-none">도시재생<br>사업</th>
													<td>18</td>
													<td class="al-l">주민참여 예산제도 확대</td>
													<td>비예산</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>기획실</td>
												</tr>
												<tr>
													<td>19</td>
													<td class="al-l">농촌빈집 정비</td>
													<td>101</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>종합민원실</td>
												</tr>
												<tr>
													<td>20</td>
													<td class="al-l">군민안전 재난재해 CCTV 설치 확대</td>
													<td>62</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>총무과</td>
												</tr>
												<tr>
													<td>21</td>
													<td class="al-l">영농 및 생활폐기물 수거 지원 </td>
													<td>48</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>새마을환경과</td>
												</tr>
												<tr>
													<td>22</td>
													<td class="al-l">친환경차량 보급 지원 </td>
													<td>228</td>
													<td>5%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>새마을환경과</td>
												</tr>
												<tr>
													<td>23</td>
													<td class="al-l">유해조수 퇴치 지원 </td>
													<td>115</td>
													<td>50%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>새마을환경과</td>
												</tr>
												<tr>
													<td>24</td>
													<td class="al-l">자연재해 위험지구 정비사업 추진</td>
													<td>274</td>
													<td>50%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>안전과</td>
												</tr>
												<tr>
													<td>25</td>
													<td class="al-l">저수지 원격관리시스템 구축 </td>
													<td>11</td>
													<td>25%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>안전과</td>
												</tr>
												<tr>
													<td>26</td>
													<td class="al-l">의성마늘소 먹거리타운 활성화 </td>
													<td>25</td>
													<td>50%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>27</td>
													<td class="al-l">농촌중심지활성화 지속 추진</td>
													<td>703</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>28</td>
													<td class="al-l">창조적마을만들기 지속 추진</td>
													<td>124</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>29</td>
													<td class="al-l">도시재생 사업 추진</td>
													<td>173</td>
													<td>60%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>30</td>
													<td class="al-l">의성~신도청간 도로 개설</td>
													<td>100</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>건설도시과</td>
												</tr>
												<tr>
													<td>31</td>
													<td class="al-l">춘산~가음면 급수구역 확장 완료 </td>
													<td>195</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>상하수도사업소</td>
												</tr>
												<tr>
													<td>32</td>
													<td class="al-l">의성군 지방상수도 현대화사업 완료</td>
													<td>335</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>상하수도사업소</td>
												</tr>
												<tr>
													<td>33</td>
													<td class="al-l">농어촌마을 하수도 정비사업 </td>
													<td>1,212</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>상하수도사업소</td>
												</tr>
												<tr>
													<th scope="rowgroup" rowspan="14" class="bg-none">문화·<br>체육·<br>관광·<br>사업</th>
													<td>34</td>
													<td class="al-l">의성컬링 스포츠테마 관광타운 조성</td>
													<td>30</td>
													<td>5%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>35</td>
													<td class="al-l">다양한 군민 문화예술활동 지원</td>
													<td>194</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>36</td>
													<td class="al-l">작은 영화관 건립</td>
													<td>11</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>37</td>
													<td class="al-l">의성종합체육관 건립 </td>
													<td>326</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>38</td>
													<td class="al-l">군민 생활체육 활성화</td>
													<td>23</td>
													<td>15%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>39</td>
													<td class="al-l">조성지 관광벨트화사업 추진</td>
													<td>32</td>
													<td>5%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>40</td>
													<td class="al-l">금성산 고분군 복원·정비</td>
													<td>50</td>
													<td>00%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>41</td>
													<td class="al-l">빙계얼음골 관광자원화 </td>
													<td>58</td>
													<td>25%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>42</td>
													<td class="al-l">낙단보 주변 관광자원 개발 </td>
													<td>499</td>
													<td>5%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>43</td>
													<td class="al-l">조문국박물관 다기능 주차장 조성 </td>
													<td>16</td>
													<td>15%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>44</td>
													<td class="al-l">중앙선 폐철도구간 관광자원화 사업</td>
													<td>184</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>45</td>
													<td class="al-l">반려동물 문화센터 건립 </td>
													<td>101</td>
													<td>40%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>유통축산과</td>
												</tr>
												<tr>
													<td>46</td>
													<td class="al-l">말산업 육성 기반 조성</td>
													<td>11</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>유통축산과</td>
												</tr>
												<tr>
													<td>47</td>
													<td class="al-l">목재문화 체험장 조성 </td>
													<td>37</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>산림과</td>
												</tr>
												<tr>
													<th scope="rowgroup" rowspan="16" class="bg-none">교육 및<br>사회복지<br>사업</th>
													<td>48</td>
													<td class="al-l">특색 있는 시가지 가로수 조성</td>
													<td>21</td>
													<td>10%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>산림과</td>
												</tr>
												<tr>
													<td>49</td>
													<td class="al-l">온종일 돌봄교실 지원</td>
													<td>6</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>총무과</td>
												</tr>
												<tr>
													<td>50</td>
													<td class="al-l">교육·장학사업 확대</td>
													<td>71</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>총무과</td>
												</tr>
												<tr>
													<td>51</td>
													<td class="al-l">군민 계층별 맞춤형 평생교육 확대 </td>
													<td>43</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>총무과</td>
												</tr>
												<tr>
													<td>52</td>
													<td class="al-l">청소년 문화의 집 건립 </td>
													<td>98</td>
													<td>50%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>재무과</td>
												</tr>
												<tr>
													<td>53</td>
													<td class="al-l">장애인 휠체어 컬링 훈련장 설치 </td>
													<td>60</td>
													<td>70%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>문화관광과</td>
												</tr>
												<tr>
													<td>54</td>
													<td class="al-l">서부지역 어린이 키즈카페 설치</td>
													<td>1</td>
													<td>40%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>사회복지과</td>
												</tr>
												<tr>
													<td>55</td>
													<td class="al-l">의성형 복지모델 구축 </td>
													<td>43</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>사회복지과</td>
												</tr>
												<tr>
													<td>56</td>
													<td class="al-l">노인 일자리사업 확대 지원</td>
													<td>448</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>사회복지과</td>
												</tr>
												<tr>
													<td>57-1</td>
													<td class="al-l">장애인, 다문화 등 취약계층 지원 - 언어발달지원</td>
													<td>2</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>사회복지과</td>
												</tr>
												<tr>
													<td>57-2</td>
													<td class="al-l">장애인, 다문화 등 취약계층 지원 - 장애인자립기반</td>
													<td>61</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>사회복지과</td>
												</tr>
												<tr>
													<td>58</td>
													<td class="al-l">장애인 주간보호센터 설치</td>
													<td>9</td>
													<td>0%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>사회복지과</td>
												</tr>
												<tr>
													<td>59</td>
													<td class="al-l">군민 행복택시 확대 운영</td>
													<td>15</td>
													<td>20%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>일자리경제교통과</td>
												</tr>
												<tr>
													<td>60</td>
													<td class="al-l">의료기관시설확충 (보건소, 보건진료소 신축)</td>
													<td>112</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>보건소</td>
												</tr>
												<tr>
													<td>61</td>
													<td class="al-l">출산통합지원센터 구축·운영 </td>
													<td>35</td>
													<td>50%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>보건소</td>
												</tr>
												<tr>
													<td>62</td>
													<td class="al-l">치매안심센터 설치·운영 </td>
													<td>47</td>
													<td>30%</td>
													<td><span class="ball-color3">정상추진</span></td>
													<td>보건소</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- openleader/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>
<script>
	var total = parseInt($(".ball-color0 .num").text());

	$(".list li").each(function(){
		if($(this).index() == 0) return;

		var num = Math.ceil(parseInt($(this).find(".num").text()) / (total / 100)), 
			 inner = $(this).find(".inner");

		inner.css({"width": num+"%"});
	})


</script>