<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>재원투자 계획표 &lt; 공약사항 추진 관련 &lt; 의성군 열린군수실</title>
    <meta name="Subject" content="의성군청">
    <meta name="title" content="의성군청">
    <meta name="keywords" content="의성군청">
    <meta name="description" content="의성군청">
    <!-- <link rel="shortcut icon" href="../../" > -->
    <!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
    <link rel="stylesheet" href="../../static/css/common.css">
</head>

<body>
    <div id="skipnavi">
        <a href="#container">주내용으로 이동</a>
        <a href="#gnb">메뉴로 이동</a>
        <a href="#footer">하단 정보로 이동</a>
    </div>
    <div id="wrap" class="openleader">
        <!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
        <!-- HEADER -->
        <header>
            <!-- openleader/header.html  -->
        </header>
        <!-- //HEADER -->
        <!-- CONTAINER -->
        <main>
            <div id="container" class="planner">
                <!-- D: 페이지 특정의 클래스 -->
                <!-- 상단 비주얼 -->
                <div class="top-visual-zone">
                    <p>군민과 소통하는 희망의성! 군민과 소통하고 함께하는 창조적인 희망군정을 만들겠습니다.</p>
                    <img src="../../static/images/commonbg/bg_openleader.png" alt="" class="bgimg">
                </div>
                <!--// 상단 비주얼 -->
                <!-- 컨텐츠 -->
                <div class="inner">
                    <!-- breadcrumb -->
                    <div class="breadcrumb-zone">
                        <ol class="breadcrumb" aria-label="사이트 이동 경로">
                            <li><a href="#">H</a></li>
                            <li>
                                <a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
                                <div class="menu">
                                    <ul>
                                        <li><a href="#"><span>정보공개청구</span></a></li>
                                        <li><a href="#"><span>정보공개소재안내</span></a></li>
                                        <li><a href="#"><span>사전정보공표목록</span></a></li>
                                        <li><a href="#"><span>자치법규/관보</span></a></li>
                                        <li><a href="#"><span>비공개대상정보세부기준</span></a></li>
                                        <li><a href="#"><span>개별공시지가열람</span></a></li>
                                        <li><a href="#"><span>행정처분공개</span></a></li>
                                        <li><a href="#"><span>정책실명제</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#">행정정보</a>
                                <div class="menu">
                                    <ul>
                                        <li><a href="#"><span>정보공개청구</span></a></li>
                                        <li><a href="#"><span>정보공개소재안내</span></a></li>
                                        <li><a href="#"><span>사전정보공표목록</span></a></li>
                                        <li><a href="#"><span>자치법규/관보</span></a></li>
                                        <li><a href="#"><span>비공개대상정보세부기준</span></a></li>
                                        <li><a href="#"><span>개별공시지가열람</span></a></li>
                                        <li><a href="#"><span>행정처분공개</span></a></li>
                                        <li><a href="#"><span>정책실명제</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#" aria-current="location">정보공개제도안내</a>
                                <div class="menu">
                                    <ul>
                                        <li><a href="#"><span>정보공개청구</span></a></li>
                                        <li><a href="#"><span>정보공개소재안내</span></a></li>
                                        <li><a href="#"><span>사전정보공표목록</span></a></li>
                                        <li><a href="#"><span>자치법규/관보</span></a></li>
                                        <li><a href="#"><span>비공개대상정보세부기준</span></a></li>
                                        <li><a href="#"><span>개별공시지가열람</span></a></li>
                                        <li><a href="#"><span>행정처분공개</span></a></li>
                                        <li><a href="#"><span>정책실명제</span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ol>
                        <dl class="page-zoom">
                            <dt>글자크기</dt>
                            <dd>
                                <button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
                                <button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
                            </dd>
                        </dl>
                    </div>
                    <!-- //breadcrumb -->
                    <!-- LNB -->
                    <div id="lnb">
                        <div class="title-depth">
                            <h2>행정정보/개방</h2>
                        </div>
                        <nav>
                            <ul class="menu">
                                <li>
                                    <h2><a href="#"><span>김주수입니다.</span></a></h2>
                                    <div class="smallmenu">
                                        <ul>
                                            <li>
                                                <h3><a href="#"><span>인사말</span></a></h3>
                                            </li>
                                            <li>
                                                <h3><a href="#" aria-current="page"><span>걸어온 길</span></a></h3>
                                            </li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
                                            <li>
                                                <h3><a href="#"><span>주요정책</span></a></h3>
                                            </li>
                                            <li>
                                                <h3><a href="#"><span>공약사항 및 실천계획</span></a></h3>
                                            </li>
                                            <li>
                                                <h3><a href="#"><span>공약사항 추진관련</span></a></h3>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <h2><a href="#"><span>현장속으로</span></a></h2>
                                    <div class="smallmenu">
                                        <ul>
                                            <li>
                                                <h3><a href="#"><span>일정</span></a></h3>
                                            </li>
                                            <li>
                                                <h3><a href="#"><span>포토뉴스</span></a></h3>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <h2><a href="#" class="single"><span>말과글</span></a></h2>
                                </li>
                                <li>
                                    <h2><a href="#"><span>군수와함께해요</span></a></h2>
                                    <div class="smallmenu">
                                        <ul>
                                            <li>
                                                <h3><a href="#"><span>군수와 함께해요</span></a></h3>
                                            </li>
                                            <li>
                                                <h3><a href="#"><span>기존글보기</span></a></h3>
                                            </li>
                                            <li>
                                                <h3><a href="#"><span>내가쓴글보기</span></a></h3>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <h2><a href="#" class="single"><span>역대군수</span></a></h2>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //LNB -->
                    <!-- CONTENTS -->
                    <div id="contents">
                        <section>
                            <!-- 페이지 타이틀영역 -->
                            <div class="title-zone">
                                <h2 class="page-title">재원투자 계획표</h2>
                                <ul class="page-utile">
                                    <li>
                                        <button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
                                        <div id="area-sns" class="area-sns" role="dialog">
                                            <h2 class="hidden">SNS 공유</h2>
                                            <ul>
                                                <li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
                                                <li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
                                                <li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
                                                <li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
                                            </ul>
                                            <span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
                                        </div>
                                    </li>
                                    <li><button type="button" class="icon-share"><span>공유</span></button></li>
                                    <li><button type="button" class="icon-download"><span>다운로드</span></button></li>
                                    <li>
                                        <button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
                                        <div class="area-qrcode" id="area-qrcode" role="dialog">
                                            <h2 class="hidden">QR코드</h2>
                                            <span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
                                            <span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
                                            <span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- //페이지 타이틀영역 -->
                            <!-- 개별 컨텐츠 영역 -->
                            <div class="contents-zone">
                                <!-- D : 해당 부분에 서브페이지 작업 -->
                                <h3 class="heading-h3">재원투자 계획표</h3>
                                <div class="heading-table mt30 ml25">
                                    <h4 class="heading-h4">재원별 사업비</h4>
                                    <div class="graph">
                                        <ul class="inner">
                                            <li class="color-1" style="width:35%">민자 등 6,156</li>
                                            <li class="color-2" style="width:31%">국비 5,883</li>
                                            <li class="color-3" style="width:23%">군비 2,784</li>
                                            <li class="color-4" style="width:11%">도비 592</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="heading-table mt20 ml25">
                                    <h4 class="heading-h4">시기별 사업비</h4>
                                    <div class="graph">
                                        <ul class="inner">
                                            <li class="color-1" style="width:69%">임기중 11,881</li>
                                            <li class="color-2" style="width:17%">임기후 2,088</li>
                                            <li class="color-4" style="width:14%">임기전 1,445</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tbl-top-utile mt50">
                                    <h4 class="heading-h4 ml25">재원별 투자계획</h4>
                                    <p class="l-right">(‘18. 12월 기준)</p>
                                </div>
                                <div class="scrollzone plannertbl">
                                    <div class="scrollzoneinner">
                                        <table class="comp-tbl_datatype">
                                            <caption>재원별 투자계획 - 분야, 재원별계획(단위:억원)(계, 국비, 도비, 군비, 민자등), 세부 투자 계획</caption>
                                            <colgroup>
                                                <col style="width:20%">
                                                <col span="5">
                                                <col style="width:15%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" scope="col">분야</th>
                                                    <th scope="colgroup" colspan="5">재원별 계획 (단위 : 억원)</th>
                                                    <th rowspan="2" scope="col">세부 투자 계획</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">계</th>
                                                    <th scope="col">국비</th>
                                                    <th scope="col">도비</th>
                                                    <th scope="col">군비</th>
                                                    <th scope="col">민자등</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" class="bg-none al-l">계</th>
                                                    <td>15,415</td>
                                                    <td>5,883</td>
                                                    <td>592</td>
                                                    <td>2,784</td>
                                                    <td>6,156</td>
                                                    <td rowspan="5"><a href="#" class="btn-download">다운로드</a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-none al-l">1. 신성장 동력산업</th>
                                                    <td>8,716</td>
                                                    <td>2,613</td>
                                                    <td>186</td>
                                                    <td>381</td>
                                                    <td>5,536</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-none al-l">2. 도시재생사업</th>
                                                    <td>3,861</td>
                                                    <td>2,295</td>
                                                    <td>191</td>
                                                    <td>971</td>
                                                    <td>404</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-none al-l">3. 문화·체육·관광 사업</th>
                                                    <td>1,578</td>
                                                    <td>468</td>
                                                    <td>118</td>
                                                    <td>783</td>
                                                    <td>209</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-none al-l">4. 교육 및 사회복지사업</th>
                                                    <td>1,260</td>
                                                    <td>507</td>
                                                    <td>97</td>
                                                    <td>649</td>
                                                    <td>7</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tbl-top-utile mt50">
                                    <h4 class="heading-h4 ml25">연도별 투자계획</h4>
                                    <p class="l-right">(‘18. 12월 기준)</p>
                                </div>
                                <div class="scrollzone plannertbl">
                                    <div class="scrollzoneinner">
                                        <table class="comp-tbl_datatype">
                                            <caption>재원투자 계획표</caption>
                                            <colgroup>
                                                <col style="width:20%">
                                                <col span="8">
                                                <col style="width:15%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th rowspan="3" scope="colgroup">분야</th>
                                                    <th colspan="8" scope="colgroup">연도별 계획 (단위: 억원)</th>
                                                    <th rowspan="3" scope="col" class="brn">세부<br> 투자계획</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" scope="col">계</th>
                                                    <th scope="col">임기전</th>
                                                    <th colspan="5" scope="colgroup">임기중</th>
                                                    <th scope="col">임기후</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">기투자<br>('17까지)</th>
                                                    <th scope="col">2018</th>
                                                    <th scope="col">2019</th>
                                                    <th scope="col">2020</th>
                                                    <th scope="col">2021</th>
                                                    <th scope="col">2022</th>
                                                    <th scope="col">2023<br> 이후</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="bg-none al-l">계</th>
                                                    <td>15,415</td>
                                                    <td>1,445</td>
                                                    <td>1,724</td>
                                                    <td>3,313</td>
                                                    <td>2,655</td>
                                                    <td>2,237</td>
                                                    <td>1,953</td>
                                                    <td>2,088</td>
                                                    <td rowspan="5"><a href="#" class="btn-download">다운로드</a></td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-none al-l">1. 신성장 동력산업</th>
                                                    <td>8,718</td>
                                                    <td>333</td>
                                                    <td>864</td>
                                                    <td>2,260</td>
                                                    <td>1,584</td>
                                                    <td>1,352</td>
                                                    <td>1202</td>
                                                    <td>1,123</td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-none al-l">2. 도시재생사업</th>
                                                    <td>3,861</td>
                                                    <td>913</td>
                                                    <td>507</td>
                                                    <td>595</td>
                                                    <td>680</td>
                                                    <td>479</td>
                                                    <td>339</td>
                                                    <td>348</td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-none al-l">3. 문화·체육·관광 사업</th>
                                                    <td>1,577</td>
                                                    <td>26</td>
                                                    <td>131</td>
                                                    <td>156</td>
                                                    <td>245</td>
                                                    <td>258</td>
                                                    <td>258</td>
                                                    <td>503</td>
                                                </tr>
                                                <tr>
                                                    <th class="bg-none al-l">4. 교육 및 사회복지사업</th>
                                                    <td>1,259</td>
                                                    <td>173</td>
                                                    <td>222</td>
                                                    <td>302</td>
                                                    <td>146</td>
                                                    <td>148</td>
                                                    <td>154</td>
                                                    <td>114</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- //D : 해당 부분에 서브페이지 작업 -->
                            </div>
                            <!--// 개별 컨텐츠 영역 -->
                        </section>
                    </div>
                    <!--// CONTENTS -->
                </div>
                <!--// 컨텐츠 -->
            </div>
        </main>
        <!-- //CONTAINER -->
        <!-- FOOTER -->
        <footer>
            <!-- openleader/footer.html  -->
        </footer>
        <!-- //FOOTER -->
    </div>
    <script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../static/js/slick.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../../static/js/iscroll.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>
</body>

</html>