@charset "UTF-8";
/* ------------------------------------------------------
01. LAYOUT (HEADER, FOOTER, CONTINAER..)
02. KEYFRAMES & ANIMATION 
03. TEXT
04. ICON
05. BUTTON
06. TITLE
07. LIST
08. TABLE
09. UI
10. LAYER


[ Z-INDEX 순서 ]


[ FONT WEIGHT ]
기본 공통 폰트 - 나눔스퀘어 400 (레귤러)

나눔스퀘어 - 300(라이트), 400(레귤러), 700(볼드), 800 (더큰볼드)
나눔바른고딕 - 


------------------------------------------------------ */
/* LAYOUT */
#wrap { position: relative; min-width: 320px; }

#header { overflow: hidden; height: 180px; }

#footer { height: 270px; }

.view-pc { display: inherit; }

.view-m { display: none; }

/* KEYFRAMES & ANIMATION */
@keyframes searchAnimation { from { top: -100%; }
  to { top: 5px; opacity: 1; } }
@keyframes gnbMoAnimation { from { opacity: 0; -ms-transform: translateY(50px); -webkit-transform: translateY(50px); -moz-transform: translateY(50px); transform: translateY(50px); }
  to { opacity: 1; -ms-transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px); } }
/* POINT TEXT & BR tag */
br.pc.m, br.pc { display: inherit; }

br.t, br.m { display: none; }

/* ICON */
/* BUTTON */
/* TITLE */
/* LIST */
/* TABLE */
/* UI - PAGING */
*[class^=comp-paging] { margin-top: 60px; text-align: center; font-size: 0; }
*[class^=comp-paging] > div { display: inline-block; position: relative; padding: 0 105px; }
*[class^=comp-paging] .number { overflow: hidden; }
*[class^=comp-paging] .number li { float: left; margin-left: 25px; }
*[class^=comp-paging] .number li:first-child { margin-left: 0; }
*[class^=comp-paging] .number a { font-size: 18px; line-height: 35px; }
*[class^=comp-paging] .number a:hover { color: #47c3ef; }
*[class^=comp-paging] .number .current a { color: #47c3ef; }
*[class^=comp-paging] p { position: absolute; top: 0; }
*[class^=comp-paging] p.allprev { left: 0; }
*[class^=comp-paging] p.allprev a { background: url("../../static/images/frontend/button/btn-allprev.png") no-repeat 45% 50%; }
*[class^=comp-paging] p.prev { left: 41px; }
*[class^=comp-paging] p.prev a { background: url("../../static/images/frontend/button/btn-prev.png") no-repeat 50% 50%; }
*[class^=comp-paging] p.allnext { right: 0; }
*[class^=comp-paging] p.allnext a { background: url("../../static/images/frontend/button/btn-allnext.png") no-repeat 55% 50%; }
*[class^=comp-paging] p.next { right: 41px; }
*[class^=comp-paging] p.next a { background: url("../../static/images/frontend/button/btn-next.png") no-repeat 50% 50%; }
*[class^=comp-paging] p a { display: block; overflow: hidden; position: relative; width: 36px; height: 36px; border-radius: 100px; border: 1px solid #dadada; text-indent: -9999em; box-sizing: border-box; }

/* UI - TAB */
/* LAYER */
#layer { display: block; position: fixed; top: 50%; left: 50%; width: 620px; z-index: 100; margin: -240px 0 0 -310px; }
#layer.dim { background: rgba(0, 0, 0, 0.7); }
#layer.open .layer-inner { position: static; top: 50%; left: 50%; min-height: 480px; text-align: center; border: 6px solid #0d265e; border-top: 0; background: #fff; box-sizing: border-box; }
#layer.open .title { height: 60px; padding-left: 24px; line-height: 60px; color: #fff; text-align: left; background: #0d265e; font-size: 22px; font-weight: bold; }
#layer.open .layer-container { overflow: hidden; position: relative; padding: 27px 35px; background: #fff; text-align: left; }
#layer.open .layer-container p { line-height: 30px; font-size: 16px; color: #797979; }
#layer.open .layer-container p + p { margin-top: 15px; }
#layer.open .layer-container ul { margin: 15px 0; }
#layer.open .layer-container li { line-height: 30px; font-size: 16px; color: #797979; }
#layer.open .btn { position: absolute; top: 0; right: 0; }

@-moz-document url-prefix() {}
@media (max-width: 768px) { .view-m { display: inherit; }
  .view-pc { display: none; } }
