@charset "UTF-8";
/* ------------------------------------------------------
01. LAYOUT (HEADER, FOOTER, CONTINAER..)
02. KEYFRAMES & ANIMATION 
03. TEXT
04. ICON
05. BUTTON
06. TITLE
07. LIST
08. TABLE
09. UI
10. LAYER


[ Z-INDEX 순서 ]


[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3


------------------------------------------------------ */
/* LAYOUT */
#wrap { position: relative; min-width: 320px; }

#header { overflow: hidden; height: 180px; min-width: 1320px; }
#header .inner { width: 1320px; position: relative; margin: 0 auto; }
#header .inner:after { display: block; clear: both; content: ""; }
#header .header-top { height: 40px; background: #383b3b; }
#header .header-top .header-site { float: left; }
#header .header-top .header-site:after { display: block; clear: both; content: ""; }
#header .header-top .header-site li { float: left; border-right: 1px solid rgba(255, 255, 255, 0.2); }
#header .header-top .header-site li:nth-child(1) a:before { display: inline-block; content: ""; width: 22px; height: 21px; background: url("../../static/images/common/sp_icon.png") no-repeat 0 -50px; margin-right: 10px; vertical-align: middle; }
#header .header-top .header-site li a { display: block; width: 120px; font-size: 12px; color: #fff; line-height: 40px; text-align: center; }
#header .header-top .header-site .current a { color: #f15a22; background: #fff; }
#header .header-top .header-site li:nth-child(1).current a:before { background-position: -50px -50px; }
#header .header-top .header-utilegroup { float: right; padding-top: 7px; }
#header .header-top .header-utile { display: inline-block; font-size: 11px; color: #e1e1e1; }
#header .header-top .header-utile:after { display: block; clear: both; content: ""; }
#header .header-top .header-utile li { float: left; line-height: 23px; }
#header .header-top .header-utile li + li:before { display: inline-block; content: ""; margin: 0 12px; width: 1px; height: 9px; background: rgba(173, 174, 174, 0.2); }
#header .header-top .haeder-lang { display: inline-block; margin-left: 22px; }
#header .header-top .haeder-lang li { float: left; }
#header .header-top .haeder-lang li + li { margin-left: 7px; }
#header .header-top .haeder-lang a { display: inline-block; width: 34px; height: 23px; text-indent: -999em; }
#header .header-middle { position: relative; height: 90px; }
#header .header-middle .title { position: absolute; left: 0; top: 17px; }
#header .header-middle .title a { display: block; width: 139px; height: 60px; text-indent: -999em; background: url("../../static/images/usc/img_logo.png") no-repeat 50% 50%; }
#header .header-middle .usc-snsgroup { position: absolute; right: 0; top: 0; height: 90px; padding-top: 20px; padding-right: 89px; background: url("../../static/images/usc/bg_header.png") no-repeat 100% 100%; }
#header .header-middle .usc-snsgroup .txt { font-size: 15px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #2d2d2d; text-align: right; }
#header .header-middle .usc-snsgroup .sns { overflow: hidden; margin-top: 10px; }
#header .header-middle .usc-snsgroup .sns li { float: left; margin-left: 8px; }
#header .header-middle .usc-snsgroup .sns a { display: block; width: 34px; height: 34px; text-indent: -999em; }
#header .header-middle .comp-search { position: relative; top: 25px; width: 444px; height: 44px; margin: 0 auto; text-align: center; }
#header .header-middle .comp-search .form { overflow: hidden; width: 100%; border: 3px solid #ffb00d; border-radius: 100px; background: #fff; }
#header .header-middle .comp-search .form:after { display: block; clear: both; content: ""; }
#header .header-middle .comp-search .form select { float: left; width: 85px; height: 38px; padding-left: 20px; text-align: right; background: url("../../static/images/common/form_select2.png") no-repeat 100% 50%; box-sizing: border-box; font-size: 13px; color: #222; line-height: 28px; }
#header .header-middle .comp-search .form input { float: left; width: 353px; height: 38px; padding: 0 70px 0 20px; box-sizing: border-box; font-size: 13px; color: #222; }
#header .header-middle .comp-search button { width: 52px; height: 52px; position: absolute; right: 17px; top: -5px; border-radius: 100px; background: #ffb00d; }
#header .header-middle .comp-search button span { display: inline-block; vertical-align: middle; width: 25px; height: 25px; text-indent: -999em; background: url("../../static/images/common/sp_icon.png") no-repeat -100px -50px; }
#header .header-bottom { background: #d59f2b; min-height: 50px; }

#footer { position: relative; height: 270px; min-width: 1320px; background: #fff; }
#footer .inner { position: relative; width: 1320px; margin: 0 auto; }
#footer .inner:after { display: block; clear: both; content: ""; }
#footer .btn-gototop { position: absolute; right: 0; top: 0; }
#footer .btn-gototop a { display: block; width: 120px; height: 59px; line-height: 59px; color: #fff; font-size: 18px; text-align: center; color: #fff; background: #37424c; }
#footer .btn-gototop a:after { display: inline-block; content: "^"; vertical-align: middle; margin-left: 10px; }
#footer .footer-banner { height: 60px; border-bottom: 1px solid #e1e1e1; }
#footer .footer-banner .tit { position: absolute; left: 0; top: 0; font-size: 18px; color: #000; line-height: 59px; }
#footer .footer-banner .indicator { position: absolute; overflow: hidden; left: 79px; top: 19px; width: 85px; }
#footer .footer-banner .indicator p[class^=btn-] { float: left; }
#footer .footer-banner .indicator p[class^=btn-] > * { display: block; width: 23px; height: 23px; background: url("../../static/images/common/sp_icon.png") no-repeat 0 0; text-indent: -999em; }
#footer .footer-banner .indicator p[class^=btn-].btn-prev button { background-position: 0 -100px; }
#footer .footer-banner .indicator p[class^=btn-].btn-next button { background-position: -50px -100px; }
#footer .footer-banner .indicator p[class^=btn-].btn-more a { background-position: -100px -100px; }
#footer .footer-banner .indicator p[class^=btn-] + p { margin-left: 7px; }
#footer .footer-banner .banner-slider { padding-left: 170px; }
#footer .footer-banner .banner-slider li { position: relative; line-height: 59px; padding: 0 25px; }
#footer .footer-banner .banner-slider li + li:before { display: inline-block; position: absolute; left: 0; top: 50%; width: 4px; height: 4px; margin-top: -2px; border-radius: 10px; content: ""; background: #c2c0bf; }
#footer .footer-banner .banner-slider .slick-current:before { display: none; }
#footer .footer-selectgroup { padding-top: 20px; }
#footer .footer-selectgroup:after { display: block; clear: both; content: ""; }
#footer .footer-selectgroup .footer-comp-select { float: left; position: relative; }
#footer .footer-selectgroup .footer-comp-select dt button { width: 250px; height: 40px; padding: 0 45px 0 15px; border: 1px solid #cbcaca; font-size: 15px; color: #666; background: #fff url("../../static/images/common/form_select1.png") no-repeat 100% 50%; text-align: left; }
#footer .footer-selectgroup .footer-comp-select dd { display: none; position: absolute; left: 0; bottom: 100%; margin-bottom: -1px; background: #fff; border: 1px solid #cbcaca; }
#footer .footer-selectgroup .footer-comp-select dd ul { padding: 11px 0 8px; }
#footer .footer-selectgroup .footer-comp-select dd ul:after { display: block; clear: both; content: ""; }
#footer .footer-selectgroup .footer-comp-select dd li { float: left; width: 50%; padding-left: 18px; box-sizing: border-box; text-align: left; line-height: 26px; }
#footer .footer-selectgroup .footer-comp-select dd li:before { display: inline-block; content: "·"; margin-right: 2px; vertical-align: middle; }
#footer .footer-selectgroup .footer-comp-select dd li:nth-child(even) { padding-left: 10px; }
#footer .footer-selectgroup .footer-comp-select dd a { font-size: 15px; color: #666; }
#footer .footer-selectgroup .footer-comp-select dd a:hover { font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
#footer .footer-selectgroup .footer-comp-select + .footer-comp-select { margin-left: 17px; }
#footer .footer-selectgroup .footer-comp-select.open dt button { color: #fff; background: #b5b4b5 url("../../static/images/common/form_select1_on.png") no-repeat 100% 50%; }
#footer .footer-utilegroup { padding: 0 130px 0 120px; margin-top: 25px; text-align: left; font-size: 13px; color: #666; line-height: 20px; }
#footer .footer-utilegroup .footer-utile:after { display: block; clear: both; content: ""; }
#footer .footer-utilegroup .footer-utile li { float: left; }
#footer .footer-utilegroup .footer-utile li + li:before { display: inline-block; position: relative; top: -2px; content: ""; width: 1px; height: 12px; vertical-align: middle; margin: 0 20px; background: #b7b7b7; }
#footer .footer-utilegroup .footer-utile a { font-size: 15px; color: #666; }
#footer .footer-utilegroup .footer-utile a strong { font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
#footer .footer-utilegroup .footer-addr { margin-top: 16px; }
#footer .footer-utilegroup .footer-addr:after { display: block; clear: both; content: ""; }
#footer .footer-utilegroup .footer-addr li { float: left; }
#footer .footer-utilegroup .footer-addr li + li:before { display: inline-block; position: relative; top: -1px; content: ""; width: 1px; height: 10px; vertical-align: middle; margin: 0 12px; background: #b7b7b7; }
#footer .footer-utilegroup .footer-addr li strong { font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
#footer .footer-utilegroup .footer-txt { color: #c0c0c0; }
#footer .footer-markgroup .footer-qrcode { position: absolute; left: 0; top: 86px; }
#footer .footer-markgroup .footer-acmark { position: absolute; right: 4px; top: 92px; }
#footer .footer-notice { position: absolute; right: 0; top: 82px; text-align: right; }
#footer .footer-notice .number { font-size: 23px; color: #ff6942; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; line-height: 35px; }
#footer .footer-notice .number .call { display: inline-block; overflow: hidden; width: 35px; height: 35px; background: url("../../static/images/common/sp_icon.png") no-repeat -200px -50px; text-indent: 9999em; vertical-align: middle; }
#footer .footer-notice .txt { margin-top: 6px; font-size: 17px; line-height: 26px; color: #888; }

#container { min-width: 1320px; }

.view-pc { display: inherit; }

.view-m { display: none; }

/* KEYFRAMES & ANIMATION */
@keyframes searchAnimation { from { top: -100%; }
  to { top: 5px; opacity: 1; } }
@keyframes gnbMoAnimation { from { opacity: 0; -ms-transform: translateY(50px); -webkit-transform: translateY(50px); -moz-transform: translateY(50px); transform: translateY(50px); }
  to { opacity: 1; -ms-transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px); } }
/* POINT TEXT & BR tag */
br.pc.m, br.pc { display: inherit; }

br.t, br.m { display: none; }

/* ICON */
*[class^=icon_] { background: url("../../static/images/common/sp_icon.png") no-repeat 0 0; }
*[class^=icon_][class$=_facebook] { background-position: 0 0; }
*[class^=icon_][class$=_twitter] { background-position: -100px 0; }
*[class^=icon_][class$=_blog] { background-position: -200px 0; }
*[class^=icon_][class$=_kakao] { background-position: -300px 0; }
*[class^=icon_][class$=_instar] { background-position: -400px 0; }
*[class^=icon_][class$=_country_korea] { background-position: 0 -150px; }
*[class^=icon_][class$=_country_japan] { background-position: -50px -150px; }
*[class^=icon_][class$=_country_china] { background-position: -100px -150px; }
*[class^=icon_][class$=_country_en] { background-position: -150px -150px; }
*[class^=icon_][class$=_country_japan]:hover { background-position: -50px -200px; }
*[class^=icon_][class$=_country_china]:hover { background-position: -100px -200px; }
*[class^=icon_][class$=_country_en]:hover { background-position: -150px -200px; }

/* BUTTON */
*[class^=btn-txt][class$=_more] { display: inline-block; width: 90px; height: 30px; line-height: 30px; font-size: 14px; color: #b4b4b4; text-align: center; border: 1px solid #ddd; background: #fff; box-sizing: border-box; }
*[class^=btn-txt][class$=_more]:after { display: inline-block; content: "+"; margin-left: 3px; }

/* TITLE */
/* LIST */
/* TABLE */
/* INPUT */
/* UI - PAGING */
*[class^=comp-paging] { margin-top: 60px; text-align: center; font-size: 0; }
*[class^=comp-paging] > div { display: inline-block; position: relative; padding: 0 105px; }
*[class^=comp-paging] .number { overflow: hidden; }
*[class^=comp-paging] .number li { float: left; margin-left: 25px; }
*[class^=comp-paging] .number li:first-child { margin-left: 0; }
*[class^=comp-paging] .number a { font-size: 18px; line-height: 35px; }
*[class^=comp-paging] .number a:hover { color: #47c3ef; }
*[class^=comp-paging] .number .current a { color: #47c3ef; }
*[class^=comp-paging] p { position: absolute; top: 0; }
*[class^=comp-paging] p.allprev { left: 0; }
*[class^=comp-paging] p.allprev a { background: url("../../static/images/frontend/button/btn-allprev.png") no-repeat 45% 50%; }
*[class^=comp-paging] p.prev { left: 41px; }
*[class^=comp-paging] p.prev a { background: url("../../static/images/frontend/button/btn-prev.png") no-repeat 50% 50%; }
*[class^=comp-paging] p.allnext { right: 0; }
*[class^=comp-paging] p.allnext a { background: url("../../static/images/frontend/button/btn-allnext.png") no-repeat 55% 50%; }
*[class^=comp-paging] p.next { right: 41px; }
*[class^=comp-paging] p.next a { background: url("../../static/images/frontend/button/btn-next.png") no-repeat 50% 50%; }
*[class^=comp-paging] p a { display: block; overflow: hidden; position: relative; width: 36px; height: 36px; border-radius: 100px; border: 1px solid #dadada; text-indent: -9999em; box-sizing: border-box; }

/* UI - TAB */
/* LAYER */
#layer { display: block; position: fixed; top: 50%; left: 50%; width: 620px; z-index: 100; margin: -240px 0 0 -310px; }
#layer.dim { background: rgba(0, 0, 0, 0.7); }
#layer.open .layer-inner { position: static; top: 50%; left: 50%; min-height: 480px; text-align: center; border: 6px solid #0d265e; border-top: 0; background: #fff; box-sizing: border-box; }
#layer.open .title { height: 60px; padding-left: 24px; line-height: 60px; color: #fff; text-align: left; background: #0d265e; font-size: 22px; font-weight: bold; }
#layer.open .layer-container { overflow: hidden; position: relative; padding: 27px 35px; background: #fff; text-align: left; }
#layer.open .layer-container p { line-height: 30px; font-size: 16px; color: #797979; }
#layer.open .layer-container p + p { margin-top: 15px; }
#layer.open .layer-container ul { margin: 15px 0; }
#layer.open .layer-container li { line-height: 30px; font-size: 16px; color: #797979; }
#layer.open .btn { position: absolute; top: 0; right: 0; }

@-moz-document url-prefix() {}
@media (max-width: 1024px) { #header, #footer, #container { min-width: inherit; }
  #footer { height: auto; }
  #footer .inner { width: 100%; }
  #footer .footer-selectgroup { padding: 4.4vw 5vw 0; }
  #footer .footer-selectgroup .footer-comp-select { float: none; }
  #footer .footer-selectgroup .footer-comp-select dt button { width: 100%; height: 8vw; font-size: 3vw; padding-left: 2.9vw; background-size: auto 100%; }
  #footer .footer-selectgroup .footer-comp-select + .footer-comp-select { margin-left: 0; margin-top: 2.1vw; }
  #footer .footer-selectgroup .footer-comp-select dd li { width: 25%; padding-left: 4vw; line-height: 5.6vw; }
  #footer .footer-selectgroup .footer-comp-select dd li:before { font-size: 2.9vw; position: relative; top: -4px; }
  #footer .footer-selectgroup .footer-comp-select dd a { font-size: 2.9vw; }
  #footer .footer-selectgroup .footer-comp-select.open dt button { background-size: auto 100%; }
  #footer .footer-notice { position: static; margin-top: 6vw; text-align: center; }
  #footer .footer-notice .txt { font-size: 2.7vw; line-height: 4.1vw; }
  #footer .footer-notice .number { font-size: 3.7vw; line-height: 5.6vw; }
  #footer .footer-notice .number .call { text-indent: -999em; }
  #footer .footer-utilegroup { margin-top: 6.4vw; padding: 0 5vw 10vw; font-size: 2.2vw; line-height: 3.3vw; }
  #footer .footer-utilegroup .footer-utile { text-align: center; }
  #footer .footer-utilegroup .footer-utile li { float: none; display: inline-block; }
  #footer .footer-utilegroup .footer-utile li + li:before { margin: 0 2.4vw; height: 2.2vw; top: -1px; }
  #footer .footer-utilegroup .footer-utile li:nth-child(4):before { display: none; }
  #footer .footer-utilegroup .footer-utile a { font-size: 2.6vw; line-height: 4.8vw; }
  #footer .footer-utilegroup .footer-addr { text-align: center; margin-top: 3.2vw; }
  #footer .footer-utilegroup .footer-addr li { float: none; display: inline-block; }
  #footer .footer-utilegroup .footer-addr li:first-child { display: block; }
  #footer .footer-utilegroup .footer-addr li:nth-child(2):before { display: none; }
  #footer .footer-utilegroup .footer-addr li + li:before { height: 1.9vw; margin: 0 1.9vw; }
  #footer .footer-utilegroup .footer-addr li strong { font-family: "NanumSquareR", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #333; }
  #footer .footer-utilegroup .footer-copy { text-align: center; }
  #footer .footer-utilegroup .footer-txt { text-align: center; }
  br.t, br.pc { display: none; }
  br.m { display: inherit; } }
@media (max-width: 768px) { .view-m { display: inherit; }
  .view-pc { display: none; }
  #footer .footer-notice .number .call { -ms-transform: scale(0.6); -webkit-transform: scale(0.6); -moz-transform: scale(0.6); transform: scale(0.6); margin-right: -1vw; } }
