@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */






/*----------------------ebook_part02------------------*/

.ebook_part02 .contents-zone .comp-lst_important { color:#fc0000; }
.ebook_part02 .contents-zone .img1 { width: 956px; height: 511px; background-color:#f1f1f1; }



.ebook_part02 #tab-1 table tbody { border-bottom: 1px solid #7a7a7a; }
.ebook_part02 #tab-1 table tbody td:first-child{ width:226px; background-color:#f4f7f9; color:#4b4b4b; }
.ebook_part02 #tab-1 table tbody td+td { padding-left:20px; }
.ebook_part02 #tab-2 .comp-tab li { width:168px; }
.ebook_part02 #tab-2 .comp-tab li:nth-child(n+6) a { border-top: 1px solid #d1d1d1; border-left:0;}




.ebook_part02 #tab-3 #pc_ver .pc_txt { width:435px; letter-spacing:1px;}
.ebook_part02 #tab-3 #pc_ver .info-viewer { position: relative; width: 956px; height:181px; padding:20px 20px; background-color: #f1f1f1; box-sizing: border-box;}
.ebook_part02 #tab-3 #pc_ver .info-viewer:before { display: inline-block; position: absolute; top:-232px; right:109px; width:302px; height:232px; background: url(../images/ebooksys/subpage/img_viewer_dwn.jpg) no-repeat center center; content:''; }

.ebook_part02 #tab-3 #pc_ver .info-viewer h5 { font-size:18px; color:#4b4b4b;}
.ebook_part02 #tab-3 #pc_ver .info-viewer a { width:250px; }




.ebook_part02 #tab-3 #mo_ver .ver-tab { height:154px; }
.ebook_part02 #tab-3 #mo_ver .ver-tab:after { display:block; clear:both; content:'';}

.ebook_part02 #tab-3 #mo_ver .ver-tab li { float:left; width: 50%; height: 154px; border-top:1px solid #a9a9a9; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li+li { border-left:0; }


.ebook_part02 #tab-3 #mo_ver .ver-tab a { display: block; position: relative; height: 100%; border-bottom:1px solid #a9a9a9; border-right:1px solid #a9a9a9; text-align: center;}
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(1) a { border-left:1px solid #a9a9a9;}
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(2) a { border-left:0;}

.ebook_part02 #tab-3 #mo_ver .ver-tab li a:before { display: inline-block; position: absolute; bottom:33px; content: '';}
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(1) a:before { left:109px; width:261px; height:91px; background: url(../images/ebooksys/subpage/icon_viewer_ard.png) no-repeat 0 0; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(2) a:before { left:67px; width:188px; height:87px; background: url(../images/ebooksys/subpage/icon_viewer_ios.png) no-repeat 0 0; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li a[aria-selected=true]:after {display: block; position: absolute; top:-1px; width:494px; height:146px;  border: 5px solid #f27405; ; content: ''; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(1) a[aria-selected=true]:after {left:-1px;}
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(2) a[aria-selected=true]:after {right:-1px; width:495px;}

.ebook_part02 #tab-3 #mo_ver .ver-tab span { display: inline-block; position: absolute; bottom:33px; width:169px; border:1px solid #f27405; color:#1c1c1c; line-height:43px; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(1) span{ right:134px; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(2) span{ right:56px; }




























































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){

.ebook_part02 #tab-1 table tbody tr td:first-child { width:10rem; }
.ebook_part02 #tab-2 .comp-tab li { width: 25%; border-left:0;}
.ebook_part02 #tab-2 .comp-tab li:nth-child(n+6) a { border-top:0;}
.ebook_part02 .contents-zone .img1 { width:100%; height:0; padding-top: 53.45%; margin-left:0 !important;}

.ebook_part02 #tab-3 #pc_ver p { font-size: 1.2rem; line-height: 1.6rem; }
.ebook_part02 #tab-3 #pc_ver .info-viewer { width:100%; height:100%; margin-left:0 !important; }
.ebook_part02 #tab-3 #pc_ver .info-viewer:before { display: none;}
.ebook_part02 #tab-3 #pc_ver .info-viewer a { width:100%; }
.ebook_part02 #tab-3 #pc_ver .pc_txt { width:100%; letter-spacing: 0;}

.ebook_part02 #tab-3 #mo_ver .ver-tab {height:auto; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li {height: 14rem !important;}
.ebook_part02 #tab-3 #mo_ver .ver-tab li a {padding:1rem;box-sizing: border-box;}
.ebook_part02 #tab-3 #mo_ver .ver-tab li a[aria-selected=true]:after {top:0; left:0 !important; right:inherit !important; border-width:2px; width:100% !important; height: 100% !important; box-sizing: border-box}
.ebook_part02 #tab-3 #mo_ver .ver-tab li a:before {position:static; width:100% !important; height: 8rem !important; margin:0; }
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(1) a:before {background-size:auto 60%; background-position: 50% 50%}
.ebook_part02 #tab-3 #mo_ver .ver-tab li:nth-child(2) a:before { background-size:auto 60%; background-position: 50% 30% }
.ebook_part02 #tab-3 #mo_ver .ver-tab li a span {position:static; width:100%; margin-top: 0.5rem; line-height: 3rem; }

} @media (max-width:768px){
} @media (max-width:321px){}














