@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */



/*----------------fm_part01---------------------------*/
.fm_part01 .f_box { padding-bottom:30px; border-bottom:1px solid #d6d8ed; }
.fm_part01 .f_box:last-of-type {border-bottom: 0; }
.fm_part01 .f_box .txt { padding:5px 0 0 420px; }
.fm_part01 .f_box .txt .heading-h4 { margin-left:0; }
.fm_part01 .img { float: left;}
.fm_part01 .img img{ width:400px; height: 280px;}










.fm_part05 .contents-zone { position: relative;}
.fm_part05 .contents-zone .info { position: relative; width:1012px; padding:18px 20px 18px 12px; border:1px solid #dddbda;}
.fm_part05 .contents-zone .info:before { display: block; width:978px; height:209px; background:url(../images/farmingtech/subpage/bg_border.png) no-repeat center center; content: '';}

.fm_part05 .contents-zone ul.comp-lst_dotted_grey { display: inline-block; position: absolute; top:56px; left:76px; }
.fm_part05 .contents-zone ul.comp-lst_dotted_grey:before { display:inline-block; position: absolute; top:0; left:0; width:96px; height:140px; background: url(../images/farmingtech/subpage/bg_medal.png) no-repeat 0 0; content:'';}
.fm_part05 .contents-zone ul.comp-lst_dotted_grey li { margin-left:125px;}

.fm_part05 .contents-zone .comp-tbl_boardtype .txt { text-align: left;}
.fm_part05 .contents-zone table tbody tr img { vertical-align: middle;}
.fm_part05 .contents-zone table select { width:377px; margin-left:0; background-color: #f4f7f9; }
.fm_part05 .contents-zone table input { width:379px; }

.fm_part05 .contents-zone .form_btn { position: absolute; top:357px; right:0; width: 144px; height:136px; background-color: #fff;}
.fm_part05 .contents-zone .form_btn button { width:138px; height:136px; line-height:136px; font-size: 17px;}































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
.fm_part01 .f_box .txt { padding-left:45%; }
.fm_part01 .img { width:40%; }
.fm_part01 .img img { width:100%; height: auto; }

.fm_part05 .contents-zone .info { width:100%; padding: 1rem;}
.fm_part05 .contents-zone .info:before { width:100%; background: url(../images/farmingtech/subpage/bg_left.png) no-repeat, url(../images/farmingtech/subpage/bg_right.png) no-repeat 100% 0, url(../images/farmingtech/subpage/repeat-x.png) repeat-x; }

.fm_part05 .contents-zone ul.comp-lst_dotted_grey { top:5rem; left:5rem; max-height:12rem;}
.fm_part05 .contents-zone ul.comp-lst_dotted_grey:before { width:6rem; background-size: contain;}
.fm_part05 .contents-zone ul.comp-lst_dotted_grey li { margin-left:8rem; margin-right:5rem; line-height: 2rem;}
.fm_part05 .contents-zone table select { width:100%; }
.fm_part05 .contents-zone table input { width:100%; }
.fm_part05 .contents-zone .form_btn { position: static; width:100%; height: 3.5rem; margin-top:1rem;}
.fm_part05 .contents-zone .form_btn button{ width:100%; height:100%; line-height: 3.5rem; font-size: 1.3rem; }
} @media (max-width:768px){
.fm_part05 .contents-zone ul.comp-lst_dotted_grey {height: auto;}
.fm_part05 .contents-zone ul.comp-lst_dotted_grey li { margin-left:6.5rem; font-size: 1.1rem; line-height: 1.5rem;}
.fm_part05 .contents-zone ul.comp-lst_dotted_grey li:first-child { margin-top:0 !important;}
.fm_part05 .contents-zone ul.comp-lst_dotted_grey li:last-child { margin-bottom:1rem !important;}
} @media (max-width:321px){}














