@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */





/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.foreign .main {}
.foreign .main .main-visual-zone {position:relative;}
.foreign .main .main-visual-zone .slide {height:540px;}
.foreign .main .main-visual-zone .slide .mobg {display:none;}
.foreign .main .main-visual-zone .slide img {display:none;}
.foreign .main .main-visual-zone .inner {width:1320px; margin:0 auto;}
.foreign .main .main-visual-zone .popup {width:470px; height:540px; padding:75px 43px 150px; background:#ee7f1d; }
.foreign .main .main-visual-zone .popup .tit {position:relative; padding:0 0 31px 0;font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:26px; color:#fff;}
.foreign .main .main-visual-zone .popup .tit:after {position:absolute; left:0; bottom:0; display:block; content:""; width:57px; height:3px; background:#f5e820;}
.foreign .main .main-visual-zone .popup .txt {margin:43px 0 0; font-size:17px; line-height:26px; color:#fff; letter-spacing:-1px;}
.foreign .main .main-visual-zone .popup .info {margin:35px 0 0; padding:12px 0 11px 18px; border:1px solid #f7bf8e; font-size:17px; color:#fff;}
.foreign .main .main-visual-zone .popup .info > * {position:relative;display:block; padding:0 0 0 25px; line-height:30px;}
.foreign .main .main-visual-zone .popup .info > *:before {position:absolute; left:0; top:4px; display:block; content:""; width:17px; height:22px;}
.foreign .main .main-visual-zone .popup .info .address {}
.foreign .main .main-visual-zone .popup .info .address:before {background:url(../../static/images/foreign/bg_address.png) no-repeat;}
.foreign .main .main-visual-zone .popup .info .phone {}
.foreign .main .main-visual-zone .popup .info .phone:before {background:url(../../static/images/foreign/bg_phone.png) no-repeat;}
.foreign .main .main-visual-zone .btn-more {display:inline-block; margin:23px 0 0; font-size:15px; color:rgba(255,255,255,0.7);}
.foreign .main .main-visual-zone .btn-more:after {display:inline-block; content:"+"; margin-left:3px;}
.foreign .main .main-visual-zone .custom-paging {position:absolute; left:50%; bottom:47px; overflow:hidden; margin-left:-611px;}
.foreign .main .main-visual-zone .custom-paging > li {float:left; margin-left:12px;}
.foreign .main .main-visual-zone .custom-paging > li:first-child {margin-left:0;}
.foreign .main .main-visual-zone .custom-paging > li a {display:block; width:18px; height:18px; background:transparent; border:2px solid #fff; border-radius:100%; box-sizing:border-box; text-indent:-9999em;}
.foreign .main .main-visual-zone .custom-paging > li.slick-active a {background:#fff;}

.foreign .main .main-info {position:relative; width:1320px; height:600px; margin:35px auto 0 auto;}
.foreign .main .main-info:after {display:block; content:""; clear:both;}
.foreign .main .main-info .gorup {float:right; width:880px;}
.foreign .main .main-info .gorup .news-leadermenu {float:right; width:574px; height:295px; padding:32px 26px 0; background:url(../../static/images/foreign/bg_news_leader.png) no-repeat; color:#fff;}
.foreign .main .main-info .gorup .news-leadermenu .tit {font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:22px;}
.foreign .main .main-info .gorup .news-leadermenu .txt {margin:12px 0 20px; color:rgba(255,255,255,0.7);}
.foreign .main .main-info .gorup .news-leadermenu .menu {width:383px;}
.foreign .main .main-info .gorup .news-leadermenu .menu > li {margin-top:8px;}
.foreign .main .main-info .gorup .news-leadermenu .menu > li:first-child {margin-top:0px;}
.foreign .main .main-info .gorup .news-leadermenu .menu > li a {position:relative; display:block; height:40px; line-height:40px; padding:0 0 0 15px; background:#fff; font-size:15px; color:#212121; }
.foreign .main .main-info .gorup .news-leadermenu .menu > li a:hover,
.foreign .main .main-info .gorup .news-leadermenu .menu > li a:focus {background:url(../../static/images/foreign/bg_news-leadermenu.png); font-family:'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#fff;}
.foreign .main .main-info .gorup .news-leadermenu .menu > li a:after {position:absolute; right:15px; top:0; display:block; content:">";}
.foreign .main .main-info .gorup .gorup-small {position:relative; float:left; z-index:50;}
.foreign .main .main-info .gorup .gorup-small > div {position:relative; width:295px; height:295px; margin:10px 0 0; padding:33px 30px 0;}
.foreign .main .main-info .gorup .gorup-small > div:first-child {margin-top:0;}
.foreign .main .main-info .gorup .gorup-small > div:after {position:absolute; left:50%; top:108px; display:block; content:""; width:135px; height:136px; margin-left:-67px;}
.foreign .main .main-info .gorup .gorup-small .tit {font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:22px; color:#fff;}
.foreign .main .main-info .gorup .gorup-small .btn-more {display:inline-block; margin:17px 0 0; font-size:15px; color:rgba(255,255,255,0.7); text-decoration:underline;}
.foreign .main .main-info .gorup .gorup-small .tourist-map {background:linear-gradient(#d5c6a8, #baa883);}
.foreign .main .main-info .gorup .gorup-small .tourist-map:after {background:url(../../static/images/foreign/bg_tourist_map.png) no-repeat;}
.foreign .main .main-info .gorup .gorup-small .culture-guide {background:linear-gradient(#dcb394, #c69069);}
.foreign .main .main-info .gorup .gorup-small .culture-guide:after {background:url(../../static/images/foreign/bg_culture_guide.png) no-repeat;}
.foreign .main .main-info .festival {position:relative; float:left; width:430px; }
.foreign .main .main-info .festival .slick-list {overflow:visible;}
.foreign .main .main-info .festival .slide-indicator {position:absolute; left:30px; top:115px; z-index:20;}
.foreign .main .main-info .slide-indicator:after {display:block; content:""; clear:both;}
.foreign .main .main-info .slide-indicator > p {float:left;}
.foreign .main .main-info .slide-indicator > p button[class^=btn-] {width:37px; height:37px; margin-left:-1px; border:1px solid rgba(255,255,255,0.5);}
.foreign .main .main-info .slide-indicator > p button[class^=btn-] span {display:block; margin:0 auto; text-indent:-9999em;}
.foreign .main .main-info .slide-indicator > p button[class^=btn-].btn-prev span {width:10px; height:19px; background:url(../../static/images/foreign/btn_prev.png) no-repeat;}
.foreign .main .main-info .slide-indicator > p button[class^=btn-].btn-pause span {width:8px; height:15px; background:url(../../static/images/foreign/btn_pause.png) no-repeat;}
.foreign .main .main-info .slide-indicator > p button[class^=btn-].btn-next span {width:10px; height:19px; background:url(../../static/images/foreign/btn_next.png) no-repeat;}
.foreign .main .main-info .festival .slide {height:600px; padding:34px 30px 0; background:linear-gradient(#b18b70, #8e6546);}
.foreign .main .main-info .festival .slide .category {color:rgba(255,255,255,0.7);}
.foreign .main .main-info .festival .slide .tit {margin:17px 0 0; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:22px; color:#fff;}
.foreign .main .main-info .festival .slide .tit a {overflow:hidden; display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; }
.foreign .main .main-info .festival .slide .img-area {margin:75px -30px 0 -60px;}
.foreign .main .main-info .list-product {position:absolute; right:0; bottom:0; width:574px; height:295px;}
.foreign .main .main-info .list-product .slide-indicator {position:absolute; left:314px; bottom:30px; z-index:20;}
.foreign .main .main-info .list-product .slide {width:574px; height:295px; padding:33px 0 0 307px; background:linear-gradient(#8499ab, #596f80);}
.foreign .main .main-info .list-product .slide .category {display:block; color:rgba(255,255,255,0.7);}
.foreign .main .main-info .list-product .slide .tit {display:block; margin:20px 0 28px; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:22px; color:#fff;}
.foreign .main .main-info .list-product .slide .txt {display:block; font-size:17px; line-height:26px; color:#fff;}
.foreign .main .main-info .list-product .slide .img-area {position:absolute; left:0; top:0; height:295px;}
.foreign .main .main-info .list-product .slide .img-area img {width:100%; height:100%;}



.foreign .main .main-etc-zone {margin-top:25px; padding:30px 0; background:#fff1e4;}
.foreign .main .main-etc-zone .inner {width:1320px; margin:0 auto;}
.foreign .main .main-etc-zone .inner:after {display:block; content:""; clear:both;}
.foreign .main .main-etc-zone .inner > div {float:left; padding:0 25px;}
.foreign .main .main-etc-zone .heading {font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:22px; color:#222;}

.foreign .main .main-etc-zone .inner .travel-info {width:660px;}
.foreign .main .main-etc-zone .inner .travel-info .heading {margin:13px 0 33px;}
.foreign .main .main-etc-zone .inner .travel-info .list {overflow:hidden; width:100%; margin-top:-25px;}
.foreign .main .main-etc-zone .inner .travel-info .list > li {float:left; display:table; width:50%; margin-top:25px;}
.foreign .main .main-etc-zone .inner .travel-info .list > li a {}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a {position:relative; display:table-cell; height:67px; padding:0 0 0 82px; vertical-align:middle;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a:before {position:absolute; left:0; top:0; display:block; content:""; width:67px; height:67px;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a:after {position:absolute; left:0; top:0; display:block; content:""; width:67px; height:67px; border-radius:100%; box-sizing:border-box; -ms-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a:hover:after,
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a:focus:after {border:4px solid #ff8000;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a:hover,
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-] a:focus {font-family:'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#ff8000;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-].ico-01 a:before {background:url(../../static/images/foreign/ico_travel01.png) no-repeat;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-].ico-02 a:before {background:url(../../static/images/foreign/ico_travel02.png) no-repeat;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-].ico-03 a:before {background:url(../../static/images/foreign/ico_travel03.png) no-repeat;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-].ico-04 a:before {background:url(../../static/images/foreign/ico_travel04.png) no-repeat;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-].ico-05 a:before {background:url(../../static/images/foreign/ico_travel05.png) no-repeat;}
.foreign .main .main-etc-zone .inner .travel-info .list > li[class^=ico-].ico-06 a:before {background:url(../../static/images/foreign/ico_travel06.png) no-repeat;}
.foreign .main .main-etc-zone .inner .weather-info,
.foreign .main .main-etc-zone .inner .usc-guide {width:330px; height:330px; padding-top:35px;}
.foreign .main .main-etc-zone .inner .weather-info {background:#ffca59; }
.foreign .main .main-etc-zone .inner .weather-info .date {margin:21px 0 53px; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:17px; color:#fff;}
.foreign .main .main-etc-zone .inner .weather-info .info {display:table; width:100%;}
.foreign .main .main-etc-zone .inner .weather-info .info .ico {display:table-cell; width:80px; padding-right:23px; font-family:'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:22px; color:#373737; text-align:center; vertical-align:middle;}
.foreign .main .main-etc-zone .inner .weather-info .info .ico img {display:block;}
.foreign .main .main-etc-zone .inner .weather-info .info .list {display:table-cell; border:1px solid #fff; vertical-align:top;}
.foreign .main .main-etc-zone .inner .weather-info .info .list > li {border-top:1px solid #fff;}
.foreign .main .main-etc-zone .inner .weather-info .info .list > li:first-child {border-top:none;}
.foreign .main .main-etc-zone .inner .weather-info .info .list > li dl {display:table; width:100%; height:38px; padding:0 10px; line-height:38px; box-sizing:border-box;}
.foreign .main .main-etc-zone .inner .weather-info .info .list > li dl dt {display:table-cell; color:#fff;}
.foreign .main .main-etc-zone .inner .weather-info .info .list > li dl dd {display:table-cell; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#373737; text-align:right;}
.foreign .main .main-etc-zone .inner .usc-guide {background:#fff;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number {margin:21px 0 0;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li {position:relative; padding:30px 0 30px 102px; border-top:1px solid #d9d6d5;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li:before {position:absolute; left:0; top:33px; display:block; content:""; width:79px; height:79px; background:url(../../static/images/foreign/bg_usc_guide02.png) no-repeat;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li:first-child {padding-top:0; border-top:none;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li:first-child:before {top:0; background:url(../../static/images/foreign/bg_usc_guide01.png) no-repeat;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li .info {}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li .info .tit {display:block; padding:16px 0 11px; font-size:17px; color:#373737;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li .info .txt {display:block; font-family:'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:24px; color:#0f56ae;}
.foreign .main .main-etc-zone .inner .usc-guide .phone-number > li:first-child .info .txt {color:#f0412c;}

/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
































































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
} @media (max-width:768px){
} @media (max-width:321px){}














