@charset "utf-8";
 

/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */





/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/*------------------usc_part03_02--------------------------*/
.usc_part03_02 .heading-h4 {margin:30px 0 10px 0;}
.usc_part03_02 .comp-btn-zone {margin-top:20px;}
.usc_part03_02 .img_uscsong {border:1px solid #e7e9ea; padding:70px 0 50px 0; text-align: center;}

.usc_part03_02 .uscsong-btn .btn-song span {padding-left:33px;background:url(../images/usc/subpage/icon_song_off.png) no-repeat left top;}
.usc_part03_02 .uscsong-btn .btn-song:hover {background:#fe970e;color:#fff;}
.usc_part03_02 .uscsong-btn .btn-song:hover span {background:url(../images/usc/subpage/icon_song_on.png) no-repeat left top;}


/*------------------usc_part03_03--------------------------*/
.usc_part03_03 .heading-h4 {margin-top:10px;}
.usc_part03_03 .comp-lst_dotted {margin-top:7px;}



/*------------------usc_part06_02--------------------------*/
.usc_part06_02 .contents-zone ul li { margin:10px 0;}
.usc_part06_02 .btn-box { width: 421px; height:80px; padding:15px; margin:15px 0 30px 60px; background: #f5f8f8; border: 1px solid #dfdfdf; font-size: 0; text-align: center; box-sizing: border-box;}
.usc_part06_02 .btn-box button {width:202px; padding:0 6px; font-size: 15px; letter-spacing: -1px; float: right; }


.usc_part06_02 .viewer1:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer1.gif") no-repeat center center;}
.usc_part06_02 .viewer2:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer2.png") no-repeat center center;}
.usc_part06_02 .viewer3:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer3.png") no-repeat center center;}
.usc_part06_02 .viewer4:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer4.png") no-repeat center center;}
.usc_part06_02 .viewer5:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer5.png") no-repeat center center;}
.usc_part06_02 .viewer6:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer6.gif") no-repeat center center;}
.usc_part06_02 .viewer7:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer7.png") no-repeat center center;}
.usc_part06_02 .viewer8:before { content: ''; display: inline-block; width: 105px; height: 50px; background: url("../images/usc/subpage/btn_viewer8.png") no-repeat center center;}


/*------------------usc_part06_03 --------------------------*/
.usc_part06_03 .comp-lst_dotted {margin-top:7px;}
.usc_part06_03 .heading-h4 {margin-top:20px;}
.usc_part06_03 .comp-lst_hyphen {margin-top:10px; margin-left:70px;}



























<<<<<<< HEAD




/*------------------usc_part04_19--------------------------*/
.usc_part04_19 .heading-h3 { margin-top:50px; }
.usc_part04_19 .comp-lst_dotted { margin:7px 0 0 20px;}
.usc_part04_19 .comp-lst_dotted p,
.usc_part04_19 .comp-lst_dotted li{ line-height:28px;}
.usc_part04_19 .comp-lst_important { margin-left:15px;}
.usc_part04_19 .comp-iconbox_iconnone { vertical-align: middle;}
.usc_part04_19 .cardimg { display: inline-block; }
.usc_part04_19 .cont { display: inline-block; margin-left:10px; float:right;}
.usc_part04_19 .cont .tit::before {content:''; display: inline-block; background:url("../images/usc/subpage/img_usclogo.png") no-repeat left center; width:69px; height: 32px; background-size: cover; margin-right:10px;vertical-align: middle;}

.usc_part04_19 .comp-txt_box { margin-left:30px; padding:15px 20px;}






/*------------------usc_part04_20--------------------------*/
.usc_part04_20 .comp-lst_dotted { margin:7px 0 0 20px;}
.usc_part04_20 .gm_box:after{content: '';display: block; clear:both;}
.usc_part04_20 .gm_box ul{float: left; width:500px; height:223px; background: #f5f8f8; border: 1px solid #dfdfdf; box-sizing: border-box; overflow: hidden;}

/*.usc_part04_20 .gm_box1:after{content:''; display:inline-block; background:url(../images/usc/subpage/img_goodmenu1.png)no-repeat right bottom; background-size: cover;width:650px; height:262px;}
.usc_part04_20 .gm_box2:after{content:''; display:inline-block; background:url(../images/usc/subpage/img_goodmenu2.png)no-repeat right bottom; background-size: cover;width:500px; height:223px;}
.usc_part04_20 .gm_box3:after{content:''; display:inline-block; background:url(../images/usc/subpage/img_goodmenu3.png)no-repeat right bottom; background-size: cover;width:500px; height:223px;}
.usc_part04_20 .gm_box4:after{content:''; display:inline-block; background:url(../images/usc/subpage/img_goodmenu4.png)no-repeat right bottom; background-size: cover;width:500px; height:223px;}
*/







/*------------------usc_part06_02--------------------------*/
.usc_part06_02 .contents-zone ul li { margin:10px 0;}
.usc_part06_02 .btn-box { width: 421px; height:80px; padding:15px; margin:15px 0 30px 60px; background: #f5f8f8; border: 1px solid #dfdfdf; font-size: 0; text-align: center; box-sizing: border-box;}
.usc_part06_02 .btn-box button {width:202px; padding:0 6px; font-size: 15px; letter-spacing: -1px; float: right; }
=======
>>>>>>> 175a8cd3c7a67d866fbcc7e3b6b3c5d192cee0b3













/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /*webkit hack*/
@-moz-document url-prefix() { } /*firefox hack*/

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){



}
@media (max-width:768px){}
@media (max-width:321px){}














