@charset "UTF-8";
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
@media (min-width: 1025px) { body.pc .lifeedu #header { height: 190px; }
  body.pc .lifeedu #header .header-middle .title { top: 22px; }
  body.pc .lifeedu #header .header-middle .title a { width: 205px; height: 51px; background: url("../../static/images/lifeedu/img_logo.png") no-repeat 50% 50%; }
  body.pc .lifeedu #header .header-middle .comp-search .form { border-color: #2e56bd; }
  body.pc .lifeedu #header .header-middle .comp-search > button { background: #2e56bd; }
  body.pc .lifeedu #header .header-bottom { background: #014099; min-height: 60px; border-top: 1px solid #c2c0bf; border-bottom: 1px solid #014099; }
  body.pc .lifeedu #header .header-bottom .sitemap { top: 4px; background: #417ff2; }
  body.pc .lifeedu #header #gnb .gnb > li { float: left; }
  body.pc .lifeedu #header #gnb .gnb h2 { position: relative; }
  body.pc .lifeedu #header #gnb .gnb h2:before { display: inline-block; position: absolute; left: 0; top: 50%; margin-top: -11px; content: ""; width: 1px; height: 20px; background: #6280ac; vertical-align: middle; }
  body.pc .lifeedu #header #gnb .gnb h2 a { display: block; position: relative; width: 250px; line-height: 58px; font-size: 20px; color: #fff; text-align: center; }
  body.pc .lifeedu #header #gnb .gnb h2.over a, body.pc .lifeedu #header #gnb .gnb h2 a:hover { font-family: "NanumSquareEB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
  body.pc .lifeedu #header #gnb .gnb h2.over a:before, body.pc .lifeedu #header #gnb .gnb h2 a:hover:before { display: block; position: absolute; bottom: -1px; left: 0; width: 100%; content: ""; background: #ff7a39; height: 6px; z-index: 1000; }
  body.pc .lifeedu #header #gnb .gnb h2.over a:after, body.pc .lifeedu #header #gnb .gnb h2 a:hover:after { display: block; position: absolute; bottom: -10px; left: 50%; width: 21px; height: 21px; margin-left: -10.5px; content: ""; border: 6px solid #ff7a39; box-sizing: border-box; border-radius: 100px; background: #fff; z-index: 1000; }
  body.pc .lifeedu #header #gnb .depth2menu { display: none; position: absolute; top: 100%; width: 250px; height: 200px; padding-top: 17px; background: #fff; }
  body.pc .lifeedu #header #gnb h2 { display: inline-block; vertical-align: top; }
  body.pc .lifeedu #header #gnb h2 a { display: block; position: relative; font-size: 18px; color: #343434; text-align: center; }
  body.pc .lifeedu #header #gnb h3 a { font-size: 15px; color: #525252; }
  body.pc .lifeedu #header #gnb h3 a:before { display: inline-block; content: ""; vertical-align: middle; width: 4px; height: 4px; margin-right: 10px; background: #1e4363; }
  body.pc .lifeedu #header #gnb .group { margin-top: 3px; padding-left: 25px; }
  body.pc .lifeedu #header #gnb .group:first-of-type { margin-top: 0; }
  body.pc .lifeedu #header #gnb h2.over a, body.pc .lifeedu #header #gnb h2 a:hover { font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; }
  body.pc .lifeedu #header.open { border-bottom: 6px solid #35518f; }
  body.pc .lifeedu #header.open .header-bottom { border-bottom-color: #c2c0bf; } }
.lifeedu #footer { height: 230px; background: #f1f3f4; }
.lifeedu #footer .btn-gototop a { background: #37424c; }
.lifeedu #footer .footer-selectgroup .footer-comp-select dt button { background: #f1f3f4 url("../../static/images/lifeedu/form_select.png") no-repeat 100% 50%; border-color: #d0cfd0; color: #6a6a6a; }
.lifeedu #footer .footer-utilegroup { color: #6a6a6a; padding-left: 0; }
.lifeedu #footer .footer-utilegroup .footer-utile a { color: #6a6a6a; }
.lifeedu #footer .footer-utilegroup .footer-utile a strong { color: #333; }
.lifeedu #footer .footer-utilegroup .footer-addr strong { color: #333; }

.lifeedu #container { padding-top: 190px; }
.lifeedu #container:before { top: 375px; background: #d6d5d5; }
.lifeedu #container .top-visual-zone p { width: 1320px; background: url("../../static/images/commonbg/img_lifeedutxt.png") no-repeat 100% 50%; }
.lifeedu #container .breadcrumb-zone { background: #d6d5d5; }
.lifeedu #container .breadcrumb-zone .breadcrumb > li { border-right-color: #c4bebd; }
.lifeedu #container .breadcrumb-zone .breadcrumb > li > a { color: #666; -ms-transition: 0.3s ease; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; transition: 0.3s ease; }
.lifeedu #container .breadcrumb-zone .breadcrumb > li:first-child > a { color: #8e8886; }
.lifeedu #container .breadcrumb-zone .breadcrumb a:after { background: url("../../static/images/lifeedu/icon_arrow_lnb.png") no-repeat 50% 50%; }
.lifeedu #container .breadcrumb-zone .breadcrumb a.open { background: #383b3b; color: #fff; }
.lifeedu #container .breadcrumb-zone .breadcrumb a.open:after { background: url("../../static/images/common/sp_icon.png") no-repeat -250px -100px; }
.lifeedu #container .breadcrumb-zone .page-zoom button[class^=btn-] { width: 23px; }
.lifeedu #container .breadcrumb-zone .page-zoom button[class^=btn-].btn-zoomup { background: url("../../static/images/lifeedu/btn_zoom_up.png") no-repeat 50% 50%; }
.lifeedu #container .breadcrumb-zone .page-zoom button[class^=btn-].btn-zoomdown { background: url("../../static/images/lifeedu/btn_zoom_down.png") no-repeat 50% 50%; }
.lifeedu #container .breadcrumb-zone .page-zoom dt { color: rgba(72, 72, 72, 0.6); }

.lifeedu #container.main { padding-bottom: 30px; }
.lifeedu #container.main:before { display: none; }

.lifeedu #lnb { border-top-color: #d6d5d5; }
.lifeedu #lnb .title-depth h2 { background: #014099; }
.lifeedu #lnb .menu h2 a.open, .lifeedu #lnb .menu h2 a:hover { background: #dce8f6; color: #000; font-family: "NanumSquareR", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu #lnb .menu h2 a.open:after, .lifeedu #lnb .menu h2 a:hover:after { background-color: #417ff2; }
.lifeedu #lnb .menu .smallmenu ul { background: #f1f6fc; }
.lifeedu #lnb .menu .smallmenu ul a[aria-current=page]:before, .lifeedu #lnb .menu .smallmenu ul a:hover:before { border-color: #014099; }

/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
.lifeedu .top-search-zone.bgcolor { background: #f1f6fc; }
.lifeedu *[class^=comp-iconbox] { border-top-color: #014099; }
.lifeedu *[class^=comp-iconbox]:before { background: #014099; }
.lifeedu *[class^=comp-iconbox] .icon { background: #e1eef9; }
.lifeedu *[class^=comp-tab] a[aria-selected=true]:after { background: #2e56bd; }
.lifeedu *[class^=heading][class*=-h3]:before { background: url("../../static/images/lifeedu/bul_h3.png") no-repeat 50% 50%; }
.lifeedu *[class^=heading][class*=-h4]:before { background: url("../../static/images/lifeedu/bul_h4.png") no-repeat 50% 50%; }

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.lifeedu .main div[class^=main-] > .inner { width: 1320px; margin: 0 auto; }
.lifeedu .main .main-board-zone { overflow: hidden; margin-top: 20px; }
.lifeedu .main .main-board-zone div[class^=board-zone] { float: left; width: 650px; border: 1px solid #c9c8c8; border-top: 0; background: url("../../static/images/lifeedu/main/bg_board.png") no-repeat 100% 100%; }
.lifeedu .main .main-board-zone div[class^=board-zone]:after { display: block; clear: both; content: ""; }
.lifeedu .main .main-board-zone .tit { margin: 0 -1px; text-align: center; color: #fff; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 22px; line-height: 50px; }
.lifeedu .main .main-board-zone .tit .sm { font-family: "NanumSquareR", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu .main .main-board-zone .board { height: 250px; float: left; width: 50%; position: relative; }
.lifeedu .main .main-board-zone .board .subtit { color: #111; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; text-align: center; line-height: 50px; }
.lifeedu .main .main-board-zone .board + .board { border-left: 1px dashed #c9c8c8; }
.lifeedu .main .main-board-zone .board .btn-more { position: absolute; right: 22px; top: 9px; text-indent: -999em; width: 32px; height: 32px; border: 1px solid #ccc; background: rgba(255, 255, 255, 0.5) url("../../static/images/lifeedu/icon_plus.png") no-repeat 50% 50%; }
.lifeedu .main .main-board-zone .lst { padding: 17px 0 0 24px; }
.lifeedu .main .main-board-zone .lst li { margin-top: 16px; }
.lifeedu .main .main-board-zone .lst li:first-child { margin-top: 0; }
.lifeedu .main .main-board-zone .lst li:before { display: inline-block; content: ""; width: 3px; height: 3px; background: #000; margin-right: 10px; vertical-align: middle; }
.lifeedu .main .main-board-zone .lst a { display: inline-block; overflow: hidden; color: #000; font-size: 16px; max-width: 90%; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle; }
.lifeedu .main .main-board-zone .board-zone1 .tit { background: #2e56bd; }
.lifeedu .main .main-board-zone .board-zone1 .subtit { background: #dce8f6; }
.lifeedu .main .main-board-zone .board-zone2 { margin-left: 20px; }
.lifeedu .main .main-board-zone .board-zone2 .tit { background: #ff7a39; }
.lifeedu .main .main-board-zone .board-zone2 .subtit { background: #fde4e1; }
.lifeedu .main .main-gotolink-zone { overflow: hidden; margin-top: 20px; }
.lifeedu .main .main-gotolink-zone .quick-zone { float: left; height: 300px; width: 650px; padding: 28px 50px 0; margin-left: 20px; background: url("../../static/images/lifeedu/main/bg_quick.jpg") no-repeat 50% 50%; background-size: 100% 100%; border: 1px solid #ccc; }
.lifeedu .main .main-gotolink-zone .quick-zone .tit { font-size: 22px; color: #fff; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu { margin-top: 40px; overflow: hidden; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu li { margin-left: 16px; float: left; width: 125px; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu li:first-child { margin-left: 0; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu li:nth-child(odd) a { background: #4f83e2; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu li:nth-child(even) a { background: #2e56bd; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu li:nth-child(2) .name { margin-top: 14px; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu a { display: block; overflow: hidden; position: relative; height: 150px; border-radius: 10px; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu a:hover:after { display: block; position: absolute; left: 0; top: 0; border: 8px solid #154984; box-sizing: border-box; width: 100%; height: 100%; content: ""; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu .icon { display: block; text-align: center; padding-top: 25px; }
.lifeedu .main .main-gotolink-zone .quick-zone .menu .name { display: block; margin-top: 24px; color: #fff; font-size: 18px; text-align: center; line-height: 24px; }
.lifeedu .main .main-gotolink-zone .wearea-zone { float: left; position: relative; width: 650px; height: 300px; background: url("../../static/images/lifeedu/main/bg_wearea.png") repeat 0 0, url("../../static/images/lifeedu/main/bg_map.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .tit { overflow: hidden; position: absolute; right: 7px; top: 17px; padding: 0 20px; font-size: 22px; color: #fff; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; text-align: center; line-height: 50px; background: #ff7a39; border-radius: 100px; }
.lifeedu .main .main-gotolink-zone .wearea-zone .desc { position: absolute; right: 24px; top: 84px; text-align: right; color: #fff; font-size: 16px; line-height: 24px; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map { padding: 15px 0 0 30px; position: relative; z-index: 1; background: url("../../static/images/lifeedu/main/bg_map.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map1] { background: url("../../static/images/lifeedu/main/img_map1.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map2] { background: url("../../static/images/lifeedu/main/img_map2.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map3] { background: url("../../static/images/lifeedu/main/img_map3.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map4] { background: url("../../static/images/lifeedu/main/img_map4.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map5] { background: url("../../static/images/lifeedu/main/img_map5.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map6] { background: url("../../static/images/lifeedu/main/img_map6.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map7] { background: url("../../static/images/lifeedu/main/img_map7.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map8] { background: url("../../static/images/lifeedu/main/img_map8.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map9] { background: url("../../static/images/lifeedu/main/img_map9.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map10] { background: url("../../static/images/lifeedu/main/img_map10.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map11] { background: url("../../static/images/lifeedu/main/img_map11.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map12] { background: url("../../static/images/lifeedu/main/img_map12.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map13] { background: url("../../static/images/lifeedu/main/img_map13.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map14] { background: url("../../static/images/lifeedu/main/img_map14.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map15] { background: url("../../static/images/lifeedu/main/img_map15.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map16] { background: url("../../static/images/lifeedu/main/img_map16.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map17] { background: url("../../static/images/lifeedu/main/img_map17.png") no-repeat 0 0; }
.lifeedu .main .main-gotolink-zone .wearea-zone .map[data-map=map18] { background: url("../../static/images/lifeedu/main/img_map18.png") no-repeat 0 0; }
.lifeedu .main .main-visual-zone { height: 390px; background: url("../../static/images/lifeedu/main/bg_mainslider.png") no-repeat 50% 0; background-size: cover; }
.lifeedu .main .main-visual-zone .inner { position: relative; }
.lifeedu .main .main-visual-zone .popupzone { position: absolute; left: 0; top: 40px; width: 420px; height: 310px; }
.lifeedu .main .main-visual-zone .popupzone .tit { color: #fff; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 22px; line-height: 50px; padding-left: 16px; background: #35518f; }
.lifeedu .main .main-visual-zone .popupzone .slick-dots { position: absolute; top: -50px; right: 88px; font-size: 16px; color: #fff; line-height: 50px; }
.lifeedu .main .main-visual-zone .popupzone .slick-dots .current { font-size: 18px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu .main .main-visual-zone .popupzone .slick-dots li { display: none; }
.lifeedu .main .main-visual-zone .popupzone .slick-dots li.slick-active { display: block; }
.lifeedu .main .main-visual-zone .popupzone .indicator { position: absolute; overflow: hidden; right: 10px; top: 9px; border: 1px solid #fff; }
.lifeedu .main .main-visual-zone .popupzone .indicator li { float: left; }
.lifeedu .main .main-visual-zone .popupzone .indicator li + li { border-left: 1px solid #fff; }
.lifeedu .main .main-visual-zone .popupzone .indicator *[class^=btn] { width: 29px; height: 29px; text-indent: -999em; }
.lifeedu .main .main-visual-zone .popupzone .indicator *[class^=btn].btn-prev { background: url("../../static/images/lifeedu/btn_prev.png") no-repeat 50% 50%; }
.lifeedu .main .main-visual-zone .popupzone .indicator *[class^=btn].btn-next { background: url("../../static/images/lifeedu/btn_next.png") no-repeat 50% 50%; }
.lifeedu .main .main-visual-zone .popupzone .slider { width: 100%; height: 260px; }
.lifeedu .main .main-visual-zone .popupzone .slider img { width: 100%; height: 100%; }

/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
.lifeedu-class-search .flag { padding: 0 20px; color: #417ff2; font-size: 16px; display: inline-block; border: 2px solid #417ff2; line-height: 30px; border-radius: 100px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu-class-search .flag:before { display: inline-block; vertical-align: middle; width: 26px; height: 17px; background: #417ff2 url("../../static/images/lifeedu/subpage/icon_class.png") no-repeat 50% 50%; margin-right: 7px; content: ""; }

/* 강좌 상세 */
.class-simple-infor { padding: 15px 20px 28px; position: relative; border: 1px solid #d1d1d1; border-top: 2px solid #014099; }
.class-simple-infor .class-name .name { display: block; margin-top: 14px; color: #222; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 19px; padding-right: 85px; }
.class-simple-infor .booking-state { position: absolute; right: -1px; top: -2px; width: 90px; height: 90px; padding-top: 18px; box-sizing: border-box; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #fff; text-align: center; background: #014099; font-size: 17px; }
.class-simple-infor .booking-state .sm { color: #fff475; font-size: 14px; display: block; padding-top: 23px; background: url("../../static/images/lifeedu/subpage/bg_txt.png") no-repeat 50% 9px; }
.class-simple-infor .booking-state.not { background: #797979; }
.class-simple-infor .class-lst { overflow: hidden; margin-top: 26px; }
.class-simple-infor .class-lst li { position: relative; float: left; width: 50%; padding-left: 12px; box-sizing: border-box; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.class-simple-infor .class-lst li:before { display: inline-block; position: absolute; left: 0; top: 7px; width: 3px; height: 3px; background: #797979; content: ""; vertical-align: middle; }
.class-simple-infor .class-lst li:nth-child(2) ~ li { margin-top: 12px; }
.class-simple-infor .class-lst .tit { display: inline-block; width: 85px; float: left; color: #222; }
.class-simple-infor .class-lst .cont { padding-left: 85px; }

.class-detail-infor table[class^=comp-tbl] td { text-align: left !important; padding: 5px 20px !important; }
.class-detail-infor table[class^=comp-tbl] tbody td + th { border-left-color: #7a7a7a; }
.class-detail-infor table[class^=comp-tbl] tbody th + td { border-left: 0; line-height: 35px; }
.class-detail-infor .down-lst .comm-btn_type2 { margin-left: 5px; }
.class-detail-infor *[class*=_search] { float: right; }

/* 강좌 검색 */
.lifeedu .search-box-detail { padding: 35px 50px; background: #f1f6fc; border: 1px solid #d1d1d1; border-top: 2px solid #014099; border-bottom-color: #014099; }
.lifeedu .search-box-detail .ebooksys-search-form { overflow: hidden; }
.lifeedu .search-box-detail .ebooksys-search-form li { float: left; width: 50%; padding: 6px 0; }
.lifeedu .search-box-detail .ebooksys-search-form li.pl { padding-left: 35px; box-sizing: border-box; }
.lifeedu .search-box-detail .ebooksys-search-form li.pl:last-of-type .tit { width: 150px; }
.lifeedu .search-box-detail .ebooksys-search-form li.pl:last-of-type .form { padding-left: 150px; }
.lifeedu .search-box-detail .ebooksys-search-form li:nth-child(1) .tit, .lifeedu .search-box-detail .ebooksys-search-form li:nth-child(4) .tit, .lifeedu .search-box-detail .ebooksys-search-form li:nth-child(6) .tit { color: #014099; }
.lifeedu .search-box-detail .ebooksys-search-form .tit { float: left; width: 95px; color: #111; font-size: 18px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; line-height: 35px; }
.lifeedu .search-box-detail .ebooksys-search-form .form { padding-left: 95px; }
.lifeedu .search-box-detail .ebooksys-search-form .block + .block { margin-top: 12px; }
.lifeedu .search-box-detail .ebooksys-search-form .term input { width: 153px; }
.lifeedu .search-box-detail .comp-btn-zone *[class^=comm-btn] { width: 150px; }

.lifeedu *[class^=class-lst][class*=_simpletype] { overflow: hidden; margin-top: 30px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li { float: left; width: 490px; height: 340px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li:nth-child(even) { margin-left: 30px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li:nth-child(2) ~ li { margin-top: 20px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li a { display: block; padding: 15px 20px 28px; width: 100%; height: 100%; position: relative; border: 1px solid #d1d1d1; border-top: 1px solid #014099; box-sizing: border-box; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-name .name { display: block; margin-top: 14px; color: #222; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 19px; padding-right: 85px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .booking-state { position: absolute; right: -1px; top: -1px; width: 90px; height: 90px; padding-top: 18px; box-sizing: border-box; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #fff; text-align: center; background: #014099; font-size: 17px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .booking-state .sm { color: #fff475; font-size: 14px; display: block; padding-top: 23px; background: url("../../static/images/lifeedu/subpage/bg_txt.png") no-repeat 50% 9px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .booking-state.not { background: #797979; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst { overflow: hidden; margin-top: 26px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst li { position: relative; padding-left: 12px; box-sizing: border-box; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst li:before { display: inline-block; position: absolute; left: 0; top: 7px; width: 3px; height: 3px; background: #797979; content: ""; vertical-align: middle; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst li:nth-child(1) ~ li { margin-top: 12px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst .tit { display: inline-block; width: 85px; float: left; color: #222; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst .cont { padding-left: 85px; color: #939393; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li a:hover { border: 3px solid #014099; padding: 13px 18px 26px; }
.lifeedu *[class^=class-lst][class*=_simpletype] > li a:hover .booking-state { top: -3px; right: -3px; }
.lifeedu *[class^=class-lst][class*=_listtype] { margin-top: 30px; }
.lifeedu *[class^=class-lst][class*=_listtype] .classflag { font-size: 15px; display: inline-block; vertical-align: middle; color: #fff; text-align: center; width: 22px; height: 22px; border-radius: 100px; line-height: 22px; font-family: "NanumSquareR", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu *[class^=class-lst][class*=_listtype] .classflag.recruit { background: #f0102a; }
.lifeedu *[class^=class-lst][class*=_listtype] .classflag.term { background: #fd9807; }
.lifeedu *[class^=class-lst][class*=_listtype] .classflag.online { background: #00a388; }
.lifeedu *[class^=class-lst][class*=_listtype] .classflag.visit { background: #016dae; }
.lifeedu *[class^=class-lst][class*=_listtype] .flag { padding: 0 10px; line-height: 22px; font-size: 12px; border-color: #79bd8f; color: #79bd8f; }
.lifeedu *[class^=class-lst][class*=_listtype] .flag:before { width: 19px; height: 13px; margin-right: 5px; background-size: 100% 100%; background-color: #79bd8f; }
.lifeedu *[class^=class-lst][class*=_listtype] .flag-lst { float: right; }
.lifeedu *[class^=class-lst][class*=_listtype] .flag-lst li { float: left; font-size: 15px; color: #787878; margin-left: 10px; font-family: "NanumSquareR", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.lifeedu *[class^=class-lst][class*=_listtype] .flag-lst .classflag { margin-right: 6px; }
.lifeedu *[class^=class-lst][class*=_listtype] td { letter-spacing: -1px; }
.lifeedu *[class^=class-lst][class*=_listtype] td .name { display: block; margin-top: 6px; }
.lifeedu *[class^=class-lst][class*=_listtype] td *.btn-submit { display: inline-block; width: 56px; height: 56px; padding: 8px 12px 0; color: #fff; text-align: center; line-height: 20px; box-sizing: border-box; background: #417ff2; border-radius: 5px; letter-spacing: 0px; }
.lifeedu *[class^=class-lst][class*=_listtype] td *.btn-submit.not { background: #9c9c9c; }
.lifeedu *[class^=class-lst][class*=_listtype] td p { line-height: 22px; }
.lifeedu *[class^=class-lst][class*=_listtype] td p + p { margin-top: 5px; }
.lifeedu *[class^=class-lst][class*=_listtype] td p .classflag { margin-right: 8px; }
.lifeedu *[class^=class-lst][class*=_listtype] td:first-child { text-align: left; }

/* 강좌신청 */
.teacher_lst { overflow: hidden; margin-top: 25px; }
.teacher_lst > li { float: left; width: 490px; height: 210px; }
.teacher_lst > li:nth-child(even) { margin-left: 30px; }
.teacher_lst > li:nth-child(2) ~ li { margin-top: 20px; }
.teacher_lst a { display: block; position: relative; width: 100%; height: 100%; padding: 20px 25px 20px 20px; border: 1px solid #d1d1d1; border-top-color: #014099; box-sizing: border-box; }
.teacher_lst a:hover { border-color: #014099; border-top-color: #00a388; }
.teacher_lst a:hover .infor .btn { background: #417ff2; color: #fff; }
.teacher_lst a:hover .infor .btn:after { background: url("../../static/images/lifeedu/subpage/icon_arrow1_hover.png") no-repeat 50% 50%; }
.teacher_lst a:hover:after { display: block; position: absolute; left: 0; top: 0; width: 484px; height: 204px; border: 2px solid #014099; border-top-width: 2px; content: ""; }
.teacher_lst .img { float: left; overflow: hidden; width: 130px; height: 168px; background: #eaeaea; }
.teacher_lst .img img { width: 100%; height: 100%; }
.teacher_lst .infor { padding-left: 145px; padding-top: 20px; }
.teacher_lst .infor .name { color: #222; font-size: 19px; }
.teacher_lst .infor .name em { font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.teacher_lst .infor .lst { margin-top: 25px; }
.teacher_lst .infor .lst li { font-size: 16px; color: #939393; line-height: 30px; }
.teacher_lst .infor .lst li:before { display: inline-block; width: 4px; height: 4px; background: #797979; content: ""; margin-right: 10px; vertical-align: middle; }
.teacher_lst .infor .lst .tit { display: inline-block; width: 65px; color: #222; vertical-align: middle; text-align: left; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.teacher_lst .infor .lst .tit:after { display: inline-block; content: "/"; vertical-align: middle; color: #939393; }
.teacher_lst .infor .btn { display: inline-block; position: absolute; right: 25px; top: 35px; width: 145px; line-height: 30px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 16px; color: #417ff2; border: 2px solid #417ff2; border-radius: 100px; text-align: center; }
.teacher_lst .infor .btn:after { display: inline-block; vertical-align: middle; content: ""; width: 12px; height: 5px; margin-left: 13px; background: url("../../static/images/lifeedu/subpage/icon_arrow1.png") no-repeat 50% 50%; }

.teacher_detail_infor { padding: 20px 19px; border: 1px solid #d1d1d1; border-top: 2px solid #014099; }
.teacher_detail_infor .img { float: left; overflow: hidden; width: 130px; height: 167px; }
.teacher_detail_infor .img img { width: 100%; height: 100%; }
.teacher_detail_infor .infor { padding-left: 155px; height: 167px; }
.teacher_detail_infor .name { font-size: 19px; color: #222; padding-top: 20px; }
.teacher_detail_infor .name em { font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; }
.teacher_detail_infor .lst { margin-top: 25px; }
.teacher_detail_infor .lst:after { display: block; clear: both; content: ""; }
.teacher_detail_infor .lst li { float: left; width: 50%; color: #939393; font-size: 16px; line-height: 30px; }
.teacher_detail_infor .lst .tit { display: inline-block; margin-right: 18px; color: #222; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; vertical-align: middle; width: 80px; }
.teacher_detail_infor .lst .tit:before { display: inline-block; content: ""; width: 4px; height: 4px; background: #797979; margin-right: 10px; vertical-align: middle; }
.teacher_detail_infor .lst .tit:after { display: inline-block; content: "/"; float: right; color: #939393; font-size: 10px; }

.ui-certification-zone { overflow: hidden; padding: 31px 0 28px; margin-top: 40px; border: 3px solid #d6d5d5; border-radius: 17px; }
.ui-certification-zone > div { position: relative; float: left; width: 33.33%; padding: 0 15px 55px; border-left: 1px solid #d6d5d5; box-sizing: border-box; }
.ui-certification-zone > div:first-child { border-left: none; }
.ui-certification-zone h4.tit { font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size: 24px; color: #262626; text-align: center; }
.ui-certification-zone h4.tit:before { display: block; content: ""; width: 165px; height: 165px; margin: 13px auto 25px auto; background-size: 100% 100% !important; }
.ui-certification-zone .txt { margin-top: 13px; height: 130px; line-height: 22px; font-size: 14px; color: #262626; letter-spacing: -1px; text-align: center; }
.ui-certification-zone .btn-bottom { position: absolute; left: 50%; bottom: 15px; margin-left: -83px; }
.ui-certification-zone .btn-bottom .btn { display: block; width: 165px; height: 40px; margin: 0 auto; line-height: 40px; border-radius: 100px; font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size: 15px; color: #fff; text-align: center; }
.ui-certification-zone .sns-zone { padding: 0 33px 0 36px; }
.ui-certification-zone .sns-zone .tit:before { background: url("../../static/images/usc/subpage/bg_login_zone.png") no-repeat; }
.ui-certification-zone .sns-zone .tit .point { color: #00a54f; }
.ui-certification-zone .sns-zone .sns { overflow: hidden; margin-top: 30px; display: inline-block; }
.ui-certification-zone .sns-zone .sns li { float: left; }
.ui-certification-zone .sns-zone .sns li + li { margin-left: 10px; }
.ui-certification-zone .sns-zone .sns *[class^=btn-sns] { display: block; width: 45px; height: 45px; text-indent: -999em; background-size: 100% 100% !important; }
.ui-certification-zone .sns-zone .sns *[class^=btn-sns][class*=_facebook] { background: url("../../static/images/common/icon_sns_facebook2.png") no-repeat 50% 50%; }
.ui-certification-zone .sns-zone .sns *[class^=btn-sns][class*=_twitter] { background: url("../../static/images/common/icon_sns_twitter2.png") no-repeat 50% 50%; }
.ui-certification-zone .sns-zone .sns *[class^=btn-sns][class*=_blog] { background: url("../../static/images/common/icon_sns_blog2.png") no-repeat 50% 50%; }
.ui-certification-zone .sns-zone .sns *[class^=btn-sns][class*=_kakao] { background: url("../../static/images/common/icon_sns_kakao2.png") no-repeat 50% 50%; }
.ui-certification-zone .sns-zone .sns *[class^=btn-sns][class*=_instar] { background: url("../../static/images/common/icon_sns_instar2.png") no-repeat 50% 50%; }
.ui-certification-zone .cell-phone .tit:before { background: url("../../static/images/usc/subpage/bg_cell_phone.png") no-repeat; }
.ui-certification-zone .cell-phone .tit .point { color: #ff7200; }
.ui-certification-zone .cell-phone .btn-cell-phone .btn { background: #ff7200; }
.ui-certification-zone .i-pin .tit:before { background: url("../../static/images/usc/subpage/bg_i_pin.png") no-repeat; }
.ui-certification-zone .i-pin .tit .point { color: #1556b0; }
.ui-certification-zone .i-pin .btn-i-pin .btn { background: #1556b0; }

.certification-notice-zone { line-height: 25px; margin-top: 30px; font-size: 15px; color: #333; text-align: center; }
.certification-notice-zone p.txt { position: relative; display: inline-block; padding: 0 0 0 33px; }
.certification-notice-zone p.txt:before { position: absolute; left: 0; top: 0; display: block; content: "!"; width: 24px; height: 24px; line-height: 24px; background: #ee3106; border-radius: 100%; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #fff; text-align: center; }
.certification-notice-zone p.txt .point { display: inline-block; background: #fcecbd; line-height: 1.1; }
.certification-notice-zone p.txt .point:before { display: inline-block; content: "※"; margin-right: 5px; vertical-align: middle; }

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width: 1024px) { /* ------------------------------------------------------ LAYOUT ------------------------------------------------------ */
  #wrap.lifeedu #header .header-bottom .header-utilegroup { height: 4.3rem; }
  #wrap.lifeedu #header .header-bottom .header-utilegroup .header-utile { border-bottom: 0; }
  #wrap.lifeedu #header .header-bottom .header-utilegroup .header-utile .icon-login:before { background: url("../../static/images/lifeedu/icon_gnb_login.png") no-repeat 50% 50%; background-size: auto 100%; }
  #wrap.lifeedu #header .header-bottom .header-utilegroup .header-utile .icon-join:before { background: url("../../static/images/lifeedu/icon_gnb_join.png") no-repeat 50% 50%; background-size: auto 100%; }
  #wrap.lifeedu #header .header-bottom .gnb-mo-title { background: #014099; }
  #wrap.lifeedu #header .header-bottom .header-utilegroup { background: #f1fafe; }
  #wrap.lifeedu #header .header-bottom .header-utilegroup .header-utile li + li { border-color: #c9ddf3; }
  #wrap.lifeedu #header .header-middle .btn-search-open button { background-color: #2e56bd; }
  #wrap.lifeedu #header .header-middle .btn-menu-open button { background-color: #417ff2; }
  #wrap.lifeedu #header .header-middle .title a { width: 17rem; background: url("../../static/images/lifeedu/img_logo.png") no-repeat 50% 50%; background-size: 100% auto; }
  #wrap.lifeedu #header .header-middle .comp-search .form .btn button { background: #2e56bd; }
  #wrap.lifeedu #header .header-middle .comp-search .form input { border-color: #2e56bd; }
  #wrap.lifeedu #gnb .gnb .depth2menu { height: calc(100vh - 10.3rem); }
  #wrap.lifeedu #gnb .gnb .clicked, #wrap.lifeedu #gnb .gnb .current, #wrap.lifeedu #gnb .gnb .clicked h3 a, #wrap.lifeedu #gnb .gnb h2 a:hover, #wrap.lifeedu #gnb .gnb h3 a:hover, #wrap.lifeedu #gnb .gnb h4 a:hover { color: #168039; }
  #wrap.lifeedu #gnb .gnb h4 a:hover:before { background: #168039; }
  #wrap.lifeedu #container { padding-top: 0; }
  #wrap.lifeedu #container .breadcrumb-zone { border-top-color: #d6d5d5; }
  /* ------------------------------------------------------ COMMON ------------------------------------------------------ */
  /* ------------------------------------------------------ MAIN ------------------------------------------------------ */
  .lifeedu .main div[class^=main-] > .inner { width: 100%; padding: 0 1rem; }
  .lifeedu .main .main-board-zone { margin-top: 2rem; }
  .lifeedu .main .main-board-zone div[class^=board-zone] { float: none; width: 100%; background: url("../../static/images/lifeedu/main/bg_board.png") no-repeat 100% 100%; background-size: 30% auto; }
  .lifeedu .main .main-board-zone .tit { font-size: 1.5rem; line-height: 3.3rem; }
  .lifeedu .main .main-board-zone .board { height: auto; }
  .lifeedu .main .main-board-zone .board .subtit { line-height: 3.3rem; font-size: 1.2rem; }
  .lifeedu .main .main-board-zone .board .btn-more { right: 1rem; top: 0.6rem; width: 2rem; height: 2rem; background-size: 40% auto; }
  .lifeedu .main .main-board-zone .lst { padding: 1.2rem 0 1.5rem 1.5rem; }
  .lifeedu .main .main-board-zone .lst li { margin-top: 0.7rem; }
  .lifeedu .main .main-board-zone .lst li:first-child { margin-top: 0; }
  .lifeedu .main .main-board-zone .lst li:before { width: 2px; height: 2px; margin-right: 0.8rem; }
  .lifeedu .main .main-board-zone .lst a { font-size: 1rem; }
  .lifeedu .main .main-board-zone .board-zone2 { margin-left: 0; margin-top: 1rem; }
  .lifeedu .main .main-gotolink-zone { margin-top: 1.2rem; }
  .lifeedu .main .main-gotolink-zone .quick-zone { float: none; height: auto; width: 100%; padding: 2.3rem 1.8rem 3.5rem; margin: 0; }
  .lifeedu .main .main-gotolink-zone .quick-zone .tit { font-size: 1.5rem; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; margin-top: 2.5rem; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu li { margin-left: 1rem; -webkit-flex: 1; flex: 1; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu li:nth-child(2) .name { margin-top: 14px; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu a { height: 10rem; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu a:hover:after { border-width: 3px; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu a:nth-child(2) .name { margin-top: 1rem; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu .icon { padding-top: 1.6rem; height: 3.3rem; margin: 0 auto; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu .icon img { height: 100%; width: auto; }
  .lifeedu .main .main-gotolink-zone .quick-zone .menu .name { margin-top: 2rem; font-size: 1.2rem; line-height: 1.6rem; }
  .lifeedu .main .main-gotolink-zone .wearea-zone { display: none; }
  .lifeedu .main .main-visual-zone { height: auto; background: url("../../static/images/lifeedu/main/bg_mainslider_m.png") no-repeat 50% 0; background-size: cover; }
  .lifeedu .main .main-visual-zone .inner { position: relative; height: 54.3rem; }
  .lifeedu .main .main-visual-zone .popupzone { position: absolute; left: 50%; top: inherit; bottom: 2.3rem; width: 28rem; height: auto; margin-left: -14rem; }
  .lifeedu .main .main-visual-zone .popupzone .tit { font-size: 1.4rem; line-height: 3.3rem; padding-left: 1.1rem; }
  .lifeedu .main .main-visual-zone .popupzone .slick-dots { top: -3.3rem; right: 5.8rem; font-size: 1rem; line-height: 3.3rem; }
  .lifeedu .main .main-visual-zone .popupzone .slick-dots .current { font-size: 1.2rem; }
  .lifeedu .main .main-visual-zone .popupzone .indicator { right: 0.6rem; top: 0.6rem; }
  .lifeedu .main .main-visual-zone .popupzone .indicator *[class^=btn] { width: 2rem; height: 2rem; }
  .lifeedu .main .main-visual-zone .popupzone .indicator *[class^=btn].btn-prev { background-size: 30% auto; }
  .lifeedu .main .main-visual-zone .popupzone .indicator *[class^=btn].btn-next { background-size: 30% auto; }
  .lifeedu .main .main-visual-zone .popupzone .slider { height: 17.3rem; }
  /* ------------------------------------------------------ SUBPATE ------------------------------------------------------ */
  .lifeedu-class-search .flag { padding: 0 1rem; font-size: 1.2rem; line-height: 2rem; }
  .lifeedu-class-search .flag:before { width: 1.5rem; height: 0.9rem; background-size: 100% auto; margin-right: 0.5rem; }
  /* 강좌 상세 */
  .class-simple-infor { padding: 1rem 1rem 1.5rem; }
  .class-simple-infor .class-name .name { margin-top: 1rem; font-size: 1.4rem; padding-right: 7rem; }
  .class-simple-infor .booking-state { width: 7rem; height: 7rem; padding-top: 1.5rem; font-size: 1.4rem; }
  .class-simple-infor .booking-state .sm { font-size: 1rem; padding-top: 1.7rem; background-position: 50% 0.5rem; }
  .class-simple-infor .class-lst { margin-top: 2rem; }
  .class-simple-infor .class-lst li { float: none; width: 100%; padding-left: 12px; font-size: 1.2rem; }
  .class-simple-infor .class-lst li:before { width: 2px; height: 2px; top: 0.5rem; }
  .class-simple-infor .class-lst li:nth-child(1) ~ li { margin-top: 0.7rem; }
  .class-simple-infor .class-lst .tit { display: inline-block; width: 85px; float: left; color: #222; }
  .class-simple-infor .class-lst .cont { padding-left: 85px; }
  .class-detail-infor table[class^=comp-tbl] tbody th + td { line-height: 3.3rem; }
  .class-detail-infor .down-lst .comm-btn_type2 { padding: 0 0.5rem; }
  .class-detail-infor *[class*=_search] { padding: 0 0.5rem; }
  /* 강좌 검색 */
  .lifeedu .search-box-detail { padding: 1rem 1rem 1.5rem; }
  .lifeedu .search-box-detail .ebooksys-search-form li { float: none; width: 100%; padding: 0.5rem 0; }
  .lifeedu .search-box-detail .ebooksys-search-form li.pl { padding-left: 0; }
  .lifeedu .search-box-detail .ebooksys-search-form li.pl:last-of-type .tit { width: 38%; }
  .lifeedu .search-box-detail .ebooksys-search-form li.pl:last-of-type .form { padding-left: 38%; }
  .lifeedu .search-box-detail .ebooksys-search-form li:nth-child(1) .tit, .lifeedu .search-box-detail .ebooksys-search-form li:nth-child(4) .tit, .lifeedu .search-box-detail .ebooksys-search-form li:nth-child(6) .tit { color: #111; }
  .lifeedu .search-box-detail .ebooksys-search-form .tit { width: 30%; font-size: 1.3rem; line-height: 3.3rem; }
  .lifeedu .search-box-detail .ebooksys-search-form .form { padding-left: 30%; }
  .lifeedu .search-box-detail .ebooksys-search-form .block + .block { margin-top: 0.5rem; }
  .lifeedu .search-box-detail .ebooksys-search-form .term { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
  .lifeedu .search-box-detail .ebooksys-search-form .term input { width: 100%; -webkit-flex: 1; flex: 1; }
  .lifeedu .search-box-detail .ebooksys-search-form .term .txt { line-height: 3.3rem; margin: 0 0.5rem; }
  .lifeedu .search-box-detail .comp-btn-zone *[class^=comm-btn] { min-width: auto; }
  .lifeedu .search-box-detail .comp-btn-zone .p-right { position: static; }
  .lifeedu *[class^=class-lst][class*=_simpletype] { margin-top: 2rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li { width: 49%; min-height: 33rem; height: auto; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li:nth-child(even) { margin-left: 2%; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li:nth-child(1) ~ li { margin-top: 0; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li:nth-child(2) ~ li { margin-top: 1rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li a { padding: 4rem 1rem 1.5rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-name .name { overflow: hidden; width: 100%; margin-top: 1rem; font-size: 1.4rem; padding-right: 0; white-space: nowrap; text-overflow: ellipsis; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .booking-state { position: absolute; right: inherit; left: -1px; top: -1px; width: 100%; height: 3rem; padding: 0 1px; font-size: 1.2rem; box-sizing: content-box; line-height: 3rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .booking-state .sm { display: inline-block; vertical-align: middle; font-size: 1.2rem; padding-left: 2.7rem; padding-top: 0; margin-left: 1rem; background: url("../../static/images/lifeedu/subpage/bg_txt.png") no-repeat 0 50%; background-size: auto 20%; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst { margin-top: 1rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst li { padding-left: 1rem; font-size: 1.1rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst li:before { top: 0.4rem; width: 2px; height: 2px; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst li:nth-child(1) ~ li { margin-top: 0.5rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst .tit { float: none; width: 100%; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li .class-lst .cont { padding-left: 0; padding-top: 0.3rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li a:hover { border: 2px solid #014099; padding: 4.1rem 1.1rem 1.6rem; }
  .lifeedu *[class^=class-lst][class*=_simpletype] > li a:hover .booking-state { top: -2px; right: inherit; left: -2px; }
  .lifeedu *[class^=class-lst][class*=_listtype] { margin-top: 2rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] .classflag { font-size: 1rem; width: 2rem; height: 2rem; line-height: 2rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] .flag { padding: 0 1rem; line-height: 2rem; font-size: 1rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] .flag:before { width: 19px; height: 13px; margin-right: 5px; background-size: 100% 100%; background-color: #79bd8f; }
  .lifeedu *[class^=class-lst][class*=_listtype] .flag-lst li { font-size: 1.1rem; margin-left: 0.5rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] .flag-lst .classflag { margin-right: 0.2rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] td .name { margin-top: 0.5rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] td *.btn-submit { width: 5rem; height: 5rem; padding: 0.8rem 1rem 0; line-height: 1.8rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] td p { line-height: 2rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] td p + p { margin-top: 0.3rem; }
  .lifeedu *[class^=class-lst][class*=_listtype] td p .classflag { margin-right: 0.3rem; }
  /* 강좌신청 */
  .teacher_lst { margin-top: 2rem; }
  .teacher_lst > li { width: 49%; height: auto; }
  .teacher_lst > li:nth-child(even) { margin-left: 2%; }
  .teacher_lst > li:nth-child(2) ~ li { margin-top: 1rem; }
  .teacher_lst a { padding: 1rem 1rem 2rem; }
  .teacher_lst a:hover:after { left: 0; top: 0; height: 100%; width: 100%; box-sizing: border-box; }
  .teacher_lst .img { float: none; width: 100%; height: 18rem; }
  .teacher_lst .img img { width: 100%; height: 100%; }
  .teacher_lst .infor { padding: 1.5rem 0 0; }
  .teacher_lst .infor .name { font-size: 1.2rem; }
  .teacher_lst .infor .lst { margin-top: 1rem; }
  .teacher_lst .infor .lst li { font-size: 1.1rem; line-height: 1.8rem; }
  .teacher_lst .infor .lst li + li { margin-top: 0.5rem; }
  .teacher_lst .infor .lst li:before { width: 2px; height: 2px; margin-right: 0.5rem; }
  .teacher_lst .infor .lst .tit { width: 4.5rem; }
  .teacher_lst .infor .lst .tit:after { float: right; margin-right: 0.5rem; }
  .teacher_lst .infor .btn { position: static; width: 100%; border-width: 2px; margin-top: 1rem; line-height: 2.5rem; font-size: 1.2rem; }
  .teacher_detail_infor { padding: 1.5rem 1rem; }
  .teacher_detail_infor .img { width: 40%; margin: 0 auto; height: auto; }
  .teacher_detail_infor .infor { padding: 0.5rem 0 0 40%; height: auto; }
  .teacher_detail_infor .name { font-size: 1.5rem; padding: 0 0 0 1rem; }
  .teacher_detail_infor .lst { margin-top: 1rem; padding-left: 1rem; }
  .teacher_detail_infor .lst li { float: none; width: 100%; font-size: 1.2rem; line-height: 2rem; }
  .teacher_detail_infor .lst .tit { margin-right: 1rem; width: 5.5rem; }
  .teacher_detail_infor .lst .tit:before { width: 2px; height: 2px; margin-right: 0.5rem; }
  .teacher_detail_infor .lst .tit:after { font-size: 1rem; }
  .ui-certification-zone { padding: 0 1rem; margin-top: 2rem; border: 2px solid #d6d5d5; }
  .ui-certification-zone > div { float: none; width: 100%; padding: 3rem 0 !important; border-top: 1px solid #d5d5d5; border-left: 0; }
  .ui-certification-zone h4.tit { font-size: 2rem; }
  .ui-certification-zone h4.tit:before { display: none; }
  .ui-certification-zone .txt { margin-top: 1rem; height: auto; line-height: 1.8rem; font-size: 1.2rem; letter-spacing: 0; }
  .ui-certification-zone .btn-bottom { position: static; margin-left: 0; text-align: center; margin-top: 1rem; }
  .ui-certification-zone .btn-bottom .btn { width: 15rem; height: 3.5rem; line-height: 3.5rem; font-size: 1.2rem; }
  .ui-certification-zone .sns-zone { border-top: 0; text-align: center; }
  .ui-certification-zone .sns-zone .sns { margin-top: 1.5rem; }
  .ui-certification-zone .sns-zone .sns li + li { margin-left: 1rem; }
  .ui-certification-zone .sns-zone .sns *[class^=btn-sns] { width: 3.5rem; height: 3.5rem; }
  .certification-notice-zone { line-height: 1.8rem; margin-top: 1rem; font-size: 1.1rem; }
  .certification-notice-zone p.txt { padding: 0 0 0 2.5rem; text-align: left; }
  .certification-notice-zone p.txt:before { width: 2rem; height: 2rem; line-height: 2rem; } }
