@charset "utf-8";
 

/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */





/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */




/*-----------------usclib_part05_01-------------------*/

.usclib_part05_01 .contents-zone > .heading-h4 {margin-top:35px;}

.usclib_part05_01 .flow-chart:after { display: block; clear: both; content: '';}
.usclib_part05_01 .flow-chart li { position: relative; float: left; width: 164px; height: 163px; margin-left: 104px; padding: 35px 0 0; background: url(../images/usclib/bg_chart.png) no-repeat; text-align: center; box-sizing: border-box; }

.usclib_part05_01 .flow-chart li:before { display: block; position: absolute; left: 164px; top: 50%; width: 104px; height: 1px; margin-top: -1px; background: #d6d3d2; content:'';}
.usclib_part05_01 .flow-chart li:after { display: block; position: absolute; left: -63px; top: 50%; width: 24px; height: 24px; margin-top: -12px; background: url(../images/usc/bg_flow_chart_arrow.png) no-repeat; content:''; }
.usclib_part05_01 .flow-chart li:first-child { margin-left: 0; }
.usclib_part05_01 .flow-chart li:first-child:after, 
.usclib_part05_01 .flow-chart li:last-child:before { display: none; }

.usclib_part05_01 .flow-chart li:nth-child(1) img{ width:43px; }
.usclib_part05_01 .flow-chart li:nth-child(2) img{ width:40px; }
.usclib_part05_01 .flow-chart li:nth-child(3) img{ width:39px; }
.usclib_part05_01 .flow-chart li:nth-child(4) img{ width:37px; }
.usclib_part05_01 .flow-chart li img{ height:41px; }

.usclib_part05_01 .flow-chart li span { display: block; width: 111px; margin:10px auto 0 auto;  padding: 8px 0 0; border-top: 2px solid #e9e8e7; font-size: 17px; color: #336ac0; }






/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /*// webkit hack*/
@-moz-document url-prefix() { } /*firefox hack*/


/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */


@media (max-width:1024px){


.usclib_part05_01 .contents-zone > .heading-h4 { margin-top:2rem; }

.usclib_part05_01 .flow-chart { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.usclib_part05_01 .flow-chart li { -webkit-flex: 1; flex: 1; width: auto; margin-left: 1.6rem; padding: 2rem 0 0; background-size: contain; background-position: center; text-align: center; }
.usclib_part05_01 .flow-chart li:before { display: none; }
.usclib_part05_01 .flow-chart li:after { left:-0.5rem; width: 1.6rem; height: 1.6rem; margin-left: -1rem; background-size: 100%; }
.usclib_part05_01 .flow-chart li span { width: 9rem; font-size: 1.2rem; }
.usclib_part05_01 .comm-btn_download1 { width:100%; }

}
@media (max-width:768px){

.usclib_part05_01 .flow-chart li { height: auto; margin: 0; padding: 1rem 0 0; }
.usclib_part05_01 .flow-chart li:before,
.usclib_part05_01 .flow-chart li:after { display: none;}
.usclib_part05_01 .contents-zone .flow-chart li img {width: 3rem; height: 3rem;}
.usclib_part05_01 .flow-chart li span { width: 5rem; margin: 0 auto; padding: 0.5rem 0; font-size: 1rem;}

}
@media (max-width:321px){


}














