@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
.institute .map-institute {position:relative;overflow:hidden;padding:35px 0 50px;background:#f4f4f4;border:1px solid #d1d1d1;border-top:2px solid #014099;border-bottom:1px solid #014099;}
.institute .map-institute .tit {float:left;width:32%;padding-left:47px;font-size:26px;box-sizing:border-box;}
.institute .map-institute .tit span {color:#2e56bd;}
.institute .map-institute .comp-lst_important {position:absolute;bottom:70px;left:50px;color:#3e3e3e;}
.institute .map-wrap {float:left;position:relative;width:69%;margin-left:-40px;background:url(../images/lifeedu/subpage/img_map.png) no-repeat left top;z-index:1;}
.institute .map-wrap[data-map=map1] {background:url(../images/lifeedu/subpage/img_sub_map01.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map2] {background:url(../images/lifeedu/subpage/img_sub_map02.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map3] {background:url(../images/lifeedu/subpage/img_sub_map03.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map4] {background:url(../images/lifeedu/subpage/img_sub_map04.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map5] {background:url(../images/lifeedu/subpage/img_sub_map05.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map6] {background:url(../images/lifeedu/subpage/img_sub_map06.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map7] {background:url(../images/lifeedu/subpage/img_sub_map07.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map8] {background:url(../images/lifeedu/subpage/img_sub_map08.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map9] {background:url(../images/lifeedu/subpage/img_sub_map09.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map10] {background:url(../images/lifeedu/subpage/img_sub_map10.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map11] {background:url(../images/lifeedu/subpage/img_sub_map11.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map12] {background:url(../images/lifeedu/subpage/img_sub_map12.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map13] {background:url(../images/lifeedu/subpage/img_sub_map13.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map14] {background:url(../images/lifeedu/subpage/img_sub_map14.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map15] {background:url(../images/lifeedu/subpage/img_sub_map15.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map16] {background:url(../images/lifeedu/subpage/img_sub_map16.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map17] {background:url(../images/lifeedu/subpage/img_sub_map17.png) no-repeat 0 0;}
.institute .map-wrap[data-map=map18] {background:url(../images/lifeedu/subpage/img_sub_map18.png) no-repeat 0 0;}
.institute .btn-go {position:relative;display:block;height:28px;padding:0 14px;border:1px solid #e2e1e1;color:#787878;font-size:16px;line-height:28px;}
.institute .btn-go:hover {border:0;}
.institute .btn-go:hover:after {position:absolute;left:-1px;top:-1px;display:block;width:100%;height:100%;border:2px solid #417ff2;content:'';}

.vision .vision-wrap {padding:36px 40px;border:1px solid #e2e1e1}
.vision .vision-wrap .tit {position:relative;margin-bottom:17px;padding-bottom:50px;font-size:24px;color:#787878;font-family:'NanumSquareEB';}
.vision .vision-wrap .tit:after {position:absolute;bottom:0;left:79px;display:inline-block;width:1px;height:32px;background:#c7c1bf;content:'';}
.vision .vision-list > li {overflow:hidden;padding:34px 0;border-bottom:1px dotted #a19e9f;}
.vision .vision-list > li:first-child {padding-top:0;}
.vision .vision-list .keyword {position:relative;display:inline-block;width:156px;height:56px;line-height:56px;font-family:'NanumSquareEB';color:#fff;vertical-align:top;text-align:center;font-size:24px;}
.vision .vision-list .keyword:before {position:absolute;left:7px;top:-3px;display:inline-block;width:1px;height:22px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);content:'';}
.vision .vision-list .vision-detail {display:inline-block;width:-webkit-calc(100% - 165px);width:-moz-calc(100% - 165px);width:-o-calc(100% - 165px);width:calc(100% - 165px);}
.vision .vision-list .list01 .keyword {border:2px solid #fdc107;background:#ecdb60;color:#363636;}
.vision .vision-list .list02 .keyword {border:2px solid #00a388;background:#a1cd73;}
.vision .vision-list .list03 .keyword {border:2px solid #427676;background:#00a388;}
.vision .vision-list .list04 .keyword {border:2px solid #2a4554;background:#016dae;}
.vision .vision-list .list01 .keyword:before {background:#fdc107}
.vision .vision-list .list02 .keyword:before {background:#00a388}
.vision .vision-list .list03 .keyword:before {background:#427676}
.vision .vision-list .list04 .keyword:before {background:#2a4554}
.vision .vision-list .vision-detail {color:#363636;}
.vision .vision-list .vision-detail .tit-txt {text-align:center;}
.vision .vision-list .vision-detail .tit-txt p {position:relative;display:inline-block;padding:19px 52px 0;font-size:24px;}
.vision .vision-list .vision-detail .tit-txt .ebold {font-size:30px;}
.vision .vision-list .vision-detail .tit-txt .point {font-size:30px;color:#ff6138;}
.vision .vision-list .vision-detail .tit-txt p:before {position:absolute;left:0;top:0;display:inline-block;width:37px;height:41px;background:url(../images/lifeedu/subpage/bg_quote01.png) no-repeat left top;content:'';}
.vision .vision-list .vision-detail .tit-txt p:after {position:absolute;right:0;top:0;display:inline-block;width:37px;height:41px;background:url(../images/lifeedu/subpage/bg_quote02.png) no-repeat left top;content:'';}
.vision .vision-list .list02 .vision-detail {text-align:center;}
.vision .vision-list .list02 .vision-detail .txt-box {margin-bottom:25px;vertical-align:middle;line-height:52px;}
.vision .vision-list .list02 .vision-detail .txt {display:inline-block;font-size:20px;vertical-align:4px;}
.vision .vision-list .list02 .vision-detail .bold {padding:0 18px;font-size:40px}
.vision .vision-list .list02 .vision-detail span[class*='txt-img'] {display:inline-block;width:59px;height:52px;margin:0 3px;text-indent:-999em;vertical-align:top;box-sizing:border-box;}
.vision .vision-list .list02 .vision-detail span[class*='txt-img'].orange {background:url(../images/lifeedu/subpage/txt_vision01.png) no-repeat left top;}
.vision .vision-list .list02 .vision-detail span[class*='txt-img'].green {background:url(../images/lifeedu/subpage/txt_vision02.png) no-repeat left top;}
.vision .vision-list .list02 .vision-detail span[class*='txt-img'].yellow {background:url(../images/lifeedu/subpage/txt_vision03.png) no-repeat left top;}
.vision .vision-list .list02 li {display:inline-block;width:178px;height:58px;margin-left:17px;border:1px solid #d6d5d5;border-radius:8px;line-height:58px;font-size:20px;}
.vision .vision-list .list02 li:first-child {margin-left:0;}
.vision .vision-list .list02 .slogan span[class*='txt-img'] {width:33px;height:100%;margin:0 2px 0 4px;background-size:100% !important;background-position-y:13px !important;}
.vision .vision-list .list02 .pen {font-family:'NanumSquareB';}
.vision .vision-list .list02 .slogan li:first-child .pen {background:#ffd4bf;}
.vision .vision-list .list02 .slogan li:first-child + li .pen {background:#c6d6d6;}
.vision .vision-list .list02 .slogan li:last-child .pen {background:#feecb4;}
.vision .vision-list .vision-detail .num-list {margin:15px 0 0 55px;}
.vision .vision-list .vision-detail .num-list li {overflow:hidden;margin-top:12px;}
.vision .vision-list .vision-detail .num-list li:first-child {margin-top:0;}
.vision .vision-list .vision-detail .num-list li .num {display:inline-block;width:32px;height:32px;text-align:center;line-height:32px;border-radius:50%;font-size:16px;color:#fff;}
.vision .vision-list .vision-detail .num-list li .txt {display:inline-block;width:-webkit-calc(100% - 36px);width:-moz-calc(100% - 36px);width:-o-calc(100% - 36px);width:calc(100% - 36px);padding-left:10px;font-size:18px;box-sizing:border-box;}
.vision .vision-list .list03 .vision-detail .num {background:#00a388;}
.vision .vision-list .list04 .vision-detail .num {background:#016dae;}




/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
	.institute .map-institute {padding:1.8rem 1.5rem 2.5rem;}
	.institute .map-institute .tit {float:none;width:100%;margin-bottom:1.5rem;padding-left:0;font-size:2rem;line-height:1.5;}
	.institute .map-institute .comp-lst_important {position:relative;bottom:auto;left:auto;display:inline-block;}
	.institute .map-wrap {width:100%;margin:0 0 1.5rem 0;background-size:100%;}
	.institute .map-wrap img {width:100%;}
	.institute .map-wrap[data-map=map1],
	.institute .map-wrap[data-map=map2],
	.institute .map-wrap[data-map=map3],
	.institute .map-wrap[data-map=map4],
	.institute .map-wrap[data-map=map5],
	.institute .map-wrap[data-map=map6],
	.institute .map-wrap[data-map=map7],
	.institute .map-wrap[data-map=map8],
	.institute .map-wrap[data-map=map9],
	.institute .map-wrap[data-map=map10],
	.institute .map-wrap[data-map=map11],
	.institute .map-wrap[data-map=map12],
	.institute .map-wrap[data-map=map13],
	.institute .map-wrap[data-map=map14],
	.institute .map-wrap[data-map=map15],
	.institute .map-wrap[data-map=map16],
	.institute .map-wrap[data-map=map17],
	.institute .map-wrap[data-map=map18] {background-size:100%;}
	.institute .btn-go {height:2rem;padding:0 .7rem;font-size:1.2rem;line-height:2.2rem}

	.vision .vision-wrap {padding:1.8rem 2rem;}
	.vision .vision-wrap .tit {margin-bottom:.8rem;padding-bottom:2.5rem;font-size:1.6rem;}
	.vision .vision-wrap .tit:after {left:5.5rem;height:2rem;}
	.vision .vision-list > li {padding:1.7rem 0;}
	.vision .vision-list .keyword {display:block;width:9rem;height:4rem;margin-bottom:1.5rem;line-height:4rem;font-size:1.6rem;}
	.vision .vision-list .vision-detail {display:block;width:100%;}
	.vision .vision-list .vision-detail .tit-txt {text-align:left;}
	.vision .vision-list .vision-detail .tit-txt p {padding:1rem 2rem 0;font-size:1.2rem;}
	.vision .vision-list .vision-detail .tit-txt .ebold,
	.vision .vision-list .vision-detail .tit-txt .point {font-size:1.4rem;}
	.vision .vision-list .vision-detail .tit-txt p:before,
	.vision .vision-list .vision-detail .tit-txt p:after {width:1.8rem;height:2rem;background-size:100%;}
	.vision .vision-list .list02 .vision-detail {text-align:left;}
	.vision .vision-list .list02 .vision-detail .txt-box {margin-bottom:0;line-height:3rem;}
	.vision .vision-list .list02 .vision-detail .txt {font-size:1.4rem;vertical-align:inherit;}
	.vision .vision-list .list02 .vision-detail .bold {padding:0 .5rem;font-size:1.6rem}
	.vision .vision-list .list02 .vision-detail span[class*='txt-img'] {width:2.5rem;height:2.2rem;background-size:100% !important;}
	.vision .vision-list .list02 li {width:14rem;height:4rem;margin-left:.5rem;line-height:4rem;font-size:1.8rem;text-align:center;}
	.vision .vision-list .list02 .slogan span[class*='txt-img'] {width:2.7rem;height:100%;margin:0 2px 0 4px;background-size:100% !important;background-position-y:.7rem !important;}
	.vision .vision-list .vision-detail .num-list {margin:.8rem 0 0 0;}
	.vision .vision-list .vision-detail .num-list li {overflow:hidden;margin-top:.6rem;}
	.vision .vision-list .vision-detail .num-list li .num {width:2rem;height:2rem;line-height:2rem;font-size:1.2rem;vertical-align:top;}
	.vision .vision-list .vision-detail .num-list li .txt {width:-webkit-calc(100% - 2.5rem);width:-moz-calc(100% - 2.5rem);width:-o-calc(100% - 2.5rem);width:calc(100% - 2.5rem);padding-left:.5rem;font-size:1.4rem;line-height:1.2;}

}  @media (max-width:500px){
	.vision .vision-list .list02 .vision-detail .txt {display:block;font-size:1.6rem;vertical-align:inherit;}
	.vision .vision-list .list02 .vision-detail .bold {padding:0 .9rem 0 0;}
	.vision .vision-list .list02 li {display:block;margin:1rem 0;}
	.vision .vision-list .list02 li:first-child {margin:0;}
} @media (max-width:321px){
	.vision .vision-list .vision-detail .tit-txt p {padding:1rem 1rem 0;font-size:1.2rem;}
	.vision .vision-list .vision-detail .tit-txt p:before,
	.vision .vision-list .vision-detail .tit-txt p:after {width:1rem;height:1rem;}
}














