@charset "utf-8";



/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;

나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
.museumlogo .symbol-wrap {overflow:hidden;position:relative;}
.museumlogo .symbol-wrap > div {float:left;}
.museumlogo .symbol-wrap .img-area {width:392px;height:289px;margin-right:20px;}
.museumlogo .symbol-wrap .info-area {width:59%;}
.museumlogo .symbol-wrap .info-area .txt {font-size:15px;color:#4b4b4b;font-family:'NanumSquareB';line-height:1.5;}
.museumlogo .symbol-wrap .info-area .txt + .txt {margin-top:30px;}
.museumlogo .symbol-wrap .info-area .green {color:#48b512;}
.museumlogo .symbol-wrap .info-area .blue {color:#125fb5;}
.museumlogo .symbol-wrap .info-area .orange {color:#eb7104;}
.museumlogo .symbol-wrap .btn-area {position:absolute;right:0;bottom:0;}
.museumlogo .img-area {display:table;background:url(../images/uscmuseum/subpage/bg_img.png) repeat left top;border:16px solid #efeeed}
.museumlogo .img-area .img {display:table-cell;vertical-align:middle;text-align:center;}
.museumlogo .btn-down {display:inline-block;width:228px;height:43px;border:1px solid #c3c3c3;font-size:15px;color:#4b4b4b;text-align:center;line-height:43px;}
.museumlogo .btn-down:before {display:inline-block;content:""; width: 25px; height: 25px; background: url("../../static/images/uscmuseum/subpage/icon_download4.png") no-repeat 50% 50%; background-size: 100% auto; margin-right: 10px; vertical-align: middle;}
.museumlogo p.comp-lst_dotted {font-size:15px;}
.museumlogo .img-area.full {margin:15px 0 0 30px;width:-webkit-calc(100% - 30px);width:-moz-calc(100% - 30px);width:-o-calc(100% - 30px);width:calc(100% - 30px);}
.museumlogo .img-area.full .img {height:154px;}
.museumlogo .btn-area {margin-top:20px;text-align:right;}








/* ------------------------------------------------------

BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
	.museumlogo .symbol-wrap > div {float:none;}
	.museumlogo .symbol-wrap .img-area {width:100%;height:inherit;margin-right:0;margin-bottom:2rem;padding:2rem;}
	.museumlogo .symbol-wrap .info-area {width:100%;}
	.museumlogo .symbol-wrap .info-area .txt {font-size:1.3rem;}
	.museumlogo .symbol-wrap .info-area .txt + .txt {margin-top:1.5rem;}
	.museumlogo .symbol-wrap .btn-area {position:static;text-align:right;}
	.museumlogo .img-area {border:.8rem solid #efeeed}
	.museumlogo .btn-down {width:16rem;height:3.5rem;font-size:1.3rem;line-height:3.5rem;}
	.museumlogo p.comp-lst_dotted {font-size:1.3rem;}
	.museumlogo .img-area.full {margin:.8rem 0 0 1.5rem;width:-webkit-calc(100% - 1.5rem);width:-moz-calc(100% - 1.5rem);width:-o-calc(100% - 1.5rem);width:calc(100% - 1.5rem);}
	.museumlogo .img-area.full .img {height:10rem;padding:0 2rem;}
	.museumlogo .btn-area {margin-top:1rem;}

/*
*/
} @media (max-width:781px){
} @media (max-width:321px){
}














