@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */





/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
/* LOCAL COLOR */
.village em[class*='local-'] {display:inline-block;width:56px;height:26px;margin-right:5px;text-align:center;font-size:14px;font-family:'NanumSquareB';line-height:26px;color:#fff;border-radius:20px;}
.village em[class*='local-'][class*='01'] {background:#eba4a4}
.village em[class*='local-'][class*='02'] {background:#e89d28}
.village em[class*='local-'][class*='03'] {background:#5f9c74}
.village em[class*='local-'][class*='04'] {background:#8fba45}
.village em[class*='local-'][class*='05'] {background:#e2da56}
.village em[class*='local-'][class*='06'] {background:#8b4ab8}
.village em[class*='local-'][class*='07'] {background:#cc5abd}
.village em[class*='local-'][class*='08'] {background:#be2f68}
.village em[class*='local-'][class*='09'] {background:#3b40ab}
.village em[class*='local-'][class*='10'] {background:#6f71c3}
.village em[class*='local-'][class*='11'] {background:#4d63e3}
.village em[class*='local-'][class*='12'] {background:#5a9acc}
.village em[class*='local-'][class*='13'] {background:#4aadc2}
.village em[class*='local-'][class*='14'] {background:#619190}
.village em[class*='local-'][class*='15'] {background:#3bb69d}
.village em[class*='local-'][class*='16'] {background:#df5134}
.village em[class*='local-'][class*='17'] {background:#ab4c42}
.village em[class*='local-'][class*='18'] {background:#ac8547}

.village .section-visual:after {display:block;clear:both;content:'';}
.village .section-visual .banner-wrap {position:relative;float:left;width:1192px;height:430px;}
.village .section-visual .plan-wrap {float:left;}
.village .section-visual button[class*='btn-main-'] {position:absolute;right:16px;display:inline-block;width:70px;height:71px;text-indent:-999em;z-index:1;}
.village .section-visual .btn-main-prev {top:157px;background:url(../images/village/btn_main_prev.png) no-repeat left top;}
.village .section-visual .btn-main-next {bottom:126px;background:url(../images/village/btn_main_next.png) no-repeat left top;}
.village .section-visual .custom-paging {position:absolute;bottom:100px;right:35px;}
.village .section-visual .custom-paging > li {display:none;font-family:'NanumSquareL';font-size:15px;color:#fff;}
.village .section-visual .custom-paging > li em {font-size:18px;font-family:'NanumSquareEB';}
.village .section-visual .custom-paging > li.slick-active {display:block;}

.village .plan-wrap {width:711px;height:430px;padding:26px 0 0 18px;;background:url(../images/village/bg_plan.png) no-repeat left top;border:30px solid #45bf55;border-right:0;box-sizing:border-box;}
.village .plan-wrap .month-wrap {position:relative;width:364px;}
.village .plan-wrap .month-wrap:after {position:absolute;top:43px;left:0;display:block;width:100%;height:57px;border:1px solid #d6d5d5;content:'';}
.village .plan-wrap h2 {margin-bottom:17px;font-size:22px;font-family:'NanumSquareB';color:#000;text-align:center;}
.village .plan-wrap .month-area {text-align:center;}
.village .plan-wrap .month-area > em {display:block;height:57px;margin-bottom:18px;line-height:59px;font-size:24px;color:#2c2c2c;font-family:'NanumSquareB';}
.village .plan-wrap .month-area .month-list {overflow-y:auto;max-height:200px;text-align:left;color:#525252;}
.village .plan-wrap .month-area .month-list li {overflow:hidden;width:90%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.village .plan-wrap .month-area .month-list li + li {margin-top:13px;}
.village .plan-wrap button[class*='btn-plan-'] {position:absolute;top:62px;display:inline-block;width:11px;height:19px;text-indent:-999em;z-index:1;}
.village .plan-wrap .btn-plan-prev {left:18px;background:url(../images/village/btn_plan_prev.png) no-repeat left top;}
.village .plan-wrap .btn-plan-next {right:18px;background:url(../images/village/btn_plan_next.png) no-repeat left top;}

.village .section-info {position:relative;}
.village .section-info:after {display:block;clear:both;content:'';}
.village .phone-ballon {position:absolute;left:187px;top:0;background:#45bf55;width:80px;height:120px;padding-top:17px;font-size:17px;color:#fff;text-align:center;line-height:1.5;border-radius:0 0 50px 50px;box-sizing:border-box;}
.village .phone-ballon span {display:block;padding-bottom:39px;background:url(../images/village/bg_phone_arrow_off.png) no-repeat center bottom;}
.village .phone-ballon.on {height:318px;}
.village .phone-ballon.on span {position:absolute;bottom:20px;left:10px;background:url(../images/village/bg_phone_arrow_on.png) no-repeat center bottom;}
.village .phone-wrap {display:none;background:#044d29;}
.village .phone-inner {position:relative;width:1437px;margin:0 auto;padding:20px 0 20px 116px;box-sizing:border-box;}
.village .phone-inner h3 {margin-bottom:14px;font-family:'NanumSquareEB';font-size:22px;color:#fff;}
.village .phone-inner h3 span {font-family:'NanumSquareB';font-size:16px;color:#d3e570;}
.village .phone-inner .time-area {display:inline-block;width:353px;height:125px;padding:30px 14px 0 102px;background:#ecf3c1 url(../images/village/bg_phone.png) no-repeat left bottom;vertical-align:top;border-radius:20px;box-sizing:border-box;}
.village .phone-inner .time-area .time {margin-bottom:13px;font-size:22px;font-family:'NanumSquarEB';color:#2d2d2d;}
.village .phone-inner .time-area .rest {height:35px;line-height:35px;text-align:center;background:#7ab66c;color:#fff;border-radius:30px;}
.village .phone-inner .number-area {display:inline-block;margin-left:30px;}
.village .phone-inner .number-area ul {position:relative;display:inline-block;margin-right:40px;padding-right:40px;vertical-align:top;}
.village .phone-inner .number-area ul:after {position:absolute;right:0;top:0;height:100%;border:1px dashed rgba(255,255,255,0.5);content:'';}
.village .phone-inner .number-area ul.last {margin:0;padding:0;}
.village .phone-inner .number-area ul.last:after {display:none;}
.village .phone-inner .number-area li {font-size:15px;color:#fff;}
.village .phone-inner .number-area li + li {margin-top:10px;}
.village .phone-inner .number-area em {display:inline-block;margin-right:18px;color:#ecf3c1;font-size:16px;font-family:'NanumSquareEB';}

.village .news-wrap {max-width:1320px;margin:0 auto;padding-top:22px;}
.village .news-wrap .notice-wrap {width:648px;height:327px;padding:28px;border:1px solid #d6d5d5;background:url(../images/village/bg_notice.png) no-repeat left top;box-sizing:border-box;}
.village .news-wrap .notice-wrap h3 {margin-bottom:20px;font-family:'NanumSquareB';font-size:22px;color:#222;}
.village .news-wrap .notice-wrap h3 span {padding-bottom:3px;border-bottom:3px solid #45bf55;}
.village .news-wrap .notice-wrap .notice-preview {margin-bottom:18px;padding-bottom:16px;border-bottom:1px solid #d6d5d5;}
.village .news-wrap .notice-preview .date {display:inline-block;width:87px;height:90px;padding-top:23px;text-align:center;border:1px solid #d6d5d5;font-size:17px;color:#666;vertical-align:top;}
.village .news-wrap .notice-preview .date em {display:block;font-size:28px;font-family:'NanumSquareB';color:#45bf55;}
.village .news-wrap .notice-wrap .notice-con {display:inline-block;width:480px;margin-left:5px;}
.village .news-wrap .notice-wrap .notice-con dt {margin-bottom:18px;font-family:'NanumSquareB';font-size:20px;color:#222;}
.village .news-wrap .notice-wrap .notice-con em {font-size:16px;}
.village .news-wrap .notice-wrap .notice-con dd {line-height:1.5;}







/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
.advice-app .comp-lst_important {color:#1c1c1c !important;}
.advice-app .comp-iconbox {margin-bottom:25px;}
.advice-app .heading-h3 {margin-bottom:20px;}
.advice-app .comp-tbl_formtype {margin-bottom:38px;}
.advice-app .w_time {display:inline-block;}
.advice-app .w_time .comp-input {width:170px;}
.advice-app .w_time .comp-select {width:124px;}
.advice-app .txt-notice {display:inline-block;margin-left:14px;font-size:15px;color:#ff4e00}
.advice-app .heading-h4 {margin-left:30px;}
.advice-app .heading-h4 + .heading-h4 {margin:20px 0 13px 30px;}
.advice-app .heading-h4 + .comp-lst_dotted {margin-left:52px;}
.advice-app .heading-h4 + .comp-lst_dotted > li {margin-bottom:7px;}
.advice-app .heading-h4 + .comp-lst_dotted > li:last-child {margin-bottom:20px;}
.advice-app .heading-h4 + .comp-lst_dotted .comp-lst_hyphen {margin-top:9px;}
.advice-app .heading-h4 + .comp-lst_dotted .comp-lst_hyphen li:first-child {margin-bottom:5px;}
.advice-app .box-agree {padding:14px 0 15px;text-align:center;font-size:16px;color:#1c1c1c;font-family:'NanumSquareB';background:#eceded;}
.advice-app .box-agree .radio-area {display:inline-block;margin-left:25px;}
.advice-app .box-agree .comp-radio + .comp-radio {margin-left:25px;}

.advice-info .heading-h3 {margin-bottom:10px;}
.advice-info .comp-txt_box {margin:0 0 40px 30px;}
.advice-info .comp-lst_hyphen {margin:0 0 46px 40px;}
.advice-info .task-order:after {display:block;clear:both;content:'';}
.advice-info .task-order > li {position:relative;float:left;width:210px;height:204px;padding:18px 14px 12px 14px;border:10px solid #e2e1e1;text-align:center;border-radius:10px;box-sizing:border-box;}
.advice-info .task-order > li + li {margin-left:56px;}
.advice-info .task-order > li:before {position:absolute;top:-6px;left:-6px;display:block;width:198px;height:192px;border-radius:5px;border:2px solid #eaaa73;content:'';}
.advice-info .task-order > li:after {position:absolute;top:50%;left:-68px;width:58px;height:1px;background:#d6d3d2;content:'';}
.advice-info .task-order > li div:after {position:absolute;top:50%;left:-50px;width:24px;height:24px;margin-top:-12px;background:url(../images/usc/bg_advice_arrow.png) no-repeat left top;content:'';z-index:10;}
.advice-info .task-order > li:first-child:after,
.advice-info .task-order > li:first-child div:after {display:none;}

.advice-info .task-order > li em {display:inline-block;margin-bottom:17px;color:#fe970e;font-size:17px;font-family:'NanumSquareEB';text-align:center;}

.advice-info .task-order .comp-lst_hyphen {margin:0 0 13px;text-align:left;}
.advice-info .charge {position:absolute;bottom:12px;left:14px;width:82%;height:35px;line-height:35px;background:#e2e1e1;color:#3f3f3f;border-radius:10px;font-family:'NanumSquareB';}




/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack */
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
	.advice-app .heading-h4 {margin-left:1.5rem;}
	.advice-app .heading-h4 + .heading-h4 {margin:1rem 0 1rem 1.5rem;}
	.advice-app .heading-h4 + .comp-lst_dotted {margin-left:2.6rem;}
	.advice-app .txt-notice {display:block;margin:0.5rem 0 0 0;font-size:1.2rem;}
	.advice-app .box-agree {padding:1.4rem;font-size:1.2rem;line-height:1.5;}
	.advice-app .box-agree .radio-area {display:block;margin:1rem 0 0 0;}

	.advice-info .comp-txt_box {margin:0 0 2rem 1.5rem;}
	.advice-info .comp-lst_hyphen {margin:0 0 2.3rem 2rem;}
	.advice-info .task-order {width:210px;margin:0 auto;}
	.advice-info .task-order > li {float:none;height:17rem;}
	.advice-info .task-order > li + li {margin:1.5rem 0 0 0;}
	.advice-info .task-order > li:after,
	.advice-info .task-order > li div:after {display:none;}
	.advice-info .task-order > li:before {height:15.8rem;}
	.advice-info .task-order > li em {font-size:1.3rem;}
}
@media (max-width:768px){
	.advice-app .w_time {display:block;}
	.advice-app .w_time .comp-input,
	.advice-app .w_time .comp-select {width:100%;}
	.advice-app .w_time .comp-select {margin-top:0.5rem;}

	.advice-app .box-agree {text-align:left;}
	.advice-app .box-agree .radio-area {text-align:center;}
}
@media (max-width:321px){}














