@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */





/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 공통 */
.comp-input_wrap {position:relative; padding-left:105px;}
.comp-input_wrap .txt {position:absolute; left:0; top:9px; }
.comp-input_wrap input[class^=comp-input] {}
/*로그인*/
#container.tp-total-login .contents-zone .wrap-login-zone {width:1220px; margin:85px auto 0 auto;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone {overflow:hidden; padding:31px 0 28px; border:3px solid #d6d5d5; border-radius:17px;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone > div {position:relative; float:left; width:33.33%; padding:0 25px 97px; border-left:1px solid #d6d5d5; box-sizing:border-box;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone > div:first-child {border-left:none;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone h4.tit {font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:24px; color:#262626; text-align:center;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone h4.tit:before {display:block; content:""; width:200px; height:200px; margin:15px auto 30px auto;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .txt {margin-top:15px; line-height:26px; font-size:16px; color:#262626; letter-spacing:-1px; text-align:center;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .btn-bottom {position:absolute; left:50%; bottom:17px; margin-left:-100px;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .btn-bottom .btn {display:block; width:200px; height:50px; margin:0 auto; line-height:50px; border-radius:23px; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:18px; color:#fff; text-align:center;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone {padding:0 33px 0 36px;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .tit:before {background:url(../../static/images/usc/subpage/bg_login_zone.png) no-repeat;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .tit .point {color:#00a54f;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box {position:relative; margin:20px 0 0;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box .form {}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box .form input {width:220px; margin-top:10px;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box .form input:first-child {margin-top:0;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box button {position:absolute; right:0; top:0; width:103px; height:114px; line-height:114px; background:#00a54f; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:18px; color:#fff; text-align:center;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .btn-naver {width:100%; height:45px; line-height:45px; margin-top:45px; background:#3ec729 url(../../static/images/usc/subpage/txt_naver_login.png) no-repeat 50% 50%; border:1px solid #28b613; border-radius:4px; box-sizing:border-box; text-indent:-9999rem;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .cell-phone .tit:before {background:url(../../static/images/usc/subpage/bg_cell_phone.png) no-repeat;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .cell-phone .tit .point {color:#ff7200;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .cell-phone .btn-cell-phone .btn {background:#ff7200;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .i-pin .tit:before {background:url(../../static/images/usc/subpage/bg_i_pin.png) no-repeat;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .i-pin .tit .point {color:#1556b0;}
#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .i-pin .btn-i-pin .btn{background:#1556b0;}

/* 설문조사 목록 */
.tp-survey-list .comp-tbl_datatype .subject {overflow:hidden; display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;  }

/* 설문조사 상세 */
.tp-survey-view .board-title {color: #4b4b4b; font-size: 20px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; text-align: center; line-height: 58px; border-top: 2px solid #fe970e; border-bottom: 1px solid #ffbd65; background: #fcf8e3; }
.tp-survey-view table[class^=comp-tbl][class*=_datatype],
.tp-survey-view table[class^=comp-tbl] tbody tr:first-child > * {border-top:none;}

.tp-survey-view .bd-content {padding:15px; text-align:left;}
.tp-survey-view .bd-content .view-list {padding:20px 0;border-top:1px solid #e7e7e7;}
.tp-survey-view .bd-content .view-list:first-child {padding-top:0; border-top:none;}
.tp-survey-view .bd-content .view-list {}
.tp-survey-view .bd-content .view-list .tit {position:relative; padding-left:40px; font-size:18px; color:#3e3e3e;}
.tp-survey-view .bd-content .view-list .tit .num {position:absolute; left:0; top:-4px; display:block; width:30px; height:30px; line-height:30px; background:#fe970e; border-radius:100%; font-size:18px; color:#fff; text-align:center;}
.tp-survey-view .bd-content .view-list .tit .num.gray {background:#707070;}
.tp-survey-view .bd-content .view-list *[class^=comp-radio][class*=_big] label:before {width:22px; height:22px; margin:0 auto; background-size:100%;}

.tp-survey-view .bd-content .view-list *[class^=comp-radio][class*=_big] label .txt {display:block; margin-top:10px; font-family:'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:16px; color:#787878;}
.tp-survey-view .bd-content .view-list .transverse {position:relative; overflow:hidden; margin-top:15px;}
.tp-survey-view .bd-content .view-list .transverse:before {position:absolute; left:0; top:8px; display:block; content:""; width:100%; height:5px; background:#f3dd66; border-radius:2px;}
.tp-survey-view .bd-content .view-list .transverse *[class^=comp-radio][class*=_big] {position:relative; float:left; width:170px; text-align:center; z-index:10;}
 .tp-survey-view .bd-content .view-list *[class^=comp-radio][class*=_big] input {position:absolute; left:-9999em;} 
/* .tp-survey-view .bd-content .view-list .transverse *[class^=comp-radio][class*=_big] label:before {display:block; margin:0 auto 10px auto;} */ 
.tp-survey-view .bd-content .view-list .transverse.vertical {margin-top:15px;}
.tp-survey-view .bd-content .view-list .transverse.vertical:before {display:none;}
.tp-survey-view .bd-content .view-list .transverse.vertical *[class^=comp-radio][class*=_big] {display:block; width:100%; margin-top:6px; text-align:left; }
.tp-survey-view .bd-content .view-list .transverse.vertical *[class^=comp-radio][class*=_big]:first-child {margin-top:0;}
.tp-survey-view .bd-content .view-list .transverse.vertical *[class^=comp-radio][class*=_big] label {position:relative; display:block; padding-left:32px;}
.tp-survey-view .bd-content .view-list .transverse.vertical *[class^=comp-radio][class*=_big] label:before {position:absolute; left:0; top:2px;}
.tp-survey-view .bd-content .view-list .transverse.vertical *[class^=comp-radio][class*=_big] label .txt {display:inline-block; margin:0;}
.tp-survey-view .bd-content .view-list .comp-input_wrap,
.tp-survey-view .bd-content .view-list .txt-wrap {margin:25px 20px 0 15px;}
.tp-survey-view .bd-content .view-list .comp-input_wrap input[class^=comp-input] {background:#f4f7f9;}
.tp-survey-view .bd-content .view-list .txt-wrap textarea {height:129px; background:#f4f7f9;}
.tp-survey-view .comp-btn-zone {position:relative;}
.tp-survey-view .comp-btn-zone .comm-btn_type3_lightorange {width:180px;}
.tp-survey-view .comp-btn-zone .l-right {position:absolute; right:0; top:0; }

/* 설문조사 결과 */
.tp-survey-view .view-list {}
.tp-survey-view .view-list .legend-wrap {}
.tp-survey-view .view-list .legend-wrap:after {display:block; content:""; clear:both;}
.tp-survey-view .view-list .legend-wrap .tit {float:left; margin-top:7px;}
.tp-survey-view .view-list .legend-wrap .legend {float:right; width:550px; height:35px; line-height:35px; margin:0 10px 0 0; padding:0 0 0 25px; border:1px solid #cbc8c7; box-sizing:border-box;}
.tp-survey-view .view-list .legend-wrap .legend > li {position:relative; float:left; width:20%; height:33px;padding:0 0 0 25px; font-size:15px; color:#3e3e3e; box-sizing:border-box;}
.tp-survey-view .view-list .legend-wrap .legend > li:before {position:absolute; left:0; top:50%; display:block; content:""; width:18px; height:18px; margin-top:-9px; border-radius:100%;}
.tp-survey-view .view-list .legend-wrap .legend > li.case1:before {background:#e25e5e;}
.tp-survey-view .view-list .legend-wrap .legend > li.case2:before {background:#e2b25e;}
.tp-survey-view .view-list .legend-wrap .legend > li.case3:before {background:#34cf51;}
.tp-survey-view .view-list .legend-wrap .legend > li.case4:before {background:#28b4a5;}
.tp-survey-view .view-list .legend-wrap .legend > li.case5:before {background:#1e78c4;}
.tp-survey-view .view-list .graph-color {padding:0 10px 0 0;}
.tp-survey-view .view-list .graph-color .inner {display:table; width:100%; margin-top:25px;}
.tp-survey-view .view-list .graph-color .inner :after {display:block; content:""; clear:both;}
.tp-survey-view .view-list .graph-color .inner [class^=case] {position:relative; display:table-cell; height:25px; line-height:25px; border-radius:0 15px 15px 0; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:14px; color:#fff; text-align:center; box-sizing:border-box;}
.tp-survey-view .view-list .graph-color .inner [class^=case]:first-child {border-radius:15px}
.tp-survey-view .view-list .graph-color .inner [class^=case]:after {position:absolute; left:-12px; top:0; display:block; content:""; width:12px; height:25px; z-index:10;}
.tp-survey-view .view-list .graph-color .inner [class^=case]:first-child:before {display:none;}
.tp-survey-view .view-list .graph-color .inner .case1 {background:#e25e5e; z-index:20;}
.tp-survey-view .view-list .graph-color .inner .case2,
.tp-survey-view .view-list .graph-color .inner .case2:after {background:#e2b25e; z-index:19;}
.tp-survey-view .view-list .graph-color .inner .case3,
.tp-survey-view .view-list .graph-color .inner .case3:after {background:#34cf51; z-index:18;}
.tp-survey-view .view-list .graph-color .inner .case4,
.tp-survey-view .view-list .graph-color .inner .case4:after {background:#28b4a5; z-index:17;}
.tp-survey-view .view-list .graph-color .inner .case5,
.tp-survey-view .view-list .graph-color .inner .case5:after {background:#1e78c4; z-index:16;}
.tp-survey-view .view-list .graph-gray {margin:18px 0 0 0; padding:0 40px;}
.tp-survey-view .view-list .graph-gray > li {overflow:hidden; margin-top:10px;}
.tp-survey-view .view-list .graph-gray > li .graph {float:left; width:45%;}
.tp-survey-view .view-list .graph-gray > li .graph .inner {height:25px; line-height:25px; background:#525252; border-radius:15px; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size:16px; color:#fff; text-align:center;}
.tp-survey-view .view-list .graph-gray > li .txt {float:left; width:55%; padding:0 0 0 15px; font-size:16px; color:#787878; box-sizing:border-box;}

/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
	/* 로그인 */
	#container.tp-total-login .contents-zone .wrap-login-zone {width:auto; margin:3rem 0 0; padding:0 1rem 0;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone h4.tit {font-size:1.8rem;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone h4.tit:before {display:none;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone {padding:1.5rem 0; border-radius:0.5rem; border-width:2px;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone > div {float:none; width:auto; margin:1.5rem 1rem 0; padding:1.5rem 0 0; border-top:1px solid #d6d5d5; border-left:none; box-sizing:border-box; }
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone > div:first-child {margin-top:0; padding:0; border:none;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone > div:last-child {padding-bottom:0;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone {}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box {margin:1rem 0 0;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box {}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box .form {width:70%; padding-right:1rem;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box .form input {width:100%;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box .form input {margin-top:0.3rem;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .member-box .box button {width:30%; height:8.3rem; line-height:8.3rem; font-size:1.4rem;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .login-zone .btn-naver {height:4rem; line-height:4rem; margin-top:1rem; background-size:9rem;}

	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .txt {margin-top:1rem; font-size:1.2rem; line-height:1.8rem;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .btn-bottom {position:static; margin:1rem 0 0;}
	#container.tp-total-login .contents-zone .wrap-login-zone .certified-zone .btn-bottom .btn {width:100%; height:4rem; line-height:4rem; border-radius:4px; font-size:1.4rem;}
	
	/* 설문조사 상세 */
	.tp-survey-view .board-title {line-height:2.2rem; padding:1rem 1rem; font-size:1.5rem;}
	.tp-survey-view .bd-content {padding:.8rem 0;}
	.tp-survey-view .bd-content .view-list {padding:1rem 0;}
	.tp-survey-view .bd-content .view-list .tit {line-height:2rem; padding-left:2.5rem;font-size:1.4rem;}
	.tp-survey-view .bd-content .view-list .tit .num {top:0;width:2rem;height:2rem; line-height:2rem;font-size:1.3rem;}
	.tp-survey-view .bd-content .view-list *[class^=comp-radio][class*=_big] label:before {width:1.8rem; height:1.8rem;}
	.tp-survey-view .bd-content .view-list *[class^=comp-radio][class*=_big] label .txt {margin-top:.5rem; line-height:1.6rem; font-size:1.2rem;}
	.tp-survey-view .bd-content .view-list .transverse {margin-top:.8rem;}
	.tp-survey-view .bd-content .view-list .vertical {margin-top:1rem;}
	.tp-survey-view .bd-content .view-list .vertical *[class^=comp-radio][class*=_big]{margin-top:0.5rem;}
	.tp-survey-view .bd-content .view-list .vertical *[class^=comp-radio][class*=_big] label {padding-left:2.5rem;}
	.tp-survey-view .bd-content .view-list .vertical *[class^=comp-radio][class*=_big] label:before {top:0;}
	.tp-survey-view .bd-content .view-list .comp-input_wrap,
	.tp-survey-view .bd-content .view-list .txt-wrap {margin:1rem 0 0 0;}
	.tp-survey-view .bd-content .view-list .txt-wrap textarea {height:7rem;}
	.tp-survey-view .bd-content .view-list .comp-input_wrap {padding-left:8rem;}
	.tp-survey-view .comp-input_wrap .txt {font-size:1.2rem;}

	/*설문조사 결과 */

}
@media (max-width:768px){


}
@media (max-width:321px){}














