@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
/*문화강좌 - 문화강좌소개*/
.course-info table[class^=comp-tbl][class*=_datatype] tbody th:first-of-type {border-right:1px solid #d9d6d5;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td:first-child {border-left:1px solid #d9d6d5;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody th {background:none; color:#787878;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td {padding:0;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education] {line-height:20px; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#fff;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-01 {background:#f67280;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-02 {background:#02a3b0;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-03 {background:#ed553b;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-04 {background:#8cc13f;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-05 {background:#1eb7de;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-06 {background:#336ac0;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-07 {background:#6c5b7b;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-08 {background:#94090d;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-09 {background:#3f5866;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-10 {background:#45183c;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-11 {background:#efb704;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-12 {background:#92d1c8;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-13 {background:#d0b6a4;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-14 {background:#ed1651;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-15 {background:#ffc1b4;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-16 {background:#02a676;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-17 {background:#f38902;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-18 {background:#292929;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-19 {background:#c06c84;}



/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
































































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
} @media (max-width:768px){
} @media (max-width:321px){}














