@charset "utf-8";
 


/* ------------------------------------------------------
[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3
------------------------------------------------------ */

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */




/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 공통 */
.point6 {color:#ff4800 !important;}


/*문화강좌 - 문화강좌소개*/
.course-info table[class^=comp-tbl][class*=_datatype] tbody th:first-of-type {border-right:1px solid #d9d6d5;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td:first-child {border-left:1px solid #d9d6d5;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody th {background:none; color:#787878;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td {padding:0;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education] {line-height:20px; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#fff;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-01 {background:#f67280;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-02 {background:#02a3b0;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-03 {background:#ed553b;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-04 {background:#8cc13f;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-05 {background:#1eb7de;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-06 {background:#336ac0;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-07 {background:#6c5b7b;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-08 {background:#94090d;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-09 {background:#3f5866;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-10 {background:#45183c;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-11 {background:#efb704;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-12 {background:#92d1c8;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-13 {background:#d0b6a4;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-14 {background:#ed1651;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-15 {background:#ffc1b4;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-16 {background:#02a676;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-17 {background:#f38902;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-18 {background:#292929;}
.course-info table[class^=comp-tbl][class*=_datatype] tbody td[class^=education].bg-19 {background:#c06c84;}

/* 열린마당 - 세미나실 신청 */
.seminar-guide .calander_tbl {border-top: 2px solid #7a7a7a; }
.seminar-guide .calander_tbl th {height: 49px; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; font-size: 16px; text-align: center; color: #444; background: #f4f7f9; border-left: 1px solid #d9d6d5; border-bottom: 1px solid #d9d6d5; }
.seminar-guide .calander_tbl th:first-child { color: #ea0909; border-left: 0; }
.seminar-guide .calander_tbl th:last-child { color: #1277cd; }
.seminar-guide .calander_tbl td {height:100px; padding: 10px 12px; border-bottom: 1px solid #d9d6d5; border-left: 1px solid #d9d6d5; color: #303030; font-size: 18px; vertical-align: top; box-sizing: border-box; }
.seminar-guide .calander_tbl td:first-child {color: #ea0909; border-left: 0; }
.seminar-guide .calander_tbl td:last-child {color: #1277cd; }
.seminar-guide .calander_tbl td.today {background:#f40723; }
.seminar-guide .calander_tbl td .capable .txt {background:#eff9fe; border-color:#d4e0f2; color:#527cb8;}
.seminar-guide .calander_tbl td .unable .txt {background:#f1f1f1; border-color:#c5c5c5; color:#838383;}
.seminar-guide .calander_tbl td .txt {display:block; width:116px; height:32px; line-height:32px; font-size:15px; border:1px solid; border-radius:8px; text-align:center; box-sizing:border-box;}
.seminar-guide *[class^=comm-btn][class*=_deepblue] {width:150px;}































































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } /* webkit hack*/
@-moz-document url-prefix() { } /* firefox hack */

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
	/* 열린마당 - 세미나실 신청 */
	.seminar-guide .calander_tbl th { height: 3.5rem; font-size: 1.2rem; }
	.seminar-guide .calander_tbl td { height:5rem; padding: 0.5rem; font-size: 1.4rem; }
	.seminar-guide .calander_tbl td .txt {width:auto; height:auto; padding:0.2rem 0; line-height:1.4rem; border-radius:0.4rem; font-size:1.2rem;}
} @media (max-width:768px){
} @media (max-width:321px){}














