<div id="header" class="header-type2">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li><a href="#"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">조문국박물관</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>이용안내</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>이용안내</span></a></p> 
										<div class="group"> 
											<h3><a href="#"><span>찾아오시는길</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>의성조문국박물관</span></a> </h4></li>
												<li><h4> <a href="#"><span>고분 전시관</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>관람안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>관람시 유의사항</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>E-안내책자</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>상설전 단체관람(해설)예약</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>어린이고고발굴체험관</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>단체관람예약</span></a></h3> </div>
										<div class="group">
											<h3><a href="#"><span>시설대관안내</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>시설안내</span></a> </h4></li>
												<li><h4> <a href="#"><span>대관안내</span></a> </h4></li>
											</ul>
										</div>
										<div class="group">
											<h3><a href="#"><span>시설현황</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>전체안내</span></a> </h4></li>
												<li><h4> <a href="#"><span>층별안내</span></a> </h4></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>전시안내</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>전시안내</span></a></p> 
										<div class="group"> 
											<h3><a href="#"><span>상설전시</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>상설전시실</span></a> </h4></li>
												<li><h4> <a href="#"><span>어린이고고발굴체험관</span></a> </h4></li>
												<li><h4> <a href="#"><span>민속유물전시관</span></a> </h4></li>
												<li><h4> <a href="#"><span>고분전시관</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>기획전시</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>가상체험(VR)</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>교육/학술</span></a> </h2>
							<div class="depth2menu" >
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>교육/학술</span></a></p> 
										<div class="group"> <h3><a href="#"><span>행사일정</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>교육안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>학술행사안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>교육 및 학술자료실</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>도서발간</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>유물정보</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>유물정보</span></a></p> 
										<div class="group"> 
											<h3><a href="#"><span>소장유물 이용안내</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>열람안내</span></a> </h4></li>
												<li><h4> <a href="#"><span>복제안내</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>전시유물</span></a></h3> </div>
										<div class="group"> 
											<h3><a href="#"><span>유물기증</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>유물기락</span></a> </h4></li>
												<li><h4> <a href="#"><span>국가귀속유물</span></a> </h4></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>열린마당</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>열린마당</span></a></p> 
										<div class="group"> <h3><a href="#"><span>공지사항</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>자유게시판</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>포토갤러리</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>설문조사</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>박물관소개</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>박물관소개</span></a></p> 
										<div class="group"> <h3><a href="#"><span>인사말</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>연혁</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>건축계획개념</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>박물관 로고</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>조직 및 업무</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>주변관광지</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('550,550,550,550,550,550', false);
</script>