<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum">
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 비주얼 -->
				<div class="main-visual-zone">
					<!-- 슬라이드영역 -->
					<div class="js-visual-slider visual-slider">
						<div class="slide">
							<div class="img pc"> <img src="../../static/images/uscmuseum/main/img_visual1.png" alt="" > </div><!-- pc 이미지 -->
							<div class="img m"> <img src="../../static/images/uscmuseum/main/img_visual1_m.png" alt=""> </div><!-- mobile 이미지 -->
						</div>
						<div class="slide">
							<div class="img pc"> <img src="../../static/images/uscmuseum/main/img_visual1.png" alt="" > </div> 
							<div class="img m"> <img src="../../static/images/uscmuseum/main/img_visual1_m.png" alt=""> </div>
						</div>
					</div>
					<!--// 슬라이드영역 -->
					<!-- 상단 컨텐츠 영역 -->
					<div class="museum-group">
						<div class="inner">
							<h2 class="main-title"> UISEONG JOMUNGUK MUSEUM 시간의 흔적을 머금고 자라는 의성 조문국박물관 </h2>
							<div class="museum-menu">
								<ul>
									<li>
										<a href="#">
											<div>
												<span class="icon"><img src="../../static/images/uscmuseum/main/icon_visual1.png" alt=""></span>
												<span class="tit">상설전시실</span>
												<span class="desc">조문국의 역사와 선사시대, 삼한시대, 삼국시대 및 의성 지역의 역사와 문화를 살펴볼 수 있습니다.</span>
												<span class="gotodetail">자세히보기</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div>
												<span class="icon"><img src="../../static/images/uscmuseum/main/icon_visual2.png" alt=""></span>
												<span class="tit">기획전시실</span>
												<span class="desc">해마다 다양한 주제를 가지고 ‘기획전’을 개최하여 지역주민들에게 다양한 자료로 이해를 돕고 있습니다.</span>
												<span class="gotodetail">자세히보기</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div>
												<span class="icon"><img src="../../static/images/uscmuseum/main/icon_visual3.png" alt=""></span>
												<span class="tit">전시유물</span>
												<span class="desc">조문국박물관에 있는 전시유물을 안내해드립니다.</span>
												<span class="gotodetail">자세히보기</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="museum-information">
								<div class="l-left">
									<h2 class="tit">박물관<span class="small">Guide</span> <br>관람이용안내</h2>
									<ul class="information-lst">
										<li>관람시간 : 평일/주말 9:00 ~ 18:00</li>
										<li><span class="lp">휴관일</span> : 매주 월요일, 1월 1일, 설날, 추석 <br><span class="sm">(의성군수가 정하는날, 월요일과 공휴일이 겹칠때는 그 다음 평일 휴관)</span></li>
										<li>TEL : 054 - 830 - 6909 / FAX : 054 - 832 - 9717</li>										
									</ul>
								</div>
								<div class="l-right">
									<h2 class="tit"><span class="small">Group view Reservation</span> <br>단체관람예약안내</h2>
									<ul class="reservation-menu">
										<li><a href="#"><span>박물관 <br>상설전관람</span></a></li>
										<li><a href="#"><span>어린이고고 <br>발굴체험단</span></a></li>
										<li><a href="#"><span>가족문화 <br>체험실</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--// 상단 컨텐츠 영역 -->
				</div>
				<!--// 상단 비주얼 -->

				<!-- 게시판 -->
				<div class="main-board-zone">
					<div class="inner">
						<!-- 공지사항 -->
						<div class="board-noticeboard">
							<h2 class="tit">공지사항</h2>
							<p class="cont">
								<a href="#">
									<span class="flag">[공지]</span>
									<span class="txt">엄마와 함께하는 만들기 교실 참여자 접수현황(12월07일)</span>
								</a>
							</p>
							<p class="btn"><a href="#" class="btn-more"><span>공지사항 더보기</span></a></p>
						</div>
						<!-- 자유게시판 -->
						<div class="board-freeboard">
							<h2 class="tit">자유게시판</h2>
							<p class="cont">
								<a href="#">
									<span class="flag">[게시판]</span>
									<span class="txt">2019년 조문국학술회의 개최 안내</span>
								</a>
							</p>
							<p class="btn"><a href="#" class="btn-more"><span>공지사항 더보기</span></a></p>
						</div>
					</div>
				</div>
				<!--// 게시판 -->

				<!-- 행사, 팝업존 -->
				<div class="main-group-zone">
					<!-- 진행중 행사 -->
					<div class="main-event js-main-event">
						<h2 class="tit">조문국박물관 진행중인 행사 <span class="small">Ongoing Events</span></h2>
						<div class="indicator">
							<p><button type="button" class="btn-prev"><span>팝업존 슬라이드 이전으로 이동</span></button></p>
							<p><button type="button" class="btn-next"><span>팝업존 슬라이드 다음으로 이동</span></button></p>
							<p><a href="#" class="btn-more"><span>팝업존 더보기</span></a></p>
						</div>
						<div class="slider">
							<div class="slide">
								<a href="#">
									<span class="img"><img src="../../static/images/uscmuseum/temp/@main_event.png" alt="KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내 포스터"></span>
									<span class="txt">KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="img"><img src="../../static/images/uscmuseum/temp/@main_event.png" alt="KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내 포스터"></span>
									<span class="txt">KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="img"><img src="../../static/images/uscmuseum/temp/@main_event.png" alt="KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내 포스터"></span>
									<span class="txt">KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="img"><img src="../../static/images/uscmuseum/temp/@main_event.png" alt="KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내 포스터"></span>
									<span class="txt">KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="img"><img src="../../static/images/uscmuseum/temp/@main_event.png" alt="KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내 포스터"></span>
									<span class="txt">KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="img"><img src="../../static/images/uscmuseum/temp/@main_event.png" alt="KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내 포스터"></span>
									<span class="txt">KBS 제1라디오 ‘즐거운라디오 여기는 안동입니다’ 방송 안내</span>
								</a>
							</div>
						</div>
					</div>
					<!--// 진행중 행사 -->
					<!-- 팝업존 -->
					<div class="main-popup js-main-popup">
						<h2 class="tit">박물관 팝업존</h2>
						<div class="indicator">
							<p><button type="button" class="btn-prev"><span>팝업존 슬라이드 이전으로 이동</span></button></p>
							<p><button type="button" class="btn-next"><span>팝업존 슬라이드 다음으로 이동</span></button></p>
							<p><a href="#" class="btn-more"><span>팝업존 더보기</span></a></p>
						</div>
						<div class="slider">
							<div class="slide"><a href="#"><img src="../../static/images/uscmuseum/temp/@main_pop1.png" alt="팝업 이름"></a></div>
							<div class="slide"><a href="#"><img src="../../static/images/uscmuseum/temp/@main_pop1.png" alt="팝업 이름"></a></div>
							<div class="slide"><a href="#"><img src="../../static/images/uscmuseum/temp/@main_pop1.png" alt="팝업 이름"></a></div>
						</div>
					</div>
					<!-- //진행중 행사 / 팝업존 -->
				</div>
				<!--// 행사, 팝업존 -->

				<!-- 자주찾는 서비스 -->
				<div class="main-favorit-zone">
					<div class="inner">
						<h2 class="tit">자주찾는<br>서비스</h2>
						<div class="favorit-service js-favorit-service">
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit1.png" alt=""></span>
									<span class="name">관람안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit2.png" alt=""></span>
									<span class="name">시설현황</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit3.png" alt=""></span>
									<span class="name">대관안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit4.png" alt=""></span>
									<span class="name">E-안내책자</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit5.png" alt=""></span>
									<span class="name">행사일정</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit6.png" alt=""></span>
									<span class="name">교육안내</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit7.png" alt=""></span>
									<span class="name">포토갤러리</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit8.png" alt=""></span>
									<span class="name">찾아오시는길</span>
								</a>
							</div>
							<div class="slide">
								<a href="#">
									<span class="icon"><img src="../../static/images/uscmuseum/main/icon_favorit9.png" alt=""></span>
									<span class="name">물놀이장</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--// 자주찾는 서비스 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// 박물관 팝업존
	$('.js-main-popup .slider').slick({
		dots: false,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		// autoplay: false,
		autoplaySpeed: 3000,
		nextArrow : $('.js-main-popup .btn-next'),
		prevArrow : $('.js-main-popup .btn-prev')
	});
	// 박물관 진행중인 행사
	$('.js-main-event .slider').slick({
		dots: false,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 3,
		slidesToScroll: 1,
		autoplay: true,
		// autoplay: false,
		autoplaySpeed: 3000,
		nextArrow : $('.js-main-event .btn-next'),
		prevArrow : $('.js-main-event .btn-prev'),
		responsive: [
			{
				breakpoint: 1024,
				settings: {
			      slidesToShow: 2
			   }
			}
		]
	});
	// 자주찾는 서비스
	$('.js-favorit-service').slick({
		dots: false,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 9,
		slidesToScroll: 1,
		arrows:false,
		responsive: [
			{
				breakpoint: 1024,
				settings: {
			      slidesToShow: 4,
			      slidesToScroll: 1
			   }
			}
		]
	});
	// 메인 비주얼
	$('.js-visual-slider .slide').each(function(){
		$(this).find(".img.pc").css({"background":"url("+$(this).find(".img.pc img").attr("src")+") no-repeat 50% 50%"});
		$(this).find(".img.m").css({"background":"url("+$(this).find(".img.m img").attr("src")+") no-repeat 50% 50%"});
	})
	$('.js-visual-slider').slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		customPaging :  function(slick,index) {
			var i = index + 1
         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
      }
	});

</script>
</body>
</html>