<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>상설전시실 &lt; 전시안내 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="exhibition"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">상설전시실</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<!-- 탭 -->
								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent" aria-selected="true"><span>상설전시실</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>어린이고고발굴체험관</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>민속유물전시관</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>고분전시관</span></a></li>
								</ul>
								<!-- //탭 -->
								<h3 class="heading-h3">상성전시실</h3>
								<div class="exhibition-zone mt25">
									<!-- img-contets -->
									<div class="img-contets">
										<div id="imgtab1" role="tabpanel" style="display:block;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_01.jpg" alt="ZONE-5 의성인의 찬란한 문화유산의 유물 전시 모습">
										</div>
										<div id="imgtab2" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_02.jpg" alt="ZONE-2 의성인의 유래 내 의성의 순장문화를 보여주는 유골 전시 모습">
										</div>
										<div id="imgtab3" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_03.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 선사시대 생활사를 보여주는 전시품">
										</div>
										<div id="imgtab4" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_04.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 구석기시대 생활사를 보여주는 유물">
										</div>
										<div id="imgtab5" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_05.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 청동기 철기시대 생활사를 보여주는 유물과 군락 예상도">
										</div>
										<div id="imgtab6" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_06.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 삼한시대 생활사를 보여주는 생활도구 유물과 군락 예상도">
										</div>
										<div id="imgtab7" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_07.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 일부 전경">
										</div>
										<div id="imgtab8" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_08.jpg" alt="ZONE-2 의성인의 유래 내 신분에 따른 여성 의복의 종류">
										</div>
										<div id="imgtab9" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_09.jpg" alt="ZONE-4 조문국의 성립과 소멸 내 전쟁관련 유물과 전쟁모습 입체 전시품">
										</div>
										<div id="imgtab10" role="tabpanel" style="display:none;">
											<img src="../../static/images/uscmuseum/subpage/img_exhibition_10.jpg" alt="ZONE-5 의성인의 찬란한 문화 유산 내 일부 전경">
										</div>
									</div>
									<!-- // img-contets -->
									<!-- tab -->
									<ul role="tablist">
										<li role="presentation">
											<a href="#imgtab1" role="tab" aria-controls="imgtab1" aria-selected="true">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_01.jpg" alt="ZONE-5 의성인의 찬란한 문화유산의 유물 전시 모습">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab2" role="tab" aria-controls="imgtab2">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_02.jpg" alt="ZONE-2 의성인의 유래 내 의성의 순장문화를 보여주는 유골 전시 모습">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab3" role="tab" aria-controls="imgtab3">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_03.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 선사시대 생활사를 보여주는 전시품">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab4" role="tab" aria-controls="imgtab4">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_04.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 구석기시대 생활사를 보여주는 유물">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab5" role="tab" aria-controls="imgtab5">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_05.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 청동기 철기시대 생활사를 보여주는 유물과 군락 예상도">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab6" role="tab" aria-controls="imgtab6">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_06.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 중 삼한시대 생활사를 보여주는 생활도구 유물과 군락 예상도">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab7" role="tab" aria-controls="imgtab7">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_07.jpg" alt="ZONE-3 환경 변화에 따른 의성인의 생활사 일부 전경">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab8" role="tab" aria-controls="imgtab8">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_08.jpg" alt="ZONE-2 의성인의 유래 내 신분에 따른 여성 의복의 종류">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab9" role="tab" aria-controls="imgtab9">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_09.jpg" alt="ZONE-4 조문국의 성립과 소멸 내 전쟁관련 유물과 전쟁모습 입체 전시품">
											</a>
										</li>
										<li role="presentation">
											<a href="#imgtab10" role="tab" aria-controls="imgtab10">
												<img src="../../static/images/uscmuseum/subpage/img_exhibition_10.jpg" alt="ZONE-5 의성인의 찬란한 문화 유산 내 일부 전경">
											</a>
										</li>
									</ul>
									<!-- // tab -->
								</div>
								<h4 class="heading-h4 mt25">전시내용</h4>
								<p class="comp-lst_dotted ml4">조문국의 역사와 선사 시대, 삼한시대, 삼국시대 및 의성 지역의 역사와 문화를 살펴볼 수 있습니다.<br>특히 의성 지역 출토 유물과 더불어 이해를 돕기 위하여 다양한 모형과 영상을 활용한 전시공간을 마련하였습니다.</p>
								<h4 class="heading-h4 mt30">스토리라인</h4>
								<p class="comp-lst_dotted ml4">역사의 빛 → 의성인의 유래 → 환경 변화에 따른 의성인의 생활사 → 조문국의 성립과 멸망 → 의성인의 찬란한 문화유산</p>
								<h4 class="heading-h4 mt30">전시유물</h4>
								<div class="list-relic mt15 ml50">
									<ul>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_01.jpg" alt="고 배"></span>
												<span class="txt">고 배</span>
											</a>
										</li>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_02.jpg" alt="대부단경호"></span>
												<span class="txt">대부단경호</span>
											</a>
										</li>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_03.jpg" alt="운 주"></span>
												<span class="txt">운 주</span>
											</a>
										</li>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_04.jpg" alt="대 호"></span>
												<span class="txt">대 호</span>
											</a>
										</li>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_05.jpg" alt="나비모양관장식"></span>
												<span class="txt">나비모양관장식</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_06.jpg" alt="금동관"></span>
												<span class="txt">금동관</span>
											</a>
										</li>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_07.jpg" alt="정만록"></span>
												<span class="txt">정만록</span>
											</a>
										</li>
										<li>
											<a href="#" target="_blank" title="새창으로 열림">
												<span class="img-area"><img src="../../static/images/uscmuseum/subpage/img_relic_08.jpg" alt="울릉도사적"></span>
												<span class="txt">울릉도사적</span>
											</a>
										</li>
									</ul>
								</div>

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>