<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>시설대관안내 &lt; 이용안내 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">시설대관안내</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 상단 탭 -->
								<ul class="comp-tab" role="tablist">
									<li role="presentation"><a href="#tabCont1" role="tab" aria-controls="tabCont1" aria-selected="true"><span>의성조문국박물관</span></a></li>
									<li role="presentation"><a href="#tabCont2" role="tab" aria-controls="tabCont2"><span>민속유물전시관</span></a></li>
									<li role="presentation"><a href="#tabCont3" role="tab" aria-controls="tabCont3"><span>고분전시관</span></a></li>
								</ul>
								<!--// 상단 탭 -->

								<!-- 의성조문국박물관 -->
								<div id="tabCont1" role="tabpanel">
									<h3 class="heading-h3">의성조문국박물관</h3>

									<div class="floor-plan">
										<!-- 이미지 탭 -->
										<ul class="comp-tab" role="tablist">
											<li role="presentation"><a href="#smallTabCont1_1" role="tab" aria-controls="smallTabCont1_1" aria-selected="true"><span>1층</span></a></li>
											<li role="presentation"><a href="#smallTabCont1_2" role="tab" aria-controls="smallTabCont1_2"><span>2층</span></a></li>
											<li role="presentation"><a href="#smallTabCont1_3" role="tab" aria-controls="smallTabCont1_3"><span>3층</span></a></li>
										</ul>
										<!--// 이미지 탭 -->

										<!-- 1층 -->
										<div id="smallTabCont1_1" role="tabpanel">
											<div class="img"><img src="../../static/images/uscmuseum/subpage/img_map1_1.png" alt="의성조문국박물관 1층 평면도"></div>
											<div class="list">
												<ul>
													<li> <span class="num">01</span><span class="txt">어린이고고발굴체험관</span> </li>
													<li> <span class="num">02</span><span class="txt">강당</span> </li>
													<li> <span class="num">03</span><span class="txt">사무실</span> </li>
												</ul>
											</div>
										</div>
										<!-- 2층 -->
										<div id="smallTabCont1_2" role="tabpanel" style="display: none">
											<div class="img"><img src="../../static/images/uscmuseum/subpage/img_map1_2.png" alt="의성조문국박물관 2층 평면도"></div>
											<div class="list">
												<ul>
													<li> <span class="num">01</span><span class="txt">상설전시회</span> </li>
													<li> <span class="num">02</span><span class="txt">세미나실</span> </li>
												</ul>
											</div>
										</div>
										<!-- 3층 -->
										<div id="smallTabCont1_3" role="tabpanel" style="display: none">
											<div class="img"><img src="../../static/images/uscmuseum/subpage/img_map1_3.png" alt="의성조문국박물관 3층 평면도"></div>
											<div class="list">
												<ul>
													<li> <span class="num">01</span><span class="txt">기획전시실</span> </li>
													<li> <span class="num">02</span><span class="txt">옥상정원</span> </li>
													<li> <span class="num">03</span><span class="txt">사무실/관장실</span> </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--// 의성조문국박물관 -->
								<!-- 민속유물전시관 -->
								<div id="tabCont2" role="tabpanel" style="display:none">
									<h3 class="heading-h3">민속유물전시관</h3>

									<div class="floor-plan">
										<!-- 이미지 탭 -->
										<ul class="comp-tab" role="tablist">
											<li role="presentation"><a href="#smallTabCont2_1" role="tab" aria-controls="smallTabCont2_1" aria-selected="true"><span>1층</span></a></li>
											<li role="presentation"><a href="#smallTabCont2_2" role="tab" aria-controls="smallTabCont2_2"><span>2층</span></a></li>
										</ul>
										<!--// 이미지 탭 -->

										<!-- 1층 -->
										<div id="smallTabCont2_1" role="tabpanel">
											<div class="img"><img src="../../static/images/uscmuseum/subpage/img_map2_1.png" alt="민속유물전시관 1층 평면도"></div>
											<div class="list">
												<ul>
													<li> <span class="num">01</span><span class="txt">근대민족전시실</span> </li>
													<li> <span class="num">02</span><span class="txt">조문초등학교 역사실</span> </li>
													<li> <span class="num">03</span><span class="txt">문화체험실</span> </li>
												</ul>
											</div>
										</div>
										<!-- 2층 -->
										<div id="smallTabCont2_2" role="tabpanel" style="display: none">
											<div class="img"><img src="../../static/images/uscmuseum/subpage/img_map2_2.png" alt="민속유물전시관 2층 평면도"></div>
											<div class="list">
												<ul>
													<li> <span class="num">01</span><span class="txt">전통민속놀이</span> </li>
													<li> <span class="num">02</span><span class="txt">기증유물전시</span> </li>
													<li> <span class="num">03</span><span class="txt">씨름의 세계</span> </li>
												</ul>
												<ul>
													<li> <span class="num">04</span><span class="txt">조문에서 의성으로</span> </li>
													<li> <span class="num">05</span><span class="txt">연의 세계</span> </li>
													<li> <span class="num">06</span><span class="txt">의성기마싸움</span> </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--// 민속유물전시관 -->
								<!-- 고분전시관 -->
								<div id="tabCont3" role="tabpanel" style="display:none">
									<h3 class="heading-h3">고분전시관</h3>

									<div class="floor-plan">
										<div class="img"><img src="../../static/images/uscmuseum/subpage/img_map3.png" alt="고분전시관 평면도"></div>
										<div class="list">
											<ul>
												<li><span class="num">01</span><span class="txt">고대 의성의 비밀통로</span></li>
												<li><span class="num">02</span><span class="txt">금성산 고분군 분포와 현황</span></li>
												<li><span class="num">03</span><span class="txt">금성산 고분군 형성과정</span></li>
												<li><span class="num">04</span><span class="txt">대리리 2호분</span></li>
												<li><span class="num">05</span><span class="txt">대리리 2호분 유구</span></li>
												<li><span class="num">06</span><span class="txt">대리리 2호분 출토유물</span></li>
											</ul>
											<ul>
												<li><span class="num">07</span><span class="txt">대리리 2호분 출토유물</span></li>
												<li><span class="num">08</span><span class="txt">대리리 2호분 유물</span></li>
												<li><span class="num">09</span><span class="txt">의성지역의 순장사례</span></li>
												<li><span class="num">10</span><span class="txt">대리리 2호분 순장문화의 비밀</span></li>
												<li><span class="num">11</span><span class="txt">경덕왕릉 설화</span></li>
												<li><span class="num">12</span><span class="txt">봉토 축조 과정 디오라마</span></li>
											</ul>
										</div>
									</div>
								</div>
								<!--// 고분전시관 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>