<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>가상체험(VR) &lt; 전시안내 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="vr"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">가상체험(VR)</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<h3 class="heading-h3">가상체험(VR)</h3>
								<div class="gallery-vr mt20">
									<ul role="tablist" aria-label="가상체험(VR) 탭 메뉴">
										<li role="presentation">
											<a href="#tabId1" role="tab" aria-controls="tabId1" aria-selected="true">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_01.jpg" alt="상설전시실 내 의성인의 유래 코너"></div>
												<div class="txt"><span>상설전시실<br class="pc">(의성인의 유래)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId2" role="tab" aria-controls="tabId2">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_02.jpg" alt="상설전시실 내 의성인의 생활사 전시코너"></div>
												<div class="txt"><span>상설전시실<br class="pc">(의성인의 생활사)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId3" role="tab" aria-controls="tabId3">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_03.jpg" alt="상설전시실 내 조문국의 성립과 소멸 전시코너"></div>
												<div class="txt"><span>상설전시실<br>(조문국의 성립과 소멸)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId4" role="tab" aria-controls="tabId4">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_04.jpg" alt="상설전시실 내 의성의 고분 전시코너"></div>
												<div class="txt"><span>상설전시실<br>(의성의 고분)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId5" role="tab" aria-controls="tabId5">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_05.jpg" alt="상설전시실 내 의성인의 찬란한 문화유산 1 전시코너"></div>
												<div class="txt"><span>상설전시실<br>(의성인의 찬란한<br>문화유산1)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId6" role="tab" aria-controls="tabId6">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_06.jpg" alt="상설전시실 내 의성인의 찬란한 문화유산 2 전시코너"></div>
												<div class="txt"><span>상설전시실<br>(의성인의 찬란한<br>문화유산2)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId7" role="tab" aria-controls="tabId7">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_07.jpg" alt="어린이 고고 발굴체험관 코너"></div>
												<div class="txt"><span>어린이 고고<br>발굴체험관</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId8" role="tab" aria-controls="tabId8">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_08.jpg" alt="민속유물전시관 내 의성인의 민속놀이 전시코너"></div>
												<div class="txt"><span>민속유물전시관<br>(의성인의 민속놀이)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId9" role="tab" aria-controls="tabId9">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_09.jpg" alt="민속유물전시관 내 의성인의 민속놀이 전시코너"></div>
												<div class="txt"><span>민속유물전시관<br> (의성인의 민속놀이)</span></div>
											</a>
										</li>
										<li role="presentation">
											<a href="#tabId10" role="tab" aria-controls="tabId10">
												<div class="thumbnail"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_10.jpg" alt="고분전시관 내부"></div>
												<div class="txt"><span>고분전시관</span></div>
											</a>
										</li>
									</ul>
									<div class="cont-gallery">
										<div id="tabId1" role="tabpanel" style="display: block">
											<div class="vr_area"><img src="../../static/images/uscmuseum/temp/@img_gallery_vr_01.jpg" alt="상설전시실 내 의성인의 유래 코너 전경"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId2" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_02.jpg" alt="상설전시실 내 의성인의 생활사 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId3" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_03.jpg" alt="상설전시실 내 조문국의 성립과 소멸 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId4" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_04.jpg" alt="상설전시실 내 의성의 고분 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId5" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_05.jpg" alt="상설전시실 내 의성인의 찬란한 문화유산 1 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId6" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_06.jpg" alt="상설전시실 내 의성인의 찬란한 문화유산 2 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId7" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_07.jpg" alt="어린이 고고 발굴체험관 코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId8" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_08.jpg" alt="민속유물전시관 내 의성인의 민속놀이 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId9" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_09.jpg" alt="민속유물전시관 내 의성인의 민속놀이 전시코너"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
										<div id="tabId10" role="tabpanel" style="display: none">
											<div class="vr_area"><img src="../../static/images/uscmuseum/subpage/img_vr_thumbnail_10.jpg" alt="고분전시관 내부"></div><!-- vr영역 임시로 이미지 넣음 -->
										</div>
									</div>
								</div>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>