<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>시설대관안내 &lt; 이용안내 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="muse_part01_02"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">시설대관안내</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<div class="comp-iconbox">
									<div class="icon"><img src="../../static/images/uscmuseum/subpage/ico_muse02.png" alt=""></div>
									<div class="cont">
										<h3 class="tit">시설안내</h3>
										<P class="comp-lst_dotted_grey"><span class="cont">의성조문국박물관에서는 <em class="line">교육 및 학술활동과 문화예술행사</em> 등에 대해서 관내 최신 시설을 여러분과 함께 공유하고 싶습니다.</span></P>
									</div>
								</div>
								
								<h3 class="heading-h3 mt25">대관신청안내</h3>
								<ol class="flow-chart mt25">
									<li><span class="bold">신청서 작성</span></li>
									<li><span class="bold">접 수</span></li>
									<li><span class="bold">심 사</span></li>
									<li><span class="bold">결재(관장)</span></li>
									<li><span class="bold">승인<br>(결과통지)</span></li>
								</ol>
								<div class="btn_box mt40">
									<a href="#" class="comm-btn_type4_whitegray" target="_blank" ><span>대관허가신청서 다운로드</span></a>
									<a href="#" class="comm-btn_type4_whitegray ml20" target="_blank"><span>대관허가변경신청서 다운로드</span></a>
									<a href="#" class="comm-btn_type4_whitegray ml20" target="_blank"><span>대관허가취소신청서 다운로드</span></a>
								</div>

								<h3 class="heading-h3 mt50">박물관 대관료</h3>
								<div class="scrollzone">
									<div class="scrollzoneinner">
										<table class="comp-tbl_datatype">
											<caption>박물관 대관료 - 구분, 단위, 면적, 부대시설, 사용료, 냉&middot;난방비, 비고</caption>
											<colgroup>
												<col style="width:107px">
												<col style="width:65px">
												<col style="width:132px">
												<col>
												<col style="width:110px">
												<col style="width:104px">
												<col style="width:164px">
											</colgroup>
											<thead>
												<tr>
													<th>구분</th>
													<th>단위</th>
													<th>면적</th>
													<th>부대시설</th>
													<th>사용료</th>
													<th>냉&middot;난방비</th>
													<th>비고</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>기획전시실</td>
													<td>1회</td>
													<td>170㎡</td>
													<td>조명시설(진열장 사용 제외)</td>
													<td>50,000원</td>
													<td>40,000원</td>
													<td>1일 기준 사용료</td>
												</tr>
												<tr>
													<td>강당</td>
													<td>1회</td>
													<td>222㎡/165석<br>(무대면적 29㎡)</td>
													<td>조명, 음향재생기(CD, DVD), 마이크(유선7, 무선2, 핀2) 빔프로젝트, 영사실</td>
													<td>50,000원</td>
													<td>40,000원</td>
													<td>1회 4시간 사용 기준 (조명, 음향시설 무료)</td>
												</tr>
												<tr>
													<td>세미나실</td>
													<td>1회</td>
													<td>64㎡/30석</td>
													<td>조명, 빔프로젝트, 테이블, 의자<br>음향재생기(CD, DVD) 마이크(유선2, 무선2)</td>
													<td>30,000원</td>
													<td>20,000원</td>
													<td>1회 4시간 사용 기준 (조명, 음향시설 무료)</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tbl-bottom-utile">
									<p class="comp-lst_important bold">토 &middot; 일 &middot; 공휴일 사용 시 30% 가산</p>
								</div>

								<h3 class="heading-h3 mt50">신청기간</h3>
								<p class="heading-h4 mt20">수시 및 시설사용예정일 2개월 전까지 신청</p>

								<h3 class="heading-h3 mt50">신청방법</h3>
								<p class="heading-h4 mt20">방문 및 우편, 팩스 접수 </p>

								<h3 class="heading-h3 mt50">구비서류</h3>
								<p class="heading-h4 mt20">의성조문국박물관 대관허가 신청서</p>

								<h3 class="heading-h3 mt50">대관료 납부</h3>
								<p class="heading-h4 mt20">사용예정일 7일 전까지 대관료 납부, 부득이한 사유가 있다고 군수가 인정하는 경우 행사일 전일까지 납부</p>

								<h3 class="heading-h3 mt50">신청대상</h3>
								<p class="heading-h4 mt20">문화예술발전에 기여할 수 있는 전시, 공연 등</p>
								<p class="comp-lst_important mt15 ml4">대관 사용신청 전 반드시 담당자와 협의 후 신청해 주세요 (☎054-830-6909)</p>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>