<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>시설대관안내 &lt; 이용안내 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">시설대관안내</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<h3 class="heading-h3">전체안내</h3>
								<p class="map mt20"><img src="../../static/images/uscmuseum/subpage/img_allmap.png" alt="전체안내 평면도"></p>

								<h3 class="heading-h3 mt35">전체안내 / 문화체험(물놀이장)</h3>
								<div class="uscmuseum-view-zone">
									<!-- img tab contents -->
									<div class="img-tabconts">
										<!-- img 1 -->
										<div id="imgtab1" role="tabpanel" style="display: block;">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">1</span>거울연못</p>
										</div>
										<!-- img 2 -->
										<div id="imgtab2" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">2</span>거울연못</p>
										</div>
										<!-- img 3 -->
										<div id="imgtab3" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">3</span>거울연못</p>
										</div>
										<!-- img 4 -->
										<div id="imgtab4" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">4</span>거울연못</p>
										</div>
										<!-- img 5 -->
										<div id="imgtab5" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">5</span>거울연못</p>
										</div>
										<!-- img 6 -->
										<div id="imgtab6" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">6</span>거울연못</p>
										</div>
										<!-- img 7 -->
										<div id="imgtab7" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">7</span>거울연못</p>
										</div>
										<!-- img 8 -->
										<div id="imgtab8" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">8</span>거울연못</p>
										</div>
										<!-- img 9 -->
										<div id="imgtab9" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">9</span>거울연못</p>
										</div>
										<!-- img 10 -->
										<div id="imgtab10" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">10</span>거울연못</p>
										</div>
										<!-- img 11 -->
										<div id="imgtab11" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">11</span>거울연못</p>
										</div>
										<!-- img 12 -->
										<div id="imgtab12" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">12</span>거울연못</p>
										</div>
										<!-- img 13 -->
										<div id="imgtab13" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">13</span>거울연못</p>
										</div>
										<!-- img 14 -->
										<div id="imgtab14" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">14</span>거울연못</p>
										</div>
										<!-- img 15 -->
										<div id="imgtab15" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">15</span>거울연못</p>
										</div>

										<!-- img 1 -->
										<div id="imgothertab1" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">1</span>거울연못</p>
										</div>
										<!-- img 2 -->
										<div id="imgothertab2" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">2</span>거울연못</p>
										</div>
										<!-- img 3 -->
										<div id="imgothertab3" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">3</span>거울연못</p>
										</div>
										<!-- img 4 -->
										<div id="imgothertab4" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">4</span>거울연못</p>
										</div>
										<!-- img 5 -->
										<div id="imgothertab5" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">5</span>거울연못</p>
										</div>
										<!-- img 6 -->
										<div id="imgothertab6" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">6</span>거울연못</p>
										</div>
										<!-- img 7 -->
										<div id="imgothertab7" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">7</span>거울연못</p>
										</div>
										<!-- img 8 -->
										<div id="imgothertab8" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">8</span>거울연못</p>
										</div>
										<!-- img 9 -->
										<div id="imgothertab9" role="tabpanel">
											<img src="../../static/images/uscmuseum/subpage/img_all2.png" alt="거울연못">
											<p class="imgtxt"><span class="num">9</span>거울연못</p>
										</div>
									</div>
									<!--// img tab contents -->
									<!-- img tab -->
									<ul role="tablist">
										<li role="presentation"><a href="#imgtab1" role="tab" aria-controls="imgtab1" aria-selected="true"><span>1</span></a></li>
										<li role="presentation"><a href="#imgtab2" role="tab" aria-controls="imgtab2"><span>2</span></a></li>
										<li role="presentation"><a href="#imgtab3" role="tab" aria-controls="imgtab3"><span>3</span></a></li>
										<li role="presentation"><a href="#imgtab4" role="tab" aria-controls="imgtab4"><span>4</span></a></li>
										<li role="presentation"><a href="#imgtab5" role="tab" aria-controls="imgtab5"><span>5</span></a></li>
										<li role="presentation"><a href="#imgtab6" role="tab" aria-controls="imgtab6"><span>6</span></a></li>
										<li role="presentation"><a href="#imgtab7" role="tab" aria-controls="imgtab7"><span>7</span></a></li>
										<li role="presentation"><a href="#imgtab8" role="tab" aria-controls="imgtab8"><span>8</span></a></li>
										<li role="presentation"><a href="#imgtab9" role="tab" aria-controls="imgtab9"><span>9</span></a></li>
										<li role="presentation"><a href="#imgtab10" role="tab" aria-controls="imgtab10"><span>10</span></a></li>
										<li role="presentation"><a href="#imgtab11" role="tab" aria-controls="imgtab11"><span>11</span></a></li>
										<li role="presentation"><a href="#imgtab12" role="tab" aria-controls="imgtab12"><span>12</span></a></li>
										<li role="presentation"><a href="#imgtab13" role="tab" aria-controls="imgtab13"><span>13</span></a></li>
										<li role="presentation"><a href="#imgtab14" role="tab" aria-controls="imgtab14"><span>14</span></a></li>
										<li role="presentation"><a href="#imgtab15" role="tab" aria-controls="imgtab15"><span>15</span></a></li>

										<li role="presentation"><a href="#imgothertab1" role="tab" aria-controls="imgothertab1" ><span>1</span></a></li>
										<li role="presentation"><a href="#imgothertab2" role="tab" aria-controls="imgothertab2"><span>2</span></a></li>
										<li role="presentation"><a href="#imgothertab3" role="tab" aria-controls="imgothertab3"><span>3</span></a></li>
										<li role="presentation"><a href="#imgothertab4" role="tab" aria-controls="imgothertab4"><span>4</span></a></li>
										<li role="presentation"><a href="#imgothertab5" role="tab" aria-controls="imgothertab5"><span>5</span></a></li>
										<li role="presentation"><a href="#imgothertab6" role="tab" aria-controls="imgothertab6"><span>6</span></a></li>
										<li role="presentation"><a href="#imgothertab7" role="tab" aria-controls="imgothertab7"><span>7</span></a></li>
										<li role="presentation"><a href="#imgothertab8" role="tab" aria-controls="imgothertab8"><span>8</span></a></li>
										<li role="presentation"><a href="#imgothertab9" role="tab" aria-controls="imgothertab9"><span>9</span></a></li>
									</ul>									
									<!--// img tab -->
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>