<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>관람안내 &lt; 이용안내 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="muse_part01_01"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">관람안내</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 상단 아이콘 박스 영역 -->
								<div class="comp-iconbox">
									<div class="icon"><img src="../../static/images/uscmuseum/subpage/ico_muse01.png" alt=""></div>
									<div class="cont">
										<h3 class="tit">Visitor Guides</h3>
										<P class="comp-lst_dotted_grey"><span class="cont">관람에 대한 자세한 내용을 신속히 전달받고 싶으신 분은 문의전화(☎054-830-6909)로 연락 주시기 바랍니다.</span></P>
									</div>
								</div>
								<!-- 헤딩타입 -->
								<h3 class="heading-h3 mt25">관람안내</h3>
								<ol>
									<li class="mt20">
										<h4 class="bold">1. 관람 및 매표시간</h4>
										<ul class="mt10">
											<li>관람시간 : <span class="txt">09:00 ~ 18:00</span></li>
											<li>매표시간 : <span class="txt">09:00 ~ 17:00</span>(관람시간 종료 1시간 전까지)</li>
										</ul>
									</li>
									<li class="mt20">
										<h4 class="bold">2. 휴관일</h4>
										<ul class="mt10">
											<li>1월 1일, 매주 월요일(월요일이 공휴일일 때에는 공휴일 다음의 첫번째 평일)</li>
											<li>설날&middot;추석 당일, 의성군수가 정하는 날</li>
										</ul>
									</li>
									<li class="mt20">
										<h4 class="bold">3. 관람료</h4>
										<ul class="mt10">
											<li>박물관 상설전시실, 민속유물전시관, 고분전시관, 어린이고고발굴체험관은 무료입니다.<br>(단, 자체기획전과 대관전은 유료일 수 있습니다.)</li>
											<li>관람질서 유지 및 이용객 안전 등을 위해 무료 관람권을 발급받아 입장하셔야 합니다.</li>
										</ul>
									</li>
									<li class="mt20">
										<h4 class="bold">4. 자체기획전 관람 무료</h4>
										<ul class="mt10">
											<li class="ebold">다음 안내에 해당하는 경우 <span class="txt">관람료는 무료</span>입니다.</li>
											<li>① 국빈&middot;외교사절단 및 그 수행자</li>
											<li>② 「국가유공자 등 예우 및 지원에 관한 법률」의 적용을 받는 국가유공자와 그 유족 또는 가족</li>
											<li>③ 「장애인복지법」제32조에 따라 등록된 3급 이상 장애인과 동행하는 보호자 1명</li>
											<li>④ 「독립유공자 예우에 관한 법률」의 적용을 받는 독립유공자와 그 유족 또는 가족</li>
											<li>⑤ 「참전유공자 예우에 관한 법률」의 적용을 받는 참전유공자와 그 유족 또는 가족</li>
											<li>⑥ 「5.18민주유공자 예우에 관한 법률」의 적용을 받는 5.18민주유공자와 그 유족 또는 가족</li>
											<li>⑦ 유물기증자</li>
											<li>⑧ 6세 이하의 미취학 어린이와 65세 이상인 경로대상자</li>
											<li>⑨ 단체의 인솔 및 안내를 목적으로 하는 교원 및 관광 안내사</li>
											<li>⑩ 「국민기초생활 보장법」제5조에 따른 수급권자</li>
											<li>⑪ 공무수행을 위하여 출입하는 사람</li>
											<li>⑫ 그 밖에 군수가 박물관 운영상 특히 필요하다고 인정하는 사람</li>
										</ul>
									</li>
								</ol>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>