<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>건축계획개념 &lt; 박물관소개 &lt; 조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="notion"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">건축계획개념</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<div class="visual-img">
									<p class="img-txt01"><img src="../../static/images/uscmuseum/subpage/txt_visual01.png" alt="시간의 흔적을 머금고 자라는 나무"></p>
									<p class="img-txt02"><img src="../../static/images/uscmuseum/subpage/txt_visual02.png" alt="TIME TREES"></p>
								</div>
								<h3 class="heading-h3 mt40">계획의 주안점</h3>
								<h4 class="heading-h4 mt20">의성군만의 문화성과 역사성이 잘 반영된 상징적 건축물 구현</h4>
								<h4 class="heading-h4 mt15">박물관 교육과 문화적 기능을 함께 할 수 있는 복합문화센터로서의 박물관 추구</h4>
								<h4 class="heading-h4 mt15">주변의 자연경관 및 고대유적과의 연계성 강화로 문화, 관광자원으로서의 박물관 창출</h4>
								<h3 class="heading-h3 mt40">디자인목표</h3>
								<div class="comp-txt_box mt20">
									<p class="tit">시간의 흔적을 머금고 자라나는 나무, <span class="green">TIME TREES</span></p>
									<p class="txt">현재 남아있는 조문국의 흔적들은 미미하지만, 대지 전면에 있는 금성산 고분군을 통하여 그 찬란했던 역사를 재확인할 수 있게 된다.<br>의성조문국박물관은 이렇게 점점 잊혀져가는 역사의 흔적들을 담아내어, 의성군만의 독창적인 문화와 역사가 반영된 정신적, 실질적 랜드마크가 되어야 한다.<br>유구한 역사와 문화를 지닌 유서깊은 도시 의성, 그 시간성을 담으며 상징성을 부여하는 것, 고대 조문국의 흔적인 금성산 고분군과의 연계성을 가지는 것,<br>그리고 관람자들의 지속적인 방문이 이뤄질 수 있는 새로운 박물관이 되는 것, 이것들을 디자인 목표로 두었다.</p>
								</div>
								<div class="design-wrap">
									<div class="design-area">
										<p class="tit">디자인 목표</p>
										<em class="yellow sub-tit">Communlcation</em>
										<ul>
											<li>
												<div class="design">
													<p class="bg01">과거</p>
													<p>Old</p>
												</div>
												<div class="and"><span>&</span></div>
												<div class="design">
													<p class="bg02">미래</p>
													<p>New</p>
												</div>
											</li>
											<li>
												<div class="design">
													<p class="bg03">커뮤니티</p>
													<p>Community</p>
												</div>
												<div class="and"><span>&</span></div>
												<div class="design">
													<p class="bg04">의성조문국박물관</p>
													<p>Museum</p>
												</div>
											</li>
											<li>
												<div class="design">
													<p class="bg05">전시물</p>
													<p>Object</p>
												</div>
												<div class="and"><span>&</span></div>
												<div class="design">
													<p class="bg06">관람자</p>
													<p>Viewers</p>
												</div>
											</li>
										</ul>
									</div>

									<div class="design-area concept">
										<p class="tit">디자인 컨셉</p>
										<em class="green sub-tit">Tree</em>
										<ul>
											<li>
												<p class="txt01">상징성</p>
											</li>
											<li>
												<p class="txt02">주변과의 연계성</p>
											</li>
											<li>
												<p class="txt03">전시 및 관람의<br>쾌적성</p>
											</li>
										</ul>
									</div>

									<div class="tree-area">
										<p class="tit">의성의 유구한 역사와 문화를 담은<span>나무가 자란다</span></p>
										<p class="txt">성장한다<br>흔적이 있다<br>쉼터를 제공한다<br>아름답다<br>변한다</p>
									</div>
								</div>
								<ul class="plan-list">
									<li>
										<p class="tit">상징성</p>
										<ul class="comp-lst_dotted">
											<li>역사성 : 살아온 시간의 흔적들을 보여주는 나이테처럼 유구한 문화와 역사를 가진 의성의 오랜 시간의 흔적들을 표현</li>
											<li>지역성 : 의성에서 많이 나는 금(Gold)과 흑요석(Black)의 색채를 모티브로 한 재료 계획</li>
											<li>미래지향성 : 선사시대부터 조문국, 현재 그리고 미래를 향해 성장하는 의성을 표현 상층부 매스에 세련됨, 상승감 등의 미래지향적인 상징적 성격 부여</li>
										</ul>
										<div class="img-area">
											<img src="../../static/images/uscmuseum/subpage/img_symbolism.png" alt="나무의 나이테처럼 흔적을 표현하고, 금과 흑요석의 색채를 모티브로 하여 미래지향적인 상징을 뜻함">
										</div>
									</li>
									<li>
										<p class="tit">주변과의<br>연계성</p>
										<ul class="comp-lst_dotted">
											<li>조형성 : 세 그루의 나무가 자라면서 서로 엉켜 마치 한그루처럼 자라는 이미지의 매스형태. 뿌리에서부터 위로 올라갈수록 우거진 나무형태와 같이 개방된 저층부 매스로 시각적 열림과 공공성 및 개방성 확보</li>
											<li>축 Axis : 오동산과 지석묘에서 경덕왕릉을 향한 경관축 배치로 조망성 우수</li>
											<li>주변 Context : 진입의 연속성, 오동산과 지석묘의 흐름, 경덕왕릉과 금성산의 흐름을 대지 내부로 끌어들여 조화시킴.</li>
										</ul>
										<div class="img-area">
											<img src="../../static/images/uscmuseum/subpage/img_connectivity.png" alt="조형성은 세 그루의 나무가 자라는 형태, 축은 경곽축 배치, 주변은 주요 흐름을 대지 내부로 끌어들여 조화시킴">
										</div>
									</li>
									<li>
										<p class="tit">전시 및 관람의<br>쾌적성</p>
										<ul class="comp-lst_dotted">
											<li>쾌적성 : 홀 부분의 자연채광과 전시공간의 인공조명을 적절히 배합하여 쾌적한 전시환경 유도</li>
											<li>조망성 : 명쾌한 관람동선 중간에 지석묘, 경덕왕릉과 금성산을 바라볼 수 있는 휴게공간을 구성해 관람객들이 지루하지 않도록 전시동선 구성</li>
										</ul>
									</li>
								</ul>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>