<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>조문국박물관</title>
	<meta name="Subject" content="조문국박물관" >
	<meta name="title" content="조문국박물관" >
	<meta name="keywords" content="조문국박물관" >
	<meta name="description" content="조문국박물관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="uscmuseum"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- uscmuseum/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>이용안내</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>관람시 유의사항</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>E-안내책자</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>상설전 단체관람(해설)예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>어린이고고발굴체험관 단체관람예약</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>가족문화체험실</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>시설대관안내</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>시설안내</span></a></h3></li>
											<li><h3><a href="#"><span>대관안내</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li> <h2><a href="#" class="single"><span>시설현황</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">의성농업대학</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<!-- 상단 아이콘 박스 영역 -->
								<div class="comp-iconbox">
									<div class="icon"><img src="" alt=""></div>
									<div class="cont">
										<h3 class="tit">행정정보/개방 - 지방소득세</h3>
										<ul class="comp-lst_dotted_grey">
											<li><em class="bold">[비회원글쓰기]</em>z 신고하기 클릭 → “비회원 로그인” → 민원등록</li>
											<li>처리 내용을 확인하기 위해서는 비회원 실명인증 로그인을 한 후 해당 민원창구로 이동하여 <br>“내가 신고한 글목록 보기”를 클릭하시면 신고하신 목록을 보실 수 있습니다.</li>
											<li>회원은 <em class="line">“마이페이지”</em>를 통하여 확인하실 수 있습니다.</li>											
										</ul>
									</div>
								</div>

								<div class="comp-iconbox_iconnone">
									<div class="cont">
										<h3 class="tit">행정정보/개방 - 지방소득세</h3>
										<ul class="comp-lst_dotted_grey">
											<li><em class="bold">[비회원글쓰기]</em>z 신고하기 클릭 → “비회원 로그인” → 민원등록</li>
											<li>처리 내용을 확인하기 위해서는 비회원 실명인증 로그인을 한 후 해당 민원창구로 이동하여 <br>“내가 신고한 글목록 보기”를 클릭하시면 신고하신 목록을 보실 수 있습니다.</li>
											<li>회원은 <em class="line">“마이페이지”</em>를 통하여 확인하실 수 있습니다.</li>											
										</ul>
									</div>
								</div>

								<!-- 탭 타입1 -->
								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-selected="true"><span>제목</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
								</ul>
								<!-- 탭 타입2 -->
								<ul class="comp-tab_row" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontentId" aria-selected="true"><span>제목</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
								</ul>
								<!-- 탭 타입2 - small -->
								<ul class="comp-tab_row_small" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontentId" aria-selected="true"><span>제목</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>제목</span></a></li>
								</ul>
								
								
								<!-- 헤딩타입 -->
								<h3 class="heading-h3">제목</h3>
								<h4 class="heading-h4">제목</h4>

								<!-- 리스트타입 -->
								<ul class="comp-lst_dotted">
									<li>
										<span class="tit">제목</span> 
										<div class="cont">내용</div>
									</li>
									<li>내용내용</li>
									<li>내용내용</li>
								</ul>
								<p class="comp-lst_dotted">내용</p>

								<ul class="comp-lst_hyphen">
									<li>내용내용</li>
									<li>내용내용</li>
								</ul>
								<ul class="comp-lst_hyphen_txt">
									<li>내용내용</li>
									<li>내용내용</li>
								</ul>
								<p class="comp-lst_hyphen">내용내용</p> 
								<p class="comp-lst_hyphen_txt">내용내용</p> 
								<p class="comp-lst_important">내용내용</p> 


								<!-- 데이터 타입 테이블 -->
								<div class="tbl-top-utile">
									<h3 class="heading-h3">test</h3>
									<p class="l-right">원(단위)</p>
								</div>
								<table class="comp-tbl_datatype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">제목</th>
											<th scope="colgroup" colspan="4">제목그룹</th>
										</tr>
										<tr>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td colspan="4">합계</td>
											<td>1000</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td>내용</td>
											<td>내용</td>
											<td>내용</td>
											<td>내용</td>
											<td>내용</td>
										</tr>
									</tbody>
								</table>
								<div class="tbl-bottom-utile">
									<p class="l-right">※ 2018. 12. 1 부터 동서울, 인천, 동대구(공항) 인터넷예매 가능</p>
								</div>

								<!-- 게시판 타입 테이블 -->
								<table class="comp-tbl_boardtype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
											<th scope="col">제목</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>내용<br>ss</td>
											<td>내용</td>
											<td>내용</td>
											<td>내용</td>
											<td>내용</td>
										</tr>
									</tbody>
								</table>

								<!-- 폼 타입 테이블 -->
								<table class="comp-tbl_formtype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th scope="col">제목 <strong class="important">*</strong></th>
											<td>
												<input type="text" title="제목 입력" class="comp-input">
											</td>
										</tr>
										<tr>
											<th scope="col">등록자 <strong class="important">*</strong></th>
											<td>
												<input type="text" title="등록자 입력" class="comp-input w_writer">
											</td>
										</tr>
										<tr>
											<th scope="col">주소 <strong class="important">*</strong></th>
											<td>
												<div class="w_addr">
													<input type="text" title="우편번호 입력" class="comp-input">
													<a href="#" class="comm-btn_type2_blue"><span>우편번호</span></a>
													<input type="text" title="주소 입력" class="comp-input">
													<input type="text" title="상세주소 입력" class="comp-input" placeholder="상세주소를 입력하세요.">
												</div>
											</td>
										</tr>
										<tr>
											<th scope="col">연락처 <strong class="important">*</strong></th>
											<td>
												<div class="w_phone">
													<select name="" id="" title="연락처 지역번호 2~3자리 선택" class="comp-select">
														<option value="">010</option>
													</select>
													<span class="txt">-</span>
													<input type="text" title="연락처 중간 4자리 입력" class="comp-input">
													<span class="txt">-</span>
													<input type="text" title="연락처 끝 4자리 입력" class="comp-input">
												</div>
											</td>
										</tr>
										<tr>
											<th scope="col">이메일</th>
											<td>
												<div class="w_email">
													<input type="text" title="이메일 아이디 입력" class="comp-input">
													<span class="txt">@</span>
													<input type="text" title="이메일 도메인 입력" class="comp-input">
													<select name="" id="" title="이메일 도메인 선택" class="comp-select">
														<option value="">직접입력</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="col">내용 <strong class="important">*</strong></th>
											<td>
												<textarea name="" id="" cols="1" rows="1" title="내용 입력" class="comp-textarea" placeholder="내용을 입력해주세요."></textarea>
											</td>
										</tr>
										<tr>
											<th scope="col">패스워드 <strong class="important">*</strong></th>
											<td>
												<input type="password" title="패스워드 입력" class="comp-input w_password">
											</td>
										</tr>
									</tbody>
								</table>

								<div class="comp-txt_box">
									<p>부동산, 차량, 건설기계, 골프회원권 등 과세물건의 취득에 대하여 그 취득자에게 과세하는 지방세</p>
								</div>

								<span class="comp-radio"><input type="radio" name="name1" id="na1_1" checked="checked"><label for="na1_1">동의함</label></span>
								<span class="comp-radio"><input type="radio" name="name1" id="na1_2"><label for="na1_2">동의안함</label></span>

								<span class="comp-check"><input type="checkbox" name="name2" id="na2_1" checked="checked"><label for="na2_1">동의함</label></span>
								<span class="comp-check"><input type="checkbox" name="name2" id="na2_2"><label for="na2_2">동의안함</label></span>


								<!-- 페이지 하단 버튼 영역 -->
								<div class="comp-btn-zone">
									<a href="#" class="comm-btn_type1_lgrey"><span>목록으로</span></a>
									<a href="#" class="comm-btn_type1_orange"><span>신청하기</span></a>
								</div>
								<!--// 페이지 하단 버튼 영역 -->


								<!-- 페이징 -->
								<div class="comp-paging" aria-label="페이지 선택" role="navigation">
									<div>
										<p class="allprev"><a href="#"><span>처음으로 이동</span></a></p>
										<p class="prev"><a href="#"><span>이전으로 이동</span></a></p>
										<ol class="number">
											<li><a href="#" aria-live="assertive" aria-current="page"><span>1</span></a></li><!-- 개발시 현재페이지 숫자에 aria-current='page' 속성 추가 -->
											<li><a href="#" aria-live="assertive"><span>2</span></a></li>
											<li><a href="#" aria-live="assertive"><span>3</span></a></li>
											<li><a href="#" aria-live="assertive"><span>4</span></a></li>
											<li><a href="#" aria-live="assertive"><span>5</span></a></li>
										</ol>
										<p class="next"><a href="#"><span>다음으로 이동</span></a></p>
										<p class="allnext"><a href="#"><span>마지막으로 이동</span></a></p>
									</div>
								</div>

								<!-- 상단 검색 1 -->
								<div class="top-search-zone bgcolor">
									<p class="total-length">전체게시물 <em class="bold point1">22</em>건 / <span class="totalpage">1</span>page</p>
									<div class="form" role="search">
										<select name="" id="" title="목록 분류 선택" class="comp-select_h42">
											<option value="">제목</option>
										</select>
										<input type="text" name="" id="" class="comp-input_h42" title="검색어 입력">
										<button type="submit" class="comm-btn_type3_green"><span>검색</span></button>
									</div>
								</div>
								<!-- 상단 검색 2 -->
								<div class="top-search-zone bgcolor">
									<div class="form2" role='search'>
										<select name="" id="" title="검색항목 선택" class="comp-select_h42">
											<option value="">검색항목</option>
										</select>
										<input type="text" name="" id="" class="comp-input_h42" title="자료 검색어 입력" placeholder="자료를 검색하세요">
										<button type="submit" class="comm-btn_type3_green"><span>검색</span></button>
										<button type="button" class="comm-btn_type3_lightblue"><span>검색 초기화</span></button>
									</div>
								</div>

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- uscmuseum/footer.html  --></footer>
		<!-- //FOOTER --> 
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>