<div id="footer">
	<p class="btn-gototop"><a href="#container" onclick="usc.gototopEvent(this); return false;"><span>TOP</span></a></p>
	<div class="inner">
		<div class="footer-selectgroup">
			<div class="footer-comp-select">
				<dl>
					<dt><button type="button" aria-controls="footersel1" onclick="usc.footerEvent(this);" aria-expanded="false">시/군 홈페이지</button></dt>
					<dd id="footersel1">
						<ul>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경상북도</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영양군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>포항시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영덕군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청도군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>김천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>고령군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>안동시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>성주군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>구미시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>칠곡군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>예천군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>봉화군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>문경시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울진군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경산시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울릉군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>군위군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청송군</span></a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="footer-comp-select">
				<dl>
					<dt><button type="button" aria-controls="footersel2" onclick="usc.footerEvent(this);" aria-expanded="false">읍/면/동 홈페이지</button></dt>
					<dd id="footersel2">
						<ul>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경상북도</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영양군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>포항시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영덕군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청도군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>김천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>고령군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>안동시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>성주군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>구미시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>칠곡군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>예천군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>봉화군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>문경시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울진군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경산시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울릉군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>군위군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청송군</span></a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="footer-comp-select">
				<dl>
					<dt><button type="button" aria-controls="footersel3" onclick="usc.footerEvent(this);" aria-expanded="false">사업소 홈페이지</button></dt>
					<dd id="footersel3">
						<ul>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경상북도</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영양군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>포항시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영덕군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청도군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>김천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>고령군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>안동시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>성주군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>구미시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>칠곡군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>예천군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>봉화군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>문경시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울진군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경산시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울릉군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>군위군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청송군</span></a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="footer-comp-select">
				<dl>
					<dt><button type="button"  aria-controls="footersel4" onclick="usc.footerEvent(this);" aria-expanded="false">유관기관 홈페이지</button></dt>
					<dd id="footersel4">
						<ul>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경상북도</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영양군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>포항시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영덕군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청도군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>김천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>고령군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>안동시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>성주군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>구미시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>칠곡군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>예천군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>봉화군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>문경시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울진군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경산시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울릉군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>군위군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청송군</span></a></li>
						</ul>
					</dd>
				</dl>
			</div>
			<div class="footer-comp-select">
				<dl>
					<dt><button type="button"  aria-controls="footersel5" onclick="usc.footerEvent(this);" aria-expanded="false">의성군청 패밀리 사이트</button></dt>
					<dd id="footersel5">
						<ul>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경상북도</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영양군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>포항시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영덕군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청도군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>김천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>고령군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>안동시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>성주군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>구미시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>칠곡군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영주시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>예천군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>영천시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>봉화군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>문경시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울진군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>경산시</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>울릉군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>군위군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>청송군</span></a></li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		<div class="footer-notice">
			<p class="number"><span class="call">전화번호</span> 054-861-2715</p>			
			<p class="txt">
				자료실 및 강좌실 : 평일  09:00 ~ 18:00<br>
				(매주 월요일, 설날, 추석, 국가공휴일 휴무)
			</p>
		</div>
		<div class="footer-utilegroup">
			<ul class="footer-utile">
				<li><a href="#"><strong>개인정보처리방침</strong></a></li>
				<li><a href="#"><span>영상정보처리기기방침</span></a></li>
				<li><a href="#"><span>이메일무단수집거부</span></a></li>
				<li><a href="#"><span>홈페이지불편/건의사항</span></a></li>
				<li><a href="#"><span>뷰어다운로드</span></a></li>
				<li><a href="#"><span>찾아오시는길</span></a></li>
			</ul>
			<address>
				<ul class="footer-addr">
					<li>(37337) 경상북도 의성군 안계길 114번지 의성군립 도서관 </li>
					<li><strong>대표전화</strong> 054-861-2715</li>
					<li><strong>팩스</strong> 054)833-0658</li>
				</ul>
			</address>
			<p class="footer-copy">Copyrightⓒ2019 UISEONG LIBRARY. All Right Reserved</p>
			<p class="footer-txt">본 홈페이지는 게시된 이메일주소 자동수집을 거부하며, 이를 위반시 <br class="m">정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</p>
		</div>
	</div>
</div>