<div id="header" class="header-type2">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li class="current"><a href="#"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 안계군립도서관</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>자료마당</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>자료마당</span></a></p> 
										<div class="group"> <h3><a href="#"><span>자료 검색</span></a></h3> </div>
										<div class="group"> 
											<h3><a href="#"><span>전자책</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>모바일 전자책</span></a> </h4></li>
												<li><h4> <a href="#"><span>인터넷 전자책</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>희망도서 신청</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>도서기증 신청</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>책나래</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>사서에게 물어보세요</span></a></h3> </div>
										<div class="group">
											<h3><a href="#"><span>학술정보 검색</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>학위논문,학술지 검색</span></a> </h4></li>
												<li><h4> <a href="#"><span>전국도서관 소장자료 검색</span></a> </h4></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>도서관안내</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>도서관안내</span></a></p> 
										<div class="group"> 
											<h3><a href="#"><span>도서관소개</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>인사말</span></a> </h4></li>
												<li><h4> <a href="#"><span>도서관 연혁</span></a> </h4></li>
												<li><h4> <a href="#"><span>시설현황</span></a> </h4></li>
												<li><h4> <a href="#"><span>자료현황</span></a> </h4></li>
												<li><h4> <a href="#"><span>조직도</span></a> </h4></li>
												<li><h4> <a href="#"><span>오시는 길</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>이용시간/개관안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>회원가입 안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>도서 이용 안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>시설 이용 안내</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>독서마당</span></a> </h2>
							<div class="depth2menu" >
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>독서마당</span></a></p> 
										<div class="group"> 
											<h3><a href="#"><span>인기도서</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>도서관 대출 순위</span></a> </h4></li>
												<li><h4> <a href="#"><span>전국도서관 인기대출 도서</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>신간도서</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>독서 동아리</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>독서 퀴즈</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>한 줄 독후감</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>책 읽어주는 문화봉사단</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>문화마당</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>문화마당</span></a></p> 
										<div class="group"> <h3><a href="#"><span>문화 강좌</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>도서관 행사</span></a></h3> </div>
										<div class="group"> 
											<h3><a href="#"><span>도서관 주간/독서의 달</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>4월 도서관 주간</span></a> </h4></li>
												<li><h4> <a href="#"><span>9월 독서의 달</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> 
											<h3><a href="#"><span>도서관 캠프</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>여름방학 도서관 캠프</span></a> </h4></li>
												<li><h4> <a href="#"><span>겨울방학 도서관 캠프</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>북스타트</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>강좌개설요청</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>사진게시판</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>열린마당</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>열린마당</span></a></p> 
										<div class="group"> <h3><a href="#"><span>공지사항</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>이 달의 행사</span></a></h3> </div>
										<div class="group">
											<h3><a href="#"><span>질의 응답</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>4월 도서관 주간</span></a> </h4></li>
												<li><h4> <a href="#"><span>9월 독서의 달</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>설문 조사</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>강당 대관</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>세미나실 신청</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>자원봉사 신청</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>나의도서관</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>나의도서관</span></a></p> 
										<div class="group"> <h3><a href="#"><span>대출/예약조회</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>희망도서 조회</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>프로그램 신청내역</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>내가 쓴 글</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>회원정보 수정</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>회원 탈퇴</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('425,425,425,425,425,425', false);
</script>