<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>자료검색 &lt; 의성군립도서관</title>
	<meta name="Subject" content="의성군립도서관" >
	<meta name="title" content="의성군립도서관" >
	<meta name="keywords" content="의성군립도서관" >
	<meta name="description" content="의성군립도서관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usclib"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_usclib.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">자료검색</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 상단 탭 -->
								<ul class="comp-tab_row" role="tablist" data-js="false">
									<li role="presentation"><a href="#tabcontent" role="tab" aria-controls="tabcontent" aria-selected="true"><span>일반검색</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>상세검색</span></a></li>
								</ul>
								<!--// 상단 탭 -->
					
								<!-- 탭 컨텐츠 -->
								<div id="tabcontent" role="tabpanel">
									<!-- 상단 검색 -->
									<div class="top-search-zone bgcolor">
										<div class="form2" role='search'>
											<select name="" id="" title="검색항목 선택" class="comp-select_h42">
												<option value="">검색항목</option>
											</select>
											<input type="text" name="" id="" class="comp-input_h42" title="자료 검색어 입력" placeholder="자료를 검색하세요">
											<button type="submit" class="comm-btn_type3_deepblue"><span>검색</span></button>
											<button type="button" class="comm-btn_type3_lightblue"><span>검색 초기화</span></button>
										</div>
									</div>
									<!--// 상단 검색 -->

									<!-- 검색결과 / 분류 -->
									<div class="comp-sorting-zone">
										<p class="txt-result">“<em class="word">마법</em>” / 총 <em class="total">7,482권</em> 이 검색되었습니다.</p>
										<div class="sorting-zone">
											<select name="" title="출력건수 선택" id="" class="comp-select_h42">
												<option value="">출력건수(기본10)</option>
											</select>											
											<select name="" title="정렬방식 선택" id="" class="comp-select_h42">
												<option value="">정렬방식</option>
											</select>											
											<ul class="sorting-lst js-sorting" aria-label="검색 목록 보기 타입"><!-- 만들어둔 js 안쓸 경우, js-sorting 빼시면 됩니다. -->
												<li><button type="button" aria-selected="true" aria-controls="table-type" data-class="tbl-lst_list" class="btn-type_list"><span>목록형</span></button></li>
												<li><button type="button" aria-controls="table-type" data-class="tbl-lst_gallery" class="btn-type_gallery"><span>갤러리형</span></button></li>
											</ul>
										</div>
									</div>
									<!-- //검색결과 / 분류 -->

									<!-- 서브 탭 -->
									<ul class="comp-tab_row_small" role="tablist" data-js="false">
										<li role="presentation"><a href="#subtabcontent" role="tab" aria-controls="subtabcontent" aria-selected="true"><span>도서자료(269)</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
										<li role="presentation"><a href="#" role="tab"><span>E-BOOK(2)</span></a></li>
									</ul>
									<!--// 서브 탭 -->

									<!-- 서브 탭 컨텐츠 -->
									<div id="subtabcontent" role="tabpanel">
										<table id="table-type" class="tbl-lst_list"><!-- 갤러리형 class="tbl-lst_gallery" / 목록형 class="tbl-lst_list" -->
											<caption>목록 - 도서명, 출판사, 청구기호, 자료실, 발생년도, 자료상태</caption>
											<colgroup>
												<col>
												<col>
												<col>
												<col>
												<col>
												<col>
											</colgroup>
											<thead>
												<tr>
													<th scope="col">도서명</th>
													<th scope="col">출판사</th>
													<th scope="col">청구기호</th>
													<th scope="col">자료실</th>
													<th scope="col">발행년도</th>
													<th scope="col">자료상태</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td colspan="6">
														<div class="tdlayout">
															<div class="td-thumb"><a href="#"><img src="../../static/images/usclib/temp/@book.png" alt="색이 가득한 주머니 : 디즈니 색의 마법사 메리 블레어 이야기 표지"></a></div>
															<div class="td-name">
																<a href="#">
																	<span class="name">
																		<em class="flag">역사</em>
																		색이 가득한 주머니 : 디즈니 색의 마법사 메리 블레어 이야기
																	</span>
																</a>
																<span class="writer">저자 : 에이미 굴리엘모, 재클린 투르빌 글 ; 브리짓 배라저 그림 ; 양진희 옮김</span>
															</div>
															<div class="td-group">
																<div class="td-company">
																	<span class="tit">출판사 : </span><span class="cont">함께자람(교학사)</span>
																</div>
																<div class="td-code">
																	<span class="tit">청구기호 : </span><span class="cont">아동998.6-굴298</span>
																</div>
																<div class="td-year">
																	<span class="tit">발행년 : </span><span class="cont">2018</span>
																</div>
																<div class="td-category">
																	<span class="tit">자료실 : </span><span class="cont">아동열람실</span>
																</div>
															</div>
															<div class="td-btn">
																<button type="button" class="btn-borrow"><span>대출가능</span></button>
																<p type="button" class="btn-notbooking"><span>예약불가</span></p>
																<button type="button" class="btn-put"><span>내서재 담기</span></button>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td colspan="6">
														<div class="tdlayout">
															<div class="td-thumb"><a href="#"><img src="../../static/images/usclib/temp/@book.png" alt="색이 가득한 주머니 : 디즈니 색의 마법사 메리 블레어 이야기 표지"></a></div>
															<div class="td-name">
																<a href="#">
																	<span class="name">
																		<em class="flag">역사</em>
																		색이 가득한 주머니 : 디즈니 색의 마법사 메리 블레어 이야기
																	</span>
																</a>
																<span class="writer">저자 : 에이미 굴리엘모, 재클린 투르빌 글 ; 브리짓 배라저 그림 ; 양진희 옮김</span>
															</div>
															<div class="td-group">
																<div class="td-company">
																	<span class="tit">출판사 : </span><span class="cont">함께자람(교학사)</span>
																</div>
																<div class="td-code">
																	<span class="tit">청구기호 : </span><span class="cont">아동998.6-굴298</span>
																</div>
																<div class="td-year">
																	<span class="tit">발행년 : </span><span class="cont">2018</span>
																</div>
																<div class="td-category">
																	<span class="tit">자료실 : </span><span class="cont">아동열람실</span>
																</div>
															</div>
															<div class="td-btn">
																<button type="button" class="btn-borrow"><span>대출가능</span></button>
																<button type="button" class="btn-booking"><span>예약가능</span></button>
																<button type="button" class="btn-put"><span>내서재 담기</span></button>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>

										<!-- 페이징 -->
										<div class="comp-paging" aria-label="페이지 선택" role="navigation">
											<div>
												<p class="allprev"><a href="#"><span>처음으로 이동</span></a></p>
												<p class="prev"><a href="#"><span>이전으로 이동</span></a></p>
												<ol class="number">
													<li><a href="#" aria-live="assertive" aria-current="page"><span>1</span></a></li><!-- 개발시 현재페이지 숫자에 aria-current='page' 속성 추가 -->
													<li><a href="#" aria-live="assertive"><span>2</span></a></li>
													<li><a href="#" aria-live="assertive"><span>3</span></a></li>
													<li><a href="#" aria-live="assertive"><span>4</span></a></li>
													<li><a href="#" aria-live="assertive"><span>5</span></a></li>
												</ol>
												<p class="next"><a href="#"><span>다음으로 이동</span></a></p>
												<p class="allnext"><a href="#"><span>마지막으로 이동</span></a></p>
											</div>
										</div>
										<!--// 페이징 -->
									</div>
									<!-- 서브 탭 컨텐츠 -->
								</div>
								<!--// 탭 컨텐츠 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>