<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width " >
	<meta name="format-detection" content="telephone=no" >
	<title>강당대관 &lt; 열린마당 &lt; 의성군립도서관</title>
	<meta name="Subject" content="의성군립도서관" >
	<meta name="title" content="의성군립도서관" >
	<meta name="keywords" content="의성군립도서관" >
	<meta name="description" content="의성군립도서관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usclib"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="usclib_part05_01"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">강당 대관</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- //D : 해당 부분에 서브페이지 작업 -->
								<h3 class="heading-h3">강당 대관 이용안내</h3>
								<h4 class="heading-h4 mt20">대관시설 : 의성군립도서관 1층 강당</h4>
								<h4 class="heading-h4 mt35">대관시간</h4>
								<table class="comp-tbl_datatype">
									<caption>강당 대관시간 - 하절기, 동절기</caption>
									<colgroup>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">하절기</th>
											<th scope="col">동절기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>09:00 ~ 18:00</td>
											<td>09:00 ~ 17:00</td>
										</tr>
									</tbody>
								</table>
								<div class="tbl-bottom-utile">
									<p class="comp-lst_important l-right">단, 부득이한 경우에는 조정 가능</p>
								</div>

								<h4 class="heading-h4 mt5">대관절차</h4>
								<ol class="flow-chart ml40 mt15">
									<li><img src="../../static/images/usclib/subpage/icon_chart1.png" alt=""><span class="bold">대관신청<br>(방문접수)</span></li>
									<li><img src="../../static/images/usclib/subpage/icon_chart2.png" alt=""><span class="bold">접수 및<br>서류제출</span></li>
									<li><img src="../../static/images/usclib/subpage/icon_chart3.png" alt=""><span class="bold">승인(사용료<br>납부)</span></li>
									<li><img src="../../static/images/usclib/subpage/icon_chart4.png" alt=""><span class="bold">대관완료</span></li>
								</ol>

								<h4 class="heading-h4 mt35">대관사용 신청서</h4>
								<div class="mt10 ml50">
									<a href="#" class="comm-btn_type4_whitegreen comm-btn_download1" title="새창으로 열림" target="_blank"><span>대관사용 신청서 다운로드</span></a>
								</div>
								<h4 class="heading-h4 mt35">대관규정</h4>
								<ul class="comp-lst_dotted ml50 mt5">
									<li><span class="cont">대관승인을 결정함에 있어서 필요하다고 인정할 때에는 조건을 부과하거나 신청인과 대관 기간 및 일정을 조정할 수 있습니다.</span></li>
									<li><span class="cont">사용승인을 받은 사용자는 도서관의 동의 없이 대관사용권을 타인에게 양도하거나 전대하지 못하며, 사용자는 임의로 대관일정 및 내용 자체를 변경하여 진행할 수 없습니다.</span></li>
									<li><span class="cont">다만, 내용의 변경이 불가피한 경우 도서관의 사전승인을 받아야 합니다.</span></li>
									<li><span class="cont">사용승인 중이라도 의성군의 행사로 인한 경우 필요시 사용승인을 취소할 수 있습니다. 도서관에서는 다음 사항의 어느 하나에 해당하는 사유가 있을 경우에는 시설의 사용을 제한 할 수 있습니다.</span>
										<ul class="comp-lst_hyphen mt10 mb10">
											<li><span class="cont">공공질서와 미풍양속을 해칠 우려가 있는 경우</span></li>
											<li><span class="cont">시설을 훼손할 우려가 있는 경우(대형 외부장비 반입 금지 ex) 그랜드 피아노 등)</span></li>
											<li><span class="cont">상행위를 목적으로 하는 경우</span></li>
											<li><span class="cont">그 밖에 사용을 제한할 필요가 있다고 인정되는 경우(종교단체의 집회 또는 행사, 정치적 목적과 관련된 집회 또는 행사, 사설단체의 자체행사 등은 제한될 수 있습니다.)</span></li>
										</ul>
									</li>
									<li><span class="cont">사용자 준수사항은 다음과 같습니다.</span>
										<ul class="comp-lst_hyphen mt5 mb10">
											<li><span class="cont">사용 중 불의의 사고에 대하여는 사용자가 모든 책임을 집니다.</span></li>
											<li><span class="cont">시설 및 설비 각종 집기의 손상이 있을 때에는 이를 변상하여야 합니다.</span></li>
											<li><span class="cont">허가사항 의외의 타 목적으로 사용할 수 없습니다.</span></li>
											<li><span class="cont">대관시간을 준수하고 사용후에는 시설을 원상복구 하여야 합니다.</span></li>
										</ul>
									</li>
								</ul>
								<h4 class="heading-h4 mt40">대관사용료</h4>
								<div class="scrollzone">
									<div class="scrollzoneinner">
										<table class="comp-tbl_datatype">
											<caption>대관사용료 - 사용내역, 기준, 사용료(단위:원), 비고</caption>
											<colgroup>
												<col style="width:129px">
												<col style="width:175px">
												<col style="width:321px">
												<col style="width:162px">
												<col>
											</colgroup>
											<thead>
												<tr>
													<th scope="colgroup" colspan="2">사용내역</th>
													<th scope="col">기준</th>
													<th scope="col">사용료(단위:원)</th>
													<th scope="col">비고</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td rowspan="3" colspan="2">강당</td>
													<td>오전(09:00 ~ 12:00)</td>
													<td>70,000</td>
													<td rowspan="3">-</td>
												</tr>
												<tr>
													<td>오후(13:00 ~ 18:00)</td>
													<td>80,000</td>
												</tr>
												<tr>
													<td>1일</td>
													<td>150,000</td>
												</tr>
												<tr>
													<td rowspan="4">강당</td>
													<td>빔 프로젝트</td>
													<td>1일</td>
													<td>30,000</td>
													<td rowspan="4">-</td>
												</tr>
												<tr>
													<td rowspan="3">냉·난방</td>
													<td>오전(09:00 ~ 12:00)</td>
													<td>30,000</td>
												</tr>
												<tr>
													<td>오후(13:00 ~ 18:00)</td>
													<td>40,000</td>
												</tr>
												<tr>
													<td>1일</td>
													<td>70,000</td>
												</tr>
												<tr>
													<td rowspan="5">자료복사</td>
													<td rowspan="4">일반자료</td>
													<td>A3(420×297 ㎜)</td>
													<td>30</td>
													<td rowspan="4">1매당</td>
												</tr>
												<tr>
													<td>B4(364×257 ㎜)</td>
													<td>30</td>
												</tr>
												<tr>
													<td>A4(210×297 ㎜)</td>
													<td>20</td>
												</tr>
												<tr>
													<td>B5(182×257 ㎜)</td>
													<td>20</td>
												</tr>
												<tr>
													<td>마이크로자료</td>
													<td>A3~B5</td>
													<td>100</td>
													<td></td>
												</tr>
												<tr>
													<td rowspan="2" colspan="2">원문전송</td>
													<td>A4~B5</td>
													<td>20</td>
													<td rowspan="2">팩스를 통한 전송</td>
												</tr>
												<tr>
													<td>A3~B4</td>
													<td>30</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>