<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>시설현황 &lt; 도서관안내 &lt; 의성군립도서관</title>
	<meta name="Subject" content="의성군립도서관" >
	<meta name="title" content="의성군립도서관" >
	<meta name="keywords" content="의성군립도서관" >
	<meta name="description" content="의성군립도서관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usclib"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="usclib_part03_01"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">시설현황</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<ul class="comp-tab" role="tablist">
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content1" aria-selected="true"><span>1F</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content2"><span>2F</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content3"><span>3F</span></a></li>
								</ul>
								<div class="tab-contents">
									<div id="tab-content1" role="tabpanel">
										<h3 class="heading-h3">1층 안내도</h3>
										<div class="floor-plan">
											<div class="img"><img src="../../static/images/usclib/img_floor1.gif" alt="1층 안내도"></div>
											<div class="list">
												<ul>
													<li><span class="num">01</span><span class="txt bold">준비실1</span></li>
													<li><span class="num">02</span><span class="txt bold">무대</span></li>
													<li><span class="num">03</span><span class="txt bold">준비실2</span></li>
													<li><span class="num">04</span><span class="txt bold">강당</span></li>
													<li><span class="num">05</span><span class="txt bold">통신실</span></li>
													<li><span class="num">06</span><span class="txt bold">창고</span></li>
												</ul>
												<ul>
													<li><span class="num">07</span><span class="txt bold">장애인E/V</span></li>
													<li><span class="num">08</span><span class="txt bold">방풍실</span></li>
													<li><span class="num">09</span><span class="txt bold">장애인 화장실(여)</span></li>
													<li><span class="num">10</span><span class="txt bold">화장실(여)</span></li>
													<li><span class="num">11</span><span class="txt bold">화장실(남)</span></li>
												</ul>
											</div>
										</div>
									</div>
									<div id="tab-content2" role="tabpanel" style="display:none">
										<h3 class="heading-h3">2층 안내도</h3>
										<div class="floor-plan">
											<div class="img"><img src="../../static/images/usclib/img_floor2.gif" alt="2층 안내도"></div>
											<div class="list">
												<ul>
													<li><span class="num">01</span><span class="txt bold">종합자료실</span></li>
													<li><span class="num">02</span><span class="txt bold">화장실(여)</span></li>
													<li><span class="num">03</span><span class="txt bold">화장실(남)</span></li>
													<li><span class="num">04</span><span class="txt bold">장애인E/V</span></li>
												</ul>
												<ul>
													<li><span class="num">05</span><span class="txt bold">탕비실</span></li>
													<li><span class="num">06</span><span class="txt bold">디지털자료실</span></li>
													<li><span class="num">07</span><span class="txt bold">회의실</span></li>
													<li><span class="num">08</span><span class="txt bold">정보지원실</span></li>
												</ul>
											</div>
										</div>
									</div>
									<div id="tab-content3" role="tabpanel" style="display:none">
										<h3 class="heading-h3">3층 안내도</h3>
										<div class="floor-plan">
											<div class="img"><img src="../../static/images/usclib/img_floor3.gif" alt="3층 안내도"></div>
											<div class="list">
												<ul>
													<li><span class="num">01</span><span class="txt bold">문화강좌실-1</span></li>
													<li><span class="num">02</span><span class="txt bold">화장실(여)</span></li>
													<li><span class="num">03</span><span class="txt bold">장애인화장실(남)</span></li>
													<li><span class="num">04</span><span class="txt bold">화장실(남)</span></li>
												</ul>
												<ul>
													<li><span class="num">05</span><span class="txt bold">장애인E/V</span></li>
													<li><span class="num">06</span><span class="txt bold">문화강좌실-2</span></li>
													<li><span class="num">07</span><span class="txt bold">일반열람실</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="fix-contents mt40">
									<h3 class="heading-h3">부지면적</h3>
									<h4 class="heading-h4">연면적: 1207㎡</h4>
									<h3 class="heading-h3">시설이용현황</h3>
									<div class="scrollzone">
										<div class="scrollzoneinner">
											<table class="comp-tbl_boardtype mt20">
												<caption>시설이용현황</caption>
												<colgroup>
													<col style="width:117px">
													<col style="width:251px">
													<col style="width:117px">
													<col style="width:115px">
													<col>
												</colgroup>
												<thead>
													<tr>
														<th scope="col">층 별</th>
														<th scope="col">자료실 및 열람실명</th>
														<th scope="col">면적(㎡)</th>
														<th scope="col">열람석</th>
														<th scope="col">소장자료 및 운영내역</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>지하</td>
														<td>지하실</td>
														<td>32.4㎡</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td rowspan="3">1층</td>
														<td>어린이자료실</td>
														<td>97.2㎡</td>
														<td>14석</td>
														<td>영유아 및 어린이도서, 개가제, 관외대출</td>
													</tr>
													<tr>
														<td>강당</td>
														<td>162.0㎡</td>
														<td>100석</td>
														<td>프로그램 및 행사진행 100석</td>
													</tr>
													<tr>
														<td>통신장비실/창고</td>
														<td>43.0㎡</td>
														<td></td>
														<td>통신실 및 물품창고</td>
													</tr>
													<tr>
														<td rowspan="4">2층</td>
														<td>종합자료실</td>
														<td>189.0㎡</td>
														<td>24석</td>
														<td>청소년 및 성인도서, 개가제, 관외대출</td>
													</tr>
													<tr>
														<td>디지털자료실</td>
														<td>32.4㎡</td>
														<td>10석</td>
														<td>인터넷정보검색,CD-ROM, DVD등 멀티미디어자료 이용</td>
													</tr>
													<tr>
														<td>세미나실</td>
														<td>32.4㎡</td>
														<td>1-석</td>
														<td>회의 및 소회의실</td>
													</tr>
													<tr>
														<td>사무실</td>
														<td>48.6㎡</td>
														<td></td>
														<td>직원사무실</td>
													</tr>
													<tr>
														<td rowspan="3">3층</td>
														<td>문화강좌실-1</td>
														<td>108.0㎡</td>
														<td>30석</td>
														<td rowspan="2">교양강좌 및 문화행사</td>
													</tr>
													<tr>
														<td>문화강좌실-2</td>
														<td>64.8㎡</td>
														<td></td>
													</tr>
													<tr>
														<td>종합열람실</td>
														<td>64.8㎡</td>
														<td>36석</td>
														<td>일반열람대 36석</td>
													</tr>
													<tr>
														<td>기타</td>
														<td>공용면적</td>
														<td>-</td>
														<td></td>
														<td>복도, 화장실 등</td>
													</tr>
													<tr class="sum bold">
														<td>합계</td>
														<td></td>
														<td>1191.6㎡</td>
														<td>224석</td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>