<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>아이디/비밀번호찾기 &lt; 의성군립도서관</title>
	<meta name="Subject" content="의성군립도서관" >
	<meta name="title" content="의성군립도서관" >
	<meta name="keywords" content="의성군립도서관" >
	<meta name="description" content="의성군립도서관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usclib"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- CONTAINER -->
		<main>
			<div id="container" class="tp-total-login"><!-- D: 페이지 특정의 클래스 -->
				<div class="contents-zone">
					<!-- 로그인 타이틀 -->
					<div class="tit-login-zone">
						<div class="inner">
							<h1 class="title">의성군<span class="point">통합로그인</span></h1>
							<p class="txt">로그인 및 본인인증 페이지 입니다. <br class="m">원하시는 <span class="line">로그인 서비스를 선택</span>하세요.</p>
							<p class="tail">의성군 홈페이지에서는 보다 많은 이용자의 <br class="m">안전한 인터넷 사용을 위하여 본인확인을 <br class="m">휴대폰인증과 공공아이핀으로 진행하고 있습니다.<br>온라인상에서 수집한 개인정보가 보호 받을 수 있도록 <br class="m">최선을 다하고 있습니다.</p>
						</div>
					</div>
					<!-- // 로그인 타이틀 -->

					<!-- 로그인 서비스 탭 -->
					<div class="login-service-tab">
						<ul role="tablist" data-js="false">
							<li role="presentation"><a href="#" role="tab"><span>로그인</span></a></li>
							<li role="presentation"><a href="#loginTabcontent" role="tab" aria-controls="loginTabcontent" aria-selected="true"><span>회원가입</span></a></li>
							<li role="presentation"><a href="#" role="tab"><span>아이디/비밀번호 찾기</span></a></li>
						</ul>
					</div>
					<!-- //로그인 서비스 탭 -->
					
					<!-- 회원가입 탭 컨텐츠 -->
					<div id="loginTabcontent" role="tabpanel">
						<div class="tab-conts join-service-zone step2">
							<!-- 회원 종류 선택 -->
							<ul class="member-select-group js-select-group">
								<li>
									<span class="comp-radio_big">
										<input type="radio" name="member" id="member1" >
										<label for="member1">기존 도서회원<em class="sm">(홈페이지 아이디 발급)</em></label>
									</span>
									<p class="comp-lst_hyphen_txt">도서관에 방문하여 “도서회원증”을 먼저 발급 받고 홈페이지 회원으로 가입을 하는 이용자</p>
								</li>
								<li>
									<span class="comp-radio_big">
										<input type="radio" name="member" id="member2" checked="checked">
										<label for="member2">신규회원가입<em class="sm">(더불어도서회원가입 신청)</em></label>
									</span>
									<ul class="comp-lst_hyphen_txt">
										<li>우리 도서관을 처음 이용하시는 이용자</li>
										<li>“도서회원증” 발급이 필요하신 회원은 신규회원으로 가입 후 우리 도서관에 방문하시어 별도의 신청 절차 없이 “본인확인(신분증 외)” 후 도서회원증을 발급 받을 수 있습니다.</li>
									</ul>
								</li>
							</ul>

							<!-- 신규회원가입안내/도서회원증 발급 -->
							<dl class="infor-txt">
								<dt>신규회원가입 안내</dt>
								<dd>
									<ul class="comp-lst_hyphen_txt">
										<li>우리 도서관은 신규회원으로 가입하면 자동으로 웹회원 가입이 되며, 더불어 도서회원가입 신청이 됩니다.</li>
										<li>신규회원 가입 후 도서회원증이 필요한 이용자는 방문 후 신분확인으로 도서회원증 발급 받을 수 있습니다</li>								
									</ul>
								</dd>
							</dl>
							<dl class="infor-txt">
								<dt>도서회원증 발급</dt>
								<dd>
									<p class="comp-lst_hyphen_txt">도서회원증 발급 자격 및 구비서류 확인을 하시고 우리 도서관에 방문하기 바랍니다.</p>
								</dd>
							</dl>

							<!-- 정보입력 -->
							<h2 class="heading-h3 mt60">도서회원가입 정보입력</h2>



							<div class="comp-btn-zone">
								<button type="button" class="comm-btn_type1_deeporange"><span>확인</span></button>
								<a href="#" class="comm-btn_type1_lgrey"><span>취소</span></a>
							</div>
						</div>
						<!--// 14세 미만 -->

						<div class="info-zone">
							<dl class="txt">
								<dt>만 14세 미만 회원 안내</dt>
								<dd>
									개인정보보호법 제22조 5항에 의해 만 14세 미만 어린이/학생은 법정대리인(보호자)와 함께 가입해 주세요. <br>
									아래 중 보호자 등의 수단을 선택하시면 됩니다. 입력하신 정보는 가입완료 전까지 저장되지 않습니다. <br>
									<span class="point">(아래 중 편리한 방법으로 실명확인을 진행하시면 됩니다.)</span> <br>
									실명확인 정보는 가입완료 전까지 홈페이지내에 저장되지 않습니다.
								</dd>
							</dl>
						</div>
					</div>
					<!--// 회원가입 탭 컨텐츠 -->
				</div>
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>
<script>
	var idx = 0;
	$(".js-select-group input").on("click", function(){
		idx = $(this).closest("li").index();
		$(".agree-tabcontent").eq(idx).show().siblings(".agree-tabcontent").hide();
	})
</script>