<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>문화강좌 신청 &lt; 문화마당 &lt; 의성군립도서관</title>
	<meta name="Subject" content="의성군립도서관" >
	<meta name="title" content="의성군립도서관" >
	<meta name="keywords" content="의성군립도서관" >
	<meta name="description" content="의성군립도서관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usclib"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="course"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_usclib.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>문화마당</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">문화강좌</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<ul class="comp-tab_row" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent"><span>문화강좌소개</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab" aria-selected="true"><span>문화강좌신청</span></a></li>
								</ul>

								<div id="tabcontent" role="tabpanel">
									<div class="culture-wrap">
										<p class="tit">스토리가 있는 한국사</p>
										<ul class="culture-info">
											<li>
												<div class="l-left">
													<p class="comp-lst_dotted">대상</p>
													<p class="txt">초등</p>
												</div>
												<div class="l-right">
													<p class="comp-lst_dotted">강사명</p>
													<p class="txt">홍길동</p>
												</div>
											</li>
											<li>
												<div class="l-left">
													<p class="comp-lst_dotted">인터넷 모집인원</p>
													<p class="txt">20명</p>
												</div>
												<div class="l-right">
													<p class="comp-lst_dotted">현재 신청자수</p>
													<p class="txt">7명</p>
												</div>
											</li>
											<li>
												<div class="l-left">
													<p class="comp-lst_dotted">대기자 모집인원</p>
													<p class="txt">0명</p>
												</div>
												<div class="l-right">
													<p class="comp-lst_dotted">계획서</p>
													<p class="txt">없음</p>
												</div>
											</li>
											<li>
												<div class="l-left">
													<p class="comp-lst_dotted">준비물</p>
													<p class="txt">-</p>
												</div>
												<div class="l-right">
													<p class="comp-lst_dotted">재료비</p>
													<p class="txt">10,000원</p>
												</div>
											</li>
											<li>
												<div class="l-left">
													<p class="comp-lst_dotted">접수 기간</p>
													<time class="txt">2019. 01. 07 9:00 ~<br class="m"> 2019. 01. 10 : 18:00</time>
												</div>
												<div class="l-right">
													<p class="comp-lst_dotted">강좌 장소</p>
													<p class="txt">의성군립도서관 3층 강좌실</p>
												</div>
											</li>
											<li>
												<div class="l-left">
													<p class="comp-lst_dotted">강좌 기간</p>
													<time class="txt">2019. 01. 08 ~<br class="m">2019. 03. 30</time>
												</div>
												<div class="l-right">
													<p class="comp-lst_dotted">강좌 일시</p>
													<p class="txt">수(15:30 ~ 17:00)</p>
												</div>
											</li>
										</ul>
										<div class="receipt-area">
											<!-- 접수불가 인 경우 not class 추가 -->
											<em class="bold">접수가능</em>
											<span>인터넷접수</span>
										</div>
									</div>

									<div class="comp-btn-zone mt15">
										<div class="l-right">
											<a href="#" class="comm-btn_type4_deepblue"><span>수강신청</span></a>
											<a href="#" class="comm-btn_type4_lightgray"><span>목록으로</span></a>
										</div>
									</div>

									<h3 class="heading-h3 mt30">신청자 리스트</h3>

									<div class="scrollzone mt20">
										<div class="scrollzoneinner">
											<table class="comp-tbl_boardtype_blue">
												<caption>신청자 리스트 - 번호, 이름, 생년월일, 등록일, 구분, 상태, 신청서/취소</caption>
												<colgroup>
													<col style="width:8%">
													<col style="width:10%">
													<col style="width:*">
													<col style="width:*">
													<col style="width:10%">
													<col style="width:13%">
													<col style="width:13%">
												</colgroup>
												<thead>
													<tr>
														<th scope="col">번호</th>
														<th scope="col">이름</th>
														<th scope="col">생년월일</th>
														<th scope="col">등록일</th>
														<th scope="col">구 분</th>
														<th scope="col">상 태</th>
														<th scope="col">신청서/취소</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>홍길*</td>
														<td>
															**** - 01 - **
														</td>
														<td>
															<time>2019-01-01 (10:53:26)</time>
														</td>
														<td>
															신청자
														</td>
														<td class="point2">
															접수완료
														</td>
														<td>
															<button type="button" class="comm-btn_check_lightgray2">신청서 확인</button>
														</td>
													</tr>
													<tr>
														<td>2</td>
														<td>홍길*</td>
														<td>
															**** - 01 - **
														</td>
														<td>
															<time>2019-01-01 (10:53:26)</time>
														</td>
														<td>
															신청자
														</td>
														<td class="point2">
															접수완료
														</td>
														<td>
															<button type="button" class="comm-btn_check_lightgray2">신청서 확인</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<!-- 페이징 -->
									<div class="comp-paging" aria-label="페이지 선택" role="navigation">
										<div>
											<p class="allprev"><a href="#"><span>처음으로 이동</span></a></p>
											<p class="prev"><a href="#"><span>이전으로 이동</span></a></p>
											<ol class="number">
												<li><a href="#" aria-live="assertive" aria-current="page"><span>1</span></a></li><!-- 개발시 현재페이지 숫자에 aria-current='page' 속성 추가 -->
												<li><a href="#" aria-live="assertive"><span>2</span></a></li>
												<li><a href="#" aria-live="assertive"><span>3</span></a></li>
												<li><a href="#" aria-live="assertive"><span>4</span></a></li>
												<li><a href="#" aria-live="assertive"><span>5</span></a></li>
											</ol>
											<p class="next"><a href="#"><span>다음으로 이동</span></a></p>
											<p class="allnext"><a href="#"><span>마지막으로 이동</span></a></p>
										</div>
									</div>
									<!-- //페이징 -->
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>