<div id="header">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
				<ul class="haeder-lang" aria-label="언어별 홈페이지 이동 메뉴">
					<li><a href="#" title="현재 언어" class="icon_country_korea"><span>한국어</span></a></li>
					<li><a href="http://www.usc.go.kr/jp" target="_blank" title="새창으로 열림" class="icon_country_japan"><span>일본어</span></a></li>
					<li><a href="http://www.usc.go.kr/cn" target="_blank" title="새창으로 열림" class="icon_country_china"><span>중국어</span></a></li>
					<li><a href="http://www.usc.go.kr/eng" target="_blank" title="새창으로 열림" class="icon_country_en"><span>영어</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 문화관광</a></h1>
			<p class="btn-search-open view-m"><button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="gnb-search"><span>통합검색 열기</span></button></p>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
			<div class="comp-search" role="search" id="gnb-search" role="dialog">
				<div class="form">
					<p class="btn"><button type="button" class="btn-close"><span>검색 레이어 닫기</span></button></p>
					<select name="" id="" title="검색어 분류 선택">
						<option value="">통합검색</option>
					</select>
					<input type="text" title="검색어 입력" placeholder="검색어를 입력하세요">
				</div>
				<button type="submit"><span>검색</span></button>
			</div>
			<div class="usc-snsgroup">
				<p class="txt">의성군과 소통하기</p>
				<ul class="sns">
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_facebook"><span>페이스북</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_twitter"><span>트위터</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_blog"><span>블로그</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_kakao"><span>카카오스토리</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_instar"><span>인스타그램</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup view-m">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>추천&middot;테마여행</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>스토리텔링 여행</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>조문국</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을가로숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>고운사 금봉자연휴양림</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙정나루터와 관수루</span></a></h4> </li>
												<li> <h4><a href="#"><span>생송리마애불산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>대곡사</span></a></h4> </li>
												<li> <h4><a href="#"><span>빙계계곡</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>테마별 코스여행</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>힐링여행</span></a></h4> </li>
												<li> <h4><a href="#"><span>별미여행</span></a></h4> </li>
												<li> <h4><a href="#"><span>역사탐방여행</span></a></h4> </li>
												<li> <h4><a href="#"><span>농촌체험여행</span></a></h4> </li>
												<li> <h4><a href="#"><span>포토여행</span></a></h4> </li>
												<li> <h4><a href="#"><span>등산여행</span></a></h4> </li>
												<li> <h4><a href="#"><span>꽃여행</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>일정별 코스여행</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>당일</span></a></h4> </li>
												<li> <h4><a href="#"><span>1박 2일</span></a></h4> </li>
												<li> <h4><a href="#"><span>2박 3일</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>계절별 여행</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>봄</span></a></h4> </li>
												<li> <h4><a href="#"><span>여름</span></a></h4> </li>
												<li> <h4><a href="#"><span>가을</span></a></h4> </li>
												<li> <h4><a href="#"><span>겨울</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>관광명소</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>산 &middot; 계곡</span></a></h3>
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>금성산</span></a> </h4></li>
												<li><h4> <a href="#"><span>청화산</span></a> </h4></li>
												<li><h4> <a href="#"><span>비봉산</span></a> </h4></li>
												<li><h4> <a href="#"><span>빙계계곡</span></a> </h4></li>
												<li><h4> <a href="#"><span>산운생태공원</span></a> </h4></li>
												<li><h4> <a href="#"><span>금봉자연휴양림</span></a> </h4></li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>관광지</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성 금성산 고분군</span></a></h4> </li>
												<li> <h4><a href="#"><span>탑산약수온천</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙단보</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌가로 숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>산수유꽃피는마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>토속어류산업화센터</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>박물관 &middot; 전시관</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성조문국박물관</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌자료관</span></a></h4> </li>
												<li> <h4><a href="#"><span>마늘테마파크</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성 의병기념관</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>걷기여행길</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>산수유마을 생태탐방로</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성읍둘레길</span></a></h4> </li>
												<li> <h4><a href="#"><span>만경강산나루길</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>축제&middot;체험</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>산 &middot; 계곡</span></a></h3>
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>금성산</span></a> </h4></li>
												<li><h4> <a href="#"><span>청화산</span></a> </h4></li>
												<li><h4> <a href="#"><span>비봉산</span></a> </h4></li>
												<li><h4> <a href="#"><span>빙계계곡</span></a> </h4></li>
												<li><h4> <a href="#"><span>산운생태공원</span></a> </h4></li>
												<li><h4> <a href="#"><span>금봉자연휴양림</span></a> </h4></li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>관광지</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성 금성산 고분군</span></a></h4> </li>
												<li> <h4><a href="#"><span>탑산약수온천</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙단보</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌가로 숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>산수유꽃피는마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>토속어류산업화센터</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>박물관 &middot; 전시관</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성조문국박물관</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌자료관</span></a></h4> </li>
												<li> <h4><a href="#"><span>마늘테마파크</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성 의병기념관</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>걷기여행길</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>산수유마을 생태탐방로</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성읍둘레길</span></a></h4> </li>
												<li> <h4><a href="#"><span>만경강산나루길</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>음식&middot;숙박&middot;특산물</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>산 &middot; 계곡</span></a></h3>
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>금성산</span></a> </h4></li>
												<li><h4> <a href="#"><span>청화산</span></a> </h4></li>
												<li><h4> <a href="#"><span>비봉산</span></a> </h4></li>
												<li><h4> <a href="#"><span>빙계계곡</span></a> </h4></li>
												<li><h4> <a href="#"><span>산운생태공원</span></a> </h4></li>
												<li><h4> <a href="#"><span>금봉자연휴양림</span></a> </h4></li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>관광지</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성 금성산 고분군</span></a></h4> </li>
												<li> <h4><a href="#"><span>탑산약수온천</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙단보</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌가로 숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>산수유꽃피는마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>토속어류산업화센터</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>박물관 &middot; 전시관</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성조문국박물관</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌자료관</span></a></h4> </li>
												<li> <h4><a href="#"><span>마늘테마파크</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성 의병기념관</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>걷기여행길</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>산수유마을 생태탐방로</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성읍둘레길</span></a></h4> </li>
												<li> <h4><a href="#"><span>만경강산나루길</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>역사문화스토리</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>산 &middot; 계곡</span></a></h3>
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>금성산</span></a> </h4></li>
												<li><h4> <a href="#"><span>청화산</span></a> </h4></li>
												<li><h4> <a href="#"><span>비봉산</span></a> </h4></li>
												<li><h4> <a href="#"><span>빙계계곡</span></a> </h4></li>
												<li><h4> <a href="#"><span>산운생태공원</span></a> </h4></li>
												<li><h4> <a href="#"><span>금봉자연휴양림</span></a> </h4></li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>관광지</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성 금성산 고분군</span></a></h4> </li>
												<li> <h4><a href="#"><span>탑산약수온천</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙단보</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌가로 숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>산수유꽃피는마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>토속어류산업화센터</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>박물관 &middot; 전시관</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성조문국박물관</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌자료관</span></a></h4> </li>
												<li> <h4><a href="#"><span>마늘테마파크</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성 의병기념관</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>걷기여행길</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>산수유마을 생태탐방로</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성읍둘레길</span></a></h4> </li>
												<li> <h4><a href="#"><span>만경강산나루길</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>여행안내</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>산 &middot; 계곡</span></a></h3>
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>금성산</span></a> </h4></li>
												<li><h4> <a href="#"><span>청화산</span></a> </h4></li>
												<li><h4> <a href="#"><span>비봉산</span></a> </h4></li>
												<li><h4> <a href="#"><span>빙계계곡</span></a> </h4></li>
												<li><h4> <a href="#"><span>산운생태공원</span></a> </h4></li>
												<li><h4> <a href="#"><span>금봉자연휴양림</span></a> </h4></li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>관광지</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성 금성산 고분군</span></a></h4> </li>
												<li> <h4><a href="#"><span>탑산약수온천</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙단보</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌가로 숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>산수유꽃피는마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>토속어류산업화센터</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>박물관 &middot; 전시관</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성조문국박물관</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌자료관</span></a></h4> </li>
												<li> <h4><a href="#"><span>마늘테마파크</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성 의병기념관</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>걷기여행길</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>산수유마을 생태탐방로</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성읍둘레길</span></a></h4> </li>
												<li> <h4><a href="#"><span>만경강산나루길</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>여행알리미</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>산 &middot; 계곡</span></a></h3>
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>금성산</span></a> </h4></li>
												<li><h4> <a href="#"><span>청화산</span></a> </h4></li>
												<li><h4> <a href="#"><span>비봉산</span></a> </h4></li>
												<li><h4> <a href="#"><span>빙계계곡</span></a> </h4></li>
												<li><h4> <a href="#"><span>산운생태공원</span></a> </h4></li>
												<li><h4> <a href="#"><span>금봉자연휴양림</span></a> </h4></li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>관광지</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성 금성산 고분군</span></a></h4> </li>
												<li> <h4><a href="#"><span>탑산약수온천</span></a></h4> </li>
												<li> <h4><a href="#"><span>낙단보</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌가로 숲</span></a></h4> </li>
												<li> <h4><a href="#"><span>산운마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>산수유꽃피는마을</span></a></h4> </li>
												<li> <h4><a href="#"><span>토속어류산업화센터</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>박물관 &middot; 전시관</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>의성조문국박물관</span></a></h4> </li>
												<li> <h4><a href="#"><span>사촌자료관</span></a></h4> </li>
												<li> <h4><a href="#"><span>마늘테마파크</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성 의병기념관</span></a></h4> </li>
											</ul>
										</div>
									</div>
									<div class="menugroup">
										<div class="group">
											<h3><a href="#"><span>걷기여행길</span></a></h3>
											<ul class="depth3menu">
												<li> <h4><a href="#"><span>산수유마을 생태탐방로</span></a></h4> </li>
												<li> <h4><a href="#"><span>의성읍둘레길</span></a></h4> </li>
												<li> <h4><a href="#"><span>만경강산나루길</span></a></h4> </li>
											</ul>
										</div>
									</div>
								</div>
								<div class="festival">
									<div class="tit-zone">
										<h2 class="tit">의성축제체험</h2>
										<p class="desc">활력 넘치는 의성에서 가족&middot;연인과 함께 <br>즐거운 추억을 만들어 보세요!</p>
									</div>
									<ul class="lst">
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb1.png" alt=""></div>
												<div class="name"><span>의성슈퍼푸드<br>마늘축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb2.png" alt=""></div>
												<div class="name"><span>의성세계연축제</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb3.png" alt=""></div>
												<div class="name"><span>산수유마을<br>꽃맞이행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb4.png" alt=""></div>
												<div class="name"><span>의성군민<br>한마당큰잔치</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb5.png" alt=""></div>
												<div class="name"><span>봉양자두따기<br>체험행사</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb6.png" alt=""></div>
												<div class="name"><span>숲체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb7.png" alt=""></div>
												<div class="name"><span>농촌체험</span></div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="icon"><img src="../../static/images/culture/img_gnb8.png" alt=""></div>
												<div class="name"><span>음식&middot;문화체험</span></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('620,620,620,620,620,620,620');
</script>