<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 문화관광</title>
	<meta name="Subject" content="의성군 문화관광" >
	<meta name="title" content="의성군 문화관광" >
	<meta name="keywords" content="의성군 문화관광" >
	<meta name="description" content="의성군 문화관광" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="culture">
		<!-- HEADER -->
		<header><!-- culture/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<div class="scroll-section">
					<!-- 1 SECTION -->
					<div class="section sec-culture">
						<section>
							<div class="slider-bg js-slider-bg">
								<div class="slider">
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide1.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide1_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="사촌가로숲길"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide2.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide2_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="낙단보"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide3.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide3_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="???"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide4.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide4_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="의성 금성산 고분군"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide5.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide5_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="조문국박물관"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide6.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide6_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="산운마을"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide7.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide7_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="사촌마을"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide8.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide8_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="산수유꽃 피는 마을"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
									<div class="slide">
										<div class="img pc"><img src="../../static/images/culture/main/img_slide9.jpg" alt=""></div><!-- pc img -->
										<div class="img m"><img src="../../static/images/culture/main/img_slide9_m.jpg" alt=""></div><!-- mobile img -->
										<div class="inner">
											<p class="subtit">의성관광명소</p>
											<h2 class="tit"><img src="../../static/images/culture/main/img_slide_tit1.png" alt="토속어류산업화센터"></h2>
											<p class="desc">직약꽃이 만발하여 고분군과 조화를 이루고 있는 고대국가 조문국 이야기</p>
											<p class="btn"><a href="#"><span>답사하기</span></a></p>
										</div>
									</div>
								</div>
								<ul class="indicator">
									<li><button type="button" class="btn-prev"><span>이전 슬라이드로 이동</span></button></li>
									<li><button type="button" class="btn-next"><span>다음 슬라이드로 이동</span></button></li>
								</ul>
							</div>
							<div class="slider-nav js-slider-nav">
								<ul class="slider">
									<li class="slide">
										<a href="#" aria-selected="true">
											<div class="img"><img src="../../static/images/culture/main/img_nav1.png" alt="사촌가로숲길 썸네일"></div>
											<div class="name"><span>사촌가로숲길</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav2.png" alt="낙단보 썸네일"></div>
											<div class="name"><span>낙단보</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav3.png" alt="??? 썸네일"></div>
											<div class="name"><span>???</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav4.png" alt="의성 금성산 고분군 썸네일"></div>
											<div class="name"><span>의성 금성산 고분군</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav5.png" alt="조문국박물관 썸네일"></div>
											<div class="name"><span>조문국박물관</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav6.png" alt="산운마을 썸네일"></div>
											<div class="name"><span>산운마을</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav7.png" alt="사촌마을 썸네일"></div>
											<div class="name"><span>사촌마을</span></div>
										</a>
									</li>					
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav8.png" alt="산수유꽃피는마을 썸네일"></div>
											<div class="name"><span>산수유꽃 피는 마을</span></div>
										</a>
									</li>										
									<li class="slide">
										<a href="#">
											<div class="img"><img src="../../static/images/culture/main/img_nav9.png" alt="토속어류산업화센터 썸네일"></div>
											<div class="name"><span>토속어류산업화센터</span></div>
										</a>
									</li>					
								</ul>
							</div>
							<div class="weather-zone">
								<p class="today-icon"><img src="../../static/images/usc/icon_weather_sun.png" alt="맑음"></p>
								<dl class="today-txt">
									<dt class="day">12월 00일(월) :</dt>
									<dd class="detail">
										<ul>
											<li>기온 <span>-3.0℃</span></li>
											<li>미세먼지 <span>보통</span></li>
											<li>강수량 <span>0.0mm</span></li>
										</ul>
										<a href="#" target="_blank" title="새창으로 열림" class="lnk"><span>날씨 자세히 보기</span></a>
									</dd>
								</dl>
							</div>
							<ul class="goto-zone">
								<li><a href="#"><span>여행정보</span></a></li>
								<li><a href="#"><span>주변숙소</span></a></li>
								<li><a href="#"><span>주변맛집</span></a></li>
								<li><a href="#"><span>여행후기</span></a></li>
							</ul>
						</section>
					</div>
					<!-- //1 SECTION -->
					<!-- 2 SECTION -->
					<div class="section sec-course">
						<section>
							<div class="inner">
								<div class="tit-zone">
									<p class="subtit">COURSE TRIP</p>
									<h2 class="tit"><img src="../../static/images/culture/main/img_sec2_tit.png" alt="아무걱정 하지말고 코스여행"></h2>
									<!-- 탭 -->
									<ul role="tablist">
										<li role='presentation'><a href="#course1" role="tab" aria-controls="course1" aria-selected="true"><span>전체코스여행</span></a></li>
										<li role='presentation'><a href="#course2" role="tab" aria-controls="course2"><span>코스여행</span></a></li>
										<li role='presentation'><a href="#course3" role="tab" aria-controls="course3"><span>계절별여행</span></a></li>
										<li role='presentation'><a href="#course4" role="tab" aria-controls="course4"><span>테마별여행</span></a></li>
									</ul>
									<!-- //탭 -->
								</div>
								
								<!-- 전체코스여행 -->
								<div id="course1" role="tabpanel" style="display:block;">
									<div class="slider">
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<div class="flag best">BEST 코스</div>
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<div class="flag popular">인기여행 코스</div>
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- //전체코스여행 -->
								<!-- 코스여행 -->
								<div id="course2" role="tabpanel" style="display: none">
									<div class="slider">
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs1.png" alt="1박2일 썸네일">
													<div class="hover"><span>코스여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">1박2일</span>
													<span class="category">코스여행</span>
													<span class="desc">의성의 역사를 엿보는 코스 <br>첫째날 AM9:00  ~ 둘째날 PM3:00 </span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!--// 코스여행 -->
								<!-- 계절별여행 -->
								<div id="course3" role="tabpanel" style="display: none">
									<div class="slider">
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs3.png" alt="꽃여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">꽃여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">꽃내음 가득히 머금고, <br>친구들과 사진촬영하는 여행!</span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- //계절별여행 -->
								<!-- 테마별여행 -->
								<div id="course4" role="tabpanel" style="display: none">
									<div class="slider">
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
					
										<div class="slide">
											<a href="#">
												<div class="img">
													<img src="../../static/images/culture/temp/@cs2.png" alt="역사탐방여행 썸네일">
													<div class="hover"><span>테마별여행출발</span></div>
												</div>
												<div class="infor">
													<span class="name">역사탐방여행</span>
													<span class="category">테마별여행</span>
													<span class="desc">가족과 함께 문화를 배우는 <br>역사탐방여행!</span>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- //테마별여행 -->
							</div>
						</section>
					</div>
					<!-- //2 SECTION -->
					<!-- 3 SECTION -->
					<div class="section sec-etc">
						<section>
							<div class="inner">
								<!-- 의성 관광문화소식 -->
								<div class="notice-zone js-notice-zone">
									<h2 class="tit">의성 관광문화소식</h2>
									<ul class="slider">
										<li>
											<a href="#">
												<span class="cont">[의성관광홍보영상물] 낭만적인 의성</span>
												<span class="date">0000-00-00</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="cont">[의성관광홍보영상물] 낭만적인 의성</span>
												<span class="date">0000-00-00</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="cont">[의성관광홍보영상물] 낭만적인 의성</span>
												<span class="date">0000-00-00</span>
											</a>
										</li>
									</ul>
									<ul class="indicator">
										<li><button type="button" class="btn-prev"><span>슬라이드 이전으로 이동</span></button></li>
										<li><button type="button" class="btn-next"><span>슬라이드 다음으로 이동</span></button></li>
										<li><a href="#" class="btn-more"><span>의성 관광문화소식 더보기</span></a></li>
									</ul>
								</div>
								<!--// 의성 관광문화소식 -->
								<div class="box-zone">
									<!-- 관광안내, 의성 문화재 -->
									<div class="group">
										<!-- 관광안내1330 -->
										<div class="infor-zone">
											<h2 class="tit">관광안내1330</h2>
											<p class="desc">한국관광공사는 국내&middot;외 관광객의 편의를 위해 <br>관광통역안내 전화 1330을 운영하고 있습니다.</p>
											<p class="btn"><a href="#"><span>1330안내보기</span></a></p>
										</div>
										<!-- 의성 문화재 -->
										<div class="cultural-zone">
											<h2 class="tit">의성 문화재</h2>
											<ul class="lst">
												<li><a href="#"><span>국가지정문화재 <em class="go">GO</em></span></a></li>
												<li><a href="#"><span>도지정문화재 <em class="go">GO</em></span></a></li>
												<li><a href="#"><span>전통사찰 <em class="go">GO</em></span></a></li>
											</ul>
										</div>
									</div>
									<!--// 관광안내, 의성 문화재 -->
									<!-- 팝업존 -->
									<div class="event-zone js-event-zone">
										<ul class="slider">
											<li class="slide"><a href="#" target="_blank" title="새창으로 열림"><img src="../../static/images/culture/temp/@event.png" alt="제1회 의성슈퍼푸드 마늘축제 (마늘요리의 시작과 끝) 포스터"></a></li>
											<li class="slide"><a href="#" target="_blank" title="새창으로 열림"><img src="../../static/images/culture/temp/@event.png" alt="제1회 의성슈퍼푸드 마늘축제 (마늘요리의 시작과 끝) 포스터"></a></li>
											<li class="slide"><a href="#" target="_blank" title="새창으로 열림"><img src="../../static/images/culture/temp/@event.png" alt="제1회 의성슈퍼푸드 마늘축제 (마늘요리의 시작과 끝) 포스터"></a></li>
										</ul>
										<ul class="indicator">
											<li><button type="button" class="btn-prev"><span>슬라이드 이전으로 이동</span></button></li>
											<li><button type="button" class="btn-next"><span>슬라이드 다음으로 이동</span></button></li>
											<li><button type="button" class="btn-pause" onclick="usc.slickPause('.js-event-zone','.slider', this)"><span>슬라이드 재생 및 일시멈춤</span></button></li>
										</ul>
									</div>
									<!--// 팝업존 -->
									<!-- 퀵메뉴 -->
									<div class="quick-zone">
										<h2 class="tit">의성 문화관광 <br>퀵메뉴</h2>
										<ul class="lst">
											<li><a href="#"><span class="name">관광안내소</span></a></li>
											<li><a href="#"><span class="name">관광지도 다운로드</span></a></li>
											<li><a href="#"><span class="name">문화관광해설사</span></a></li>
											<li><a href="#"><span class="name">의성문화관광 교통안내</span></a></li>
										</ul>
									</div>
									<!-- //퀵메뉴 -->
								</div>
							</div>
						</section>
					</div>
					<!-- //3 SECTION -->
					<div class="icon-scroll" aria-label="현재 스크롤된 섹션 위치">
						<ol class="order">
							<li aria-current="page" aria-live="assertive"><span>첫번째 섹션</span></li>
							<li aria-live="assertive"><span>두번째 섹션</span></li>
							<li aria-live="assertive"><span>세번째 섹션</span></li>
						</ol>
						<p class="txt">scroll down</p>
					</div>
				</div>
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- culture/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	//메인 비주얼
	var mainSlider = (function(){
		var idx; 

		$(".js-slider-bg .slide .img").each(function(){
			$(this).css({"background":"url("+$(this).find("img").attr("src")+") no-repeat 50% 50%", "background-size": "cover"});
		})

		// bg
		$('.js-slider-bg .slider').slick({
			dots:true,
			infinite: true,
			speed: 400,
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows:true,
			fade:true,
			swipe:false,
			nextArrow : $('.js-slider-bg .btn-next'),
			prevArrow : $('.js-slider-bg .btn-prev'),
			customPaging :  function(slick,index) {
				var i = index + 1;
	         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
	      },
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						dots:false
				   }
				}
			]
		}).on("afterChange", function(slick, currentSlide){
			idx = $(this).find(".slick-current").index();
			$('.js-slider-nav li').eq(idx).find("a").attr("aria-selected", true);
			$('.js-slider-nav li').eq(idx).siblings().find("a").removeAttr("aria-selected");
		})
		
		// nav
		$('.js-slider-nav a').on("click", function(){
			idx = $(this).closest("li").index();

			if($(this).is('aria-selected')) return false;

			$(".js-slider-bg .slider").slick('slickGoTo', idx);
			return false;
		})
	})();
	// 코스여행 슬라이더
	$("#course1 .slider, #course2 .slider, #course3 .slider, #course4 .slider").slick({
		dots: true,
		infinite: true,
		speed: 400,
		slidesToShow:3,
		slidesToScroll: 3,
		swipe:true,
		arrows:true,
		customPaging :  function(slick,index) {
			var i = index + 1;
         return '<em class="current">' + i + '</em><span class="division">/</span>' + Math.ceil(slick.slideCount/3);
      },
      responsive: [
			{
				breakpoint: 1024,
				settings: {
					swipe:true,
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows:false,
					dots:false
			   }
			}
		]
	});
	$(".sec-course a[role=tab]").on("click", function(){
		if($(this).attr('aria-selected')=='true') return false;

		var _idx = $(this).closest("li").index()+1, id="#course"+_idx;
		$(id).find(".slider").slick('resize');
		return false;
	})
	// 공지사항 슬라이더
	$(".js-notice-zone .slider").slick({
		dots: false,
		infinite: true,
		speed: 400,
		vertical:true,
		slidesToShow:1,
		slidesToScroll: 1,
		swipe:false,
		arrows:true,
		// autoplay: true,
		autoplaySpeed: 3000,
		nextArrow : $('.js-notice-zone .btn-next'),
		prevArrow : $('.js-notice-zone .btn-prev')
	});
	// 이벤트 슬라이더
	$(".js-event-zone .slider").slick({
		dots: false,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow:1,
		slidesToScroll: 1,
		swipe:false,
		arrows:true,
		// autoplay: true,
		autoplaySpeed: 3000,
		nextArrow : $('.js-event-zone .btn-next'),
		prevArrow : $('.js-event-zone .btn-prev')
	});
	// PC 마우스휠 이벤트
	var allSlider = (function(){
		var delta, sec = $(".section").height(),
			$this = $(".scroll-section"), 
			$scroll = $(".icon-scroll .order"),
			curr=0, _idx = 0, spd=400, pc, mo;

		if($(window).width() < 1024){
			pc=false, mo=true;
		}else{
			pc=true, mo=false;
			wheeel();
		}

		// RESIZE
		$(window).resize(function(){
			if(this.resizeTO) {
		        clearTimeout(this.resizeTO);
		    }
		    this.resizeTO = setTimeout(function() {
		        $(this).trigger('resizeEnd');
		    }, 500);
		});;
		$(window).on("resizeEnd", function(){
			if($(window).width() < 1024){
				if(mo==true) return false;
				$(window).unbind("mousewheel");
				$("body").removeAttr("style");
				pc=false, mo=true;
			}else{
				console.log("resize");
				if(pc==true) return false;
				wheeel();
				pc=true, mo=false;
			}
		});

		// wheel 함수
		function wheeel(){
			sec = $(".section").height(), _idx=0; 
			$this.css("margin-top",0);

			$("body").css("overflow",'hidden');

			$(window).bind("mousewheel", function(event){
				event.originalEvent.wheelDelta==-120 ? delta="down" : delta="up";

				if(delta=='down'){
					if(_idx >= 2){
						$("body").removeAttr("style");
						return;
					}

					$this.stop().animate({'margin-top': curr-sec+'px'}, spd, 'swing', function(){
						curr = parseInt($this.css("margin-top"));
						_idx++;
						if(_idx>2) _idx=2;
						$scroll.find("li").eq(_idx).attr("aria-current", 'page').siblings().removeAttr("aria-current");
					});
				}else{
					if(_idx <= 0) return;
					if(_idx == 2) {
						$('html,body').animate({"scrollTop": 0}, spd, 'swing', function(){
							$("body").css("overflow",'hidden');
						});
					}

					$this.stop().animate({'margin-top': curr+sec+'px'}, spd, 'swing', function(){
						curr = parseInt($this.css("margin-top"));
						_idx--;
						if(_idx<0) _idx=0;
						$scroll.find("li").eq(_idx).attr("aria-current", 'page').siblings().removeAttr("aria-current");
					});
				}
			})
		}
	})();

</script>
</body>
</html>