<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>교육이수증 &lt; 의성군 농업기술센터</title>
	<meta name="Subject" content="의성군 농업기술센터" >
	<meta name="title" content="의성군 농업기술센터" >
	<meta name="keywords" content="의성군 농업기술센터" >
	<meta name="description" content="의성군 농업기술센터" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="farmingtech"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- farmingtech/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="fm_part05"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>센터소개</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>인사말</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>연혁 및 기능</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>주요업무</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>조직 및 직원</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>청사안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">의성농업대학</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<h3 class="heading-h3">교육이수증</h3>
							
								<table class="comp-tbl_formtype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th scope="col">이수증</th>
											<td>
												<div class="w_email">
													<select name="" id="" title="이메일 도메인 선택" class="comp-select">
														<option value="">직접입력</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="col">년도</th>
											<td>
												<div class="w_email">
													<select name="" id="" title="이메일 도메인 선택" class="comp-select">
														<option value="">직접입력</option>
													</select>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="col">이름<strong class="important">*</strong></th>
											<td>
												<input type="text" title="제목 입력" class="comp-input">
											</td>
										</tr>
									</tbody>
								</table>
								<table class="comp-tbl_datatype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="colgroup">번호</th>
											<th scope="colgroup">이름</th>
											<th scope="colgroup">이수증</th>
											<th scope="colgroup">이수 년도</th>
											<th scope="colgroup">생년월일</th>
											<th scope="colgroup">주소</th>
											<th scope="colgroup">이수증</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>10</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>9</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>8</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>7</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>6</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>5</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>4</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>3</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>2</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
										<tr>
											<td>1</td>
											<td>홍길동</td>
											<td>농산물우수관리제도(GPA)교육</td>
											<td>2019-01-01</td>
											<td>2019-01-01</td>
											<td>경상북도 OOO OOO 42-1</td>
											<td><img src="../../static/images/common/icon_download3.png" alt=""></td>
										</tr>
									</tbody>
								</table>

								<div class="comp-paging" aria-label="페이지 선택" role="navigation">
									<div>
										<p class="allprev"><a href="#"><span>처음으로 이동</span></a></p>
										<p class="prev"><a href="#"><span>이전으로 이동</span></a></p>
										<ol class="number">
											<li><a href="#" aria-live="assertive" aria-current="page"><span>1</span></a></li><!-- 개발시 현재페이지 숫자에 aria-current='page' 속성 추가 -->
											<li><a href="#" aria-live="assertive"><span>2</span></a></li>
											<li><a href="#" aria-live="assertive"><span>3</span></a></li>
											<li><a href="#" aria-live="assertive"><span>4</span></a></li>
											<li><a href="#" aria-live="assertive"><span>5</span></a></li>
										</ol>
										<p class="next"><a href="#"><span>다음으로 이동</span></a></p>
										<p class="allnext"><a href="#"><span>마지막으로 이동</span></a></p>
									</div>
								</div>

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- farmingtech/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>