<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>주요업무 &lt; 센터소개 &lt; 의성군 농업기술센터</title>
	<meta name="Subject" content="의성군 농업기술센터" >
	<meta name="title" content="의성군 농업기술센터" >
	<meta name="keywords" content="의성군 농업기술센터" >
	<meta name="description" content="의성군 농업기술센터" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="farmingtech"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- farmingtech/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="fm_part01"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>센터소개</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>인사말</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>연혁 및 기능</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>주요업무</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>조직 및 직원</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>청사안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">주요업무</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<!-- 11111111111 -->
								<h3 class="heading-h3">식량작물 기술보급</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm1.jpg" alt="벼를 베는 기계 모습">
									</div>
									<div class="txt">
										<h4 class="heading-h4">벼우량 종자 보급</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">392M/T(일품, 운광벼등)</span></p>
										<h4 class="heading-h4 mt25">보리, 감자, 옥수수 보급종자보급</h4>
										<h4 class="heading-h4 mt25">브랜드쌀 생산지도</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">의성황토쌀, 의로운쌀</span></p>
										<h4 class="heading-h4 mt25">재해방지 기술보급</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">냉해, 도복, 침관수, 병해충 정밀예찰 및 적기방제</span></p>
										<h4 class="heading-h4 mt25">식량작물시범사업 추진지도</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">논소득기반다양화작부체계 사업 외 9개사업-14개소</span></p>
									</div>
								</div>

								<!-- 22222222222 -->
								<h3 class="heading-h3 mt30">소득작물 기술보급</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm2.jpg" alt="남성이 논밭에서 삽을 들고 있는 모습">
									</div>
									<div class="txt">
										<h4 class="heading-h4">의성마늘 발전사업 시범사업추진 및 현지지도</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">의성 토종마늘 생산단지 운영 1개소-1ha</span></li>
											<li><span class="cont">의성 명품마늘생산 대상농가교육 및 현지지도-5회(309명)</span></li>
										</ul>
										<h4 class="heading-h4 mt25">시설채소 저탄소그린에너지이용 및 안정생산시범 5개소(1ha)</h4>
										<h4 class="heading-h4 mt25">마늘우량종구 시험포운영(0.5ha)</h4>
										<h4 class="heading-h4 mt25">과수고품질 생산성향상 시범사업추진 및 현지지도</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">친환경 고품질 과실생산시범 외 10종 24개소</span></p>
										<h4 class="heading-h4 mt25">특용작물 재배시범사업추진 및 현지지도</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">버섯재배에너지절감시범 외 2종 3개소</span></p>
										<h4 class="heading-h4 mt25">축산시범사업 추진 및 현지지도</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">직무육성 조사료 신품종보급 외 7종 16개소</span></p>
									</div>
								</div>

								<!-- 3333333333 -->
								<h3 class="heading-h3 mt30">종합분석실 운영</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm3.jpg" alt="종합분석실에서 연구원이 실험하고 있는 모습">
									</div>
									<div class="txt mb30">
										<h4 class="heading-h4">토양검정에 의한 건강한 흙 만들기</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">쌀소득등 보전직접지불제 검정</span></li>
											<li><span class="cont">친환경 품질인증등 농가의뢰</span></li>
											<li><span class="cont">친환경농업지구 및 토양개량제 살포량산정</span></li>
											<li><span class="cont">주요작물 재배지 토양검정</span></li>
										</ul>
										<h4 class="heading-h4 mt25">쌀품질 관리실</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">DNA검사 : 쌀 유전자 분석으로 품종파별 및 순도검사</span></li>
											<li><span class="cont">쌀외관분석 : 완전미외 4종 분석</span></li>
											<li><span class="cont">쌀성분분석 : 단백질외 3종 분석</span></li>
										</ul>
									</div>
								</div>

								<!-- 444444444444 -->
								<h3 class="heading-h3 mt30">의성농업대학운영</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm4.jpg" alt="의성농업대학운영 제6기 수료식 모습">
									</div>
									<div class="txt">
										<h4 class="heading-h4">설립이념</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">의성농업의 미래를 선도하는 정예농업인력 양성</span></p>
										<h4 class="heading-h4 mt25">운영기구</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">학장(군수), 운영위원</span></p>
										<h4 class="heading-h4 mt25">과정 및 인원</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">3개과정 120명(과정별 40명)</span></p>
										<h4 class="heading-h4 mt25">교육시설</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">의성군농업기술센터 강당 강의실 및 현지포장</span></p>
										<h4 class="heading-h4 mt25">지원대상</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">의성군 관내 거주하는 남·여 농업인</span></p>
										<h4 class="heading-h4 mt25">교육기간</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">1년(28회 120시간 이수 → 1일 4시간 교육)</span></p>
										<h4 class="heading-h4 mt25">교육생 선발 및 졸업 교육생선발</h4>
										<p class="comp-lst_dotted mt5 ml5"><span class="cont">홍보(1월) → 희망자접수(2월) → 선발기준 → 의거 선발 → 합격자 통보(2월말) → 입학식(3월초) → 교육(3월 ~ 10월) → 졸업(11월)</span></p>
									</div>
								</div>
							
								<!-- 5555555555 -->
								<h3 class="heading-h3 mt30">쾌적하고 활기찬 생활환경 개선</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm5.jpg" alt="농산물종합가공센터">
									</div>
									<div class="txt">
										<h4 class="heading-h4">쾌적하고 활기찬 생활환경 개선</h4>
										<h4 class="heading-h4 mt25">농업인건강관리실 설치 21개소</h4>
										<h4 class="heading-h4 mt25">농작업환경개선 편이장비 지원 12개소</h4>
										<h4 class="heading-h4 mt25">태양열이용 온수기 설치 49호</h4>
										<h4 class="heading-h4 mt25">농촌건강장수 마을 육성 2개소</h4>
										<h4 class="heading-h4 mt25">농촌여성 일감갖기 사업장 25개소</h4>
										<h4 class="heading-h4 mt25">농심나눔쉼터조성 157개소</h4>
										<h4 class="heading-h4 mt25">농촌주거환경개선 1,236호</h4>
										<h4 class="heading-h4 mt25">농산물종합가공센터 운영</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">설치 기자재 : 조청(물엿)라인 1식, 잼라인 1식, 건조기1, 포장기(환제조기, 진공포장기, 라벨기)</span></li>
											<li><span class="cont">사업장소 : 안계면 시안리 안계지소내</span></li>
											<li><span class="cont">활용가능품목 : 쌀, 마늘, 산수유 조청(물엿), 사과잼</span></li>
										</ul>
										<p class="comp-lst_important ml3 mt10">사전 신청 및 판매원 등록된 농업인</p>
									</div>
								</div>

								<!-- 666666666666 -->
								<h3 class="heading-h3 mt30">농기계임대</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm6.jpg" alt="여러대의 임대용 농기계 모습">
									</div>
									<div class="txt">
										<h4 class="heading-h4">농기계 임대사업 : 2개소</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">장 비 : 농용굴삭기외 44종 248대</span></li>
											<li><span class="cont">임대료 : 1일 10,000원 ~ 50,000원</span></li>
											<li><span class="cont">임대일수 : 1~3일</span></li>
											<li><span class="cont">회원가입 후 인터넷, 전화, 방문신청</span></li>
										</ul>
										<h4 class="heading-h4 mt25">농기계 순환수리</h4>
										<h4 class="heading-h4 mt25">농업기계 사용교육</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">농업인 실수요자반, 여성농업인 농기계반</span></li>
											<li><span class="cont">신개발기종 조작기술</span></li>
											<li><span class="cont">농기계안전사고 예방</span></li>
										</ul>
									</div>
								</div>

								<!-- 77777777777 -->
								<h3 class="heading-h3 mt30">미생물배양실</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm7.jpg" alt="미생물배양실에서의 실험하는 연구원 모습">
									</div>
									<div class="txt">
										<h4 class="heading-h4">우수 미생물 대량증식 보급으로 토양복원, 재배작물 생육촉진, 내병성 증진을 통한 친환경 농산물 생산 확대</h4>
										<h4 class="heading-h4 mt25">가축 면역력 증진, 생산성 향상, 축사환경개선으로 축산경쟁력 제고</h4>
										<h4 class="heading-h4 mt25">사업내용</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">규모 : 423m2(일반철골구조 지상1층)</span></li>
											<li><span class="cont">주요배양장비 : 멸균배양기외 43종</span></li>
											<li><span class="cont">생산균종 : 광합성균, 유산균, 효모균, 고초균, 방선균, 누룩균, Bt균, Bm균 등</span></li>
											<li><span class="cont">생산규모 : 150톤/년</span></li>
										</ul>
										<h4 class="heading-h4 mt25">추진내용</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">공급기시 : 연중</span></li>
											<li><span class="cont">공급대상 : 의성군에 거주하는 농업인</span></li>
											<li><span class="cont">공급량 : 영농규모에 따른 적정 필요량</span></li>
											<li><span class="cont">2013년 공급실적 : 43,740ℓ, 3,320 농가</span></li>
										</ul>
									</div>
								</div>

								<!-- 8888888888888 -->
								<h3 class="heading-h3 mt30">농업인영농기술교육</h3>
								<div class="f_box mt20">
									<div class="img">
										<img src="../../static/images/farmingtech/subpage/bg_fm8.jpg" alt="농업인영농기술교육을 받고 있는 사람들 모습">
									</div>
									<div class="txt">
										<h4 class="heading-h4">새해농업인실용교육</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">1~2월 : 6,000명 교육</span></li>
											<li><span class="cont">과정 : 5개 분야 (벼, 채소, 과수, 양봉, 농촌여성)</span></li>
											<li><span class="cont">내용 : 고품질 농산물 생산, 유통기술 및 군정홍보</span></li>
										</ul>
										<h4 class="heading-h4 mt25">여성농업인 과학영농 생활기술교육</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">한마음대회 및 리더십 배양교육 : 23회 2,800명</span></li>
											<li><span class="cont">농업 현장기술교육 : 7회 700명</span></li>
										</ul>
										<h4 class="heading-h4 mt25">돌아오는 농촌인력 양성</h4>
										<ul class="comp-lst_dotted mt5 ml5">
												<li><span class="cont">대상 : 의성 귀농, 귀촌인 (200명)</span></li>
												<li><span class="cont">내용 : 귀농귀촌 교육운영 및 현장실습 지원</span></li>
										</ul>
										<h4 class="heading-h4 mt25">선도농가 경영(강소농) 육성</h4>
										<ul class="comp-lst_dotted mt5 ml5">
											<li><span class="cont">대상 : 644명 (강소농 신청 농업인단체)</span></li>
											<li><span class="cont">내용 : 강소농 교육 및 컨설팅, 사업관리, 평가 등</span></li>
										</ul>
									</div>
								</div>
								
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- farmingtech/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>