<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>주요농산물 &lt; 의성농업현황 &lt; 의성군 농업기술센터</title>
	<meta name="Subject" content="의성군 농업기술센터" >
	<meta name="title" content="의성군 농업기술센터" >
	<meta name="keywords" content="의성군 농업기술센터" >
	<meta name="description" content="의성군 농업기술센터" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="farmingtech"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- farmingtech/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="farm"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>센터소개</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>인사말</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>연혁 및 기능</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>주요업무</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>조직 및 직원</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>청사안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">주요 농산물</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<ul class="comp-tab" role="tablist">
									<li role="presentation"><a href="#" role="tab"><span>사 과</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>자 두</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>복 숭 아</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>쌀</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent" aria-selected="true"><span>마 늘</span></a></li>
									<!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
								</ul>
								
								<div id="tabcontent" role="tabpanel">
									<h3 class="heading-h3">마늘</h3>
									<div class="img-area"><img src="../../static/images/farmingtech/subpage/img_farm.png" alt="의성군 농업기술센터 Farm Produce 한번 먹어보면 다시 먹고싶어지는 의성의 쌀 브랜드입니다. 의성"></div>
									<h4 class="heading-h4 mt30">전국 최고의 자랑 의성 토종 마늘</h4>
									<p class="comp-lst_dotted ml4 mt10">의성마늘은 조상대대로 재배되어 온 토종마늘로 주아재배를 하여 즙액이 많고, 독특한 향기와 매운맛이 감돌아 저장성이 강하여 전국 농산물 시장에서 가장 인기가 높으며, 한지형 마늘로는 전국 1위의 생산량을 자랑하고 있습니다.</p>
									<h4 class="heading-h4 mt30">의성마늘 재배현황</h4>
									<p class="comp-lst_dotted ml4 mt10">기준년도 : 2015년도</p>
									<table class="comp-tbl_datatype mt15">
										<caption>의성마늘 재배현황 - 재배면적, 농가구, 생산량, 소득</caption>
										<colgroup>
											<col style="width:30%">
											<col style="width:70%">
										</colgroup>
										<tbody>
											<tr>
												<th scope="row">재배면적</th>
												<td class="al-l">1,399ha</td>
											</tr>
											<tr>
												<th scope="row">농가구</th>
												<td class="al-l">2,913호</td>
											</tr>
											<tr>
												<th scope="row">생산량</th>
												<td class="al-l">14,300톤</td>
											</tr>
											<tr>
												<th scope="row">소득</th>
												<td class="al-l">785억원</td>
											</tr>
										</tbody>
									</table>
									<h4 class="heading-h4 mt40">의성마늘 지도 방향</h4>
									<ul class="comp-lst_dotted ml4 mt10">
										<li>마늘주아이용 우량종구 자가생산</li>
										<li>건조 방법 개선으로 상품성 향상</li>
										<li>마늘 가공품 개발 → 부가가치 향상</li>
									</ul>
									<h4 class="heading-h4 type_img mt40">이것이 진짜 <span class="txt-img">의성마늘</span> 이다!</h4>
									<ul class="img-list">
										<li>
											<p class="txt"><em class="tit">의성마늘</em>쫑대를 중심으로 마늘쪽의 끝이 밀착, 제비꼬리모양</p>
											<div class="img-area">
												<img src="../../static/images/farmingtech/subpage/img_garlic.png" alt="의성마늘 입면">
											</div>
										</li>
										<li>
											<p class="txt"><em class="tit">남도마늘</em>쫑대와 마늘쪽사이의 공간이 벌어지고 쪽모양이 둥글다</p>
											<div class="img-area">
												<img src="../../static/images/farmingtech/subpage/img_garlic.png" alt="남도마늘 입면">
											</div>
										</li>
										<li>
											<p class="txt"><em class="tit">대서마늘</em>쫑대와 마늘쪽사이의 공간이 매우 크며 쪽수가 많다</p>
											<div class="img-area">
												<img src="../../static/images/farmingtech/subpage/img_garlic.png" alt="대서마늘 입면">
											</div>
										</li>
									</ul>
								</div>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- farmingtech/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>