<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>주요농산물 &lt; 의성농업현황 &lt; 의성군 농업기술센터</title>
	<meta name="Subject" content="의성군 농업기술센터" >
	<meta name="title" content="의성군 농업기술센터" >
	<meta name="keywords" content="의성군 농업기술센터" >
	<meta name="description" content="의성군 농업기술센터" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="farmingtech"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- farmingtech/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="summary"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>책으로 소통하는 행복한 도서관 의성군립도서관 Uiseong County Library</p>
					<img src="../../static/images/commonbg/bg_farmingtech.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>센터소개</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>인사말</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>연혁 및 기능</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>주요업무</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>조직 및 직원</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>청사안내</span></a></h2> </li>
								<li> <h2><a href="#" class="single"><span>찾아오시는 길</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">의성농업대학</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<h3 class="heading-h3">기본개요</h3>
								<div class="img-area">
									<img src="../../static/images/farmingtech/subpage/img_summary.png" alt="의성군 농업기술 센터 Farmer's Dream 선진농업기술의 선두주자 의성군 농업기술센터가 함께 합니다. 01. 기본개요">
								</div>
								<h4 class="heading-h4 mt40">명칭</h4>
								<p class="comp-lst_dotted ml4 mt15">의성농업대학</p>
								<h4 class="heading-h4 mt25">설립이념</h4>
								<ul class="comp-lst_dotted ml4 mt15">
									<li>의성농업의 미래를 선도하는 정예농업인력 양성</li>
									<li><span class="point">「활력 넘치는 희망 의성 의성농업대학은 의성의 미래를 봅니다.」</span></li>
								</ul>
								<h4 class="heading-h4 mt25">목적</h4>
								<p class="comp-lst_dotted ml4 mt15">미래 의성농업을 이끌어갈 유능한 농업인을 선발하여 집중교육으로 지역의 리더(Leader) 및 과학영농실천능력을 갖춘 최고수준의 농업전문 인력을 체계적으로 양성하여 의성농업의 경쟁력 강화.</p>
								<h4 class="heading-h4 mt25">추진방향</h4>
								<ul class="comp-lst_dotted ml4 mt15">
									<li>가. 의성 농특산물의 브랜드화</li>
									<li>나. 품목별 전문농업경영인으로 기업가적 마인드 교육</li>
									<li>다. 교육기간은 월 2~3회 이상(회당 4시간이상) 100시간 이상 편성</li>
									<li>라. 지역 특화품목 중심의 체계적인 심화전문교육</li>
									<li>마. 농업인의 애로 및 요구에 맞는 맞춤형 교육</li>
									<li>바. 이론과 실기 실습을 병행하여 교육 효과 제고</li>
									<li>사. 엄격한 학칙 운영</li>
									<li>아. 본 과정 이수자에 대한 인센티브 부여</li>
								</ul>
								<h4 class="heading-h4 mt25">설치개요</h4>
								<ul class="comp-lst_dotted ml4 mt15">
									<li>가. 조직(가구)</li>
									<li class="usc">
										<div class="tp-organization">
											<div class="organization-chart">
												<div class="chartimg">
													<p class="lnk1">학장 군수</p>
													<p class="lnk2">부학장 농업기술센터소장</p>
												</div>
												<div class="partgroup">
													<dl class="part-area">
														<dt class="part">교 무 부</dt>
														<dd>
															<ul>
																<li>교무부장 - 농촌지도과장</li>
																<li>교무과장 - 교육경영계장</li>
																<li>교무담당 - 농업대학담당자</li>
															</ul>
														</dd>
													</dl>

													<dl class="part-area">
														<dt class="part">교 수 부</dt>
														<dd>
															<ul>
																<li>교수부장 - 기술보급과장</li>
																<li>교수과장 - 경제작물계장</li>
																<li>교수과장 - 과수기술계장</li>
															</ul>
														</dd>
													</dl>
												</div>
											</div>
										</div>
									</li>
									<li>나. 장소 : 의성군농업기술센터</li>
									<li>다. 과 정 별 : 3개 과정 (마늘, 복숭아, 사과)</li>
									<li>라. 인 원 : 120명(과정별 각 40명)</li>
									<li>마. 교육기간 : 2018년 3월 ～ 11월<br><p class="comp-lst_important point">교육기간 중 28회 수업 - 1회 4시간 이상(총 120시간)</p></li>
								</ul>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- farmingtech/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>