<div id="header" class="header-type2">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 안계군립도서관</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>센터소개</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>센터소개</span></a></p> 
										<div class="group"> <h3><a href="#"><span>인사말</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>연혁 및 기능</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>주요업무</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>조직 및 직원</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>청사안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>찾아오시는 길</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>농업기술정보</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>농업기술정보</span></a></p> 
										<div class="group"> <h3><a href="#"><span>영농재배기술</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>병해충정보</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>월간농업기술정보</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>농산물수출입뉴스</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>농약안전사용기준</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>농업기상정보</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>농업인건강</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>의성농업대학</span></a> </h2>
							<div class="depth2menu" >
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>의성농업대학</span></a></p> 
										<div class="group"> <h3><a href="#"><span>기본개요</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>학사운영</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>학교생활안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>대학운영규정</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>교직원현황</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>학생현황</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>의성정보</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>의성정보</span></a></p> 
										<div class="group"> <h3><a href="#"><span>의성군소개</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>관광/축제</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>농산물</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성향토음식</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>의성농업현황</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>열린공간</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>열린공간</span></a></p> 
										<div class="group">
											<h3><a href="#"><span>공지사항</span></a></h3> 
											<ul class="depth3menu">
												<li><h4> <a href="#"><span>교육</span></a> </h4></li>
												<li><h4> <a href="#"><span>행사</span></a> </h4></li>
												<li><h4> <a href="#"><span>사업</span></a> </h4></li>
											</ul>
										</div>
										<div class="group"> <h3><a href="#"><span>센터월간동향</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>동영상자료</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>공개자료실</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>묻고답하기</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>자유게시판</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>포토갤러리</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>교육이수증</span></a> </h2>
							<div class="depth2menu ">
								<div class="menu" role="group">
									<div class="menugroup">
										<p><a href="#"><span>교육이수증</span></a></p> 
										<div class="group"> <h3><a href="#"><span>교육이수증</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('345,345,345,345,345,345', false);
</script>