<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 농업기술센터</title>
	<meta name="Subject" content="의성군 농업기술센터" >
	<meta name="title" content="의성군 농업기술센터" >
	<meta name="keywords" content="의성군 농업기술센터" >
	<meta name="description" content="의성군 농업기술센터" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="farmingtech">
		<!-- HEADER -->
		<header><!-- farmingtech/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 슬라이드 -->
				<div class="main-visual-zone">
					<div class="inner">
						<p class="txt">
							<span><img src="../../static/images/farmingtech/main/img_top_txt.png" alt="활력넘치는 희망의 성!"></span>
							농업의 미래, 선진농업기술의 현장 <br>
							의성군농업기술센터가 농업인들과 함께합니다.
						</p>
						<div class="indicator">
							<span class="scroll">SCROLL</span>
							<button type="button" class="btn-prev"><span>이전 슬라이드로 이동</span></button>
							<button type="button" class="btn-next"><span>다음 슬라이드로 이동</span></button>
						</div>
					</div>
					<div class="slider">
						<div class="slide"><a href="#" class="top3"><span>의성 사과</span></a></div>
						<div class="slide"><a href="#" class="top4"><span>의성 마늘</span></a></div>
						<div class="slide"><a href="#" class="top5"><span>의성 쌀</span></a></div>
						<div class="slide"><a href="#" class="top1"><span>의성 복숭아</span></a></div>
						<div class="slide"><a href="#" class="top2"><span>의성 자두</span></a></div>
					</div>
				</div>
				<!-- //상단 슬라이드 -->

				<div class="main-cont-zone">
					<div class="inner">
						<!-- 게시판 및 바로메뉴 -->
						<div class="main-middle-zone">
							<!-- 게시판 -->
							<div class="board-zone">
								<h2 class="hidden">게시판 간략 보기</h2>
								<!-- 게시판 탭 -->
								<ul role="tablist">
									<li role="presentation"><a href="#tabboard1" role="tab" aria-controls="tabboard1" aria-selected="true">공지사항</a></li>
									<li role="presentation"><a href="#tabboard2" role="tab" aria-controls="tabboard2">묻고답하기</a></li>
									<li role="presentation"><a href="#tabboard3" role="tab" aria-controls="tabboard3">자유게시판</a></li>
								</ul>
								<!-- 탭 컨텐츠 - 공지사항 -->
								<div id="tabboard1" role="tabpanel" style="display: block">
									<h3 class="hidden">공지사항</h3>
									<dl class="cont">
										<dt><a href="#"><span class="date">2019 <strong>06.28</strong></span>맞춤형 귀농인의 집 입주희망자 신청 안내(안사면)</a></dt>
										<dd>
											<a href="#">의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의
												집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임시거...</a>
										</dd>
									</dl>
									<ul class="lst">
										<li><a href="#"><span class="cont">2019학년도 가톨릭상지대학교 계약학과(융복합농산업과학과) 신입모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019학년도 경북농민사관학교 최고농업경영자과정 과정생 모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019년 새해농업인실용교육 일정 안내</span><span class="date">2019-01-01</span></a></li>
									</ul>
									<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
								</div>
								<!-- 탭 컨텐츠 - 묻고답하기 -->
								<div id="tabboard2" role="tabpanel">
									<h3 class="hidden">묻고답하기</h3>
									<dl class="cont">
										<dt><a href="#"><span class="date">2019 <strong>06.29</strong></span>맞춤형 귀농인의 집 입주희망자 신청 안내(안사면)</a></dt>
										<dd>
											<a href="#">의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의
												집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임시거...</a>
										</dd>
									</dl>
									<ul class="lst">
										<li><a href="#"><span class="cont">2019학년도 가톨릭상지대학교 계약학과(융복합농산업과학과) 신입모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019학년도 경북농민사관학교 최고농업경영자과정 과정생 모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019년 새해농업인실용교육 일정 안내</span><span class="date">2019-01-01</span></a></li>
									</ul>
									<p class="btn-more"><a href="#"><span>묻고답하기 더보기</span></a></p>
								</div>
								<!-- 탭 컨텐츠 - 자유게시판 -->
								<div id="tabboard3" role="tabpanel">
									<h3 class="hidden">자유게시판</h3>
									<dl class="cont">
										<dt><a href="#"><span class="date">2019 <strong>06.2</strong></span>맞춤형 귀농인의 집 입주희망자 신청 안내(안사면)</a></dt>
										<dd>
											<a href="#">의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의
												집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임시거...</a>
										</dd>
									</dl>
									<ul class="lst">
										<li><a href="#"><span class="cont">2019학년도 가톨릭상지대학교 계약학과(융복합농산업과학과) 신입모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019학년도 경북농민사관학교 최고농업경영자과정 과정생 모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019년 새해농업인실용교육 일정 안내</span><span class="date">2019-01-01</span></a></li>
									</ul>
									<p class="btn-more"><a href="#"><span>자유게시판 더보기</span></a></p>
								</div>
							</div>
							<!-- 바로메뉴 -->
							<div class="goto-zone">
								<ul class='quick-menu'>
									<li><a href="#"><span class="name">영농재배기술</span></a></li>
									<li><a href="#"><span class="name">주간농사정보</span></a></li>
									<li><a href="#"><span class="name">월간농사정보</span></a></li>
									<li><a href="#"><span class="name">센터월간동향</span></a></li>
									<li><a href="#"><span class="name">의성농업대학</span></a></li>
									<li><a href="#"><span class="name">유용미생물배양실</span></a></li>
									<li><a href="#"><span class="name">종합분석실</span></a></li>
									<li><a href="#"><span class="name">농산물종합가공센터</span></a></li>
								</ul>
								<p class="edu-goto">
									<a href="#">
										<strong class="tit">교육이수증 발급</strong>
										<span class="desc"> 농업기술센터에서 <br class="pc">수강한 영농기술교육 <br>이수증을 <br class="pc">발급해 드립니다. </span>
									</a>
								</p>
							</div>
						</div>
						<!--// 게시판 및 바로메뉴 -->
									
						<!-- 일정 및 행사 -->
						<div class="main-event-zone">
							<div class="tit-zone">
								<h2 class="tit">일정 및 행사</h2>
								<h3 class="month">2019년 2월</h3>
							</div>
							<div class="js-event">
								<ul class="days">
									<li> <a href="#"> <span class="num">1</span> </a> </li>
									<li><a href="#"><span class="num">2</span></a></li>
									<li><a href="#"><span class="num">3</span></a></li>
									<li><a href="#"><span class="num">4</span></a></li>
									<li>
										<a href="#" class="have"><!-- 이벤트가 있는 경우 -->
											<span class="num">5</span>
											<div class="popup">
												<ul>
													<li><em>여성농민총회</em> : 2019. 3. 15(금) 10:00</li>
													<li><em>여성농업인회 과제교육</em> : 2019. 3. 15(금) 10:00</li>
												</ul>
											</div>
										</a>
									</li>
									<li><a href="#"><span class="num">6</span></a></li>
									<li><a href="#"><span class="num">7</span></a></li>
									<li><a href="#"><span class="num">8</span></a></li>
									<li><a href="#"><span class="num">9</span></a></li>
									<li><a href="#"><span class="num">10</span></a></li>
									<li>
										<a href="#" class="today"><!-- 현재일 -->
											<span class="num">11</span>
											<div class="popup">
												<ul>
													<li><em>여성농민총회</em> : 2019. 3. 15(금) 10:00</li>
													<li><em>여성농업인회 과제교육</em> : 2019. 3. 15(금) 10:00</li>
												</ul>
											</div>
										</a>
									</li>
									<li><a href="#"><span class="num">12</span></a></li>
									<li><a href="#"><span class="num">13</span></a></li>
									<li><a href="#"><span class="num">14</span></a></li>
									<li><a href="#"><span class="num">15</span></a></li>
									<li><a href="#"><span class="num">16</span></a></li>
									<li><a href="#"><span class="num">17</span></a></li>
									<li><a href="#"><span class="num">18</span></a></li>
									<li><a href="#"><span class="num">19</span></a></li>
									<li><a href="#"><span class="num">20</span></a></li>
									<li><a href="#"><span class="num">21</span></a></li>
									<li><a href="#"><span class="num">22</span></a></li>
									<li><a href="#"><span class="num">23</span></a></li>
									<li><a href="#"><span class="num">24</span></a></li>
									<li><a href="#"><span class="num">25</span></a></li>
									<li><a href="#"><span class="num">26</span></a></li>
									<li><a href="#"><span class="num">27</span></a></li>
									<li><a href="#"><span class="num">28</span></a></li>
								</ul>
							</div>
						</div>
						<!--// 일정 및 행사 -->
						
						<!-- 하단 날씨, 알림존, 농업 바로가기 -->
						<div class="main-bottom-zone">
							<!-- 날씨 -->
							<div class="weather-zone">
								<h2 class="tit">날씨정보</h2>
								<p class="curr-time">2019년 1월 20일 9시 기준</p>
								<div class="curr-weather">
									<div class="weather">
										<p>
											<span class="img"><img src="../../static/images/farmingtech/main/icon_weather1.png" alt=""></span>
											<span class="txt">맑고 쨍쨍</span>
										</p>		
									</div>
									<ul class="lst">
										<li>기온 <span class="cont">-3.5℃</span></li>
										<li>기상 <span class="cont">맑음</span></li>
										<li>풍향 <span class="cont">동풍</span></li>
										<li>풍속 <span class="cont">0.9m/s</span></li>
										<li>낙뢰 <span class="cont">23.1℃</span></li>
										<li>습도 <span class="cont">71%</span></li>
										<li>강수형태 <span class="cont">없음</span></li>
										<li>강수량 <span class="cont">0mm/h</span></li>
									</ul>
								</div>
								<p class="goto"><a href="#" target="_blank" title="새창으로 열림"><span>의성군 <br class="m">농업기상정보 <br class="m">바로가기</span></a></p>
							</div>
							<!-- 알림존 -->
							<div class="popup-zone  js-popup-slider">
								<h2 class="tit">알림존</h2>
								<div class="slider">
									<div class="slide"><a href="#"><img src="../../static/images/farmingtech/temp/@popup.png" alt="슬라이드명"></a></div>
									<div class="slide"><a href="#"><img src="../../static/images/farmingtech/temp/@popup.png" alt="슬라이드명"></a></div>
									<div class="slide"><a href="#"><img src="../../static/images/farmingtech/temp/@popup.png" alt="슬라이드명"></a></div>
									<div class="slide"><a href="#"><img src="../../static/images/farmingtech/temp/@popup.png" alt="슬라이드명"></a></div>
								</div>
								<ul class="indicator">
									<li><button type="button" class="btn-prev"><span>알림존 이전 슬라이드로 이동</span></button></li>
									<li><button type="button" class="btn-next"><span>알림존 다음 슬라이드로 이동</span></button></li>
									<li><button type="button" class="btn-pause" onclick="usc.slickPause('.js-popup-slider','.slider', this)" ><span>슬라이드 일시정지 및 재생</span></button></li>
								</ul>
							</div>
							<!-- 농업 -->
							<div class="farming-zone">
								<h2 class="tit">농업 바로가기</h2>
								<ul class="menu">
									<li>
										<strong>기상청자료</strong>
										<select name="" id="" title="기상청자료 바로가기">
											<option value="">기상청자료</option>
										</select>
									</li>
									<li>
										<strong>농산물 가격정보</strong>
										<select name="" id="" title="농산물 가격정보 바로가기">
											<option value="">농산물 가격정보</option>
										</select>
									</li>
									<li>
										<strong>농업관련잡지 및 신문</strong>
										<select name="" id="" title="농업관련잡지 및 신문 바로가기">
											<option value="">농업관련잡지 및 신문</option>
										</select>
									</li>
									<li>
										<strong>농업관련정보</strong>
										<select name="" id="" title="농업관련정보 바로가기">
											<option value="">농업관련정보</option>
										</select>
									</li>
								</ul>
							</div>
						</div>
						<!--// 하단 날씨, 알림존, 농업 바로가기 -->
					</div>
				</div>
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- farmingtech/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// 상단 슬라이드
	$('.main-visual-zone .slider').on('init', function(event, slick){
		$(this).find(".top2").closest(".slick-slide").addClass("prev");
	})
	$('.main-visual-zone .slider').slick({
		dots: false,
		infinite: true,
		speed: 500,
		slidesToShow: 2,
		centerPadding: '17%',
		centerMode: true,
		swipe:false,
		arrows:true,
		autoplay:true,
		autoplaySpeed: 2000,
		nextArrow : $('.main-visual-zone .btn-next'),
		prevArrow : $('.main-visual-zone .btn-prev'),
		responsive: [
			{
				breakpoint: 1024,
				settings: {
			      slidesToShow: 1,
			      centerPadding: '30%',
			   }
			}
		]
	}).on("afterChange", function(slick, currentSlide){
		$this = $(this).find(".slick-current").prev();

		if($this.find("a").hasClass("top2")) $this.addClass("prev not").siblings(".prev").removeClass("prev").removeClass('not');
		else $this.addClass("prev").siblings(".prev").removeClass("prev");

	}).on("beforeChange", function(slick, currentSlide, nextSlide){
		var nextPanel = $('[data-slick-index=' + nextSlide + ']');
		nextPanel.addClass("prev").siblings(".prev").removeClass("prev");
		nextPanel.siblings(".not").removeClass("not");
	})

	// 알림존
	$('.js-popup-slider .slider').slick({
		dots: false,
		infinite: true,
		speed: 400,
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 1000,
		nextArrow : $('.js-popup-slider .btn-next'),
		prevArrow : $('.js-popup-slider .btn-prev')
	});

</script>
</body>
</html>