<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="farmingtech">
		<!-- HEADER -->
		<header><!-- farmingtech/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 슬라이드 -->
				<div class="main-visual-zone">
				</div>
				<!-- //상단 슬라이드 -->

				<div class="main-cont-zone">
					<div class="inner">
						<!-- 게시판 및 바로메뉴 -->
						<div class="main-middle-zone">
							<!-- 게시판 -->
							<div class="board-zone">
								<h2 class="hidden">게시판 간략 보기</h2>
								<!-- 게시판 탭 -->
								<ul role="tablist">
									<li role="presentation"><a href="#tabboard1" role="tab" aria-controls="tabboard1" aria-selected="true">공지사항</a></li>
									<li role="presentation"><a href="#tabboard2" role="tab" aria-controls="tabboard2">묻고답하기</a></li>
									<li role="presentation"><a href="#tabboard3" role="tab" aria-controls="tabboard3">자유게시판</a></li>
								</ul>
								<!-- 탭 컨텐츠 - 공지사항 -->
								<div id="tabboard1" role="tabpanel" style="display: block">
									<h2 class="hidden">공지사항</h2>
									<dl class="cont">
										<dt><span class="date">2019 <strong>06.28</strong></span>맞춤형 귀농인의 집 입주희망자 신청 안내(안사면)</dt>
										<dd>
											의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의
											집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임시거...
										</dd>
									</dl>
									<ul class="lst">
										<li><a href="#"><span class="cont">2019학년도 가톨릭상지대학교 계약학과(융복합농산업과학과) 신입모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019학년도 경북농민사관학교 최고농업경영자과정 과정생 모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019년 새해농업인실용교육 일정 안내</span><span class="date">2019-01-01</span></a></li>
									</ul>
									<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
								</div>
								<!-- 탭 컨텐츠 - 묻고답하기 -->
								<div id="tabboard2" role="tabpanel">
									<h2 class="hidden">묻고답하기</h2>
									<dl class="cont">
										<dt><span class="date">2019 <strong>06.29</strong></span>맞춤형 귀농인의 집 입주희망자 신청 안내(안사면)</dt>
										<dd>
											의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의
											집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임시거...
										</dd>
									</dl>
									<ul class="lst">
										<li><a href="#"><span class="cont">2019학년도 가톨릭상지대학교 계약학과(융복합농산업과학과) 신입모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019학년도 경북농민사관학교 최고농업경영자과정 과정생 모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019년 새해농업인실용교육 일정 안내</span><span class="date">2019-01-01</span></a></li>
									</ul>
									<p class="btn-more"><a href="#"><span>묻고답하기 더보기</span></a></p>
								</div>
								<!-- 탭 컨텐츠 - 자유게시판 -->
								<div id="tabboard3" role="tabpanel">
									<h2 class="hidden">자유게시판</h2>
									<dl class="cont">
										<dt><span class="date">2019 <strong>06.30</strong></span>맞춤형 귀농인의 집 입주희망자 신청 안내(안사면)</dt>
										<dd>
											의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의
											집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임시거...
										</dd>
									</dl>
									<ul class="lst">
										<li><a href="#"><span class="cont">2019학년도 가톨릭상지대학교 계약학과(융복합농산업과학과) 신입모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019학년도 경북농민사관학교 최고농업경영자과정 과정생 모집</span><span class="date">2019-01-01</span></a></li>
										<li><a href="#"><span class="cont">2019년 새해농업인실용교육 일정 안내</span><span class="date">2019-01-01</span></a></li>
									</ul>
									<p class="btn-more"><a href="#"><span>자유게시판 더보기</span></a></p>
								</div>
							</div>
							<!-- 바로메뉴 -->
							<div class="goto-zone">
								<ul class='quick-menu'>
									<li><a href="#"><span class="name">영농재배기술</span></a></li>
									<li><a href="#"><span class="name">주간농사정보</span></a></li>
									<li><a href="#"><span class="name">월간농사정보</span></a></li>
									<li><a href="#"><span class="name">센터월간동향</span></a></li>
									<li><a href="#"><span class="name">의성농업대학</span></a></li>
									<li><a href="#"><span class="name">유용미생물배양실</span></a></li>
									<li><a href="#"><span class="name">종합분석실</span></a></li>
									<li><a href="#"><span class="name">농산물종합가공센터</span></a></li>
								</ul>
								<p class="edu-goto">
									<a href="#">
										<strong class="tit">교육이수증 발급</strong>
										<span class="desc"> 농업기술센터에서 <br>수강한 영농기술교육 <br>이수증을 <br>발급해 드립니다. </span>
									</a>
								</p>
							</div>
						</div>
						<!--// 게시판 및 바로메뉴 -->
									
						<!-- 일정 및 행사 -->
						<div class="main-event-zone">
						</div>
						<!--// 일정 및 행사 -->
						
						<!-- 하단 날씨, 알림존, 농업 바로가기 -->
						<div class="main-bottom-zone">
						</div>
						<!--// 하단 날씨, 알림존, 농업 바로가기 -->
					</div>
				</div>
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- farmingtech/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// 소식 - 배너
	// $('.js-news-banner > .slider').slick({
	// 	dots: true,
	// 	infinite: true,
	// 	speed: 400,
	// 	ltr: true,
	// 	slidesToShow: 1,
	// 	slidesToScroll: 1,
	// 	autoplay: true,
	// 	// autoplay: false,
	// 	swipe:false,
	// 	autoplaySpeed: 3000,
	// 	customPaging :  function(slick,index) {
	// 		var i = index + 1
 //         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
 //      }
	// });
	// 소식 - 팝업존
	// $(".js-news-popupzone > .slider").slick({
	// 	dots: true,
	// 	infinite: true,
	// 	speed: 400,
	// 	ltr: true,
	// 	slidesToShow: 1,
	// 	slidesToScroll: 1,
	// 	autoplay: true,
	// 	// autoplay: false,
	// 	swipe:false,
	// 	autoplaySpeed: 3000,
	// 	nextArrow : $('.js-news-popupzone .btn-next'),
	// 	prevArrow : $('.js-news-popupzone .btn-prev'),
	// 	customPaging :  function(slick,index) {
	// 		var i = index + 1
 //         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
 //      }
	// });

	// // 소식 - 자주찾는 메뉴
	// $('.js-news-favoritmenu > .slider').slick({
	// 	dots: false,
	// 	infinite: true,
	// 	speed: 400,
	// 	vertical: true,
	// 	slidesToShow: 8,
	// 	slidesToScroll: 1,
	// 	autoplay: true,
	// 	// autoplay: false,
	// 	autoplaySpeed: 1000,
	// 	nextArrow : $('.js-news-favoritmenu .btn-up'),
	// 	prevArrow : $('.js-news-favoritmenu .btn-down') ,
	// 	responsive: [
	// 		{
	// 			breakpoint: 1024,
	// 			settings: {
	// 		      slidesToShow: 3,
	// 		      slidesToScroll: 1,
	// 		      rows: 3,
	// 		      slidesPerRow: 1
	// 		   }
	// 		}
	// 	]
	// });
	

	// // 민원 - sns iscroll
	// var myScroll1 = new IScroll('.complaint-sns .lst-sns-zone', { 
	// 	scrollX: false, 
	// 	scrollY: true, 
	// 	mouseWheel: true,
	// 	scrollbars: true,
	// 	interactiveScrollbars: true,
	// 	fadeScrollbars: true
	// });
	// // 민원 - 연령별 복지정보
	// $(".js-welfare-slider").slick({
	// 	dots: true,
	// 	infinite: true,
	// 	speed: 400,
	// 	ltr: true,
	// 	slidesToShow: 1,
	// 	slidesToScroll: 1,
	// 	// arrows: true,
	// 	// autoplay: true,
	// 	// autoplaySpeed: 3000,
	// 	arrows:false
	// });
	// // 관광 - 메뉴
	// var gotoEvent = (function(){
	// 	var curidx = $('.gotolnk li.on').index(), 
	// 		 $this = $('.gotolnk li');
	// 	var interval = setInterval(gotolnkEvent, 2000); 
	// 	function gotolnkEvent(){
	// 		curidx++;		
	// 		if(curidx == 8) curidx = 0;
	// 		$this.eq(curidx).addClass("on").siblings("li").removeClass("on");
	// 	};

	// 	$("a", $this).on("mouseenter", function(){
	// 		clearInterval(interval);
	// 		$(this).closest("li").addClass("on").siblings().removeClass("on");
	// 		curidx = $(this).closest("li").index();
	// 	});
	// 	$(".gotolnk").on("mouseleave", function(){
	// 		interval = setInterval(gotolnkEvent, 2000); 
	// 	})
	// })();





	// var sightseeingSlider2 = (function(){ 
	// 	var idx;
	// 	// 메인 탭 (소식/민원/관공)
	// 	$('.main-tabcontent').slick({
	// 		speed: 400,
	// 		ltr: true,
	// 		slidesToShow: 1,
	// 		slidesToScroll: 1,
	// 		swipe: false,
	// 		arrows: false
	// 	});
		
	// 	$(".main-top-zone .tab-zone .li").on("click", function(){
	// 		idx = $(this).closest("li").index();
	// 		var curr = $(this).closest("li");  

	// 		if(curr.hasClass("current")) return false; 

	// 		curr.addClass("current").siblings("li").removeClass("current");
	// 		$(".main-tabcontent").slick('slickGoTo', idx);
	// 		return false;
	// 	});
	// })();


	// // 관광 - 슬라이드
	// var sightseeingSlider = (function(){
	// 	var idx;
	// 	$(".sightseeing-slider .js-bigslider").slick({
	// 		speed: 400,
	// 		ltr: true,
	// 		slidesToShow: 1,
	// 		slidesToScroll: 1,
	// 		autoplay: true,
	// 		autoplaySpeed: 3000,
	// 		swipe: false
	// 	});
	// 	$(".js-thumb-slider button").on("click", function(){
	// 		idx = $(this).closest("li").index();
	// 		var curr = $(this).closest("li");  

	// 		if(curr.hasClass("current")) return false; 
	// 		// console.log(idx);

	// 		curr.addClass("current").siblings("li").removeClass("current");
	// 		$(".sightseeing-slider .js-bigslider").slick('slickGoTo', idx);
	// 		return false;
	// 	});

	// 	$(".sightseeing-slider .js-bigslider").on("afterChange", function(event, slick, currentSlide, nextSlide){
	// 		$(".slick-current .js-thumb-slider li").eq(currentSlide).addClass("current").siblings().removeClass("current");
	// 	})
	// })();



</script>
</body>
</html>