<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 읍면동</title>
	<meta name="Subject" content="의성군 읍면동" >
	<meta name="title" content="의성군 읍면동" >
	<meta name="keywords" content="의성군 읍면동" >
	<meta name="description" content="의성군 읍면동" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="village">
		<!-- HEADER -->
		<header><!-- village/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 텍스트 및 탭 메뉴 -->
				<div class="main-top-zone">
					<div class="inner">
						<div class="section-visual">
							<!-- 메인 비주얼 -->
							<div class="banner-wrap">
								<button type="button" class="btn-main-prev">이전 슬라이드로 이동</button>
								<div class="js-visual">
									<div class="img-area">
										<img src="../../static/images/village/temp/@mainbanner01.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-pc">
										<img src="../../static/images/village/temp/@mainbanner01_m.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-m">
									</div>
									<div class="img-area">
										<img src="../../static/images/village/temp/@mainbanner01.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-pc">
										<img src="../../static/images/village/temp/@mainbanner01_m.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-m">
									</div>
								</div>
								<button type="button" class="btn-main-next">다음 슬라이드로 이동</button>
							</div>
							<!-- 월간행사계획 -->
							<div class="plan-wrap">
								<div class="month-wrap">
									<h2>월간행사계획</h2>
									<button type="button" class="btn-plan-prev">이전 월간행사계획으로 이동</button>
									<div class="js-plan">
										<div class="month-area">
											<em>2019.03</em>
											<div id="wrapper1" class="js-scroll"><!-- 개발시 id값을 넣어주시기 바랍니다. -->
												<ul class="month-list">
													<li>
														<a href="#">
															<em class="local-01">의성</em> 
															<span class="tit">2019년도 신년인사회</span>
														</a>
													</li>
													<li>
														<a href="#">
															<em class="local-01">의성</em> 
															<span class="tit">2019년도 신년인사회</span>
														</a>
													</li>
													<li>
														<a href="#">
															<em class="local-01">의성</em> 
															<span class="tit">2019년도 신년인사회</span>
														</a>
													</li>
													<li>
														<a href="#">
															<em class="local-01">의성</em> 
															<span class="tit">2019년도 신년인사회</span>
														</a>
													</li>
													<li>
														<a href="#">
															<em class="local-01">의성</em> <span class="tit">2019년도 신년인사회</span>
														</a>
													</li>
													<li>
														<a href="#">
															<em class="local-01">의성</em> <span class="tit">2019년도 신년인사회</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="month-area">
											<em>2019.04</em>
											<div id="wrapper2" class="js-scroll"><!-- 개발시 id값을 넣어주시기 바랍니다. -->
												<ul class="month-list">
													<li>
														<em class="local-01">의성</em>
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<button type="button" class="btn-plan-next">다음 월간행사계획으로 이동</button>
								</div>
							</div>
						</div>
						
						<div class="section-info">
							<div class="time-wrap">
								<p class="phone-ballon js-hover animation">
									<a href="#none">읍면동<br>전화번호</a>
								</p>
								<div class="time-inner">
									<div class="phone-wrap">
										<div class="phone-inner">
											<h3>읍면사무소 이용시간 <span>(주말, 공휴일 휴무)</span></h3>
											<div class="time-area">
												<p class="time">오전 09:00 ~ 오후 18:00</p>
												<p class="rest">점심시간 12:00 ~ 13:00</p>
											</div>
											<div class="number-area view-pc">
												<ul>
													<li><em>의성읍</em>054-123-1234</li>
													<li><em>단촌면</em>054-123-1234</li>
													<li><em>점곡면</em>054-123-1234</li>
													<li><em>옥산면</em>054-123-1234</li>
													<li><em>사곡면</em>054-123-1234</li>
												</ul>
												<ul>
													<li><em>춘산면</em>054-123-1234</li>
													<li><em>가음면</em>054-123-1234</li>
													<li><em>금성면</em>054-123-1234</li>
													<li><em>봉양면</em>054-123-1234</li>
													<li><em>비안면</em>054-123-1234</li>
												</ul>
												<ul>
													<li><em>구천면</em>054-123-1234</li>
													<li><em>단밀면</em>054-123-1234</li>
													<li><em>단북면</em>054-123-1234</li>
													<li><em>안계면</em>054-123-1234</li>
													<li><em>다인면</em>054-123-1234</li>
												</ul>
												<ul class="last">
													<li><em>신평면</em>054-123-1234</li>
													<li><em>안평면</em>054-123-1234</li>
													<li><em>안사면</em>054-123-1234</li>
												</ul>
											</div>
											
											<div class="number-area view-m">
												<ul>
													<li><em>의성읍</em>054-123-1234</li>
													<li><em>단촌면</em>054-123-1234</li>
													<li><em>점곡면</em>054-123-1234</li>
													<li><em>옥산면</em>054-123-1234</li>
													<li><em>사곡면</em>054-123-1234</li>
													<li><em>춘산면</em>054-123-1234</li>
													<li><em>가음면</em>054-123-1234</li>
													<li><em>금성면</em>054-123-1234</li>
													<li><em>봉양면</em>054-123-1234</li>
													<li><em>비안면</em>054-123-1234</li>
												</ul>
												<ul>
													<li><em>구천면</em>054-123-1234</li>
													<li><em>단밀면</em>054-123-1234</li>
													<li><em>단북면</em>054-123-1234</li>
													<li><em>안계면</em>054-123-1234</li>
													<li><em>다인면</em>054-123-1234</li>
													<li><em>신평면</em>054-123-1234</li>
													<li><em>안평면</em>054-123-1234</li>
													<li><em>안사면</em>054-123-1234</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--  S: 20190613 추가 -->
							<div class="zone-wrap">
								<p class="phone-ballon js-hover animation">
									<a href="#none">지역별<br>바로가기</a>
								</p>
								<div class="zone-inner">
									<div class="phone-wrap">
										<div class="phone-inner">
											<div class="l-zone">
												<h3>의성군 지역별</h3>
												<p class="desc">(지역을 클릭시, 메뉴로 바로 넘어갑니다.)</p>
												<ul class="area-btn-group">
													<li><a href="#"><span>의성읍</span></a></li>
													<li><a href="#"><span>가음면</span></a></li>
													<li><a href="#"><span>단북면</span></a></li>
													<li><a href="#"><span>단촌면</span></a></li>
													<li><a href="#"><span>금성면</span></a></li>
													<li><a href="#"><span>안계면</span></a></li>
													<li><a href="#"><span>점곡면</span></a></li>
													<li><a href="#"><span>봉양면</span></a></li>
													<li><a href="#"><span>다인면</span></a></li>
													<li><a href="#"><span>옥산면</span></a></li>
													<li><a href="#"><span>비안면</span></a></li>
													<li><a href="#"><span>신평민</span></a></li>
													<li><a href="#"><span>사곡면</span></a></li>
													<li><a href="#"><span>구천면</span></a></li>
													<li><a href="#"><span>안평면</span></a></li>
													<li><a href="#"><span>춘산면</span></a></li>
													<li><a href="#"><span>단밀면</span></a></li>
													<li><a href="#"><span>안사면</span></a></li>
												</ul>
											</div>

											<div class="map-wrap js-map">
												<div>
													<img src="../../static/images/village/main/bg_map.png" alt="" usemap="#Map">
													<map name="Map" id="Map">
														<area alt="의성읍" title="의성읍" href="#" shape="poly" coords="503,216,494,215,486,218,472,213,469,199,464,189,453,189,451,205,443,210,438,206,436,205,427,212,423,220,422,225,421,237,417,246,419,255,417,263,421,276,418,288,414,305,414,310,429,310,439,324,454,328,469,324,485,308,495,291,502,287,510,288,518,279,526,277,518,268,512,263" />

														<area alt="가음면" title="가음면" href="#" shape="poly" coords="500,388,493,401,483,409,474,415,470,423,472,433,477,436,475,446,471,451,465,456,464,463,467,467,483,468,502,468,517,473,520,472,524,461,533,468,544,476,549,479,558,476,569,475,580,468,580,456,575,443,563,441,540,440,528,438,517,431,519,425,526,414,528,410,524,405,519,397,514,383" />

														<area alt="단북면" title="단북면" href="#" shape="poly" coords="142,176,135,180,122,178,118,172,112,166,110,164,107,171,101,175,93,176,84,172,79,166,75,163,73,170,75,177,85,187,93,195,104,199,111,208,118,217,124,216,136,226,144,231,149,236,157,235,159,222,149,215,149,207,158,199,147,191" />
														
														<area alt="단촌면" title="단촌면" href="#" shape="poly" coords="557,97,551,93,543,79,534,74,522,68,508,76,499,84,489,80,483,76,477,84,473,93,474,104,468,110,474,118,467,125,459,125,452,128,446,129,439,137,428,135,414,150,402,153,395,153,384,157,377,163,363,169,373,175,385,184,393,190,402,203,418,215,432,194,442,201,447,186,459,182,468,185,478,201,480,212,491,209,501,211,494,200,492,190,496,182,504,180,508,174,503,168,505,163,505,151,497,147,489,140,487,131,489,124,526,100,534,92,553,100" />

														<area alt="금성면" title="금성면" href="#" shape="poly" coords="484,317,471,329,459,334,436,330,434,330,425,336,418,342,418,351,414,357,401,363,396,373,397,385,398,397,390,409,389,418,394,435,389,444,385,449,396,458,409,447,418,438,429,449,446,447,465,451,470,442,462,427,469,414,488,397,502,381,512,374,513,357,505,350,495,346" />

														<area alt="안계면" title="안계면" href="#" shape="poly" coords="245,211,245,208,243,201,232,199,222,197,219,185,222,174,217,174,207,174,203,170,200,162,198,156,195,152,184,152,178,153,171,150,165,147,163,147,162,155,158,163,157,167,148,170,149,175,153,181,154,186,163,192,166,200,164,204,157,209,155,211,165,219,165,229,167,234,181,234,197,235,205,237,212,244,226,248,233,246,236,234,236,228,241,218,241,210" />
														
														<area alt="점곡면" title="점곡면" href="#" shape="poly" coords="589,114,568,101,563,101,558,107,547,105,541,98,536,98,530,110,517,120,503,126,493,131,498,140,512,153,512,164,512,176,509,185,500,188,500,197,508,208,512,226,516,245,520,260,533,271,541,263,551,260,550,245,556,224,558,192,563,182,574,172,572,158,577,149,588,131" />
														
														<area alt="봉양면" title="봉양면" href="#" shape="poly" coords="403,263,392,271,388,279,385,286,373,287,361,287,358,282,354,288,344,293,336,293,335,289,329,291,322,292,316,292,311,298,304,301,300,308,304,320,300,335,291,343,299,360,309,366,318,364,325,356,330,358,341,360,353,368,357,370,369,369,380,375,391,379,388,371,409,351,414,341,430,323,420,313,410,315,406,312,414,280,413,270" />
														
														<area alt="다인면" title="다인면" href="#" shape="poly" coords="82,13,77,11,71,10,61,15,57,16,60,25,58,42,55,61,51,72,44,79,37,89,27,96,24,101,29,117,37,130,41,140,40,147,38,151,46,159,49,167,48,172,56,178,64,167,69,169,71,161,76,158,84,163,90,170,97,170,104,165,108,159,113,158,119,165,125,170,132,172,147,165,155,156,156,146,146,132,144,120,149,107,146,96,139,79,135,72,130,67,123,65,117,63,114,56,104,51,100,49,98,45,89,43,87,19" />

														<area alt="옥산면" title="옥산면" href="#" shape="poly" coords="615,122,610,117,602,118,596,116,594,124,597,135,590,142,585,147,581,154,578,160,578,164,578,176,574,185,566,191,564,194,564,212,562,223,560,235,557,247,558,265,561,281,571,293,584,300,587,312,597,306,598,300,611,307,614,314,635,315,644,322,653,328,665,331,671,334,680,326,675,314,680,295,677,276,666,267,666,246,660,239,662,225,648,211,641,206,636,206,631,191,624,182,627,166,617,159,613,140,609,128" />

														<area alt="비안면" title="비안면" href="#" shape="poly" coords="311,289,305,274,301,252,294,244,293,230,287,216,274,216,261,214,254,213,248,215,245,227,242,236,242,250,232,254,219,255,205,249,201,245,200,259,198,275,201,290,195,293,190,293,206,305,227,318,244,326,266,330,270,336,277,339,285,339,297,325,297,317,294,306,297,295" />

														<area alt="신평면" title="신평면" href="#" shape="poly" coords="305,122,296,131,291,132,285,133,278,135,273,144,271,154,264,158,256,157,241,148,239,141,238,131,230,121,225,116,222,107,210,96,213,84,202,80,195,76,188,71,192,68,199,61,202,53,210,49,210,34,223,33,229,26,238,43,248,52,257,54,265,55,278,58,285,63,297,80,303,91,301,100,312,110" />

														<area alt="사곡면" title="사곡면" href="#" shape="poly" coords="551,266,546,267,540,274,535,277,523,282,518,286,514,293,510,297,502,294,499,294,499,303,495,311,492,316,497,330,500,342,509,345,518,349,520,357,521,360,538,360,558,362,575,363,584,368,597,374,608,380,622,381,634,374,650,372,653,365,660,367,665,350,664,341,666,337,654,339,638,328,636,321,628,325,615,322,606,315,605,307,597,314,585,317,579,309,567,295,557,286,553,279" />

														<area alt="구천면" title="구천면" href="#" shape="poly" coords="191,240,159,239,146,240,131,254,135,260,129,266,119,268,112,276,107,290,103,297,100,301,107,309,108,316,112,324,114,329,120,339,133,346,140,345,133,333,141,333,150,329,155,325,164,321,169,320,167,310,173,302,180,292,189,288,193,284,195,241" />

														<area alt="안평면" title="안평면" href="#" shape="poly" coords="317,120,310,124,306,133,295,136,291,137,286,141,278,141,277,147,275,161,265,163,259,167,261,177,263,187,263,198,263,207,285,210,295,223,299,233,300,242,308,252,317,287,335,281,344,287,358,276,368,281,379,280,383,273,397,258,406,256,411,261,413,247,414,230,413,220,398,213,396,202,385,194,380,186,370,181,360,172,357,174,348,177,345,168,347,157,343,149,345,142,337,138,330,136,325,136" />

														<area alt="춘산면" title="춘산면" href="#" shape="poly" coords="518,365,518,373,522,384,528,396,535,406,534,414,528,423,526,427,541,435,554,436,570,435,581,438,584,450,588,454,598,449,608,445,625,440,640,452,648,459,662,467,671,468,684,462,686,458,679,451,674,446,669,435,657,427,660,420,668,413,672,407,671,398,665,393,658,393,646,391,632,388,619,388,609,386,602,387,588,379,581,373,573,368" />

														<area alt="단밀면" title="단일면" href="#" shape="poly" coords="137,237,123,250,123,257,120,262,112,265,109,275,108,283,100,287,97,292,90,286,84,273,76,269,67,260,57,258,47,263,40,272,32,275,24,283,21,286,18,279,14,270,9,263,11,251,20,241,24,234,25,225,29,217,45,209,48,199,56,190,59,181,66,174,70,185,78,194,100,205,106,214,110,220,126,223" />
														
														<area alt="안사면" title="안사면" href="#" shape="poly" coords="150,17,132,28,121,39,113,42,105,46,120,50,122,56,136,62,142,71,148,85,155,102,156,111,150,120,155,132,164,139,177,144,182,148,194,145,202,153,205,162,208,166,216,169,225,169,228,171,227,177,225,182,230,195,237,193,245,199,250,205,253,207,259,198,254,179,254,167,245,158,235,152,233,144,236,138,229,131,223,125,223,120,216,116,216,108,208,100,206,89,200,85,193,83,187,80,183,75,180,74,180,63,168,53,163,46,157,42,164,31" />
													</map>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--  E: 20190613 추가 -->

							<div class="news-wrap">
								<div class="notice-wrap">
									<h3><span>읍면동 공지사항</span> <img src="../../static/images/village/txt_notice.png" alt="Notification"></h3>
									<div class="notice-preview">
										<div class="date">
											2019<em>06.28</em>
										</div>
										<dl class="notice-con">
											<dt><em class="local-02">옥산</em> <span class="tit">2019년 주민등록 사실조사 실시</span></dt>
											<dd>의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임 의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임</dd>
										</dl>
									</div>
									<ul class="notice-link">
										<li>
											<a href="#">
												<em class="local-01">의성</em>
												<span class="tit">2019년 상반기 주민자치센터프로그램 강사 모집공고</span>
												<span class="date">2019-01-01</span>
											</a>
										</li>
										<li>
											<a href="#">
												<em class="local-01">의성</em>
												<span class="tit">2019년 의성읍 주민자치센터 상반기 프로그램 수강생 모집</span>
												<span class="date">2019-01-01</span>
											</a>
										</li>
										<li>
											<a href="#">
												<em class="local-03">점곡</em>
												<span class="tit">2018년 4/4분기 주민등록 사실조사 실시</span>
												<span class="date">2019-01-01</span>
											</a>
										</li>
									</ul>
									<a href="#" class="btn-view">더보기</a>
								</div>
								<div class="popup-wrap">
									<div class="popup-tit">
										<h3><span>읍면 행사</span>알려드립니다.</h3>
										<p class="txt">의성 읍면에서 진행하는<br>다양한 행사 및 정보를<br>알려드립니다.</p>
										<div class="popup-controls">
											<button type="button" class="btn-popup-prev">이전 읍면 행사로 이동</button>
											<button type="button" class="btn-popup-next">다음 읍면 행사로 이동</button>
											<button type="button" class="btn-popup-stop" onclick="usc.slickPause('.popup-wrap', '.js-popup', this)">읍명행사 슬라이드 일시정지</button>
										</div>
									</div>
									<div class="popup-area js-popup">
										<div>
											<a href="#"><img src="../../static/images/village/temp/@popupbanner01.png" alt=""></a>
										</div>
										<div>
											<a href="#"><img src="../../static/images/village/temp/@popupbanner01.png" alt=""></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="section-service">
							<div class="service-inner">
								<h3>자주찾는<br>서비스</h3>
								<div class="service-list js-service">
									<div class="service01">
										<a href="#"><span>전자민원</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service02">
										<a href="#"><span>농업기술센터</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service03">
										<a href="#"><span>관광지도</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service04">
										<a href="#"><span>문화재</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service05">
										<a href="#"><span>금봉자연휴양림</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service06">
										<a href="#"><span>의성장날</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service07">
										<a href="#"><span>의성토종마늘마을</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service08">
										<a href="#"><span>모흥황토마을</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service09">
										<a href="#"><span>안평자두마을</span></a><!--  20190418  span 추가 -->
									</div>
									<div class="service10">
										<a href="#"><span>의성청학마을</span></a><!--  20190418  span 추가 -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--// 상단 텍스트 및 탭 메뉴 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- village/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.rwdImageMaps.js"></script><!-- 20190613 추가 -->
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
	<script>
		// 메인슬라이드
		$('.banner-wrap .js-visual').slick({
			dots: true,
			arrows: true,
			prevArrow : $('.banner-wrap .btn-main-prev'),
			nextArrow : $('.banner-wrap .btn-main-next'),
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: true,
			autoplay: true,
			autoplaySpeed: 2000,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			}
		});
		
		// 월간행사계획
		$('.plan-wrap .js-plan').slick({
			arrows: true,
			prevArrow: $('.plan-wrap .btn-plan-prev'),
			nextArrow: $('.plan-wrap .btn-plan-next'),
			slidesToShow: 1,
			slidesToScroll: 1
		});
		
		$('.plan-wrap .js-scroll').each(function() {
			if($(this).attr('id') == '') return;
			
			new IScroll("#"+$(this).attr('id'), {
				scrollX: false, 
				scrollY: true, 
				mouseWheel: true,
				scrollbars: true,
				interactiveScrollbars: true,
				fadeScrollbars: true
			});
		});
		
		// 읍면행사
		$('.popup-wrap .js-popup').slick({
			dots: true,
			arrows: true,
			autoplay: true,
			autoplaySpeed: 2000,
			prevArrow: $('.popup-wrap .btn-popup-prev'),
			nextArrow: $('.popup-wrap .btn-popup-next'),
			slidesToShow: 1,
			slidesToScroll: 1,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			}
		});
		
		// 읍면동 전화번호  20190613 수정
		$('.section-info .js-hover a').on('click', function () {
			var _this =  $(this).closest(".phone-ballon").next("div").find(".phone-wrap"),
			 	 _height = _this.height(),
				 _height02 = $('.js-hover').height() + _height + 10;

			if($(this).parent().hasClass('on')) {
				if($('.section-info .js-hover').hasClass('on') == false) return false;
			
				$('.js-hover').stop().animate({height : 120 +'px'}, function () {
					$(this).removeClass('on').addClass('animation');
				});
				_this.stop().slideUp(300);
			} else {
				$(this).parent().removeClass('animation').addClass('on');
				$(this).parent().stop().animate({height : _height02 +'px'});
				_this.stop().slideDown(300);
			}
		});
		
		$('.number-area .last li:last a').on('blur', function () {
			$('.js-hover').stop().animate({height : 120 +'px'}, function () {
				$(this).removeClass('on').addClass('animation');
			});
			$('.phone-wrap').stop().slideUp(300);
			$('.section-info .js-hover a').focus();
		});
		
		//자주찾는 서비스  20190418 기존꺼 삭제
		/* 
			$(window).on('load resize orientationchange', function() {
				$('.js-service').each(function(){
					var $carousel = $(this);
					if ($(window).width() > 1024) {
						if ($carousel.hasClass('slick-initialized')) {
							$carousel.slick('unslick');
						}
					}
					else{
						if (!$carousel.hasClass('slick-initialized')) {
							$carousel.slick({
								slidesToShow: 4,
								slidesToScroll: 1,
								mobileFirst: true,
								arrows: false, 
								autoplay: true,
								autoplaySpeed: 2000,
							});
						}
					}
				});
			});
		*/

		// 자주찾는 서비스  20190418 수정
		$(".js-service").slick({
			dots: false,
			infinite: true,
			speed: 400,
			ltr: true,
			slidesToShow: 10,
			slidesToScroll: 1,
			swipe:false,
			arrows:false,
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						swipe:true,
						slidesToShow: 3,
						autoplay: true,
						autoplaySpeed: 3000
				   }
				}
			]
		});

		// 지역별 바로가기  20190613 추가
		var idx = 0;
		$(".js-map area").on("mouseenter", function(){
			idx = $(this).index()+1;
			$(".js-map").attr("data-map","map"+idx);
		})
		$(".js-map img").on("mouseleave", function(){
			$(".js-map").attr("data-map",'');
		})
		$(".zone-wrap .area-btn-group a").on("mouseenter", function(){
			var _i = $(this).closest("li").index() + 1;
			$(".js-map").attr("data-map","map"+_i);
		})
		$(".zone-wrap .area-btn-group a").on("mouseleave", function(){
			$(".js-map").attr("data-map",'');
		})
		
		
</script>
</body>
</html>