<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군 읍면동</title>
	<meta name="Subject" content="의성군 읍면동" >
	<meta name="title" content="의성군 읍면동" >
	<meta name="keywords" content="의성군 읍면동" >
	<meta name="description" content="의성군 읍면동" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="village">
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 텍스트 및 탭 메뉴 -->
				<div class="main-top-zone">
					<div class="inner">
						<div class="section-visual">
							<div class="banner-wrap">
								<button type="button" class="btn-main-prev">이전 슬라이드로 이동</button>
								<div class="js-visual">
									<div class="img-area">
										<img src="../../static/images/village/temp/@mainbanner01.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-pc">
										<img src="../../static/images/village/temp/@mainbanner01_m.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-m">
									</div>
									<div class="img-area">
										<img src="../../static/images/village/temp/@mainbanner01.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-pc">
										<img src="../../static/images/village/temp/@mainbanner01_m.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다." class="view-m">
									</div>
								</div>
								<!-- 								
								<div class="js-visual view-m">
									<div class="img-area">
										<img src="../../static/images/village/temp/@mainbanner01_m.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다.">
									</div>
									<div class="img-area">
										<img src="../../static/images/village/temp/@mainbanner01_m.png" alt="우리마을 관광지 함께하는 의성읍 의성읍에 오신것을 환영합니다.">
									</div>
								</div> -->
								<button type="button" class="btn-main-next">다음 슬라이드로 이동</button>
							</div>
							
							<div class="plan-wrap">
								<div class="month-wrap">
									<h2>월간행사계획</h2>
									<button type="button" class="btn-plan-prev">이전 월간행사계획으로 이동</button>
									<div class="js-plan">
										<div class="month-area">
											<em>2019.03</em>
											<div ic="wrapper1" class="js-scroll">
												<ul class="month-list">
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> <span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> <span class="tit">2019년도 신년인사회</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="month-area">
											<em>2019.04</em>
											<div id="wrapper2" class="js-scroll">
												<ul class="month-list">
													<li>
														<em class="local-01">의성</em>
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
													<li>
														<em class="local-01">의성</em> 
														<span class="tit">2019년도 신년인사회</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<button type="button" class="btn-plan-next">다음 월간행사계획으로 이동</button>
								</div>
							</div>
						</div>
						
						<div class="section-info">
							<div class="time-wrap">
								<p class="phone-ballon js-hover animation">
									<a href="#none">읍면동<br>전화번호</a>
								</p>
								<div class="time-inner">
									<div class="phone-wrap">
										<div class="phone-inner">
											<h3>읍면사무소 이용시간 <span>(주말, 공휴일 휴무)</span></h3>
											<div class="time-area">
												<p class="time">오전 09:00 ~ 오후 18:00</p>
												<p class="rest">점심시간 12:00 ~ 13:00</p>
											</div>
											<div class="number-area view-pc">
												<ul>
													<li><a href="#none"><em>의성읍</em>054-123-1234</a></li>
													<li><a href="#none"><em>단촌면</em>054-123-1234</a></li>
													<li><a href="#none"><em>점곡면</em>054-123-1234</a></li>
													<li><a href="#none"><em>옥산면</em>054-123-1234</a></li>
													<li><a href="#none"><em>사곡면</em>054-123-1234</a></li>
												</ul>
												<ul>
													<li><a href="#"><em>춘산면</em>054-123-1234</a></li>
													<li><a href="#"><em>가음면</em>054-123-1234</a></li>
													<li><a href="#"><em>금성면</em>054-123-1234</a></li>
													<li><a href="#"><em>봉양면</em>054-123-1234</a></li>
													<li><a href="#"><em>비안면</em>054-123-1234</a></li>
												</ul>
												<ul>
													<li><a href="#"><em>구천면</em>054-123-1234</a></li>
													<li><a href="#"><em>단밀면</em>054-123-1234</a></li>
													<li><a href="#"><em>단북면</em>054-123-1234</a></li>
													<li><a href="#"><em>안계면</em>054-123-1234</a></li>
													<li><a href="#"><em>다인면</em>054-123-1234</a></li>
												</ul>
												<ul class="last">
													<li><a href="#"><em>신평면</em>054-123-1234</a></li>
													<li><a href="#"><em>안평면</em>054-123-1234</a></li>
													<li><a href="#"><em>안사면</em>054-123-1234</a></li>
												</ul>
											</div>
											
											<div class="number-area view-m">
												<ul>
													<li><a href="#none"><em>의성읍</em>054-123-1234</a></li>
													<li><a href="#none"><em>단촌면</em>054-123-1234</a></li>
													<li><a href="#none"><em>점곡면</em>054-123-1234</a></li>
													<li><a href="#none"><em>옥산면</em>054-123-1234</a></li>
													<li><a href="#none"><em>사곡면</em>054-123-1234</a></li>
													<li><a href="#"><em>춘산면</em>054-123-1234</a></li>
													<li><a href="#"><em>가음면</em>054-123-1234</a></li>
													<li><a href="#"><em>금성면</em>054-123-1234</a></li>
													<li><a href="#"><em>봉양면</em>054-123-1234</a></li>
													<li><a href="#"><em>비안면</em>054-123-1234</a></li>
												</ul>
												<ul>
													<li><a href="#"><em>구천면</em>054-123-1234</a></li>
													<li><a href="#"><em>단밀면</em>054-123-1234</a></li>
													<li><a href="#"><em>단북면</em>054-123-1234</a></li>
													<li><a href="#"><em>안계면</em>054-123-1234</a></li>
													<li><a href="#"><em>다인면</em>054-123-1234</a></li>
													<li><a href="#"><em>신평면</em>054-123-1234</a></li>
													<li><a href="#"><em>안평면</em>054-123-1234</a></li>
													<li><a href="#"><em>안사면</em>054-123-1234</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="news-wrap">
								<div class="notice-wrap">
									<h3><span>읍면동 공지사항</span> <img src="../../static/images/village/txt_notice.png" alt="Notification"></h3>
									<div class="notice-preview">
										<div class="date">
											2019<em>06.28</em>
										</div>
										<dl class="notice-con">
											<dt><em class="local-02">옥산</em> 2019년 주민등록 사실조사 실시</dt>
											<dd>의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임 의성군에서는 귀농을 희망하는 도시민들이 의성군 정착을 위해 일정동안 귀농인의 집에 거주 하면서 영농기술을 배우고 주택 및 농지 구입 등을 할 수 있도록 임</dd>
										</dl>
									</div>
									<ul class="notice-link">
										<li>
											<a href="#">
												<em class="local-01">의성</em>
												<span class="tit">2019년 상반기 주민자치센터프로그램 강사 모집공고</span>
												<span class="date">2019-01-01</span>
											</a>
										</li>
										<li>
											<a href="#">
												<em class="local-01">의성</em>
												<span class="tit">2019년 의성읍 주민자치센터 상반기 프로그램 수강생 모집</span>
												<span class="date">2019-01-01</span>
											</a>
										</li>
										<li>
											<a href="#">
												<em class="local-03">점곡</em>
												<span class="tit">2018년 4/4분기 주민등록 사실조사 실시</span>
												<span class="date">2019-01-01</span>
											</a>
										</li>
									</ul>
									<a href="#" class="btn-view">더보기</a>
								</div>
								<div class="popup-wrap">
									<div class="popup-tit">
										<h3><span>읍면 행사</span>알려드립니다.</h3>
										<p class="txt">의성 읍면에서 진행하는<br>다양한 행사 및 정보를<br>알려드립니다.</p>
										<div class="popup-controls">
											<button type="button" class="btn-popup-prev">이전</button>
											<button type="button" class="btn-popup-next">다음</button>
											<button type="button" class="btn-popup-stop">일시정지</button>
										</div>
									</div>
									<div class="popup-area js-popup view-pc">
										<div><img src="../../static/images/village/temp/@popupbanner01.png" alt=""></div>
										<div><img src="../../static/images/village/temp/@popupbanner01.png" alt=""></div>
									</div>
									
									<div class="popup-area js-popup view-m">
										<div><img src="../../static/images/village/temp/@popupbanner01.png" alt=""></div>
										<div><img src="../../static/images/village/temp/@popupbanner01.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="section-service">
							<div class="service-inner">
								<h3>자주찾는<br>서비스</h3>
								<ul class="service-list">
									<li class="service01">
										<a href="#">전자민원</a>
									</li>
									<li class="service02">
										<a href="#">농업기술센터</a>
									</li>
									<li class="service03">
										<a href="#">관광지도</a>
									</li>
									<li class="service04">
										<a href="#">문화재</a>
									</li>
									<li class="service05">
										<a href="#">금봉자연휴양림</a>
									</li>
									<li class="service06">
										<a href="#">의성장날</a>
									</li>
									<li class="service07">
										<a href="#">의성토종마늘마을</a>
									</li>
									<li class="service08">
										<a href="#">모흥황토마을</a>
									</li>
									<li class="service09">
										<a href="#">안평자두마을</a>
									</li>
									<li class="service10">
										<a href="#">의성청학마을</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--// 상단 텍스트 및 탭 메뉴 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
	<script>
		// 메인슬라이드
		$('.banner-wrap .js-visual').slick({
			dots: true,
			arrows: true,
			prevArrow : $('.banner-wrap .btn-main-prev'),
			nextArrow : $('.banner-wrap .btn-main-next'),
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: true,
			autoplay: true,
			autoplaySpeed: 2000,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			}
		});
		// 월간행사계획
		$('.plan-wrap .js-plan').slick({
			arrows: true,
			prevArrow: $('.plan-wrap .btn-plan-prev'),
			nextArrow: $('.plan-wrap .btn-plan-next'),
			slidesToShow: 1,
			slidesToScroll: 1
		});
		// 읍면행사
		$('.popup-wrap .js-popup').slick({
			dots: true,
			arrows: true,
			autoplay: true,
			autoplaySpeed: 2000,
			prevArrow: $('.popup-wrap .btn-popup-prev'),
			nextArrow: $('.popup-wrap .btn-popup-next'),
			slidesToShow: 1,
			slidesToScroll: 1,
			dotsClass: 'custom-paging',
			customPaging: function(slider, i) {
				return '<em>' + (i + 1) + '</em>' + "/" + slider.slideCount;
			}
		});
		// 읍면동 전화번호
		$('.section-info .js-hover a').on('click', function () {
			var _height = $('.phone-wrap').height() + 118;
			$(this).parent().removeClass('animation').addClass('on');
			$(this).parent().stop().animate({height : _height +'px'});
			$('.phone-wrap').stop().slideDown();
		});
		
		$('.time-wrap').on('mouseleave', function () {
			if($('.section-info .js-hover').hasClass('on') == false) return false;

			$('.js-hover').stop().animate({height : 120 +'px'}, function () {
				$(this).removeClass('on').addClass('animation');
			});
			$('.phone-wrap').stop().slideUp();
		});
		$('.number-area .last li:last a').on('blur', function () {
			$('.js-hover').stop().animate({height : 120 +'px'}, function () {
				$(this).removeClass('on').addClass('animation');
			});
			$('.phone-wrap').stop().slideUp();
			$('.section-info .js-hover a').focus();
		});
			
			
		// $(document).ready(function () {
			
		// 	 var myScroll = new Array();
		// 	$('.js-scroll').each(function () {
		// 		var id = $(this).attr('id');
		// 		console.log(id);
		// 		myScroll.push(new IScroll(id, {
		// 			scrollX: false, 
		// 			scrollY: true, 
		// 			mouseWheel: true,
		// 			scrollbars: true,
		// 			interactiveScrollbars: true,
		// 			fadeScrollbars: true
		// 		}))
		// 	}); 
			
		// 	/* var myScroll = new IScroll('.js-scroll', {
		// 		scrollX: false, 
		// 		scrollY: true, 
		// 		mouseWheel: true,
		// 		scrollbars: true,
		// 		interactiveScrollbars: true,
		// 		fadeScrollbars: true
		// 	}); */
		// });


		(function($) {
			$.fn.multiLine = function() {
				return this.each(function(){
					var el = $(this);
					if(el.css("overflow") == "hidden") {
						var text = el.html();
						var t = $(this.cloneNode(true)).hide().css({'position' : 'absolute', 'overflow' : 'visible', 'width' : el.width(), 'height' : 'auto'});
						el.after(t);
						while (text.length > 0 && t.height() >= el.height()) {
							text = text.substr(0, text.length - 1);
							t.html(text + "...");
						}
						el.html(t.html());
						t.remove();
					}
				});
			};
		})(jQuery);
		$(".notice-con dd").multiLine();
	</script>
</body>
</html>