<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>특산물 &lt; 관광특산물 &lt; 의성군 읍면동</title>
	<meta name="Subject" content="의성군 읍면동" >
	<meta name="title" content="의성군 읍면동" >
	<meta name="keywords" content="의성군 읍면동" >
	<meta name="description" content="의성군 읍면동" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="village"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- village/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요!</p>
					<img src="../../static/images/commonbg/bg_village.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>의성읍 소개</h2>
						</div>
						<nav>
							<ul class="menu">
								<li> <h2><a href="#" class="single"><span>인사말</span></a></h2> </li>
								<li>
									<h2><a href="#"><span>일반현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>기본현황</span></a></h3></li>
											<li><h3><a href="#"><span>마을유래전설</span></a></h3></li>
											<li><h3><a href="#"><span>기관현황</span></a></h3></li>
											<li><h3><a href="#"><span>연혁지역특성</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">특산물</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<h3 class="heading-h3">마늘</h3>
								<div class="village-infor">
									<div class="img"><img src="../../static/images/village/subpage/img_garlic.png" alt="의성 마늘"></div>
									<div class="txt">
										<h4 class="heading-h4">의성마늘 명인</h4>
										<p class="comp-lst_dotted ml5 mt10">명인이란 ? 의성마늘의 생산기술 및 비법을 계승&middot;발전시키고 의성마늘의 명성을 이어가기 위해 생산분야에서 가장 우수한 농업인을 대상으로 엄격한 기준을 통해 '98~10년까지 「의성마늘 명인 13인」을 선정&middot;지정함.</p>
										<h4 class="heading-h4 mt35">명인현황</h4>
										<ul class="comp-lst_dotted ml5 mt10">
											<li>강병주 (치선오상길, 010-6757-1659)</li>
											<li>김성화 (오로1길, 010-9950-3306)</li>
										</ul>
										<p class="btn"><a href="#" class="comm-btn_type4_goto"><span>전체현황보기</span></a></p>
									</div>
								</div>

								<h3 class="heading-h3 mt50">의성읍 직거래 장터</h3>
								<table class="comp-tbl_datatype mt15">
									<caption>의성읍 직거래 장터 - 취급품목, 상호, 대표자, 홈페이지</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">취급품목</th>
											<th scope="col">상호</th>
											<th scope="col">대표자</th>
											<th scope="col">홈페이지</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>메주, 된장, 고추장</td>
											<td>삼환식품</td>
											<td>이상환</td>
											<td><a href="#" target="_blank" title="새창으로 열림" class="comm-btn_type2 comm-btn_goto"><span>바로가기</span></a></td>
										</tr>
										<tr>
											<td>마늘</td>
											<td>의성마늘원조동네</td>
											<td>김종면</td>
											<td><a href="#" target="_blank" title="새창으로 열림" class="comm-btn_type2 comm-btn_goto"><span>바로가기</span></a></td>
										</tr>
										<tr>
											<td>마늘환,흑마늘진액,홍화(씨)</td>
											<td>의성농산영농조합법인</td>
											<td>유명진</td>
											<td><a href="#" target="_blank" title="새창으로 열림" class="comm-btn_type2 comm-btn_goto"><span>바로가기</span></a></td>
										</tr>
										<tr>
											<td>황 화</td>
											<td>의성홍화나라</td>
											<td>양선희</td>
											<td><a href="#" target="_blank" title="새창으로 열림" class="comm-btn_type2 comm-btn_goto"><span>바로가기</span></a></td>
										</tr>
										<tr>
											<td>황화, 마늘환</td>
											<td>우리홍화인영농조합</td>
											<td>마대규</td>
											<td><a href="#" target="_blank" title="새창으로 열림" class="comm-btn_type2 comm-btn_goto"><span>바로가기</span></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- village/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>