<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>도서 상세 &lt; 전자책도서관</title>
	<meta name="Subject" content="전자책도서관" >
	<meta name="title" content="전자책도서관" >
	<meta name="keywords" content="전자책도서관" >
	<meta name="description" content="전자책도서관" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="ebooksys subpage"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>Uiseong County Library 책으로 소통하는 행복한 의성전자책시스템</p>
					<img src="../../static/images/commonbg/bg_ebooksys.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>전체도서</h2>
						</div>
						<nav>
							<ul class="menu single">
								<li> <h2><a href="#"><span>문학 (1,526종)</span></a></h2> </li>
								<li> <h2><a href="#" class="open"><span>경제 / 비즈니스 (171종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>인문 (140종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>에세이 / 산문 (107종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>가정 / 생활 (89종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>어린이 (52종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>취미 / 여행 (49종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>외국어 (25종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>연령별분류 (19종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>역사 (18종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>사회 (14종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>장르문학 (12종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>오디오북 (9종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>자연/과학 (7종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>문화/예술 (7종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>종교/역학 (4종)</span></a></h2> </li>
								<li> <h2><a href="#"><span>컴퓨터/인터넷 (1종)</span></a></h2> </li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">건지 감자껍질파이북클럽 (개정판) </h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 상단 도서 정보 -->
								<div class="books-infor-zone">
									<div class="thumb"><img src="../../static/images/usclib/temp/@img.png" alt="건지 감자껍질파이 북클럽 (개정판) 표지"></div>
									<div class="infor">
										<p class="book-name"><em class="flag">문학</em> 건지 감자껍질파이 북클럽 (개정판)</p>
										<p class="qrcode"><img src="../../static/images/ebooksys/temp/@qr.png" alt="건지 감자껍질파이 북클럽 (개정판) QR코드"></p>
										<ul class="lst">
											<li><span class="tit">저자</span> <em class="cont">에이미 굴리엘모</em></li>
											<li><span class="tit">출판사</span> <em class="cont">서울: 함께자람(교학사)</em></li>
											<li><span class="tit">출판년도</span> <em class="cont">2018-07-20</em></li>
											<li><span class="tit">공급사</span> <em class="cont">(주)북큐브네트웍스 (2018-11-27)</em></li>
											<li><span class="tit">지원단말기</span> <em class="cont">PC / 스마트기기</em></li>
											<li><span class="tit">듣기기능</span> <em class="cont tts">TTS 지원 (PC는 추후 지원예정)</em></li>
										</ul>
									</div>
								</div>
								<!--// 상단 도서 정보 -->

								<!-- 도서 정보 - 카운트 -->
								<ul class="books-count-zone">
									<li><span class="name">대출</span><span class="num">0/1</span></li>
									<li><span class="name">예약</span><span class="num">0</span></li>
									<li><span class="name">누적대출</span><span class="num">0</span></li>
									<li><span class="name">추천</span><span class="num">0</span></li>
								</ul>
								<!-- //도서 정보 - 카운트 -->

								<!-- 도서 관련 버튼 모음 -->
								<div class="books-button-zone">
									<button type="button" class="comm-btn_type4_round_deepyellow"><span>대출하기</span></button>
									<button type="button" class="comm-btn_type4_round_lightyellow"><span>추천하기</span></button>
									<button type="button" class="comm-btn_type4_round_lightgray2"><span>미리보기</span></button>
									<button type="button" class="comm-btn_type4_round_lightgray2_favorit" aria-pressed='false'><span>찜하기</span></button><!-- 찜하기가 체크된 상태면 aria-pressed='true' (접근성) -->
									
								</div>
								<!-- //도서 관련 버튼 모음 -->

								<!-- 서브 탭 영역 -->
								<ul class="comp-tab_row mt60" role="tablist">
									<li role="presentation"><a href="#subtabcontent1" role="tab" aria-controls="subtabcontent1" aria-selected="true"><span>책소개</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#subtabcontent2" role="tab" aria-controls="subtabcontent2"><span>저자소개</span></a></li>
									<li role="presentation"><a href="#subtabcontent3" role="tab" aria-controls="subtabcontent3"><span>목 차</span></a></li>
									<li role="presentation"><a href="#subtabcontent4" role="tab" aria-controls="subtabcontent4"><span>서 평</span></a></li>
								</ul>
								<!--// 서브 탭 영역 -->

								<!-- 책소개 -->
								<div id="subtabcontent1" role="tabpanel" class="books-detail-contents" style="display: block;">
									<h3 class="hidden">책소개</h3>

									<dl class="comp-lst_round">
										<dt>저자 : 메리 앤 섀퍼</dt>
										<dd class="mt25">1934년 미국 웨스트버지니아 주 마틴스버그에서 태어났다. 그녀는 평생 여러 곳의 도서관과 서점에서 일했고, 지역신문의 편집을 맡기도 했다. <br> 그녀의 오랜 꿈은 ‘출판할 가치가 충분히 있는 책’을 쓰는 것이었다. 그런데 이 책을 쓰면서 건강이 악화된 메리는 조카 애니 배로스에게 책의 마무리를 도와달라고 요청했다. 안타깝게도 그녀는 이 책이 세상에 나오는 것을 보지 못하고 2008년 초 세상을 떠났다. 이 매혹적인 데뷔 소설은 유작이 되고 말았다.</dd>
									</dl>
									<dl class="comp-lst_round mt40">
										<dt>저자 : 애니 배로스</dt>
										<dd class="mt25">애니는 메리 앤의 조카다. 과거 크로니클 북스의 편집자였으며, ‘아이비와 빈’을 주인공으로 한 유명 동화 시리즈의 작가이다. 어린이를 대상으로 한 그녀의 소설은 2008년 5월에 미국 블룸스버리 출판사에서 출간되었다. 그녀는 성인용 도서의 작가이기도 하다. 우리로서는 다행스럽게도, 애니는 삶을 애처롭고도 매혹적인 시선으로 바라보는 메리 앤의 유전자를 공유한, 천부적인 작가이자 편집자이다.</dd>
									</dl>
									<dl class="comp-lst_round mt40">
										<dt>역자 : 신선해</dt>
										<dd class="mt25">연세대학교에서 국어국문학과 심리학을 전공하였다. 편집기획자로 책 만드는 일을 시작했으며, 현재는 전문 번역가로 활발히 활동하고 있다. 저자의 문체와 의도를 최대한 살리면서 한국 독자들이 편하게 읽을 수 있는 번역을 하기 위해 항상 노력하고 있으며, 옮긴 책으로는《나는 잠자는 예언자》《십자가와 칼》《개를 훔치는 완벽한 방법》《비바 라스베가스》《산티아고 가이드북》《여자끼리 떠나는 세계여행》《블레이드》《그렇게 한 편의 소설이 되었다》《신비한 소년 44호》《사랑의 행위》 등이 있다.</dd>
									</dl>
								</div>
								<!-- 저자소개 -->
								<div id="subtabcontent2" role="tabpanel" class="books-detail-contents">
									<h3 class="hidden">저자소개</h3>
								</div>
								<!-- 목차 -->
								<div id="subtabcontent3" role="tabpanel" class="books-detail-contents">
									<h3 class="hidden">목차</h3>
								</div>
								<!-- 서평 -->
								<div id="subtabcontent4" role="tabpanel" class="books-detail-contents">
									<h3 class="hidden">서평</h3>

								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>