<div id="header" class="header-type2">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li class="current"><a href="#"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">의성군 안계군립도서관</a></h1>
			<p class="btn-menu-open view-m"><button type="button" aria-haspoup="true" aria-controls="gnb-mo" aria-expanded="false"><span>전체메뉴 열기</span></button></p>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom" id="gnb-mo">
		<p class="gnb-mo-title">전체메뉴</p>
		<div class="inner">
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#" class="icon-login"><span>로그인</span></a></li>
					<li><a href="#" class="icon-join"><span>회원가입</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb" role="tree">
						<li role="treeitem">
							<h2> <a href="#"><span>전체도서</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"><h3><a href="#" class="icon-gnb1 current"><span>전체 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb2"><span>문학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb3"><span>경제/비즈니스 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb4"><span>인문 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb5"><span>에세이/산문 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb6"><span>가정/생활 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb7"><span>어린이 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb8"><span>취미/여행 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb9"><span>외국어 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb10"><span>연령별분류 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb11"><span>역사 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb12"><span>사회 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb13"><span>장르문학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb14"><span>오디오북 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb15"><span>자연/과학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb16"><span>문화/예술 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb17"><span>종교/역학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb18"><span>컴퓨터/인터넷  <em class="number">(2,2866종)</em></span></a></h3></div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>신작도서</span></a> </h2>
							<div class="depth2menu">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"><h3><a href="#" class="icon-gnb1"><span>신착전체 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb2"><span>문학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb5"><span>에세이/산문 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb4"><span>인문 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb12"><span>사회 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb3"><span>경제/비즈니스 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb15"><span>자연/과학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb9"><span>외국어 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb8"><span>취미/여행 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb6"><span>가정/생활 <em class="number">(2,2866종)</em></span></a></h3></div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>베스트도서</span></a> </h2>
							<div class="depth2menu" >
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"><h3><a href="#" class="icon-gnb1"><span>베스트전체 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb15"><span>자연/과학 <em class="number">(2,2866종)</em></span></a></h3></div>
										<div class="group"><h3><a href="#" class="icon-gnb9"><span>외국어 <em class="number">(2,2866종)</em></span></a></h3></div>
									</div>
								</div>
							</div>
						</li>
						<li role="treeitem">
							<h2> <a href="#"><span>커뮤니티</span></a> </h2>
							<div class="depth2menu other">
								<div class="menu" role="group">
									<div class="menugroup">
										<div class="group"> <h3><a href="#"><span>이용안내</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>공지사항</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>문의 및 개선요청</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>Q &amp; A</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>FAQ</span></a></h3> </div>
										<div class="group"> <h3><a href="#"><span>대출/예약</span></a></h3> </div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<p class="sitemap"><a href="#" class="btn-sitemap" title="사이트맵 바로가기">사이트맵</a></p>
		</div>
		<p class="btn"><button type="button" class="btn-close"><span>전체메뉴 닫기</span></button></p>
	</div>
	<!--// header gnb -->
</div>
<script>
usc.gnbEvent('400,400,220,95');
</script>