<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" />
	<meta name="format-detection" content="telephone=no" />
	<title>의성군청</title>
	<meta name="Subject" content="의성군청" />
	<meta name="title" content="의성군청" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<!-- <link rel="shortcut icon" href="../../" /> -->
	<!-- <link rel="icon" href="../../../static/images/frontend/common/downy_favicon.png" /> -->
	<link rel="stylesheet" href="../static/css/common.css" />
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap">
		<!-- HEADER -->
		<header></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class=""></div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/js/slick.min.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<script>

</script>
</body>
</html>