<div id="header">
	<!-- header top menu -->
	<div class="header-top">
		<div class="inner">
			<ul class="header-site" aria-label="의성 연계 사이트 모음">
				<li class="current"><a href="#"><span>의성군청</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
				<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
			</ul>
			<dl class="header-zoom">
				<dt>크기조절</dt>
				<dd>
					<button type="button" class="btn-zoomup"><span>한단계 위로 변경</span></button>
					<button type="button" class="btn-zoomdown"><span>한단계 아래로 변경</span></button>
					<button type="button" class="btn-zoom100"><span>기본 크기로 변경</span></button>
				</dd>
			</dl>
			<div class="header-utilegroup">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
				<ul class="haeder-lang" aria-label="언어별 홈페이지 이동 메뉴">
					<li><a href="#" title="현재 언어" class="icon_country_korea"><span>한국어</span></a></li>
					<li><a href="http://www.usc.go.kr/jp" target="_blank" title="새창으로 열림" class="icon_country_japan"><span>일본어</span></a></li>
					<li><a href="http://www.usc.go.kr/cn" target="_blank" title="새창으로 열림" class="icon_country_china"><span>중국어</span></a></li>
					<li><a href="http://www.usc.go.kr/eng" target="_blank" title="새창으로 열림" class="icon_country_en"><span>영어</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header top menu -->
	<!-- header middle -->
	<div class="header-middle">
		<div class="inner">
			<h1 class="title"><a href="#">활력넘치는 희망의성, 의성군</a></h1>
			<p class="btn-search-open view-m"><a href="#"><span>통합검색 열기</span></a></p>
			<p class="btn-menu-open view-m"><a href="#"><span>전체메뉴 열기</span></a></p>
			<div class="comp-search view-pc" role="search">
				<div class="form">
					<select name="" id="" title="검색어 분류 선택">
						<option value="">통합검색</option>
					</select>
					<input type="text" title="검색어 입력">
				</div>
				<button type="submit"><span>검색</span></button>
			</div>
			<div class="usc-snsgroup view-pc">
				<p class="txt">의성군과 소통하기</p>
				<ul class="sns">
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_facebook"><span>페이스북</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_twitter"><span>트위터</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_blog"><span>블로그</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_kakao"><span>카카오스토리</span></a></li>
					<li><a href="#" target="_blank" title="새창으로 열림" class="icon_instar"><span>인스타그램</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--// header middle -->
	<!-- header gnb -->
	<div class="header-bottom">
		<div class="inner">
			<div class="header-utilegroup view-m">
				<ul class="header-utile">
					<li><a href="#"><span>로그인</span></a></li>
					<li><a href="#"><span>회원가입</span></a></li>
				</ul>
				<ul class="haeder-lang" aria-label="언어별 홈페이지 이동 메뉴">
					<li><a href="#" title="현재 언어" class="icon_country_korea"><span>한국어</span></a></li>
					<li><a href="http://www.usc.go.kr/jp" target="_blank" title="새창으로 열림" class="icon_country_japan"><span>일본어</span></a></li>
					<li><a href="http://www.usc.go.kr/cn" target="_blank" title="새창으로 열림" class="icon_country_china"><span>중국어</span></a></li>
					<li><a href="http://www.usc.go.kr/eng" target="_blank" title="새창으로 열림" class="icon_country_en"><span>영어</span></a></li>
				</ul>
			</div>
			<nav>
				<div id="gnb">
					<ul class="gnb">
						<li><a href="#"><span>전자민원</span></a></li>
						<li><a href="#"><span>정보공개</span></a></li>
						<li><a href="#"><span>열린군정</span></a></li>
						<li><a href="#"><span>소통참여</span></a></li>
						<li><a href="#"><span>의성안내</span></a></li>
					</ul>
					<div class="category">
						분야별정보? 
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!--// header gnb -->
</div>