<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc">
		<!-- HEADER -->
		<header>
			<div id="header">
				<div class="inner">
					<!-- header top menu -->
					<div class="header-top">
						<ul class="header-site" aria-label="의성 연계 사이트 모음">
							<li class="current"><a href="#"><span>의성군청</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
						</ul>
						<div class="header-utilegroup">
							<ul class="header-utile">
								<li><a href="#"><span>로그인</span></a></li>
								<li><a href="#"><span>회원가입</span></a></li>
							</ul>
							<ul class="haeder-lang" aria-label="홈페이지 언어 선택 메뉴">
								<li><a href="#" class="current"><span>한국어</span></a></li>
								<li><a href="#"><span>일본어</span></a></li>
								<li><a href="#"><span>중국어</span></a></li>
								<li><a href="#"><span>영어</span></a></li>
							</ul>
						</div>
					</div>
					<!--// header top menu -->
					<!-- header middle -->
					<div class="header-middle">
						<h1 class="title"><a href="#">활력넘치는 희망의성, 의성군</a></h1>
						<div class="comp-search" role="search">
							<input type="text" title="검색어 입력">
							<button type="submit"><span>검색</span></button>
						</div>
						<div class="usc-snsgroup">
							<p class="txt">의성군과 소통하기</p>
							<ul class="sns">
								<li><a href="#" target="_blank" title="새창으로 열림"><span>페이스북</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>트위터</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>블로그</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>카카오스토리</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>인스타그램</span></a></li>
							</ul>
						</div>
					</div>
					<!--// header middle -->
					<!-- header gnb -->
					<div class="header-bottom">
						<nav>
							<div id="gnb">
								<ul class="gnb">
									<li><a href="#"><span>전자민원</span></a></li>
									<li><a href="#"><span>정보공개</span></a></li>
									<li><a href="#"><span>열린군정</span></a></li>
									<li><a href="#"><span>소통참여</span></a></li>
									<li><a href="#"><span>의성안내</span></a></li>
								</ul>
								<div class="category">
									분야별정보? 
								</div>
							</div>
						</nav>
					</div>
					<!--// header gnb -->
				</div>
			</div>
		</header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<div class="inner">
					<div class="">
						
					</div>
					
				</div>
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer>
			<div id="footer">
				<div class="inner">
					<div class="footer-banner">
						배너영역
					</div>
					<div class="footer-selectgroup">
						<select name="" id="" title="시/군 홈페이지 선택 새창열림">
							<option value="">시/군 홈페이지</option>
						</select>
						<select name="" id="" title="읍/면/동 홈페이지 선택 새창열림">
							<option value="">읍/면/동 홈페이지</option>
						</select>
						<select name="" id="" title="사업소 홈페이지 선택 새창열림">
							<option value="">사업소 홈페이지</option>
						</select>
						<select name="" id="" title="유관기관 홈페이지 선택 새창열림">
							<option value="">유관기관 홈페이지</option>
						</select>
						<select name="" id="" title="의성군청 패밀리 사이트 선택 새창열림">
							<option value="">의성군청 패밀리 사이트</option>
						</select>
					</div>
					<div class="footer-utilegroup">
						<ul class="footer-utile">
							<li><a href="#"><span>개인정보처리방침</span></a></li>
							<li><a href="#"><span>영상정보처리기기방침</span></a></li>
							<li><a href="#"><span>홈페이지불편/건의사항</span></a></li>
							<li><a href="#"><span>뷰어다운로드</span></a></li>
							<li><a href="#"><span>찾아오시는길</span></a></li>
						</ul>
						<address>
							<ul class="footer-addr">
								<li>(37337)</li>
								<li><strong>대표전화</strong></li>
								<li><strong>팩스</strong></li>
							</ul>
						</address>
						<p class="footer-copy">카피라이트</p>
						<p class="footer-txt">주의 텍스트</p>
					</div>
					<div class="footer-markgroup">
						<p class="footer-qrcode"><img src="" alt="살기좋은 의성군 PR코드"></p>
						<p class="footer-acmark"><img src="" alt="웹접근성 마크"></p>
					</div>
				</div>
			</div>
		</footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>

</script>
</body>
</html>