<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc">
		<!-- HEADER -->
		<header>
			<div id="header">
				<div class="inner">
					<!-- header top menu -->
					<div class="header-top">
						<ul class="header-site" aria-label="의성 연계 사이트 모음">
							<li class="current"><a href="#"><span>의성군청</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성문화관광</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>평생학습교육</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군의회</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>통합예약시스템</span></a></li>
							<li><a href="#" target="_blank" title="새창으로 열림"><span>의성군립안계도서관</span></a></li>
						</ul>
						<div class="header-utilegroup">
							<ul class="header-utile">
								<li><a href="#"><span>로그인</span></a></li>
								<li><a href="#"><span>회원가입</span></a></li>
							</ul>
							<ul class="haeder-lang" aria-label="홈페이지 언어 선택 메뉴">
								<li><a href="#" class="current"><span>한국어</span></a></li>
								<li><a href="#"><span>일본어</span></a></li>
								<li><a href="#"><span>중국어</span></a></li>
								<li><a href="#"><span>영어</span></a></li>
							</ul>
						</div>
					</div>
					<!--// header top menu -->
					<!-- header middle -->
					<div class="header-middle">
						<h1 class="title"><a href="#">활력넘치는 희망의성, 의성군</a></h1>
						<div class="comp-search" role="search">
							<input type="text" title="검색어 입력">
							<button type="submit"><span>검색</span></button>
						</div>
						<div class="usc-snsgroup">
							<p class="txt">의성군과 소통하기</p>
							<ul class="sns">
								<li><a href="#" target="_blank" title="새창으로 열림"><span>페이스북</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>트위터</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>블로그</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>카카오스토리</span></a></li>
								<li><a href="#" target="_blank" title="새창으로 열림"><span>인스타그램</span></a></li>
							</ul>
						</div>
					</div>
					<!--// header middle -->
					<!-- header gnb -->
					<div class="header-bottom">
						<nav>
							<div id="gnb">
								<ul class="gnb">
									<li><a href="#"><span>전자민원</span></a></li>
									<li><a href="#"><span>정보공개</span></a></li>
									<li><a href="#"><span>열린군정</span></a></li>
									<li><a href="#"><span>소통참여</span></a></li>
									<li><a href="#"><span>의성안내</span></a></li>
								</ul>
								<div class="category">
									분야별정보? 
								</div>
							</div>
						</nav>
					</div>
					<!--// header gnb -->
				</div>
			</div>
		</header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 텍스트 및 탭 메뉴 -->
				<div class="main-top-zone">
					<div class="inner">
						<!-- 좌측 텍스트 -->
						<p class="top-txt">
							<img src="../../static/images/usc/img_maintxt.png" alt="군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!">
						</p>
						<!--// 좌측 텍스트 -->
						<!-- 우측 날씨 및 탭 메뉴 -->
						<div class="top-menu">
							<!-- 날씨 개발 영역 -->
							<div class="weather-zone">
								<p class="today-icon"><img src="../../static/images/usc/icon_weather_sun.png" alt="맑음"></p>
								<!-- D : 날씨 아이콘의 경우 42*42 사이즈로 넣어 줄 것 -->
								<dl class="today-txt">
									<dt class="day">12월 00일(월) :</dt>
									<dd class="detail">
										<ul>
											<li>기온 <span>-3.0℃</span></li>
											<li>미세먼지 <span>보통</span></li>
											<li>강수량 <span>0.0mm</span></li>
										</ul>
										<a href="#" target="_blank" title="새창으로 열림" class="lnk"><span>날씨 자세히 보기</span></a>
									</dd>
								</dl>
							</div>
							<!-- 탭 메뉴 -->
							<div class="tab-zone" aria-label="의성군청 메인 컨텐츠 분류">
								<div class="li"><h2 class="bigtabcont1"><span>소 식</span></h2></div>
								<div class="li"><h2 class="bigtabcont2"><span>민 원</span></h2></div>
								<div class="li"><h2 class="bigtabcont3"><span>관 광</span></h2></div>
							</div>
						</div>
						<!-- //우측 날씨 및 탭 메뉴 -->
					</div>
				</div>
				<!--// 상단 텍스트 및 탭 메뉴 -->

				<!-- 탭 컨텐츠 -->
				<div class="main-tabcontent">
					<!-- 소식 탭  -->
					<div id="bigtabcont1" class="tab-news">
						<h2 class="hidden">소식관련 메인 내용</h2>
						<div class="inner">
							<div class="l-left">
								<!-- 배너슬라이드 -->
								<div class="news-banner js-news-banner">
									<div class="slider">
										<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainbanner1.png" alt="배너명"></a></div>
										<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainbanner1.png" alt="배너명"></a></div>
										<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainbanner1.png" alt="배너명"></a></div>
									</div>
									<button type="button" onclick="usc.slickPause('.js-news-banner > .slider', this)" class="btn-slickPause"><span>Pause</span></button>
								</div>
								<!-- //배너슬라이드 -->
								<!-- 게시판 -->
								<div class="news-board">
									<ul class="board-tabmenu" role="tablist">
										<li role="presentation"><a href="#bdtabcont1" role="tab" aria-controls="bdtabcont1" aria-selected="true"><span>공지사항</span></a></li>
										<li role="presentation"><a href="#bdtabcont2" role="tab" aria-controls="bdtabcont2"><span>고시공고</span></a></li>
										<li role="presentation"><a href="#bdtabcont3" role="tab" aria-controls="bdtabcont3"><span>입법예고</span></a></li>
										<li role="presentation"><a href="#bdtabcont4" role="tab" aria-controls="bdtabcont4"><span>입찰공고</span></a></li>
									</ul>
									<div class="boardtab-content">
										<!-- 공지사항 -->
										<div id="bdtabcont1" role="tabpanel" style="display: block;">
											<h2 class="hidden">공지사항</h2>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<a href="#">
													<p class="todays">
														<span class="year">2019</span>
														<span class="day">12.25</span>
													</p>
													<dl class="today-cont">
														<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
														<dd>
															매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
															경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
														</dd>
													</dl>
												</a>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
										</div>
										<!-- 고시공고 -->
										<div id="bdtabcont2" role="tabpanel">
											<h2 class="hidden">고시공고</h2>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<p class="todays">
													<span class="year">2019</span>
													<span class="day">12.25</span>
												</p>
												<dl class="today-cont">
													<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
													<dd>
														매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
														경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
													</dd>
												</dl>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>고시공고 더보기</span></a></p>
										</div>
										<!-- 입법예고 -->
										<div id="bdtabcont3" role="tabpanel">
											<h2 class="hidden">입법예고</h2>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<p class="todays">
													<span class="year">2019</span>
													<span class="day">12.25</span>
												</p>
												<dl class="today-cont">
													<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
													<dd>
														매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
														경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
													</dd>
												</dl>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>입법예고 더보기</span></a></p>
										</div>
										<!-- 입찰공고 -->
										<div id="bdtabcont4" role="tabpanel">
											<h2 class="hidden">입찰공고</h2>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<p class="todays">
													<span class="year">2019</span>
													<span class="day">12.25</span>
												</p>
												<dl class="today-cont">
													<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
													<dd>
														매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
														경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
													</dd>
												</dl>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>입찰공고 더보기</span></a></p>
										</div>
									</div>
								</div>
								<!-- //게시판 -->
							</div> 

							<div class="l-right">
								<!-- 군수메뉴, 통합예약시스템, 팝업존 -->
								<div class="menugroup">
									<!-- 군수관련 메뉴 -->
									<div class="news-leadermenu">
										<p class="txt">안녕하세요! 의성군수 김주수입니다. </p>
										<ul class="menu">
											<li><a href="#" class="icon-openleader"><span>열린군수실</span></a></li>
											<li><a href="#" class="icon-current"><span>공약추진현황</span></a></li>
											<li><a href="#" class="icon-talk"><span>군수와의 대화</span></a></li>
										</ul>
									</div>
									<!-- //군수관련 메뉴 -->
									
									<!-- 통합예약시스템 -->
									<div class="news-bookingsys">
										<a href="#" target="_blank" title="새창으로 열림">
											<h2 class="tit">통합예약시스템</h2>
											<p class="txt">모든 온라인예약을 ‘의성통합예약시스템’으로 <br>쉽고 편리하게 예약하세요!</p>
										</a>
									</div>
									<!--// 통합예약시스템 -->

									<!-- 팝업존 -->
									<div class="news-popupzone js-news-popupzone">
										<div class="popupzone-titlezone">
											<h2 class="tit">팝업존</h2>
											<p class="hotnews">HOT NEWS</p>
											<p class="desc">이미지를 클릭하시면, 해당정보로 이동합니다.</p>
											<div class="indicator" aria-label="팝업존 슬라이드 제어 메뉴">
												<p><button class="btn-prev" type="button"><span>슬라이드 이전으로 이동</span></button></p>	
												<p><button class="btn-next" type="button"><span>슬라이드 다음으로 이동</span></button></p>	
												<p><button class="btn-pause" type="button" onclick="usc.slickPause('.js-news-banner > .slider', this)" ><span>슬라이드 일시정지 및 재생</span></button></p>	
											</div>
										</div>
										<div class="slider" aria-label="팝업존 슬라이드">
											<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainpopup.png" alt="배너명"></a></div>
											<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainpopup.png" alt="배너명"></a></div>
											<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainpopup.png" alt="배너명"></a></div>
										</div>
									</div>
									<!-- //팝업존 -->
								</div>
								<!--// 군수메뉴, 통합예약시스템, 팝업존 -->
								<!-- 자주찾는 메뉴 -->
								<div class="news-favoritmenu">
									<h3 class="tit">자주찾는 메뉴</h3>
									<div class="news-favoritmenu js-news-favoritmenu">
										<div class="slide-indicator" aria-label="자주찾는 메뉴 슬라이드 제어 메뉴">
											<p><button type="button" class="btn-up"><span>자주찾는 메뉴 위로 이동</span></button></p>
											<p><button type="button" onclick="usc.slickPause('.js-news-favoritmenu > .slider', this)" class="btn-pause"><span>자주찾는 메뉴 일시정지 및 재생</span></button></p>
											<p><button type="button" class="btn-down"><span>자주찾는 메뉴 아래로 이동</span></button></p>
										</div>
										<div class="slider" aria-label="자주찾는 메뉴 슬라이드">
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit1"><span>행정조직도</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit2"><span>행정전화번호</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit3"><span>청사안내</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit4"><span>찾아오시는 길</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit5"><span>문화관광</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit6"><span>의성보건소</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit7"><span>민원24</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit8"><span>국민신문고</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit9"><span>위택스</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit10"><span>홈택스</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit11"><span>귀농귀촌</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit12"><span>마늘박물관</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit13"><span>안계도서관</span></a></div>
										</div>
									</div>
								</div>
								<!-- //자주찾는 메뉴 -->
							</div>
						</div>
					</div>
					<!--// 소식 탭  -->

					<!-- 민원 탭  -->
					<div id="bigtabcont2" class="tab-complaint"> 
						<h2 class="hidden">민원관련 메인 내용</h2>
						<div class="inner">
						</div>
					</div>
					<!--// 민원 탭  -->
					
					<!-- 관광 탭  -->
					<div id="bigtabcont3" class="tab-sightseeing"> 
						<h2 class="hidden">관광관련 메인 내용</h2>
						<div class="inner">
						</div>
					</div>
					<!--// 관광 탭  -->
				</div>
				<!--// 탭 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer>
			<div id="footer">
				<div class="inner">
					<div class="footer-banner">
						배너영역
					</div>
					<div class="zfooter-selectgroup">
						<select name="" id="" title="시/군 홈페이지 선택 새창열림">
							<option value="">시/군 홈페이지</option>
						</select>
						<select name="" id="" title="읍/면/동 홈페이지 선택 새창열림">
							<option value="">읍/면/동 홈페이지</option>
						</select>
						<select name="" id="" title="사업소 홈페이지 선택 새창열림">
							<option value="">사업소 홈페이지</option>
						</select>
						<select name="" id="" title="유관기관 홈페이지 선택 새창열림">
							<option value="">유관기관 홈페이지</option>
						</select>
						<select name="" id="" title="의성군청 패밀리 사이트 선택 새창열림">
							<option value="">의성군청 패밀리 사이트</option>
						</select>
					</div>
					<div class="footer-utilegroup">
						<ul class="footer-utile">
							<li><a href="#"><span>개인정보처리방침</span></a></li>
							<li><a href="#"><span>영상정보처리기기방침</span></a></li>
							<li><a href="#"><span>홈페이지불편/건의사항</span></a></li>
							<li><a href="#"><span>뷰어다운로드</span></a></li>
							<li><a href="#"><span>찾아오시는길</span></a></li>
						</ul>
						<address>
							<ul class="footer-addr">
								<li>(37337)경북상북도 의성군 의성읍 군청길 31(후죽리 509-2)</li>
								<li><strong>대표전화</strong> 1588-1369(민원콜센터)</li>
								<li><strong>팩스</strong> 054)833-0658</li>
							</ul>
						</address>
						<p class="footer-copy">Copyrightⓒ2019 UISEONG-GUN. All Right Reserved</p>
						<p class="footer-txt">본 홈페이지는 게시된 이메일주소 자동수집을 거부하며, 이를 위반시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</p>
					</div>
					<div class="footer-markgroup">
						<p class="footer-qrcode"><img src="" alt="살기좋은 의성군 PR코드"></p>
						<p class="footer-acmark"><img src="" alt="웹접근성 마크"></p>
					</div>
				</div>
			</div>
		</footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// 메인 탭 (소식/민원/관공)
	$('.main-tabcontent').slick({
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		swipe: false,
		arrows: false,
		asNavFor: $(".top-menu .tab-zone")
	});
	$(".top-menu .tab-zone").slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		centerMode: false,
		focusOnSelect: true,
		asNavFor: $(".main-tabcontent")
	});

	// 배너
	$('.js-news-banner > .slider').slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		// autoplay: true,
		autoplay: false,
		autoplaySpeed: 3000,
		cssEase: 'linear',
		customPaging :  function(slick,index) {
			var i = index + 1
         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
      }
	});
	// 자주찾는 메뉴
	$('.js-news-favoritmenu > .slider').slick({
		dots: false,
		infinite: true,
		speed: 400,
		vertical: true,
		slidesToShow: 8,
		slidesToScroll: 1,
		// autoplay: true,
		autoplay: false,
		autoplaySpeed: 1000,
		cssEase: 'linear',
		nextArrow : $('.js-news-favoritmenu .btn-up'),
		prevArrow : $('.js-news-favoritmenu .btn-down')
	});
	// 팝업존
	$(".js-news-popupzone > .slider").slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		// autoplay: true,
		autoplay: false,
		autoplaySpeed: 3000,
		cssEase: 'linear',
		// arrows: true,
		nextArrow : $('.js-news-popupzone .btn-next'),
		prevArrow : $('.js-news-popupzone .btn-prev'),
		customPaging :  function(slick,index) {
			var i = index + 1
         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
      }
	});
</script>
</body>
</html>