<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc">
		<!-- HEADER -->
		<header></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="main">
				<!-- 상단 텍스트 및 탭 메뉴 -->
				<div class="main-top-zone">
					<div class="inner">
						<!-- 좌측 텍스트 -->
						<p class="top-txt">
							<img src="../../static/images/usc/img_maintxt.png" alt="군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!">
						</p>
						<!--// 좌측 텍스트 -->
						<!-- 우측 날씨 및 탭 메뉴 -->
						<div class="top-menu">
							<!-- 날씨 개발 영역 -->
							<div class="weather-zone">
								<p class="today-icon"><img src="../../static/images/usc/icon_weather_sun.png" alt="맑음"></p>
								<!-- D : 날씨 아이콘의 경우 42*42 사이즈로 넣어 줄 것 -->
								<dl class="today-txt">
									<dt class="day">12월 00일(월) :</dt>
									<dd class="detail">
										<ul>
											<li>기온 <span>-3.0℃</span></li>
											<li>미세먼지 <span>보통</span></li>
											<li>강수량 <span>0.0mm</span></li>
										</ul>
										<a href="#" target="_blank" title="새창으로 열림" class="lnk"><span>날씨 자세히 보기</span></a>
									</dd>
								</dl>
							</div>
							<!-- 탭 메뉴 -->
							<div class="tab-zone" aria-label="의성군청 메인 컨텐츠 분류">
								<div class="li"><h2 class="bigtabcont3"><span>관 광</span></h2></div>
								<div class="li"><h2 class="bigtabcont1"><span>소 식</span></h2></div>
								<div class="li"><h2 class="bigtabcont2"><span>민 원</span></h2></div>
							</div>
						</div>
						<!-- //우측 날씨 및 탭 메뉴 -->
					</div>
				</div>
				<!--// 상단 텍스트 및 탭 메뉴 -->

				<!-- 탭 컨텐츠 -->
				<div class="main-tabcontent">
					<!-- 관광 탭  -->
					<div id="bigtabcont3" class="tab-sightseeing"> 
						<h2 class="hidden">관광관련 메인 내용</h2>
						<div class="inner">

							<!-- 관광 - 슬라이드 -->
							<div class="sightseeing-slider">
								<!-- 주 슬라이드 -->
								<div class="bigslider js-bigslider">
									<div class="slide">
										<span class="img"><img src="../../static/images/usc/temp/@main_sightseeing.jpg" alt="자연주의 의성관광 활력넘치는 의성에서 가족&middot;연인과 함께 즐거운 추억을 만들어보세요!"></span>
										<div class="detailzone">
											<dl class="detail-txt">
												<dt>살기좋은 마을, 산수유 꽃피는 마을</dt>
												<dd>
													경북 제일의 의성 사곡면 산수유 마을은 해바다 3월말에서 4월 초가 되면 산수유의 만개가 절정을 이룬다. <br>
													의성군 사곡면 화전리 일대는 산과 논두렁, 도랑둑을 짙은 노랑 물감으로 채색해 놓은 듯한 산수유꽃의 행렬이 10리 넘게 이어진다.
												</dd>
											</dl>
											<a href="#" class="btn-more"><span>자세히 보기</span></a>
										</div>
									</div>

									<div class="slide">
										<span class="img"><img src="../../static/images/usc/temp/@main_sightseeing.jpg" alt="자연주의 의성관광 활력넘치는 의성에서 가족&middot;연인과 함께 즐거운 추억을 만들어보세요!"></span>
										<div class="detailzone">
											<dl class="detail-txt">
												<dt>살기좋은 마을, 산수유 꽃피는 마을</dt>
												<dd>
													경북 제일의 의성 사곡면 산수유 마을은 해바다 3월말에서 4월 초가 되면 산수유의 만개가 절정을 이룬다. <br>
													의성군 사곡면 화전리 일대는 산과 논두렁, 도랑둑을 짙은 노랑 물감으로 채색해 놓은 듯한 산수유꽃의 행렬이 10리 넘게 이어진다.
												</dd>
											</dl>
											<a href="#" class="btn-more"><span>자세히 보기</span></a>
										</div>
									</div>

									<div class="slide">
										<span class="img"><img src="../../static/images/usc/temp/@main_sightseeing.jpg" alt="자연주의 의성관광 활력넘치는 의성에서 가족&middot;연인과 함께 즐거운 추억을 만들어보세요!"></span>
										<div class="detailzone">
											<dl class="detail-txt">
												<dt>살기좋은 마을, 산수유 꽃피는 마을</dt>
												<dd>
													경북 제일의 의성 사곡면 산수유 마을은 해바다 3월말에서 4월 초가 되면 산수유의 만개가 절정을 이룬다. <br>
													의성군 사곡면 화전리 일대는 산과 논두렁, 도랑둑을 짙은 노랑 물감으로 채색해 놓은 듯한 산수유꽃의 행렬이 10리 넘게 이어진다.
												</dd>
											</dl>
											<a href="#" class="btn-more"><span>자세히 보기</span></a>
										</div>
									</div>
								</div>
								<!--// 주 슬라이드 -->
								<!-- 썸네일 슬라이드 -->
								<div class="thumb-slider js-thumb-slider">
									<ul>
										<li class="current"> <button type="button" title="현재 선택된 썸네일"><img src="../../static/images/usc/temp/@main-thumb.png" alt="썸네일 명"></button> </li>
										<li> <button type="button"><img src="../../static/images/usc/temp/@main-thumb.png" alt="썸네일 명"></button> </li>
										<li> <button type="button"><img src="../../static/images/usc/temp/@main-thumb.png" alt="썸네일 명"></button> </li>
									</ul>
								</div>
								<!--// 썸네일 슬라이드 -->
							</div>
							<!--// 관광 - 슬라이드 -->

							<!-- 문화관광 바로가기 메뉴 -->
							<div class="sightseeing-gotolnk">
								<h3 class="tit">문화관광 바로가기 메뉴</h3>
								<div class="gotolnk-zone">
									<ul class="gotolnk">
										<li><a href="#"><span>스토리텔링 여행</span></a></li>									
										<li><a href="#"><span>일정별 코스여행</span></a></li>									
										<li><a href="#"><span>계절별 여행</span></a></li>									
										<li><a href="#"><span>축제 &middot; 체험</span></a></li>									
										<li><a href="#"><span>포토갤러리</span></a></li>									
										<li><a href="#"><span>문화관광해설사</span></a></li>									
										<li><a href="#"><span>관광안내지도신청</span></a></li>									
										<li><a href="#"><span>의성 문화재 현황</span></a></li>									
									</ul>
								</div>
							</div>
							<!--// 문화관광 바로가기 메뉴 -->
							
							<!-- 알려드립니다. -->
							<div class="sightseeing-attention">
								<h3 class="tit">관광의성 <br>알려드립니다.</h3>
								<div class="attention-menu-zone">
									<ul class="attention-menu">
										<li><a href="#" target="_blank" title="새창으로 열림"><span>맛집</span></a></li>
										<li><a href="#" target="_blank" title="새창으로 열림"><span>숙박</span></a></li>
										<li><a href="#" target="_blank" title="새창으로 열림"><span>특산물</span></a></li>
										<li><a href="#" target="_blank" title="새창으로 열림"><span>박물관</span></a></li>
										<li><a href="#" target="_blank" title="새창으로 열림"><span>조문국</span></a></li>
									</ul>
								</div>
							</div>
							<!--// 알려드립니다. -->
						</div>
					</div>
					<!--// 관광 탭  -->

					<!-- 소식 탭  -->
					<div id="bigtabcont1" class="tab-news">
						<h2 class="hidden">소식관련 메인 내용</h2>
						<div class="inner">
							<div class="l-left">
								<!-- 배너슬라이드 -->
								<div class="news-banner js-news-banner">
									<div class="slider">
										<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainbanner1.png" alt="배너명"></a></div>
										<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainbanner1.png" alt="배너명"></a></div>
										<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainbanner1.png" alt="배너명"></a></div>
									</div>
									<button type="button" onclick="usc.slickPause('.js-news-banner > .slider', this)" class="btn-slickPause"><span>Pause</span></button>
								</div>
								<!-- //배너슬라이드 -->
								<!-- 게시판 -->
								<div class="news-board">
									<ul class="board-tabmenu" role="tablist">
										<li role="presentation"><a href="#bdtabcont1" role="tab" aria-controls="bdtabcont1" aria-selected="true"><span>공지사항</span></a></li>
										<li role="presentation"><a href="#bdtabcont2" role="tab" aria-controls="bdtabcont2"><span>고시공고</span></a></li>
										<li role="presentation"><a href="#bdtabcont3" role="tab" aria-controls="bdtabcont3"><span>입법예고</span></a></li>
										<li role="presentation"><a href="#bdtabcont4" role="tab" aria-controls="bdtabcont4"><span>입찰공고</span></a></li>
									</ul>
									<div class="boardtab-content">
										<!-- 공지사항 -->
										<div id="bdtabcont1" role="tabpanel" style="display: block;">
											<h3 class="hidden">공지사항</h3>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<a href="#">
													<p class="todays">
														<span class="year">2019</span>
														<span class="day">12.25</span>
													</p>
													<dl class="today-cont">
														<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
														<dd>
															매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
															경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
														</dd>
													</dl>
												</a>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>공지사항 더보기</span></a></p>
										</div>
										<!-- 고시공고 -->
										<div id="bdtabcont2" role="tabpanel">
											<h3 class="hidden">고시공고</h3>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<p class="todays">
													<span class="year">2019</span>
													<span class="day">12.25</span>
												</p>
												<dl class="today-cont">
													<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
													<dd>
														매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
														경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
													</dd>
												</dl>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>고시공고 더보기</span></a></p>
										</div>
										<!-- 입법예고 -->
										<div id="bdtabcont3" role="tabpanel">
											<h3 class="hidden">입법예고</h3>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<p class="todays">
													<span class="year">2019</span>
													<span class="day">12.25</span>
												</p>
												<dl class="today-cont">
													<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
													<dd>
														매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
														경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
													</dd>
												</dl>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>입법예고 더보기</span></a></p>
										</div>
										<!-- 입찰공고 -->
										<div id="bdtabcont4" role="tabpanel">
											<h3 class="hidden">입찰공고</h3>
											<!-- 중요 게시글  -->
											<div class="board-important">
												<p class="todays">
													<span class="year">2019</span>
													<span class="day">12.25</span>
												</p>
												<dl class="today-cont">
													<dt class="tit">임대농기계 불용물품 [온비드] 입찰 재공고 안내</dt>
													<dd>
														매각대상 물품 내역, 자격 : 의성군 거주 농업인,매각방법 : 온비드 제한
														경쟁입찰 공고일 : 2018년 12월 26일 (수요일) 입찰기간 : 2019. 1. 7
													</dd>
												</dl>
											</div>
											<!--// 중요 게시글  -->
											<!-- 그외 게시글 : 최대 4개까지 -->
											<ul class="board-lst">
												<li>
													<a href="#">
														<span class="new">N</span>
														<span class="cont">2019년도 경상북도 중소기업육성자금 지원계획 공고</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 의성향토인재양성원 수강생 선발시험 합격자 명단</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">2019년 1월 군민 정보화교육 수강생 모집</span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="cont">[군립도서관(안계면)] 문화강좌 회원 모집 </span>
														<span class="date">0000-00-00</span>
													</a>
												</li>
											</ul>
											<!--// 그외 게시글 : 최대 4개까지 -->
											<p class="btn-more"><a href="#"><span>입찰공고 더보기</span></a></p>
										</div>
									</div>
								</div>
								<!-- //게시판 -->
							</div> 

							<div class="l-right">
								<!-- 군수메뉴, 통합예약시스템, 팝업존 -->
								<div class="menugroup">
									<!-- 군수관련 메뉴 -->
									<div class="news-leadermenu">
										<p class="txt">안녕하세요! 의성군수 김주수입니다. </p>
										<ul class="menu">
											<li><a href="#" class="icon-openleader"><span>열린군수실</span></a></li>
											<li><a href="#" class="icon-current"><span>공약추진현황</span></a></li>
											<li><a href="#" class="icon-talk"><span>군수와의 대화</span></a></li>
										</ul>
									</div>
									<!-- //군수관련 메뉴 -->
									
									<!-- 통합예약시스템 -->
									<div class="news-bookingsys">
										<a href="#" target="_blank" title="새창으로 열림">
											<h3 class="tit">통합예약시스템</h3>
											<p class="txt">모든 온라인예약을 ‘의성통합예약시스템’으로 <br>쉽고 편리하게 예약하세요!</p>
										</a>
									</div>
									<!--// 통합예약시스템 -->

									<!-- 팝업존 -->
									<div class="news-popupzone js-news-popupzone">
										<div class="popupzone-titlezone">
											<h3 class="tit">팝업존</h3>
											<p class="hotnews">HOT NEWS</p>
											<p class="desc">이미지를 클릭하시면, 해당정보로 이동합니다.</p>
											<div class="indicator" aria-label="팝업존 슬라이드 제어 메뉴">
												<p><button class="btn-prev" type="button"><span>슬라이드 이전으로 이동</span></button></p>	
												<p><button class="btn-next" type="button"><span>슬라이드 다음으로 이동</span></button></p>	
												<p><button class="btn-pause" type="button" onclick="usc.slickPause('.js-news-banner > .slider', this)" ><span>슬라이드 일시정지 및 재생</span></button></p>	
											</div>
										</div>
										<div class="slider" aria-label="팝업존 슬라이드">
											<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainpopup.png" alt="배너명"></a></div>
											<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainpopup.png" alt="배너명"></a></div>
											<div class="slide"><a href="#"><img src="../../static/images/usc/temp/@mainpopup.png" alt="배너명"></a></div>
										</div>
									</div>
									<!-- //팝업존 -->
								</div>
								<!--// 군수메뉴, 통합예약시스템, 팝업존 -->
								<!-- 자주찾는 메뉴 -->
								<div class="news-favoritmenu">
									<h3 class="tit">자주찾는 메뉴</h3>
									<div class="news-favoritmenu js-news-favoritmenu">
										<div class="slide-indicator" aria-label="자주찾는 메뉴 슬라이드 제어 메뉴">
											<p><button type="button" class="btn-up"><span>자주찾는 메뉴 위로 이동</span></button></p>
											<p><button type="button" onclick="usc.slickPause('.js-news-favoritmenu > .slider', this)" class="btn-pause"><span>자주찾는 메뉴 일시정지 및 재생</span></button></p>
											<p><button type="button" class="btn-down"><span>자주찾는 메뉴 아래로 이동</span></button></p>
										</div>
										<div class="slider" aria-label="자주찾는 메뉴 슬라이드">
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit1"><span>행정조직도</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit2"><span>행정전화번호</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit3"><span>청사안내</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit4"><span>찾아오시는 길</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit5"><span>문화관광</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit6"><span>의성보건소</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit7"><span>민원24</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit8"><span>국민신문고</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit9"><span>위택스</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit10"><span>홈택스</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit11"><span>귀농귀촌</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit12"><span>마늘박물관</span></a></div>
											<div class="slide"><a href="#" target="_blank" title="새창으로 열림" class="icon-favorit13"><span>안계도서관</span></a></div>
										</div>
									</div>
								</div>
								<!-- //자주찾는 메뉴 -->
							</div>
						</div>
					</div>
					<!--// 소식 탭  -->

					<!-- 민원 탭  -->
					<div id="bigtabcont2" class="tab-complaint"> 
						<h2 class="hidden">민원관련 메인 내용</h2>
						<div class="inner">
							<div class="l-left">
								<!-- 민원관련 메뉴 -->
								<div class="complaint-menu">
									<!-- 탭메뉴 -->
									<ul class="tab" role="tablist">
										<li role="presentation"><a href="#complainttab1" role="tab" aria-controls="complainttab1" aria-selected="true"><span><em>의성군민</em>의성군민들이 자주찾는 서비스</span></a></li>
										<li role="presentation"><a href="#complainttab2" role="tab" aria-controls="complainttab2" ><span><em>사업자</em>사업자를 위한 관련 서비스</span></a></li>
										<li role="presentation"><a href="#complainttab3" role="tab" aria-controls="complainttab3" ><span><em>관광객</em>관광객을 위한 편리한 서비스</span></a></li>
									</ul>
									<!--// 탭메뉴 -->
									<!-- 탭관련 메뉴 컨텐츠 -->
									<div class="complaint-tab-contents">
										<!-- 의성군민들이 자주찾는 서비스 -->
										<div id="complainttab1" role="tabpanel" style="display: block;">
											<h3 class="hidden">의성군민들이 자주찾는 서비스</h3>
											<ul class="lst-menu">
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-1.png" alt=""></span>
														<span class="name">구인/구직</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-2.png" alt=""></span>														
														<span class="name">여권발급</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-3.png" alt=""></span>														
														<span class="name">운전면허발급</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-4.png" alt=""></span>														
														<span class="name">삽니다/팝니다</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-5.png" alt=""></span>														
														<span class="name">환경폐기물</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-6.png" alt=""></span>														
														<span class="name">도로명주소</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-7.png" alt=""></span>														
														<span class="name">상하수도요금</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu1-8.png" alt=""></span>														
														<span class="name">지진대피소</span>
													</a>
												</li>
											</ul>
										</div>
										<!-- 사업자를 위한 관련 서비스 -->
										<div id="complainttab2" role="tabpanel">
											<h3 class="hidden">사업자를 위한 관련 서비스</h3>
											<ul class="lst-menu">
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-1.png" alt=""></span>
														<span class="name">계약정보시스템</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-2.png" alt=""></span>														
														<span class="name">옥외광고물</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-3.png" alt=""></span>														
														<span class="name">분양정보</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-4.png" alt=""></span>														
														<span class="name">개별공시지가열람</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-5.png" alt=""></span>														
														<span class="name">공장설립</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-6.png" alt=""></span>														
														<span class="name">월간경기동향</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-7.png" alt=""></span>														
														<span class="name">입찰공고</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu2-8.png" alt=""></span>														
														<span class="name">농수산물유통정보</span>
													</a>
												</li>
											</ul>
										</div>
										<!-- 관광객을 위한 편리한 서비스 -->
										<div id="complainttab3" role="tabpanel">
											<h3 class="hidden">관광객을 위한 편리한 서비스</h3>
											<ul class="lst-menu">
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-1.png" alt=""></span>
														<span class="name">문화행사/축제</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-2.png" alt=""></span>														
														<span class="name">숙박업소</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-3.png" alt=""></span>														
														<span class="name">음식업소</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-4.png" alt=""></span>														
														<span class="name">문화관광해설사</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-5.png" alt=""></span>														
														<span class="name">관광지도신청</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-6.png" alt=""></span>														
														<span class="name">의성농특산물</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-7.png" alt=""></span>														
														<span class="name">버스시간표</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="icon"><img src="../../static/images/usc/icon_complaint_menu3-8.png" alt=""></span>														
														<span class="name">의성사랑상품권</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<!--// 탭관련 메뉴 컨텐츠 -->
								</div>
								<!--// 민원관련 메뉴 -->
								<!-- 민원서비스, 정보화마을, 연령별 복지정보 -->
								<div class="complaint-bottom">
									<!-- 민원서비스 -->
									<div class="complaint-service">
										<h3 class="tit">언제나 신속한 의성민원서비스</h3>
										<div class="notice-number">
											<p class="number">1588 - 1369</p>
											<p class="txt">우리군청과 관련된 각종 궁금증을 한번에 <br>빠르고 정확하게 해결해 드리는 <br>군민의 도우미!!</p>
										</div>
										<ul class="notice-service">
											<li>무인민원발급기</li>
											<li>110정부민원안내콜센터</li>
											<li>어디서나민원처리(팩스민원)</li>
											<li>온라인민원상담</li>
											<li>지적&middot;건축현장민원처리</li>
											<li>민원수수료 안내</li>
											<li>민원1회방문처리</li>
										</ul>
									</div>
									<!-- 정보화마을 -->
									<div class="complaint-invil">
										<h3 class="tit">친구, 자녀, 가족과 함께 다녀보는 <strong>의성군 정보화마을</strong></h3>
										<p class="invil"><img src="../../static/images/usc/img_invillogo.png" alt="행정안전부 지정 정보화 마을 www.invil.org"></p>
										<ul class="lnk-group">
											<li><a href="#" target="_blank" title="새창으로 열림"1><span>의성 모흥 황토마을 <em>GO</em></span></a></li>
											<li><a href="#" target="_blank" title="새창으로 열림"1><span>의성 토종 마늘마을 <em>GO</em></span></a></li>
											<li><a href="#" target="_blank" title="새창으로 열림"1><span>의성 안평 자두마을 <em>GO</em></span></a></li>
											<li><a href="#" target="_blank" title="새창으로 열림"1><span>의성 청학마을 <em>GO</em></span></a></li>
										</ul>
									</div>
									<!-- 복지 -->
									<div class="complaint-welfare">
										<h3 class="tit">연령별 복지정보</h3>
										<div class="welfare-slider js-welfare-slider">

											<div class="slide">
												<a href="#">
													<span class="img"><img src="../../static/images/usc/img_welfare1.png" alt=""></span>
													<span class="name">여성복지</span>
												</a>
											</div>

											<div class="slide">
												<a href="#">
													<span class="img"><img src="../../static/images/usc/img_welfare2.png" alt=""></span>
													<span class="name">장애인복지</span>
												</a>
											</div>

											<div class="slide">
												<a href="#">
													<span class="img"><img src="../../static/images/usc/img_welfare3.png" alt=""></span>
													<span class="name">노인복지</span>
												</a>
											</div>

											<div class="slide">
												<a href="#">
													<span class="img"><img src="../../static/images/usc/img_welfare4.png" alt=""></span>
													<span class="name">청소년복지</span>
												</a>
											</div>

											<div class="slide">
												<a href="#">
													<span class="img"><img src="../../static/images/usc/img_welfare5.png" alt=""></span>
													<span class="name">아동복지</span>
												</a>
											</div>

										</div>
									</div>
								</div>
								<!--// 민원서비스, 정보화마을, 연령별 복지정보 -->
							</div>
							<div class="l-right">
								<!-- 의성 sns -->
								<div class="complaint-sns">
									<h3 class="tit">의성군과 소통하는 SNS</h3>
									<ul class="tab-sns">
										<li><button type="button" class="icon_all"><span>전체</span></button></li>
										<li><button type="button" class="icon_facebook"><span>페이스북</span></button></li>
										<li><button type="button" class="icon_twitter"><span>트위터</span></button></li>
										<li><button type="button" class="icon_blog"><span>블로그</span></button></li>
										<li><button type="button" class="icon_kakao"><span>카카오스토리</span></button></li>
										<li><button type="button" class="icon_instar"><span>인스타그램</span></button></li>
									</ul>
									<div class="lst-sns-zone">
										<ul class="lst-sns">
											<!-- D : 최대 10개까지 노출 -->
											<li class="facebook"><!-- sns마다 클래스 변경 (facebook, instar,blog,twitter,kakao) -->
												<span class="sns"><img src="../../static/images/common/icon_sns_facebook.png" alt="페이스북"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>

											<li class="instar">
												<span class="sns"><img src="../../static/images/common/icon_sns_instar.png" alt="인스타그램"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>

											<li class="kakao">
												<span class="sns"><img src="../../static/images/common/icon_sns_kakao.png" alt="카카오스토리"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>

											<li class="twitter">
												<span class="sns"><img src="../../static/images/common/icon_sns_twitter.png" alt="트위터"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>

											<li class="twitter">
												<span class="sns"><img src="../../static/images/common/icon_sns_twitter.png" alt="트위터"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>

											<li class="twitter">
												<span class="sns"><img src="../../static/images/common/icon_sns_twitter.png" alt="트위터"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>

											<li class="blog">
												<span class="sns"><img src="../../static/images/common/icon_sns_blog.png" alt="블로그"></span>
												<div class="thumb">
													<img src="../../static/images/usc/temp/@mainsns.png" alt="썸네일명">
												</div>
												<div class="cont">유명한 농업CEO? 성공한 자두농부? 꿈 많은 의성 농부, 의성농업대학이 도와Dream! 의성농업대학에 입학하고 싶다면~ </div>
												<div class="btn"> <a class="btn-txt_more" href="#"><span>더보기</span></a> </div>
											</li>
										</ul>
									</div>
								</div>
								<!--// 의성 sns -->
							</div>
						</div>
					</div>
					<!--// 민원 탭  -->
				</div>
				<!--// 탭 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script>
	// 소식 - 배너
	$('.js-news-banner > .slider').slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		// autoplay: true,
		autoplay: false,
		autoplaySpeed: 3000,
		customPaging :  function(slick,index) {
			var i = index + 1
         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
      }
	});
	// 소식 - 자주찾는 메뉴
	$('.js-news-favoritmenu > .slider').slick({
		dots: false,
		infinite: true,
		speed: 400,
		vertical: true,
		slidesToShow: 8,
		slidesToScroll: 1,
		// autoplay: true,
		autoplay: false,
		autoplaySpeed: 1000,
		nextArrow : $('.js-news-favoritmenu .btn-up'),
		prevArrow : $('.js-news-favoritmenu .btn-down')
	});
	// 소식 - 팝업존
	$(".js-news-popupzone > .slider").slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		// arrows: true,
		// autoplay: true,
		autoplay: false,
		autoplaySpeed: 3000,
		nextArrow : $('.js-news-popupzone .btn-next'),
		prevArrow : $('.js-news-popupzone .btn-prev'),
		customPaging :  function(slick,index) {
			var i = index + 1
         return '<em class="current">' + i + '</em><span class="division">/</span>' + slick.slideCount;
      }
	});


	// 민원 - sns iscroll
	var myScroll1 = new IScroll('.complaint-sns .lst-sns-zone', { 
		scrollX: false, 
		scrollY: true, 
		mouseWheel: true,
		scrollbars: true,
		interactiveScrollbars: true,
		fadeScrollbars: true
	});
	// 민원 - 연령별 복지정보
	$(".js-welfare-slider").slick({
		dots: true,
		infinite: true,
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		// arrows: true,
		// autoplay: true,
		// autoplaySpeed: 3000,
		arrows:false
	});


	// 관광 - 슬라이드
	$(".sightseeing-slider .js-bigslider").slick({
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		swipe: false
	});
	// 관광 - 메뉴
	// $('.sightseeing-gotolnk .gotolnk');
	


	// 메인 탭 (소식/민원/관공)
	$('.main-tabcontent').slick({
		speed: 400,
		ltr: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		swipe: false,
		arrows: false,
		asNavFor: $(".top-menu .tab-zone")
	});
	$(".top-menu .tab-zone").slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		centerMode: false,
		focusOnSelect: true,
		asNavFor: $(".main-tabcontent")
	});
</script>
</body>
</html>