<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>노인복지시설 &lt; 노인복지 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="elder"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li> 
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>행정정보</span></a></h2>
									<div class="smallmenu" style="display:block;">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">노인복지</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab"><span>노인장기요양보험제도</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content" aria-selected="true"><span>노인복지시설</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>치매/노인실명예방관리</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>노인일자리사업</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>노인돌봄서비스사업</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>기초노령연금</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>치매치료비지원</span></a></li>
								</ul>

								<div id="tab-content" role="tabpanel">
									<h3 class="heading-h3">노인주거 &middot; 의료복지시설</h3>
									<h4 class="heading-h4 ml20">노인 주거 및 의료복지시설 종류</h4>
									<div class="ml40">
										<table class="comp-tbl_datatype">
											<caption>노인 주거 및 의료복지시설 종류 - 노인주거복지시설, 노인의료복지시설</caption>
											<colgroup>
												<col span="2">
											</colgroup>
											<thead>
												<tr>
													<th scope="col">노인주거복지시설</th>
													<th scope="col">노인의료복지시설</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>양로시설</td>
													<td>노인요양시설</td>
												</tr>
												<tr>
													<td>노인공동생활가정</td>
													<td>노인요양공동생활가정</td>
												</tr>
												<tr>
													<td>노인복지주택</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<h4 class="heading-h4 ml20">노인주거복지시설</h4>
									<h5 class="comp-lst_dotted ml40">입소대상</h5>
									<ul class="comp-lst_hyphen ml40">
										<li>양로시설 &middot; 노인공동생활가정
											<ul class="comp-lst_hyphen_txt">
												<li>「국민기초생활보장법」 제2조에 따른 수급권자(이하"기초수급권자"라 한다)로서 65세 이상의 자</li>
												<li>부양의무자로부터 적절한 부양을 받지 못하는 65세 이상의 자</li>
												<li>본인 및 본인과 생계를 같이 하고 있는 부양의무자의 월소득 합산한 금액을 가구원수로 나누어 얻은 1인당 월평균 소득이 통계청장이 「통계법」 제17조제3항에 따라 고시하는 전년도(본인 등에 대한 소득조사일이 속하는 해의 전년도를 말한다)의 도시근로자 가구 월평균 소득을 전년도의 평균 가구원수로 나누어 얻은 1인당 월평균 소득액이하인 자로서 65세 이상의 자(이하 "실비입소대상자"라 한다)</li>
												<li>입소자로부터 입소비용의 전부를 수납하여 운영하는 양로시설 또는 노인공동생활가정의 경우는 60세 이상의 자</li>
											</ul>
										</li>
									</ul>
									<h5 class="comp-lst_dotted ml40">입소절차</h5>
									<ul class="comp-lst_hyphen ml40">
										<li>무료 입소대상자
											<ul class="comp-lst_hyphen_txt">
												<li>해당 시 &middot; 군 &middot; 구에 입소신청(입소신청사유서 및 관련 증빙자료 첨부, 신청접수는 읍&middot;면&middot;동사무소에서 접수 가능) → 입소여부와 입소시설 결정 → 시 &middot; 군 &middot; 구는 신청인 및 당해 시설장에게 통보
													<p class="comp-lst_important">노인보호전문기관에서 학대피해노인으로서 입소를 의뢰한 노인은 선입소조치 후, 10일 이내 증빙서류(건강진단서, 학대사례판정서 등) 제출토록 함</p>
												</li>
											</ul>
										</li>
										<li>실비 입소대상자
											<ul class="comp-lst_hyphen_txt">
												<li>시설장과 입소신청자 협의 → 관할 시 &middot; 군 &middot; 구에 입소심사 의뢰(관할 시군구는 당해 시설 설치시 신고를 수리한 시군구)<br>→ 관할 시&middot;군&middot;구는 심사결과 시설장에 통보 → 당사자간 계약에 의거 시설 입소</li>
											</ul>
										</li>
										<li>유료 입소대상자 : 시설장과 입소자 협의 → 당사자간의 계약 → 입소</li>
									</ul>
									<h4 class="heading-h4 ml20">노인의료복지시설</h4>
									<h5 class="comp-lst_dotted ml40">입소대상</h5>
									<ul class="comp-lst_hyphen ml40">
										<li>노인요양시설&middot;노인요양공동생활가정&middot;소규모요양시설(입소시설)
											<ul class="comp-lst_hyphen_txt">
												<li>장기요양급여수급자 중 시설급여 대상자 : 장기요양 1∼2등급 및 3(시설+재가)등급자 </li>
												<li>부양의무자로부터 적절한 부양을 받지 못하는 65세 이상의 자
													<p class="comp-lst_important">피학대 노인이나 긴급조치 대상자 등 시장&middot;군수&middot;구청장이 시설보호가 필요하다고 인정하는 경우 입소 가능</p>
												</li>
												<li>입소자로부터 입소비용의 전부를 수납하여 운영하는 시설의 경우는 60세 이상의 자</li>
											</ul>
										</li>
									</ul>
									<h5 class="comp-lst_dotted ml40">입소절차</h5>
									<ul class="comp-lst_hyphen ml40">
										<li>장기요양급여수급자 중 시설급여 대상자
											<ul class="comp-lst_hyphen_txt">
												<li>장기요양인정신청(공단 지사) → 방문조사 → 등급판정위원회 → 장기요양인정서 수령 → 아래 입소 절차에 따라 입소</li>
											</ul>
										</li>
										<li>기초생활수급자 및 의료급여수급자
											<ul class="comp-lst_hyphen_txt">
												<li><span class="cont">주소지를 관할하는 특별자치도지사&middot;시장&middot;군수&middot;구청장에게 입소신청서 제출 → 입소여부 및 입소시설 결정 → 신청인 및 당해시설에 통지</span></li>
											</ul>
										</li>
									</ul>
									<div class="scrollzone">
										<div class="scrollzoneinner">
											<div class="comp-step-area">
												<ul>
													<li>
														<ol>
															<li>
																<p class="tit"><span class="inner">대상자유형</span></p>
																<div class="cont">
																	<ul>
																		<li>1.기초생활수급노인</li>
																		<li>2.기타 의료급여수급자</li>
																	</ul>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">시ㆍ군ㆍ구<br>(읍변동 대리접수)</span></p>
																<div class="cont">
																	<p>입소신청<br>(장기요양 인증서 첨부)</p>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">시ㆍ군ㆍ구</span></p>
																<div class="cont">
																	<p>장기요양기관 입소의뢰<br>(공단,본인통보)</p>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">장기요양기관</span></p>
																<div class="cont">
																	<p>입소대상자 확인 후<br>수급자와 급여제공계약서 <br>작성</p>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">장기요양기관</span></p>
																<div class="cont">
																	<p>장기요양급여 <br>계약내역서 공단통보</p>
																</div>
															</li>
														</ol>
													</li>
													<li><div class="cont">3. 일반노인</div></li>
													<li class="round"><span class="inner">서비스실시</span></li>
												</ul>
											</div>
										</div>
									</div>
									<h3 class="heading-h3">재가노인복지시설</h3>
									<h4 class="heading-h4 ml20">소개</h4>
									<h5 class="comp-lst_dotted ml40"><span class="cont">방문요양서비스, 주&middot;야간보호서비스, 단기보호서비스, 방문목욕서비스, 재가노인지원서비스 중 하나 이상의 서비스를 제공하는 시설</span></h5>
									<div class="ml20">
										<table class="comp-tbl_datatype">
											<caption>재가노인복지시설 소개 - 방문요양서비스, 주&middot;야간보호서비스, 단기보호서비스, 방문목욕서비스, 재가노인지원서비스</caption>
											<colgroup>
												<col style="width:30%">
												<col style="width:70%">
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">방문요양서비스</th>
													<td class="al-l">가정에서 일상생활을 영위하고 있는 노인으로서 신체적&middot;정신적 장애로 어려움을 겪고 있는 노인에게 필요한 각종 서비스 제공</td>
												</tr>
												<tr>
													<th scope="row">주&middot;야간보호서비스</th>
													<td class="al-l">부득이한 사유로 가족의 보호를 받을 수 없는 심신이 허약한 노인과 장애노인을 주간 또는 야간동안 시설에서 보호</td>
												</tr>
												<tr>
													<th scope="row">단기보호서비스</th>
													<td class="al-l">부득이한 사유로 가족의 보호를 받을 수 없어 일시적으로 보호가 필요한 심신이 허약한 노인과 장애노인을 시설에 단기간 입소시켜 보호</td>
												</tr>
												<tr>
													<th scope="row">방문목욕서비스</th>
													<td class="al-l">목욕장비를 갖추고 재가노인을 방문하여 목욕을 제공하는 서비스</td>
												</tr>
												<tr>
													<th scope="row">재가노인지원서비스</th>
													<td class="al-l">
														재가노인에게 노인생활 및 신상에 관한 상담 제공, 재가노인 및 가족 등 보호자 교육, 각종 편의 등을 제공하는 서비스
														<p class="comp-lst_important">방문요양서비스, 주&middot;야간보호서비스, 단기보호서비스 방문목욕서비스 이외의 서비스 제공</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<h4 class="heading-h4 ml20">이용대상</h4>
									<ul class="comp-lst_dotted ml40">
										<li><span class="cont">장기요양급여수급자</span></li>
										<li><span class="cont">심신이 허약하거나 장애가 있는 65세 이상의 자(이용자로부터 이용비용의 전부를 수납받아 운영하는 시설의 경우에는 60세 이상의 자)로서 다음에 해당하는 노인</span>
											<ul class="comp-lst_hyphen">
												<li><span class="cont">방문요양서비스 : 1일 중 일정시간 동안 가정에서의 보호가 필요한 자</span></li>
												<li><span class="cont">주&middot;야간보호서비스 : 주간 또는 야간 동안의 보호가 필요한 자</span></li>
												<li><span class="cont">단기보호서비스 : 월 1일 이상 15일 이하 단기간의 보호가 필요한 자</span></li>
												<li><span class="cont">방문 목욕서비스 : 가정에서의 목욕이 필요한 자</span></li>
												<li><span class="cont">재가노인지원서비스 : ①부터 ④까지의 서비스 이외의 서비스로서 상담&middot;교육 및 각종 지원 서비스가 필요한 자</span></li>
											</ul>
										</li>
									</ul>
									<h4 class="heading-h4 ml20">이용절차</h4>
									<ul class="comp-lst_dotted ml40">
										<li><span class="cont">장기요양급여수급자 중 재가급여 대상자가 장기요양기관으로 지정받은 재가노인복지시설(재가노인지원서비스 제외)이용시 </span></li>
										<li><span class="cont">장기요양인정신청(공단 지사) → 방문조사 → 등급판정위원회 → 장기요양인정서 수령 → 아래 입소 절차에 따라 입소</span></li>
										<li><span class="cont">기초생활수급자 및 의료급여수급자  </span>
											<p class="comp-lst_hyphen"><span class="cont">주소지를 관할하는 특별자치도지사&middot;시장 &middot; 군수 &middot; 구청장에게 이용신청(신청접수는 읍&middot;면&middot;동 주민자치센터에서 대리 접수 가능)<br>→ 시&middot;군&middot;구 입소여부 및 입소시설 결정 → 신청인 및 당해시설에 통지</span></p>
										</li>
									</ul>
									<div class="scrollzone">
										<div class="scrollzoneinner">
											<div class="comp-step-area">
												<ul>
													<li>
														<ol>
															<li>
																<p class="tit"><span class="inner">대상자유형</span></p>
																<div class="cont">
																	<ul>
																		<li>1.기초생활수급노인</li>
																		<li>2.기타 의료급여수급자</li>
																	</ul>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">시ㆍ군ㆍ구<br>(읍변동 대리접수)</span></p>
																<div class="cont">
																	<p>입소신청<br>(장기요양 인증서 첨부)</p>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">시ㆍ군ㆍ구</span></p>
																<div class="cont">
																	<p>장기요양기관 입소의뢰<br>(공단,본인통보)</p>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">장기요양기관</span></p>
																<div class="cont">
																	<p>입소대상자 확인 후<br>수급자와 급여제공계약서 <br>작성</p>
																</div>
															</li>
															<li>
																<p class="tit"><span class="inner">장기요양기관</span></p>
																<div class="cont">
																	<p>장기요양급여 <br>계약내역서 공단통보</p>
																</div>
															</li>
														</ol>
													</li>
													<li><div class="cont">3. 일반노인</div></li>
													<li class="round"><span class="inner">서비스실시</span></li>
												</ul>
											</div>
										</div>
									</div>
									<p class="comp-lst_important point2 ml20">장기요양기관에서는 반드시 기초생활수급노인이나 기타 의료급여수급권자에 대한 입소의뢰서를 확인한 후 수급자와 계약을 체결하여야 함</p>
									<h3 class="heading-h3">노인여가복지시설현황</h3>
									<table class="comp-tbl_datatype">
										<caption>노인여가복지시설현황 - 구분, 설치일자, 입용정원, 소재지, 연락처</caption>
										<colgroup>
											<col style="width:18%">
											<col style="width:15%">
											<col style="width:15%">
											<col style="width:*">
											<col style="width:15%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">설치일자</th>
												<th scope="col">입용정원</th>
												<th scope="col">소재지</th>
												<th scope="col">연락처</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>의성군노인복지관</td>
												<td>2002. 06. 17</td>
												<td>120명</td>
												<td class="al-l">경북 의성군 의성읍 동산2길 36</td>
												<td>054-833-6006 </td>
											</tr>
											<tr>
												<td>의성군노인복지관 분관</td>
												<td>2006. 11. 03</td>
												<td>80명</td>
												<td class="al-l">경북 의성군 안계면 용기5길 42 </td>
												<td>054-861-1377</td>
											</tr>
											<tr>
												<td>금성노인복지관</td>
												<td>2010. 08. 02</td>
												<td>120명</td>
												<td class="al-l">경북 의성군 금성면 동부로 2404</td>
												<td>054-832-3400</td>
											</tr>
										</tbody>
									</table>
									<h3 class="heading-h3">노인의료복지시설현황</h3>
									<table class="comp-tbl_datatype">
										<caption>노인의료복지시설현황 - 구분, 설치일자, 입용정원, 소재지, 연락처</caption>
										<colgroup>
											<col style="width:18%">
											<col style="width:15%">
											<col style="width:15%">
											<col style="width:*">
											<col style="width:15%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">설치일자</th>
												<th scope="col">입용정원</th>
												<th scope="col">소재지</th>
												<th scope="col">연락처</th>
											</tr>
										</thead>
										<tbody>
										<tbody>
											<tr>
												<td>고운사요양원</td>
												<td>2006. 12. 29</td>
												<td>정원(28), 현원(24)</td>
												<td class="al-l">경북 의성군 단촌면 고운사길 331</td>
												<td>054-833-1254</td>
											</tr>
											<tr>
												<td>금성카리타스요양원</td>
												<td>2010. 02. 25</td>
												<td>정원(36), 현원(36)</td>
												<td class="al-l">경북 의성군 금성면 동부로 2404</td>
												<td>054-832-6400</td>
											</tr>
											<tr>
												<td>기쁨의집</td>
												<td>2005. 12. 12</td>
												<td>정원(29), 현원(28)</td>
												<td class="al-l">경북 의성군 의성읍 북원3길 51-13</td>
												<td>054-834-2337</td>
											</tr>
											<tr>
												<td>도리원</td>
												<td>2007. 09. 05</td>
												<td>정원(22), 현원(16)</td>
												<td class="al-l">경북 의성군 봉양면 도리원2길 39</td>
												<td>054-833-2236</td>
											</tr>
											<tr>
												<td>봉양햇빛마을</td>
												<td>2011. 12. 01</td>
												<td>정원(57), 현원(41)</td>
												<td class="al-l">경북 의성군 봉양면 봉기길 54-9</td>
												<td>054-834-8341</td>
											</tr>
											<tr>
												<td>사랑의집</td>
												<td>2015. 06. 26</td>
												<td>정원(21), 현원(21)</td>
												<td class="al-l">경북 의성군 봉양면 덕은길 65-16</td>
												<td>054-833-2346</td>
											</tr>
											<tr>
												<td>산동복지타운</td>
												<td>2009. 12. 29</td>
												<td>정원(62), 현원(34)</td>
												<td class="al-l">경북 의성군 금성면 금성산길 100</td>
												<td>054-834-5762</td>
											</tr>
											<tr>
												<td>성심요양원</td>
												<td>2010. 12. 30</td>
												<td>정원(25), 현원(22)</td>
												<td class="al-l">경북 의성군 금성면 탑리길 8-2</td>
												<td>054-832-8278</td>
											</tr>
											<tr>
												<td>안사공동체</td>
												<td>2006. 12. 29</td>
												<td>정원(48), 현원(47)</td>
												<td class="al-l">경북 의성군 안사3길 5</td>
												<td>054-862-1421</td>
											</tr>
											<tr>
												<td>의성시온요양원</td>
												<td>2009. 09. 02</td>
												<td>정원(29), 현원(29)</td>
												<td class="al-l">경북 의성군 안평면 신안길 37</td>
												<td>054-832-6886</td>
											</tr>
											<tr>
												<td>제남호스텔</td>
												<td>2009. 01. 15</td>
												<td>정원(50), 현원(24)</td>
												<td class="al-l">경북 의성군 봉양면 도리원2길 37</td>
												<td>054-833-2236</td>
											</tr>
											<tr>
												<td>참사랑효마을요양원</td>
												<td>2009. 11. 26</td>
												<td>정원(39), 현원(37)</td>
												<td class="al-l">경북 의성군 안계면 용기4길 43</td>
												<td>054-861-8830</td>
											</tr>
											<tr>
												<td>평안의집</td>
												<td>2015. 06. 03</td>
												<td>정원(23), 현원(21)</td>
												<td class="al-l">경북 의성군 안계면 서부로 1788</td>
												<td>054-862-9009</td>
											</tr>
											<tr>
												<td>천사요양원</td>
												<td>2017. 01. 19</td>
												<td>정원(27), 현원(21)</td>
												<td class="al-l">경북의성군 다인면 서부로 2739-3</td>
												<td>054-861-5004</td>
											</tr>
											<tr>
												<td>의성e행복한요양원</td>
												<td>2018. 06. 26</td>
												<td>정원(27), 현원(21)</td>
												<td class="al-l">경북 의성군 의성읍 안평의성로 1122-40</td>
												<td>054-834-1500</td>
											</tr>
											<tr>
												<td>나눔의집</td>
												<td>2011. 06. 17</td>
												<td>정원(7), 현원(6)</td>
												<td class="al-l">경북 의성군 안계면 토매3길 176-1</td>
												<td>054-862-5806</td>
											</tr>
											<tr>
												<td>낙자원</td>
												<td>2011. 05. 30</td>
												<td>정원(8), 현원(6)</td>
												<td class="al-l">경북 의성군 봉양면 도리원3길 25-1</td>
												<td>054-832-9039</td>
											</tr>
											<tr>
												<td>산동공동생활가정</td>
												<td>2014. 12. 01</td>
												<td>정원(7), 현원(0)</td>
												<td class="al-l">경북 의성군 금성면 금성산길 100</td>
												<td>054-834-5762</td>
											</tr>
										</tbody>
									</table>
									<h3 class="heading-h3">노인주거복지시설현황</h3>
									<table class="comp-tbl_datatype">
										<caption>노인주거복지시설현황 - 구분, 설치일자, 입용정원, 소재지, 연락처</caption>
										<colgroup>
											<col style="width:18%">
											<col style="width:15%">
											<col style="width:15%">
											<col style="width:*">
											<col style="width:15%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">설치일자</th>
												<th scope="col">입용정원</th>
												<th scope="col">소재지</th>
												<th scope="col">연락처</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>노인복지한알</td>
												<td>1999. 07. 14</td>
												<td>정원(31명), 현원(31명)</td>
												<td class="al-l">경북 의성군 안계면 안신로 382-19</td>
												<td>054-861-9256</td>
											</tr>
											<tr>
												<td>노인복지작은쉼터</td>
												<td>2013.08.29</td>
												<td>정원(9명), 현원(0명)</td>
												<td class="al-l">경북 의성군 비안면 장춘길 332-38</td>
												<td>054-834-6077</td>
											</tr>
										</tbody>
									</table>

								</div>

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>