<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>로그인 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		<!-- CONTAINER -->
		<main>
			<div id="container" class="login"><!-- D: 페이지 특정의 클래스 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<!-- 로그인 타이틀 -->
								<div class="tit-login-zone">
									<div class="inner">
										<h2 class="tit">의성군<span class="point">통합로그인</span></h2>
										<p class="txt">로그인 및 본인인증 페이지 입니다. <br class="m">원하시는 <span class="line">로그인 서비스를 선택</span>하세요.</p>
										<p class="tail">의성군 홈페이지에서는 보다 많은 이용자의 <br class="m">안전한 인터넷 사용을 위하여 본인확인을 <br class="m">휴대폰인증과 공공아이핀으로 진행하고 있습니다.<br>온라인상에서 수집한 개인정보가 보호 받을 수 있도록 <br class="m">최선을 다하고 있습니다.</p>
										<h3 class="tit"><span>통합로그인</span></h3>
									</div>
								</div>
								<!-- // 로그인 타이틀 -->
								<!-- 인증 영역 -->
								<div class="wrap-login-zone">
									<div class="certified-zone">
										<!-- 로그인 서비스 -->
										<div class="login-zone">
											<h4 class="tit"><span class="point">로그인</span>서비스</h4>
											<div class="member-box">
												<div class="box">
													<div class="form">
														<input type="text" title="아이디 입력" placeholder="아이디를 입력해주세요" class="comp-input_h50">
														<input type="password" title="비밀번호 입력" placeholder="비밀번호를 입력해주세요" class="comp-input_h50">
													</div>
													<button type="submit">로그인</button>
												</div>
											</div>
											<div class="btn-naver">
												<a href="#" target="_blank" class="btn">NAVER 로그인</a>
											</div>
										</div>
										<!--  로그인 서비스 -->
										<!-- 휴대폰 인증서비스 -->
										<div class="cell-phone">
											<h4 class="tit"><span class="point">휴대폰</span> 인증서비스</h4>
											<p class="txt">휴대폰번호를 이용한 본인확인 방법입니다.<br>(단, 본인명의의 휴대폰만 가능)<br>생년월일 기반의 본인확인 서비스로 웹사이트 이용자의 개인정보 입력 없이도 실명확인&middot;본인확인이 가능한 주민번호 대체인증 서비스입니다.</p>
											<div class="btn-cell-phone btn-bottom">
												<a href="#" target="_blank" class="btn">휴대폰인증</a>
											</div>
										</div>
										<!-- // 휴대폰 인증서비스 -->
										<!-- 공공 I-PIN 인증서비스 -->
										<div class="i-pin">
											<h4 class="tit"><span class="point">공공 I-PIN</span> 인증서비스</h4>
											<p class="txt">공공 I-PIN은 인터넷상에서 주민등록번호를<br>대체할 수 있는 개인식별번호로 본인 확인 기관으로부터<br>발급받은 개인식별 아이디를 이용하여<br>본인 확인을 하는 서비스입니다.<br>아이핀이 없으신 경우, 팝업창에서 신규발급이 가능합니다.</p>
											<div class="btn-i-pin btn-bottom">
												<a href="#" target="_blank" class="btn">휴대폰인증</a>
											</div>
										</div>
										<!-- // 공공 I-PIN 인증서비스 -->
									</div>
									<div class="info-zone">
										<p class="txt">개인정보보호법에 따라 인터넷에서 주민등록번호를 대체하는 본인확인 수단인 공공 I-PIN을 사용하여 실명인증을 실시하고 있으며,<br class="pc">미성년자도 공공I-PIN 발급이 가능하며 법정대리인의 동의를 통해 이용할 수 있습니다.<span class="point"><em>※ 로그인이 안될 경우 홈페이지담당자 (☎830-6071)로 문의바랍니다.</em></span></p>
									</div>
								</div>

								<!-- // 인증 영역 -->
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>