<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>옥외광고물 &lt; 분야별정보 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="adver"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->
					
					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->
					
					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">옥외광고물</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content"><span>업무안내</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>설치기준절차</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-selected="true"><span>종류별표시방법</span></a></li>
								</ul>
								
								<div role="tabpanel" id="tabcontent">
									<h3 class="heading-h3 mt30">창문이용광고물</h3>
									<ul class="img-area bg">
										<li>
											<p class="txt">건물 1층 이하 창문과 출입문을 <br>이용하여 표시(표시면적 0.4m²)</p>
										</li>
										<li>
											<p class="txt">창문 또는 출입문 면적의 1/2 범위<br>안에서 시&middot;도 조례로 정함</p>
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>건물의 3층 이하의 창문과 출입문에만 표시</li>
										<li>광고내용은 창문 면적의 4분의 1 이내로 표시</li>
									</ul>
									<p class="comp-lst_important point2">단, 천&middot;종이 또는 비닐을 이용하는 경우에는 2분의 1이내로 표시 건물을 사용하고 있는 자의 성명,주소,상호, 상표,전화번호,영업내용 또는 상징형 도안에 한하여 표시</p>
									
									<h3 class="heading-h3">가로형간판</h3>
									<ul class="img-area">
										<li class="ex03">
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex03.png" alt="가로형간판의 규격은 건물전면폭이내, 윗층과 아랫층간의 벽면높이 이내">
												</div>
											</div>
												<p class="txt">4층이상 : 건물상단(3면)에 입체형 간판 <br>1~3층 : 입체형 또는 판류 이용간판</p>
											
										</li>
										<li class="ex04">
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex04.png" alt="건물폭 이내 또는 건물측&middot;후면 4층이상 벽면에 판류를 이용하는 간판은 높이 52미터 이내 층간 8미터 이내에 설치">
												</div>
											</div>
											<p class="txt">건물폭이내 건물 측후면 4층이상<br>벽면에 판류를 이용하는 간판</p>
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>물의 3층 이하에는 건물의 정면에 입체형문자, 도형, 판류이용 간판 가능</li>
										<li>3층이하 정면에 표시면적 5㎡이하는 신고 없이 표시가능</li>
										<li>표시기간 : 3년</li>
										<li>가로크기는 건물 가로폭이내, 창문을 가려서 설치 불가</li>
										<li>4층이상은 당해 건물명, 건물을 사용하고 있는자의 성명, 상호 또는 이를 상징하는 도형에 한하여</li>
										<li>건물 상단중 3면에 입체형으로 된 하나의 간판 각각 부착 가능</li>
										<li>건물측&middot;후면의 4층이상 벽면에 판류이용 간판 1개만 가능</li>
										<li>간판은 벽면에 밀착시켜야 하며 돌출폭 30cm 이내</li>
									</ul>
									
									<h3 class="heading-h3">세로형간판</h3>
									<ul class="img-area">
										<li class="ex05">
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex05.png" alt="건물의 1층 출입구 양측에 각각 1개의 간판만 설치 규격이 가로 60센치미터, 세로 200센치미터 이내이며 연립200센치미터 이내">
												</div>
											</div>
										</li>
										<li class="ex04">
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex04.png" alt="세로형간판은 건물폭 이내, 건물 측면 후면의 4층 이상, 벽면에 판류를 이용하는 간판으로 건물 4면중에 입체형으로 된 1개의 간판 부착 가능 (크기는 가로 3미터 이내, 세로는 건물높이의 1/2 이내)">
												</div>
											</div>
											<p class="txt">건물폭이내 건물 측후면 4층이상<br>벽면에 판류를 이용하는 간판</p>
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>건물의 1층 출입구 양측에 각각 1개의 간판만 설치</li>
										<li>간판의 규격은 가로 60cm, 세로 200cm 이내이며 벽면에 밀착 또는 돌출폭 30cm 이내</li>
										<li>표시기간 : 3년</li>
										<li>4층이상에 설치된 가로형 간판이 없는 경우에 한하여</li>
										<li>당해 건물명이나 당해 건물 사용자의 성명, 상호 또는 이를 상징하는 도형을</li>
										<li>건물 4면중에 입체형으로 된 1개의 간판 부착 가능 (크기는 가로 3미터 이내, 세로는 건물높이의 1/2 이내)</li>
									</ul>
									
									<h3 class="heading-h3">돌출간판</h3>
									<ul class="img-area">
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex05.png" alt="간판의 규격은 가로 60cm, 세로 200cm 이내이며 벽면에 밀착 또는 돌출폭 30cm 이내 건물벽면과 간판의 간격은 30cm이내, 간판의 바깥쪽은 벽면으로부터 1.2m이내 설치 가능">
												</div>
											</div>
										</li>
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex06.png" alt="건물 4면중에 입체형으로 된 1개의 간판 부착 가능 (크기는 가로 3미터 이내, 세로는 건물높이의 1/2 이내) 간판상단이 건물의 벽면 높이 초과 금지이고, 10m초과시마다 1줄씩 추가 가능함">
												</div>
											</div>
											
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>1업소 1개의 간판만 가능, 목조&middot;가건물에는 설치 불가</li>
										<li>간판의 하단과 지면과의 간격은 3m(인도가 없는 경우 4m)이상, 간판상단이 건물의 벽면 높이 초과 금지</li>
										<li>건물벽면과 간판의 간격은 30cm이내, 간판의 바깥쪽은 벽면으로부터 1.2m이내 설치 가능</li>
										<li>
											하나의 건물에 2개 이상의 업소가 각각의 돌출간판을 설치시는 상하로 일직선상에 설치 해야 함
											<p class="comp-lst_important point1">건물폭이 10m를 초과할 경우에는 10m초과시 마다 1줄씩 추가 가능</p>
										</li>
										<li>
											표시기간 : 3년
											<p class="comp-lst_important point1">돌출간판은 공유지 도로의 공간을 점용한 경우 년 1회, 도로공간사용료가 부과됨(가로×세로=면적,1㎡당 58,950원)</p>
										</li>
									</ul>
									
									<h3 class="heading-h3">옥상간판</h3>
									<ul class="img-area">
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex07.png" alt="옥상간판의 크기는 가로 최대 30센티미터 이내, 세로 최대 20센티미터 이내, 높이 15미터 이내 가로면 300제곱미넡 이내 세로면 225제곱미터 이내 지면과의 간격 3m이상, 인도가 없는경우 4m이상">
												</div>
											</div>
										</li>
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex08.png" alt="건물폭이 10m를 초과할 경우에는 10m초과시 마다 1줄씩 추가 가능 건물높이의 1/2이하 여야 함">
												</div>
											</div>
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>5층이상 15층이하 건물 옥상에 장방형, 정방형 등의 간판 설치 가능</li>
										<li>표시기간 : 3년</li>
										<li>제한 및 규제사항이 많으므로 광고물담당부서와 사전 협의 요망</li>
									</ul>
									
									<h3 class="heading-h3">지주이용간판</h3>
									<ul class="img-area">
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex08.png" alt="지주이용간판의 크기 세로 10미터 이내 1면 10제곱미터 이내 4면의 합계 40세제곱미터 이내 건물폭이 10m를 초과할 경우에는 10m초과시 마다 1줄씩 추가 가능">
												</div>
											</div>
										</li>
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex08.png" alt="도로상에 설치하는 사설안내 표지판은 도로관리부서에서 허가를 받아야 설치가능함 건물폭이 10m를 초과할 경우에는 10m초과시 마다 1줄씩 추가 가능">
												</div>
											</div>
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>당해 건물의 부지안에 표시하여야 하며 동일장소 또는 건물 부지에 2개 이상</li>
										<li>업소가 표시하고자하는 경우 1개의 간판에 연립형으로 표시 가능</li>
										<li>화단 또는 기단을 설치한 후 그 안에 표시하되 간판의 상단 높이는 10m 이내</li>
										<li>간판 1면의 면적은 10㎡, 합계면적은 40㎡를 초과할 수 없음</li>
										<li>
											차도 또는 보도경계선으로부터 50cm 이상 거리 유지
											<p class="comp-lst_important point1">도로상에 설치하는 사설안내표지판은 도로관리부서에서 허가를 받아야 설치 가능</p>
										</li>
									</ul>
									
									<h3 class="heading-h3">애드벌룬</h3>
									<ul class="img-area">
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex09.png" alt="애드벌룬은 가로 최대길이 30cm이내 가로를 접한면은 300미터제곱 이내 세로길이는 최대 20cm이내 세로를 접한면 225제곱미터 이내 높이는 15m이내 상업지역,고업지역의 건물 옥상에만 표시">
												</div>
											</div>
										</li>
										<li>
											<div class="img-inner">
												<div class="img">
													<img src="../../static/images/usc/subpage/img_adver_ex10.png" alt="건물 높이의 1/2이하 및 광고면이 없는 애드벌룬은 지름 10미터 이내 건물과의 높이 15미터 이내임">
												</div>
											</div>
										</li>
									</ul>
									<ul class="comp-lst_dotted">
										<li>상업지역, 공업지역의 건물 옥상에만 표시</li>
										<li>
											신축아파트, 상가, 오피스텔을 분양하기 위해 표시 가능
											<p class="comp-lst_important point1">표시기간 : 공중에 띄우는 경우 60일이내, 옥상 또는 지면에 표시하는 경우 3년이내</p>
										</li>
									</ul>
								</div>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
							
							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>