<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>치매/노인실명예방관리 &lt; 노인복지 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="dementia"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li> 
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>행정정보</span></a></h2>
									<div class="smallmenu" style="display:block;">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">노인복지</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab"><span>노인장기요양보험제도</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>노인복지시설</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content" aria-selected="true"><span>치매/노인실명예방관리</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>노인일자리사업</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>노인돌봄서비스사업</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>기초노령연금</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>기초노령연금</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>치매치료비지원</span></a></li>
								</ul>

								<div id="tab-content" role="tabpanel">
									<h3 class="heading-h3 mt30">치매치료비지원사업</h3>
									<h4 class="heading-h4 mt15">지원대상</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">치매(상병코드F00~F03,G30)로 진단받고 치매치료제를 복용하는 전국 가구 평균 소독의 100%이하인자</span></li>
										<li><span class="cont">'15년도 치매치료관리비지원 대상 건강보험료 본인부과액 기준</span>
											<div class="scrollzone mt10">
												<div class="scrollzoneinner">
													<table class="comp-tbl_datatype">
														<caption>'15년도 치매치료관리비지원 대상 건강보험료 본인부과액 기준 - 가구원수, 1인, 2인, 3인, 4인, 5인, 6인</caption>
														<colgroup>
															<col span="7">
														</colgroup>
														<thead>
															<tr>
																<th scope="col">가구원수</th>
																<th scope="col">1인</th>
																<th scope="col">2인</th>
																<th scope="col">3인</th>
																<th scope="col">4인</th>
																<th scope="col">5인</th>
																<th scope="col">6인</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>직장가입자</td>
																<td>47,165<br>(50,254)</td>
																<td>47,165<br>(50,254)</td>
																<td>35,442<br>(144,313)</td>
																<td>151,857<br>(161,804)</td>
																<td>151,857<br>(161,804)</td>
																<td>169,970<br>(181,103)</td>
															</tr>
															<tr>
																<td>지역가입자</td>
																<td>26,513<br>(28,250)</td>
																<td>97,779<br>(104,184)</td>
																<td>149,772<br>(159,582)</td>
																<td>167,541<br>(178,515)</td>
																<td>177,862<br>(189,512)</td>
																<td>186,600<br>(198,822)</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
									</ul>
									<h4 class="heading-h4 mt15">지원대상</h4>
									<h5 class="comp-lst_dotted ml3"><span class="cont">월 3만원(연36만원)한도내 당월 건강보험 본인부담금</span></h5>
									<p class="comp-lst_hyphen ml3"><span class="cont">처방 개월 따른 약제비와 월 한도내 실비를 일괄 지급</span></p>
									<h5 class="comp-lst_dotted ml3"><span class="cont">지급 절차 흐름도 </span></h5>
									<p class="comp-lst_hyphen ml3"><span class="cont">대상자 지원신청 ⇒ 보건소 지원대상 결정 및 통보 ⇒ 대상자 치매 치료관리 ⇒ 건강보험공단 비용지급</span></p>
									<h4 class="heading-h4 mt15">지원대상</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">신청자 : 치매환자 본인 및 가족</span></li>
										<li><span class="cont">신청장소 : 주민등록 주소지 관할 보건소</span></li>
										<li><span class="cont">구비서류</span>
											<ul class="comp-lst_hyphen">
												<li><div class="cont">치매치료관리비 지원신청서</div></li>
												<li><div class="cont">치매치료제가 포함된 2014년도 중 발생된 약처방전 또는 약품명이 기재된 약국 영수증</div></li>
												<li><div class="cont">대상자 본인 명의 입금통장 (대상자 본인 명의 통장이 없을시 대상자와 가족 관계가 확인되는 가족관계증명서, 가족통장 사본)</div></li>
												<li><div class="cont">건강보험증, 건강보험료 부과 확인서</div></li>
											</ul>
										</li>
										<li><span class="cont">문의처 -의성군보건소 방문보건 830-6699</span></li>
									</ul>
									<h3 class="heading-h3 mt30">노인실명예방관리</h3>
									<h4 class="heading-h4 mt15">사업개요</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">목적 : 노인 안 검진 및 개안수술, 저시력 노인을 위한 재활사업 등 노인실명예방관리</span></li>
										<li><span class="cont">필요성</span>
											<ul class="comp-lst_hyphen">
												<li><span class="cont">고령사회에 적응할 수 있도록 노인에 적합한 각종 건강증진 및 관리프로그램의 개발 보급을 통해 건강 향상 및 의료비 절감</span></li>
												<li><span class="cont">노화성 안질환은 자각증상이 없어 정기적으로 검진을 통한 개안 수술만이 유일한 치료방법으로 방치 시 실명에 이르게 되므로 안질환의 조기발견 및 검진 결과 수술 지원 등 필요</span></li>
											</ul>
										</li>
									</ul>
									<h4 class="heading-h4 mt15">지원근거 및 추진경위</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">지원근거 : 노인실명예방관리 : 노인복지법 제1조(목적), 제27조(건강진단 등)</span>
											<ul class="comp-lst_hyphen">
												<li><span class="cont">제1조 : 이법은 노인의 질환을 사전에 예방 또는 조기발견하고 질환상태에 따른 적절한 치료·요양으로 심신의 건강을 유지하고, 노후의 생활안정을 위하여 필요한 조치를 강구함으로써 노인의 보건복지증진에 기여함을 목적으로 한다.</span></li>
												<li><span class="cont">제27조 : 국가 또는 지방자치단체는 대통령령이 정하는 바에 의하여 65세 이상의 자에 대하여 건강진단과 보건교육을 실시할 수 있다.</span></li>
											</ul>
										</li>
									</ul>
									<h4 class="heading-h4 mt15">사업추진절차</h4>
									<div class="img-area"><img src="../../static/images/usc/subpage/img_dementia_01.png" alt="보건복지부와 시&middot;도보건소, 한국실명예방재단의 사업추진절차" longdesc="#img_dementia_01"></div>
									<div id="img_dementia_01" class="hidden">
										<h5>노인 안 검진 사업 실시체계 및 노인 개안수술 사업 실시체계</h5>
										<h6>노인 안 검진 사업 실시체계</h6>
										<ul>
											<li>검진자가 시군구(보건소)에 검진신청을 합니다.</li>
											<li>시군구(보건소)는 수요를 파악하여 개안수술 신청서를 한국실명예방재단에 송부합니다.</li>
											<li>한국실명예방재단은 검진을 실시한 후, 검진 결과통보를 시군구(보건소)에 통보합니다.</li>
											<li>시도와 시군구(보건소)는 서로 지침시달을 합니다.</li>
											<li>시도는 보건복지부에 검진신청을 하고, 보건복지부는 시도에 지침을 시달합니다.</li>
											<li>보건복지부는 한국실명예방재단에 지침을 시달하고, 한국실명예방재단은 보건복지부에 실적을 보고합니다.</li>
										</ul>
										<h6>노인 개안수술 사업 실시체계</h6>
										<ul>
											<li> 수술대상자는 시군구(보건소)에 수술지원 신청을 하고 시군구(보건소)는 신청안내를 해줍니다.</li>
											<li> 시군구보건소는 시도에 실적을 보고하고 시도는 지침을 시달합니다. 시군구(보건소)는 한국실명예방재단에 지원대상자명단을 송부합니다.</li>
											<li> 시도는 보건복지부에 실적을 보고하고 보건복지부는 지침을 시달합니다.</li>
											<li> 보건복지부는 한국실명예방재단에 지침을 시달하고 한국실명예방재단은 실적을 보고합니다.</li>
											<li> 한국실명예방재단은 의료기관에 수술의뢰 및 수술비를 지급하고 의료기관은 청구합니다. 그리고 수술대상자에게 수술 전 안내를 해줍니다.</li>
											<li> 의료기관은 수술대상자를 수술합니다.</li>
										</ul>
									</div>
									<h4 class="heading-h4 mt15">2013년 노인실명예방관리 사업</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">무료안검진 : 10,000명</span></li>
										<li><span class="cont">개안수술 : 2,320<em class="chinese">眼</em></span>
											<ul class="comp-lst_hyphen">
												<li><span class="cont">망막증 수술(170<em class="chinese">眼</em>) : 평균 1,050,000원 지원</span></li>
												<li><span class="cont">백내장, 녹내장 등(2,150<em class="chinese">眼</em>) : 평균 240,000원 지원</span></li>
											</ul>
										</li>
									</ul>
									<h4 class="heading-h4 mt15">대상자</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">무료안검진은 60세이상 모든 노인 </span></li>
										<li><span class="cont">개안수술</span>
											<ul class="comp-lst_hyphen">
												<li><span class="cont">60세 이상 백내장, 망막질환, 녹내장 등 기타 안질환자 중 수술이 필요한 자 </span></li>
												<li><span class="cont">전국가구 평균소득 50%이하인 경우 </span></li>
											</ul>
										</li>
									</ul>
									<h4 class="heading-h4 mt15">신청</h4>
									<ul class="comp-lst_dotted ml3">
										<li><span class="cont">주소지 관할보건소 </span></li>
										<li><span class="cont">한국실명예방재단(02-718-1102) </span> </li>
									</ul>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>