<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>사이트맵 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="tp-sitemap"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">사이트맵</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<h3 class="heading-h3">전자민원</h3>
								<div class="sitemap-box">
									<div class="group">
										<div class="depth2">
											<h4><a href="#">민원실이용안내</a></h4>
										</div>
										<div class="depth2">
											<h4><a href="#">민원편람</a></h4>
										</div>
										<div class="depth2">
											<h4><a href="#">방문민원 상담예약</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>방문민원 상담예약 안내</span></a></li>
												<li><a href="#"><span>방문민원 상담예약 신청</span></a></li>
												<li><a href="#"><span>예약확인</span></a></li>
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">민원보니터</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>민원모니터 이해</span></a></li>
												<li><a href="#"><span>주민불편 사항 제보</span></a></li>
												<li><a href="#"><span>민원제도 개선사항 제안</span></a></li>										
											</ul>
										</div>
									</div>
									<div class="depth2">
										<h4><a href="#">민원편의시책</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>민원1회방문처리</span></a></li>
											<li><a href="#"><span>지적&middot;건축현장민원처리</span></a></li>
											<li><a href="#"><span>어디서나민원처리</span></a></li>
											<li><a href="#"><span>사전심사청구제</span></a></li>
											<li><a href="#"><span>무인민원발급기</span></a></li>
											<li><a href="#"><span>여권발급안내</span></a></li>
											<li><a href="#"><span>구술, 전화가능민원안내</span></a></li>
											<li><a href="#"><span>민원수수료안내</span></a></li>
											<li><a href="#"><span>행정정보공동이용제도</span></a></li>
											<li><a href="#"><span>국제운전면허증발급</span></a></li>
											<li><a href="#"><span>다문화가족전입신고&middot;<br>체류지변경신고</span></a></li>
											<li><a href="#"><span>운전면허증&middot;주민등록증<br>재발급통합처리</span></a></li>
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">전자민원</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>민원상담</span></a></li>
											<li><a href="#"><span>민원24시</span></a></li>
											<li><a href="#"><span>110정부민원안내콜센터</span></a></li>										
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">신고센터</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>공직자부조리신고</span></a></li>
											<li><a href="#"><span>갑질피해신고</span></a></li>
											<li><a href="#"><span>행정규제신고</span></a></li>
											<li><a href="#"><span>환경오염신고</span></a></li>
											<li><a href="#"><span>식품여업위법행위신고</span></a></li>
											<li><a href="#"><span>식품안전소비자신고</span></a></li>
											<li><a href="#"><span>예산낭비신고</span></a></li>
											<li><a href="#"><span>부동산 불법거래 신고센터</span></a></li>
											<li><a href="#"><span>유기동물신고</span></a></li>
											<li><a href="#"><span>사전컨설팅감사창구</span></a></li>										
										</ul>
									</div>
								</div>
								<h3 class="heading-h3">정보공개</h3>
								<div class="sitemap-box othersize">
									<div class="depth2">
										<h4><a href="#">행정정보</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>정보공개제도안내</span></a></li>
											<li><a href="#"><span>정보공개청구</span></a></li>
											<li><a href="#"><span>정보공개소재안내</span></a></li>
											<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
											<li><a href="#"><span>행정정보목록 리스트</span></a></li>
											<li><a href="#"><span>사전정보공표목록</span></a></li>
											<li><a href="#"><span>개별공시지가열람</span></a></li>
											<li><a href="#"><span>개별주택가격열람</span></a></li>
											<li><a href="#"><span>자치법규/관보</span></a></li>
											<li><a href="#"><span>행정처분공개</span></a></li>
											<li><a href="#"><span>정책실명제</span></a></li>										
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">공개데이터개방</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>공공데이터 정보</span></a></li>
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">재정/백서</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>예산서공개</span></a></li>
											<li><a href="#"><span>재정정보공개</span></a></li>
											<li><a href="#"><span>재정공시</span></a></li>
											<li><a href="#"><span>업무추진비공개</span></a></li>
											<li><a href="#"><span>지방공기업</span></a></li>
											<li><a href="#"><span>증기지방재정계획</span></a></li>
											<li><a href="#"><span>성인지예산</span></a></li>
											<li><a href="#"><span>군정백서</span></a></li>
											<li><a href="#"><span>공공시설운영현황</span></a></li>
											<li><a href="#"><span>주민참여예산의견제출</span></a></li>
											<li><a href="#"><span>의성의오늘</span></a></li>
											<li><a href="#"><span>월간경기동향</span></a></li>
											<li><a href="#"><span>통계연보(2004 ~  현재)</span></a></li>
											<li><a href="#"><span>사회조사(2012 ~ 현재)</span></a></li>
											<li><a href="#"><span>경북통계</span></a></li>
											<li><a href="#"><span>살고싶은우리동네</span></a></li>
											<li><a href="#"><span>정책통계지도</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">농림축산식품사업지원시설현황</a></h4>
									</div>
									<div class="depth2">
										<h4><a href="#">의성군정</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>군정방향</span></a></li>
											<li><a href="#"><span>군정 및 종합발전계획</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">조직운영 정보공개</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>개요</span></a></li>
											<li><a href="#"><span>5대지표정보공개</span></a></li>											
										</ul>
									</div>
								</div>
								<h3 class="heading-h3">열린군정</h3>
								<div class="sitemap-box">
									<div class="depth2"> <h4><a href="#">공지사항</a></h4> </div>
									<div class="depth2"> <h4><a href="#">행사안내</a></h4> </div>
									<div class="depth2"> <h4><a href="#">통합신공항</a></h4> </div>
									<div class="depth2"> <h4><a href="#">메아리</a></h4> </div>
									<div class="depth2"> <h4><a href="#">고시/공고</a></h4> </div>
									<div class="depth2"> <h4><a href="#">시험정보</a></h4> </div>
									<div class="depth2">
										<h4><a href="#">홍보/보도자료/해명</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>홍보</span></a></li>
											<li><a href="#"><span>행사</span></a></li>
											<li><a href="#"><span>기타</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">행정서비스</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>문화관광 헌장</span></a></li>
											<li><a href="#"><span>재무 헌장</span></a></li>
											<li><a href="#"><span>민원 헌장</span></a></li>
											<li><a href="#"><span>지역경제 헌장</span></a></li>
											<li><a href="#"><span>환경 헌장</span></a></li>
											<li><a href="#"><span>산림 헌장</span></a></li>
											<li><a href="#"><span>사회복지 헌장</span></a></li>
											<li><a href="#"><span>재난관리 헌장</span></a></li>
											<li><a href="#"><span>교통행정 헌장</span></a></li>
											<li><a href="#"><span>보건의료 헌장</span></a></li>
											<li><a href="#"><span>상하수도 헌장</span></a></li>											
										</ul>
									</div>
								</div>
								<h3 class="heading-h3">소통참여</h3>
								<div class="sitemap-box">
									<div class="depth2">
										<h4><a href="#">군민제안</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>제도소개</span></a></li>
											<li><a href="#"><span>제안하기</span></a></li>
											<li><a href="#"><span>정책토론방</span></a></li>
											<li><a href="#"><span>안전신문고</span></a></li>
											<li><a href="#"><span>자유게시판</span></a></li>
											<li><a href="#"><span>칭찬합니다</span></a></li>
											<li><a href="#"><span>구인/구직</span></a></li>
											<li><a href="#"><span>삽니다/팝니다</span></a></li>
											<li><a href="#"><span>설문조사</span></a></li>											
										</ul>
									</div>
								</div>
								<h3 class="heading-h3">의성안내</h3>
								<div class="sitemap-box">
									<div class="depth2">
										<h4><a href="#">의성군 소개</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>연혁</span></a></li>
											<li><a href="#"><span>일반현황</span></a></li>
											<li><a href="#"><span>위치자연환경</span></a></li>
											<li><a href="#"><span>상징</span></a></li>
											<li><a href="#"><span>군민헌장</span></a></li>
											<li><a href="#"><span>군민의노래</span></a></li>
											<li><a href="#"><span>의성군행정지도</span></a></li>
											<li><a href="#"><span>열린군수실</span></a></li>
											<li><a href="#"><span>명예읍면장</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">위치/시설정보</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>청사안내</span></a></li>
											<li><a href="#"><span>찾아오시는 길</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">행정조직/전화번호</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>행정조직도</span></a></li>
											<li><a href="#"><span>전화번호안내</span></a></li>
											<li><a href="#"><span>직원검색</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">관내주요기관안내</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>기관현황</span></a></li>
											<li><a href="#"><span>학교현황</span></a></li>
											<li><a href="#"><span>병/의원현황</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">자매결연</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>국제</span></a></li>
											<li><a href="#"><span>국내</span></a></li>
											<li><a href="#"><span>산/관/학</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">미디어의성</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>동영상</span></a></li>
											<li><a href="#"><span>포토갤러리</span></a></li>
											<li><a href="#"><span>의성노래</span></a></li>											
										</ul>
									</div>
									<div class="depth2">
										<h4><a href="#">부서소개</a></h4>
										<ul class="depth3">
											<li><a href="#"><span>부군수</span></a></li>
											<li><a href="#"><span>자치행정국</span></a></li>
											<li><a href="#"><span>관광경제국</span></a></li>
											<li><a href="#"><span>도시환경국</span></a></li>											
										</ul>
									</div>
								</div>
								<h3 class="heading-h3">분야별정보</h3>
								<div class="sitemap-box">
									<div class="row-group">
										<div class="depth2">
											<h4><a href="#">복 지</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>기초생활보장</span></a></li>
												<li><a href="#"><span>최저생활보장</span></a></li>
												<li><a href="#"><span>장애인</span></a></li>
												<li><a href="#"><span>장애인복지시책</span></a></li>
												<li><a href="#"><span>노인복지</span></a></li>
												<li><a href="#"><span>여성복지</span></a></li>
												<li><a href="#"><span>청소년</span></a></li>
												<li><a href="#"><span>아동복지</span></a></li>
												<li><a href="#"><span>다문화가족지원</span></a></li>
												<li><a href="#"><span>아동복지</span></a></li>
												<li><a href="#"><span>다문화가족지원</span></a></li>
												<li><a href="#"><span>창사업무</span></a></li>
												<li><a href="#"><span>분묘개장공고</span></a></li>
												<li><a href="#"><span>복지소식</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">인구정책</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>인구늘리기 시책</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">교 육</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>장학금제도</span></a></li>
												<li><a href="#"><span>장학금적립카드</span></a></li>
												<li><a href="#"><span>인재양성원</span></a></li>
												<li><a href="#"><span>향토생활관</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">산업경제</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>공장설립</span></a></li>
												<li><a href="#"><span>제조업체현황</span></a></li>
												<li><a href="#"><span>향토뿌리기업</span></a></li>
												<li><a href="#"><span>시장정보</span></a></li>
												<li><a href="#"><span>장보기투어</span></a></li>
												<li><a href="#"><span>공공일자리사업</span></a></li>
												<li><a href="#"><span>옥외광고물</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">지방세안내</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>세목별안내</span></a></li>											
											</ul>
										</div>
									</div>
									<div class="row-group">
										<div class="depth2">
											<h4><a href="#">신고납부안내</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>신고납부안내</span></a></li>
												<li><a href="#"><span>지방세납기안내</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">마을세무사</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>마을세무사소개</span></a></li>
												<li><a href="#"><span>마을세무사찾기</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">지방세감면안내</a></h4>
											<ul class="depth3">
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">체납처분안내</a></h4>
											<ul class="depth3">
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">자동차세연납안내</a></h4>
											<ul class="depth3">
											</ul>
										</div>
									</div>
									<div class="row-group">
										<div class="depth2">
											<h4><a href="#">납세자보호관</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>납세자보호관 소개</span></a></li>
												<li><a href="#"><span>납세자권리헌장</span></a></li>
												<li><a href="#"><span>고충민원</span></a></li>
												<li><a href="#"><span>권리보호요청</span></a></li>
												<li><a href="#"><span>세무상담</span></a></li>
												<li><a href="#"><span>Q&amp;A</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">부동산</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>조상 땅 찾기</span></a></li>
												<li><a href="#"><span>부동산등기용등록번호<br>부여</span></a></li>
												<li><a href="#"><span>분양정보</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">환경/위생</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>수질</span></a></li>
												<li><a href="#"><span>대기</span></a></li>
												<li><a href="#"><span>폐기물</span></a></li>
												<li><a href="#"><span>환경일반</span></a></li>
												<li><a href="#"><span>황사대비식품취급및<br>안전관리요령</span></a></li>
												<li><a href="#"><span>좋은식단</span></a></li>
												<li><a href="#"><span>식품진흥관리</span></a></li>
												<li><a href="#"><span>흑마늘제조가공업소</span></a></li>
												<li><a href="#"><span>ONCEFOOD캠페인</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">상하수도사업</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>상수도현황</span></a></li>
												<li><a href="#"><span>하수도현황</span></a></li>
												<li><a href="#"><span>상하수도요금</span></a></li>
												<li><a href="#"><span>수질검사안내</span></a></li>											
											</ul>
										</div>
										<div class="depth2">
											<h4><a href="#">재난/안전/민방위</a></h4>
											<ul class="depth3">
												<li><a href="#"><span>재해유형</span></a></li>
												<li><a href="#"><span>안전문화운동</span></a></li>
												<li><a href="#"><span>주민신고요령</span></a></li>
												<li><a href="#"><span>전시국민행동요령</span></a></li>
												<li><a href="#"><span>생활주변안전관리</span></a></li>
												<li><a href="#"><span>해빙기안전관리</span></a></li>
												<li><a href="#"><span>물놀이사고예방</span></a></li>
												<li><a href="#"><span>호우대비행동요령</span></a></li>
												<li><a href="#"><span>태폭풍대비행동요령</span></a></li>
												<li><a href="#"><span>황사현상</span></a></li>
												<li><a href="#"><span>민방위상식</span></a></li>
												<li><a href="#"><span>지진대피소</span></a></li>											
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>