<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>행정조직도 &lt; 의성안내 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="tp-organization"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">행정조직도</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<div class="organization-chart">
									<div class="chartimg">
										<p class="hidden">군수실과 부군수실, 그리고 군수실과 부군수실을 보좌하는 비서실, 부군수실 밑으로 홍보소통 담당관과 기획담당관이 배치되어 있다.</p>
										<p class="lnk1"><a href="#">의성군수</a></p>
										<p class="lnk2"><a href="#">부군수</a></p>
										<p class="lnk3"><a href="#">비서실</a></p>
										<p class="lnk4"><a href="#">홍보소통담당관</a></p>
										<p class="lnk5"><a href="#">기획담당관</a></p>
									</div>
									<div class="partgroup">
										<dl class="part">
											<dt><a href="#">자치행정국</a></dt>
											<dd>
												<ul>
													<li><a href="#">총무과</a></li>
													<li><a href="#">재무과</a></li>
													<li><a href="#">민원과</a></li>
													<li><a href="#">복지과</a></li>
												</ul>
											</dd>
										</dl>
										<dl class="part">
											<dt><a href="#">관광경제국</a></dt>
											<dd>
												<ul>
													<li><a href="#">관광문화과</a></li>
													<li><a href="#">일자리창출과</a></li>
													<li><a href="#">경제투자과</a></li>
													<li><a href="#">농축산과</a></li>
													<li><a href="#">원예과수과</a></li>
												</ul>
											</dd>
										</dl>
										<dl class="part">
											<dt><a href="#">도시환경국</a></dt>
											<dd>
												<ul>
													<li><a href="#">안전건설과</a></li>
													<li><a href="#">지역재생과</a></li>
													<li><a href="#">시범마을조성과</a></li>
													<li><a href="#">환경과</a></li>
													<li><a href="#">산림과</a></li>
												</ul>
											</dd>
										</dl>
									</div>
								</div>

								<h3 class="heading-h3 mt35">의회</h3>
								<div class="organization-box">
									<div class="group">
										<h4 class="tit"><a href="#">의회사무과</a></h4>
										<ul class="lst">
											<li><a href="#"><span>전문위원</span></a></li>
											<li><a href="#"><span>의 사</span></a></li>
										</ul>
									</div>
								</div>

								<h3 class="heading-h3 mt40">직속기관, 사업소</h3>
								<div class="organization-box">
									<div class="group">
										<h4 class="tit"><a href="#">보건소</a></h4>
										<ul class="lst">
											<li><a href="#"><span>보건행정</span></a></li>
											<li><a href="#"><span>예방의약</span></a></li>
											<li><a href="#"><span>질병관리</span></a></li>
											<li><a href="#"><span>건강증진</span></a></li>
											<li><a href="#"><span>방문보건</span></a></li>
											<li><a href="#"><span>출산지원</span></a></li>
											<li><a href="#"><span>감영병관리</span></a></li>
											<li><a href="#"><span>치매안심센터</span></a></li>
											<li><a href="#"><span>보건위생</span></a></li>
											<li><a href="#"><span>보건지소</span></a></li>
											<li><a href="#"><span>보건진료소</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">농업기술센터</a></h4>
										<ul class="lst">
											<li><a href="#"><span>농촌지도과</span></a></li>
											<li><a href="#"><span>기술보급과</span></a></li>
											<li><a href="#"><span>농업기술센터지소</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">시설관리사업소</a></h4>
										<ul class="lst">
											<li><a href="#"><span>관 리</span></a></li>
											<li><a href="#"><span>운 영</span></a></li>
											<li><a href="#"><span>공원관리</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">의성조문국박물관</a></h4>
										<ul class="lst">
											<li><a href="#"><span>관 리</span></a></li>
											<li><a href="#"><span>학 예</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">상하수도사업소</a></h4>
										<ul class="lst">
											<li><a href="#"><span>관 리</span></a></li>
											<li><a href="#"><span>상수도</span></a></li>
											<li><a href="#"><span>하수도</span></a></li>
											<li><a href="#"><span>시설운영</span></a></li>
										</ul>
									</div>
								</div>
								
								<h3 class="heading-h3 mt40">읍면</h3>
								<div class="organization-box">
									<div class="group">
										<h4 class="tit"><a href="#">의성읍</a></h4>
										<ul class="lst">
											<li><a href="#"><span>총무관리</span></a></li>
											<li><a href="#"><span>재 무</span></a></li>
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>맞춤형복지</span></a></li>
											<li><a href="#"><span>민원관리</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
											<li><a href="#"><span>건설행정</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">단촌면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>총무관리</span></a></li>
											<li><a href="#"><span>맞춤형복지</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">점곡면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">옥산면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">사곡면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">춘산면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">가음면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">금성면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>총무재정</span></a></li>
											<li><a href="#"><span>맞춤형복지</span></a></li>
											<li><a href="#"><span>민원관리</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">봉양면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>총무재정</span></a></li>
											<li><a href="#"><span>맞춤형복지</span></a></li>
											<li><a href="#"><span>민원관리</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">비안면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">구천면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">단밀면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">단북면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>주민생활</span></a></li>
											<li><a href="#"><span>민원재정</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">안계면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>총무재정</span></a></li>
											<li><a href="#"><span>맞춤형복지</span></a></li>
											<li><a href="#"><span>민원관리</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>

									<div class="group">
										<h4 class="tit"><a href="#">다인면</a></h4>
										<ul class="lst">
											<li><a href="#"><span>총무재정</span></a></li>
											<li><a href="#"><span>맞춤형복지</span></a></li>
											<li><a href="#"><span>민원관리</span></a></li>
											<li><a href="#"><span>산업경제</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>