<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>행사안내 &lt; 열린군정 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="board-event"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">행사안내</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- 탭 -->
								<ul role="tablist" class="comp-tab" aria-label="행사안내">
									<li role="presentation"><a href="#tabcont1" role="tab" aria-controls="tabcont1" aria-selected="true"><span>월간</span></a></li>
									<li role="presentation"><a href="#tabcont2" role="tab" aria-controls="tabcont2"><span>주간</span></a></li>
									<li role="presentation"><a href="#tabcont3" role="tab" aria-controls="tabcont3"><span>일간</span></a></li>
								</ul>
								<!--// 탭 -->

								<!-- 탭 컨텐츠 -->
								<div class="tab-contents">
									<!-- 월간 -->
									<div id="tabcont1" role="tabpanel" class="tab-cont">
										<div class="oftoday_navigation">
											<h4 class="month">2019년 3월</h4>
											<p class="position-prev"><button type="button" class="comm-btn_prev"><span>이전 달로 이동</span></button></p>
											<p class="position-next"><button type="button" class="comm-btn_next"><span>다음 달로 이동</span></button></p>
										</div>
										<ul class="flag-lst">
											<li><em class="flag refresh">R</em>휴관일</li>
											<li><em class="flag event">E</em>행사일정</li>
											<li><em class="flag movie">M</em>영화상영</li>
											<li><em class="flag culture">L</em>문화강좌</li>
										</ul>
										<div class="scrollzone">
											<div class="scrollzoneinner">
												<table class="calander_tbl">
													<caption>행사안내(월간) - 일요일, 월요일, 화요일, 수요일, 목요일, 금요일, 토요일</caption>
													<colgroup>
														<col span="7">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">일요일</th>
															<th scope="col">월요일</th>
															<th scope="col">화요일</th>
															<th scope="col">수요일</th>
															<th scope="col">목요일</th>
															<th scope="col">금요일</th>
															<th scope="col">토요일</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
															<td>
																<span class="day">1</span>
																<ul class="lst">
																	<li><em class="flag culture">L</em>3.1절 기념 조찬기 도회</li>
																	<li><em class="flag culture">L</em>제100주년 3.1절 항일독립운</li>
																</ul>
															</td>
															<td>
																<span class="day">2</span>
															</td>
														</tr>
														<tr>
															<td>
																<span class="day">3</span>
															</td>
															<td>
																<span class="day">4</span>
															</td>
															<td>
																<span class="day">5</span>
																<ul class="lst">
																	<li><em class="flag event">E</em>3.1절 기념 조찬기 도회</li>
																</ul>
															</td>
															<td>
																<span class="day">6</span>
																<ul class="lst">
																	<li><em class="flag refresh">R</em>3.1절 기념 조찬기 도회</li>
																</ul>
															</td>
															<td>
																<span class="day">7</span>
																<ul class="lst">
																	<li><em class="flag movie">M</em>3.1절 기념 조찬기 도회</li>
																</ul>
															</td>
															<td>
																<span class="day">8</span>
															</td>
															<td>
																<span class="day">9</span>
																<ul class="lst">
																	<li><em class="flag culture">L</em>3.1절 기념 조찬기 도회</li>
																</ul>
															</td>
														</tr>
														<tr>
															<td>
																<span class="day">10</span>
															</td>
															<td>
																<span class="day">11</span>
															</td>
															<td>
																<span class="day">12</span>
															</td>
															<td>
																<span class="day">13</span>
															</td>
															<td class="today">
																<span class="day">14</span>
																<ul class="lst">
																	<li><em class="flag culture">L</em>3.1절 기념 조찬기 도회</li>
																</ul>
															</td>
															<td>
																<span class="day">15</span>
															</td>
															<td>
																<span class="day">16</span>
															</td>
														</tr>
														<tr>
															<td>
																<span class="day">17</span>
															</td>
															<td>
																<span class="day">18</span>
															</td>
															<td>
																<span class="day">19</span>
															</td>
															<td>
																<span class="day">20</span>
															</td>
															<td>
																<span class="day">21</span>
															</td>
															<td>
																<span class="day">22</span>
															</td>
															<td>
																<span class="day">23</span>
															</td>
														</tr>
														<tr>
															<td>
																<span class="day">24</span>
															</td>
															<td>
																<span class="day">25</span>
															</td>
															<td>
																<span class="day">26</span>
															</td>
															<td>
																<span class="day">27</span>
															</td>
															<td>
																<span class="day">28</span>
															</td>
															<td>
																<span class="day">29</span>
															</td>
															<td>
																<span class="day">30</span>
															</td>
														</tr>
														<tr>
															<td>
																<span class="day">31</span>
															</td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- 주간 -->
									<div id="tabcont2" role="tabpanel" class="tab-cont" style="display: none">
										<div class="oftoday_navigation">
											<h4 class="month">2019년 3월 10일 ~ 3월 16일</h4>
											<p class="position-prev"><button type="button" class="comm-btn_prev"><span>이전 주로 이동</span></button></p>
											<p class="position-next"><button type="button" class="comm-btn_next"><span>다음 주로 이동</span></button></p>
										</div>
										<div class="scrollzone">
											<div class="scrollzoneinner">
												<table class="calander_tbl">
													<caption>행사안내(주간)</caption>
													<colgroup>
														<col span="7">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">2019-03-10</th>
															<th scope="col">2019-03-11</th>
															<th scope="col">2019-03-12</th>
															<th scope="col">2019-03-13</th>
															<th scope="col">2019-03-14</th>
															<th scope="col">2019-03-15</th>
															<th scope="col">2019-03-16</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td></td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">협회장배 클럽대항 테니스대회 및 협회장 이취임식</div>
																<div class="event-group">비안향교</div>
															</td>
														</tr>
														<tr>
															<td></td>
															<td>
																<div class="event-name">[안계면 용기지역 도시 재생 뉴딜사업] 활 성화 계획수립용역 착수보고회</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td>
																<div class="event-name">비안향교 춘계 석전 대제</div>
																<div class="event-group">비안향교</div>
															</td>
															<td></td>
															<td></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- 일간 -->
									<div id="tabcont3" role="tabpanel" class="tab-cont" style="display:none">
										<div class="oftoday_navigation">
											<h4 class="month">2019년 3월 13일 (수요일)</h4>
											<p class="position-prev"><button type="button" class="comm-btn_prev"><span>이전 일로 이동</span></button></p>
											<p class="position-next"><button type="button" class="comm-btn_next"><span>다음 일로 이동</span></button></p>
										</div>
										<table class="calander_tbl">
											<caption>행사안내(일간) - 시간, 행사 제목, 장소</caption>
											<colgroup>
												<col style="width:100px">
												<col>
												<col style="width:21%">
											</colgroup>
											<thead>
												<tr>
													<th scope="col">시간</th>
													<th scope="col">행사 제목</th>
													<th scope="col">장소</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>16 : 00</td>
													<td> <div class="event-title">「안계면 용기지역 도시재생 뉴딜사업」 활성화계획수립용역 착수보고회</div> </td>
													<td> 안계면사무소 </td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!--// 탭 컨텐츠 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>