
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>상세 &lt; 설문조사 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="tp-survey-view"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>행정정보</span></a></h2>
									<div class="smallmenu" style="display:block;">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>행정정보목록리스트</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">설문조사</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<h3 class="board-title">정보통신공사 착공전 설계도 확인</h3>
								<table class="comp-tbl_datatype">
									<caption>게시판 상세 - 시작일, 종료일, 작성자수, 설문조사 내용</caption>
									<colgroup>
										<col style="width:13%">
										<col>
										<col style="width:13%">
										<col>
										<col style="width:13%">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th scope="row">시작일</th>
											<td>2018-01-01</td>
											<th scope="row">종료일</th>
											<td>2019-01-01</td>
											<th scope="row">조회수</th>
											<td>1234</td>
										</tr>
											<tr><td colspan="6">
												<div class="bd-content">
													<!-- 내용 영역 -->
													<div class="view-list">
														<h4 class="tit"><span class="num">1</span>성별</h4>
														<!-- 피씨 일때 라디오 영역 -->
														<div class="transverse pc">
															<span class="comp-radio_big"><input type="radio" name="pc_no1" id="pc_no1_1" checked="checked"><label for="pc_no1_1"><em class="txt">남성</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no1" id="pc_no1_2"><label for="pc_no1_2"><em class="txt">여성</em></label></span>
														</div>
														<!-- // 피씨 일때 라디오 영역 -->
														<!-- 모바일 일때 라디오 영역 -->
														<div class="vertical m">
															<span class="comp-radio_big"><input type="radio" name="m_no1" id="m_no1_1" checked="checked"><label for="m_no1_1"><em class="txt">남성</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="m_no1" id="m_no1_2"><label for="m_no1_2"><em class="txt">여성</em></label></span>
														</div>
														<!-- // 모바일 일때 라디오 영역 -->
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">2</span>연령</h4>
														<!-- 피씨 일때 라디오 영역 -->
														<div class="transverse pc">
															<span class="comp-radio_big"><input type="radio" name="pc_no2" id="pc_no2_1" checked="checked"><label for="pc_no2_1"><em class="txt">10 ~ 19</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no2" id="pc_no2_2"><label for="pc_no2_2"><em class="txt">20 ~ 29</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no2" id="pc_no2_3"><label for="pc_no2_3"><em class="txt">30 ~ 39</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no2" id="pc_no2_4"><label for="pc_no2_4"><em class="txt">40 ~ 49</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no2" id="pc_no2_5"><label for="pc_no2_5"><em class="txt">50세 이상</em></label></span>
														</div>
														<!-- // 피씨 일때 라디오 영역 -->
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">3</span>최종학력</h4>
														<!-- 피씨 일때 라디오 영역 -->
														<div class="transverse pc">
															<span class="comp-radio_big"><input type="radio" name="pc_no3" id="pc_no3_1" checked="checked"><label for="pc_no3_1"><em class="txt">초등 ~ 중졸</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no3" id="pc_no3_2"><label for="pc_no3_2"><em class="txt">초등 ~ 고졸</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no3" id="pc_no3_3"><label for="pc_no3_3"><em class="txt">전문대 졸업</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no3" id="pc_no3_4"><label for="pc_no3_4"><em class="txt">대학교 졸업</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no3" id="pc_no3_5"><label for="pc_no3_5"><em class="txt">대학원 이상</em></label></span>
														</div>
														<!-- // 피씨 일때 라디오 영역 -->
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">4</span>혼인여부</h4>
														<!-- 피씨 일때 라디오 영역 -->
														<div class="transverse pc">
															<span class="comp-radio_big"><input type="radio" name="pc_no4" id="pc_no4_1" checked="checked"><label for="pc_no4_1"><em class="txt">기혼</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no4" id="pc_no4_2"><label for="pc_no4_2"><em class="txt">미혼</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no4" id="pc_no4_3"><label for="pc_no4_3"><em class="txt">재혼</em></label></span>
														</div>
														<!-- // 피씨 일때 라디오 영역 -->
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">5</span>의성군 지역발전과 의성군민의 삶의 질 향상을 위해 다음 중 우선적으로 투자해야 한다고 생각 되시는 분야를 선택하여 주시기 바랍니다.</h4>
														<div class="vertical">
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_1" checked="checked"><label for="no5_1"><em class="txt">공공질서및안전(재난방재&middot;민방위) </em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_2" checked="checked"><label for="no5_2"><em class="txt">교육(유아 및 초중등교육, 고등교육, 평생&middot;직업교육 등) </em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_3" checked="checked"><label for="no5_3"><em class="txt">문화및관광(문화예술, 관광, 체육, 문화재 등)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_4" checked="checked"><label for="no5_4"><em class="txt">환경보호(상하수도&middot;수질, 폐기물, 대기, 자연 등)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_5" checked="checked"><label for="no5_5"><em class="txt">사회복지(기초생활보장, 취약계층지원, 보육&middot;가족 및 여성, 노인, 주택 등)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_6" checked="checked"><label for="no5_6"><em class="txt">보건(보건의료, 식품의약안전)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_7" checked="checked"><label for="no5_7"><em class="txt">농림해양수산(농업&middot;농촌, 임업&middot;산촌, 해양수산&middot;어촌)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_8" checked="checked"><label for="no5_8"><em class="txt">산업중소기업(산업금융지원, 산업기술지원, 무역 및 투자유치 등)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_9" checked="checked"><label for="no5_9"><em class="txt">수송및교통(도로, 도시철도, 해운&middot;항만, 항공&middot;공항, 대중교통&middot;물류 등)</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no5" id="no5_10" checked="checked"><label for="no5_10"><em class="txt">국토및지역개발(수자원, 지역 및 도시, 산업단지)</em></label></span>
														</div>
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">6</span>〔공공질서 및 안전분야〕에서 우선적으로 투자해야 할 분야를 아래 항목에서 1개만 선택하여 주시기 바랍니다.</h4>
														<div class="vertical">
															<span class="comp-radio_big"><input type="radio" name="no6" id="no6_1" checked="checked"><label for="no6_1"><em class="txt">비상시설 및 방재장비 보강</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no6" id="no6_2" checked="checked"><label for="no6_2"><em class="txt">민방위 활성화</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no6" id="no6_3" checked="checked"><label for="no6_3"><em class="txt">의용소방대 활성화</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no6" id="no6_4" checked="checked"><label for="no6_4"><em class="txt">방재목적의 소하천정비사업</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="no6" id="no6_5" checked="checked"><label for="no6_5"><em class="txt">재해위험지구정비사업</em></label></span>
														</div>
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">7</span>교육만족도 - 강좌시간</h4>
														<!-- 피씨 일때 라디오 영역 -->
														<div class="transverse pc">
															<span class="comp-radio_big"><input type="radio" name="pc_no7" id="pc_no7_1" checked="checked"><label for="pc_no7_1"><em class="txt">매우불만족</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no7" id="pc_no7_2"><label for="pc_no7_2"><em class="txt">불만족</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no7" id="pc_no7_3"><label for="pc_no7_3"><em class="txt">보통</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no7" id="pc_no7_4"><label for="pc_no7_4"><em class="txt">만족</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no7" id="pc_no7_5"><label for="pc_no7_5"><em class="txt">매우만족</em></label></span>
														</div>
														<!-- // 피씨 일때 라디오 영역 -->
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">8</span>교육만족도 - 강좌 장소</h4>
														<!-- 피씨 일때 라디오 영역 -->
														<div class="transverse pc">
															<span class="comp-radio_big"><input type="radio" name="pc_no8" id="pc_no8_1" checked="checked"><label for="pc_no8_1"><em class="txt">매우불만족</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no8" id="pc_no8_2"><label for="pc_no8_2"><em class="txt">불만족</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no8" id="pc_no8_3"><label for="pc_no8_3"><em class="txt">보통</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no8" id="pc_no8_4"><label for="pc_no8_4"><em class="txt">만족</em></label></span>
															<span class="comp-radio_big"><input type="radio" name="pc_no8" id="pc_no8_5"><label for="pc_no8_5"><em class="txt">매우만족</em></label></span>
														</div>
														<!-- // 피씨 일때 라디오 영역 -->
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">9</span>강좌일정(기간, 시간) 선정에 있어서 답할 경우 적절한 교육기간과 시간은 무엇이라 생각하십니까?</h4>
														<div class="comp-input_wrap"><label for="no9" class="txt">교육기간/시간</label><input type="text" id="no9" class="comp-input_h42"></div>
													</div>
													<div class="view-list">
														<h4 class="tit"><span class="num">10</span>강좌내용과 강사의 선정에 있어서 답할 경우 그 사유를 적어 주시기 바랍니다.(30자내외)</h4>
														<textarea name="" id="" cols="1" rows="1" title="내용 입력" class="comp-textarea mt25 ml20" placeholder="내용을 입력해주세요."></textarea>
													</div>
													<!-- //내용 영역 -->
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="comp-btn-zone">
									<a href="#" class="comm-btn_type3_lightorange"><span>설문조사 반영하기</span></a>
									<div class="l-right">
										<a href="#" class="comm-btn_type3 comm-btn_golist2"><span>목록으로</span></a>
									</div>
								</div>
								<ul class="comp-page-move">
									<li>
										<div class="txt up">상단글</div>
										<div class="cont">
											<a href="#">자동차 이전등록 신청서</a>
										</div>
									</li>
									<li>
										<div class="txt down">하단글</div>
										<div class="cont">
											<a href="#">공인중개사 자격증 중개사무소 등록증·분사무소설치 신고필증 재교부신청</a>
										</div>
									</li>
								</ul>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>