<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성안내 &lt; 상징 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="emblem"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->
					
					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->
					
					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">행정정보/개방</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<h3 class="heading-h3">군기</h3>
								<div class="military-wrap">
									<div class="img-area">
										<div class="img-inner">
											<div class="img">
												<img src="../../static/images/usc/subpage/img_emblem_militar.gif" alt="의성군">
											</div>
										</div>
									</div>
									<div class="info-area">
										<h4 class="heading-h4 mt0">바탕</h4>
										<p class="comp-lst_dotted">밤색M</p>
										<h4 class="heading-h4">마크</h4>
										<p class="comp-lst_dotted">금색(글씨 포함)</p>
										<h4 class="heading-h4">수술</h4>
										<ul class="comp-lst_dotted">
											<li>
												금색
												<ul class="comp-lst_hyphen">
													<li>깃 면의 길이와 너비는 3:2의 비례로 하되 표준규격은 길이 120㎝, 너비 80㎝로 한다.</li>
													<li>약기는 필요에 따라 적정한 색체와 동일한 비례로 축소 또는 확대하여 사용할 수 있다.</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>

								<h3 class="heading-h3">심벌마크 의미설정</h3>
								<div class="symbol-wrap">
									<div class="symbol-info">
										<ul>
											<li>녹색<br>Green</li>
											<li>붉은색<br>Red</li>
											<li>황금색<br>Gold</li>
										</ul>
										<a href="#" title="새창으로 열림" target="_blank" class="comm-btn_type4_deeporange comm-btn_download2"><span>심벌마크 일러스트(AI)<br class="m"> 다운로드</span></a>
									</div>
									<div class="info-area">
										<h4 class="heading-h4 mt0">전체적인 형상</h4>
										<p class="comp-lst_dotted">넓은 우리 의성군의 군세와 일성일화(<span class="chinese">一城一和</span>) 정신으로 하나되어 21세기에 경북의 중심지로서 경북을 선도하는 으뜸 의성, 웅군 의성으로 우뚝 서자는 미래지향적인 사고를 안정된 타원과 우뚝 솟은 산의 이미지로 의성의 'ㅇ'과 'ㅅ'을 형상화하여 상징적으로 표현함.</p>
										<h4 class="heading-h4">타원</h4>
										<p class="comp-lst_dotted">지역과 의성인의 너그럽고 깊은 마음을 의성의 'ㅇ'을 형상화함.</p>
										<h4 class="heading-h4">중심부의 돌출현상</h4>
										<p class="comp-lst_dotted">21세기 『살기좋은 의성』은 경북의 중심으로 우뚝선다는 미래지향적인 사고와 모든 것은 웅군 의성으로 통한다는 새천년의 문을 의성의 'ㅅ'을 형상화하여 표현하였다.</p>
										<h4 class="heading-h4">녹색(GREEN)</h4>
										<p class="comp-lst_dotted">생명산업인 농업을 의미하면서 동시에 청정 의성을 나타냄</p>
										<h4 class="heading-h4">붉은색(RED)</h4>
										<p class="comp-lst_dotted">의성의 특산품인 사과, 고추의 결실과 할 일 많은 의성을 위해 함께 뛰는 군민의 열정을 나타냄.</p>
										<h4 class="heading-h4">황금색(GOLD)</h4>
										<p class="comp-lst_dotted">황금들녘의 색을 표현함.</p>
									</div>
								</div>

								<h3 class="heading-h3">캐릭터</h3>
								<div class="char-wrap">
									<div class="info-area">
										<h4 class="heading-h4">군의 캐릭터 : 의동이</h4>
										<ul class="comp-lst_dotted">
											<li>의성군 캐릭터는 의성의 특산물 마늘을 형상화시킨 것이며, 미래에 대한 도전 및 진취적인 기상을 표현하였고, 경북의 중심으로 우뚝서는 의성군의 도전과, 개척정신을 함축하여 강인한 의성군을 의미.</li>
											<li>친절한 서비스와 투철한 봉사정신으로 의성군을 대표적으로 상징하는 캐릭터임.</li>
										</ul>
										<a href="#" title="새창으로 열림" target="_blank" class="comm-btn_type4_deeporange comm-btn_download2"><span>의동이 일러스트(AI)<br class="m"> 다운로드</span></a>
									</div>
								</div>

								<div class="bro-wrap">
									<ul>
										<li class="bro01">
											<a href="#" class="comm-btn_type4_brown" target="_blank"  title="새창으로 열림"><span>장남 의성황토쌀<br class="m"> 다운로드</span></a>
										</li>
										<li class="bro02">
											<a href="#" class="comm-btn_type4_brown" target="_blank"  title="새창으로 열림"><span>차남 의성옥사과<br class="m"> 다운로드</span></a>
										</li>
										<li class="bro03">
											<a href="#" class="comm-btn_type4_brown" target="_blank"  title="새창으로 열림"><span>삼남 의성마늘<br class="m"> 다운로드</span></a>
										</li>
										<li class="bro04">
											<a href="#" class="comm-btn_type4_brown" target="_blank"  title="새창으로 열림"><span>사남 의성청결고추<br class="m"> 다운로드</span></a>
										</li>
										<li class="bro05">
											<a href="#" class="comm-btn_type4_brown" target="_blank"  title="새창으로 열림"><span>오남 의성자두<br class="m"> 다운로드</span></a>
										</li>
									</ul>
									<a href="#" title="새창으로 열림" target="_blank" class="comm-btn_type4_deeporange comm-btn_download2"><span>의로운 5형제(JPG) 다운로드</span></a>
								</div>
								
								<div class="plants-wrap">
									<h3 class="heading-h3">군화, 군목, 군조</h3>
									<h4 class="heading-h4">군의 꽃 : 산수유꽃</h4>
									<p class="comp-lst_dotted mt15 ml10">노란 산수유꽃은 ‘영원불멸의 사랑’이란 꽃말을 가지고 있어 지역에 대한 애틋한 사랑과 군민의 온화한 성품을 상징함.</p>
									<h4 class="heading-h4 mt25">군의 나무 : 느티나무</h4>
									<p class="comp-lst_dotted mt15 ml10">번식력이 강하며 거목이고 장수목이므로 군민의 전통과 번영을 상징</p>
									<h4 class="heading-h4 mt25">군의 새 : 왜가리</h4>
									<p class="comp-lst_dotted mt15 ml10">풍요를 상징하는 길조로서 품위가 있고 평화적이어서 웅군 의성의 상징.</p>
								</div>

								<div class="brand-wrap">
									<h3 class="heading-h3">공동(통합)브랜드</h3>
									<div class="img-area">
										<div class="img-inner">
											<div class="img">
												<img src="../../static/images/usc/subpage/img_emblem_brand.png" alt="의성 眞">
											</div>
										</div>
									</div>
									<div class="info-area">
										<h4 class="heading-h4">참다운 농산물, 진정한 농산물, 거짓이 없는, 신뢰성이 있는, 품질이 우수한 농산물을 의미</h4>
										<ul class="comp-lst_dotted">
											<li>'ㅇ' : 의성 고을에 따스한 기운을 머금고 내리쬐는 태양</li>
											<li>'ㅡ' : 의성의 비옥한 토양</li>
											<li>태백산맥과 낙동강 사이에 위치한 의성의 지리적 특성과 청정한 자연 속에 비옥한 토양과 맑은 물을 품고 자란 참으로 좋은 의성 농산물의 환경적 특성 상징</li>
										</ul>
									</div>
									<a href="#" title="새창으로 열림" target="_blank" class="comm-btn_type4_deeporange-btn_download2"><span>의성진(AI) 다운로드</span></a>
								</div>
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
							
							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>