<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>민원모니터이해 &lt; 전자민원 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="service-monitor"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>행정정보</span></a></h2>
									<div class="smallmenu" style="display:block;">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>행정정보목록리스트</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">민원모니터 이해</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<h3 class="heading-h3">민원모니터의 이해</h3>
								<h4 class="heading-h4">민원모니터란?</h4>
								<p class="comp-lst_dotted">민원제도 개선 사항 제안 및 각종 시책 홍보, 민원 해결 방안 모색 등의 역할을 하는 자원봉사자</p>
								<h4 class="heading-h4">역할과 기능</h4>
								<p class="comp-lst_dotted">on-Line 또는 off-Line을 통해 다양한 시민의 소리를 수렴 군정에 반영토록 하여 시민들의 시정 참여 기회와 고품질 민원행정 서비스를 제공하기 위한 기능을 담당</p>
								<ul class="comp-lst_hyphen">
									<li>민원시책 모니터 후 제도개선 사항 발굴 ․건의</li>
									<li>군민 불편사항의 해결방안 또는 대안제시</li>
									<li>군민의 미담사례, 여론 등을 수렴 후 통보</li>
									<li>각종 민원시책을 군민 대상 홍보</li>
								</ul>
								<h3 class="heading-h3">민원모니터 운영 계획</h3>
								<h4 class="heading-h4">현 황 : 14명</h4>
								<table class="comp-tbl_datatype">
									<caption>민원모니터 운영계획의 성별, 지역별 명수 제공</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="colgroup" colspan="2">성 별</th>
											<th scope="colgroup" colspan="5">지 역 별</th>
										</tr>
										<tr>
											<th scope="col">남</th>
											<th scope="col">여</th>
											<th scope="col">의성</th>
											<th scope="col">가음</th>
											<th scope="col">비안</th>
											<th scope="col">단북</th>
											<th scope="col">안계</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>3</td>
											<td>11</td>
											<td>9</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</tbody>
								</table>
								<h4 class="heading-h4">임 기 : 2016. 1. 28 ~ 2017. 12 .31 (2년)</h4>
								<h4 class="heading-h4">운영 방법</h4>
								<ul class="comp-lst_hyphen">
									<li>제안 사항 : 관련부서 검토 후 반영 또는 상급기관 건의 후 결과 통보</li>
									<li>건의 사항 : 소관 부서에 통보하여 처리 후 결과 통보</li>
									<li>처리 흐름도
										<ol class="flow-chart">
											<li><span>주민불편, 여론,<br>제안사항<strong>민원모니터</strong></span></li>
											<li><span>접수 및<br>처리부서 통보<strong>종합민원실</strong></span></li>
											<li><span>검토 및 <br>처리결과 통보<strong>처리부서</strong></span></li>
										</ol>
									</li>
								</ul>
								<h4 class="heading-h4">민원모니터 활동 방법</h4>
								<ul class="comp-lst_hyphen">
									<li>민원시책 모니터 후 제도개선 사항 발굴·건의</li>
									<li>군민 불편사항의 해결방안 또는 대안 제시</li>
									<li>군민의 미담사례, 여론 등을 수렴</li>
									<li>민원시책 홍보
										<ul class="comp-lst_dotted_small">
											<li>군에서 홍보대상 시책을 모니터방 공지사항에 게재</li>
											<li>모니터는 모니터방 공지사항 확인 후 군민 대상 홍보</li>
										</ul>
									</li>
								</ul>
								<h4 class="heading-h4">향후 활동 지원 계획</h4>
								<p class="comp-lst_dotted">모니터 역량 강화</p>
								<ul class="comp-lst_hyphen">
									<li>간담회 : 연 2회(10월)</li>
									<li>우수기관 비교견학 : 연 1회 정도(추후 계획)</li>
								</ul>
								<p class="comp-lst_dotted">활동 우수자 인센티브</p>
								<ul class="comp-lst_hyphen">
									<li>표 창(군수) : 활동 우수자</li>
									<li>자원봉사 활동실적 마일리지 부여
										<ul class="comp-lst_dotted_small">
											<li>주기 : 수시</li>
											<li>부여방법 : 민원 시책 제안 1건당 2시간 / 주민불편 건의 1건당 1시간</li>
										</ul>
									</li>
								</ul>

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>