<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>수급자선정기준 &lt; 기초생활보장 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="criteria"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" class="open"><span>행정정보</span></a></h2>
									<div class="smallmenu" style="display:block;">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">기초생활보장</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab"><span>보장절차</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content" aria-selected="true"><span>수급자선정기준</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab"><span>조사내용</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>급여수준</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>보장시설</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>취약계층특별보호대책</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>각종감면제도안내</span></a></li>
									<li role="presentation"><a href="#" role="tab"><span>최저생계비</span></a></li>
								</ul>

								<div id="tab-content" role="tabpanel">
									<h3 class="heading-h3">소득인정액 기준</h3>
									<h4 class="heading-h4">기준</h4>
									<p class="comp-lst_dotted"><span class="cont">수급권자 가구의 소득인정액이 가구별 최저생계비 이하인 경우</span></p>
									<h4 class="heading-h4">신청방법</h4>
									<ul class="comp-lst_dotted">
										<li><div class="cont">신청대상 : 수급자의 가구의 가구원 및 친척, 기타 관계인</div></li>
										<li><div class="cont">신청기간 : 연중 수시 접수</div></li>
										<li><div class="cont">신청장소 : 주민등록상 주소지 읍.면사무소</div></li>
										<li><div class="cont">구비서류 : 사회복지서비스 및 급여제공(변경)신청서, 금융정보 등 제공동의서, 전월세계약서 등</div></li>
									</ul>
									<h4 class="heading-h4">수급자선정기준</h4>
									<p class="comp-lst_dotted"><span class="cont">2016년 기준중위소득 및 가구규모별· 급여종류별 선정기준</span></p>
									<div class="scrollzone">
										<div class="scrollzoneinner">
											<table class="comp-tbl_datatype">
												<caption>수급자산정기준 - 기간, 1인가구, 2인가구, 3인가구, 4인가구, 5인가구, 6인가구, 7인가구</caption>
												<colgroup>
													<col style="width:20%">
													<col span="7">
												</colgroup>
												<thead>
													<tr>
														<th scope="col">기간</th>
														<th scope="col">1인가구</th>
														<th scope="col">2인가구</th>
														<th scope="col">3인가구</th>
														<th scope="col">4인가구</th>
														<th scope="col">5인가구</th>
														<th scope="col">6인가구</th>
														<th scope="col">7인가구</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row" class="bg-none">2016년 기준중위소득</th>
														<td>1,624,831</td>
														<td>2,766,603</td>
														<td>3,579,019</td>
														<td>4,391,434</td>
														<td>5,203,849</td>
														<td>6,016,265</td>
														<td>6,828,680</td>
													</tr>
													<tr>
														<th scope="row" class="bg-none">생계급여 수급자 선정기준<br>(기준중위소득 29%이하)</th>
														<td>471,201</td>
														<td>802,315</td>
														<td>1,037,916</td>
														<td>1,273,516</td>
														<td>1,509,116</td>
														<td>1,744,717</td>
														<td>1,980,317</td>
													</tr>
													<tr>
														<th scope="row" class="bg-none">의료급여 수급자 선정기준<br>(기준중위소득 40%이하)</th>
														<td>649,932</td>
														<td>1,106,642</td>
														<td>1,431,608</td>
														<td>1,756,574</td>
														<td>2,081,540</td>
														<td>2,406,506</td>
														<td>2,731,473</td>
													</tr>
													<tr>
														<th scope="row" class="bg-none">주거급여 수급자 선정기준<br>(기준중위소득 43%이하)</th>
														<td>698,677</td>
														<td>1,189,640</td>
														<td>1,538,978</td>
														<td>1,888,317</td>
														<td>2,237,656</td>
														<td>2,586,994</td>
														<td>2,936,333</td>
													</tr>
													<tr>
														<th scope="row" class="bg-none">교육급여수급자 선정기준<br>(기준중위소득 50%이하)</th>
														<td>812,415</td>
														<td>1,383,302</td>
														<td>1,789,509</td>
														<td>2,195,717</td>
														<td>2,601,925</td>
														<td>3,008,132</td>
														<td>3,414,340</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<p class="comp-lst_important point2">※ 8인 이상 가구의 급여별 선정기준 : 1인 증가시마다 7인가구 기준과 6인가구 기준의 차이를 7인가구 기준에 더하여 산정</p>
									<h4 class="heading-h4">급여지원</h4>
									<h5 class="comp-lst_dotted">생계급여</h5>
									<p class="comp-lst_hyphen">수급자에게 의복.음식물 및 연료비, 기타 일상생활에 기본적으로 필요한 금품을 지급 (생계급여 기준에서 가구의 소득인정액을 차감하여 산정한 금액을 매월 20일 계좌입금)</p>
									<h5 class="comp-lst_dotted">생계급여 지급기준</h5>
									<div class="scrollzone">
										<div class="scrollzoneinner">
											<table class="comp-tbl_datatype">
												<caption>생계급여 지급기준 - 1인가구, 2인가구, 3인가구, 4인가구, 5인가구, 6인가구, 7인가구</caption>
												<colgroup>
													<col span="7">
												</colgroup>
												<thead>
													<tr>
														<th scope="col">1인가구</th>
														<th scope="col">2인가구</th>
														<th scope="col">3인가구</th>
														<th scope="col">4인가구</th>
														<th scope="col">5인가구</th>
														<th scope="col">6인가구</th>
														<th scope="col">7인가구</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>471,201</td>
														<td>802,315</td>
														<td>1,037,916</td>
														<td>1,273,516</td>
														<td>1,509,116</td>
														<td>1,744,717</td>
														<td>1,980,317</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<h5 class="comp-lst_dotted">교육급여(교육청에서 지원)</h5>
									<ul class="comp-lst_hyphen">
										<li>입학금, 수업료 : 고등학생 ⁄ 학교장이 고지한 금액</li>
										<li>교과서대 : 고등학생 ⁄ 연 1회 131,300원</li>
										<li>부교재비 : 초v중학생 ⁄ 연 1회 39,200원</li>
										<li>학용품비 : 중∙고등학생 ⁄ 연 2회 1인당 53,300원(1회 26,650원)</li>
									</ul>
									<h5 class="comp-lst_dotted">해산&middot;장재급여</h5>
									<ul class="comp-lst_hyphen">
										<li>해산급여 : 1인당 60만원 지원(쌍둥이 출산시 120만원)</li>
										<li>장제급여 : 1구당 75만원 지원</li>
									</ul>
									<h5 class="comp-lst_dotted">의료급여 : 가구 내 근로능력 여부에 따라 1종, 2종 의료급여 대상자로 구분 지원</h5>
									<ul class="comp-lst_hyphen">
										<li>1종 수급자 : 근로무능력세대, 타법의료급여수급자, 행려환자</li>
										<li>2종 수급자 : 1종 수급대상이 아닌 가구(근로능력세대)</li>
									</ul>
									<h5 class="comp-lst_dotted">의료급여 틀니 및 임플란트지원 : 만65세 이상 의료급여수급자 </h5>
									<ul class="comp-lst_hyphen">
										<li>본인부담 : 의료급여 1종 20% ⁄ 의료급여 2종 30%</li>
										<li>급여조건 : 7년 주기로 1회 적용 ⁄ 중복급여 금지(보건소 및 건강보험공단 지원 포함)</li>
										<li>신청방법 : 치과에서 “등록신청서”를 발급받아 관할 시청 및 읍면동사무소에 제출</li>
									</ul>
									<h4 class="heading-h4">소득인정액 산정방식</h4>
									<div class="comp-txt_box">
										<p>소득인정액 = 소득평가액 + 재산의 소득환산액</p>
										<ul class="comp-lst_important">
											<li>소득평가액 = (실제소득 - 가구특성별 지출비용 - 근로소득공제)</li>
											<li>재산의 소득환산액- [(재산 - 기본재산액 - 부채) X 소득환산율] </li>
										</ul>
									</div>
									<h3 class="heading-h3">소득인정액 산정방식</h3>
									<h4 class="heading-h4">기준식</h4>
									<h5 class="comp-lst_dotted">부양의무자가 없거나 부양의무자가 있어도 부양능력이 없거나 또는 부양을 받을 수 없는 경우</h5>
									<table class="comp-tbl_datatype">
										<caption>부양의무자가 없거나 부양의무자가 있어도 부양능력이 없거나 또는 부양을 받을 수 없는 경우 - 부양의무자, 1인가구, 2인가구</caption>
										<colgroup>
											<col style="width:20%">
											<col span="2">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">부양의무자</th>
												<th scope="col">1인가구</th>
												<th scope="col">2인가구</th>
												<th scope="col">4인가구</th>
												<th scope="col">5인가구</th>
												<th scope="col">6인가구</th>
												<th scope="col">7인가구</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>471,201</td>
												<td>802,315</td>
												<td>1,037,916</td>
												<td>1,273,516</td>
												<td>1,509,116</td>
												<td>1,744,717</td>
												<td>1,980,317</td>
											</tr>
										</tbody>
									</table>
								</div>

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>