<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>장애인 &lt; 분야별정보 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="obstacle"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->
					
					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->
					
					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">장애인</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->
								<ul class="comp-tab" role="tablist" data-js="false">
									<li role="presentation"><a href="#" role="tab" aria-controls="tab-content"><span>장애인정의</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab" aria-selected="true"><span>등록안내</span></a></li>
								</ul>
								
								<div role="tabpanel" id="tabcontent">
									<h3 class="heading-h3">장애인등록, 장애등급심사제도</h3>
									<ul class="comp-lst_dotted">
										<li>
											2011년도부터 신규등록 및 재판정대상자는 등급심사시행(모든 등급)
											<p class="comp-lst_important">2011년 4월 1일부터 시행</p>
										</li>
										<li>2013년 1월 27일부터 외국인 및 재외동포도 장애등급심사 시행<br>장애등록 허용 자격 : 외국국적동포(F-4), 한국영주권자(F-5), 결혼이민자(F-6, F-2)</li>
									</ul>

									<h4 class="heading-h4">근거 규정</h4>
									<p class="comp-lst_dotted">장애인복지법 제32조(장애인등록) 및 동법시행규칙 제3조부터 제10조</p>

									<h4 class="heading-h4">장애인등록 신청 및 절차</h4>
									<ul class="comp-lst_dotted">
										<li>
											<span class="tit">장애인등록 신청 </span> 
											<div class="cont">
												<ul class="comp-lst_hyphen">
													<li>장애인등록을 신청하고자 하는 사람의 주소지 관할 읍&middot;면&middot;동사무소를 방문하여 장애인등록 및 서비스신청서를 작성하여 제출</li>
													<li>장애인등록 신청은 본인이 하는 것을 원칙으로 하되, 다만, 18세 미만의 아동과 거동이 불가능한 경우 등 본인이 등록 신청을 하기 어려운 경우에는 보호자가 신청 대행 가능</li>
													<li>내용내용</li>
												</ul>
												<p class="comp-lst_important">대리신청이 가능한 보호자의 범위 : 장애인의 배우자, 직계존 &middot; 비속, 직계존 &middot; 비속의 배우자, 형제 &middot; 자매의 배우자, 장애인을 보호하고 있는 장애인복지시설의 장</p>
											</div>
										</li>
										<li>
											<span class="tit">장애진단의뢰서 발급 및 장애진단</span>
											<div class="cont">
												<ul class="comp-lst_hyphen">
													<li>읍 &middot; 면 &middot; 동사무소에서는 장애진단의뢰서를 발급하여 신청자에게 교부</li>
													<li>신청자는 의료기관의 전문의사로부터 장애진단 및 검사를 통해 장애진단서를 발급 받아 주소지 관할 읍&middot;면&middot;동사무소에 제출하여 장애인등록 (의료기간 우선방문하여 진단서 제출도 가능, 이 경우 의뢰서 발급절차는 이행한 것으로 봄)</li>
													<li>
														신규등록자 및 재판정 대상자는 장애상태의 확인을 위한「장애등급판정기준」상 장애유형별 참고서식, 검사자료, 진료기록지(주요 진료기록) 등을 반드시 해당 진단의사로부터 발급받아 행정관청에 제출하여야 한다.
													</li>
												</ul>
											</div>
										</li>
									</ul>
									<ul class="comp-lst_important">
										<li>알림마당 참조</li>
										<li>장애인등록에 대한 사항은 주소지 읍&middot;면&middot;동사무소 장애인복지담당자 및 관할국민연금공단 지사에 문의하시기 바랍니다.</li>
									</ul>
									<div class="step-area">
										<p class="step-tit">[장애인 등록절차도]</p>
										<ol class="step-list">
											<li>
												<p class="tit">장애인</p>
												<p class="txt">등록신청</p>
												<p class="belong">읍면동</p>
											</li>
											<li>
												<p class="tit">시군구(읍면동)</p>
												<p class="txt">진단의뢰</p>
												<p class="belong">의료기관</p>
											</li>
											<li>
												<p class="tit">의료기관</p>
												<p class="txt">장애진단<br>진단서발급</p>
												<p class="belong">읍면동</p>
											</li>
											<li>
												<p class="tit">시군구(읍면동)</p>
												<p class="txt">심사요청</p>
												<p class="belong">연금공단</p>
											</li>
											<li>
												<p class="tit">연금공단</p>
												<p class="txt">장애심사<br>결과통보</p>
												<p class="belong">읍면동</p>
											</li>
											<li>
												<p class="tit">시군구(읍면동)</p>
												<p class="txt">등록</p>
												<p class="belong">장애인</p>
											</li>
										</ol>
									</div>
									<ul class="comp-lst_important point2">
										<li>장애인 등급심사는 2011년부터 모든 등급의 장애인이 받아야 합니다.</li>
										<li>기존 등록장애인 모두 장애등급심사를 받는것은 아님. 재진단 사유없는 장애인은 기존 등록상태 유지</li>
									</ul>
									<h4 class="heading-h4">장애인증명서 발급</h4>
									<ul class="comp-lst_dotted">
										<li>
											발급대상 : 장애인 본인 및 배우자, 직계존 &middot; 비속, 형제 &middot; 자매, 장애인을 보호하고 있는 장애인복지시설의 장
										</li>
										<li>신청절차 : 전국 시 &middot; 군 &middot; 구 민원실 또는 읍&middot;면&middot;동장에게 신청</li>
										<li>처리기간 : 즉시(수수료 : 무료), 타 거주지에서 신청시 해당 장애인등록기관 확인 후 발급</li>
										<li>발급방법 : 전국 시 &middot; 군 &middot; 구 장애인담당과(민원실) 또는 읍 &middot; 면 &middot; 동의 사회복지통합관리망(행복e음)에서 출력하여 사용</li>
									</ul>

									<p class="comp-lst_dotted">장애진단시기(최초)</p>
									<table class="comp-tbl_datatype">
										<caption>장애진단시기 - 장애유형, 장애판정시기</caption>
										<colgroup>
											<col style="width:40%">
											<col style="width:60%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">장애유형</th>
												<th scope="col">장애판정시기</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>지체&middot;시각&middot;청각&middot;언어&middot;지적장애&middot;안면장애</td>
												<td class="al-l">장애의 원인 질환 등에 관하여 충분히 치료하여 장애가 고착되었을 때 등록하며, 그 기준시기는 원인 질환 또는 부상 등의 발생후 또는 수술후 6개월 이상 지속적으로 치료한 후 장애진단(지적장애는 만2세 이상에서 진단)</td>
											</tr>
											<tr>
												<td>뇌병변 장애</td>
												<td class="al-l">뇌성마비, 뇌졸중, 뇌손상 등과 기타 뇌병변(파킨슨병 제외)이 있는 경우는 발병 또는 외상 후 6개월 이상 지속적으로 치료한 시점</td>
											</tr>
											<tr>
												<td>정신 장애</td>
												<td class="al-l">1년 이상의 성실하고, 지속적인 치료 후에 호전의 기미가 거의 없을 정도로 장애가 고착된 시점</td>
											</tr>
											<tr>
												<td>자폐성 장애</td>
												<td class="al-l">전반성발달장애(자폐증)가 확실해진 시점(최소 만2세 이상)</td>
											</tr>
											<tr>
												<td>신장 장애</td>
												<td class="al-l">혈액투석 또는 복막투석치료를 3개월 이상 지속적으로 받고 있는 사람 또는 신장을 이식받은 사람에 대하여 장애진단</td>
											</tr>
											<tr>
												<td>심장 장애</td>
												<td class="al-l">1년 이상의 성실하고, 지속적인 치료 후에 호전의 기미가 거의 없을 정도로 장애가 고착되었거나 심장을 이식받은 사람에 대하여 장애진단</td>
											</tr>
											<tr>
												<td>호흡기&middot;간 장애</td>
												<td class="al-l">현재의 상태와 관련한 최초 진단 이후 1년 이상이 경과하고, 최근 2개월 이상의 지속적인 치료 후에 호전의 기미가 거의 없을 정도로 장애가 고착되었거나 폐 또는 간을 이식받은 사람에 대하여 장애진단</td>
											</tr>
											<tr>
												<td>장루&middot;요루</td>
												<td class="al-l">복원수술이 불가능한 장루(복회음절제술후 에스결장루, 전대장절제술후 시행한 말단형 회장루 등), 요루(요관피부루, 회장도관 등)의 경우에는 장루(요루)조성술 이후 진단이 가능하며, 그 외 복원수술이 가능한 장루(요루)의 경우에는 장루(요루) 조성술 후 1년이 지난 시점에 진단</td>
											</tr>
											<tr>
												<td>간질</td>
												<td class="al-l">
													성인의 경우 현재의 상태와 관련하여 최초 진단 이후 2년 이상의 지속적이고 적극적인 치료를 받음에도 불구하고
													호전의 기미가 거의 없을 정도로 장애가 고착된 시점에 진단
													<p class="txt">소아청소년의 경우 간질 증상에 따라 최초 진단 이후 규정기간(1년 내지 2년) 이상의 지속적인 치료를 받음에도 불구하고 호전의 기미가 거의 없을 정도로 장애가 고착된 시점에 진단</p>
												</td>
											</tr>
										</tbody>
									</table>

									<p class="comp-lst_dotted">장애 의무재판정 시기</p>
									<table class="comp-tbl_datatype">
										<caption>장애 의무재판정 시기 - 장애유형, 장애유형별 의무재판정시기</caption>
										<colgroup>
											<col style="width:30%">
											<col style="width:70%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">장애유형</th>
												<th scope="col">장애유형별 의무재판정시기</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>지체(척수)장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>지체장애 중 척수장애는 2년 후 재판정(1회)</li>
														<li class="point1">척수장애는 장애진단서 내용 확인 필요</li>
														<li>만 6세 미만에서 장애판정을 받은 경우 <span class="point1">만 6세 이상∼만 12세 미만에서 재판정</span></li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>지체(변형)장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>왜소증(만18∼20세 미만에서 진단받은 남성, 만16세∼18세 미만에서 진단받은 여성인 경우) <span class="point1">2년 후 재판정(1회)</span></li>
														<li>연골무형성증으로 판정받은 경우 <span class="point1">2년 후 재판정(1회)</span></li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>뇌병변장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>장애정도가 변화하는 뇌병변(파킨슨병 등)으로 진단한 경우 매 2년마다 재판정 (최초판정을 합하여 3회 동급판정시 제외가능)</li>
														<li>만 6세 미만에서 장애판정을 받은 경우 <span class="point1">만 6세 이상∼만 12세 미만에서 재판정</span></li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>시각장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>각막이식술로 시력변동 가능성 있는 경우 매 3년마다 재판정(각막이식술 후 1년 후)</li>
														<li>백내장수술로 시력변동 가능성 있는 경우 매 2년마다 재판정(백내장수술 후 6개월 후)</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>평형장애</td>
												<td class="al-l"><p class="comp-lst_dotted"><span class="point1">매 2년마다 재판정</span> (최초판정을 합하여 3회 동급판정시 제외가능)</p></td>
											</tr>
											<tr>
												<td>지적장애 자폐성장애</td>
												<td class="al-l"><p class="comp-lst_dotted">만 6세 미만에서 장애판정을 받은 경우 <span class="point1">만 6세 이상~만 12세 미만에서 재판정</span></p></td>
											</tr>
											<tr>
												<td>정신장애</td>
												<td class="al-l"><p class="comp-lst_dotted">매 2년마다 재판정(최초판정을 합하여 3회 동급판정시 제외가능)</p></td>
											</tr>
											<tr>
												<td>신장장애</td>
												<td class="al-l"><p class="comp-lst_dotted"><span class="point1">매 2년마다 재판정(2급)</span>이식 제외</p></td>
											</tr>
											<tr>
												<td>호흡기장애 간장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted"><span class="point1">매 2년마다 재판정</span>(최초판정을 합하여 연속 3회 동급판정시 제외가능). 이식 제외</p>
												</td>
											</tr>
											<tr>
												<td>장루&middot;요루장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted"><span class="point1">복원수술이 가능한 장루(요루)의 경우</span>에는 매 3년마다 재판정<br>(연속 3회 동급판정시 의무 재판정 제외가능)복원수술이 불가능한 장루(요루)의 경우 의무적인 재판정에서 제외</p>
												</td>
											</tr>
											<tr>
												<td rowspan="2">간질장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted"><span class="point3">성인 : </span><span class="point1">매 3년마다 재판정</span>(최초판정을 합하여 연속 3회 동급판정시 제외가능) </p>
												</td>
											</tr>
											<tr>
												<td class="al-l">
													<p class="comp-lst_dotted"><span class="point3">소아청소년 : </span><span class="point1">매 2년마다 재판정</span>(최초판정을 합하여 연속 3회 동급판정시 제외가능)</p>
												</td>
											</tr>
											<tr>
												<td>심장장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted"><span class="point1">매 2년마다 재판정</span>(최초판정을 합하여 연속 3회 동급판정시 제외가능) 이식은 제외</p>
												</td>
											</tr>
										</tbody>
									</table>

									<p class="comp-lst_dotted">장애진단 전문의</p>
									<table class="comp-tbl_datatype">
										<caption>장애진단 전문의  - 장애유형, 장애진단기관 및 전문의 등</caption>
										<colgroup>
											<col style="width:30%">
											<col style="width:70%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">장애유형</th>
												<th scope="col">장애진단기관 및 전문의 등</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>지체장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>절단장애 : X-선 촬영시설이 있는 의료기관의 의사</li>
														<li>기타 지체장애 : X-선 촬영시설 등 검사장비가 있는 의료기관의 재활의학과&middot;정형외과&middot;신경외과&middot;신경과 또는 내과(류마티스분과) 전문의</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>뇌병변장애</td>
												<td class="al-l"><p class="comp-lst_dotted">의료기관의 재활의학과&middot;신경외과 또는 신경과 전문의</p></td>
											</tr>
											<tr>
												<td>시각장애</td>
												<td class="al-l"><p class="comp-lst_dotted">시력 또는 시야결손정도의 측정이 가능한 의료기관의 안과 전문의</p></td>
											</tr>
											<tr>
												<td>청각장애</td>
												<td class="al-l"><p class="comp-lst_dotted">청력검사실과 청력검사기(오디오미터)가 있는 의료기관의 이비인후과 전문의</p></td>
											</tr>
											<tr>
												<td>청각장애</td>
												<td class="al-l"><p class="comp-lst_dotted">청력검사실과 청력검사기(오디오미터)가 있는 의료기관의 이비인후과 전문의</p></td>
											</tr>
											<tr>
												<td>언어장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>의료기관의 재활의학과 전문의 또는 언어치료사가 배치되어 있는 의료기관의 이비인후과&middot;정신과 또는 신경과 전문의</li>
														<li>음성장애는 언어치료사가 없는 의료기관의 이비인후과 전문의 포함</li>
														<li>의료기관의 치과(구강악안면외과)&middot;치과 전속지도 전문의(구강악안면외과)</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>지적장애</td>
												<td class="al-l"><p class="comp-lst_dotted">의료기관의 정신과 &middot; 신경과 또는 재활의학과 전문의</p></td>
											</tr>
											<tr>
												<td>정신장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>장애진단 직전 1년 이상 지속적으로 진료한 정신과 전문의<br>(다만, 지속적으로 진료를 받았다 함은 3개월 이상 약물치료가 중단되지 않았음을 의미한다.)</li>
														<li>1호에 해당하는 전문의가 없는 경우 장애진단 직전 3개월 이상 지속적으로 진료한 의료기관의 정신과 전문의가 판정할 수 있으나, 장애진단 직전 1년 이상의 지속적인 정신과 진료기록을 진단서 또는 소견서 등으로 확인하고 장애진단을 하여야 한다.</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>자폐성 장애</td>
												<td class="al-l"><p class="comp-lst_dotted">의료기관의 정신과(소아정신과)전문의</p></td>
											</tr>
											<tr>
												<td>신장장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>투석에 대한 장애판정은 장애인 등록 직전 3개월 이상 투석치료를 하고 있는 의료기관의 의사</li>
														<li>1호에 해당하는 의사가 없을 경우 장애진단 직전 1개월이상 지속적으로 투석치료를 하고 있는 의료기관의 의사</li>
														<li>신장이식의 장애판정은 신장이식을 시술하였거나 이식환자를 진료하는 의료기관의 외과 또는 내과전문의</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>심장장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>장애진단 직전 1년 이상 진료한 의료기관의 내과(순환기분과·소아청소년과 또는 흉부외과 전문의</li>
														<li>1호에 해당하는 전문의가 없는 경우 의료기관의 내과(순환기분과) 전문의가 판정할 수 있으나 장애진단<br>직전 1년 이상 내과(순환기분과)&middot;소아청소년과 또는 흉부외과의 지속적인 진료기록 등을 확인하고 장애진단을 하여야 한다.</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>호흡기장애 간장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted">장애진단 직전 2개월 이상 진료한 의료기관의 내과(호흡기분과, 알레르기분과)&middot; 흉부외과&middot;소아청소년과&middot;결핵과 또는 산업의학과 전문의</p>
												</td>
											</tr>
											<tr>
												<td>간장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted">장애진단 직전 2개월 이상 진료한 의료기관의 내과(소화기분과)·외과 또는 소아청소년과 전문의</p>
												</td>
											</tr>
											<tr>
												<td>안면장애</td>
												<td class="al-l">
													<ul class="comp-lst_dotted">
														<li>의료기관의 성형외과&middot;피부과 또는 외과(화상의 경우) 전문의</li>
														<li>의료기관의 치과(구강악안면외과)&middot;치과 전속지도 전문의(구강악안면외과)</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td>장루&middot;요루장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted">의료기관의 외과&middot;산부인과&middot;비뇨기과 또는 내과 전문의</p>
												</td>
											</tr>
											<tr>
												<td>간질장애</td>
												<td class="al-l">
													<p class="comp-lst_dotted">장애진단 직전 6개월 이상 진료한 의료기관의 신경과&middot;신경외과&middot;정신과 또는 소아청소년과(소아청소년의 경우) 전문의</p>
												</td>
											</tr>
										</tbody>
									</table>
									<p class="comp-lst_important">단, 한방전문의는 장애진단을 할 수 없음에 유의</p>

									<h3 class="heading-h3">장애인연금신청에 따른 장애등급심사 안내</h3>
									<div class="comp-txt_box">
										<p>2010년 7월부터 장애인연금제도가 시행됩니다. 장애인연금을 신청한 중증장애인에 대하여는 장애인연금법 및 장애인복지법에 의하여 장애등급심사를 받아야 합니다. 장애인연금을 신청한 경우 소득재산조사 결과 선정기준액 이하인 경우 장애등급심사에 대하여 안내할 예정입니다.</p>
									</div>
									<h4 class="heading-h4">신청절차</h4>
									<p class="comp-lst_dotted">수급권자의 1촌의 직계혈족(부모, 아들&middot;딸 등) 및 그 배우자(며느리, 사위 등)</p>
									<h4 class="heading-h4">필요서류</h4>
									<ul class="comp-lst_dotted">
										<li>장애상태를 명시한 장애진단서</li>
										<li>현재의 장애상태를 증빙할 수 있는 검사결과지</li>
										<li>
											지속적인 치료에도 불구하고 장애가 고착되었다는 것을 증명하는 진료기록지
											<p class="comp-lst_important">구비서류는 장애유형별로 상이하므로 해당 장애유형의 구비서류 안내문을 알림마당을 통해 확인하시고 병원을 방문하시기 바랍니다.</p>
										</li>
									</ul>
									<h4 class="heading-h4">장애등급심사관련 문의</h4>
									<ul class="comp-lst_dotted">
										<li>거주지 관할 국민연금공단 지사 (관할 지사 확인은 알림마당)</li>
										<li>국민연금공단 콜센터 <span class="point2">국번없이 1355</span></li>
										<li>
											보건복지부콜센터 <span class="point2">국번없이 129</span>
											<p class="comp-lst_important">장애인 연금에 대한 자세한 사항은 아래의 장애인연금 홈페이지 참조 www.e-welfare.go.kr/pension</p>
										</li>
									</ul>
								</div>
								
								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->
							
							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>