<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>연혁 &lt; 의성안내 &lt; 의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >
	
	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->
		
		<!-- CONTAINER -->
		<main>
			<div id="container" class="history"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->
					
					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->
					
					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">연 혁</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<ul class="comp-tab_6n" role="tablist">
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent1" aria-selected="true"><span>1. 조문국의 역사</span></a></li><!-- D : 선택된 영역에 aria-selected="true" 속성 추가 -->
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent2"><span>2. 문소군의 개칭</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent3"><span>3. 의성부 승격</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent4"><span>4. 의성현으로 강등</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent5"><span>5. 대구에 병합</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent6"><span>6. 의성군에 개편</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent7"><span>7. 1970년도</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent8"><span>8. 1909년도</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent9"><span>9. 1914년도</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent10"><span>10. 일부지역 인양</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent11"><span>11. 면의 폐합</span></a></li>
									<li role="presentation"><a href="#" role="tab" aria-controls="tabcontent12"><span>12. 의성읍 승격</span></a></li>
								</ul>
								
								<div class="tp-history-tit">
									<div class="visual">
										<div class="tit-top">
											<p class="tit">History of UISEONG</p>
											<p class="txt">도전과 혁신 능동적인 정신으로 고결한 역사를 지켜온 의성! 그러기에 의성의 오늘이 더욱 빛납니다!</p>
										</div>
										<ul class="history-list">
											<li>
												<p>
													신라벌휴왕<br>2년 신라에<br>병합이전 조문국
												</p>
											</li>
											<li>
												<p>
													신라 경덕왕 16년 문소군
												</p>
											</li>
											<li>
												<p>
													고려초에<br>의성부로 승격
												</p>
											</li>
											<li>
												<p>
													조선고종<br>32년 의성군
												</p>
											</li>
											<li>
												<p>
													1940. 11. 1<br>의성면이<br>읍으로 승격,<br>1읍 16면
												</p>
											</li>
											<li>
												<p>
													1990. 4. 1<br>안사출장소가<br>안사면승격,<br>1읍 17면
												</p>
											</li>
										</ul>
									</div>
								</div>

								<!-- 조문국의 역사 -->
								<div role="tabpanel" id="tabcontent1" style="display: block">
									<div class="tp-history-con">
										<h3 class="tit">
											<span>History</span>
											조문국의 역사
										</h3>
										<div class="con">
											<p class="txt">조문국의 존립에 관한 기록은 삼국사기 신라본기에 "벌휴왕 2년(185) 2월에 파진찬 구도와 일길찬 구수혜를 좌우 군주로 삼아 조문국을 벌했다. "는 한 조항뿐이다. 이 벌했다는 말을 지리지, 읍지 등에서 "멸(절)했다", "취했다", "진했다" 등으로 해석하여 마치 이때에 조문국이 멸망한 것으로 표현하여 오고 있다.</p>
											<p class="txt">삼국사기에서 "벌"자를 어떤 뜻으로 사용했는지 그 쓰임새를 살펴보자. 신라본기에 나해왕 19년(214) 7월에 백제를 벌했고, 무렬왕 6년(659) 4월에 백제가 자주 국경을 침범하므로 벌했고, 5월에도 백제를 벌했다 하였는데 백제는"문무왕 3년(663)에 멸망했다. 파사왕 29년(108) 5월에 군대를 파견하여 비지국, 다벌국, 초팔국을 벌하고 병합했다.</p>
											<p class="txt">또 고구려 본기에서, 대무신왕 27년(44) 9월에 한나라 광무제가 바다를 건너 파병하여 낙양을 벌하고 그 땅을 취하여 군&middot;현으로 만들었다 하여 벌을 멸망시켰다는 뜻으로 사용하지 않았다. 또한 여암전서 강계고에서도 "조문국은 삼국사기 한곳에 벌했다는 글에 불과하므로 언제 신라에 종속되었는지 알 수 없다. " 하였다.</p>
											<p class="txt">조문국이 언제까지 존속했는지는 알 길이 없다. 조문국의 도읍지 주변인 금성면과 봉양면 일대에 지석묘와 금성면 탑리, 대리, 학미리에 수 많은 고분군이 산재한다. 삼한시대 부족국가들의 형성시기를 서력 기원 전후로 본다면 지석묘는 선주민의 것으로 볼 수 있고, 1960년에 국립중앙박물관에서 탑리리 고분을 발굴한 결과 금동관을 비롯하여 많은 토기, 철제 등자 등 유물이 나왔는데, 신라토기 편년 전기(350∼450)의 것으로 보고 있다. (의성군문화유적지표 조사보고, p.79) 이 가운데 금동관은 조문국의 왕관으로 보인다. 6세기에 들어와서 신라 지증왕 15년(514) 1월에 아시촌에 소경을 설치했는데 이 아시촌을 지금의 안계지방으로 추정한다. 이곳이 당시 아시혜현이기 때문이다.<br>
											법흥왕 12년(525) 2월에는 지금의 상주시인 사벌주에 군주를 배치하였다. 이즈음 신라가 의성 주변의 통치권을 강화한 것을 보면 이때 조문국은 이미 멸망한 뒤가 된다. 고분의 출토유물의 제작연대와 주변 정세를 감안하면 조문국은 5세기 말경에 멸망한 것으로 추정할 수 있다.</p>
											<p class="txt">신라는 부족국가를 정복하면 나라를 폐하고 주 &middot; 부 &middot; 군 &middot; 현의 행정구역으로 편입시키면서 이름은 그대로 두는 것이 통례였다. 삼국사기에 "조문왕 2년(231) 7월에 감문국을 토파하고 그 땅을 군으로 하였고", "법흥왕 19년(532) 3월에 금관국의 왕 김구해가 항복하므로 그 땅을 금관군으로 하였다. "는 예로 보아 조문국이 멸망하고는 조문군이 되었을 것이다. 문무왕 13년 (673) 9월에 조문성을 쌓았는데 이 이름은 당시 조문군의 명칭에서 붙인 것으로 본다.</p>
											<p class="txt">서기 700년경에 축조한 것으로 보는 탑리리의 5층 석탑도 처음에 조문탑이라 한것이 조문군이 폐하고는 산운탑으로 개칭했다. 김정호의 대동지지(1864)에 "조문국이 멸망하고 조문군이 되었다" 한 것도 위와 같은 견해일 것이다.</p>
											<p class="txt">여헌 장현광이 쓴 백장령의 비봉설에 관한 기문에서 "조문이 800년간의 긴 복록을 누렸다. "함은 조문국이 기원 전후에 건국하여 조문군을 거쳐 경덕왕 16년(717)에 문소군이 된 때까지의 기간을 가리킨 듯하다.</p>
											<p class="txt">경덕왕릉에 관한 전설에 오극겸이 꿈에서 얻은 시 "천년 지난 오늘에 경덕분만 남았도다." "조문의 거문고 가버린 지금"이란 구절 등에서 전설의 발상 시기가 현령 이우신이 묘를 증축하였다는 영조 원년(1725)과 맞물려 나가므로 이 1000년은 조문군이 폐한 때부터의 기간이 되는 것이다.</p>
											<p class="txt">이곳 사람들은 조문국과 조문군의 역사를 같은 조문의 테두리에서 인식하는 경향이기 때문이다.</p>
										</div>
									</div>
								</div>
								<!-- 2. 문소군의 개칭 -->
								<div role="tabpanel" id="tabcontent2" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											문소군의 개칭
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!-- 3. 의성부 승격 -->
								<div role="tabpanel" id="tabcontent3" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											의성부 승격
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--4. 의성현으로 강등 -->
								<div role="tabpanel" id="tabcontent4" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											의성현으로 강등
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--5. 대구에 병합 -->
								<div role="tabpanel" id="tabcontent5" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											대구에 병합
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--6. 의성군에 개편 -->
								<div role="tabpanel" id="tabcontent6" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											의성군에 개편
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--7. 1970년도 -->
								<div role="tabpanel" id="tabcontent7" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											1970년도
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--8. 1909년도 -->
								<div role="tabpanel" id="tabcontent8" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											1909년도
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--9. 1914년도 -->
								<div role="tabpanel" id="tabcontent9" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											1914년도
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--10. 일부지역 인양 -->
								<div role="tabpanel" id="tabcontent10" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											일부지역 인양
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--11. 면의 폐합 -->
								<div role="tabpanel" id="tabcontent11" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											면의 폐합
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
								<!--12. 의성읍 승격 -->
								<div role="tabpanel" id="tabcontent12" style="display: none">
									<div class="tp-history-con">
										<p class="tit">
											<span>History</span>
											의성읍 승격
										</p>
										<div class="con">
											<p class="txt">삼국사절요 제12권 경덕왕 16년(757) 12월에 전국을 9주로 나누고, 군 &middot; 현의 이름을 고치면서 행정구역을 개편하였다. 이때 조문군은 문소군이 되어 상주에 영속되었다. 문소군은 진보, 비옥, 안현, 단밀의 4개 영현을 가졌다. 다인현은 상주의 직할현이 되고, 지금의 옥산 지방인 일계현과 단촌지방인 고구현은 안동인 고창군에 영속되었다.</p>
											<div class="img">
												<img src="../../static/images/usc/temp/@img_history.gif" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--// 개별 컨텐츠 영역 -->
							
							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->
		
		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>
	
	<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../static/js/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../static/js/iscroll.js"></script>
	<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>