<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" >
	<meta name="format-detection" content="telephone=no" >
	<title>의성군청</title>
	<meta name="Subject" content="의성군청" >
	<meta name="title" content="의성군청" >
	<meta name="keywords" content="의성군청" >
	<meta name="description" content="의성군청" >

	<!-- <link rel="shortcut icon" href="../../" > -->
	<!-- <link rel="icon" href="../../static/images/usc/favicon.png" > -->
	<link rel="stylesheet" href="../../static/css/common.css" >
</head>
<body>
	<div id="skipnavi">
		<a href="#container">주내용으로 이동</a>
		<a href="#gnb">메뉴로 이동</a>
		<a href="#footer">하단 정보로 이동</a>
	</div>
	<div id="wrap" class="usc"><!-- D: 대분류 클래스 추가(대분류 클래스는 가이드 확인) -->
		<!-- HEADER -->
		<header><!-- usc/header.html  --></header>
		<!-- //HEADER -->

		<!-- CONTAINER -->
		<main>
			<div id="container" class="goodmenu"><!-- D: 페이지 특정의 클래스 -->
				<!-- 상단 비주얼 -->
				<div class="top-visual-zone">
					<p>군민과 함께하는 창조적인 희망군정 활력넘치는 희망의성! 살기좋은 의성으로 오세요~!</p>
					<img src="../../static/images/commonbg/bg_usc1.png" alt="" class="bgimg">
				</div>
				<!--// 상단 비주얼 -->
				
				<!-- 컨텐츠 -->
				<div class="inner">
					<!-- breadcrumb -->
					<div class="breadcrumb-zone">
						<ol class="breadcrumb" aria-label="사이트 이동 경로" >
							<li><a href="#">H</a></li>
							<li>
								<a href="#">행정정보/개방</a><!-- D : 클릭시 a 속성 class="open" -->
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#">행정정보</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" aria-current="location">정보공개제도안내</a>
								<div class="menu">
									<ul>
										<li><a href="#"><span>정보공개청구</span></a></li>
										<li><a href="#"><span>정보공개소재안내</span></a></li>
										<li><a href="#"><span>사전정보공표목록</span></a></li>
										<li><a href="#"><span>자치법규/관보</span></a></li>
										<li><a href="#"><span>비공개대상정보세부기준</span></a></li>
										<li><a href="#"><span>개별공시지가열람</span></a></li>
										<li><a href="#"><span>행정처분공개</span></a></li>
										<li><a href="#"><span>정책실명제</span></a></li>
									</ul>
								</div>
							</li>
						</ol>
						<dl class="page-zoom">
							<dt>글자크기</dt>
							<dd>
								<button type="button" class="btn-zoomup"><span>글자크기 확대</span></button>
								<button type="button" class="btn-zoomdown"><span>글자크기 축소</span></button>
							</dd>
						</dl>
					</div>
					<!-- //breadcrumb -->

					<!-- LNB -->
					<div id="lnb">
						<div class="title-depth">
							<h2>행정정보/개방</h2>
						</div>
						<nav>
							<ul class="menu">
								<li>
									<h2><a href="#"><span>의성군청</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#" aria-current="page"><span>정보공개청구</span></a></h3></li><!-- D: 개발시 현재 페이지는 aria-current='page' 속성 추가 -->
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>행정정보</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>공공데이터개방</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>농림축산식품사업지원시설현황</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#" target="_blank" title="새창으로 열림" class="outlnk"><span>계약정보공개시스템</span></a></h2><!-- D : 아웃링크인 경우 해당 속성들 추가 -->
								</li>
								<li>
									<h2><a href="#"><span>행정서비스</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>재정/백서</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
								<li>
									<h2><a href="#"><span>통계</span></a></h2>
									<div class="smallmenu">
										<ul>
											<li><h3><a href="#"><span>정보공개제도안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개청구</span></a></h3></li>
											<li><h3><a href="#"><span>행정정보목록리스트</span></a></h3></li>
											<li><h3><a href="#"><span>개별주택가격열람</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>정보공개소재안내</span></a></h3></li>
											<li><h3><a href="#"><span>사전정보공표목록</span></a></h3></li>
											<li><h3><a href="#"><span>비공개대상정보세부기준</span></a></h3></li>
											<li><h3><a href="#"><span>개별공지지가열람</span></a></h3></li>
											<li><h3><a href="#"><span>행정처분공개</span></a></h3></li>
											<li><h3><a href="#"><span>정책실명제</span></a></h3></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //LNB -->

					<!-- CONTENTS -->
					<div id="contents">
						<section>
							<!-- 페이지 타이틀영역 -->
							<div class="title-zone">
								<h2 class="page-title">좋은식단</h2>
								<ul class="page-utile">
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-sns" aria-expanded="false" class="icon-sns"><span>SNS 공유 레이어 열기</span></button>
										<div id="area-sns" class="area-sns" role="dialog">
											<h2 class="hidden">SNS 공유</h2>
											<ul>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-instar"><span>인스타그램</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-twitter"><span>트위터</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-kakao"><span>카카오스토리</span></a></li>
												<li><a href="#" target="_blank" title="새창으로 열림" class="icon-facebook"><span>페이스북</span></a></li>
											</ul>
											<span class="btn"><button type="button" class="btn-close"><span>SNS 공유 레이어 닫기</span></button></span>
										</div>
									</li>
									<li><button type="button" class="icon-share"><span>공유</span></button></li>
									<li><button type="button" class="icon-download"><span>다운로드</span></button></li>
									<li>
										<button type="button" aria-haspopup="true" aria-controls="area-qrcode" aria-expanded="false" class="icon-qrcode"><span>QR코드</span></button>
										<div class="area-qrcode" id="area-qrcode" role="dialog">
											<h2 class="hidden">QR코드</h2>
											<span class="img"><img src="../../static/images/common/img_qrcode.png" alt="살기좋은 의성군 QR코드"></span>
											<span class="txt">모바일로 QR코드를 <br>스캔하면 이 페이지로 <br>바로 접속 할 수 있습니다.</span>
											<span class="btn"><button type="button" class="btn-close"><span>QR코드 레이어 닫기</span></button></span>
										</div> 
									</li>
								</ul>
							</div>
							<!-- //페이지 타이틀영역 -->
							
							<!-- 개별 컨텐츠 영역 -->
							<div class="contents-zone">
								<!-- D : 해당 부분에 서브페이지 작업 -->

								<h3 class="heading-h3">좋은식단이란?</h3>

								<ul class="comp-lst_dotted">
									<li>위생적이고, 알뜰하며, 영양적으로 균형이 잡힌 식단으로 음식점에서 자율적으로 실천할 수 있도록 한 권장성격의 상차림을 말합니다.</li>
									<li>주된음식(요리)에 필요한 3~4가지의 찬류를 작은 찬기에 제공하는 간소한 상차림을 말합니다.</li>
								</ul>

								<ul class="comp-lst_hyphen">
								좋은식단 실천으로 음식물 낭비를 줄입시다.
									<li>내용내용</li>
									<li>내용내용</li>
								</ul>
								<ul class="comp-lst_hyphen">손님은
									<li>간소한 음식문화를 조성합니다.</li>
									<li>음식물을 남기지 않도록 신중합니다.</li>
									<li>남은 음식은 싸가지고 갑니다.</li>
								</ul>
								<ul class="comp-lst_hyphen">가정에서는
									<li>식단계획을 세워 식사량에 맞추어 조리합니다.</li>
									<li>차례,혼례시에는 음식을 간소하게 준비합니다.</li>
									<li>각자가 덜어서 먹을 수 있도록 상차림을 합니다.</li>
								</ul>
								<ul class="comp-lst_hyphen">음식점에서는
									<li>밥과 국의 양을 대,중,소로 나누어 주문을 받습니다.</li>
									<li>각자 덜어먹을 수 있게 집게, 국자, 개인찬기를 제공합니다.</li>
									<li>위생적인 용기나 포장지를 비치하고 남은 음식은 싸가지고 가도록 권장합니다.</li>
								</ul>
																
								<h4 class="heading-h4">위생적인 식단</h4>
								<ul class="comp-lst_dotted">
									<li>한번 제공된 음식은 재사용 안하기(된장, 고추장, 밑반찬 등)</li>
									<li>반찬은 개별 제공을 원칙으로 하되, 찌개류 등을 각자 덜어 먹을 수 있도록 국자, 빈 그릇 등 제공</li>
									<li>음식찌꺼기를 담을 수 있는 빈 그릇 별도 제공</li>
								</ul>
								<h4 class="heading-h4">알뜰한 식단</h4>
								<ul class="comp-lst_dotted">
									<li>먹고 남기지 않을 만큼의 적정량 제공</li>
									<li>공동 찬통 사용</li>
									<li>반찬은 음식유형에 맞는 적정한 가짓수를 소형 찬그릇에 담아 제공</li>
									<li>부족한 반찬은 고객이 원하면 추가 제공</li>
								</ul>
								<h4 class="heading-h4">균형잡힌 식단</h4>
								<ul class="comp-lst_dotted">
									<li>영양적으로 균형 잡힌 식단 제공</li>
									<li>음식에 어울리는 반찬 제공</li>
									<li>가급적 계절식품 활용</li>
								</ul>


								<h3 class="heading-h3">좋은식단이란?</h3>
								<h4 class="heading-h4">영업주 실천사항</h4>
								<ul class="comp-lst_dotted">
									<li>소형찬기, 복합찬기를 사용한다.</li>
									<li>먹고 남기지 않을 만큼의 적정량을 제공한다.</li>
									<li>손님이 적정량의 반찬을 선택하여 먹을 수 있도록 제공한다.</li>
									<li>음식물쓰레기 처리기기를 설치하는 등 적정하게 처리한다.</li>
									<li>남은 음식물을 싸 줄 수 있는 용기 또는 포장지를 비치한다.</li>
									<li>1회용품 사용을 억제하고 전분 이쑤시개를 비치한다.</li>
									<li>조리장, 객석, 화장실을 위생적으로 관리한다.</li>
								</ul>
								<h4 class="heading-h4">종사자 실천사항</h4>
								<ul class="comp-lst_dotted">
									<li>예의바르고 친절한 자세로 손님을 맞이한다.</li>
									<li>겸손하고 교양있는 대화로 손님의 주문에 응한다.</li>
									<li>단정한 복장, 절도있는 몸가짐으로 손님을 접대한다.</li>
									<li>손님의 의사를 존중하고 감사하는 마을을 갖는다.</li>
									<li>손님이 원할때에는 추가 찬류를 제공하되 처음 제공시 보다 적게 제공한다.</li>
								</ul>
								<h4 class="heading-h4">행정기관의 실천사항</h4>
								<ul class="comp-lst_dotted">
									<li>좋은식단 실천 계획을 수립하고 시행한다.</li>
									<li>우수실천업소에 대한 모범음식점 지정 등 인센티브를 제공한다.</li>
									<li>불성실 업소에 대한 위생감시 강화 및 지도점검을 실시한다.</li>
								</ul>
								
								<div class="tbl-top-utile">
									<h3 class="heading-h3">음식유형별 반찬가짓수</h3>
									<h4 class="heading-h4">한식</h4>
								</div>
								<table class="comp-tbl_datatype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">음식유형</th>
											<th scope="col">음식(예)</th>
											<th scope="col">반찬가짓수</th>
											<th scope="col">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>곰탕류</td>
											<td>곰탕, 갈비탕, 설렁탕</td>
											<td>2-3</td>
											<td rowspan="11">
												<ul class="comp-lst_hyphen_txt">
													<li>반찬은 복합메뉴로하여 고객이 선택하도록 함</li>
													<li>용기는 가급적 소형으로 하며 찬량은 소량 제공</li>
												</ul>
											</td>
										</tr>
										<tr>
											<td>장국류</td>
											<td>대구탕, 아구탕 등</td>
											<td>2-3</td>
										</tr>
										<tr>
											<td>찌개류</td>
											<td>김치찌개, 된장찌개, 순두부찌개 등</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>비빔밥류</td>
											<td>비빔밥, 돌솥밥 등</td>
											<td>2-3</td>
										</tr>
										<tr>
											<td>면류</td>
											<td>국수, 칼국수, 냉면 등</td>
											<td>1-2</td>
										</tr>
										<tr>
											<td>전골류</td>
											<td>곱창, 해물, 버섯전골 등</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>구이류</td>
											<td>불고기, 생선구이 등</td>
											<td>4-5</td>
										</tr>
										<tr>
											<td>찜류</td>
											<td>아구찜, 갈비찜</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>백반류</td>
											<td>가정식 백반</td>
											<td>5-6</td>
										</tr>
										<tr>
											<td>도시락류</td>
											<td>도시락류 도시락</td>
											<td>5-7</td>
										</tr>
										<tr>
											<td>김밥도시락</td>
											<td>김밥도시락</td>
											<td>1-2</td>
										</tr>
									</tbody>

								</table>
								<div class="tbl-top-utile">
									<h4 class="heading-h4">일식</h4>
								</div>
								<table class="comp-tbl_datatype">
									<caption>표 제목</caption>
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">음식유형</th>
											<th scope="col">음식(예)</th>
											<th scope="col">반찬가짓수</th>
											<th scope="col">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>생선회류</td>
											<td>모듬회, 광어회, 우럭회</td>
											<td>5-6</td>
											<td rowspan="8" class="comp-lst_hyphen_txt">업소 규모에 따라 자율적으로 선택</td>
										</tr>
										<tr>
											<td>생선초밥류</td>
											<td>모듬초밥, 주문초밥</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>튀김정식</td>
											<td>모듬튀김, 새우튀김</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>생선매운탕</td>
											<td>대구탕, 서더리탕, 알탕</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>생선구이류</td>
											<td>장어, 삼치, 청어</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>덮밥류</td>
											<td>회덮밥, 송이덮밥, 쇠고기덮밥</td>
											<td>3-4</td>
										</tr>
										<tr>
											<td>정식류</td>
											<td>세트, 코스요리</td>
											<td>7-8</td>
										</tr>
										<tr>
											<td>면류</td>
											<td>소면, 우동, 소바</td>
											<td>5-6</td>
										</tr>
									</tbody>
								</table>

								<h3 class="heading-h3">식중독 예방수칙</h3>
								<h4 class="heading-h4">청결의 원칙-식품에 식중독균이 오염되지 않도록 한다.</h4>
								<ul class="comp-lst_dotted">
									<li>행주, 도마, 식칼 등의 부엌 가구의 소독을 철저히 한다.</li>
									<li>손에 상처가 있는 사람과 설사가 있는 사람은 조리작업에 종사하지 않도록 한다.</li>
									<li>조리장 내외의 청소에 노력하고 청결한 위생복을 착용한다.</li>
									<li>음식물 조리전·후 손을 깨끗이 씻는다.</li>
								</ul>
								<h4 class="heading-h4">신속의 원칙-식중독균을 증가시키지 않는다.</h4>
								<ul class="comp-lst_dotted">
									<li>식품에는 원래 다소의 식중독균이 오염되어 있는 것이 많기 때문에 식중독균이 증가할 수 있는 시간적 여유를 주지 않도록 신속하게 조리하여 손님에게 제공한다.</li>
									<li>많은 양을 가열 조리한 식품은 소량으로 나누어 빨리 냉각시킨다.</li>
									<li>중요한 점은 식중독균이 있어도 그것이 식중독을 일으킬 수 있는 숫자가 되지 않는 범위내에서 섭취하도록 하는 것이다.</li>
								</ul>
								<h4 class="heading-h4">가열 또는 냉장의 원칙-식중독균을 사멸한다.</h4>
								<ul class="comp-lst_dotted">
									<li>가열할 수 있는 식품은 충분히 가열하여 조리한다.</li>
									<li>식중독균의 사멸을 위하여 전날에 가열, 조리된 식품은 손님에게 제공되기 전에 반드시 재가열한다.</li>
									<li>균이 증가하기 쉬운 온도에 방치하는 시간이 짧게 하고, 냉장(가능하면 5℃ 전후) 또는 냉동(-18℃ 이하) 상태에서 보관한다.</li>
								</ul>

								

								

								<!-- //D : 해당 부분에 서브페이지 작업 -->
							</div>
							<!--// 개별 컨텐츠 영역 -->

							<!-- 고객 만족도 영역 -->
							<div class="customer-zone">
								<div class="customer-top">
									<ul class="addr">
										<li class="icon-part">담당부서 : 토지관리팀</li>
										<li class="icon-person">담당자 : 홍길동</li>
										<li class="icon-number">연락처 : 054-123-1234</li>
									</ul>
									<p class="date">최종수정일 : <time>2019-01-01</time></p>
								</div>
								<div class="customer-bottom">
									<div class="agreebox">
										<p class="txt">이 페이지에서 제공하는 정보와 사용편의성에  만족하시나요?</p>
										<ul class="radio-lst" role="radiogroup">
											<li><input type="radio" name="agree" id="agree1"><label for="agree1">매우만족</label></li>
											<li><input type="radio" name="agree" id="agree2"><label for="agree2">만족</label></li>
											<li><input type="radio" name="agree" id="agree3"><label for="agree3">보통</label></li>
											<li><input type="radio" name="agree" id="agree4"><label for="agree4">불만족</label></li>
											<li><input type="radio" name="agree" id="agree5"><label for="agree5">매우불만족</label></li>
										</ul>
									</div>
									<div class="form">
										<input type="text" name="" title="의견 입력" id="" placeholder="여러분의 소중한 의견을 남겨주세요">
										<button type="submit"><span>의견 반영하기</span></button>
									</div>
								</div>
							</div>
							<!--// 고객 만족도 영역 -->
						</section>
					</div>
					<!--// CONTENTS -->
				</div>
				<!--// 컨텐츠 -->
			</div>
		</main>
		<!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer><!-- usc/footer.html  --></footer>
		<!-- //FOOTER -->
	</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/js/slick.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../static/js/iscroll.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
</body>
</html>