@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
01. LAYOUT (HEADER, FOOTER, CONTINAER..)
02. KEYFRAMES & ANIMATION 
03. TEXT
04. ICON
05. BUTTON
06. TITLE
07. LIST
08. TABLE
09. UI
10. LAYER


[ Z-INDEX 순서 ]


[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3


------------------------------------------------------ */


/* LAYOUT */       
#wrap {position:relative; min-width:320px;}
#header {
	position: absolute; left:0; top:0; width: 100%; height: 180px; min-width: 1320px; z-index: 101; background:#fff;
	box-sizing: content-box;
	.inner {
		width:1320px; position: relative; margin:0 auto; 
		&:after {display:block; clear:both; content:""}
	}

	.header-top {
		height: 40px; background:#383b3b;
		.header-site {
			float: left; 
			&:after {display:block; clear:both; content:""}
			li {
				float: left; border-right:1px solid rgba(256,256,256,0.2); 
				&:nth-child(1) a:before {display: inline-block; content: ""; width: 22px; height: 21px; @include background("common/sp_icon.png", no-repeat 0 -50px); margin-right: 10px; vertical-align: middle;}
				a {display:block;width:120px;  font-size: 12px; color:#fff; line-height: 40px; text-align: center;}
			}

			.current a {color:#f15a22; background:#fff; }
			li:nth-child(1).current a:before {background-position: -50px -50px;} 
		}
		.header-zoom {
			float: left; margin-left: 15px; margin-top: 7px; overflow: hidden;
			dt {float: left;font-size: 12px; color:rgba(256,256,256,0.6); line-height: 24px;}
			dd {float: left;margin-left: 10px;}
			button {
				width: 24px; height: 24px; @include background("common/sp_icon.png",no-repeat 0 0); text-indent: -999em;
				&.btn-zoomup {background-position: -300px -150px;}
				&.btn-zoomdown {background-position:-350px -150px;}
				&.btn-zoom100 {background-position:-400px -150px;}
			}
		}
	}
	.header-utilegroup {
		float: right; padding-top: 7px;
		.header-utile {
			display: inline-block; font-size: 11px; color:#e1e1e1;
			&:after {display:block; clear:both; content:""}
			li {float: left; line-height: 23px;}
			li+li:before {display: inline-block; content: ""; margin:0 12px; width: 1px; height: 9px; background:rgba(173,174,174,0.2);}
		}
		.haeder-lang {
			display: inline-block; margin-left: 22px;
			li {float: left;}
			li + li {margin-left: 7px;}
			a {display: inline-block; width: 34px; height: 23px; text-indent: -999em;}
		}
	}
	.header-middle {
		position:relative; height: 90px; 
		.title {
			position: absolute; left:0; top:17px; 
			a {display:block; width: 139px; height: 60px; text-indent: -999em; @include background("usc/img_logo.png",no-repeat 50% 50%);}
		}
		.usc-snsgroup {
			position: absolute; right: 0; top:0; height: 90px; padding-top: 20px; padding-right: 89px; 
			@include background("usc/bg_header.png",no-repeat 100% 100%);
			.txt {font-size: 15px; font-family: $font2; color:#2d2d2d; text-align: right;}
			.sns { 
				overflow: hidden; margin-top: 10px;
				li {float: left; margin-left: 8px; }
				a {display: block; width: 34px; height: 34px; text-indent: -999em; }
			}
		}
		.comp-search {
			position: relative; top:25px; width:444px; height:44px;margin:0 auto; text-align: center;
			.form {overflow:hidden; width: 100%; border:3px solid #ffb00d; border-radius: 100px; background:#fff; 
				&:after {display:block; clear:both; content:""}
				select {float: left; width: 85px; height: 38px; padding-left: 20px; text-align: right; @include background("common/form_select2.png",no-repeat 100% 50%); box-sizing: border-box; font-size: 13px; color:#222; line-height: 28px}
				input {float: left; width: 353px; height: 38px; padding:0 70px 0 20px; box-sizing: border-box; font-size: 13px;color:#222;}
			}
			.btn {display: none;}
			& > button {
				width: 52px; height: 52px; position: absolute; right: 17px; top:-5px; border-radius: 100px; background:#ffb00d;
				span {display: inline-block; vertical-align: middle; width: 25px; height: 25px; text-indent: -999em; @include background("common/sp_icon.png",no-repeat -100px -50px);}
			}
		}
		.currentlanguage {position: absolute; left:155px; top:25px; float: left; width: 43px; height: 43px; @include background("common/icon_language.png",no-repeat 50% 50%); text-indent: -999em; }
	}
	.header-bottom {
		background:#d59f2b; min-height: 50px;
		.gnb-mo-title {display: none;}
		& > .btn {display: none;}
	}

	&.open {z-index: 1001;}
} 
#footer {
	position:relative; height: 270px; min-width: 1320px;  background:#fff;
	.inner {
		position: relative; width:1320px; margin:0 auto;
		&:after {display:block; clear:both; content:""}
	}

	.btn-gototop {
		position: absolute; right: 0; top:0; z-index: 1;
		a {display: block; width: 120px; height: 59px; line-height: 59px; color:#fff; font-size: 18px; text-align: center; color:#fff; background:#37424c;}
		a:after {display: inline-block; content: "^"; vertical-align: middle; margin-left: 10px;}
	}
	.footer-banner {
		height: 60px; border-bottom:1px solid #e1e1e1;

		.tit {position:absolute; left:0; top:0; font-size: 18px; color:#000; line-height: 59px;}
		.indicator {
			position: absolute; overflow:hidden; left:79px; top:19px; width:85px;
			p[class^=btn-] {
				float: left;
				& > * {display:block; width: 23px; height: 23px; @include background("common/sp_icon.png", no-repeat 0 0); text-indent: -999em;}
				&.btn-prev button {background-position: 0 -100px;}
				&.btn-next button {background-position: -50px -100px;}
				&.btn-more a {background-position: -100px -100px;}
				& + p {margin-left: 7px;}
			}
		}
		.banner-slider {
			padding-left: 170px; 
			li {position: relative; line-height: 59px;padding:0 25px;}
			li:before {display: inline-block; position: absolute; left:0; top:50%; width: 4px;height: 4px; margin-top: -2px; border-radius: 10px; content: ""; background:#c2c0bf;}
			.slick-current li:before {display: none}
			a {font-size: 17px;}
		}
	}
	.footer-selectgroup {
		padding-top: 20px; 
		&:after {display:block; clear:both; content:""}
		.footer-comp-select {
			float:left; position: relative;
			dt button { 
				width:250px; height: 40px; padding:0 45px 0 15px; border:1px solid #cbcaca; font-size: 15px; color:#666; background:#fff url("../../static/images/common/form_select1.png") no-repeat 100% 50%; text-align: left;
			}
			dd {
				display:none; position: absolute; left:0; bottom:100%; margin-bottom: -1px;
				background:#fff; border:1px solid #cbcaca; 
				ul{
					padding:11px 0 8px;
					&:after {display:block; clear:both; content:""}
					
				}
				li {
					float: left; width:50%; padding-left: 18px; box-sizing: border-box; text-align: left; line-height: 26px;
					&:before{display: inline-block; content: "·"; margin-right: 2px; vertical-align: middle;}
					&:nth-child(even) {padding-left: 10px;}
				}
				a {
					font-size: 15px; color:#666;
					&:hover {font-family: $font2;}
				}	
			}
			& + .footer-comp-select {margin-left: 17px;}

			&.open {
				dt button {color:#fff; background:#b5b4b5 url('../../static/images/common/form_select1_on.png') no-repeat 100% 50%;}
			}
		}
	}
	.footer-utilegroup {
		padding:0 130px 0 120px; margin-top: 25px; text-align: left;font-size: 13px; color:#666; line-height: 20px;
		.footer-utile {
			&:after {display:block; clear:both; content:""}
			li {
				float: left;
				&+li:before {display: inline-block; position: relative; top:-2px; content: ""; width:1px; height: 12px; vertical-align: middle; margin:0 20px; background:#b7b7b7;}
			}
			a {
				font-size: 15px; color:#666; 
				strong {font-family: $font2;}
			}
		}
		.footer-addr {
			margin-top: 16px;
			&:after {display:block; clear:both; content:""}
			li {
				float: left;
				&+li:before {display: inline-block; position: relative; top:-1px; content: ""; width:1px; height: 10px; vertical-align: middle; margin:0 12px; background:#b7b7b7;}
				strong {font-family: $font2;}
			}
		}
		.footer-txt {color:#c0c0c0;}
	}
	.footer-markgroup {
		.footer-qrcode {position: absolute; left:0; top: 86px;}		
		.footer-acmark {position: absolute; right:4px;top:92px;}		
	}
	.footer-notice {
		position: absolute; right:0; top:82px; text-align: right;
		.number {
			font-size: 23px; color:#ff6942; font-family: $font2; line-height: 35px;
			.call {display: inline-block; overflow:hidden; width: 35px; height: 35px; @include background("common/icon_footer_call.png",no-repeat 50% 50%); text-indent: 9999em; vertical-align: middle;} 
		}
		.txt {margin-top: 6px; font-size: 17px; line-height: 26px; color:#888;}
	}
}
#container {
	position: relative; min-width: 1320px; border-bottom: 1px solid $bd1; padding-top: 180px;
	& > .inner {width: 1320px; margin:0 auto; }
	&:before {display: block; height: 50px; width: 50%; position: absolute;top:365px; left:50%; content: ""; background:#383b3b;}
	#lnb {position: relative; width: 270px; float: left; margin-top: -50px;}
	#contents {position: relative; padding-left:310px; padding-bottom: 50px;}

	.top-visual-zone {
		height: 185px; background:#fff;
		p {width: 577px; height:185px; margin:0 auto; @include background("commonbg/img_usctxt.png",no-repeat 50% 50%); text-indent:-999em;}
		.bgimg {display: none;}
	}
	.breadcrumb-zone {
		position: relative; height: 50px; background:#383b3b; padding-left: 270px;
		.breadcrumb {
			&:after {display:block; clear:both; content:""}
			a {
				display: block; box-sizing:border-box; color:#fff;
				&:after {@include background("common/sp_icon.png",no-repeat -200px -100px);}
			}
			& > li {
				float: left; position: relative;  border-right: 1px solid #606262;
				&:first-child > a {
					width: 50px; padding:0; font-family: $font3; text-align: center;
					&:after {display: none}
				}
				& > a {
					width: 235px; position: relative; padding:0 35px 0 15px; line-height:50px; color:#fff; font-size: 14px; 
					&:after {display:inline-block; position: absolute; right: 15px; top:50%; margin-top: -5px; content:""; width: 17px; height: 9px; }
					&.open:after {background-position: -250px -100px;}
					// &.open + .menu {display: block;} // temp
				}
			}
			.menu {
				display: none; position: absolute; top:100%; left:0; width: 100%; background:#383b3b; z-index: 10;
				li {padding:0 9px;}
				a {
					position:relative; padding:0 25px 0 10px; line-height: 50px; border-top: 1px solid rgba(256,256,256,0.2); color:#fff;
					&:after {display:inline-block; position: absolute; right: 11px; top:50%; margin-top: -9px; content:""; width: 9px; height: 17px; background-position: -300px -100px;}
				}
			}
		}
		.page-zoom {
			position: absolute; right: 2px; top:14px; overflow:hidden;
			dt {float: left;font-size: 14px; color:rgba(256,256,256,0.4); line-height: 22px;}
			dd {float: left; margin-left: 8px;}
			button[class^=btn-] {
				width: 22px; height: 22px; text-indent: -999em; @include background("common/sp_icon.png",no-repeat 0 0);
				&.btn-zoomup {background-position: -200px -150px;}
				&.btn-zoomdown {background-position: -250px -150px;}
			}
		}
	}
	.title-zone {
		position: relative; height: 120px; padding-top: 50px; border-bottom:1px solid $bd1;
		&:after {display: block; position: absolute; bottom:3px; left:0; content: ""; width: 100%; height: 1px; background:$bd1;}
		.page-title {color:#111; font-size: 34px; font-family: $font2; }
		.page-utile {
			position: absolute; right: 0; top:53px; border:1px solid #d6d5d5;
			&:after {display:block; clear:both; content:""}
			& > li {
				float: left;
				& + li {border-left:1px solid #d6d5d5;}
				& > *[class^=icon-] {
					display: block; position: relative; width: 33px; height: 33px; text-indent: -999em; @include background("common/sp_icon.png",no-repeat 0 0);
					&.open, &:hover {
						&:after {display: block; position: absolute; top:-1px; left:-2px; content: ""; width:100%; height:31px; border:2px solid #feb32d; z-index: 1}
					}
				}
				.icon-sns {background-position: 0 -250px;}
				.icon-share {background-position: -50px -250px;}
				.icon-download {background-position: -100px -250px;}
				.icon-qrcode {background-position: -150px -250px;}
			}
			.area-sns {
				display:none; position: absolute; right: 100px; top:-1px;
				width:0; height: 35px; padding:4px 7px; border:2px solid #feb32d; background:#fff; z-index: 2;
				ul {
					width: 111px; height: 23px; padding-top: 1px; border-right: 1px solid #d6d5d5; box-sizing: border-box;
					&:after {display:block; clear:both; content:""}
					li {float: left; }
					li+li {margin-left: 7px;}
				}
				*[class^=icon-] {
					display: inline-block;width: 20px; height: 20px; @include background("common/sp_icon.png",no-repeat 0 0);
					text-indent: -999em; vertical-align: top;
					&.icon-instar {background-position: 0 -300px;}
					&.icon-twitter {background-position: -50px -300px;}
					&.icon-facebook {background-position: -100px -300px;}
					&.icon-kakao {background-position: -150px -300px;}
				}
				.btn {
					position: absolute; right: 0; top:0;
					.btn-close {width: 33px;height: 31px; text-indent: -999em; @include background("common/sp_icon.png", no-repeat -200px -250px);}
				}
			}
			.area-qrcode {
				display: none; position: absolute; top:100%; right:-2px; width: 220px; height: 300px; background:#feb32d; text-align: center; z-index: 2;
				&:before {display: block; position: absolute; left:50%; top:206px; content: ""; width: 154px; height: 1px; background:rgba(256,256,256,0.5); margin-left: -77px; border-radius: 100px;}
				&:after {display: block; position: absolute; left:50%; top:200px; content: ""; width:15px; height: 15px;background:#fff; border:5px solid #feb32d;box-sizing: border-box; margin-left: -7.5px;}
				.img {display: block; padding-top: 25px;}
				.txt {display: block; padding-top: 26px; line-height: 22px; font-size: 16px; color:#111; }
				.btn {
					position: absolute; right: 0; top:0;
					.btn-close{ 
						width: 36px; height: 36px;
						span {display: inline-block; width:14px; height: 14px; @include background("common/sp_icon.png",no-repeat -250px -250px); text-indent: -999em;}
					}
				}
			}
		}
	}
	.contents-zone {padding-top: 25px; padding-bottom: 100px; min-height: 1000px; }

	&.main:before {display: none;}
} 
#lnb {
	border-top: 6px solid #383b3b; 
	.title-depth {
		h2 {line-height: 114px; background:#fe970e; text-align: center; color:#fff; font-size: 14px; font-size: 24px; font-family: $font3;}
	}
	.menu {
		position: relative; z-index: 1; border:1px solid #cfd3d5;
		& > li {border-top: 1px solid #cfd3d5;}
		& > li:first-child {border-top: 0;}
		h2 a {
			display: block; position: relative; padding:0 35px 0 15px; font-size: 17px; line-height: 53px; color:#000; box-sizing:border-box; letter-spacing: -1px;
			&:after {display: block; position: absolute; right:0; top:0; width: 54px; height:100%; @include background("common/icon_lnb_off.png",no-repeat 50% 50%); content: "";}
			span {position: relative; z-index: 1}
			&.open, &:hover {
				background:#f27405;color:#fff; font-family: $font3; margin: -1px -1px 0; padding: 1px 35px 0 16px;
				&:after {background:#b64926 url("../../static/images/common/icon_lnb_on.png") no-repeat 50% 50%; }
			}
			&.outlnk {
				&:after {@include background("common/icon_lnb_outlnk.png",no-repeat 50% 50%);}
				&:hover:after {right: 1px}
			}
		}
		.smallmenu {
			display: none;
			ul {
				padding:15px 18px 18px; background:#fcfcee;
				li + li {margin-top: 7px;}
				a {
					font-size: 15px; color:#000; 
					&:before {display: inline-block; content: "-"; margin-right: 10px; }
					&[aria-current=page], &:hover{
						span {text-decoration: underline; font-family: $font3;}
						&:before {content: ""; position: relative; top:-1px; width:14px; height: 14px; margin-right: 5px; margin-left: -4px; @include background("common/sp_icon.png",no-repeat -200px -200px); vertical-align: middle;}
					}
				}

			}
		}
	}
}
#gnb {}


.view-pc {display: inherit;}
.view-m {display: none;}





/* KEYFRAMES & ANIMATION */
@keyframes searchAnimation {
	from {top:-100%; }
	to {top:5px; opacity:1}
}

@keyframes gnbMoAnimation {
	from {opacity:0; -ms-transform:translateY(50px); -webkit-transform:translateY(50px); -moz-transform:translateY(50px); transform:translateY(50px);}
	to {opacity:1; -ms-transform:translateY(0px); -webkit-transform:translateY(0px); -moz-transform:translateY(0px);transform:translateY(0px);}
}






/* POINT TEXT & BR tag */
br.pc.m, 
br.pc {display:inherit}
br.t, 
br.m {display:none}

.bold {font-family: $font2;}
.line {text-decoration: underline;}






/* ICON */
*[class^=icon_] {
	@include background("common/sp_icon.png",no-repeat 0 0);

	&[class$=_facebook] {background-position: 0 0;}
	&[class$=_twitter] {background-position:-100px 0;}
	&[class$=_blog] {background-position:-200px 0;}
	&[class$=_kakao] {background-position:-300px 0;}
	&[class$=_instar] {background-position:-400px 0;}

	&[class$=_country_korea] {background-position:0 -150px;}
	&[class$=_country_japan] {background-position:-50px -150px;}
	&[class$=_country_china] {background-position:-100px -150px;}
	&[class$=_country_en] {background-position:-150px -150px;}
	&[class$=_country_japan]:hover {background-position:-50px -200px;}
	&[class$=_country_china]:hover {background-position:-100px -200px;}
	&[class$=_country_en]:hover {background-position:-150px -200px;}

}




/* BUTTON */
.comp-btn-zone {
	margin-top: 40px; text-align: center;
	* + * {margin-left: 5px}
}
*[class^=btn-txt] { // TEXT BUTTON
	&[class$=_more] {
		display: inline-block; width: 90px; height: 30px; 
		line-height: 30px; font-size: 14px; color:#b4b4b4; text-align: center;
		border: 1px solid #ddd; background:#fff; box-sizing: border-box;
		&:after {display: inline-block; content: "+"; margin-left: 3px;}
		&:hover {background:#525252; color:#fff; border-color:#525252;}
	}	

	// &[class$=_type1] {}	
	// &[class$=_type2] {}	
}

*[class^=comm-btn] { // COMMON BUTTON
	&[class*=_type1] {display: inline-block; width: 190px; height: 50px; line-height: 50px; vertical-align: middle; text-align: center;  font-size: 18px; font-family: $font2; box-sizing: border-box;}
	&[class*=_type2] {display: inline-block; width: 100px; height: 35px; line-height: 33px; vertical-align: middle; text-align: center;  font-size: 15px; border:1px solid #d9d6d5; color:#787878; box-sizing: border-box;}
	

	&[class*=_lgrey] {background:#d7d7d7; color:#3e3e3e;}	
	&[class*=_orange] {background:#ff7200; color:#fff;}	
	&[class*=_blue] {background:#f4f7f9; color:#787878; border-color:#d9d6d5;}	
}




/* TITLE */
*[class^=heading] {
	&[class$=-h3] {
		font-size: 24px;font-family: $font2; color:#111;
		&:before {display: inline-block; position: relative; top: -1px; content: ""; width: 24px; height: 26px; margin-right: 10px; @include background("common/bul_h3.png",no-repeat 50% 50%);vertical-align: middle;}
	}
	&[class$=-h4] {
		position: relative; padding-left: 18px; font-size: 18px;font-family: $font2; color:#111;
		&:before {display: inline-block; position: absolute; left:0; top:0; content: ""; width: 12px; height: 19px;  @include background("common/bul_h4.png",no-repeat 50% 50%); }
	}
}




/* LIST */
p[class^=comp-lst] {
	&[class*=_dotted] {
		position: relative; padding-left: 15px; font-size: 16px; color:#4b4b4b; line-height: 24px; font-family: $font2;
		&:before {display: inline-block; position: absolute; left:0; top:9px; content: ""; width: 5px; height: 5px; background:#656565; }
		.cont {font-family: $font1;}

		&[class*=_small] {
			color:#7f7f7f; font-size: 15px; padding-left: 10px; font-family: $font1;
			&:before {top:10px; width: 1px; height: 1px; background:#7f7f7f;}
		}
		&[class*=_grey] {
			color:#1c1c1c;
			&:before {background:#cfcfcf;}				
		}
	}
	&[class*=_hyphen] {
		position: relative; padding-left: 15px; font-size: 15px; color:#7f7f7f; line-height: 24px;
		&:before {display: inline-block; position: absolute; left:0; top:10px; content: ""; width: 10px; height: 2px; background:#fe970e; }
	}
	&[class*=_important] {
		position: relative; padding-left: 15px; color:#7f7f7f; font-size: 15px; line-height: 24px;
		&:before {display: inline-block; position: absolute; left:0; top:0; content: "※"; margin-right: 5px;}
	}
}
*[class^=comp-lst] {
	&[class*=_dotted] {
		& > li {
			position: relative; padding-left: 15px; font-size: 16px; color:#4b4b4b; line-height: 24px; font-family: $font2;
			&:before {display: inline-block; position: absolute; left:0; top:9px; content: ""; width: 5px; height: 5px; background:#656565; }
			.cont {font-family: $font1;}
		}

		&[class*=_small] {
			& > li {color:#7f7f7f; font-size: 15px; padding-left: 10px; font-family: $font1;}
			& > li:before {top:10px; width: 1px; height: 1px; background:#7f7f7f;}
		}
		&[class*=_grey] {
			& > li {color:#1c1c1c; font-family: $font1;}
			& > li:before {background:#cfcfcf;}				
		}
	}
	&[class*=_hyphen] {
		& > li {
			position: relative; padding-left: 15px; font-size: 15px; color:#7f7f7f; line-height: 24px;
			&:before {display: inline-block; position: absolute; left:0; top:10px; content: ""; width: 10px; height: 2px; background:#fe970e; }
		}
	}

	&[class*=_important] {
		& > li{
			position: relative; padding-left: 15px; color:#7f7f7f; font-size: 15px; line-height: 24px;
			&:before {display: inline-block;position: absolute; left:0; top:0;content: "※"; margin-right: 5px;}
		}
	}
	&[class*=_star] {}
}



/* TEXT */
*[class^=comp-txt] {
	&[class$=_box] {
		min-height: 40px; padding:6px 20px 6px 12px; border:1px solid #f9e2b8; background:#fcf8e3;
		p {font-size: 16px; line-height: 26px; }
	}
}




/* TABLE */
table[class^=comp-tbl] {
	table-layout: fixed; 

	&[class*=_datatype] {
		border-top: 2px solid #7a7a7a; color:#787878;
		thead {
			th {height: 50px; border-bottom: 1px solid #d9d6d5; border-left: 1px solid #d9d6d5; background:#f4f7f9; font-size: 16px; font-family: $font2; text-align: center;}
			th:first-child {border-left: 0;}
			tr:last-child th {border-bottom-color:#7a7a7a;}
		}
		tbody{
			th {height: 50px;padding:0 0.5rem; border-bottom: 1px solid #d9d6d5; border-left: 1px solid #d9d6d5; background:#f4f7f9; font-size: 15px; font-family: $font2; text-align: center;}
			td {height: 50px; font-size: 15px; border-left: 1px solid #d9d6d5; border-bottom: 1px solid #d9d6d5; text-align: center;}
			th:first-of-type {border-left: 0;}
			td:first-child {border-left: 0;}
		}
	}

	&[class*=_formtype] {
		border-top: 2px solid #7a7a7a; color:#4b4b4b;
		tbody{
			th {
				height: 50px; padding:6px 13px 6px 23px; width:180px; border-bottom: 1px solid #d9d6d5; background:#f4f7f9; 
				font-size: 16px; font-family: $font2;text-align: left; box-sizing: border-box; vertical-align: top; line-height: 35px;
			}
			td {
				height: 50px; padding:6px 15px; font-size: 15px; border-bottom: 1px solid #d9d6d5; text-align: center; box-sizing: border-box; text-align: left;
			}
		}
		.important {float: right; color:#ff4e00; }
		.txt {line-height: 35px;}
	}
}




/* INPUT */
select[class^=comp-select] {
	width: 100%; padding:0 10px; height: 35px; border:1px solid #d9d6d5; box-sizing: border-box; font-size: 15px; color:#787878;
	background:#fff url("../../static/images/common/form_select3.png") no-repeat 100% 50%;
	&:focus {background:#f4f7f9 url("../../static/images/common/form_select3.png") no-repeat 100% 50%;}
}
input[class^=comp-input] {
	width: 100%; padding:0 10px; height: 35px; border:1px solid #d9d6d5; box-sizing: border-box; font-size: 15px; color:#787878;
}
*[class^=comp-radio] {
	label {
		font-size: 16px; color:#333; cursor: pointer;
		&:before {display:inline-block; width:19px; height: 18px; margin-right: 8px; content: ""; @include background("common/form_radio1_off.png",no-repeat 50% 50%); vertical-align: middle;}
	}
	input:checked ~ label:before {@include background("common/form_radio1_on.png",no-repeat 50% 50%);}
}
textarea[class^=comp-textarea] {
	width: 100%; padding:10px; height: 385px; border:1px solid #d9d6d5; box-sizing: border-box; font-size: 15px; color:#787878;
	resize:none; font-family: $font1;
}

/* INPUT SIZE */
input.w_writer {width:220px;}
input.w_password {width:135px;}
.w_addr {
	overflow: hidden;
	& > * {float: left;}
	& > * + * {margin-left: 6px;}
	input:first-of-type {width: 100px;}
	input:nth-of-type(2) {width: 308px;}
	input:nth-of-type(3) {width: 270px;}
}
.w_phone {
	overflow: hidden;
	& > * {float: left;}
	.txt {margin:0 14px;}
	input {width: 100px}
	select {width: 100px;}
}
.w_email {
	overflow: hidden;
	& > * {float: left;}
	.txt {margin:0 11px;}
	input:nth-of-type(1) {width: 132px;}
	input:nth-of-type(2) {width: 200px;}
	select {width: 170px; margin-left: 6px;}
}






/* UI - PAGING */
// *[class^=comp-paging] {
// 	margin-top:60px; text-align:center; font-size:0;
// 	& > div {display:inline-block; position:relative; padding:0 105px;}
// 	.number {
// 		overflow:hidden;
// 		li {
// 			float:left; margin-left:25px;
// 			&:first-child {margin-left:0}
// 		}
// 		a {
// 			font-size:18px;line-height:35px;
// 			&:hover {color:$color4;}
// 		}
// 		.current a {color:$color4}
// 	}
// 	p {
// 		position:absolute; top:0;
// 		&.allprev {
// 			left:0;
// 			a {@include background("frontend/button/btn-allprev.png",no-repeat 45% 50%)}
// 		}
// 		&.prev {
// 			left:41px;
// 			a {@include background("frontend/button/btn-prev.png",no-repeat 50% 50%)}
// 		}
// 		&.allnext {
// 			right:0;
// 			a {@include background("frontend/button/btn-allnext.png",no-repeat 55% 50%)}
// 		}
// 		&.next {
// 			right:41px;
// 			a {@include background("frontend/button/btn-next.png",no-repeat 50% 50%)}
// 		}

// 		a {display:block; overflow:hidden; position:relative; width:36px; height:36px; border-radius:100px; border:1px solid $bd1;text-indent:-9999em; box-sizing:border-box; }
// 	}
// }
/* UI - TAB */
*[class^=comp-tab] {
	overflow:hidden; 
	li {float: left; width: 20%; box-sizing: border-box; border-top: 1px solid #d1d1d1; }
	a {
		display: block; position: relative; text-align: center; line-height: 50px; font-size: 17px; color:#111; background:#f4f4f4; border-right:1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1;
		&[aria-selected=true]:after {display: block; position:absolute; left:-1px; top:-1px; width: 100%; height: 100%; background:#f27405; content: ""; padding:1px; }
		&[aria-selected=true] span {position: relative; z-index: 1; color:#fff; font-family: $font2; }
	}

	li:first-child:nth-last-of-type(2),
	li:first-child:nth-last-of-type(2) ~ li {width: 50%; border-top: 1px solid #d1d1d1;}
	li:first-child:nth-last-of-type(3),
	li:first-child:nth-last-of-type(3) ~ li {width: 33%; border-top: 1px solid #d1d1d1;}
	li:first-child:nth-last-of-type(3) ~ li:nth-child(2) {width: 34%}
	li:first-child:nth-last-of-type(4),
	li:first-child:nth-last-of-type(4) ~ li {width: 25%; border-top: 1px solid #d1d1d1;}
	li:nth-child(n+6) {border-top: 0;}
	li:nth-child(5n+1) a {border-left: 1px solid #d1d1d1;}
}
/* UI - SUBPAGE TOP */
*[class^=comp-iconbox] {
	position: relative; min-height: 160px; padding:39px 40px 30px 0; border:2px solid #e2e1e1; border-top-color:#fe970e; background:#fff;
	&:before {display: block; position: absolute; left:-1px; top:-2px; content: ""; width: 80px; height: 10px; background:#fe970e;}
	&:after {display: block; position: absolute; left:-1px; top:7px; content: ""; width: 10px; height: 70px; background:#adadad;}
	.icon {
		overflow:hidden; position: absolute; left:34px; top: 29px; overflow: hidden;
		width: 100px; height: 100px; border-radius: 100px; background:#cfcfcf;
	}
	.cont {
		padding-left: 164px;
		.tit {margin-bottom: 13px; color:#1c1c1c; font-size: 20px; font-family: $font2; }
	}

	&[class*=_iconnone] {
		padding:30px 25px 35px;
		.cont {padding-left: 0;}
	}
}
/* UI - customer */
.customer-zone {
	border:1px solid #cfcfcf;
	.customer-top {
		position: relative; overflow: hidden; height: 45px; padding:0 15px; border-bottom: 1px solid #cfcfcf; line-height: 44px;
		.addr {
			float: left;
			&:after {display:block; clear:both; content:""}
			li {float: left; position: relative; padding-left: 30px; margin-left: 35px; font-size: 14px; color:#7f7f7f;}
			li:first-child {margin-left: 0;}
			li:before {display: inline-block; position: absolute; left:0; top:50%; margin-top: -11px; width: 22px; height: 22px; content: ""; }
			.icon-part:before {@include background("common/icon_customerzone1.png",no-repeat 50% 50%);}
			.icon-person:before {@include background("common/icon_customerzone2.png",no-repeat 50% 50%);}
			.icon-number:before {@include background("common/icon_customerzone3.png",no-repeat 50% 50%);}
		}
		.date {
			float: right; font-size: 14px; color:#7f7f7f; position: relative; padding-left: 30px;  
			&:before {display: inline-block; position: absolute; left:0; top:50%; margin-top: -11px; width: 22px; height: 22px; @include background("common/icon_customerzone4.png",no-repeat 50% 50%); content: ""}
		}
	}
	.customer-bottom {
		background:#eff0f1; padding-top:14px;
		.agreebox {
			padding:0 13px;
			&:after {display:block; clear:both; content:""}
			.txt {
				float: left;font-size: 14px; color:#1c1c1c;  position: relative; padding-left: 40px;line-height: 27px;
				&:before {display: inline-block; position: absolute; left:0; top:0; width: 27px; height: 27px; content: ""; @include background("common/icon_customerzone_txt.png",no-repeat 50% 50%);}
			}
			.radio-lst {
				float: left; margin-left: 28px;margin-top: 5px;
				&:after {display:block; clear:both; content:""}
				li {
					float: left; margin-left: 20px; 
					&:first-child {margin-left: 0;}
				}
				label {
					display: inline-block; font-size: 14px; color:#7f7f7f; padding-left: 20px; position: relative;
					&:before {display: block; position: absolute; left:0; top:0; width: 14px; height: 14px; content: ""; @include background("common/form_radio2_off.png",no-repeat 50% 50%);}
				}
				input:checked + label:before {@include background("common/form_radio2_on.png",no-repeat 50% 50%);}
			}
		}
		.form {
			padding:15px 30px 20px;
			&:after {display:block; clear:both; content:""}
			input {float: left; width:808px; padding:0 10px; height: 30px; font-size: 13px; background:#fff;}
			button {float: left;width: 120px; height: 30px; color:#fff; font-size: 13px; background:#b88527;}
		}
	}
}






/* LAYER */
#layer {
	display:block; position:fixed; top:50%; left:50%; z-index:1001;
	// width:620px; 
	// margin:-240px 0 0 -310px;
	&.dim {background:rgba(0,0,0,0.7);}
	&.open {
		.layer-inner {position:static; top:50%; left:50%; min-height:480px; text-align:center; border:6px solid #0d265e; border-top: 0; background:#fff; box-sizing:border-box;}
		.title {height: 60px; padding-left: 24px; line-height: 60px; color:#fff; text-align: left;background:#0d265e; font-size: 22px; font-weight:bold;}
		.layer-container {
			overflow:hidden; position:relative; padding:27px 35px; background:#fff; text-align: left;
			p {line-height: 30px; font-size: 16px; color:#797979;}
			p+p {margin-top: 15px;}
			ul {margin: 15px 0;}
			li {line-height: 30px; font-size: 16px; color:#797979;}
		}
		.btn {position:absolute; top:0; right:0; }
	}
}
.dimd {position: fixed; left:0; top:0; background:rgba(0,0,0,0.5); width: 100%; height: 100%; z-index: 1000}

































@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack

@media (max-width:1024px){
//-------------------------------------------------------------------------------
/* LAYOUT */       
#header, #footer, #container {min-width: inherit;}
#header {
	position: static; height: auto;
	.inner {width:auto;}
	.header-top {
		height: auto; display: none;
		// .header-site {
		// 	float: none;
		// 	li {
		// 		width:25%; box-sizing: border-box;
		// 		a {width: 100%; line-height: 4.2rem; height: 4.2rem; font-size: 1.3rem;}
		// 	}
		// 	li:nth-child(1), li:nth-child(6) {display: none;}
		// }
		// .header-zoom,
		// .header-utilegroup {display: none}
	}
	.header-middle {
		height: 7.4rem;
		.title {
			position: static; text-align: center; 
			a {width:13.5rem; height:7.4rem; margin:0 auto; @include background("usc/img_logo_m.png", no-repeat 50% 50%); background-size: 100% auto;}
		}	
		.btn-search-open {
			position: absolute; left:0; top:0; 
			button {display:block; height: 7.4rem; width:7.4rem; background:#ffb00d url("../../static/images/common/icon_search.png") no-repeat 50% 50%; background-size: 40% auto; text-indent: -999em;}
		}
		.btn-menu-open {
			position: absolute; right:0; top:0; 
			button {display:block; height: 7.4rem; width:7.4rem; background:#785719 url("../../static/images/common/icon_gnb.png") no-repeat 50% 50%; background-size: 40% auto; text-indent: -999em;}
		}
		.usc-snsgroup,
		.currentlanguage {display: none}
		.comp-search {
			display: none; width: 100%; position: absolute; top:0; left:-100%; height: 7.4rem;
			// transition: 0.3s ease;
			.form {
				display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; border-radius: 0;border:0;
				select {display: none;}
				input {-webkit-flex:1; flex:1; height: 7.4rem; border:2px solid #ffb00d; font-size: 1.4rem;}
				.btn {
					display: block; width: 7.3rem;
					button {
						position:relative; width: 100%; height: 100%; background:#ffb00d; text-indent:-999em;
						&:before {
							display: block; content: ""; position:absolute; top:3.5rem; left:1.5rem; width: 4rem; height: 2px; background:#fff; -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); transform:rotate(45deg);
						}
						&:after {
							display: block; content: ""; position:absolute; top:3.5rem; left:1.5rem; width: 4rem; height: 2px; background:#fff; 
							-moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform:rotate(-45deg);
						}
						span {display: inline-block; text-indent: -999em;}
					}
				}
			}
			& > button {
				display: none;
				right: 0; top: 0; height: 4.7rem;
			}
		}
	}
	.header-bottom {
		display: none;
		position: fixed; right:-100%; top:0; max-width: 30rem; width:72vw; height: 100vh; background: #fff; z-index: 1001;
		
		.gnb-mo-title {display:block; font-size: 2rem; line-height: 6rem; background:#785719;font-family: $font2; padding-left: 1.6rem; box-sizing: border-box; color:#fff;}
		& > .btn {
			display: block; position: absolute; right: 0; top:0;
			button {
				position: relative; height: 6rem; width: 6rem; background: rgba(0,0,0,0.5);
				&:before {display: block; content: ""; position: absolute; left:50%; top:50%; width: 3rem; height: 2px; background:rgba(256,256,256,0.6); transform: rotate(45deg); margin-left: -1.5rem;}
				&:after {display: block; content: ""; position: absolute; left:50%; top:50%; width: 3rem; height: 2px; background:rgba(256,256,256,0.6); transform: rotate(-45deg); margin-left: -1.5rem;}
				span {display: inline-block; text-indent: -999em;}
			}
		}
		.header-utilegroup {
			float: none; height: 10.1rem; padding-top: 0; background:#fff5e4;
			.header-utile {
				display: block; border-bottom: 1px solid #fed4a0;
				li {
					width: 50%;
					& + li:before {display: none; }
					& + li {border-left: 1px solid #fed4a0; box-sizing: border-box;}
				}
				a {
					display: block; font-size: 1.2rem; line-height: 4.3rem; color:#555; text-align: center;
					&:before {display: inline-block; content: ""; vertical-align: middle; }
					&.icon-login:before {height: 1.5rem; width: 1.1rem; margin-right: 0.7rem;}				
					&.icon-join:before {height: 1.4rem; width: 1.5rem; margin-right: 0.6rem;}				
				}
			}
			.haeder-lang {
				padding:1.4rem 0; text-align: center; margin-left: 0; display: block;
				li {float: none; display: inline-block;}
				a {width: 4.3rem; height: 3rem;background-size: 100% 100% !important; }
			}
		}
	}
}
#footer {
	height: auto;
	.inner {width: 100%;}
	
	.btn-gototop {
		top:inherit;bottom:90px; position: fixed;
		a {width: 5rem; height:5rem; font-size: 1.3rem; background:#4f4f4f; line-height: 1.1; box-sizing: border-box; padding-top: 1.3rem;}
		a:after {display: none}
		a:before {display: block; content: "^"; }
	}
	.footer-banner {
		height: 4rem; padding:0 1rem;
		.tit {font-size:1.3rem; line-height: 4rem;}
		.indicator {
			left:5.5rem; top:50%; margin-top: -0.8rem;
			p[class^=btn-] {
				& > * {width: 1.5rem; height: 1.5rem; }
				&.btn-prev button {@include background("common/icon_prev1.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&.btn-next button {@include background("common/icon_next1.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&.btn-more {display:none;}
				& + p {margin-left: 1rem;}
			}
		}
		.banner-slider {
			padding-left: 10rem; 
			li {line-height:4rem; padding:0 0.8rem}
			a {font-size: 0.9rem;}
		}
	}
	.footer-selectgroup {
		padding: 1.6rem 2rem 0;
		.footer-comp-select {
			float: none; 
			dt button {width: 100%; height:3.3rem; font-size: 1.2rem; padding-left:1.2rem; background-size: auto 100%;}
			& + .footer-comp-select  {margin-left: 0; margin-top: 0.8rem}
			dd {
				li {width:25%; padding-left:1.7rem; line-height:2.3rem}
				li:before {font-size: 1.2rem; position: relative; top:-2px;}
				li:nth-child(even) {padding-left:1.7rem ;}
				a {font-size: 1.2rem}
			}
			&.open {
				dt button {background-size: auto 100%;}
			}
		}
	}
	.footer-notice { 
		position: static; margin-top: 2.4rem; text-align: center;
		.txt {font-size: 1.1rem; line-height: 1.7rem;}
		.number {
			font-size: 1.5rem; line-height:2.3rem; 
			.call {text-indent: -999em; width: 2.3rem; height: 2.3rem; background-size: 100% 100%; border-radius: 100px;}
		}
	}
	.footer-utilegroup {
		margin-top: 3rem; padding:0 2rem 4rem;  font-size:1rem; line-height: 1.4rem; text-align: center;
		.footer-utile {
			display: inline-block;
			li + li:before {margin:0 0.8rem; height:0.9rem; top:-1px;}
			li:nth-child(4) {clear:both; margin-left: 2rem;}
			li:nth-child(4):before {display: none}
			a {font-size: 1.1rem; line-height:2rem}
		}
		.footer-addr {
			text-align: center; margin-top:1.5rem;
			li {
				float: none; display: inline-block;
				&:first-child {display: block;}
				&:nth-child(2):before {display: none}
				& + li:before {height: 0.8rem; margin:0 0.6rem;}
				strong {font-family: $font1; color:#333;}
			}
		}
	}
	.footer-markgroup {
		margin:2.3rem 0 0;text-align: center;
		.footer-qrcode {display: inline-block; position: static; margin-left:3.6vw; width: 6rem; padding:1rem 0.5rem 1rem 1rem; border:1px solid #ddd; border-radius: 5px;}
		.footer-acmark {display: inline-block; position: static; width: 8rem;}
		& + .footer-utilegroup {margin-top: 2.5vw;}
	}
}
#container {
	padding-top: 0;
	&:before {display: none;} 
	> .inner {width:auto;}
	.top-visual-zone, #lnb {display: none;}

	#contents {padding: 0 1.5rem 5rem;}
	.breadcrumb-zone {
		height: auto; padding-left: 0; border-bottom: 1px solid #bdbebe; border-top: 1px solid #7a7c7c;
		.breadcrumb {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
			& > li{ 
				&:first-child {
					a {width:3.3rem; font-size: 1.2rem; background:none;}
					& ~ li {-webkit-flex:1;flex:1;}
				}
				&> a {
					width:100%; font-size: 1rem; line-height: 3.3rem; padding:0 2rem 0 0.7rem; @include background("common/bg_bread.png",no-repeat 100% 50%); background-size: auto 100%;
					&:after {display: none;}
				}
			}
			.menu {
				li {padding:0 0.5rem; margin-top: 0.2rem;}
				li:first-child {margin-top: 0}
				a {font-size: 0.9rem; padding:0 1.2rem 0 0.2rem; line-height: 3rem;}
				a:after {right: 0; top:0; margin-top: 0; width:1.3rem; height: 3rem; @include background("common/bg_utile_arrow.png",no-repeat 0% 50%); background-size: auto 100%;}
			}
		}
	}
	.page-zoom {display: none;}
	.title-zone {
		padding-top: 1.5rem; height: 6.6rem;
		.page-title {font-size: 2.4rem;text-align: center;}
		.page-utile {
			top:50%; margin-top:-17px;
			& > li {
				&:nth-child(2),
				&:nth-child(3) {display: none}
				> *[class^=icon-] {
					width: 25px; height: 25px; background-size: 100% 100% !important;
					&.icon-sns {@include background("common/icon_utile_sns_m.png",no-repeat 50% 50%);}
					&.icon-qrcode {@include background("common/icon_utile_qr_m.png",no-repeat 50% 50%);}
					&.open:after,
					&:hover:after {height:23px; top:-1px;}
				}
			}
			.area-qrcode {
				height: 20rem; width: 14.6rem;
				&:before {width: 10rem; top: 13.6rem; margin-left: -5rem;}
				&:after {width: 0.8rem; height: 0.8rem; border-width:2px; top:13.3rem;}
				.img {width: 8.6rem; height: 11rem; margin:0 auto; padding-top: 1.6rem; }
				.txt {font-size: 1.1rem; line-height: 1.4rem; padding-top: 2.3rem;}
				.btn .btn-close {width: 2.3rem; height: 2.3rem; }
				.btn .btn-close span {-ms-transform: scale(0.7);-webkit-transform: scale(0.7);-moz-transform: scale(0.7);transform: scale(0.7);}
			}
			.area-sns {
				height: 27px; right:24px; padding:0 0 0 0.5rem;
				.btn .btn-close {width:23px; height:23px; @include background("common/icon_utile_sns_close_m.png",no-repeat 50% 50%); background-size: 100% 100%; }
				ul {
					height:16px; width: 80px; display: inline-block; margin-top: 4px;
					li + li {margin-left: 4px;}
				}
				*[class^=icon-] {
					width:14px; height: 14px; background-size: 100% 100% !important;
					&.icon-instar {@include background("common/icon_utile_instar.png",no-repeat 50% 50%)}
					&.icon-kakao {@include background("common/icon_utile_kakao.png",no-repeat 50% 50%)}
					&.icon-twitter {@include background("common/icon_utile_twitter.png",no-repeat 50% 50%)}
					&.icon-facebook {@include background("common/icon_utile_facebook.png",no-repeat 50% 50%)}

				}
			}
		}
	}
	.contents-zone {padding-bottom:3rem; min-height: inherit;}
}
#gnb {
	.gnb {
		position: relative;
		h2 {
			a {display:block; height: 7.2rem; width: 7.2rem;  font-size: 1.2rem; font-family: $font2; color:#393939; text-align: center; border-bottom: 1px solid #c5c5c5; line-height: 7.2rem;}
		}
		h3 {
			a {
				display:block; position: relative; padding:0 2rem 0 0.3rem; font-size: 1.3rem; color:#383838;line-height: 3.1rem; border-bottom: 1px solid #d6d5d5; 
				&:before {display: block; position: absolute; right: 0.7rem; top:50%; margin-top: -0.5px; content: ""; width: 1.2rem; height: 1px; background:#3b3b3b; }
				&:after {display: block; position: absolute; right: 0.7rem; top:50%; margin-top: -0.5px; content: ""; width: 1.2rem; height: 1px; background:#3b3b3b; transform: rotate(90deg)}
			}
		}
		h4 a {
			color:#818181; font-size: 1rem; font-family: $font1; 
			&:before {display: inline-block; content: ""; vertical-align: middle;  margin-right: 0.6rem; width: 0.3rem; height: 0.3rem; background:#818181; border-radius: 100px;}
			&:hover:before {background:#ff6826;}
		}
		.part-introduce {display: none}
		.menu {padding-top: 0.3rem;}
		.depth2menu {
			display: none; overflow-y:auto; position: absolute; left:7.2rem; top:0; width: calc(100% - 7.2rem); height: calc(100vh - 16.1rem); border-left: 1px solid #c5c5c5; 
			.group {padding:0 1.4rem; }
			.group + .gropu {margin-top: 0.7rem;}
			.group h3:only-child a {
				padding-right: 0;
				&:before {display: none;}
				&:after {display: none;}
			}
			.menu {padding-bottom: 10rem;}
		}
		.depth3menu {
			display: none; 
			li {line-height: 2.6rem; padding-left: 0.6rem; box-sizing: border-box; }
			li:first-child {padding-top:0.8rem;}
		}

		.clicked, .current, 
		.clicked h3 a,
		h2 a:hover, h3 a:hover, h4 a:hover {color:#ff6826; font-family: $font2; font-weight: bold;}
		& > li:first-child .depth2menu {display: block;}
	}
}


/* POINT TEXT & BR tag */
br.t, 
br.pc {display:none}
br.m {display:inherit}

.view-m {display: inherit;}
.view-pc {display: none;}



/* TITLE */
*[class^=heading] {
	&[class$=-h3] {
		font-size: 1.5rem; 
		&:before {width: 1.5rem; height: 1.5rem; margin-right: 0.6rem; background-size: 100% 100%;}
	}
	&[class$=-h4] {
		padding-left: 1.3rem; font-size: 1.3rem;
		&:before {width: 0.7rem; height: 1.2rem;background-size: 100% 100%;}
	}
}



/* LIST */
p[class^=comp-lst] {
	&[class*=_dotted] {
		padding-left: 1rem; font-size:1.2rem; line-height: 1.4rem;
		&:before {top:0.5rem; width: 0.3rem; height:0.3rem;}

		&[class*=_small] {
			font-size: 1.1rem; padding-left: 0.8rem; line-height: 1.6rem;
			&:before {top:0.7rem;}
		}
	}
	&[class*=_hyphen] {
		padding-left: 1.1rem; font-size:1.1rem; line-height:1.6rem;
		&:before {top:0.6rem; width: 0.5rem; height: 2px; }
	}
	&[class*=_important] {
		padding-left:1.2rem; font-size:1.2rem; line-height: 1.4rem;
	}
}
*[class^=comp-lst] {
	&[class*=_dotted] {
		& > li {
			padding-left:1rem; font-size:1.2rem; line-height:1.4rem; 
			&:before {top:0.5rem; width: 0.3rem; height: 0.3rem; }
		}
		&[class*=_small] {
			& > li {font-size: 1.1rem; padding-left: 0.8rem; line-height: 1.6rem;}
			& > li:before {top:0.7rem;}
		}
	}
	&[class*=_hyphen] {
		& > li {
			padding-left:1.1rem; font-size: 1.1rem; line-height: 1.6rem;
			&:before {top:0.6rem; width: 0.5rem; height: 2px; }
		}
	}
	&[class*=_important] {
		& > li {padding-left:1.2rem; font-size:1.2rem; line-height: 1.4rem; }
	}
	&[class*=_star] {}
}


/* TABLE */
table[class^=comp-tbl] {
	&[class$=_datatype] {
		border-top: 2px solid #7a7a7a; color:#787878;
		thead {
			th {height: 3.3rem; font-size: 1.2rem;}
		}
		tbody{
			th {font-size: 1.2rem; height: 3.3rem;}
			td {height: 3.3rem; font-size: 1.2rem;}
		}
	}

	&[class$=_formtype] {
		tbody{
			th {
				height:4.3rem; padding:0.5rem 1rem 0.5rem 0.7rem; width:25%;
				font-size:1.2rem; line-height: 3.3rem;
			}
			td {
				height:4.3rem; padding:0.5rem 0.7rem; font-size:1.2rem;
			}
		}
		.txt {line-height: 3.3rem;}
	}
}


/* TEXT */
*[class^=comp-txt] {
	&[class$=_box] {
		min-height: auto; padding:0.7rem 1rem; word-break: keep-all;
		p {font-size:1.2rem; line-height:1.6rem; }
	}
}




/* ICON */
*[class^=icon_] {
	&[class$=_country_korea] {@include background("common/icon_lang_ko.png",no-repeat 50% 50%); background-size: 100% 100%;}
	&[class$=_country_japan] {@include background("common/icon_lang_ja.png",no-repeat 50% 50%); background-size: 100% 100%;}
	&[class$=_country_china] {@include background("common/icon_lang_ch.png",no-repeat 50% 50%); background-size: 100% 100%;}
	&[class$=_country_en] {@include background("common/icon_lang_en.png",no-repeat 50% 50%); background-size: 100% 100%;}
	&[class$=_country_japan]:hover {@include background("common/icon_lang_ja_on.png",no-repeat 50% 50%); background-size: 100% 100%;}
	&[class$=_country_china]:hover {@include background("common/icon_lang_ch_on.png",no-repeat 50% 50%); background-size: 100% 100%;}
	&[class$=_country_en]:hover {@include background("common/icon_lang_en_on.png",no-repeat 50% 50%); background-size: 100% 100%;}

}


/* BUTTON */
.comp-btn-zone {
	display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; margin-top:3rem;
	*:first-child:nth-last-of-type(2),
	*:first-child:nth-last-of-type(2) ~ * {-webkit-flex:1; flex:1;}
	* + * {margin-left: 0.5rem;}
}
*[class^=btn-txt] { // TEXT BUTTON
	&[class$=_more] {
		width: 6rem; height: auto;
		line-height: 1.9rem; font-size:0.9rem;
		&:after {margin-left:2px;}
	}	

	// &[class$=_type1] {}	
	// &[class$=_type2] {}	
}
*[class^=comm-btn] { // COMMON BUTTON
	&[class*=_type1] {width:100%; height: 3.5rem; line-height: 3.5rem; font-size: 1.3rem;}
	&[class*=_type2] {width:auto; height: 3.3rem; line-height:3.3rem;  font-size: 1.2rem;}
	

	&[class*=_lgrey] {background:#d7d7d7; color:#3e3e3e;}	
	&[class*=_orange] {background:#ff7200; color:#fff;}	
	&[class*=_blue] {background:#f4f7f9; color:#787878; border-color:#d9d6d5;}	
}




/* INPUT */
select[class^=comp-select] {
	padding:0 1rem; height: 3.3rem; font-size: 1.2rem; background-size: auto 100%;
	&:focus {background-size: auto 100%}
}
input[class^=comp-input] {
	padding:0 1rem; height:3.3rem; font-size: 1.2rem;
}
*[class^=comp-radio] {
	label {
		font-size: 1.2rem; 
		&:before {width:1rem; height:1rem; margin-right: 0.5rem; background-size: auto 100%;}
	}
	input:checked ~ label:before {background-size: auto 100%;}
}
textarea[class^=comp-textarea] {
	padding:1rem; height: 15rem; font-size: 1.2rem;
}

/* INPUT SIZE */
input.w_writer {width:100%;}
input.w_password {width:100%;}
.w_addr {
	& > * + * {margin-left: 0}
	*[class^=comm-btn_type2] {width: 40%; margin-left: 2%}
	input:first-of-type {width: 58%}
	input:nth-of-type(2) {width: 100%; margin-top: 0.5rem;}
	input:nth-of-type(3) {width:100%; margin-top: 0.5rem}
}
.w_phone {
	.txt {margin:0; width: 10%; text-align: center; margin-bottom: 0.5rem}
	input:nth-of-type(1) {width: 90%; margin-bottom: 0.5rem;}
	input:nth-of-type(2) {width: 100%;}
	select {width: 90%; margin-bottom: 0.5rem}
}
.w_email {
	.txt {margin:0; width: 10%; text-align: center;}
	input:nth-of-type(1) {width:90%;}
	input:nth-of-type(2) {width:100%; margin-top: 0.5rem}
	select {width:100%; margin-left:0; margin-top: 0.5rem;}
}






/* UI - TAB */
*[class^=comp-tab] {
	li {width:25%; }
	a {line-height: 3.5rem; font-size: 1.2rem; }

	li:nth-child(n+5) {border-top: 0;}
	li:nth-child(5n+1) a {border-left: 0}
	li:nth-child(4n+1) a {border-left: 1px solid #d1d1d1;}
}
/* UI - SUBPAGE TOP */
*[class^=comp-iconbox] {
	min-height: 160px; padding:2rem 3rem 1.5rem 0; 
	&:before {height:5px;}
	&:after {width:5px; top:3px;}
	.icon {
		left:1.5rem; top:2rem; width: 7rem; height: 7rem;
		img {width: 100%; height: 100%;}
	}
	.cont {
		padding-left: 10rem;
		.tit {margin-bottom:1rem; font-size: 1.5rem;}
	}

	&[class*=_iconnone] {
	}
}
/* UI - customer */
.customer-zone {
	border:1px solid #cfcfcf;
	.customer-top {
		height:auto; padding:1.5rem 1rem; line-height: 1.2;
		.addr {
			float: none;
			li {float:none; padding-left:2.2rem; margin-left:0; margin-top: 1rem; font-size: 1.1rem; line-height: 1.7rem;}
			li:first-child {margin-top: 0;}
			li:before {margin-top:-0.9rem; width: 1.7rem; height: 1.7rem;}
			.icon-part:before ,
			.icon-person:before ,
			.icon-number:before {background-size: 100% 100%}
		}
		.date {
			float:none; font-size:1.1rem; padding-left: 2.2rem; margin-top: 1rem; line-height: 1.7rem;
			&:before {margin-top: -0.9rem; width:1.7rem; height:1.7rem;background-size: 100% 100%;}
		}
	}
	.customer-bottom {
		padding-top:1rem;
		.agreebox {
			padding:0 1rem;
			.txt {
				float: none; font-size: 1.1rem; padding-left:3.1rem; line-height:2.1rem;
				&:before {width: 2.1rem; height:2.1rem; background-size: 100% 100%;}
			}
			.radio-lst {
				float: none; margin-left: 0; margin-top: 1.1rem; text-align: center;
				li {
					float:none; display: inline-block; margin-left: 1.2rem; 
					&:first-child {margin-left: 0;}
				}
				label {
					display: inline-block; font-size:1.1rem; padding-left: 1.4rem; 
					&:before {width: 1.1rem; height: 1.1rem; background-size: 100% 100%;}
				}
				input:checked + label:before {background-size: 100% 100%; }
			}
		}
		.form {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; padding:2rem 1rem;
			input {-webkit-flex:1; flex:1;width:auto; padding:0 1rem; height:2.5rem; font-size:1rem;}
			button {width: 9.6rem; height: 2.5rem; font-size: 1rem;}
		}
	}
}



//-------------------------------------------------------------------------------
}
@media (max-width:768px){

}
@media (max-width:360px){
	#gnb .gnb h3 a {font-size: 1.2rem;} 
}

@media (max-width:321px){
	#gnb .gnb h3 a {font-size: 1.1rem;} 
	/* UI - customer */
	.customer-zone .customer-bottom .agreebox .radio-lst {padding:0 20%;}
	.customer-zone .customer-bottom .agreebox .radio-lst li:nth-child(3)~li {margin-top: 1rem;}
	.customer-zone .customer-bottom .agreebox .radio-lst li:nth-child(4) {margin-left: 0}

}

