@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
01. LAYOUT (HEADER, FOOTER, CONTINAER..)
02. KEYFRAMES & ANIMATION 
03. TEXT
04. ICON
05. BUTTON
06. TITLE
07. LIST
08. TABLE
09. UI
10. LAYER


[ Z-INDEX 순서 ]


[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3


------------------------------------------------------ */


/* LAYOUT */       
#wrap {position:relative; min-width:320px;}
#header {
	overflow:hidden; height: 180px; min-width: 1320px;
	.inner {
		width:1320px; position: relative; margin:0 auto; 
		&:after {display:block; clear:both; content:""}
	}

	.header-top {
		height: 40px; background:#383b3b;
		.header-site {
			float: left; 
			&:after {display:block; clear:both; content:""}
			li {
				float: left; border-right:1px solid rgba(256,256,256,0.2); 
				&:nth-child(1) a:before {display: inline-block; content: ""; width: 22px; height: 21px; @include background("common/sp_icon.png", no-repeat 0 -50px); margin-right: 10px; vertical-align: middle;}
				a {display:block;width:120px;  font-size: 12px; color:#fff; line-height: 40px; text-align: center;}
			}

			.current a {color:#f15a22; background:#fff; }
			li:nth-child(1).current a:before {background-position: -50px -50px;} 
		}
	}
	.header-utilegroup {
		float: right; padding-top: 7px;
		.header-utile {
			display: inline-block; font-size: 11px; color:#e1e1e1;
			&:after {display:block; clear:both; content:""}
			li {float: left; line-height: 23px;}
			li+li:before {display: inline-block; content: ""; margin:0 12px; width: 1px; height: 9px; background:rgba(173,174,174,0.2);}
		}
		.haeder-lang {
			display: inline-block; margin-left: 22px;
			li {float: left;}
			li + li {margin-left: 7px;}
			a {display: inline-block; width: 34px; height: 23px; text-indent: -999em;}
		}
	}
	.header-middle {
		position:relative; height: 90px; 
		.title {
			position: absolute; left:0; top:17px; 
			a {display:block; width: 139px; height: 60px; text-indent: -999em; @include background("usc/img_logo.png",no-repeat 50% 50%);}
		}
		.usc-snsgroup {
			position: absolute; right: 0; top:0; height: 90px; padding-top: 20px; padding-right: 89px; 
			@include background("usc/bg_header.png",no-repeat 100% 100%);
			.txt {font-size: 15px; font-family: $font2; color:#2d2d2d; text-align: right;}
			.sns { 
				overflow: hidden; margin-top: 10px;
				li {float: left; margin-left: 8px; }
				a {display: block; width: 34px; height: 34px; text-indent: -999em; }
			}
		}
		.comp-search {
			position: relative; top:25px; width:444px; height:44px;margin:0 auto; text-align: center;
			.form {overflow:hidden; width: 100%; border:3px solid #ffb00d; border-radius: 100px; background:#fff; 
				&:after {display:block; clear:both; content:""}
				select {float: left; width: 85px; height: 38px; padding-left: 20px; text-align: right; @include background("common/form_select2.png",no-repeat 100% 50%); box-sizing: border-box; font-size: 13px; color:#222; line-height: 28px}
				input {float: left; width: 353px; height: 38px; padding:0 70px 0 20px; box-sizing: border-box; font-size: 13px;color:#222;}
			}
			button {
				width: 52px; height: 52px; position: absolute; right: 17px; top:-5px; border-radius: 100px; background:#ffb00d;
				span {display: inline-block; vertical-align: middle; width: 25px; height: 25px; text-indent: -999em; @include background("common/sp_icon.png",no-repeat -100px -50px);}
			}
		}
	}
	.header-bottom {
		background:#d59f2b; min-height: 50px;

		
	}
} 
#gnb {}
#footer {
	position:relative; height: 270px; min-width: 1320px;  background:#fff;
	.inner {
		position: relative; width:1320px; margin:0 auto;
		&:after {display:block; clear:both; content:""}
	}

	.btn-gototop {
		position: absolute; right: 0; top:0;
		a {display: block; width: 120px; height: 59px; line-height: 59px; color:#fff; font-size: 18px; text-align: center; color:#fff; background:#37424c;}
		a:after {display: inline-block; content: "^"; vertical-align: middle; margin-left: 10px;}
	}
	.footer-banner {
		height: 60px; border-bottom:1px solid #e1e1e1;

		.tit {position:absolute; left:0; top:0; font-size: 18px; color:#000; line-height: 59px;}
		.indicator {
			position: absolute; overflow:hidden; left:79px; top:19px; width:85px;
			p[class^=btn-] {
				float: left;
				& > * {display:block; width: 23px; height: 23px; @include background("common/sp_icon.png", no-repeat 0 0); text-indent: -999em;}
				&.btn-prev button {background-position: 0 -100px;}
				&.btn-next button {background-position: -50px -100px;}
				&.btn-more a {background-position: -100px -100px;}
				& + p {margin-left: 7px;}
			}
		}
		.banner-slider {
			padding-left: 170px; 
			li {position: relative; line-height: 59px;padding:0 25px;}
			li + li:before {display: inline-block; position: absolute; left:0; top:50%; width: 4px;height: 4px; margin-top: -2px; border-radius: 10px; content: ""; background:#c2c0bf;}
			.slick-current:before {display: none}
		}
	}
	.footer-selectgroup {
		padding-top: 20px; 
		&:after {display:block; clear:both; content:""}
		.footer-comp-select {
			float:left; position: relative;
			dt button { 
				width:250px; height: 40px; padding:0 45px 0 15px; border:1px solid #cbcaca; font-size: 15px; color:#666; background:#fff url("../../static/images/common/form_select1.png") no-repeat 100% 50%; text-align: left;
			}
			dd {
				display:none; position: absolute; left:0; bottom:100%; margin-bottom: -1px;
				background:#fff; border:1px solid #cbcaca; 
				ul{
					padding:11px 0 8px;
					&:after {display:block; clear:both; content:""}
					
				}
				li {
					float: left; width:50%; padding-left: 18px; box-sizing: border-box; text-align: left; line-height: 26px;
					&:before{display: inline-block; content: "·"; margin-right: 2px; vertical-align: middle;}
					&:nth-child(even) {padding-left: 10px;}
				}
				a {
					font-size: 15px; color:#666;
					&:hover {font-family: $font2;}
				}	
			}
			& + .footer-comp-select {margin-left: 17px;}

			&.open {
				dt button {color:#fff; background:#b5b4b5 url('../../static/images/common/form_select1_on.png') no-repeat 100% 50%;}
			}
		}
	}
	.footer-utilegroup {
		padding:0 130px 0 120px; margin-top: 25px; text-align: left;font-size: 13px; color:#666; line-height: 20px;
		.footer-utile {
			&:after {display:block; clear:both; content:""}
			li {
				float: left;
				&+li:before {display: inline-block; position: relative; top:-2px; content: ""; width:1px; height: 12px; vertical-align: middle; margin:0 20px; background:#b7b7b7;}
			}
			a {
				font-size: 15px; color:#666; 
				strong {font-family: $font2;}
			}
		}
		.footer-addr {
			margin-top: 16px;
			&:after {display:block; clear:both; content:""}
			li {
				float: left;
				&+li:before {display: inline-block; position: relative; top:-1px; content: ""; width:1px; height: 10px; vertical-align: middle; margin:0 12px; background:#b7b7b7;}
				strong {font-family: $font2;}
			}
		}
		.footer-txt {color:#c0c0c0;}
	}
	.footer-markgroup {
		.footer-qrcode {position: absolute; left:0; top: 86px;}		
		.footer-acmark {position: absolute; right:4px;top:92px;}		
	}
	.footer-notice {
		position: absolute; right:0; top:82px; text-align: right;
		.number {
			font-size: 23px; color:#ff6942; font-family: $font2; line-height: 35px;
			.call {display: inline-block; overflow:hidden; width: 35px; height: 35px; @include background("common/sp_icon.png",no-repeat -200px -50px); text-indent: 9999em; vertical-align: middle;} 
		}
		.txt {margin-top: 6px; font-size: 17px; line-height: 26px; color:#888;}

	}
}
#container {
	min-width: 1320px;
} 
.breadcrumb {}


.view-pc {display: inherit;}
.view-m {display: none;}





/* KEYFRAMES & ANIMATION */
@keyframes searchAnimation {
	from {top:-100%; }
	to {top:5px; opacity:1}
}

@keyframes gnbMoAnimation {
	from {opacity:0; -ms-transform:translateY(50px); -webkit-transform:translateY(50px); -moz-transform:translateY(50px); transform:translateY(50px);}
	to {opacity:1; -ms-transform:translateY(0px); -webkit-transform:translateY(0px); -moz-transform:translateY(0px);transform:translateY(0px);}
}






/* POINT TEXT & BR tag */
.point1 {}

br.pc.m, 
br.pc {display:inherit}
br.t, 
br.m {display:none}







/* ICON */
*[class^=icon_] {
	@include background("common/sp_icon.png",no-repeat 0 0);

	&[class$=_facebook] {background-position: 0 0;}
	&[class$=_twitter] {background-position:-100px 0;}
	&[class$=_blog] {background-position:-200px 0;}
	&[class$=_kakao] {background-position:-300px 0;}
	&[class$=_instar] {background-position:-400px 0;}

	&[class$=_country_korea] {background-position:0 -150px;}
	&[class$=_country_japan] {background-position:-50px -150px;}
	&[class$=_country_china] {background-position:-100px -150px;}
	&[class$=_country_en] {background-position:-150px -150px;}
	&[class$=_country_japan]:hover {background-position:-50px -200px;}
	&[class$=_country_china]:hover {background-position:-100px -200px;}
	&[class$=_country_en]:hover {background-position:-150px -200px;}

}




/* BUTTON */
*[class^=btn-txt] { // TEXT BUTTON
	&[class$=_more] {
		display: inline-block; width: 90px; height: 30px; 
		line-height: 30px; font-size: 14px; color:#b4b4b4; text-align: center;
		border: 1px solid #ddd; background:#fff; box-sizing: border-box;
		&:after {display: inline-block; content: "+"; margin-left: 3px;}
	}	

	// &[class$=_type1] {}	
	// &[class$=_type2] {}	
}

*[class^=comm-btn] { // COMMON BUTTON

}




/* TITLE */
*[class^=heading] {
	
}



/* LIST */
*[class^=comp-lst] {
	*[class$=_dotted] {
	}

	*[class$=_important] {
	}

	*[class$=_hyphen] {
	}

	*[class$=_star] {
	}
}




/* TABLE */
table[class^=comp-tbl] {
}



/* INPUT */
.comp-select {

}






/* UI - PAGING */
*[class^=comp-paging] {
	margin-top:60px; text-align:center; font-size:0;
	& > div {display:inline-block; position:relative; padding:0 105px;}
	.number {
		overflow:hidden;
		li {
			float:left; margin-left:25px;
			&:first-child {margin-left:0}
		}
		a {
			font-size:18px;line-height:35px;
			&:hover {color:$color4;}
		}
		.current a {color:$color4}
	}
	p {
		position:absolute; top:0;
		&.allprev {
			left:0;
			a {@include background("frontend/button/btn-allprev.png",no-repeat 45% 50%)}
		}
		&.prev {
			left:41px;
			a {@include background("frontend/button/btn-prev.png",no-repeat 50% 50%)}
		}
		&.allnext {
			right:0;
			a {@include background("frontend/button/btn-allnext.png",no-repeat 55% 50%)}
		}
		&.next {
			right:41px;
			a {@include background("frontend/button/btn-next.png",no-repeat 50% 50%)}
		}

		a {display:block; overflow:hidden; position:relative; width:36px; height:36px; border-radius:100px; border:1px solid $border1;text-indent:-9999em; box-sizing:border-box; }
	}
}
/* UI - TAB */
*[class^=comp-tab] {
}







/* LAYER */
#layer {
	display:block; position:fixed; top:50%; left:50%; width:620px; z-index:100;  margin:-240px 0 0 -310px;
	&.dim {background:rgba(0,0,0,0.7);}
	&.open {
		.layer-inner {position:static; top:50%; left:50%; min-height:480px; text-align:center; border:6px solid #0d265e; border-top: 0; background:#fff; box-sizing:border-box;}
		.title {height: 60px; padding-left: 24px; line-height: 60px; color:#fff; text-align: left;background:#0d265e; font-size: 22px; font-weight:bold;}
		.layer-container {
			overflow:hidden; position:relative; padding:27px 35px; background:#fff; text-align: left;
			p {line-height: 30px; font-size: 16px; color:#797979;}
			p+p {margin-top: 15px;}
			ul {margin: 15px 0;}
			li {line-height: 30px; font-size: 16px; color:#797979;}
		}
		.btn {position:absolute; top:0; right:0; }
	}
}































@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack

@media (max-width:1024px){
//-------------------------------------------------------------------------------
#header, #footer, #container {min-width: inherit;}

#header {
	.inner {width:auto;}
	.header-top {
		height: auto;
		.header-site {
			float: none;
			li {
				width:25%; box-sizing: border-box;
				a {width: 100%; line-height: 4.2rem; height: 4.2rem; font-size: 1.3rem;}
			}
			li:nth-child(1), li:nth-child(6) {display: none;}
		}
		.header-utilegroup {display: none}
	}
}
#footer {
	height: auto;
	.inner {width: 100%;}

	.footer-selectgroup {
		padding: 4.4vw 5vw 0;
		.footer-comp-select {
			float: none; 
			dt button {width: 100%; height: 8vw; font-size: 3vw; padding-left: 2.9vw; background-size: auto 100%;}
			& + .footer-comp-select  {margin-left: 0; margin-top: 2.1vw;}
			dd {
				li {width:25%; padding-left:4vw; line-height: 5.6vw;}
				li:before {font-size: 2.9vw; position: relative; top:-4px;}
				a {font-size: 2.9vw;}
			}

			&.open {
				dt button {background-size: auto 100%;}
			}
		}
	}
	.footer-notice { 
		position: static; margin-top: 6vw; text-align: center;
		.txt {font-size: 2.7vw; line-height: 4.1vw;}
		.number {
			font-size: 3.7vw; line-height: 5.6vw; 
			.call {text-indent: -999em; }
		}
	}
	.footer-utilegroup {
		margin-top: 6.4vw; padding:0 5vw 10vw;  font-size: 2.2vw; line-height: 3.3vw;
		.footer-utile {
			text-align: center;
			li {float: none; display: inline-block;}
			li + li:before {margin:0 2.4vw; height: 2.2vw; top:-1px;}
			li:nth-child(4):before {display: none}
			a {font-size: 2.6vw; line-height: 4.8vw;}
		}
		.footer-addr {
			text-align: center; margin-top: 3.2vw;
			li {
				float: none; display: inline-block;
				&:first-child {display: block;}
				&:nth-child(2):before {display: none}
				& + li:before {height: 1.9vw; margin:0 1.9vw;}
				strong {font-family: $font1; color:#333;}
			}
		}
		.footer-copy {text-align: center;}
		.footer-txt {text-align: center;}
	}
}



br.t, 
br.pc {display:none}
br.m {display:inherit}


//-------------------------------------------------------------------------------
}
@media (max-width:768px){
	.view-m {display: inherit;}
	.view-pc {display: none;}

	#footer {
		.footer-notice {
			.number .call {-ms-transform:scale(0.6);-webkit-transform:scale(0.6);-moz-transform:scale(0.6);transform:scale(0.6);margin-right: -1vw; }
		}
	}


}
@media (max-width:321px){}

