@charset "UTF-8";

@import 'base';

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */ 
@media (min-width:1025px){
	body.pc .culture #header {
		background:transparent; height: 190px;
		.header-middle {
			background:#fff;
			.title {
				top: 26px;
				a {width: 265px; height:45px; background:url("../../static/images/culture/img_logo.png") no-repeat 50% 50%;}
			}
			.comp-search .form {border-color:#ff877d;}
			.comp-search > button {background:#ff877d;}
		}
		.header-bottom {
			background:transparent; min-height: 60px; border-bottom: 1px solid rgba(256,256,256,0.5); 
			transition:background 0.3s ease;
			.sitemap {top:4px; background:transparent;}
			.sitemap a { border:1px solid #fff; box-sizing: border-box}
		}
		#gnb {
			.gnb {
				& > li {float:left; }
				h2 {
					position: relative;display: inline-block; vertical-align: top; 
					&:before {display: inline-block; position: absolute; left:0; top:50%; margin-top: -11px; content: ""; width: 1px; height:20px; background:rgba(256,256,256,0.5); vertical-align: middle;}
					a {display: block; position: relative; width:180px; line-height:59px; font-size: 18px; color:#fff; text-align: center; }
					&.over a, a:hover {
						font-family: $font3;
						&:before {display: block; position: absolute; bottom:0px; left:0; width: 100%; content: ""; background:#d94343; height: 6px; z-index: 1000}
						&:after {display: block; position: absolute; bottom:-10px; left:50%; width:21px; height: 21px; margin-left: -10.5px; content: ""; border:6px solid #d94343; box-sizing: border-box; border-radius: 100px; background:#fff; z-index: 1000}
					}
					span {position: relative; top:-2px;}
				}
			}
			.depth2menu {display:none; position: absolute; top:100%; left:0; padding-top: 37px; background: #fff; }
			.menu {overflow:hidden; width:1320px; height:374px; }
			.menugroup {float: left;width:333px; padding-left: 12px;}
			.menugroup:first-of-type {width:321px; padding-left: 0;}

			h3 a {
				display:block; padding:0 14px; font-size: 17px; color:#333; line-height: 42px; background:#fde8e6;
				&:before {display: inline-block; content: ""; vertical-align: middle; width:9px; height:18px; margin-right: 12px; @include background("culture/icon_gnb.png",no-repeat 50% 50%);}
				&.current {background: #d94343; color:#fff;}
				&:hover {background: #d94343; color:#fff;}
			}
			h4 a {
				color:#828282; font-size: 15px; 
				&:before {display: inline-block; content: ""; width:3px; height: 3px; border-radius: 100px; background:#888; margin-right: 8px; vertical-align: middle;}
				&:hover {
					color:#ff5864;
					&:before {background:#ff5864;}
				}
			}
			.depth3menu {
				height:292px; padding: 14px 15px 0; box-sizing: border-box; 
				li + li {margin-top: 12px}
			}

			.festival { 
				position: relative; width:100%; z-index: 1; background:#f6ded8;
				.tit-zone {
					position:absolute; top:0; left:-134px; padding: 26px 0 0 134px; width:448px; height: 210px; @include background("culture/bg_festival.png",no-repeat 50% 50%);
					.tit {width:215px; height: 50px; @include background("culture/img_gnbtxt.png",no-repeat 0 50%); text-indent: -999em;}
					.desc {margin-top: 19px; font-size: 15px; color:#555; line-height: 22px; text-align: left;}
				}
				.lst {
					position:relative; height:210px; padding:25px 0 0 296px; box-sizing: border-box; z-index: 1;
					&:after {display:block; clear:both; content:""}
					li {float: left; margin-left: 20px;}
					li:first-child {margin-left: 0;}
					.icon {width:110px; height: 110px; overflow: hidden; margin:0 auto; border-radius: 100px;}
					.name {
						display: table; width:100%; height: 62px; font-size: 15px; color:#555; line-height: 20px; text-align: center;
						span {display: table-cell; vertical-align: middle;}
					}
				}
			}
		
			.menugroup.hover {
				.h3 a {color:#ff5864;}
				.h3 a:before {background:#ff5864;}
				.depth3menu {background:#f4f7f9;}
			}
			h2.over a,
			h2 a:hover {font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; }
		}

		&.open {
			border-bottom:0; @include background("culture/bg_gnb.png",repeat-x 0 100%);
			.header-bottom {border-bottom-color:#fff; background:#ff877d;}
			.festival {display: block !important; }
		}
	}
	body.pc .culture.subpage #header {
		background:#fff;
		.header-bottom {
			background:#ff877d; border-bottom: 1px solid #ff877d;
		}
		&.open {
			border-bottom:0; @include background("culture/bg_gnb.png",repeat-x 0 100%);
		}
	}

	.culture .main .sec-culture .slider-nav .slider {display: inline-block;}
}
.culture #container {
	padding-top: 190px; 
	&:before {top:375px;}
}
.culture #container.main {padding-top: 130px; }

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.culture .main {
	overflow: hidden; position: relative; min-height:830px; height:100vh; 
	&:before {display: none !important}
	.inner {width:1320px;margin:0 auto;}
	.section {position:relative; min-width:1320px; min-height:830px; height:calc(100vh - 130px); }
	/* SECTION 1 */
	.sec-culture {
		// 배경 슬라이더
		position: relative;
		.slider-bg {
			position: relative; min-height:830px; height:calc(100vh - 130px);
			.slide {
				.img {position:absolute; left:0; top:0; width:100%; min-height:830px; height:calc(100vh - 130px);}
				.img.m {display: none}
				.img img {display: none;}
			}
			.slick-dots {
				position: absolute; left:50%; top:500px; margin-left: -730px; width:70px; z-index: 1;
				li {display: none; color:#fff; font-size: 15px; text-align: center;}
				.current {font-family: $font3; font-size: 18px;}
				.slick-active {display: block;}
			}
			.indicator {
				position: absolute; left:50%; top:340px; z-index: 1; margin-left: -730px;
				li+li {margin-top: 8px;}
				button {width:70px; height:70px; background-color: rgba(0,0,0,0.3) !important; border:1px solid #fff; text-indent:-9999em;}
				.btn-prev {@include background("culture/btn_prev.png",no-repeat 50% 50%);} 
				.btn-next {@include background("culture/btn_next.png",no-repeat 50% 50%);}
			}
			.inner {
				position: relative; z-index: 1;  min-height:830px; height:calc(100vh - 130px); padding: 60px 45px 0;
				.subtit {margin-top: 189px; height: 62px; @include background("culture/main/img_slide_subtit.png",no-repeat 0 50%); text-indent: -999em;}
				.tit {margin-top: -5px}
				.desc {margin-top: 17px;font-size: 20px; color:#fff; text-shadow: 2px 2px rgba(0,0,0,0.2);}
				.btn {
					margin-top: 12px;
					a {display: inline-block; width:140px; line-height: 45px; color:#fff; text-align: center; border-radius: 5px; background:#ff877d;}
					a:after {display: inline-block; content: ""; vertical-align: middle; margin-left: 19px; width:14px; height: 12px; @include background("culture/main/icon_arrow.png",no-repeat 50% 50%);}
				}
			}
		}
		.slider-nav {
			position: absolute; left:50%; bottom:60px; width:1320px; margin-left:-660px; text-align: center;
			.slider {
				li {float: left;}
				li+li {margin-left: 28px;}
				a {
					position: relative;  display: block; width:111px; height: 111px;  box-sizing:border-box; border:3px solid transparent; 
					&:after {display: block; position: absolute; left:0; top:0; width:100%; height: 100%; border-radius: 20px; border:3px solid #fff; content: ""; box-sizing: border-box;}
					&:hover .name {display: table;}
				}
				.img {display:block; overflow:hidden; width:105px; height: 105px;border-radius:20px; }	
				.name {
					display:none; overflow:hidden; position: absolute; left:0; top:0; width: 100%; height: 100%; font-size: 16px; color:#fff; text-align: center; background:rgba(0,0,0,0.6); border-radius:20px; 
					span {display: table-cell; vertical-align: middle; line-height: 1.3; padding:0 5px;}
				}	
				a[aria-selected=true] {
					.img:before {display:block; position: absolute; left:50%; top:-16px; margin-left: -16px; width:33px; height: 33px; content:""; @include background("culture/main/icon_important.png",no-repeat 50% 50%); z-index: 1}
					&:before {display: block; position: absolute; left:0; top:0; width:100%; height: 100%; background:rgba(162,83,81,0.8) url("../../static/images/culture/main/icon_important2.png") no-repeat 50% 50%;  content: ""; border-radius: 20px}
					&:hover .name {display: none}
				}
			}
		}
		.weather-zone {
			display:block; overflow:hidden; position:absolute; top:85px; left:50%; width:500px; height: 42px; margin-top: 15px; margin-left: 160px;
			&:after {display:block; clear:both; content:""}
			.today-icon {overflow: hidden; position: absolute; left:0; top:0;  width: 42px; height: 42px; border-radius: 100px; background:#fff;}
			.today-txt {
				overflow:hidden; color:$color1; font-size: 14px; border-radius: 100px; margin-top: 5px; padding-left: 50px; box-sizing: border-box; line-height: 32px; background:#ebd0c4;
				&:after {display:block; clear:both; content:""}
				.day {float: left; margin-right: 3px;}
				.detail {
					position: relative;
					ul{
						&:after {display:block; clear:both; content:""}
						li {float: left; }
						li + li:before {display: inline-block; content: "/"; margin:0 4px 0 4px;}
						span {font-family: $font3;}
					}
					.lnk {display: inline-block; overflow: hidden; position: absolute; right: 6px; top:6px; width: 21px; height: 20px; @include background("usc/icon_link.png", no-repeat 50% 50%); text-indent: -999em; }
				}
			}
		}
		.goto-zone {
			overflow: hidden; position: absolute; left:50%; top:318px; margin-left: 185px;
			li {float: left;}
			li+li {margin-left: 25px;}
			a {
				display: block; overflow: hidden; width:100px; height: 100px; border-radius: 100px; background:rgba(0,0,0,0.1); border:6px solid transparent; font-size: 17px; color:#fff; text-align: center;
				-ms-transition: 0.2s ease; -webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; transition: 0.2s ease;
			}
			a:before {display: block; content: ""; width: 100%; height: 31px; margin:22px auto 9px; background-size: auto 100% !important;}
			li:nth-child(1) a:before {@include background("culture/main/icon_trip1.png",no-repeat 50% 50%);}
			li:nth-child(2) a:before {@include background("culture/main/icon_trip2.png",no-repeat 50% 50%);}
			li:nth-child(3) a:before {@include background("culture/main/icon_trip3.png",no-repeat 50% 50%);}
			li:nth-child(4) a:before {@include background("culture/main/icon_trip4.png",no-repeat 50% 50%);}

			a:hover {background:#fff; border-color:#ff877d; color:#333; font-family: $font2; font-weight: bold;}
			li:nth-child(1) a:hover:before {@include background("culture/main/icon_trip1_over.png",no-repeat 50% 50%);}
			li:nth-child(2) a:hover:before {@include background("culture/main/icon_trip2_over.png",no-repeat 50% 50%);}
			li:nth-child(3) a:hover:before {@include background("culture/main/icon_trip3_over.png",no-repeat 50% 50%);}
			li:nth-child(4) a:hover:before {@include background("culture/main/icon_trip4_over.png",no-repeat 50% 50%);}
		}
	}
	/* SECTION 2 */
	.sec-course {
		@include background("culture/main/bg_course.jpg",no-repeat 50% 0%); background-size: cover;
		.inner {position:relative; padding-top: 179px; }
		.tit-zone {
			width:450px; margin:0 auto 0 0; position: absolute; left:0; top:190px;
			.subtit {width:148px; line-height:43px; font-size: 18px; color:#fff; border:1px solid #fff; margin:0 auto; text-align: center;}
			.tit {text-align: center; margin-top: 19px;}
			ul[role=tablist] {
				overflow: hidden; margin-top: 85px;
				li {float: left; width:25%; }
				a {display: block; }
				a:before {
					display: block; width:82px; height: 82px; margin:0 auto 18px; content: ""; border-radius: 100px; border:1px solid #fff; box-sizing: border-box;
					-ms-transition:0.2s ease; -webkit-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease;
				}
				span {display: block; font-family: $font2; font-weight: bold; text-align: center; color:#fff; font-size: 17px;}
				li:nth-child(1) a:before {background: url("../../static/images/culture/main/icon_sec2_tab1.png") no-repeat 50% 50%;}
				li:nth-child(2) a:before {background: url("../../static/images/culture/main/icon_sec2_tab2.png") no-repeat 50% 50%;}
				li:nth-child(3) a:before {background: url("../../static/images/culture/main/icon_sec2_tab3.png") no-repeat 50% 50%;}
				li:nth-child(4) a:before {background: url("../../static/images/culture/main/icon_sec2_tab4.png") no-repeat 50% 50%;}
				a[aria-selected=true],a:hover {
					&:before {background-color: #c27896 !important; border:5px solid #735360;}
					span {color:#735360; font-family: $font3;}
				}
			}
		}

		.slick-dots {
			position: absolute; right:0; top:345px; margin-right:-100px; width:70px; z-index: 1;
			li {display: none; color:#fff; font-size: 15px; text-align: center;}
			.current {font-family: $font3; font-size: 18px;}
			.slick-active {display: block;}
		}
		.slick-arrow {
			position: absolute; right:0; z-index: 1; margin-right:-100px;
			width:70px; height:70px; background-color: rgba(256,256,256,0.1) !important; border:1px solid #fff; text-indent:-9999em;
			&.slick-prev {top:188px; @include background("culture/btn_prev4.png",no-repeat 50% 50%);}
			&.slick-next {top:265px; @include background("culture/btn_next4.png",no-repeat 50% 50%);}
		}
		div[role=tabpanel] {
			width:870px; margin-left: auto; box-sizing: content-box;
			.slick-slide {height: 525px}
			.slider {
				width:870px;
				a {
					display: block; position: relative; width:270px; height:500px; margin-top: 25px; border-radius: 20px; background:#fff;
					&:hover .hover {display: table;}
				}
				.img {
					position: relative; overflow:hidden; height:325px; border-top-right-radius: 20px; border-top-left-radius: 20px;
					img {width: 100%; height: 100%;}
					.hover {display: none; position: absolute; left:0; top:0; width:100%; height: 100%; background:rgba(0,0,0,0.5); color:#fff;}
					.hover span {display:table-cell; vertical-align: middle; text-align: center; font-family: $font2; font-weight: bold; font-size: 16px; @include background("culture/main/bg_a.png",no-repeat 50% 50%);}
				}
				.infor {
					color:#333; text-align: center; border-top: 2px solid #d68684; 
					.name {display: block; padding:19px 0 12px; font-size: 19px; font-family: $font2; font-weight: bold;}
					.category {display: block; width: 220px; margin:0 auto; line-height: 40px; background:#f6ded8;}
					.desc {display:block; display:-webkit-box; overflow: hidden; max-height: 48px; padding:0 10px; margin-top: 15px; font-size: 16px; line-height: 24px; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
				}
				.flag {
					position: absolute; left:0; top:-25px; width:187px; height: 84px; text-indent: -999em;
					&.best {@include background("culture/main/bul_best.png",no-repeat 50% 50%);}
					&.popular {@include background("culture/main/bul_popular.png",no-repeat 50% 50%);}
				}
			}
		}
	}
	/* SECTION 3 */
	.sec-etc {
		padding-top: 180px; @include background("culture/main/bg_etc.jpg",no-repeat 50% 50%); background-size: cover;
		.notice-zone {
			height: 60px; background:#fff; position: relative;
			&:after {display: block; content: ""; position: absolute; left:34px; top:-14px; width:71px; height: 55px; @include background("culture/main/icon_notice.png",no-repeat 50% 50%); background-size: 100% auto;}
			.tit {
				position: absolute; left:0; top:0; width:325px; padding-left: 122px; font-size: 18px; color:#333; line-height: 60px; font-family: $font2; font-weight: bold; box-sizing: border-box;
				&:after {display:inline-block; content:""; width:16px; height: 60px; margin-left: 25px; @include background("culture/main/bg_bar.png",no-repeat 50% 50%); vertical-align: middle;}
			}
			.slider {
				overflow:hidden; height:60px; padding-left: 325px; padding-right: 183px;
				a {
					 color:#333; font-size:16px;  line-height: 60px; 
					.cont {display: inline-block; overflow:hidden; max-width:80%;white-space: nowrap; text-overflow: ellipsis;}
					.date {float: right; margin-right: 20px;}
				}
			}
			.indicator {
				overflow: hidden; position: absolute; right: 0; top:0;
				li {float: left;border-left: 1px solid #cecece;}
				li>* {display: block; width:60px; height: 60px; text-indent: -9999em;}
				.btn-prev {@include background("culture/btn_prev3.png",no-repeat 50% 50%);}
				.btn-next {@include background("culture/btn_next3.png",no-repeat 50% 50%);}
				.btn-more {@include background("culture/btn_more.png",no-repeat 50% 50%);}
			}
		}
		.box-zone {
			position: relative; margin-top: 16px;
			&:after {display:block; clear:both; content:""}
		}  
		.group {
			float: left; 
			&:after {display:block; clear:both; content:""}
			.cultural-zone {
				float: left;width:415px; height: 296px;  padding:23px 30px 0; margin-left: 20px; @include background("culture/main/bg_cultural.png",no-repeat 50% 50%);
				.tit {
					font-size: 22px; font-family: $font2; font-weight: bold; color:#fff; line-height: 28px; 
					&:after {display: inline-block; content: ""; width: 53px; height: 28px; margin-left: 12px; vertical-align: middle; @include background("culture/main/icon_cultural.png",no-repeat 50% 50%);}
				}
				.lst {
					margin-top: 30px;
					li+li{margin-top: 20px;}
					a {
						display: block; padding:0 18px 0 15px; line-height: 45px; font-family: $font2; font-weight: bold; font-size: 16px; color:#fff; background:rgba(256,256,256,0.3);
						.go {float: right;height:45px; width:44px; @include background("culture/main/btn_cultural.png",no-repeat 50% 50%); text-indent: -999em;}
					}
					a:hover {
						background:#fff; color:#333;
						.go {@include background("culture/main/btn_cultural_on.png",no-repeat 50% 50%);}
					}
				}
			}
			.infor-zone {
				float: left; position: relative; width:415px; height: 296px; padding:23px 0 0 48px;  @include background("culture/main/bg_infor.png",no-repeat 50% 50%);
				&:after {position: absolute; left:-35px; top:26px; width:70px; height: 70px; display: block; content: ""; @include background("culture/main/icon_infor.png",no-repeat 50% 50%);}
				.tit {font-family: $font2; font-weight: bold; font-size: 22px; color:#333; }
				.desc {margin-top: 2px;font-size: 15px; color:#333; line-height: 24px;}
				.btn {
					position: absolute; right: 20px; bottom:20px; 
					a {display: block; width:140px; line-height: 45px; font-size: 17px; color:#fff; text-align: center; background:#ff877d; border-radius: 3px;}
				}
			}
		}
		.event-zone {
			float: right; position: relative; overflow: hidden; width:450px; height: 450px; 
			.slide {
				width:450px; height: 450px;
				img {width:100%; height: 100%;}
			}
			.indicator {
				position: absolute; overflow: hidden; bottom:20px; right: 20px;
				li {float: left;}
				li+li {border-left: 1px solid rgba(256,256,256,0.5);}
				button {width:60px; height:60px; background-color:rgba(0,0,0,0.6) !important; text-indent: -999em;}
				.btn-prev {@include background("culture/btn_prev2.png",no-repeat 50% 50%);}
				.btn-next {@include background("culture/btn_next2.png",no-repeat 50% 50%);}
				.btn-pause {@include background("culture/btn_pause.png",no-repeat 50% 50%);}
				.btn-pause.play {@include background("culture/btn_play.png",no-repeat 50% 50%);}
			}
		}
		.quick-zone {
			height:138px; width:850px; position: absolute; left:0; bottom:0; background:#735360 url("../../static/images/culture/main/bg_quick.png") no-repeat 0 0; color:#fff;
			.tit {position:absolute; left:0; top:0; font-size: 20px; line-height: 26px; font-family: $font2; font-weight: bold; padding:22px 0 0 35px;}
			.lst {
				overflow: hidden; padding:23px 35px 0 226px;
				li {float: left; width:25%;}
				a {
					display: block; 
					&:before {display: block; width: 71px; height: 71px; margin:0 auto; content: ""}
					.name {display: block; margin-top: 9px; font-family: $font2; font-weight: bold; font-size: 16px; text-align: center;}
				}
				li:nth-child(1) a:before {@include background("culture/main/icon_quick1.png",no-repeat 50% 50%);}
				li:nth-child(2) a:before {@include background("culture/main/icon_quick2.png",no-repeat 50% 50%);}
				li:nth-child(3) a:before {@include background("culture/main/icon_quick3.png",no-repeat 50% 50%);}
				li:nth-child(4) a:before {@include background("culture/main/icon_quick4.png",no-repeat 50% 50%);}
			}
			&:after {position: absolute; bottom:0; left:-100px; display: block; content: ""; width:328px; height:98px; @include background("culture/main/img_quick.png",no-repeat 50% 50%); }
		}
	}
	/* 스크롤 아이콘 */
	.icon-scroll {
		position: absolute; right: 25px; top:50%; width:62px; 
		.order {
			width:62px;
			&:before {display: block; position: absolute; left:50%; top:0; width:1px;height:100px; background:#fff; content: ""}
			li {
				position: relative; width:20px; height: 20px; margin:0 auto; border:3px solid #fff; background:#32383a; box-sizing: border-box; border-radius: 100px; transition: 0.2s ease; z-index: 1;
				span {display: inline-block; text-indent:-999em; }	
			}
			li+li {margin-top: 25px; }
			li[aria-current=page] {
				width:16px; height:16px; border:1px solid #fff; background:#ff5864; 
				&:after {display:block; width:32px; height: 32px; border:1px solid #fff; content:""; border-radius: 100px; position: absolute; left:-10px; top:-10px;}
			}
		}
		.txt {width:62px; height: 91px; margin-top: 20px; text-indent: -9999em; @include background("culture/main/img_scroll.png",no-repeat 50% 50%);}	
	}
}

/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */







































































































































































/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1520px) {
	.culture .main .sec-course .slick-arrow {display: none !important;}
	.culture .main .sec-course .slick-dots {display: none !important;}
}@media (max-width: 1024px) {
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.culture #header {
	.header-bottom {
		.header-utilegroup {
			height: 4.3rem;
			.header-utile {
				border-bottom: 0;
				.icon-login:before {@include background("culture/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
				.icon-join:before {@include background("culture/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
			}
		}
		.gnb-mo-title {background: #d94343}
		.header-utilegroup {background: #feeeed;}
		.header-utilegroup .header-utile li + li {border-color:#ffcbc7;}
	}
	.header-middle {
		.btn-search-open button {background-color:#ff877d;}
		.btn-menu-open button {background-color: #d94343}
		.title a {width:16rem; @include background("culture/img_logo.png",no-repeat 50% 50%); background-size: 100% auto;}
		.comp-search .form .btn button {background:#ff877d;}
		.comp-search .form input {border-color:#ff9d94;}
	}
	#gnb .gnb h2 a {
		display: table;
		span {display:table-cell; vertical-align: middle; line-height: 1.2; padding:0 0.5rem; }
	}
	.festival {display: none}
}
#wrap.culture #gnb {
	.gnb .depth2menu {height: calc(100vh - 10.3rem) }
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#d94343;}
	.gnb h4 a:hover:before {background:#d94343;}
}
#wrap.culture #container {padding-top: 0; }
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.culture .main {
	height:auto;
	.inner {width:100%; }
	.icon-scroll{display: none}
	.scroll-section {margin-top: 0 !important;}
	.section {min-width:auto; min-height:auto;height:auto;}
	/* SECTION 3 */
	.sec-etc {
		padding: 3.6rem 1rem 4rem;
		.notice-zone {
			height: 4rem;
			&:after {left:1.1rem; top:-1rem; width:4.5rem; height: 3.3rem;}
			.tit {display: none }
			.slider {
				height:4rem; padding-left:5rem; padding-right: 11rem;
				a {
					font-size:1.1rem;  line-height: 4rem; 
					.cont {max-width:100%}
					.date {display: none}
				}
			}
			.indicator {
				li>* {width:3.5rem; height: 4rem; background-size:25% auto !important;}
				.btn-more {background-size: 40% auto !important;}
			}
		}
		.box-zone {margin-top: 1.2rem; }
		.group {
			float: none;
			.cultural-zone {
				width:49%; height: 19.6rem;  padding:1.8rem 1.5rem 0; margin-left:2%; background-size: 100% 100%;
				.tit {
					font-size: 1.4rem; line-height: 1.8rem; 
					&:after {width: 3.6rem; height:1.8rem; margin-left:0.9rem;background-size: auto 100%;}
				}
				.lst {
					margin-top: 2rem;
					li+li{margin-top: 1.3rem;}
					a {
						padding:0 1.2rem 0 1rem; line-height: 3rem; font-size:1.1rem;
						.go {height:3rem; width:2.8rem;background-size: 100% auto;}
					}
					a:hover .go {background-size: 100% auto;}
				}
			}
			.infor-zone {
				width:49%; height:19.6rem; padding:1.8rem 0 0 1.5rem; background-size: 100% 100%;
				&:after {left:-2.3rem; top:1.7rem; width:4.6rem; height: 4.6rem; background-size: 100% 100%;}
				.tit {font-size: 1.4rem;}
				.desc {font-size:1rem; line-height:1.6rem;}
				.btn {
					right: 1.3rem; bottom:1.3rem; 
					a {width:9.3rem; line-height:3rem; font-size:1.1rem;}
				}
			}
		}
		.event-zone {
			float: none; width:100%; height: auto;  margin-top: 1.2rem;
			.slide {
				width:100%; height: 39.5rem;
				img {width:100%; height: 100%;}
			}
			.indicator {
				bottom:1.8rem; right: 1.5rem;
				button {width:4rem; height:4rem; background-size: 30% auto !important}
			}
		}
		.quick-zone {
			height:auto; width:100%; position:static; background:#735360; margin-top:1.3rem;
			.tit {display: none}
			.lst {
				position: relative; padding:0.8rem 0 1.5rem 0; z-index: 1;
				a {
					&:before {width: 4.6rem; height: 4.6rem; background-size: 100% 100% !important;}
					.name {margin-top:1rem; font-size:1rem;}
				}
			}
			&:after {left:-1rem; width:4.4rem; height:6.9rem; @include background("culture/main/img_quick1_m.png",no-repeat 50% 100%); background-size: 100% auto;}
			&:before {display: block; position:absolute; bottom:0; right:-1rem; width:4.8rem; height:4.4rem; @include background("culture/main/img_quick2_m.png",no-repeat 50% 100%); background-size: 100% auto; content: ""}
		}
	}
	/* SECTION 2 */
	.sec-course {
		padding:0 1rem; @include background("culture/main/bg_course_m.jpg",no-repeat 50% 50%); background-size: cover;
		.inner {overflow: hidden; padding-top: 4.5rem; padding-bottom: 18rem; }
		.tit-zone {
			position: static; float: left; width:50%; padding-top:3rem; padding-right: 3rem;
			.subtit {width:9rem; line-height:2.6rem; font-size: 1.1rem;}
			.tit {
				margin-top: 1.1rem; max-width:16rem; text-align: left;
				img {width:100%;}
			}
			ul[role=tablist] {
				position: absolute; left:0; bottom:6.3rem; margin-top: 0; width: 100%; padding:0 1.8rem; box-sizing: border-box;
				a:before {width:6.1rem; height: 6.1rem; margin:0 auto 1.4rem; background-size: 100% 100% !important;}
				span { font-size: 1.3rem;}
				a[aria-selected=true],a:hover {
					&:before {border:3px solid #735360;}
				}
			}
		}

		.slick-dots {display: none; }
		.slick-arrow {display: none }
		div[role=tabpanel] {
			float: left; width:50%;
			.slick-slide {height:35rem}
			.slider {
				width:auto;
				.slide {padding-right: 1.8rem;}
				a {height:33.3rem; width:100%; margin-right: 1.8rem; margin-top: 1.6rem; }
				.img {
					height:21.6rem; 
					.hover span {font-size: 1.1rem; background-size:80% 30%;}
				}
				.infor {
					padding:0 1.5rem;
					.name {padding:1.3rem 0 1rem; font-size: 1.3rem; }
					.category {width:100%; line-height: 2.6rem; }
					.desc {max-height:3.2rem; padding:0; margin-top:1rem; font-size: 1.1rem; line-height: 1.6rem;}
				}
				.flag {top:-1.6rem; width:12.3rem; height: 5.6rem; background-size: 100% 100% !important; }
			}
		}
	}
	/* SECTION 1 */
	.sec-culture {
		// 배경 슬라이더
		.slider-bg {
			min-height:auto; height:61.3rem;
			.slide {
				.img {position:absolute; left:0; top:0; width:100%; min-height:auto; height:61.3rem;}
				.img.m {display:block}
				.img.pc {display:none}
			}
			.slick-dots {display: none }
			.indicator {
				left:0; top:45rem; margin-left:0; width:100%; text-align: center; @include background("culture/main/img_scroll2.png",no-repeat 50% 50%); background-size: auto 100%;
				li {display: inline-block;}
				li+li {margin-top:0; margin-left:4.5rem;}
				button {width:1.6rem; height:0.9rem; background-color: transparent !important; border:0; background-size: 100% 100% !important;}
				.btn-prev {@include background("culture/main/btn_prev.png",no-repeat 50% 50%);} 
				.btn-next {@include background("culture/main/btn_next.png",no-repeat 50% 50%);}
			}
			.inner {
				min-height:auto; height:61.3rem; padding: 7rem 2.8rem 0;  text-align: left;
				.subtit {margin-top:0; height: 2.2rem; background-size: auto 100%;}
				.tit {margin-top: -0.3rem}
				.desc {margin-top: 1.3rem; font-size:1.1rem;}
				.btn {
					margin-top: 1.2rem;
					a {width:9.3rem; line-height: 3rem;}
					a:after {margin-left: 1.3rem; width:0.9rem; height: 3rem; background-size: 100% auto;}
				}
			}
		}
		.slider-nav {
			position: absolute; overflow-x:scroll; left:0%; bottom:3.7rem; width:100%; margin-left:0; height: 10rem; padding:0 2rem;
			.slider {
				width:300%; 
				li+li {margin-left: 1.5rem;}
				li:last-child {padding-right: 2rem;}
				a {
					width:7.2rem; height: 7.2rem; border:2px solid transparent; margin-top: 1.2rem;
					&:after {border:2px solid #fff;}
				}
				.img {width:6.8rem; height: 6.8rem;}	
				.name {font-size: 1rem; }
				a[aria-selected=true] {
					.img:before {top:-1.2rem; margin-left: -1.1rem; width:2.2rem; height: 2.2rem; background-size: 100% 100%;}
					&:before {background-size: auto 40%;}
				}
			}
		}
		.weather-zone {
			top:1rem; left:50%; max-width:33rem; width:100%; height: 42px; margin-top:0; margin-left:-16.5rem;
			.today-icon {width: 2.9rem; height: 2.9rem; }
			.today-txt {
				font-size: 1rem; margin-top: 5px; padding-left: 3.5rem; line-height: 2.1rem;
				.day {margin-right: 3px;}
				.detail .lnk {right: 0.4rem; top:50%; margin-top: -0.7rem; width:1.4rem; height:1.4rem;background-size: 100% 100%;}
			}
		}
		.goto-zone {
			left:0%; top:23.3rem; margin-left:0; width: 100%;  padding:2.5rem; box-sizing: border-box;
			li {float: left; width:25%;}
			li+li {margin-left:0;}
			a {width:6.7rem; height: 6.7rem;font-size: 1.1rem; margin:0 auto;}
			a:before {width: 100%; height: 2.1rem; margin:1.5rem auto 0.7rem;}
		}
	}

}

/* ------------------------------------------------------
SUBPATE
------------------------------------------------------ */























} @media (max-width: 768px) {
} @media (max-width:320px) {
#wrap.culture #header .header-middle .title a {width:15rem;}
#wrap.culture .main {

}
}