@charset "UTF-8";

@import 'base';

/* ------------------------------------------------------

[ FONT WEIGHT ]
기본 공통 폰트 - 'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif;
 
나눔스퀘어 
'NanumSquareL','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font0
'NanumSquareR','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font1
'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font2
'NanumSquareEB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; // sass $font3


------------------------------------------------------ */
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
@media (min-width:1025px){
	body.pc .ebooksys #header.header-type2 {
		.header-middle .title a {width: 281px; height:51px; background:url("../../static/images/ebooksys/img_logo.png") no-repeat 50% 50%;}
		.header-bottom .sitemap {background: #f27405}
	
		#gnb {margin-left: 370px;}
		#gnb h2 a {width: 220px}

		#gnb .depth2menu {
			display: none; position: absolute; left:0; top:100%; padding-left: 40px; padding-top: 0; background: #fff; width: 100%;
			.menu {padding:33px 30px 30px;}
			.menugroup{
				&:after {display:block; clear:both; content:""}
				h3 a {display:block; text-align: center; font-size: 18px; color:#373737; line-height: 22px;}
				h3 a .number {display: block; font-size: 15px; color:#f25e3d;}
				.group {float: left; width: 11.1%; margin-top: 0}
				.group:nth-of-type(9) ~ .group {margin-top: 25px}
			}

			&.other {
				padding-left: 0;
				.menu {padding:26px 0;}
				.menugroup {
					.group {margin-left: 30px; width: auto; padding-left: 0;}
					.group:first-of-type {margin-left: 0}
					h3 a {display: block; width: 190px; line-height: 35px; color:#2d2d2d; font-size: 17px; text-align: center; background: #ffead5;  }
					h3 a:before {display: none}
					h3 a.current,
					h3 a:hover {color:#fff; background: #f27f3d;}
				}
			} 
		}
		// HEADER ICONS
		#gnb .depth2menu .menugroup {
			h3 a[class^=icon-]:before {display:block; content: ""; width: 100px; height: 100px; margin:0 auto 10px; }
			a.icon-gnb1:before {background: url(../../static/images/ebooksys/icon_gnb1.png) no-repeat 50% 50%;}
			a.icon-gnb2:before {background: url(../../static/images/ebooksys/icon_gnb2.png) no-repeat 50% 50%;}
			a.icon-gnb3:before {background: url(../../static/images/ebooksys/icon_gnb3.png) no-repeat 50% 50%;}
			a.icon-gnb4:before {background: url(../../static/images/ebooksys/icon_gnb4.png) no-repeat 50% 50%;}
			a.icon-gnb5:before {background: url(../../static/images/ebooksys/icon_gnb5.png) no-repeat 50% 50%;}
			a.icon-gnb6:before {background: url(../../static/images/ebooksys/icon_gnb6.png) no-repeat 50% 50%;}
			a.icon-gnb7:before {background: url(../../static/images/ebooksys/icon_gnb7.png) no-repeat 50% 50%;}
			a.icon-gnb8:before {background: url(../../static/images/ebooksys/icon_gnb8.png) no-repeat 50% 50%;}
			a.icon-gnb9:before {background: url(../../static/images/ebooksys/icon_gnb9.png) no-repeat 50% 50%;}
			a.icon-gnb10:before {background: url(../../static/images/ebooksys/icon_gnb10.png) no-repeat 50% 50%;}
			a.icon-gnb11:before {background: url(../../static/images/ebooksys/icon_gnb11.png) no-repeat 50% 50%;}
			a.icon-gnb12:before {background: url(../../static/images/ebooksys/icon_gnb12.png) no-repeat 50% 50%;}
			a.icon-gnb13:before {background: url(../../static/images/ebooksys/icon_gnb13.png) no-repeat 50% 50%;}
			a.icon-gnb14:before {background: url(../../static/images/ebooksys/icon_gnb14.png) no-repeat 50% 50%;}
			a.icon-gnb15:before {background: url(../../static/images/ebooksys/icon_gnb15.png) no-repeat 50% 50%;}
			a.icon-gnb16:before {background: url(../../static/images/ebooksys/icon_gnb16.png) no-repeat 50% 50%;}
			a.icon-gnb17:before {background: url(../../static/images/ebooksys/icon_gnb17.png) no-repeat 50% 50%;}
			a.icon-gnb18:before {background: url(../../static/images/ebooksys/icon_gnb18.png) no-repeat 50% 50%;}

			a.icon-gnb1:hover:before {background: url(../../static/images/ebooksys/icon_gnb1_over.png) no-repeat 50% 50%;}
			a.icon-gnb2:hover:before {background: url(../../static/images/ebooksys/icon_gnb2_over.png) no-repeat 50% 50%;}
			a.icon-gnb3:hover:before {background: url(../../static/images/ebooksys/icon_gnb3_over.png) no-repeat 50% 50%;}
			a.icon-gnb4:hover:before {background: url(../../static/images/ebooksys/icon_gnb4_over.png) no-repeat 50% 50%;}
			a.icon-gnb5:hover:before {background: url(../../static/images/ebooksys/icon_gnb5_over.png) no-repeat 50% 50%;}
			a.icon-gnb6:hover:before {background: url(../../static/images/ebooksys/icon_gnb6_over.png) no-repeat 50% 50%;}
			a.icon-gnb7:hover:before {background: url(../../static/images/ebooksys/icon_gnb7_over.png) no-repeat 50% 50%;}
			a.icon-gnb8:hover:before {background: url(../../static/images/ebooksys/icon_gnb8_over.png) no-repeat 50% 50%;}
			a.icon-gnb9:hover:before {background: url(../../static/images/ebooksys/icon_gnb9_over.png) no-repeat 50% 50%;}
			a.icon-gnb10:hover:before {background: url(../../static/images/ebooksys/icon_gnb10_over.png) no-repeat 50% 50%;}
			a.icon-gnb11:hover:before {background: url(../../static/images/ebooksys/icon_gnb11_over.png) no-repeat 50% 50%;}
			a.icon-gnb12:hover:before {background: url(../../static/images/ebooksys/icon_gnb12_over.png) no-repeat 50% 50%;}
			a.icon-gnb13:hover:before {background: url(../../static/images/ebooksys/icon_gnb13_over.png) no-repeat 50% 50%;}
			a.icon-gnb14:hover:before {background: url(../../static/images/ebooksys/icon_gnb14_over.png) no-repeat 50% 50%;}
			a.icon-gnb15:hover:before {background: url(../../static/images/ebooksys/icon_gnb15_over.png) no-repeat 50% 50%;}
			a.icon-gnb16:hover:before {background: url(../../static/images/ebooksys/icon_gnb16_over.png) no-repeat 50% 50%;}
			a.icon-gnb17:hover:before {background: url(../../static/images/ebooksys/icon_gnb17_over.png) no-repeat 50% 50%;}
			a.icon-gnb18:hover:before {background: url(../../static/images/ebooksys/icon_gnb18_over.png) no-repeat 50% 50%;}

			a.icon-gnb1.current:before {background: url(../../static/images/ebooksys/icon_gnb1_over.png) no-repeat 50% 50%;}
			a.icon-gnb2.current:before {background: url(../../static/images/ebooksys/icon_gnb2_over.png) no-repeat 50% 50%;}
			a.icon-gnb3.current:before {background: url(../../static/images/ebooksys/icon_gnb3_over.png) no-repeat 50% 50%;}
			a.icon-gnb4.current:before {background: url(../../static/images/ebooksys/icon_gnb4_over.png) no-repeat 50% 50%;}
			a.icon-gnb5.current:before {background: url(../../static/images/ebooksys/icon_gnb5_over.png) no-repeat 50% 50%;}
			a.icon-gnb6.current:before {background: url(../../static/images/ebooksys/icon_gnb6_over.png) no-repeat 50% 50%;}
			a.icon-gnb7.current:before {background: url(../../static/images/ebooksys/icon_gnb7_over.png) no-repeat 50% 50%;}
			a.icon-gnb8.current:before {background: url(../../static/images/ebooksys/icon_gnb8_over.png) no-repeat 50% 50%;}
			a.icon-gnb9.current:before {background: url(../../static/images/ebooksys/icon_gnb9_over.png) no-repeat 50% 50%;}
			a.icon-gnb10.current:before {background: url(../../static/images/ebooksys/icon_gnb10_over.png) no-repeat 50% 50%;}
			a.icon-gnb11.current:before {background: url(../../static/images/ebooksys/icon_gnb11_over.png) no-repeat 50% 50%;}
			a.icon-gnb12.current:before {background: url(../../static/images/ebooksys/icon_gnb12_over.png) no-repeat 50% 50%;}
			a.icon-gnb13.current:before {background: url(../../static/images/ebooksys/icon_gnb13_over.png) no-repeat 50% 50%;}
			a.icon-gnb14.current:before {background: url(../../static/images/ebooksys/icon_gnb14_over.png) no-repeat 50% 50%;}
			a.icon-gnb15.current:before {background: url(../../static/images/ebooksys/icon_gnb15_over.png) no-repeat 50% 50%;}
			a.icon-gnb16.current:before {background: url(../../static/images/ebooksys/icon_gnb16_over.png) no-repeat 50% 50%;}
			a.icon-gnb17.current:before {background: url(../../static/images/ebooksys/icon_gnb17_over.png) no-repeat 50% 50%;}
			a.icon-gnb18.current:before {background: url(../../static/images/ebooksys/icon_gnb18_over.png) no-repeat 50% 50%;}
		}


		#gnb h2.over a:before,
		#gnb h2 a:hover:before {background: #ffca3c; }
		#gnb h2.over a:after,
		#gnb h2 a:hover:after {border-color:#ffca3c;}
		#gnb p a:hover {background: #3cb7cd;}
		#gnb h3 a:before{background: #1e4363;}
		#gnb h2.over a,
		#gnb h2 a:hover {color:#f27405}

		&.open {border-bottom-color:#f25e3d;}
		&.open .header-bottom {border-bottom-color: #f27405;}
	}
}
// HEADER ICONS
.ebooksys #header {
	.depth2menu .menugroup h3 a[class^=icon-]:before {display:block; content: ""; width: 100px; height: 100px; margin:0 auto 10px; }
	a.icon-gnb1:before {background: url(../../static/images/ebooksys/icon_gnb1.png) no-repeat 50% 50%;}
	a.icon-gnb2:before {background: url(../../static/images/ebooksys/icon_gnb2.png) no-repeat 50% 50%;}
	a.icon-gnb3:before {background: url(../../static/images/ebooksys/icon_gnb3.png) no-repeat 50% 50%;}
	a.icon-gnb4:before {background: url(../../static/images/ebooksys/icon_gnb4.png) no-repeat 50% 50%;}
	a.icon-gnb5:before {background: url(../../static/images/ebooksys/icon_gnb5.png) no-repeat 50% 50%;}
	a.icon-gnb6:before {background: url(../../static/images/ebooksys/icon_gnb6.png) no-repeat 50% 50%;}
	a.icon-gnb7:before {background: url(../../static/images/ebooksys/icon_gnb7.png) no-repeat 50% 50%;}
	a.icon-gnb8:before {background: url(../../static/images/ebooksys/icon_gnb8.png) no-repeat 50% 50%;}
	a.icon-gnb9:before {background: url(../../static/images/ebooksys/icon_gnb9.png) no-repeat 50% 50%;}
	a.icon-gnb10:before {background: url(../../static/images/ebooksys/icon_gnb10.png) no-repeat 50% 50%;}
	a.icon-gnb11:before {background: url(../../static/images/ebooksys/icon_gnb11.png) no-repeat 50% 50%;}
	a.icon-gnb12:before {background: url(../../static/images/ebooksys/icon_gnb12.png) no-repeat 50% 50%;}
	a.icon-gnb13:before {background: url(../../static/images/ebooksys/icon_gnb13.png) no-repeat 50% 50%;}
	a.icon-gnb14:before {background: url(../../static/images/ebooksys/icon_gnb14.png) no-repeat 50% 50%;}
	a.icon-gnb15:before {background: url(../../static/images/ebooksys/icon_gnb15.png) no-repeat 50% 50%;}
	a.icon-gnb16:before {background: url(../../static/images/ebooksys/icon_gnb16.png) no-repeat 50% 50%;}
	a.icon-gnb17:before {background: url(../../static/images/ebooksys/icon_gnb17.png) no-repeat 50% 50%;}
	a.icon-gnb18:before {background: url(../../static/images/ebooksys/icon_gnb18.png) no-repeat 50% 50%;}

	a.icon-gnb1:hover:before {background: url(../../static/images/ebooksys/icon_gnb1_over.png) no-repeat 50% 50%;}
	a.icon-gnb2:hover:before {background: url(../../static/images/ebooksys/icon_gnb2_over.png) no-repeat 50% 50%;}
	a.icon-gnb3:hover:before {background: url(../../static/images/ebooksys/icon_gnb3_over.png) no-repeat 50% 50%;}
	a.icon-gnb4:hover:before {background: url(../../static/images/ebooksys/icon_gnb4_over.png) no-repeat 50% 50%;}
	a.icon-gnb5:hover:before {background: url(../../static/images/ebooksys/icon_gnb5_over.png) no-repeat 50% 50%;}
	a.icon-gnb6:hover:before {background: url(../../static/images/ebooksys/icon_gnb6_over.png) no-repeat 50% 50%;}
	a.icon-gnb7:hover:before {background: url(../../static/images/ebooksys/icon_gnb7_over.png) no-repeat 50% 50%;}
	a.icon-gnb8:hover:before {background: url(../../static/images/ebooksys/icon_gnb8_over.png) no-repeat 50% 50%;}
	a.icon-gnb9:hover:before {background: url(../../static/images/ebooksys/icon_gnb9_over.png) no-repeat 50% 50%;}
	a.icon-gnb10:hover:before {background: url(../../static/images/ebooksys/icon_gnb10_over.png) no-repeat 50% 50%;}
	a.icon-gnb11:hover:before {background: url(../../static/images/ebooksys/icon_gnb11_over.png) no-repeat 50% 50%;}
	a.icon-gnb12:hover:before {background: url(../../static/images/ebooksys/icon_gnb12_over.png) no-repeat 50% 50%;}
	a.icon-gnb13:hover:before {background: url(../../static/images/ebooksys/icon_gnb13_over.png) no-repeat 50% 50%;}
	a.icon-gnb14:hover:before {background: url(../../static/images/ebooksys/icon_gnb14_over.png) no-repeat 50% 50%;}
	a.icon-gnb15:hover:before {background: url(../../static/images/ebooksys/icon_gnb15_over.png) no-repeat 50% 50%;}
	a.icon-gnb16:hover:before {background: url(../../static/images/ebooksys/icon_gnb16_over.png) no-repeat 50% 50%;}
	a.icon-gnb17:hover:before {background: url(../../static/images/ebooksys/icon_gnb17_over.png) no-repeat 50% 50%;}
	a.icon-gnb18:hover:before {background: url(../../static/images/ebooksys/icon_gnb18_over.png) no-repeat 50% 50%;}

	a.icon-gnb1.current:before {background: url(../../static/images/ebooksys/icon_gnb1_over.png) no-repeat 50% 50%;}
	a.icon-gnb2.current:before {background: url(../../static/images/ebooksys/icon_gnb2_over.png) no-repeat 50% 50%;}
	a.icon-gnb3.current:before {background: url(../../static/images/ebooksys/icon_gnb3_over.png) no-repeat 50% 50%;}
	a.icon-gnb4.current:before {background: url(../../static/images/ebooksys/icon_gnb4_over.png) no-repeat 50% 50%;}
	a.icon-gnb5.current:before {background: url(../../static/images/ebooksys/icon_gnb5_over.png) no-repeat 50% 50%;}
	a.icon-gnb6.current:before {background: url(../../static/images/ebooksys/icon_gnb6_over.png) no-repeat 50% 50%;}
	a.icon-gnb7.current:before {background: url(../../static/images/ebooksys/icon_gnb7_over.png) no-repeat 50% 50%;}
	a.icon-gnb8.current:before {background: url(../../static/images/ebooksys/icon_gnb8_over.png) no-repeat 50% 50%;}
	a.icon-gnb9.current:before {background: url(../../static/images/ebooksys/icon_gnb9_over.png) no-repeat 50% 50%;}
	a.icon-gnb10.current:before {background: url(../../static/images/ebooksys/icon_gnb10_over.png) no-repeat 50% 50%;}
	a.icon-gnb11.current:before {background: url(../../static/images/ebooksys/icon_gnb11_over.png) no-repeat 50% 50%;}
	a.icon-gnb12.current:before {background: url(../../static/images/ebooksys/icon_gnb12_over.png) no-repeat 50% 50%;}
	a.icon-gnb13.current:before {background: url(../../static/images/ebooksys/icon_gnb13_over.png) no-repeat 50% 50%;}
	a.icon-gnb14.current:before {background: url(../../static/images/ebooksys/icon_gnb14_over.png) no-repeat 50% 50%;}
	a.icon-gnb15.current:before {background: url(../../static/images/ebooksys/icon_gnb15_over.png) no-repeat 50% 50%;}
	a.icon-gnb16.current:before {background: url(../../static/images/ebooksys/icon_gnb16_over.png) no-repeat 50% 50%;}
	a.icon-gnb17.current:before {background: url(../../static/images/ebooksys/icon_gnb17_over.png) no-repeat 50% 50%;}
	a.icon-gnb18.current:before {background: url(../../static/images/ebooksys/icon_gnb18_over.png) no-repeat 50% 50%;}
}
.ebooksys #footer {
	height: 210px;
	.footer-utilegroup {padding:0;}
}
.ebooksys #container{ 
	padding-top: 90px; 
	&:before {top:275px;}
	.top-visual-zone {
		p {width:650px; @include background("commonbg/img_ebooksystxt.png",no-repeat 50% 50%);}
	}
}
.ebooksys #container.main {
	padding-top: 130px;
	&:before {display: none}
}
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
.ebooksys input::placeholder {color:#b8b8b8;}
.ebooksys .radio-type1 { 
	position: relative; display: inline-block; overflow: hidden; 
	input { position: absolute; overflow: hidden; left: 3px; top: 50%; width: 1px; height: 1px; visibility: hidden; }
	label { display: inline-block; position: relative; font-size: 14px; color: #777; cursor: pointer; line-height: 18px; letter-spacing: -0.5px; }
	label:before { display: inline-block; content: ""; width: 20px; height: 20px; background: url("../images/ebooksys/main/ipt_radio.png") no-repeat 0 0; vertical-align: middle; }
	label span { margin-left: 6px; font-size:16px; color:#363636;}
	input:checked + label:before { background: url("../images/ebooksys/main/ipt_radio_checked.png") no-repeat 0 0; }
}
.ebooksys {
	*[class^=comp-tab][class*=_row] a[aria-selected=true] span {color:#ff6600;}
	*[class^=comp-paging] .number a[aria-current=page] {background:#cc9966;}

	h4[class^=comp-lst][class*=_round]:before, 
	h5[class^=comp-lst][class*=_round]:before, 
	p[class^=comp-lst][class*=_round]:before,
	*[class^=comp-lst][class*=_round] dt:before, 
	*[class^=comp-lst][class*=_round] li:before {@include background("ebooksys/bul_round.png", no-repeat 50% 50%); background-size: 100% 100%;}
}
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.ebooksys .main {
	.section {
		position:relative; width: 100%; height:810px; background:#f9e8de;
		.title {height:180px; background:url(../images/ebooksys/main/txt_visual.png) no-repeat center bottom; text-indent:-9999em;}

		&:first-of-type {height:800px; background:url(../images/ebooksys/main/bg_main_visual.jpg); -webkit-background-size:cover; background-size:cover;}
	}
	.main-slide {
		position:relative; width:1320px; margin:90px auto 100px auto;
		.list {
			*[class^='togo'] {
				text-align:center; color:#fff;
				a {position:relative; display:block;}
				a:before {display:block; content:""; width:126px; height:126px; margin:0 auto 15px auto; border-radius:126px; background:url(../images/ebooksys/main/sp_main_slide.png) no-repeat;}
				a:after {position:absolute; left:50%; top:0; display:block; content:""; width:126px; height:126px; border-radius:126px; margin-left:-63px;  box-sizing: border-box; }
				a:hover:after,
				a:focus:after {transition: all 0.2s ease; -webkit-transition: all 0.2s ease;}
			}
			.togo1 a:before {background:url(../images/ebooksys/main/main_slide01.png) no-repeat;}
			.togo2 a:before {background:url(../images/ebooksys/main/main_slide02.png) no-repeat;}
			.togo3 a:before {background:url(../images/ebooksys/main/main_slide03.png) no-repeat;}
			.togo4 a:before {background:url(../images/ebooksys/main/main_slide04.png) no-repeat;}
			.togo5 a:before {background:url(../images/ebooksys/main/main_slide05.png) no-repeat;}
			.togo1 a:hover:after,
			.togo1 a:focus:after {border:6px solid #e5bfb7;}
			.togo2 a:hover:after,
			.togo2 a:focus:after {border:6px solid #f6c4ab;}
			.togo3 a:hover:after,
			.togo3 a:focus:after {border:6px solid #ffd9b9;}
			.togo4 a:hover:after,
			.togo4 a:focus:after {border:6px solid #fde3be;}
			.togo5 a:hover:after,
			.togo5 a:focus:after {border:6px solid #fef6c1;}
		}
		.slick-arrow {
			position:absolute; top:24px; width:51px; height:102px; text-indent:-9999em;
			&.main-slide-prev {left:-90px; background:url(../images/ebooksys/main/bg_main_slide_prev.png) no-repeat;}
			&.main-slide-next {right:-90px; background:url(../images/ebooksys/main/bg_main_slide_next.png) no-repeat;}
		}
		.custom-paging {
			position:absolute; right:-79px; top:145px;
			> li {display:none; font-size:18px; color:#fff;font-style: italic;}
			> li em {font-size:20px; font-weight:bold; font-style: italic;}
			> li.slick-active {display:block;}
		}
	}
	/*통합검색*/
	.main-search-zone {
		position:relative; width:1320px; height:150px; margin:0 auto; padding:34px 0 0 217px; background:#d7aa93 url(../images/ebooksys/main/bg_main_search_zone.png) no-repeat 96px 26px; border-radius:73px; -webkit-box-sizing:border-box;box-sizing:border-box; 
		 .form-search {
		 	position:relative; width:824px; height:55px; margin:0 0 14px; padding:0 0 0 30px; background:#fff; border-radius:25px; -webkit-box-sizing:border-box;box-sizing:border-box; 
			 &:after {display:block; content:""; clear:both;}
			 & > * {float:left; -webkit-box-sizing:border-box; box-sizing:border-box; }
			 .select select {width:96px; height:55px; line-height:55px; background:url(../images/ebooksys/main/bg_form_search_select.png) no-repeat right 50%; font-size:17px; color:#343434;}
			 .input {
			 	width:560px; margin:0 0 0 15px; padding:0 0 0 13px; background:url(../images/ebooksys/main/bg_form_search_input.png) no-repeat left 50%;
				input {width:100%; height:55px; padding:0 10px; line-height:55px; }
			 }
			 button {position:absolute; right:18px; top:-8px; width:70px; height:70px; background:url(../images/ebooksys/main/btn_form_search.png) no-repeat; text-indent:-9999em;}
		 }
		 .detail-search {
		 	position:absolute; right:88px; top:34px; 
			 .btn {
			 	width:178px; height:55px; line-height:55px; background:#fff; border-radius:25px;
				 span {display:block; width:160px; height:39px; line-height:39px; margin:0 auto; padding:0 0 0 48px; background:#ffdaa2 url(../images/ebooksys/main/btn_detail_search.png) no-repeat 20px 12px; font-size:16px; color:#303030; border-radius:18px; -webkit-box-sizing:border-box; box-sizing:border-box; text-align:left;}
			 }
		 }
	}
	.main-search-zone .popularity {
		overflow:hidden; margin:0 0 0 18px;
		.tit {display:block; float:left; width:100px; height:28px; line-height:28px; background:#c09078; font-size:14px; color:#fff; text-align:center;}
		.list {
			float:left; margin-left:16px;
			.slick-list {width:640px; padding:0 !important;}
			li {height:28px; padding:0 0 0 14px; line-height:28px;}
			li a {position:relative; display:block; padding-left:14px; font-size:12px; color:#fff;}
			li a:after {position:absolute; left:0; top:7px; display:block; content:""; width:1px; height:13px; margin:0 14px 0 0; background:#fff;}
		}
	}
	/*메인 공지*/
	.main-notice {
		position:absolute; bottom:0; left:0; right:0; width:1320px; height:55px; margin:0 auto; padding:11px 0 0 16px; background:rgba(0,0,0,0.4); -webkit-box-sizing:border-box;box-sizing:border-box; 
		.list {
			.slick-list{width:1145px;}
			li a {
				overflow:hidden; display:block; width:auto; font-size:17px; color:#fff; font-weight:bold;
				& > * {float:left; line-height:35px; }
				.ico {display:block; width:62px; height:35px; line-height:35px; background:rgba(242,94,61,0.5); text-align:center;}
				.subject {width:900px; margin:0 0 0 14px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;  overflow:hidden;}
				.date {float:right; font-size:15px; color:#c7c7c7;}
			}
		}
		.control {
			position:absolute; right:77px; top:18px; 
			& > * {width:20px; height:40px; text-indent:-9999em;}
			.main-notice-prev {background:url(../images/ebooksys/main/sp_notice_control.png) no-repeat left top;}
			.main-notice-next {background:url(../images/ebooksys/main/sp_notice_control.png) no-repeat right top;}
		}
		.btn-link {
			position:absolute; right:0; top:0;
			a {
				position:relative; display:block; width:55px; height:55px; background:rgba(0,0,0,0.5); text-indent:-9999em;
				&:after {position:absolute; left:0; right:0; top:0; bottom:0;display:block; width:1px; height:15px; content:""; margin:auto; background:#aac1c3;}
				&:before {position:absolute; left:0; right:0; top:0; bottom:0;display:block; width:15px; height:1px; content:""; margin:auto; background:#aac1c3;}
			}
		}
	}
	/* 신착도서, 인기도서, 오디오북스 탭 */
	.main-tab {
		width:1320px; margin:0 auto; padding-top:55px;
		.tab {
			overflow:hidden; margin:0 0 30px; 
			& > li {
				position:relative; float:left; width:33.3%;
				&:after {position:absolute; left:-1px; top:20px; display:block; content:""; width:1px; height:30px; background:rgba(119,119,119,0.3 );}
				&:first-child:after {display:none;}
				a {display:block; width:100%; height:65px; line-height:65px; background:#fff; font-size:20px; color:#6c6c6c; text-align:center; }
				a[aria-selected*=true] {background:#d35737; color:#fff;}
			}
		}
		.tab-contents {
			& > div {position:relative;}
			.dep2 {
				text-align:center;
				ul {
					display:inline-block;
					& > li {
						position:relative; float:left; padding:0 25px 5px 0; text-align:center;
						&:after {position:absolute; right:8px; top:0; display:block; content:"/"; color:#ddccb7;}
						&:last-child {padding-right: 0;}
						&:last-child:after {display:none;}
						a {padding:1px 11px; font-size:16px; color:#6c6c6c; border-radius:10px; }
						
						&.on a, a:hover,
						a:focus {background:#f28f63; color:#fff; font-family: $font3;}
					}
				}
			}
			.book-list {
				margin:30px 0 0; width:1320px;
				.slick-track {width:1320px;}
				& > ul {
					width:1320px;
					&:after {display:block; content:""; clear:both;}
					.slick-slide > div > li {position:relative; float:left; width:171px; margin:0 0 20px 16px;} 
					a {
						display: block; overflow: hidden; position:relative; width:171px; height:264px;
						&:hover {
							.after {display:block;}
							.before .tit {color:#fff;}
						}
					}
				}
				.slick-list {margin-left:-19px;}
				.before {
					width:100%; height:100%; padding:60px 20px 0; background:#fff; border:1px solid #d6d5d5; text-align:center;
					.tit {
						display: block;  display:-webkit-box; overflow:hidden; max-height:44px;
						position:absolute; width: 100%; left:0; top:10px; padding:0 15px;color:#383838; line-height:22px; font-weight:bold; z-index: 2; text-align: center; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;box-sizing: border-box;
					}
					.img {
						display:block; margin:0 auto; height: 185px; border:1px solid #d6d5d5;
						img {width:100%; height:100%;}
					}
				}
				.after {
					display:none; position:absolute; left:0; top:0; width:100%; height:100%; padding:70px 10px 0; z-index: 1; background:#f2b263;
					ul {
						& > li {float:none; margin:0; font-size:15px; line-height:32px; color:#fff; font-weight:bold;}
						& > li:before {display:inline-block; content:"-"; margin-right:3px;}
					}
					.btn {display:block; height:40px; line-height:40px; margin-top:6px; color:#fff; background:#edd698; font-weight:bold; text-align:center;}
				}
			}
		}
		.slick-arrow {
			position:absolute; top:223px;  width:51px; height:102px; text-indent:-9999em;
			&.slick-prev {left:-90px; background: url(../images/ebooksys/main/bg_main_slide_prev2.png) no-repeat;}
			&.slick-next {right:-90px; background:url(../images/ebooksys/main/bg_main_slide_next2.png) no-repeat;}
		}
	}


	.custom-paging {
		position:absolute; right:-79px; top:345px; float:none; width:auto;
		& > li {
			display:none; width:auto !important; margin:0 !important; font-size:18px; color:rgba(108,108,108,0.6); font-style: italic;
			&.slick-active {display:block;}
			em {font-size: 20px; font-weight: bold; font-style: italic; color:rgba(242,94,61,0.6);} 
		}
	}
}
/* 스크롤 UI  */
// .mouse-control {
// 	position:fixed; right:50px; bottom:20px; padding:0 0 104px 0; background: url(../images/ebooksys/main/bg_mouse_control.png) no-repeat center 25px; font-size:14px; text-align:center; color:#fff; z-index:10;
// 	&.bottom { bottom:220px; }
// 	&.on {padding:95px 0 0; background: url(../images/ebooksys/main/bg_mouse_control_on.png) no-repeat center top;}
// }
/* 상세검색 팝업 */
.ebooksys #pop_detailsearch {
	position:fixed; left:50%; top:50%; width:500px; padding:0 2px 2px; background:#ff6942; border-radius:10px; -webkit-box-sizing:border-box;box-sizing:border-box;  z-index:1001;
	.tit {padding:20px 0; font-size:24px; color:#fff; font-weight:bold; text-align:center;}
	.form-list {
		padding:20px 20px 30px; background:#fff; border-radius:0 0 10px 10px;
		.tit_sub {margin:26px 0 12px; font-size:20px; color:#535353; font-weight:bold; text-align:left;}
		.tit_sub:first-child {margin-top:0;}
		.list {
			padding:11px; background:#f1f3f4; border:1px solid #d6d5d5; border-radius:10px;
			& > li {
				position:relative; width:100%; margin-top:5px; border:1px solid #dddbdb; background:#fff; border-radius:5px; -webkit-box-sizing:border-box;box-sizing:border-box; 
				&:after {display:block; content:""; clear:both;}
				&:first-child {margin-top:0;}
				& > * {float:left;}
				.label {padding:13px 30px 13px 15px; background:url(../images/ebooksys/main/bg_detail-search_label.png) no-repeat right 50%; font-size:17px; color:#535353;}
				input[type="text"] {width:300px; height:43px; line-height:43px; margin:0 0 0 10px; padding:0 0 0 10px; font-size:16px; -webkit-box-sizing:border-box;box-sizing:border-box; }
				.radio {padding:13px 0 13px 10px;}
				.radio:after {display:block; content:""; clear:both;}
				.radio > li {float:left; width:100px;}
			} 
		} 
	}
	.btn {width:100%; height: 45px; margin:18px 0 0; background:#ffa13d; border:1px solid #dddbdb; border-radius:5px; font-size:18px; font-weight:bold; color:#fff;}
	.close {position:absolute; right:18px; top:18px; width:23px; height:23px; background:url(../images/ebooksys/main/btn_layer_close.png) no-repeat; text-indent:-9999em;}
}
/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 도서 상세보기 */
.ebooksys .books-infor-zone {
	position: relative;
	.thumb {
		position: absolute; left:0; top:0;
		width: 241px; height: 335px; @include background("usclib/subpage/img_book2.png",no-repeat 0 0);
		img {width: 225px; height: 315px;}
	}	
	.infor {
		position: relative; padding: 20px 0 0 265px;
		.book-name {
			margin-bottom: 15px; font-size: 20px; color:#333; font-family: $font2; line-height: 27px;
			.flag {display:inline-block; min-width:75px; padding:0 20px; margin-right: 4px; font-family: $font1; color:#fff; text-align: center; box-sizing: border-box; line-height: 27px; border-radius:100px; background:#cc9966; font-size: 16px;} 
		}
		.lst {
			li {padding:10px 5px; border-bottom: 1px solid #d6d5d5; color:#333; font-size: 16px; line-height: 25px;}
			.tit {display: inline-block; width:80px; box-sizing: border-box; line-height: 23px; color:#f27405; font-size: 15px; border:1px solid #fe970e; border-radius: 3px; text-align: center; margin-right: 10px;}
			.cont.tts {
				&:before {display: inline-block; content: ""; vertical-align: middle; width: 22px; height: 22px; @include background("ebooksys/bul_tts.png",no-repeat 50% 50%); margin-right: 5px;}
			}
		}
		.qrcode {
			position: absolute; right:20px; top:100px; height: 166px; width: 166px; border:3px solid #dddbdb; border-radius: 10px; padding:15px; box-sizing: border-box;
			img {width: 100%; }
			& + .lst {width: 530px}
		}
	}
}
.ebooksys .books-count-zone {
	overflow:hidden; border:1px solid #c7c1bf; margin-top: 20px;
	li {float: left; width: 25%; text-align: center;font-size: 18px; color:#333; box-sizing: border-box; line-height: 58px;}
	li + li {border-left: 1px solid #c7c1bf;}
	li:first-child .num {margin-left: 15px;}
	.num {margin-left: 30px;}
}
.ebooksys .books-button-zone {
	text-align: center; margin-top: 35px;
	*[class^=comm-btn_type4] {width: 120px; font-family: $font2;}
	*[class^=comm-btn_type4] + * {margin-left: 3px;}
}
.ebooksys .books-detail-contents {display: none; padding:0 20px; }
/* 도서 목록 */
.ebooksys {
	.books-category-tab {
		margin-bottom: 20px;
		.number {display: block; font-size: 15px;}
	}

	.comp-sorting-zone {
		margin-bottom: 10px;
		select:first-of-type {width:222px;}
	}

	ul[id=table-type] {
		// 갤러리형
		&.tbl-lst_gallery {
			overflow:hidden;
			& > li {position: relative; float: left; width: 240px; height:390px; margin-left: 16px; border:1px solid #c7c1bf; box-sizing: border-box; color:#333;}
			& > li:nth-child(4n+1) {margin-left: 0;}
			& > li:nth-child(4) ~ li {margin-top: 30px;}
			& > li:hover .btn-group {display: table;}
			& > li:focus .btn-group {display: table;}
			.hoverlink {display: block; padding:15px 13px 13px; }
			.namegroup {
				margin-top: 20px;
				.name {display:block; overflow:hidden; width:100%; font-size: 18px; font-family: $font2; text-align: center; white-space: nowrap; text-overflow:ellipsis;}
				.flag {display: none}
			}
			.thumb {
				width: 138px; height: 192px; margin:0 auto; @include background("ebooksys/subpage/img_book.png",no-repeat 0 0);
				img {width: 128px; height: 180px;}
			}
			.btn-group {
				display: none; position: absolute; left:0; top:0; width: 100%; height:100%; background:rgba(0,0,0,0.6); text-align: center; z-index: 10;
				& > div {display: table-cell; vertical-align: middle;}
				.qrcode {display: none}
				*[class^=comm-btn] {display: block; margin:0 auto; width:120px;}
				*[class^=comm-btn] + * {margin-top: 10px}
			}
			.infor-lst {
				font-size: 15px; line-height: 24px; margin-top: 11px;
				li:before {display: inline-block; content: "-"; margin-right: 2px;}
				li:nth-child(2),
				li:nth-child(4) {display: none;}
				.cont {display: inline-block; vertical-align: middle; max-width: 75%; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; }
			}
			.state-lst {
				background:#ededed; color:#f27405; font-family: $font2; padding:0 15px; margin-top: 6px;
				li {display: none; line-height: 35px;}
				li:first-child {display: block;}
				.num {float: right;}
			}
			.desc {display: none}
		}
		// 목록형
		&.tbl-lst_list {
			border-top: 1px solid #c7c1bf;
			& > li {position: relative; border-bottom: 1px solid #c7c1bf; color:#333;}
			.hoverlink {position:relative; display: block; padding:20px 20px;}
			.thumb {
				position: absolute; left:20px; top:20px; width: 172px; height: 238px; @include background("ebooksys/subpage/img_book_list.png",no-repeat 0 0);
				img {width: 158px; height: 225px;}
			}
			.infor {
				padding-left: 216px; padding-right: 165px;
				.namegroup {
					padding-top: 8px;
					.name {display: block; overflow: hidden; width: 100%; margin-top: 8px; font-size: 20px; font-family: $font2; white-space: nowrap; text-overflow:ellipsis;}
					.flag {display: inline-block; font-size: 17px; color:#fff; line-height: 28px; background:#cc9966; min-width:70px; padding:0 12px; box-sizing: border-box; border-radius: 100px; text-align: center;}
				}
			}
			.infor-lst {
				overflow:hidden; margin-top:12px; font-size: 16px; line-height: 24px;
				li {float: left;}
				li:nth-child(1) .tit, li:nth-child(2) .tit, li:nth-child(3) .tit {display: none;}
				li:after {display: inline-block; content: "|"; margin:0 10px;}
				li:nth-child(3):after, li:nth-child(5):after {display: none;}
			}
			.state-lst {
				overflow:hidden; background:#ededed; font-size: 18px; line-height: 40px; padding:0 20px; margin-top: 15px;
				.hid {display: none;}
				li {float:left;}
				li + li:before {display: inline-block; content: "/"; margin:0 15px 0 20px;}
			}
			.btn-group {
				width: 120px; position: absolute; right: 25px; top:35px;
				.qrcode {
					border:2px solid #dddbdb; border-radius: 5px; padding:12px 15px;
					img {width: 100%;}
				}
				*[class^=comm-btn] {width: 100%; margin-bottom: 5px;}
			}
			.desc {display:-webkit-box; overflow:hidden; max-height: 40px; font-size: 14px; color:#8a8a8a; line-height: 20px; margin-top: 14px;-webkit-line-clamp:2; -webkit-box-orient:vertical;}
		}
		.btn-group *[class^=comm-btn] {font-family: $font2;}
	}
}



















































































































/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width: 1522px) {
	.ebooksys .main-slide .slick-arrow.main-slide-prev,
	.ebooksys .main-slide .slick-arrow.main-slide-next,
	.ebooksys .main-slide .custom-paging,
	.ebooksys .main-tab .slick-prev,
	.ebooksys .main-tab .slick-next,
	.ebooksys .main-tab .custom-paging {display:none !important;}
} @media (max-width: 1024px) {
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
.ebooksys #header {
	.header-middle .title a {margin:0 auto 0 1.4rem; width:23.4rem;width:57vw; background: url("../../static/images/ebooksys/img_logo_m.png") no-repeat 50% 50%; -webkit-background-size: 100% auto; background-size: 100% auto;}
	.header-middle .btn-menu-open button {background-color: #9e5433}
	.header-bottom .gnb-mo-title {background: #f25e3d}
	.header-bottom .header-utilegroup .header-utile .icon-login:before { background: url("../../static/images/ebooksys/icon_gnb_login.png") no-repeat 50% 50%; background-size: auto 100%; }
	.header-bottom .header-utilegroup .header-utile .icon-join:before { background: url("../../static/images/ebooksys/icon_gnb_join.png") no-repeat 50% 50%; background-size: auto 100%; }
	.header-bottom .header-utilegroup .header-utile .icon-join:before { background: url("../../static/images/ebooksys/icon_gnb_join.png") no-repeat 50% 50%; background-size: auto 100%; }
	.header-bottom .header-utilegroup {height: 4.3rem;}

	.depth2menu .menugroup h3 a[class^=icon-] {border-bottom: 0; line-height: 1.1; padding:0; font-size: 1.2rem; text-align: center;}
	.depth2menu .menugroup h3 a[class^=icon-]:before {position: static; width: 6.6rem; height: 6.6rem; -webkit-background-size: 100% 100% !important; background-size: 100% 100% !important; margin-top: 0;}
	.depth2menu .menugroup h3 a[class^=icon-] span {display: block;}
	.depth2menu .menugroup h3 a[class^=icon-] .number {margin-top: 0.3rem; color:#f25e3d; font-size: 1rem; display: block; }
	.depth2menu.other .group {float: none; width: 100%; margin-top: 0}
}
.ebooksys #gnb .gnb .depth2menu {
	height: calc(100vh - 4.3rem);
	.group {float: left; width: 50%; padding:0; margin-top: 1.4rem}
	.menugroup {padding:0.4rem 2rem 0 1.7rem;}
	.menugroup:after {display:block; clear:both; content:""}
}
.ebooksys #footer {
	.footer-utilegroup {padding:0 2rem 4rem;}
}
.ebooksys #container,
.ebooksys #container.main { 
	padding-top: 0;
	& > .inner {width: 100%} 
}
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
.ebooksys .radio-type1 {
	label {font-size:1rem;}
	label span {font-size:1rem;}
	label:before {width:1.5rem; height:1.5rem; background-size:1.5rem;}
	input:checked + label:before {background-size:1.5rem;}
}
// .ebooksys .table {display:table; width:100%; height:100%; table-layout: fixed;}
// .ebooksys .table-cell {display:table-cell; vertical-align:middle; padding: 0 1rem; box-sizing: border-box;}
.ebooksys .view-pc { display: none !important; }  
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.ebooksys .main {
	.section {
		height:auto; padding:0 1rem 4.5rem;
		&:first-of-type {height: auto; padding-bottom: 8rem;}
		.title {height:6rem; max-width:39.5rem; margin:0 auto; padding-top: 3.8rem; background-size:100% auto;}
	}

	// 메인 상단 슬라이드
	.main-slide {
		width:auto; margin:3.3rem auto; 
		.list {
			padding:0 3rem; text-align:center;
			*[class^='togo'] {
				display:inline-block; margin-left:4rem; margin-top:1.5rem;
				a {
					&:before {width:8rem; height:8rem; background-size:100%; border-radius:8rem;}
					&:after {width:8rem; height:8rem; border-radius:8rem; margin-left:-4rem;}
					&:hover:after,
					&:focus:after {border-width:0.2rem;}
				}
			}
		}
	}
	.main-search-zone {
		width:100%; height:10rem; margin-top:2.5rem; padding:2rem 2rem; background-image:none; border-radius:5rem;
		.form-search {
			width:100%; height:3rem; margin:0 0 0.9rem; padding-left:1.5rem;
			.input {width:20rem;}
			.select select {width:6rem; height:3rem; line-height:3rem; font-size:1rem;}
			.input input {height:3rem; line-height:3rem; font-size:0.8rem;}
			button {right:1rem;width:4.5rem; height:4.5rem; background-size:4.5rem;}
		}
		.popularity {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; 
			margin-left:0; width:100%; padding:0 2.5rem; 
			.list {
				-webkit-flex:1; flex:1; width:70%;
				li {line-height:2.5rem;}
				li a {font-size:1rem;}
				.slick-list {margin-left: 0; width:auto;}
			}
			.tit {width:6rem; height:2.5rem; line-height:2.5rem; font-size:1rem;}
		}
		.detail-search {
			position:static; margin-top:3rem; text-align:center;
			.btn {
				width:13rem; height:3rem; line-height:3rem;
				span {width:10rem; height:3rem; line-height:3rem; padding-left:3rem; background-color:#fff; background-size:1.5rem; background-position:1rem; font-size:1rem;}
			}
		}
	}
	.main-notice {
		width:auto; height:4rem; padding:1rem 0 0 1rem;
		.list {
			.slick-list {width:33rem;}
			li a > * {font-size:1rem; line-height:2rem;}
			li a .ico {width:3.5rem; height:2rem; line-height:2rem;}
			li a .subject {margin:0 0 0 0.5rem; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; width:20rem; overflow: hidden;}
			li a .date {font-size:1rem;}
		}
		.btn-link a {width:4rem; height:4rem;}
		.control {
			top:1.2rem; right:5rem;
			& > * {width:1.7rem; height:2rem;}
			.main-notice-prev {background-size:3rem;}
			.main-notice-next {background-size:3rem;}
		}
	}

	// 신착도서, 인기도서, 오디오북 목록  
	.main-tab {
		width:100%; padding:4rem 1rem 0;
		.custom-paging, .slick-prev, .slick-next {display:none !important;}
		.tab {
			margin:0 0 1rem; padding:0 0 0;
			& > li:after {top:0.8rem;}
			& > li a {height:4rem; line-height:4rem; font-size:1.5rem;}
		}  
		.tab-contents {
			.book-list {
				width:100%; margin:1rem -0.6rem 0;
				.slick-list {margin-left:0rem;}
				& > ul {
					width:100%;
					.slick-slide {padding:0 0.6rem;}
					.slick-slide > div > li {margin:0 0 1rem 0;}
					a {width:100%; height: 17.6rem;}
				}
			}
			.dep2 {
				ul {display:block;} 
				ul > li {float:none; display:inline-block; padding:0 2rem 0.3rem 0; line-height: 1.8rem}  
				ul > li:after {right:1rem;}
				ul > li a {padding:1px 7px; font-size:1rem;}
			} 
			.book-list {
				.before a,
				.after a {width:85%; margin:0 auto;}
				.before a {height:auto; padding:0 0.5rem 0.5rem;}
				.before a .tit {font-size: 1em; overflow: hidden; text-overflow: ellipsis; line-height:1.5rem; height: 3em; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; min-height: 0rem;}
				.before a img {width:100%;}
			}
		}
	}
}
/* 스크롤 UI  */
// .ebooksys .mouse-control {display:none;}
/* 상세검색 팝업 */
.ebooksys #pop_detailsearch {
	&.layer {left:7vw; width:84vw; margin-left:0 !important; }
	.tit {padding:1.3rem 0; font-size:1.6rem;}
	.form-list {
		padding:1rem 1rem 1.2rem;
		.tit_sub {margin:1rem 0 0.5rem; font-size:1.1rem;}
		.list > li {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
			.label {width:5.6rem; padding:0 1.5rem 0 1rem; background-size:1rem; font-size:1rem; box-sizing: border-box; text-align: center; line-height: 3rem;}
			input[type="text"] {-webkit-flex:1;flex:1;width:20rem; height:3rem; line-height:3rem; margin:0; padding:0 0 0 0.5rem; font-size:1rem;}
			.radio {
				-webkit-flex:1;flex:1; padding:0 0 0 0.5rem; text-align:left; 
				& > li {width:35%}
				& > li:first-child {width: 30%}
			}
			.radio-type1 {line-height: 3rem}
		}
		.list:nth-of-type(2) .label {text-align: left; padding-left: 0.5rem;}
	}
	.btn {height:3rem; font-size:1.2rem;}
	.close {right:0.5rem; top:1.5rem; background-size:1.5rem;}
}
.pc .ebooksys .main .main-tab .tab-contents .book-list {max-width:650px;}
.pc .ebooksys .main .main-tab .tab-contents .book-list {max-width:75%;}	
/* ------------------------------------------------------
SUBPATE
------------------------------------------------------ */
/* 도서 상세보기 */
.ebooksys .books-infor-zone {
	.thumb {
		position: static;
		width:22rem; height:33rem; margin:0 auto; background-size: 100% auto;
		img {width:20.5rem; height:auto;}
	}	
	.infor {
		padding-left:0; padding-top: 0; margin-top: 1rem;
		.book-name {
			position:relative; padding-top: 2.5rem; margin-bottom:1rem; font-size:1.5rem; line-height:2rem ;
			.flag {position: absolute; left:0; top:0; min-width:6rem; padding:0 1rem; line-height:2rem; font-size:1.2rem;} 
		}
		.lst {
			li {position: relative; padding:0.7rem 0.5rem 0.7rem 9rem; font-size:1.2rem; line-height:2rem;}
			.tit {position: absolute; left:0; top:0.7rem; width:8rem;line-height:2rem; font-size:1rem; margin-right:0.5rem;}
		}
		.qrcode {display:none; width: 10rem; height: 10rem; padding:1rem;}
	}
}
.ebooksys .books-count-zone {
	margin-top: 2rem;
	li {font-size:1.2rem; line-height: 4rem}
	li:first-child .num {margin-left: 1rem;}
	.num {margin-left: 1rem;}
}
.ebooksys .books-button-zone {
	margin-top: 2rem; overflow:hidden;
	*[class^=comm-btn_type4] {float: left; width:49%;}
	*[class^=comm-btn_type4] + * {margin-left:0;}
	*[class^=comm-btn_type4]:nth-of-type(even) {margin-left: 2%;}
	*[class^=comm-btn_type4]:nth-of-type(2) ~ * {margin-top: 0.5rem;}
}
.ebooksys .books-detail-contents {padding:0 0.5rem }
/* 도서 목록 */
.ebooksys {
	.books-category-tab {
		margin-bottom:2rem;
		.number {font-size: 1rem;}
	}

	.comp-sorting-zone {
		margin-bottom: 1rem;
		.total-length {float: none;}
		select:first-of-type {width:222px;}
	}

	ul[id=table-type] {
		// 갤러리형
		&.tbl-lst_gallery {
			& > li {width:49%; min-height:34rem; height: auto; margin-left:0;}
			& > li:nth-child(even) {margin-left: 2%;}
			& > li:nth-child(2) ~ li {margin-top:1rem;}
			& > li:focus .btn-group,
			& > li:hover .btn-group {display: block;}
			.hoverlink {padding:2rem 1rem; }
			.namegroup {
				margin-top: 1rem;
				.name {font-size:1.4rem; }
			}
			.thumb {
				 width: 12rem; height:17rem; margin:0 auto; background-size: 100% auto;
				img {width: 11rem; height: auto;}
			}
			.btn-group {
				display: none; position: absolute; left:0; top:0; width: 100%; height:100%; background:rgba(0,0,0,0.6); text-align: center; z-index: 10;
				& > div {position: absolute; left:50%; top:50%; margin-left: -5rem; margin-top: -3.8rem}
				*[class^=comm-btn] {display: block; margin:0 auto; width:10rem;}
				*[class^=comm-btn] + * {margin-top:1rem}
			}
			.infor-lst {
				font-size:1.2rem; line-height:1.8rem; margin-top:1rem;
				.cont {max-width: 70%;}
			}
			.state-lst {
				padding:0 1rem; margin-top:0.5rem; font-size: 1.4rem;
				li {line-height:3.5rem;}
			}
		}
		// 목록형
		&.tbl-lst_list {
			.hoverlink {padding:2rem 1rem 1rem;}
			.thumb {
				position: static; width: 15rem; height:22rem; margin:0 auto; background-size: 100% auto;
				img {width: 14rem; height:auto;}
			}
			.infor {
				padding-left: 0; padding-right:0; 
				.namegroup {
					padding-top:1rem;
					.name {margin-top:0.7rem; font-size:1.4rem;}
					.flag {font-size:1.2rem; line-height:2rem; min-width:5rem; padding:0 1rem;}
				}
			}
			.infor-lst {
				margin-top:0.8rem; font-size:1.2rem; line-height:1.8rem;
				li:after {margin:0 0.5rem;}
				li:nth-child(4):after {display: none}
			}
			.state-lst {
				font-size:1.2rem; line-height:3.5rem; padding:0 1rem; margin-top:0.5rem; text-align: center;
				li {float: none; display: inline-block;}
				li + li:before {margin:0 1rem;}
			}
			.btn-group {
				position: static; display: table; overflow:hidden; padding:0 1rem 2rem; width: 100%;
				& > div {display:table-cell; width:80%; padding-right: 1rem; vertical-align: bottom;}
				*[class^=comm-btn] {width: 100%; margin-top: 0.5rem; margin-bottom: 0;}
				.qrcode {display:table-cell; vertical-align: middle; padding:0.5rem; width:20%;}
			}
			.desc { max-height: 40px; font-size:1rem; line-height:1.8rem; margin-top:1rem; }
		}
	}
}


















}

/*


} @media (max-width: 800px) {
	.ebooksys .main .main-slide .list {padding: 0 9rem;}
	.ebooksys .main .main-search-zone .popularity .list .slick-list {width:30rem;} 
} @media (max-width: 670px) {
	.ebooksys .main .main-slide .list {padding: 0 8rem;}
} @media (max-width: 640px) {
	.ebooksys .main .section .title {margin:0 0 2rem 0; padding:0;}
	.ebooksys .main .main-slide .list [class^='togo']{display:inline-block; margin-left:3rem;}
	.ebooksys .main .main-slide .list [class^='togo'] a:before {width:6rem; height:6rem; margin-bottom:0.4rem; background-size:100%; border-radius:6rem;}
	.ebooksys .main .main-slide .list [class^='togo'] a:after {width:6rem; height:6rem; border-radius:6rem; margin-left:-3rem;}
	.ebooksys .main .main-search-zone {height:8rem; padding:1.5rem 2rem; border-radius:4rem;}
	.ebooksys .main .main-search-zone .popularity .list .slick-list {width:20rem;}
	.ebooksys .main-search-zone .form-search .input {width: 16rem; margin-left:0.5rem; padding-left:0.5rem; background-size: 0.8rem; background-position:left 0.9rem;}
	.ebooksys .main .main-search-zone .form-search .btn {top:-5px; width:4rem; height:4rem; background-size:4rem;}
	.ebooksys .main .main-notice .list .slick-list {width:31rem;}
	.ebooksys .main .main-notice .list li a .subject {width:21rem;}
	// .ebooksys .main .main-tab {margin-top:60px;}
	.ebooksys .main .main-search-zone .detail-search {margin-top:1.5rem;}
	.pc .ebooksys .main .main-tab .tab-contents .book-list {max-width:inherit;}	
} @media (max-width:550px) {
	.ebooksys .main .main-slide .list {padding:0 8rem;}
	.ebooksys .main .main-notice .list .slick-list {width:25rem;}
	.ebooksys .main .main-notice .list li a .subject {width:15rem;}
	.ebooksys .main .main-search-zone .popularity .list .slick-list {width:15rem;}
} @media (max-width:530px) {
	.ebooksys .main .main-slide .list {padding:0 4rem;}
} @media (max-width:414px) {
	.ebooksys .main .main-notice .list .slick-list {width:25rem;}
	.ebooksys .main .main-notice .list li a .subject {width:15rem;}
	.ebooksys .main .main-search-zone .detail-search {margin-top:1rem;} 
} @media (max-width:376px) {
	.ebooksys #pop_detailsearch.layer {left:2vw; width:90vw; }
} @media (max-width:320px) {
	.ebooksys .radio-type1 label span {font-size:0.9rem;}
	.ebooksys .main .main-search-zone .form-search .input  {width:10rem;}
	.ebooksys .main .main-search-zone {margin:1rem 1rem;}
	.ebooksys .main .main-slide .list [class^='togo']{display:inline-block; margin-left:2.5rem;}
	.ebooksys .main .main-slide .list [class^='togo'] a:before {width:5rem; height:5rem; margin-bottom:0.4rem; background-size:100%; border-radius:5rem;}
	.ebooksys .main .main-slide .list [class^='togo'] a:after {width:5rem; height:5rem; border-radius:5rem; margin-left:-2.5rem;}
	.ebooksys .main .main-search-zone .detail-search {margin-top:1rem;}
	// .ebooksys .main .main-tab {margin-top:30px;}
	.ebooksys .main .main-tab .tab-contents .book-list {margin-top:0.2rem;}
	.ebooksys .main .main-notice .list .slick-list {width:21rem;} 
	.ebooksys .main .main-notice .list li a .subject {width:10rem;}
	.ebooksys #pop_detailsearch .form-list .list > li .radio {padding:0 0 0 0.5rem;}
}
*/