@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.farmingtech #footer {
	.footer-utilegroup {
		padding-left: 0;
		.footer-utile a strong {color:#333;}
		.footer-addr li strong {color:#333;}
	}
}
#wrap.farmingtech #container {padding-top: 130px; }
@media (min-width:1025px){
	body.pc .farmingtech #header {
		.header-middle {
			border-bottom: 1px solid #c2c0bf;
			.title {
				top:20px;
				a {width: 253px; height: 51px; background:url("../../static/images/farmingtech/img_logo.png") no-repeat 50% 50%;}
			}
		}
		.header-bottom .sitemap {background: #f27405}
		&.header-type2 #gnb {
			margin-left: 330px;
			h2 a {width: 150px}
			p a {background:#ffeda9;}	
			.depth2menu {width: 226px; height: 340px; padding-left: 36px; padding-top: 22px;}

			.gnb > li:nth-child(1) .depth2menu {left:0;}
			.gnb > li:nth-child(2) .depth2menu {left:190px;}
			.gnb > li:nth-child(3) .depth2menu {left:416px;}
			.gnb > li:nth-child(4) .depth2menu {left:642px}
			.gnb > li:nth-child(5) .depth2menu {left:868px}
			.gnb > li:nth-child(6) .depth2menu {left:1094px}
			.gnb > li:nth-child(1) .depth2menu {width:190px; padding-left: 0}

			h2.over a:before,
			h2 a:hover:before {background: #f0412c; }
			h2.over a:after,
			h2 a:hover:after {border-color:#f0412c;}
			p a:hover {background: #f27405;}
			h3 a:before{background: #1e4363;}
		}

		&.header-type2.open {border-bottom-color:#f27405;}
		&.header-type2.open .header-middle {border-bottom: 0;}
		&.header-type2.open .header-bottom {border-bottom-color: #ff9900;}
	}
}



/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.farmingtech #container.main {
	.inner {width:1320px; position: relative; margin:0 auto; padding-bottom: 55px;}
	// 게시판 간략보기
	.main-cont-zone {
		@include background("farmingtech/main/bg_main.jpg",no-repeat 100% 50%); background-size: cover;
		.inner {padding-top: 160px;}
	}
	.main-middle-zone {
		overflow: hidden;	position: absolute; left:0; top:-170px; width:100%; z-index: 1; background:#fff;
		.board-zone {
			float: left; position: relative; width:50%; height:330px; padding:20px 20px 0; background:#fff url("../../static/images/farmingtech/main/bg_board.jpg") no-repeat 50% 50%; 

			ul[role=tablist] {
				overflow: hidden; 
				li {float: left; margin-left: 20px;}
				li:first-child {margin-left: 0;}
				a {
					display:inline-block; padding:0 10px; font-family: $font2; font-size: 22px; color:#222; line-height: 38px;border-bottom:3px solid #fff;
					&[aria-selected=true] {border-bottom:3px solid #ff712c; }
				}
			}
			div[role=tabpanel] {
				display: none ;padding-top: 25px;
				dl {
					position: relative; padding-left: 100px; min-height: 92px;
					dt {
						font-size: 20px; color:#222; font-family: $font2;  padding-top: 3px;
						.date {
							position: absolute; left:0; top:0;
							display: block; width:90px; height: 92px; padding-top: 21px; border:1px solid #bcbcbc; box-sizing: border-box; font-size: 17px; color:#666; text-align: center;
							strong {display:block; margin-top: 1px; color:#ff712c; font-family: $font2; font-size: 28px; }
						}
					}
					dd {display:-webkit-box; overflow:hidden; max-height:52px; margin-top: 11px; font-size: 16px; color:#666; line-height: 26px; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;}
				}
				.lst {
					padding:20px 0 0 6px; border-top: 1px solid #e2e2e2; margin-top: 15px;
					li + li {margin-top: 15px;}
					a {
						&:before{display: inline-block; content: ""; vertical-align: middle; width:3px; height: 3px; background:#000; margin-right: 7px;}
						.cont {display: inline-block; overflow:hidden; max-width:80%;  color:#222; font-size: 16px; text-overflow:ellipsis; white-space: nowrap; vertical-align: middle;}
						.date {float: right;}
					}
				}
				.btn-more {
					position: absolute; right: 20px;top:24px;
					a {display: block; width: 30px; height: 30px; border:1px solid #ccc; @include background("farmingtech/btn_more.jpg",no-repeat 50% 50%); text-indent: -999em;}
				}
			}
		}
		.goto-zone {
			float: left; width:50%; height:330px;
		}
	}
	// 슬라이드
	.main-visual-zone {
		height: 600px; background:#555;
	}
}





/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */







































































































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack



/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
/* ------------------------------------------------------
- LAYOUT
------------------------------------------------------ */
#wrap.farmingtech #header {
	.header-bottom {
		.header-utilegroup .header-utile {
			.icon-login:before {@include background("farmingtech/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
			.icon-join:before {@include background("farmingtech/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
		}
		.gnb-mo-title {background: #ff6600}
		.header-utilegroup {background: #f5e8df;}
		.header-utilegroup .header-utile li + li {border-color:#e2ccbd;}
	}
	.header-middle {
		.btn-menu-open button {background-color:#7f652b}
		.title a {width: 20.7rem; @include background("farmingtech/img_logo_m.png",no-repeat 50% 50%); }
	}
}
#wrap.farmingtech #gnb {
	.category {display: none}
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#ff6600;}
	.gnb h4 a:hover:before {background:#ff6600;}
}
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.farmingtech .main {








}















/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */





//-------------------------------------------------------------------------------
}
@media (max-width:768px){
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.farmingtech #container.main {
	
}
/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */


//-------------------------------------------------------------------------------
}
@media (max-width:360px){
}
@media (max-width:321px){
}


