@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.farmingtech #footer {
	.footer-utilegroup {
		padding-left: 0;
		.footer-utile a strong {color:#333;}
		.footer-addr li strong {color:#333;}
	}
}
#wrap.farmingtech #container {
	&:before {top:315px;}
	padding-top: 130px;  
	.top-visual-zone p {width:577px; @include background("commonbg/img_farmingtechtxt.png",no-repeat 50% 50%);}
}
@media (min-width:1025px){
	body.pc .farmingtech #header {
		.header-middle {
			border-bottom: 1px solid #c2c0bf;
			.title {
				top:20px;
				a {width: 253px; height: 51px; background:url("../../static/images/farmingtech/img_logo.png") no-repeat 50% 50%;}
			}
		}
		.header-bottom .sitemap {background: #f27405}
		&.header-type2 #gnb {
			margin-left: 330px;
			h2 a {width: 150px}
			p a {background:#ffeda9;}	
			.depth2menu {width: 226px; height: 334px; padding-left: 36px; padding-top: 16px;}

			.gnb > li:nth-child(1) .depth2menu {left:0;}
			.gnb > li:nth-child(2) .depth2menu {left:190px;}
			.gnb > li:nth-child(3) .depth2menu {left:416px;}
			.gnb > li:nth-child(4) .depth2menu {left:642px}
			.gnb > li:nth-child(5) .depth2menu {left:868px}
			.gnb > li:nth-child(6) .depth2menu {left:1094px}
			.gnb > li:nth-child(1) .depth2menu {width:190px; padding-left: 0}

			h2.over a:before,
			h2 a:hover:before {background: #f0412c; }
			h2.over a:after,
			h2 a:hover:after {border-color:#f0412c;}
			p a.current {background: #f27405;}
			p a:hover {background: #f27405;}
			h3 a:before{background: #1e4363;}
		}

		&.header-type2.open {background:#fff url("../../static/images/farmingtech/bg_gnb.png") repeat-x 0 100%;}
		&.header-type2.open .header-middle {border-bottom: 0;}
		&.header-type2.open .header-bottom {border-bottom-color: #ff9900;}
	}
}
 
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */ 
#wrap.farmingtech  {
	*[class^=heading][class*=-h3]:before {height:24px; @include background("farmingtech/bul_h3.png",no-repeat 50% 50%);}   

}

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.farmingtech #container.main {
	.inner {width:1320px; position: relative; margin:0 auto;}
	// 게시판 간략보기
	.main-cont-zone {
		@include background("farmingtech/main/bg_main.jpg",no-repeat 100% 50%); background-size: cover;
		.inner {padding-top: 160px; padding-bottom: 55px;}
	}
	.main-middle-zone {
		overflow: hidden;	position: absolute; left:0; top:-170px; width:100%; z-index: 1; background:#fff;
		.board-zone {
			float: left; position: relative; width:50%; height:330px; padding:20px 20px 0; background:#fff url("../../static/images/farmingtech/main/bg_board.jpg") no-repeat 50% 50%; 

			ul[role=tablist] {
				overflow: hidden; 
				li {float: left; margin-left: 20px;}
				li:first-child {margin-left: 0;}
				a {
					display:inline-block; padding:0 10px; font-family: $font2; font-weight: bold; font-size: 22px; color:#222; line-height: 38px;border-bottom:3px solid #fff;
					&[aria-selected=true] {border-bottom:3px solid #ff712c; }
				}
			}
			div[role=tabpanel] {
				display: none ;padding-top: 25px;
				dl {
					position: relative; padding-left: 100px; min-height: 92px;
					dt {
						font-size: 20px; color:#222; font-family: $font2; font-weight: bold; 
						.date {
							position: absolute; left:0; top:0;
							display: block; width:90px; height: 92px; padding-top: 16px; border:1px solid #bcbcbc; box-sizing: border-box; font-size: 17px; color:#666; text-align: center;
							strong {display:block; margin-top: 1px; color:#ff712c; font-family: $font2; font-weight: bold; font-size: 28px; }
						}
					}
					dd {display:-webkit-box; overflow:hidden; max-height:52px; margin-top: 11px; font-size: 16px; color:#666; line-height: 26px; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;}
				}
				.lst {
					padding:20px 0 0 6px; border-top: 1px solid #e2e2e2; margin-top: 15px;
					li + li {margin-top: 15px;}
					a {
						&:before{display: inline-block; content: ""; vertical-align: middle; width:3px; height: 3px; background:#000; margin-right: 7px;}
						.cont {display: inline-block; overflow:hidden; max-width:80%;  color:#222; font-size: 16px; text-overflow:ellipsis; white-space: nowrap; vertical-align: top;}
						.date {float: right;}
					}
				}
				.btn-more {
					position: absolute; right: 20px;top:24px;
					a {display: block; width: 30px; height: 30px; border:1px solid #ccc; @include background("farmingtech/btn_more.jpg",no-repeat 50% 50%); text-indent: -999em;}
				}
			}
		}
		.goto-zone {
			float: left; overflow: hidden; width:50%; 
			.quick-menu {
				float: left; overflow: hidden; width:510px; height: 330px; padding:35px 20px 0; background:#cdc090; box-sizing: border-box;
				li {float: left; position: relative; width:25%; text-align: center;}
				a {
					display: inline-block; color:#222; font-size: 15px;
					&:before {display: block; content: ""; width:78px; height: 78px; margin:0 auto;border-width: 5px; border-style: solid; border-color:transparent; border-radius: 100px; box-sizing: border-box; -webkit-transition:0.2s ease; -ms-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease; }
					&:hover:before {border-color: #362501;}
					.name {display: block; margin-top: 18px;}
				}
				li:nth-child(4)~li {margin-top: 35px}
				li:nth-child(4)~li a:hover:before {border-color: #fff;}

				li:nth-child(1) a:before {@include background("farmingtech/main/icon_quick1.png",no-repeat 50% 50%);}
				li:nth-child(2) a:before {@include background("farmingtech/main/icon_quick2.png",no-repeat 50% 50%);}
				li:nth-child(3) a:before {@include background("farmingtech/main/icon_quick3.png",no-repeat 50% 50%);}
				li:nth-child(4) a:before {@include background("farmingtech/main/icon_quick4.png",no-repeat 50% 50%);}
				li:nth-child(5) a:before {@include background("farmingtech/main/icon_quick5.png",no-repeat 50% 50%);}
				li:nth-child(6) a:before {@include background("farmingtech/main/icon_quick6.png",no-repeat 50% 50%);}
				li:nth-child(7) a:before {@include background("farmingtech/main/icon_quick7.png",no-repeat 50% 50%);}
				li:nth-child(8) a:before {@include background("farmingtech/main/icon_quick8.png",no-repeat 50% 50%);}

				li:nth-child(5) a:hover:before {@include background("farmingtech/main/icon_quick5_on.png",no-repeat 50% 50%);}
				li:nth-child(6) a:hover:before {@include background("farmingtech/main/icon_quick6_on.png",no-repeat 50% 50%);}
				li:nth-child(7) a:hover:before {@include background("farmingtech/main/icon_quick7_on.png",no-repeat 50% 50%);}
				li:nth-child(8) a:hover:before {@include background("farmingtech/main/icon_quick8_on.png",no-repeat 50% 50%);}
				li:nth-child(8) a .name {width:120%; position: relative; left:-10px;}
			}
			.edu-goto {
				float: left;
				.desc {
					display: block; line-height: 22px; margin-top: 50px; position: relative;
					&:before {display: block; position: absolute; left:50%; top:-32px; content: ""; width: 44px; height: 3px; margin-left: -22px; background:#362501;}
				}
				.tit {
					display: block; font-size: 18px; font-family: $font2; font-weight: bold;
					&:before {display: block; content: ""; height:64px; width:100%; margin-bottom: 18px; @include background("farmingtech/main/icon_edu.png",no-repeat 58% 50%); }
				}
				a {
					display: block; position: relative; height: 330px; width:150px;  padding-top: 50px; background:#c89664 url("../../static/images/farmingtech/main/bg_edu.jpg") no-repeat 100% 0; color:#fff; font-size: 14px; text-align: center; box-sizing: border-box; 
					&:after{display: block; content: ""; width: 100%; height: 100%; position: absolute; left:0; top:0; border-width:7px; border-style: solid; border-color:transparent;  -webkit-transition:0.2s ease; -ms-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease; box-sizing: border-box; }
					&:hover:after {border-color:#362501;}
				}
			}
		}
	}
	// 슬라이드
	.main-visual-zone {
		overflow: hidden; min-width:1320px; height: 600px; position: relative; @include background("farmingtech/main/bg_top.jpg",no-repeat 50% 50%); background-size: cover;
		.inner {text-align: center; padding-top: 100px;}
		.txt {
			display: inline-block; font-size: 17px; color:#fff; font-family: $font2; font-weight: bold; line-height: 24px; text-align: left;
			padding:33px 0 10px 107px; @include background("farmingtech/main/img_top.png",no-repeat 0 0); 
			span {display: block; margin-bottom: 3px;}
		}
		.indicator {
			width:211px; margin:35px auto 0; position: relative; z-index: 2;
			.scroll {display:inline-block; width:107px; height: 32px; margin:0 50px 0 55px; text-indent: -999em; @include background("farmingtech/main/img_scroll.png",no-repeat 50% 50%); }
			button[class^=btn-] {position:absolute; top:0; width:28px; height:32px; text-indent: -999em;}
			.btn-prev {left:0; @include background("farmingtech/main/btn_prev.png",no-repeat 50% 50%);}
			.btn-next {right:0; @include background("farmingtech/main/btn_next.png",no-repeat 50% 50%);}
		}
		.slider {
			position: absolute; left:0; top:58px; width:100%;
			.slide {position: relative; width:660px;  height:320px;}
			.slick-list {overflow:visible;  }
			a[class^=top] {
				display: inline-block; position: absolute; top:0; right:0;  width:350px; height:320px; text-indent: -999em; text-align: left; 
				-ms-transition: 0.1s ease; -webkit-transition: 0.1s ease; -moz-transition: 0.1s ease; transition: 0.1s ease;
				&:after {position: absolute; display: block; content: ""; left:50%; top:50%; }
				&[class^=top1]:after {width:350px; height:374px; margin:-187px 0 0 -175px; @include background("farmingtech/main/img_top1.png",no-repeat 50% 50%); }
				&[class^=top2]:after {width:338px; height:374px; margin:-187px 0 0 -169px; @include background("farmingtech/main/img_top2.png",no-repeat 50% 50%); }
				&[class^=top3]:after {width:350px; height:374px; margin:-187px 0 0 -175px; @include background("farmingtech/main/img_top3.png",no-repeat 50% 50%); }
				&[class^=top4]:after {width:350px; height:374px; margin:-187px 0 0 -175px; @include background("farmingtech/main/img_top4.png",no-repeat 50% 50%); }
				&[class^=top5]:after {width:350px; height:374px; margin:-187px 0 0 -175px; @include background("farmingtech/main/img_top5.png",no-repeat 50% 50%); }
			}
			a[class^=top]:hover {
				&[class^=top1]:after {@include background("farmingtech/main/img_top1_hover.png",no-repeat 50% 50%); }
				&[class^=top2]:after {@include background("farmingtech/main/img_top2_hover.png",no-repeat 50% 50%); }
				&[class^=top3]:after {@include background("farmingtech/main/img_top3_hover.png",no-repeat 50% 50%); }
				&[class^=top4]:after {@include background("farmingtech/main/img_top4_hover.png",no-repeat 50% 50%); }
				&[class^=top5]:after {@include background("farmingtech/main/img_top5_hover.png",no-repeat 50% 50%); }
			}
			.slick-slide {
				outline:none; text-align:right;
				a[class^=top] {margin-right:100px }
				&.prev {
					a[class^=top] {right:45%; margin-right: 0;}
				}
				&.not {
					a[class^=top] {transition: none;}
				}
			}
			.slick-current {
				a[class^=top] {margin-right:0}
				& ~ * a[class^=top] {margin-right:150px}
			}
			
		}
	}
	// 일정 행사 
	.main-event-zone {
		position: relative; height: 60px; padding-left: 270px; margin-top: 15px; border:1px solid #dddbdb; background:#fff;
		.tit-zone {
			position: absolute; left:0; top:0; overflow: hidden; width:270px; height:60px; padding-left: 18px; background:#ff712c; color:#fff; font-family: $font2; font-weight: bold; line-height: 60px; 
			* {float: left;}
			.tit {font-size: 20px;}
			.month {
				padding-left: 38px; position: relative; font-size: 20px;
				&:before {display: inline-block; content: ""; position: absolute; left:13px; top:0; height: 60px; width:13px; @include background("farmingtech/main/bg_month.png",no-repeat 50% 50%); }
			}
		}
		.js-event {position: relative; width:1048px; }
		.days {
			> li {
				float: left; height: 58px;
				&:first-child:nth-last-of-type(31),
				&:first-child:nth-last-of-type(31) ~ li {width:3.2%;}
				&:first-child:nth-last-of-type(30),
				&:first-child:nth-last-of-type(30) ~ li {width:3.3%;}
				&:first-child:nth-last-of-type(28),
				&:first-child:nth-last-of-type(28) ~ li {width:3.5%;}
				&:first-child:nth-last-of-type(29),
				&:first-child:nth-last-of-type(29) ~ li {width:3.4%;}
			}

			a {display:inline-block; width:100%; height: 58px; position: relative; border:4px solid transparent; box-sizing: border-box;}
			.popup {
				display: none; position: absolute; top:100%; left:50%; width:345px; padding:12px 10px; margin-top: 8px; background:#ff712c; color:#fff; font-size: 16px; text-align: left; z-index: 1; 
				border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
				&:before {display: block; position: absolute; left:0; top:-18px; content: ""; width:19px; height:18px; @include background("farmingtech/main/bg_arrow.png",no-repeat 50% 50%);}
				li {line-height: 26px; }
				li:before {display: inline-block; content: "-"; margin-right: 4px;}
				em {font-family: $font2; font-weight: bold; }
			}
			.num {display: inline-block; position: absolute; left:50%; top:50%; margin: -13px 0 0 -13px; font-size: 16px; text-align: center; width: 26px; height: 26px; color:#666; border-radius: 100px; line-height: 26px}
			.have .num, .today .num {background:#ffca59; }
			.today {border-color: #ffb007;}
			a:hover {
				border-color: #ffb007; font-family: $font2; font-weight: bold;
				.popup {display: block;}
			}
		}
	}
	// 하단
	.main-bottom-zone {
		margin-top: 15px; overflow: hidden;
		.tit {font-size: 22px; color:#222; font-family: $font2; font-weight: bold; text-align: left;}
		& > div {float: left;height: 350px;}
	}
	.popup-zone {
		position: relative; width:476px; padding:29px 20px 0; background:#fff;
		.slider {margin-top: 12px;}
		.slide {
			overflow:hidden; width:100%;height: 258px; 
			img {width: 100%; height: 100%}
		}
		.indicator {
			overflow:hidden; position: absolute; right: 22px; top:25px; border:1px solid #ccc;
			li {float: left;}
			li+li {border-left: 1px solid #ccc;}
			button {width:29px; height: 29px; text-indent: -999em;}
			.btn-prev {@include background("farmingtech/btn_prev.png",no-repeat 50% 50%);}
			.btn-next {@include background("farmingtech/btn_next.png",no-repeat 50% 50%);}
			.btn-pause {@include background("farmingtech/btn_pause.png",no-repeat 50% 50%);}
			.btn-pause.play {@include background("farmingtech/btn_play.png",no-repeat 50% 50%);}
		}
	}
	.farming-zone {
		width:422px; padding:29px 22px 0; background:#d4c5b4;
		.menu {
			margin-top: 13px;
			li {padding:7px 8px 8px 10px; height:40px; background:#fff; border-radius: 3px; }
			li + li {margin-top: 12px}
			strong {color:#373737; font-size: 14px; line-height: 40px; }
			select { 
				float: right; width: 220px; height: 40px; padding:0 24px 0 9px; border:1px solid #d4c5b4; color:#868686; font-size: 14px; line-height: 38px; @include background("farmingtech/main/form_select.png",no-repeat 100% 50%); background-size: auto 100%; 
			}
		}
	}
	.weather-zone {
		position: relative; width:422px; padding:29px 28px 0; background:#ffca59;
		.curr-time {color:#fff; font-size: 16px; position: absolute; right: 30px; top:30px; }
		.goto {
			margin-top: 10px;
			a {display:block; color:#fff; text-align: center; line-height: 50px; background:#695d46; }
			a:after{display: inline-block; content: ""; width:20px; height: 19px; margin-left: 9px; @include background("farmingtech/btn_outlink.png",no-repeat 50% 50%); background-size:100% auto; vertical-align: middle;}
		}
		.curr-weather {
			overflow: hidden; padding:19px 12px; margin-top: 13px; background:#fff; border-radius: 10px; text-align: center;
			.weather {
				display: table; width:85px; height: 160px; float: left; table-layout: fixed;
				& > p {display: table-cell; vertical-align: middle;}
				.txt {display: block; margin-top: 10px; font-size: 16px; color:#373737;}
				.img {display: block; overflow: hidden; width:85px; height: 85px;}
			}
			.lst {
				float: right; overflow: hidden; border:1px solid #e7e9ea; width:246px; box-sizing: border-box;
				li {float: left; width:50%; padding:0 9px; font-size: 14px; color:#868686; line-height: 38px; text-align: left; box-sizing: border-box}
				li:nth-child(2)  ~ li {border-top: 1px solid #e7e9ea;}
				li:nth-child(even) {border-left: 1px solid #e7e9ea;}
				.cont {float: right; color:#333;}
			}
		}
	}
} 





/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 센터소개 - 주요업무 */
.fm_part01 {
	.f_box { 
		padding-bottom:30px; border-bottom:1px solid #d6d8ed; 
		&:last-of-type {border-bottom: 0; }
		.txt { padding:5px 0 0 420px; }
		.txt .heading-h4 { margin-left:0; }
	}
	.img { 
		float: left;
		img{ width:400px; height: 280px;}
	}
}
/* 이수증 */
.fm_part05 {
	.info { 
		position: relative; width:1012px; padding:18px 20px 18px 12px; border:1px solid #dddbda;
		&:before { display: block; width:978px; height:209px; background:url(../images/farmingtech/subpage/bg_border.png) no-repeat center center; content: '';}
	}
	ul.comp-lst_dotted_grey { 
		display: inline-block; position: absolute; top:56px; left:76px; 
		&:before { display:inline-block; position: absolute; top:0; left:0; width:96px; height:140px; background: url(../images/farmingtech/subpage/bg_medal.png) no-repeat 0 0; content:'';}
		li { margin-left:125px;}
	}
	.fm_part05 .comp-tbl_boardtype .txt { text-align: left;}
}
.form_zone {
	position: relative;
	select { width:377px; margin-left:0; background-color: #f4f7f9; }
	input { width:379px; }
	.form_btn { 
		position: absolute; top:7px; right:0; width: 144px; height:136px; background-color: #fff;
		button { width:138px; height:136px; line-height:136px; font-size: 17px;}
	}
}
/* 의성농업대학 - 기본개요 */
.summary {
	.comp-lst_dotted {
		.point {color:#44af27;} 
		.point:before {background:#44af27}
		.usc:before {background:none;}
	}
	.usc {margin:20px 0 30px -50px;}
	.usc .tp-organization , 
	.tp-organization .organization-chart {overflow:hidden;}
	.usc .tp-organization {
		.chartimg {
			width:635px;height:322px;
			&:before {height:134px;}
			&:after {width:404px;margin-left:-203px;}
			p[class^=lnk].lnk1 {font-family:"NanumSquareEB","Malgun Gothic","굴림",Gulim,"돋움",Dotum,Sans-serif;line-height:148px;border:0;font-size:18px;border-radius:50%; @include background("farmingtech/subpage/bg_round.png",no-repeat 50% 50%); background-size: 100% 100%;}
			p[class^=lnk].lnk2 {top:195px;width:238px;margin-left:-119px;background:#dea12f;line-height:50px;font-family:"NanumSquareEB","Malgun Gothic","굴림",Gulim,"돋움",Dotum,Sans-serif;border:0;font-size:18px;border-radius:30px;}
		}
		.partgroup {
			width:635px;margin:0 auto;
			.part-area {float:left;}
			.part-area + .part-area {float:right;}
		}
		.part {
			width:230px;height:40px;min-height:40px;font-size: 17px; line-height: 38px; text-align: center; background: #fe970e; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif;border:0;
			&:before {background:#fe970e;}
		}
		.part-area li {
			position:relative;height:40px;margin-top:20px;line-height:38px;background:#cbcaca;font-size:16px;font-family:'NanumSquareR';
			&:before {position:absolute;top:-20px;left:50%;display:inline-block;width:1px;height:11px;background:#cbcaca;content:'';}
			&:after {position:absolute;top:-8px;left:50%;display:inline-block;width:10px;height:10px;margin-left:-6px;background:#cbcaca;border:2px solid #fff;border-radius:50%;z-index:10;content:'';}
		}
	}
	.comp-lst_important.point {color:#f4620a}
	.comp-lst_important.point:before {background:none;}
}
/* 의성농업현황 */
// 주요농산물 
.farm  {
	.img-area {margin-top:18px;}
	.comp-lst_dotted + .comp-tbl_datatype {margin-left:65px;}
	.img-list {
		margin:15px 0 0 50px;
		li {
			margin-top:25px;
			&:first-child {margin-top:0;}
			.txt {margin-bottom:27px;font-size:18px;color:#333;}
			.tit {display:inline-block;width:112px;height:30px;margin-right:11px;background:#f75100;color:#fff;text-align:center;line-height:30px;border-radius:30px;}
		}
	}
	.heading-h4.type_img:before {top:7px;}
	.txt-img {display:inline-block;width:117px;height:33px;margin-left:2px;vertical-align:8px;background:url(../images/farmingtech/subpage/txt_farm.png) no-repeat left top;text-indent:-999em;}
}
//	의성마늘요리
.cooking {
	.cooking-wrap {
		overflow:hidden;padding-bottom:12px;border-bottom:1px solid #c7c1bf;
		.heading-h3 {padding-bottom:20px;margin-bottom:12px;border-bottom:2px solid #fe970e;}
		.img-area {float:left;margin-right:23px;}
		.img-area img {display:inline-block;width:370px;}
		.cooking-info {
			float:left;width:61%;
			& > li {
				display:table;width:100%;min-height:183px;border:1px solid #dddbdb;
				& + li {margin-top:-1px;}
				.tit {display:table-cell;width:99px;background:#f1f3f4;vertical-align:middle;text-align:center;font-size:17px;font-family:'NanumSquareB';color:#1c1c1c;}
				ol {display:table-cell;padding:10px 10px 10px 18px;vertical-align:middle;}
				ul {display:table-cell;padding:10px 10px 10px 18px; vertical-align:middle;}
				.num-list li {margin-top:8px;padding-left:18px;text-indent:-18px;font-size:15px;line-height:1.2;color:#4b4b4b;font-family:'NanumSquareB';}
				.comp-lst_dotted li {font-size:15px;}
				.num-list li:first-child {margin-top:0;}
			}
		}
	}
	.cooking-banner {
		margin:40px 0;
		.img-area {display:inline-block;width:100px;height:100px;}
		.img-area button {position:relative;}
		.layer {
			display:none;position:absolute;top:0;left:0;width:100px;height:100px;background:rgba(0,0,0,0.6);border-radius:100%;font-family:'NanumSquareB';color:#fff;text-align:center;border:5px solid #f27405;box-sizing:border-box;
			span {
				display: block; position:absolute; top:50%; left:50%; width: 100%; 
				-ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); transform:translate(-50%, -50%);
			}
		}
		.img-area:hover .layer,
		.slick-current .layer {display:block;}
		.slick-list {max-width:87.2%;margin:0 auto;}
		.slick-arrow {position:absolute;top:50%;margin-top:-16px;}
		.slick-prev {left:0;width:18px;height:32px;background:url(../images/farmingtech/subpage/btn_cooking_prev.png) no-repeat left top;text-indent:-999em;}
		.slick-next {right:0;width:18px;height:32px;background:url(../images/farmingtech/subpage/btn_cooking_next.png) no-repeat left top;text-indent:-999em;}
	}
}
/* 영농정보- 재배기술정보 */
.techniques {
	.heading-h3 + .img-area {position:relative;margin:18px 0;}
	.heading-h3 + .img-area .btn-pdf {position:absolute;bottom:126px;right:172px;width:227px;height:48px;text-align:center;line-height:48px;border:1px solid #fff;background:rgba(255,255,255,0.2);color:#fff;border-radius:30px;}
	.pdf-txt {height:46px;margin-bottom:16px;line-height:46px;border:2px solid #dddbdb;text-align:center;}
	.pdf-txt .comp-lst_important {display:inline-block;color:#4b4b4b;font-family:'NanumSquareB'}
	.btn-wrap {overflow:hidden; margin:-7px 0 0 -7px;}
	.btn-wrap li {float: left;display:inline-block;width:24%;margin:7px 0 0 7px;}
	.btn-wrap .btn-pdf {position:relative;display:block;height:50px;padding-left:23px;line-height:50px;background:#fff3e9;color:#4a4a4a;box-sizing:border-box;}
	.btn-wrap .comm-btn_download2:after {position:absolute;right:0;top:0;display:block;width:50px;height:50px;background-color:#ffd67e;content:'';}
	.btn-wrap .btn-pdf:hover:before {position:absolute;top:0;left:0;display:block;width:99%;height:96%;border:2px solid #ffb007;content:'';}
	.btn-wrap .comm-btn_download2:hover:after {background-color:#ffb007;}
}



































































































































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack



/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
/* ------------------------------------------------------
- LAYOUT
------------------------------------------------------ */
#wrap.farmingtech #header {
	.header-bottom {
		.header-utilegroup .header-utile {
			.icon-login:before {@include background("farmingtech/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
			.icon-join:before {@include background("farmingtech/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
		}
		.gnb-mo-title {background: #ff6600}
		.header-utilegroup {background: #f5e8df;}
		.header-utilegroup .header-utile li + li {border-color:#e2ccbd;}
	}
	.header-middle {
		.btn-menu-open button {background-color:#7f652b}
		.title a {width: 20.7rem; @include background("farmingtech/img_logo_m.png",no-repeat 50% 50%); }
	}
}
#wrap.farmingtech #gnb {
	.category {display: none}
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#ff6600;}
	.gnb h4 a:hover:before {background:#ff6600;}
}
#wrap.farmingtech #container {padding-top: 0;}
 
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */ 
#wrap.farmingtech  {
	*[class^=heading][class*=-h3]:before {height: 1.5rem;} 
}

/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.farmingtech #container.main {
	.inner {width: 100%; }
	// 게시판 간략보기
	.main-cont-zone {
		@include background("farmingtech/main/bg_main_m.jpg",no-repeat 50% 100%); background-size: cover;
		.inner {padding: 0 2rem 3rem;}
	}
	.main-middle-zone {
		position:relative; top:-10rem; margin-bottom: -10rem; background:none;
		.board-zone {
			float: none; width:100%; min-height:18.6rem; height: auto; padding:1.1rem 1.2rem 1.5rem; background-position:100% 100%; background-size:auto 100%;

			ul[role=tablist] {
				li {margin-left: 1rem;}
				a {padding:0 0.6rem; font-size:1.2rem; line-height: 2.2rem; }
			}
			div[role=tabpanel] {
				padding-top:1.4rem;
				dl {
					padding-left:5.6rem; min-height: 5.2rem;
					dt {
						font-size: 1.1rem; 
						.date {
							width:5rem; height: 5.2rem; padding-top: 1.2rem; font-size: 0.9rem;
							strong {font-size: 1.6rem; }
						}
					}
					dd {max-height:2.8rem; margin-top: 1rem; font-size:1rem; line-height: 1.4rem;}
				}
				.lst {
					padding:1rem 0 0 0.4rem; margin-top: 0.9rem;
					li + li {margin-top: 0.7rem;}
					a {
						&:before{width:2px; height: 2px; margin-right: 0.5rem;}
						.cont {max-width:70%; font-size: 1rem;}
					}
				}
				.btn-more {
					right: 1.3rem;top:1.4rem;
					a {width: 1.7rem; height:1.7rem; background-size:50% 50%;}
				}
			}
		}
		.goto-zone {
			float: none; width:100%; 
			.quick-menu {
				float: none; width:100%; height: auto; padding:1.6rem 1.5rem 1.8rem;
				a {
					font-size: 1rem;
					&:before {width:5.1rem; height: 5.1rem; border-width:2px;}
					.name { margin-top: 0.6rem;}
				}
				li:nth-child(4)~li {margin-top: 1.5rem}
				li:nth-child(1) a:before {background-size: 100% 100% !important;}
				li:nth-child(2) a:before {background-size: 100% 100% !important;}
				li:nth-child(3) a:before {background-size: 100% 100% !important;}
				li:nth-child(4) a:before {background-size: 100% 100% !important;}
				li:nth-child(5) a:before {background-size: 100% 100% !important;}
				li:nth-child(6) a:before {background-size: 100% 100% !important;}
				li:nth-child(7) a:before {background-size: 100% 100% !important;}
				li:nth-child(8) a:before {background-size: 100% 100% !important;}
				li:nth-child(8) a .name {width:120%; position: relative; left:-1rem;}
			}
			.edu-goto {
				float: none;
				.desc {
					display:inline-block; line-height: 1.2rem; margin-top: 0; margin-left: 3rem; vertical-align: middle; text-align: left;
					&:before {left:0; top:50%; width:2px; height: 2.5rem; margin:-1.25rem 0 0 -1.6rem;}
				}
				.tit {
					display:inline-block; font-size: 1.2rem; line-height: 3rem;
					&:before {display:inline-block; height:3rem; width:3.3rem; margin:0 0.4rem 0 0;background-size: 100% auto; vertical-align: middle;}
				}
				a {
					height:auto; width:100%;  padding:1.8rem 0; font-size: 1rem;  background-size: auto 25%;
					&:after{border-width:2px;}
				}
			}
		}
	}
	// 슬라이드
	.main-visual-zone {
		height: 46.1rem; min-width:auto; @include background("farmingtech/main/bg_top_m.jpg",no-repeat 50% 50%); background-size: cover;
		.inner {padding-top: 2.6rem;}
		.txt {
			font-size: 1rem; line-height: 1.5rem; 
			padding:2.2rem 0 1rem 7.1rem; background-size: auto 100%;
			img {height: 4rem; }
		}
		.indicator {
			width:15.2rem; margin:2.5rem auto 0; 
			.scroll {width:7.5rem; height: 2.2rem; margin:0 4rem; background-size: 100% auto;}
			button[class^=btn-] { width:1.8rem; height:2.2rem; background-size: 100% auto !important}
		}
		.slider {
			position: absolute; left:0; top:20rem; width:100%;
			.slide {width:auto; text-align: center;}
			a[class^=top] {
				width:12.6rem; height:12.6rem; position: relative; right:inherit !important;
				&[class^=top1]:after {width:14rem; height:14.1rem; margin:-7rem 0 0 -7rem; @include background("farmingtech/main/img_top1_m.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top2]:after {width:14rem; height:14.1rem; margin:-7rem 0 0 -7rem; @include background("farmingtech/main/img_top2_m.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top3]:after {width:14rem; height:14.1rem; margin:-7rem 0 0 -7rem; @include background("farmingtech/main/img_top3_m.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top4]:after {width:14rem; height:14.1rem; margin:-7rem 0 0 -7rem; @include background("farmingtech/main/img_top4_m.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top5]:after {width:14rem; height:14.1rem; margin:-7rem 0 0 -7rem; @include background("farmingtech/main/img_top5_m.png",no-repeat 50% 50%); background-size: 100% 100%;}
			}
			a[class^=top]:hover {
				&[class^=top1]:after {@include background("farmingtech/main/img_top1_m_hover.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top2]:after {@include background("farmingtech/main/img_top2_m_hover.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top3]:after {@include background("farmingtech/main/img_top3_m_hover.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top4]:after {@include background("farmingtech/main/img_top4_m_hover.png",no-repeat 50% 50%); background-size: 100% 100%;}
				&[class^=top5]:after {@include background("farmingtech/main/img_top5_m_hover.png",no-repeat 50% 50%); background-size: 100% 100%;}
			}
			.slick-slide {
				a[class^=top] {margin-right: 0;}
				text-align: center !important; 
				.slide {padding:0 !important;}
			}
		}
	}
	// 일정 행사 
	.main-event-zone {
		height:auto; padding-left: 0; margin-top: 1.2rem; border-top:0; 
		.tit-zone {
			position:static; width:100%; height:3.3rem; margin:0 -1px;padding:0 1px; line-height: 3.3rem; text-align: center; box-sizing:content-box;
			* {float: none; display: inline-block; vertical-align: middle;}
			.tit {font-size:1.2rem;}
			.month {
				padding-left: 2.2rem; font-size:1.2rem;
				&:before {left:0.7rem; height:3.3rem; width:0.7rem; background-size: 100% auto;}
			}
		}
		.js-event {overflow-x:auto; overflow-y:hidden; height: 3.3rem;  width:100%;  }
		.days {
			width:300%; 
			> li {float: left; border-top:1px solid #dddbdb; border-bottom: 1px solid #dddbdb; height:3.3rem; width:auto !important }

			a {height: 3rem; width:5.4vw; border-width:2px; margin:-1px 0; text-align: center;line-height:3.1rem; box-sizing: content-box;}
			.popup {display: none !important; }
			.num {display: inline; position: static; margin:0; font-size:1rem; width:auto; height:auto;  line-height: auto; border-radius:0; background:none !important; }
			.have .num, .today .num {font-family: $font2; font-weight: bold; }
		}
	}
	// 하단
	.main-bottom-zone {
		margin-top: 1.3rem; 
		.tit {font-size:1.2rem;}
		& > div {float: none; height:auto;}
	}
	.popup-zone {
		width:100%; padding:1.8rem 1.5rem 1.4rem;
		.slider {margin-top: 1.1rem;}
		.slide {height:18rem; }
		.indicator {
			right: 1.5rem; top:1.4rem;
			button {width:2rem; height: 2rem;}
			.btn-prev {background-size: 30% auto;}
			.btn-next {background-size: 30% auto;}
			.btn-pause {background-size: 30% auto;}
			.btn-pause.play {background-size: 30% auto;}
		}
	}
	.farming-zone {
		width:100%; padding:1.8rem 1.5rem 1.4rem;
		.menu {
			margin-top:1.1rem;
			li {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; padding:0.4rem 0.5rem 0.4rem 0.7rem; height:auto;}
			li + li {margin-top: 0.7rem}
			strong {width:9rem; font-size: 1rem; line-height:2.5rem; }
			select {-webkit-flex:1; flex:1; width:100%; height: 2.5rem; padding:0 1.6rem 0 0.8rem; font-size: 1rem; line-height:2.3rem; }
		}
	}
	.weather-zone {
		width:100%; padding:1.5rem 1.5rem 1rem;
		&:after {display:block; clear:both; content:""}
		.curr-time {font-size: 1rem; right:1.5rem; top:1.6rem }
		.goto {
			margin-top: 1rem; float:left; width:25%; padding-left: 0.7rem; box-sizing: border-box;
			a {height: 11.3rem; padding-top: 2.2rem; line-height: 1.5rem; font-size: 1rem; box-sizing: border-box}
			a:after{display:block; width:1.8rem; height:1.8rem; margin:1.2rem auto 0;}
		}
		.curr-weather {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
			float: left; width:75%; height:11.3rem; padding:1.1rem 1rem; margin-top:1rem;
			.weather {
				display: table; width:4.8rem; height:9.1rem; margin-right: 0.7rem; float: left; table-layout: fixed;
				& > p {display: table-cell; vertical-align: middle;}
				.txt {margin-top:1rem; font-size: 1rem;}
				.img {width:4.8rem; height:4.8rem;}
			}
			.lst {
				float:none; width:100%; -webkit-flex:1; flex:1; 
				li {padding:0 0.5rem; font-size:1rem; line-height: 2.1rem;}
			}
		}
	}
}

/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */
/* 센터소개 - 주요업무 */
.fm_part01 {
	.f_box .txt { padding-left:45%; }
	.img { 
		width:40%; 
		img { width:100%; height: auto; }
	}
}
/* 이수증 */
.form_zone{
	select { width:100%; }
	input { width:100%; }
	.form_btn {
		position: static; width:100%; height: 3.5rem; margin-top:1rem;
		button{ width:100%; height:100%; line-height: 3.5rem; font-size: 1.3rem; }
	}
}
.fm_part05 {
	.info { 
		width:100%; padding: 1rem;
		&:before { 
			width:100%; background: url(../images/farmingtech/subpage/bg_left.png) no-repeat, url(../images/farmingtech/subpage/bg_right.png) no-repeat 100% 0, url(../images/farmingtech/subpage/repeat-x.png) repeat-x;
			background-size:auto 100%, auto 100%;
		}
	}
	ul.comp-lst_dotted_grey { 
		top:5rem; left:5rem; max-height:12rem;
		&:before { width:6rem; background-size: contain;}
		li { margin-left:8rem; margin-right:5rem; line-height: 2rem;}
	}
}
/* 의성농업대학 - 기본개요 */
.summary {
	.usc .tp-organization {
		margin-left: 2rem;
		.chartimg {width:100%;height:24rem;}
		.chartimg:before {top:9rem;height:50%;}
		.chartimg p[class^=lnk].lnk1 {line-height:10rem;font-size:1.5rem;}
		.chartimg p[class^=lnk].lnk2 {top:14rem;width:19rem;margin-left:-9.5rem;font-size:1.2rem;line-height:3rem;}
		.chartimg:after {width:calc(100% - 15rem);margin-left:calc(-50% + 7.5rem);}
		.partgroup {display:block;width:100%;}
		.part:before {width:6px;height:6px;margin:-4px;}
		.part-area li {width:15rem;height:3rem;font-size:1.2rem;line-height:3rem;}
		.part-area li:after {width:6px;height:6px;margin-left:-4px;}
	}
	.tp-organization .organization-chart .part {width:15rem;height:3rem;min-height:auto;font-size:1.2rem;line-height:3rem;}
}
/* 의성농업현황 */
// 주요농산물 
.farm {
	.img-area {margin-top:.9rem; margin-left: -2rem;}
	.heading-h3 + .img-area {margin-left: 0;}
	// .comp-lst_dotted + .comp-tbl_datatype {width:95%;margin-left:3rem;}
	.comp-lst_dotted + .comp-tbl_datatype {margin-left:0;}
	.img-list {margin:.7rem 0 0 2rem;}
	.img-list li {margin-top:1.8rem;}
	.img-list li .txt {margin-bottom:1.4rem;padding-left:5rem;text-indent:-5.5rem;font-size:1.2rem;}
	.img-list li .tit {width:5rem;height:2rem;margin-right:.5rem;line-height:2rem;text-indent:0;}
	.heading-h4.type_img:before {top:7px;}
	.txt-img {width:7rem;height:2rem;vertical-align:6px;background-size:100%;}
}
//	의성마늘요리
.cooking {
	.cooking-wrap {
		padding-bottom:0;border-bottom:0;
		.heading-h3 {margin-bottom:.6rem;padding-bottom:1rem;}
		.img-area {float:none;margin:0 0 .5rem 0;text-align:center;}
		.cooking-info {
			float:none;width:99.6%;
			& > li {
				height:15rem;
				.tit {width:7rem;font-size:1.5rem;}
				ol {padding-left:.9rem;}
				ul {padding-left:.9rem;}
				.num-list {padding:1rem}
				.num-list li {margin-top:.4rem;padding-left:1.5rem;text-indent:-1.5rem;font-size:1.2rem;}
				.comp-lst_dotted li {font-size:1.2rem;}
			}
		}
	}
	.cooking-banner {
		margin:2rem 0;
		.img-area {width:5rem;height:5rem;}
		.layer {width:100%;height:100%;font-size:1.2rem; line-height: 1.8rem;}
		.slick-list {max-width:-webkit-calc(100% - 5rem);max-width:-moz-calc(100% - 5rem);max-width:-o-calc(100% - 5rem);max-width:calc(100% - 5rem);padding-left:.9rem;text-align:center;}
		.slick-track {margin-left:-1rem;}
		.slick-slide {margin-left:1rem;}
	}
}
/* 영농정보- 재배기술정보 */
.techniques {
	.heading-h3 + .img-area {margin:.9rem 0;}
	.heading-h3 + .img-area .btn-pdf {bottom:auto;left:50%;top:50%;right:auto;margin:9vw 0 0 10vw;width:10rem;height:3rem;line-height:3rem;}
	.pdf-txt {height:inherit;margin-bottom:.8rem;padding:.7rem;line-height:inherit;}
	.btn-wrap li {width:-webkit-calc((100% / 3) - 9px);width:-moz-webkit-calc((100% / 3) - 9px);width:-o-webkit-calc((100% / 3) - 9px);width:-webkit-calc((100% / 3) - 9px);}
	.btn-wrap .btn-pdf {height:3rem;padding-left:1rem;line-height:3rem;}
	.btn-wrap .comm-btn_download2:after {width:3rem;height:3rem;}
	.btn-wrap .btn-pdf:hover:before {width:-webkit-calc(100% - 4px);width:-moz-webkit-calc(100% - 4px);width:-o-webkit-calc(100% - 4px);width:-webkit-calc(100% - 4px);height:-webkit-calc(100% - 4px);height:-moz-webkit-calc(100% - 4px);height:-o-webkit-calc(100% - 4px);height:-webkit-calc(100% - 4px);}
}

//-------------------------------------------------------------------------------
} @media (max-width:768px){
/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */
/* 이수증 */
.fm_part05 {
	ul.comp-lst_dotted_grey {
		height: auto;
		li { margin-left:6.5rem; font-size: 1.1rem; line-height: 1.5rem;}
		li:first-child { margin-top:0 !important;}
		li:last-child { margin-bottom:1rem !important;}
	}
}
/* 의성농업대학 - 기본개요 */
.summary {
	.usc .tp-organization .partgroup {width:100%;}
	.usc .tp-organization .part-area li {width:13rem;}
	.usc .tp-organization .chartimg:after {width:calc(100% - 13rem);margin-left:calc(-50% + 6.5rem);}
	.tp-organization .organization-chart .part {width:13rem;}
}
} @media (max-width:360px){
} @media (max-width:321px){
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.farmingtech #container.main {
	.main-middle-zone .goto-zone .edu-goto {
		.desc {display: block; margin:1rem auto 0; text-align: center;}
		.desc:before {display: none;}
	}
	.weather-zone {
		.goto {
			float: none; width: 100%; margin:1rem 0 0; padding-left: 0;
			br {display: none}
			a {height: auto; padding:1rem;}
			a:after {display: inline-block; margin:0 0 0 0.5rem;}
		}	
		.curr-weather {float: none; width: 100%;}
	}
}
/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */
.cooking .cooking-wrap .img-area img {width:100%;}
//-------------------------------------------------------------------------------
}


