@charset "UTF-8";

@import 'base';

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */ 
@media (min-width:1025px){
	body.pc .lifeedu #header {
		height: 190px;
		.header-middle {
			.title {
				top: 22px;
				a {width: 205px; height: 51px; background:url("../../static/images/lifeedu/img_logo.png") no-repeat 50% 50%;}
			}
			.comp-search .form {border-color:#2e56bd;}
			.comp-search > button {background:#2e56bd;}
		}
		.header-bottom {
			background:#014099; min-height: 60px; border-top: 1px solid #c2c0bf; border-bottom: 1px solid #014099;
			.sitemap {top:4px; background: #417ff2}
		}
		#gnb {
			.gnb {
				& > li {float:left; }
				h2 {
					position: relative;
					&:before {display: inline-block; position: absolute; left:0; top:50%; margin-top: -11px; content: ""; width: 1px; height:20px; background:#6280ac; vertical-align: middle;}
					a {display: block; position: relative; width:250px; line-height:58px; font-size: 20px; color:#fff; text-align: center; }
					&.over a, a:hover {
						font-family: $font3;
						&:before {display: block; position: absolute; bottom:-1px; left:0; width: 100%; content: ""; background:#ff7a39; height: 6px; z-index: 1000}
						&:after {display: block; position: absolute; bottom:-10px; left:50%; width:21px; height: 21px; margin-left: -10.5px; content: ""; border:6px solid #ff7a39; box-sizing: border-box; border-radius: 100px; background:#fff; z-index: 1000}
					}
				}
			}
			.depth2menu {display:none; position: absolute; top:100%; width:250px; height: 200px; padding-top: 17px;background: #fff;  }
			h2 {display: inline-block; vertical-align: top; }
			h2 a {display: block; position: relative; font-size: 18px; color:#343434; text-align: center; }
			h3 a {font-size: 15px; color:#525252; }
			h3 a:before {display: inline-block; content: ""; vertical-align: middle; width: 4px; height: 4px; margin-right: 10px; background:#1e4363;}
			.group {margin-top: 3px; padding-left: 25px;}
			.group:first-of-type {margin-top:0;}
		
			h2.over a,
			h2 a:hover {font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; }
		}

		&.open {
			border-bottom: 6px solid #35518f;
			.header-bottom {border-bottom-color:#c2c0bf;}
		}
	}
}
.lifeedu #footer {
	height: 230px; background:#f1f3f4;
	.btn-gototop a {background:#37424c;}
	.footer-selectgroup {
		.footer-comp-select {
			dt{
				button {background:#f1f3f4 url("../../static/images/lifeedu/form_select.png") no-repeat 100% 50%; border-color:#d0cfd0; color:#6a6a6a;}
			}
		}
	}
	.footer-utilegroup {
		color:#6a6a6a; padding-left:0;
		.footer-utile {
			a {
				color:#6a6a6a;
				strong {color:#333;}
			}
		}
		.footer-addr {
			strong {color:#333;}
		}
	}
}
.lifeedu #container{ 
	padding-top: 190px; 
	&:before {top:375px; background:#d6d5d5;}
	.top-visual-zone {
		p {width:1320px; @include background("commonbg/img_lifeedutxt.png",no-repeat 100% 50%);}
	}
	.breadcrumb-zone {
		background:#d6d5d5;
		.breadcrumb {
			& > li {border-right-color: #c4bebd}
			& > li > a {color:#666; -ms-transition: 0.3s ease; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; transition: 0.3s ease;}
			& > li:first-child > a {color:#8e8886;}
			a:after {@include background("lifeedu/icon_arrow_lnb.png",no-repeat 50% 50%);}
			a.open {
				background:#383b3b; color:#fff;
				&:after {@include background("common/sp_icon.png",no-repeat -250px -100px);}
			} 
		}
		.page-zoom {
			button[class^=btn-] {
				width: 23px;
				&.btn-zoomup {@include background("lifeedu/btn_zoom_up.png",no-repeat 50% 50%);}
				&.btn-zoomdown {@include background("lifeedu/btn_zoom_down.png",no-repeat 50% 50%);}
			}
			dt {color:rgba(72,72,72,0.6);}
		}
	}
}
.lifeedu #container.main {
	padding-bottom: 30px;
	&:before {display: none}
}
.lifeedu #lnb {
	border-top-color: #d6d5d5;
	.title-depth h2 {background:#014099;}
	.menu {
		h2 a {
			&.open, &:hover {
				background:#dce8f6; color:#000; font-family: $font1;
				&:after {background-color:#417ff2 }
			}
		}
		.smallmenu ul {
			background:#f1f6fc;
			a[aria-current=page]:before, 
			a:hover:before {border-color:#014099;}
		}
	}

}

/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
.lifeedu {
	.top-search-zone.bgcolor {background: #f1f6fc;}

	*[class^=comp-iconbox] {
		border-top-color: #014099;
		&:before {background:#014099;}
		.icon {background:#e1eef9;}
	}
	*[class^=comp-tab] {
		a[aria-selected=true]:after {background:#2e56bd;}
	}

	*[class^=heading][class*=-h3]:before {@include background("lifeedu/bul_h3.png",no-repeat 50% 50%); }
	*[class^=heading][class*=-h4]:before {@include background("lifeedu/bul_h4.png",no-repeat 50% 50%); }
}

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.lifeedu .main {
	div[class^=main-] > .inner {width:1320px;margin:0 auto;}
	// 게시판
	.main-board-zone {
		overflow:hidden; margin-top: 20px;
		div[class^=board-zone] {
			float:left; width:650px; border:1px solid #c9c8c8; border-top: 0; @include background("lifeedu/main/bg_board.png",no-repeat 100% 100%);
			&:after {display:block; clear:both; content:""}
		}
		.tit {
			margin: 0 -1px; text-align: center; color:#fff; font-family: $font2; font-size: 22px; line-height: 50px; 
			.sm {font-family: $font1;}
		}
		.board {
			height: 250px; float: left; width:50%; position: relative; 
			.subtit {color:#111; font-family: $font2; text-align: center; line-height: 50px;}
			& + .board {border-left:1px dashed #c9c8c8;}
			.btn-more {
				position: absolute; right: 22px; top:9px; text-indent: -999em;
				width:32px; height: 32px; border:1px solid #ccc; background:rgba(256,256,256,0.5) url("../../static/images/lifeedu/icon_plus.png") no-repeat 50% 50%;
			}
		}
		.lst {
			padding:17px 0 0 24px;
			li {
				margin-top: 16px;
				&:first-child {margin-top: 0}
				&:before {display: inline-block; content: ""; width: 3px; height: 3px; background:#000; margin-right: 10px; vertical-align: middle;}
			}
			a {display: inline-block; overflow: hidden; color:#000; font-size: 16px; max-width: 90%; white-space: nowrap; text-overflow: ellipsis; vertical-align: middle;}
		}
		.board-zone1 {
			.tit {background:#2e56bd;}
			.subtit {background:#dce8f6;}
		}
		.board-zone2 {
			margin-left: 20px;
			.tit {background:#ff7a39;}
			.subtit {background:#fde4e1;}

		}
	}
	// 바로가기 
	.main-gotolink-zone {
		overflow:hidden; margin-top: 20px;
		// 퀵메뉴
		.quick-zone {
			float:left; height: 300px; width:650px; padding:28px 50px 0; margin-left: 20px; @include background("lifeedu/main/bg_quick.jpg",no-repeat 50% 50%); background-size: 100% 100%; border:1px solid #ccc;
			.tit {font-size: 22px; color:#fff; font-family: $font2; }
			.menu {
				margin-top: 40px; overflow: hidden;
				li {
					margin-left: 16px; float: left; width:125px;
					&:first-child {margin-left: 0;}
					&:nth-child(odd) a {background:#4f83e2;}
					&:nth-child(even) a {background:#2e56bd;}
					&:nth-child(2) .name {margin-top: 14px}
				}
				a {
					display: block; overflow: hidden; position: relative; height: 150px; border-radius: 10px; 
					&:hover:after {display: block; position: absolute; left:0; top:0; border:8px solid #154984; box-sizing: border-box; width:100%; height: 100%; content: ""}
				}
				.icon {display: block;text-align: center; padding-top: 25px;}
				.name {display: block; margin-top: 24px; color:#fff; font-size: 18px; text-align: center; line-height: 24px; }
			}
		}
		// 우리동네 
		.wearea-zone {
			float: left; position: relative; width:650px; height: 300px; background: url("../../static/images/lifeedu/main/bg_wearea.png") repeat 0 0, url("../../static/images/lifeedu/main/bg_map.png") no-repeat 0 0;

			.tit {overflow: hidden; position: absolute; right: 7px; top:17px; padding:0 20px; font-size: 22px; color:#fff; font-family: $font2; text-align: center; line-height: 50px; background:#ff7a39; border-radius: 100px;}
			.desc {position:absolute; right:24px; top: 84px; text-align: right; color:#fff; font-size: 16px; line-height: 24px;}
			.map {
				padding:15px 0 0 30px; position: relative; z-index: 1;
				@include background("lifeedu/main/bg_map.png",no-repeat 0 0);
				&[data-map=map1] {@include background("lifeedu/main/img_map1.png",no-repeat 0 0);}
				&[data-map=map2] {@include background("lifeedu/main/img_map2.png",no-repeat 0 0);}
				&[data-map=map3] {@include background("lifeedu/main/img_map3.png",no-repeat 0 0);}
				&[data-map=map4] {@include background("lifeedu/main/img_map4.png",no-repeat 0 0);}
				&[data-map=map5] {@include background("lifeedu/main/img_map5.png",no-repeat 0 0);}
				&[data-map=map6] {@include background("lifeedu/main/img_map6.png",no-repeat 0 0);}
				&[data-map=map7] {@include background("lifeedu/main/img_map7.png",no-repeat 0 0);}
				&[data-map=map8] {@include background("lifeedu/main/img_map8.png",no-repeat 0 0);}
				&[data-map=map9] {@include background("lifeedu/main/img_map9.png",no-repeat 0 0);}
				&[data-map=map10] {@include background("lifeedu/main/img_map10.png",no-repeat 0 0);}
				&[data-map=map11] {@include background("lifeedu/main/img_map11.png",no-repeat 0 0);}
				&[data-map=map12] {@include background("lifeedu/main/img_map12.png",no-repeat 0 0);}
				&[data-map=map13] {@include background("lifeedu/main/img_map13.png",no-repeat 0 0);}
				&[data-map=map14] {@include background("lifeedu/main/img_map14.png",no-repeat 0 0);}
				&[data-map=map15] {@include background("lifeedu/main/img_map15.png",no-repeat 0 0);}
				&[data-map=map16] {@include background("lifeedu/main/img_map16.png",no-repeat 0 0);}
				&[data-map=map17] {@include background("lifeedu/main/img_map17.png",no-repeat 0 0);}
				&[data-map=map18] {@include background("lifeedu/main/img_map18.png",no-repeat 0 0);}
			}
		} 
	}
	//메인 상단 
	.main-visual-zone {
		height: 390px; @include background("lifeedu/main/bg_mainslider.png",no-repeat 50% 0); background-size: cover;
		.inner {position: relative;}
		.popupzone {
			position: absolute; left:0; top:40px; width: 420px; height: 310px;
			.tit {color:#fff; font-family: $font2; font-size: 22px; line-height: 50px; padding-left: 16px; background:#35518f;}
			.slick-dots {
				position: absolute; top:-50px; right:88px;
				font-size: 16px; color:#fff;  line-height: 50px;
				.current {font-size: 18px; font-family: $font2; }
				li {
					display: none; 
					&.slick-active {display: block;}
				}
			}
			.indicator {
				position: absolute; overflow: hidden; right: 10px; top:9px; border:1px solid #fff;
				li {float: left;}
				li+li {border-left: 1px solid #fff;}
				*[class^=btn] {
					width:29px; height: 29px; text-indent: -999em;
					&.btn-prev {@include background("lifeedu/btn_prev.png",no-repeat 50% 50%);}
					&.btn-next {@include background("lifeedu/btn_next.png",no-repeat 50% 50%);}
				}				
			}
			.slider {
				width:100%; height: 260px;
				img {width: 100%; height: 100%;}
			}
		}
	}
}

/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
.lifeedu-class-search {
	.flag {
		padding:0 20px; color:#417ff2; font-size: 16px; display: inline-block; border:2px solid #417ff2; line-height: 30px; border-radius: 100px; font-family: $font2;
		&:before {display: inline-block; vertical-align: middle; width:26px; height: 17px; background:#417ff2 url("../../static/images/lifeedu/subpage/icon_class.png") no-repeat 50% 50%; margin-right: 7px; content: ""; }
	}
}
/* 강좌 상세 */
.class-simple-infor {
	padding:15px 20px 28px; position: relative; border:1px solid #d1d1d1; border-top: 2px solid #014099;
	.class-name {
		.name {display:block; margin-top: 14px; color:#222; font-family: $font2; font-size: 19px; padding-right: 85px;}
	}
	.booking-state {
		position: absolute; right: -1px; top:-2px; width: 90px; height: 90px; padding-top: 18px; box-sizing: border-box;
		font-family: $font2; color:#fff; text-align: center; background:#014099; font-size: 17px;
		.sm {color:#fff475; font-size: 14px; display: block; padding-top: 23px; @include background("lifeedu/subpage/bg_txt.png", no-repeat 50% 9px);}
		&.not {background:#797979; }
	}
	.class-lst {
		overflow: hidden; margin-top: 26px;
		li {
			position: relative; float: left; width: 50%;  padding-left: 12px; box-sizing: border-box; font-family: $font2;
			&:before {display: inline-block; position: absolute; left:0; top:7px; width: 3px; height: 3px; background:#797979; content: ""; vertical-align: middle;}
			&:nth-child(2) ~ li {margin-top: 12px}
		}
		.tit {display:inline-block; width:85px; float: left;color:#222}
		.cont {padding-left: 85px;}
	}
}
.class-detail-infor {
	table[class^=comp-tbl] {
		td {text-align: left !important; padding:5px 20px !important;}
		tbody td + th {border-left-color: #7a7a7a}
		tbody th + td {border-left:0; line-height: 35px}
	}
	.down-lst {
		.comm-btn_type2 {margin-left: 5px;}
	}
	*[class*=_search] {float: right;}
}
/* 강좌 검색 */
.lifeedu .search-box-detail {
	padding:35px 50px; background:#f1f6fc; border:1px solid #d1d1d1; border-top: 2px solid #014099; border-bottom-color: #014099;
	.ebooksys-search-form {
		overflow:hidden;
		li {
			float: left; width: 50%; padding:6px 0;
			&.pl {padding-left: 35px; box-sizing: border-box}
			&.pl:last-of-type {
				.tit {width: 150px;}
				.form {padding-left: 150px;}
			}
			&:nth-child(1),
			&:nth-child(4),
			&:nth-child(6) {
				.tit {color:#014099;}
			}
		}
		.tit {float: left;width:95px; color:#111; font-size: 18px; font-family: $font2; line-height: 35px;}		
		.form {padding-left: 95px;}
		.block + .block {margin-top: 12px}
		.term {
			input {width:153px;}
		}
	}
	.comp-btn-zone {
		*[class^=comm-btn] {width: 150px}
	}
}
.lifeedu *[class^=class-lst] {
	// 목록 타입 1 
	&[class*=_simpletype] {
		overflow:hidden; margin-top: 30px;
		& > li {
			float: left; width: 490px; height: 340px;  
			&:nth-child(even) {margin-left: 30px;}
			&:nth-child(2) ~ li {margin-top: 20px}
			a {display:block; padding:15px 20px 28px; width: 100%; height: 100%; position: relative; border:1px solid #d1d1d1; border-top: 1px solid #014099; box-sizing: border-box;}
			.class-name {
				.name {display:block; margin-top: 14px; color:#222; font-family: $font2; font-size: 19px; padding-right: 85px;}
			}
			.booking-state {
				position: absolute; right: -1px; top:-1px; width: 90px; height: 90px; padding-top: 18px; box-sizing: border-box; font-family: $font2; color:#fff; text-align: center; background:#014099; font-size: 17px;
				.sm {color:#fff475; font-size: 14px; display: block; padding-top: 23px; @include background("lifeedu/subpage/bg_txt.png", no-repeat 50% 9px);}

				&.not {background:#797979; }
			}
			.class-lst {
				overflow: hidden; margin-top: 26px;
				li {
					position: relative; padding-left: 12px; box-sizing: border-box; font-family: $font2;
					&:before {display: inline-block; position: absolute; left:0; top:7px; width: 3px; height: 3px; background:#797979; content: ""; vertical-align: middle;}
					&:nth-child(1) ~ li {margin-top: 12px}
				}
				.tit {display:inline-block; width:85px; float: left;color:#222}
				.cont {padding-left: 85px; color:#939393;}
			}

			a:hover {
				border:3px solid #014099; padding:13px 18px 26px;
				.booking-state {top:-3px; right: -3px}

			}
		}
	}
	// 목록 타입 2
	&[class*=_listtype] {
		margin-top: 30px;
		.classflag {
			font-size: 15px; display: inline-block; vertical-align: middle; color:#fff; text-align: center; width: 22px; height: 22px; border-radius: 100px; line-height: 22px; font-family: $font1; 
			&.recruit {background:#f0102a;}
			&.term {background:#fd9807;}
			&.online {background:#00a388;}
			&.visit {background:#016dae;}
		}
		.flag {
			padding:0 10px; line-height: 22px; font-size: 12px; border-color:#79bd8f; color:#79bd8f;
			&:before { width:19px; height: 13px; margin-right:5px; background-size: 100% 100%; background-color: #79bd8f; }
		}
		.flag-lst {
			float: right;
			li {float: left; font-size: 15px; color:#787878; margin-left: 10px; font-family: $font1;}
			.classflag {margin-right: 6px;}
		}
		td {
			letter-spacing: -1px;
			.name {display: block; margin-top: 6px;}
			*.btn-submit {
				display: inline-block; width:56px; height: 56px; padding:8px 12px 0; color:#fff; text-align: center; line-height: 20px; box-sizing: border-box; background:#417ff2; border-radius: 5px; letter-spacing: 0px;
				&.not {background:#9c9c9c;}
			}
			p {
				line-height: 22px;
				& + p {margin-top: 5px} 
				.classflag {margin-right:8px;}
			}
			&:first-child {text-align: left;}
		}
	}
} 
/* 강좌신청 */
// 일반강사목록
.teacher_lst {
	overflow: hidden; margin-top: 25px;
	> li {
		float: left; width:490px; height:210px;
		&:nth-child(even) {margin-left: 30px;}
		&:nth-child(2) ~ li {margin-top: 20px;}
	}
	a {
		display: block; position: relative; width:100%; height: 100%; padding:20px 25px 20px 20px; border:1px solid #d1d1d1; border-top-color:#014099; box-sizing: border-box; 
		&:hover {
			border-color:#014099; border-top-color: #00a388;
			.infor .btn {background:#417ff2; color:#fff;}
			.infor .btn:after {@include background("lifeedu/subpage/icon_arrow1_hover.png",no-repeat 50% 50%);}
			&:after {display: block; position: absolute; left:0; top:0; width:484px; height:204px; border:2px solid #014099; border-top-width:2px; content: "";}
		}
	}
	.img {
		float: left; overflow:hidden; width:130px; height:168px; background:#eaeaea;
		img {width: 100%; height: 100%}
	}
	.infor {
		padding-left: 145px; padding-top: 20px;
		.name {
			color:#222; font-size: 19px;
			em {font-family: $font2;}
		}
		.lst {
			margin-top: 25px;
			li {font-size: 16px; color:#939393; line-height: 30px;}
			li:before {display:inline-block; width:4px; height: 4px; background:#797979; content: ""; margin-right: 10px; vertical-align: middle;}
			.tit {display: inline-block; width:65px; color:#222; vertical-align: middle; text-align: left; font-family: $font2;}
			.tit:after {display: inline-block; content: "/"; vertical-align: middle; color:#939393;}
		}
		.btn {display:inline-block; position: absolute; right:25px; top:35px; width:145px; line-height: 30px; font-family: $font2; font-size: 16px; color:#417ff2; border:2px solid #417ff2; border-radius: 100px;  text-align: center;}
		.btn:after {display: inline-block; vertical-align: middle; content: ""; width:12px; height: 5px; margin-left: 13px; @include background("lifeedu/subpage/icon_arrow1.png",no-repeat 50% 50%);}
	}
}
// 강사 상세
.teacher_detail_infor {
	padding:20px 19px; border:1px solid #d1d1d1; border-top:2px solid #014099;
	.img {
		float: left; overflow:hidden; width:130px; height:167px;
		img {width: 100%; height: 100%}
	}
	.infor {padding-left: 155px; height: 167px;}
	.name {
		font-size: 19px; color:#222; padding-top: 20px;
		em {font-family: $font2; }
	}
	.lst {
		margin-top: 25px;
		&:after {display:block; clear:both; content:""}
		li {float: left; width:50%; color:#939393; font-size: 16px; line-height: 30px;}
		.tit {display: inline-block; margin-right: 18px; color:#222; font-family: $font2; vertical-align: middle; width: 80px;}
		.tit:before {display: inline-block; content: ""; width:4px; height: 4px; background:#797979; margin-right: 10px; vertical-align: middle;}
		.tit:after {display: inline-block; content: "/"; float: right; color:#939393; font-size: 10px;}
	}
}
// 본인 인증
.ui-certification-zone { 
	overflow: hidden; padding: 31px 0 28px; margin-top: 40px; border: 3px solid #d6d5d5; border-radius: 17px;  
	& > div { 
		position: relative; float: left; width: 33.33%; padding: 0 15px 55px; border-left: 1px solid #d6d5d5; box-sizing: border-box; 
		&:first-child { border-left: none; }
	}
	h4.tit { 
		font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size: 24px; color: #262626; text-align: center; 
		&:before { display: block; content: ""; width: 165px; height: 165px; margin: 13px auto 25px auto; background-size: 100% 100% !important; }
	}
	.txt { margin-top: 13px;height:130px; line-height: 22px; font-size: 14px; color: #262626; letter-spacing: -1px; text-align: center; }
	.btn-bottom { 
		position: absolute; left: 50%; bottom: 15px; margin-left: -83px; 
		.btn { display: block; width: 165px; height: 40px; margin: 0 auto; line-height:40px; border-radius:100px; font-family: 'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; font-size: 15px; color: #fff; text-align: center; }
	}
	.sns-zone { 
		padding: 0 33px 0 36px; 
		.tit:before { background: url("../../static/images/usc/subpage/bg_login_zone.png") no-repeat; }
		.tit .point { color: #00a54f; }
		.sns {
			overflow: hidden; margin-top: 30px; display: inline-block;
			li {float: left;}
			li+li {margin-left: 10px;}
			*[class^=btn-sns] {
				display: block; width: 45px; height: 45px; text-indent: -999em; background-size: 100% 100% !important;
				&[class*=_facebook] {@include background("common/icon_sns_facebook2.png",no-repeat 50% 50%);}
				&[class*=_twitter] {@include background("common/icon_sns_twitter2.png",no-repeat 50% 50%);}
				&[class*=_blog] {@include background("common/icon_sns_blog2.png",no-repeat 50% 50%);}
				&[class*=_kakao] {@include background("common/icon_sns_kakao2.png",no-repeat 50% 50%);}
				&[class*=_instar] {@include background("common/icon_sns_instar2.png",no-repeat 50% 50%);}
			}

		}
	}
	.cell-phone {
		.tit:before { background: url("../../static/images/usc/subpage/bg_cell_phone.png") no-repeat; }
		.tit .point { color: #ff7200; }
		.btn-cell-phone .btn { background: #ff7200; }
	}
	.i-pin {
		.tit:before { background: url("../../static/images/usc/subpage/bg_i_pin.png") no-repeat; }
		.tit .point { color: #1556b0; }
		.btn-i-pin .btn { background: #1556b0; }
	}
}
.certification-notice-zone { 
	line-height: 25px; margin-top:30px; font-size: 15px; color: #333; text-align: center; 
	p.txt { 
		position: relative; display: inline-block; padding: 0 0 0 33px; 
		&:before { position: absolute; left: 0; top: 0; display: block; content: "!"; width: 24px; height: 24px; line-height: 24px; background: #ee3106; border-radius: 100%; font-family: "NanumSquareB", "Malgun Gothic", "굴림", Gulim, "돋움", Dotum, Sans-serif; color: #fff; text-align: center; }
		.point {display: inline-block; background: #fcecbd; line-height: 1.1;  }
		.point:before{display: inline-block; content: "※"; margin-right: 5px; vertical-align: middle;}
	}
}
//강사등록안내
.application_process_lst {
	margin-top: 20px; border:1px solid #d6d5d5; padding: 30px 0 28px;border-radius:5px; text-align: center;
	ol {display: inline-block;}
	ol:after {display:block; clear:both; content:""}
	li {float: left; position: relative; width:220px; padding-left: 62px;border:2px solid #7c9ddb; border-radius: 100px; line-height: 46px; color:#111; font-size: 17px; font-family: $font2; letter-spacing: -1px; text-align: left; box-sizing: border-box; }
	li+li {margin-left: 30px;}
	li:nth-child(even) {
		border-color: #2e56bd;
		.step {background:#2e56bd;}
	}
	li+li:before {display: inline-block; position: absolute; left:-20px; top:50%; width:9px; height: 14px; @include background("lifeedu/subpage/icon_arrow2.png", no-repeat 50% 50%); margin-top: -7px; content: "";}
	.step {
		display:inline-block; position: absolute; left:-2px; top:-2px; width:50px; height: 50px; padding-top: 13px; font-size: 11px; text-align: center; border-radius: 100px;background:#7c9ddb; line-height: 1; font-family: $font2; color:#fff; box-sizing: border-box;
		em {display: block; font-size: 17px;}
	}
}
// 등록폼
.tbl-lifeedu {
	padding:10px 3px 10px; margin:4px 0; min-height: 230px; border:1px solid #d9d6d5;
	th {height:30px; text-align: center; color:#787878; font-family: $font2; font-size: 16px;}
	th:nth-child(2) {text-align: left; padding-left: 66px;}
	td {padding:3px 3px 2px;}
	.w_form {
		input {width:185px;}
		*[class^=comm-btn] {width:auto; padding:0 10px;}
	}
	.w_activity {
		input {width: 127px;}
		.txt {color:#787878;}
	}

	.add-btn-position {
		text-align: right; margin-top: 5px;
		*[class^=comm-btn] {width:145px;}
	}
}






































































































































































/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width: 1024px) {
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.lifeedu #header {
	.header-bottom {
		.header-utilegroup {
			height: 4.3rem;
			.header-utile {
				border-bottom: 0;
				.icon-login:before {@include background("lifeedu/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
				.icon-join:before {@include background("lifeedu/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
			}
		}
		.gnb-mo-title {background: #014099}
		.header-utilegroup {background: #f1fafe;}
		.header-utilegroup .header-utile li + li {border-color:#c9ddf3;}
	}
	.header-middle {
		.btn-search-open button {background-color:#2e56bd;}
		.btn-menu-open button {background-color: #417ff2}
		.title a {width:17rem; @include background("lifeedu/img_logo.png",no-repeat 50% 50%); background-size: 100% auto;}
		.comp-search .form .btn button {background:#2e56bd;}
		.comp-search .form input {border-color:#2e56bd;}
	}
}
#wrap.lifeedu #gnb {
	.gnb .depth2menu {height: calc(100vh - 10.3rem) }
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#168039;}
	.gnb h4 a:hover:before {background:#168039;}
}
#wrap.lifeedu #container {
	padding-top: 0;
	.breadcrumb-zone {border-top-color:#d6d5d5;}
}
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
.lifeedu .main {
	div[class^=main-] > .inner {width:100%; padding:0 1rem;}
	// 게시판
	.main-board-zone {
		margin-top: 2rem;
		div[class^=board-zone] {float:none; width:100%; @include background("lifeedu/main/bg_board.png",no-repeat 100% 100%); background-size: 30% auto; }
		.tit {font-size:1.5rem; line-height: 3.3rem; }
		.board {
			height: auto; 
			.subtit {line-height:3.3rem; font-size: 1.2rem;}
			.btn-more {
				right:1rem; top:0.6rem;
				width:2rem; height:2rem; background-size: 40% auto;
			}
		}
		.lst {
			padding:1.2rem 0 1.5rem 1.5rem;
			li {
				margin-top: 0.7rem;
				&:first-child {margin-top: 0}
				&:before {width: 2px; height:2px; margin-right: 0.8rem;}
			}
			a {font-size: 1rem;}
		}
		.board-zone2 {margin-left: 0; margin-top: 1rem; }
	}
	// 바로가기 
	.main-gotolink-zone {
		margin-top: 1.2rem;
		// 퀵메뉴
		.quick-zone {
			float:none; height:auto; width:100%; padding:2.3rem 1.8rem 3.5rem; margin:0;
			.tit {font-size:1.5rem; }
			.menu {
				display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; margin-top:2.5rem;
				li {
					margin-left:1rem; -webkit-flex:1; flex:1; 
					&:nth-child(2) .name {margin-top: 14px}
				}
				a {
					height: 10rem;
					&:hover:after {border-width:3px;}
					&:nth-child(2) .name {margin-top: 1rem}
				}
				.icon {
					padding-top:1.6rem; height:3.3rem; margin:0 auto;
					img {height:100%; width:auto;}
				}
				.name {margin-top: 2rem; font-size:1.2rem; line-height: 1.6rem}
			}
		}
		// 우리동네 
		.wearea-zone {display: none }
	}
	//메인 상단 
	.main-visual-zone {
		height: auto; @include background("lifeedu/main/bg_mainslider_m.png",no-repeat 50% 0); background-size: cover;
		.inner {position: relative; height: 54.3rem;}
		.popupzone {
			position: absolute; left:50%; top:inherit; bottom:2.3rem; width: 28rem; height: auto; margin-left: -14rem;
			.tit {font-size: 1.4rem; line-height: 3.3rem; padding-left: 1.1rem;}
			.slick-dots {
				top:-3.3rem; right:5.8rem;
				font-size: 1rem; line-height:3.3rem;
				.current {font-size: 1.2rem; }
			}
			.indicator {
				right: 0.6rem; top:0.6rem; 
				*[class^=btn] {
					width:2rem; height: 2rem;
					&.btn-prev {background-size: 30% auto;}
					&.btn-next {background-size: 30% auto;}
				}				
			}
			.slider {height:17.3rem; }
		}
	}
}

/* ------------------------------------------------------
SUBPATE
------------------------------------------------------ */
.lifeedu-class-search {
	.flag {
		padding:0 1rem; font-size: 1.2rem; line-height: 2rem;
		&:before {width:1.5rem; height:0.9rem; background-size: 100% auto; margin-right: 0.5rem; }
	}
}
/* 강좌 상세 */
.class-simple-infor {
	padding:1rem 1rem 1.5rem; 
	.class-name {
		.name {margin-top: 1rem; font-size: 1.4rem; padding-right: 7rem;}
	}
	.booking-state {
		width: 7rem; height: 7rem; padding-top: 1.5rem; font-size: 1.4rem;
		.sm {font-size: 1rem; padding-top: 1.7rem; background-position: 50% 0.5rem;}
	}
	.class-lst {
		margin-top: 2rem;
		li {
			float: none; width: 100%;  padding-left: 12px; font-size: 1.2rem;
			&:before {width: 2px; height: 2px; top:0.5rem;}
			&:nth-child(1) ~ li {margin-top: 0.7rem}
		}
		.tit {display:inline-block; width:85px; float: left;color:#222}
		.cont {padding-left: 85px;}
	}
}
.class-detail-infor {
	table[class^=comp-tbl] tbody th + td {line-height: 3.3rem}
	.down-lst .comm-btn_type2 {padding:0 0.5rem;}
	*[class*=_search] {padding:0 0.5rem;}
}
/* 강좌 검색 */
.lifeedu .search-box-detail {
	padding:1rem 1rem 1.5rem; 
	.ebooksys-search-form {
		li {
			float: none; width: 100%; padding:0.5rem 0;
			&.pl {padding-left: 0 }
			&.pl:last-of-type {
				.tit {width: 38%;}
				.form {padding-left: 38%}
			}
			&:nth-child(1), &:nth-child(4), &:nth-child(6) {
				.tit {color:#111;}
			}
		}
		.tit {width:30%; font-size: 1.3rem; line-height: 3.3rem;}		
		.form {padding-left: 30%}
		.block + .block {margin-top: 0.5rem}
		.term {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
			input {width:100%; -webkit-flex:1; flex:1;}
			.txt {line-height: 3.3rem; margin:0 0.5rem;}
		}
	}
	.comp-btn-zone {
		*[class^=comm-btn] {min-width: auto}
		.p-right {position: static;}
	}
}
.lifeedu *[class^=class-lst] {
	// 목록 타입 1 
	&[class*=_simpletype] {
		margin-top: 2rem;
		& > li {
			width: 49%; min-height: 33rem; height: auto;  
			&:nth-child(even) {margin-left: 2%;}
			&:nth-child(1) ~ li {margin-top: 0}
			&:nth-child(2) ~ li {margin-top: 1rem}
			a {padding:4rem 1rem 1.5rem; }
			.class-name .name {overflow:hidden; width: 100%;  margin-top: 1rem; font-size: 1.4rem; padding-right: 0; white-space: nowrap; text-overflow:ellipsis}
			.booking-state {
				position: absolute; right: inherit; left:-1px; top:-1px; width: 100%; height: 3rem; padding:0 1px;  font-size: 1.2rem; box-sizing: content-box; line-height: 3rem;
				.sm {display:inline-block;  vertical-align: middle; font-size: 1.2rem;padding-left:2.7rem; padding-top: 0; margin-left: 1rem; @include background("lifeedu/subpage/bg_txt.png", no-repeat 0 50%); background-size: auto 20%;}
			}
			.class-lst {
				margin-top: 1rem;
				li {
					padding-left: 1rem; font-size: 1.1rem;
					&:before {top:0.4rem; width: 2px; height: 2px;}
					&:nth-child(1) ~ li {margin-top:0.5rem}
				}
				.tit {float:none; width:100%; }
				.cont {padding-left:0; padding-top: 0.3rem;}
			}

			a:hover {
				border:2px solid #014099; padding:4.1rem 1.1rem 1.6rem;
				.booking-state {top:-2px; right:inherit; left:-2px;}

			}
		}
	}
	// 목록 타입 2
	&[class*=_listtype] {
		margin-top: 2rem;
		.classflag {font-size: 1rem; width: 2rem; height: 2rem; line-height: 2rem; }
		.flag {
			padding:0 1rem; line-height: 2rem; font-size: 1rem;
			&:before { width:19px; height: 13px; margin-right:5px; background-size: 100% 100%; background-color: #79bd8f; }
		}
		.flag-lst {
			li {font-size: 1.1rem; margin-left:0.5rem; }
			.classflag {margin-right: 0.2rem;}
		}
		td {
			.name {margin-top: 0.5rem;}
			*.btn-submit {width:5rem; height: 5rem; padding:0.8rem 1rem 0;  line-height:1.8rem; }
			p {
				line-height:2rem;
				& + p {margin-top:0.3rem} 
				.classflag {margin-right:0.3rem;}
			}
		}
	}
} 
/* 강좌신청 */
// 일반강사목록
.teacher_lst {
	margin-top: 2rem;
	> li {
		width:49%; height:auto;
		&:nth-child(even) {margin-left:2%;}
		&:nth-child(2) ~ li {margin-top:1rem;}
	}
	a {
		padding:1rem 1rem 2rem;
		&:hover:after {left:0; top:0; height: 100%; width: 100%; box-sizing: border-box;}
	}
	.img {
		float: none; width:100%; height:18rem;
		img {width: 100%; height: 100%}
	}
	.infor {
		padding:1.5rem 0 0;
		.name {font-size: 1.2rem; }
		.lst {
			margin-top: 1rem;
			li {font-size:1.1rem; line-height:1.8rem;}
			li+li {margin-top: 0.5rem}
			li:before {width:2px; height: 2px; margin-right:0.5rem;}
			.tit {width:4.5rem;}
			.tit:after {float: right; margin-right: 0.5rem;}
		}
		.btn { position:static; width:100%; border-width:2px; margin-top: 1rem; line-height:2.5rem; font-size:1.2rem;}
	}
}
// 강사 상세
.teacher_detail_infor {
	padding:1.5rem 1rem;
	.img {width: 40%; margin:0 auto; height:auto; }
	.infor {padding:0.5rem 0 0 40%; height:auto;}
	.name {font-size:1.5rem; padding:0 0 0 1rem; }
	.lst {
		margin-top:1rem; padding-left: 1rem;
		li {float: none; width:100%; font-size: 1.2rem; line-height:2rem;}
		.tit {margin-right:1rem;width:5.5rem;}
		.tit:before {width:2px; height: 2px; margin-right:0.5rem;}
		.tit:after {font-size:1rem;}
	}
}
// 본인 인증
.ui-certification-zone { 
	padding:0 1rem; margin-top:2rem; border:2px solid #d6d5d5; 
	& > div {float:none; width:100%; padding:3rem 0 !important; border-top: 1px solid #d5d5d5; border-left: 0;}
	h4.tit { 
		font-size:2rem; 
		&:before { display:none;}
	}
	.txt { margin-top:1rem; height:auto; line-height:1.8rem; font-size:1.2rem; letter-spacing: 0;}
	.btn-bottom { 
		position: static; margin-left:0; text-align: center; margin-top: 1rem;
		.btn { width: 15rem; height:3.5rem; line-height:3.5rem; font-size: 1.2rem;}
	}
	.sns-zone { 
		border-top: 0; text-align: center;
		.sns {
			margin-top: 1.5rem; 
			li+li {margin-left:1rem;}
			*[class^=btn-sns] {width: 3.5rem; height: 3.5rem; }
		}
	}
}
.certification-notice-zone { 
	line-height: 1.8rem; margin-top:1rem; font-size:1.1rem;
	p.txt { 
		padding: 0 0 0 2.5rem; text-align: left;
		&:before { width: 2rem; height: 2rem; line-height:2rem;  }
	}
}
//강사등록안내
.application_process_lst {
	margin-top: 1rem; padding:1.5rem 0;
	li {width:23%; height:8rem;  padding-left:0; line-height: 1; font-size:1.2rem; border-radius: 0; text-align: center; }
	li+li {margin-left:2%}
	li+li:before {display: none;}
	.step {
		position: static; width:100%; height:3rem; padding-top: 0; font-size: 1rem; border-radius: 0; line-height: 3rem;
		em {display: inline; margin-left: 0.5rem; font-size: 1.2rem;}
	}
	.cont {display:block; padding-top:0.7rem; word-break: keep-all; line-height: 1.6rem;}
}
// 등록폼
.tbl-lifeedu {
	padding:0.5rem 0.3rem; margin:0.3rem 0; min-height: 24rem;
	th {height:3rem; font-size: 1.1rem;}
	th:nth-child(2) {padding-left: 66px;}
	td {padding:0.2rem;}
	.w_form {
		display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
		input {width:100%; -webkit-flex:1; flex:1; }
		*[class^=comm-btn] {width:auto;margin-left: 0.3rem; padding:0 0.5rem;}
	}
	.w_activity {
		display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
		input {width: 100%; -webkit-flex:1; flex:1; }
		.txt {margin:0 0.5rem;}
	}

	.add-btn-position {
		margin-top: 0.5rem;
		*[class^=comm-btn] {width:12rem;}
	}
}

























} @media (max-width: 768px) {
} @media (max-width:320px) {
}