@charset "UTF-8";

@import 'base';

/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */ 
@media (min-width:1025px){
	body.pc .lifeedu #header {
		.header-middle .title {
			top: 22px;
			a {width: 205px; height: 51px; background:url("../../static/images/lifeedu/img_logo.png") no-repeat 50% 50%;}
		}
		.header-bottom .sitemap {background: #3f9a82}
		&.header-type2 #gnb {
			h2.over a:before,
			h2 a:hover:before {background: #1058a8; }
			h2.over a:after,
			h2 a:hover:after {border-color:#1058a8;}
			p a:hover {background: #3cb7cd;}
			h3 a:before{background: #1e4363;}
		}

		&.header-type2.open {border-bottom-color:#1058a8;}
		&.header-type2.open .header-bottom {border-bottom-color: #54c2d8;}
	}
	body.pc .lifeedu #gnb {
		margin-left: 330px;
		h2 a {width: 150px}
		.depth2menu {width: 226px; height: 420px; padding-left: 36px;}
		.gnb > li:nth-child(1) .depth2menu {left:0;}
		.gnb > li:nth-child(2) .depth2menu {left:190px;}
		.gnb > li:nth-child(3) .depth2menu {left:416px;}
		.gnb > li:nth-child(4) .depth2menu {left:642px}
		.gnb > li:nth-child(5) .depth2menu {left:868px}
		.gnb > li:nth-child(6) .depth2menu {left:1094px}
		.gnb > li:nth-child(1) .depth2menu {width:190px; padding-left: 0}
	}
}
.lifeedu #footer {
	background:#2f4242;
	.btn-gototop a {background:#4f4f4f;}
	.footer-selectgroup {
		.footer-comp-select {
			dt{
				button {background:#212e2e url("../../static/images/usclib/form_select.png") no-repeat 100% 50%; border-color:#212e2e; color:#fff;}
			}
		}
	}
	.footer-utilegroup {
		color:#a9a9a9; padding-left:0;
		.footer-utile {
			a {color:rgba(256,256,256,0.7);}
		}
		.footer-addr {
			strong {color:#fff;}
		}
	}
	.footer-notice {
		.number {
			color:#f7c52c;
			.call {@include background("lifeedu/icon_footer_call.png",no-repeat 50% 50%);}
		}
		.txt {color:#bababa;}
	}
}
.lifeedu #container{ 
	padding-top: 130px; 
	&:before {top:315px; background:#d6d5d5;}
	.top-visual-zone {
		p {width:1320px; @include background("commonbg/img_lifeedutxt.png",no-repeat 100% 50%);}
	}
	.breadcrumb-zone {
		background:#d6d5d5;
		.breadcrumb {
			& > li {border-right-color: #c4bebd}
			& > li > a {color:#666; -ms-transition: 0.3s ease; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; transition: 0.3s ease;}
			& > li:first-child > a {color:#8e8886;}
			a:after {@include background("lifeedu/icon_arrow_lnb.png",no-repeat 50% 50%);}
			a.open {
				background:#383b3b; color:#fff;
				&:after {@include background("common/sp_icon.png",no-repeat -250px -100px);}
			} 
		}
		.page-zoom {
			button[class^=btn-] {
				width: 23px;
				&.btn-zoomup {@include background("lifeedu/btn_zoom_up.png",no-repeat 50% 50%);}
				&.btn-zoomdown {@include background("lifeedu/btn_zoom_down.png",no-repeat 50% 50%);}
			}
			dt {color:rgba(72,72,72,0.6);}
		}
	}
}
.lifeedu #container.main {
	padding-top: 0;
	&:before {display: none}
}
.lifeedu #lnb {
	border-top-color: #d6d5d5;
	.title-depth h2 {background:#014099;}
	.menu {
		h2 a {
			&.open, &:hover {
				background:#dce8f6; color:#000; font-family: $font1;
				&:after {background-color:#417ff2 }
			}
		}
	}
}
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
.lifeedu {
	.top-search-zone.bgcolor {background: #f1f6fc;}
}
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */

/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
.lifeedu-class-search {
	.flag {
		padding:0 20px; color:#417ff2; font-size: 16px; display: inline-block; border:2px solid #417ff2; line-height: 30px; border-radius: 100px; font-family: $font2;
		&:before {display: inline-block; vertical-align: middle; width:26px; height: 17px; background:#417ff2 url("../../static/images/lifeedu/subpage/icon_class.png") no-repeat 50% 50%; margin-right: 7px; content: ""; }
	}
}
/* 강좌 상세 */
.class-simple-infor {
	padding:15px 20px 28px; position: relative; border:1px solid #d1d1d1; border-top: 2px solid #014099;
	.class-name {
		.name {display:block; margin-top: 14px; color:#222; font-family: $font2; font-size: 19px; padding-right: 85px;}
	}
	.booking-state {
		position: absolute; right: -1px; top:-2px; width: 90px; height: 90px; padding-top: 18px; box-sizing: border-box;
		font-family: $font2; color:#fff; text-align: center; background:#014099; font-size: 17px;
		.sm {color:#fff475; font-size: 14px; display: block; padding-top: 23px; @include background("lifeedu/subpage/bg_txt.png", no-repeat 50% 9px);}
		&.not {background:#797979; }
	}
	.class-lst {
		overflow: hidden; margin-top: 26px;
		li {
			position: relative; float: left; width: 50%;  padding-left: 12px; box-sizing: border-box; font-family: $font2;
			&:before {display: inline-block; position: absolute; left:0; top:7px; width: 3px; height: 3px; background:#797979; content: ""; vertical-align: middle;}
			&:nth-child(2) ~ li {margin-top: 12px}
		}
		.tit {display:inline-block; width:85px; float: left;color:#222}
		.cont {padding-left: 85px;}
	}
}
.class-detail-infor {
	table[class^=comp-tbl] {
		td {text-align: left !important; padding:5px 20px !important;}
		tbody td + th {border-left-color: #7a7a7a}
		tbody th + td {border-left:0; line-height: 35px}
	}
	.down-lst {
		.comm-btn_type2 {margin-left: 5px;}
	}
	*[class*=_search] {float: right;}
}
/* 강좌 검색 */
.lifeedu .search-box-detail {
	padding:35px 50px; background:#f1f6fc; border:1px solid #d1d1d1; border-top: 2px solid #014099; border-bottom-color: #014099;
	.ebooksys-search-form {
		overflow:hidden;
		li {
			float: left; width: 50%; padding:6px 0;
			&.pl {padding-left: 35px; box-sizing: border-box}
			&.pl:last-of-type {
				.tit {width: 150px;}
				.form {padding-left: 150px;}
			}
			&:nth-child(1),
			&:nth-child(4),
			&:nth-child(6) {
				.tit {color:#014099;}
			}
		}
		.tit {float: left;width:95px; color:#111; font-size: 18px; font-family: $font2; line-height: 35px;}		
		.form {padding-left: 95px;}
		.block + .block {margin-top: 12px}
		.term {
			input {width:153px;}
		}
	}
	.comp-btn-zone {
		*[class^=comm-btn] {width: 150px}
	}
}
.lifeedu *[class^=class-lst] {
	// 목록 타입 1 
	&[class*=_simpletype] {
		overflow:hidden; margin-top: 30px;
		& > li {
			float: left; width: 490px; height: 340px;  
			&:nth-child(even) {margin-left: 30px;}
			&:nth-child(2) ~ li {margin-top: 20px}
			a {display:block; padding:15px 20px 28px; width: 100%; height: 100%; position: relative; border:1px solid #d1d1d1; border-top: 1px solid #014099; box-sizing: border-box;}
			.class-name {
				.name {display:block; margin-top: 14px; color:#222; font-family: $font2; font-size: 19px; padding-right: 85px;}
			}
			.booking-state {
				position: absolute; right: -1px; top:-1px; width: 90px; height: 90px; padding-top: 18px; box-sizing: border-box; font-family: $font2; color:#fff; text-align: center; background:#014099; font-size: 17px;
				.sm {color:#fff475; font-size: 14px; display: block; padding-top: 23px; @include background("lifeedu/subpage/bg_txt.png", no-repeat 50% 9px);}

				&.not {background:#797979; }
			}
			.class-lst {
				overflow: hidden; margin-top: 26px;
				li {
					position: relative; padding-left: 12px; box-sizing: border-box; font-family: $font2;
					&:before {display: inline-block; position: absolute; left:0; top:7px; width: 3px; height: 3px; background:#797979; content: ""; vertical-align: middle;}
					&:nth-child(1) ~ li {margin-top: 12px}
				}
				.tit {display:inline-block; width:85px; float: left;color:#222}
				.cont {padding-left: 85px; color:#939393;}
			}

			a:hover {
				border:3px solid #014099; padding:13px 18px 26px;
				.booking-state {top:-3px; right: -3px}

			}
		}
	}
	// 목록 타입 2
	&[class*=_listtype] {
		margin-top: 30px;
		.classflag {
			font-size: 15px; display: inline-block; vertical-align: middle; color:#fff; text-align: center; width: 22px; height: 22px; border-radius: 100px; line-height: 22px; font-family: $font1; 
			&.recruit {background:#f0102a;}
			&.term {background:#fd9807;}
			&.online {background:#00a388;}
			&.visit {background:#016dae;}
		}
		.flag {
			padding:0 10px; line-height: 22px; font-size: 12px; border-color:#79bd8f; color:#79bd8f;
			&:before { width:19px; height: 13px; margin-right:5px; background-size: 100% 100%; background-color: #79bd8f; }
		}
		.flag-lst {
			float: right;
			li {float: left; font-size: 15px; color:#787878; margin-left: 10px; font-family: $font1;}
			.classflag {margin-right: 6px;}
		}
		td {
			letter-spacing: -1px;
			.name {display: block; margin-top: 6px;}
			*.btn-submit {
				display: inline-block; width:56px; height: 56px; padding:8px 12px 0; color:#fff; text-align: center; line-height: 20px; box-sizing: border-box; background:#417ff2; border-radius: 5px; letter-spacing: 0px;
				&.not {background:#9c9c9c;}
			}
			p {
				line-height: 22px;
				& + p {margin-top: 5px} 
				.classflag {margin-right:8px;}
			}
			&:first-child {text-align: left;}
		}
	}
} 











































































































































































/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width: 1024px) {
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.lifeedu #header {
	.header-bottom {
		.header-utilegroup .header-utile {
			.icon-login:before {@include background("usclib/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
			.icon-join:before {@include background("usclib/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
		}
		.gnb-mo-title {background: #016dae}
		.header-utilegroup {background: #d6eef0;}
		.header-utilegroup .header-utile li + li {border-color:#73cdc3;}
	}
	.header-middle {
		.btn-menu-open button {background-color: #3f9a82}
		.title a {width:17rem; @include background("lifeedu/img_logo.png",no-repeat 50% 50%); }
	}
}
#wrap.lifeedu #gnb {
	.category {display: none}
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#016dae;}
	.gnb h4 a:hover:before {background:#016dae;}
}
#wrap.lifeedu #footer {
	.footer-selectgroup .footer-comp-select dt button {background-size: auto 100%;}
	.footer-notice .number .call {background-size: 100% 100%;}
	.footer-utilegroup .footer-utile {color:#d5d5d5;}
	.footer-utilegroup .footer-addr strong {color:#d5d5d5;}
	.footer-utilegroup .footer-utile a {color:#d5d5d5;}
	.footer-utilegroup .footer-utile a strong {color:#fff;}
}
#wrap.lifeedu #container {
	padding-top: 0;
	.breadcrumb-zone {border-top-color:#d6d5d5;}
}
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
/* ------------------------------------------------------
SUBPATE
------------------------------------------------------ */
.lifeedu-class-search {
	.flag {
		padding:0 1rem; font-size: 1.2rem; line-height: 2rem;
		&:before {width:1.5rem; height:0.9rem; background-size: 100% auto; margin-right: 0.5rem; }
	}
}
/* 강좌 상세 */
.class-simple-infor {
	padding:1rem 1rem 1.5rem; 
	.class-name {
		.name {margin-top: 1rem; font-size: 1.4rem; padding-right: 7rem;}
	}
	.booking-state {
		width: 7rem; height: 7rem; padding-top: 1.5rem; font-size: 1.4rem;
		.sm {font-size: 1rem; padding-top: 1.7rem; background-position: 50% 0.5rem;}
	}
	.class-lst {
		margin-top: 2rem;
		li {
			float: none; width: 100%;  padding-left: 12px; font-size: 1.2rem;
			&:before {width: 2px; height: 2px; top:0.5rem;}
			&:nth-child(1) ~ li {margin-top: 0.7rem}
		}
		.tit {display:inline-block; width:85px; float: left;color:#222}
		.cont {padding-left: 85px;}
	}
}
.class-detail-infor {
	table[class^=comp-tbl] tbody th + td {line-height: 3.3rem}
	.down-lst .comm-btn_type2 {padding:0 0.5rem;}
	*[class*=_search] {padding:0 0.5rem;}
}
/* 강좌 검색 */
.lifeedu .search-box-detail {
	padding:1rem 1rem 1.5rem; 
	.ebooksys-search-form {
		li {
			float: none; width: 100%; padding:0.5rem 0;
			&.pl {padding-left: 0 }
			&.pl:last-of-type {
				.tit {width: 38%;}
				.form {padding-left: 38%}
			}
			&:nth-child(1), &:nth-child(4), &:nth-child(6) {
				.tit {color:#111;}
			}
		}
		.tit {width:30%; font-size: 1.3rem; line-height: 3.3rem;}		
		.form {padding-left: 30%}
		.block + .block {margin-top: 0.5rem}
		.term {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
			input {width:100%; -webkit-flex:1; flex:1;}
			.txt {line-height: 3.3rem; margin:0 0.5rem;}
		}
	}
	.comp-btn-zone {
		*[class^=comm-btn] {min-width: auto}
		.p-right {position: static;}
	}
}
.lifeedu *[class^=class-lst] {
	// 목록 타입 1 
	&[class*=_simpletype] {
		margin-top: 2rem;
		& > li {
			width: 49%; min-height: 33rem; height: auto;  
			&:nth-child(even) {margin-left: 2%;}
			&:nth-child(1) ~ li {margin-top: 0}
			&:nth-child(2) ~ li {margin-top: 1rem}
			a {padding:4rem 1rem 1.5rem; }
			.class-name .name {overflow:hidden; width: 100%;  margin-top: 1rem; font-size: 1.4rem; padding-right: 0; white-space: nowrap; text-overflow:ellipsis}
			.booking-state {
				position: absolute; right: inherit; left:-1px; top:-1px; width: 100%; height: 3rem; padding:0 1px;  font-size: 1.2rem; box-sizing: content-box; line-height: 3rem;
				.sm {display:inline-block;  vertical-align: middle; font-size: 1.2rem;padding-left:2.7rem; padding-top: 0; margin-left: 1rem; @include background("lifeedu/subpage/bg_txt.png", no-repeat 0 50%); background-size: auto 20%;}
			}
			.class-lst {
				margin-top: 1rem;
				li {
					padding-left: 1rem; font-size: 1.1rem;
					&:before {top:0.4rem; width: 2px; height: 2px;}
					&:nth-child(1) ~ li {margin-top:0.5rem}
				}
				.tit {float:none; width:100%; }
				.cont {padding-left:0; padding-top: 0.3rem;}
			}

			a:hover {
				border:2px solid #014099; padding:4.1rem 1.1rem 1.6rem;
				.booking-state {top:-2px; right:inherit; left:-2px;}

			}
		}
	}
	// 목록 타입 2
	&[class*=_listtype] {
		margin-top: 2rem;
		.classflag {font-size: 1rem; width: 2rem; height: 2rem; line-height: 2rem; }
		.flag {
			padding:0 1rem; line-height: 2rem; font-size: 1rem;
			&:before { width:19px; height: 13px; margin-right:5px; background-size: 100% 100%; background-color: #79bd8f; }
		}
		.flag-lst {
			li {font-size: 1.1rem; margin-left:0.5rem; }
			.classflag {margin-right: 0.2rem;}
		}
		td {
			.name {margin-top: 0.5rem;}
			*.btn-submit {width:5rem; height: 5rem; padding:0.8rem 1rem 0;  line-height:1.8rem; }
			p {
				line-height:2rem;
				& + p {margin-top:0.3rem} 
				.classflag {margin-right:0.3rem;}
			}
		}
	}
} 























} @media (max-width: 768px) {
} @media (max-width:320px) {
}