@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usc #container.main {
	position: relative;
	.inner {
		max-width: 1320px; margin:0 auto;
		&:after {display:block; clear:both; content:""}
	}

	// 상단 텍스트 및 탭 메뉴
	.main-top-zone {
		position: absolute; left:0; top:0; width: 100%;
		.inner {display: table; height: 145px; width: 100%;}
		// 텍스트
		.top-txt {display: table-cell; font-size: 18px; color:#555; font-weight: 700; vertical-align: middle; }
		// 날씨 및 탭 메뉴
		.top-menu {
			display: table-cell; width:445px;
			.weather-zone {
				overflow:hidden; position: relative; height: 42px; margin-top: 15px;
				&:after {display:block; clear:both; content:""}
				.today-icon {overflow: hidden; position: absolute; left:0; top:0;  width: 42px; height: 42px; border-radius: 100px; background:#fff;}
				.today-txt {
					overflow:hidden; color:$color1; font-size: 14px; border-radius: 100px; margin-top: 5px; padding-left: 50px; box-sizing: border-box; line-height: 32px; background:#ffe76a;
					&:after {display:block; clear:both; content:""}
					.day {float: left; margin-right: 3px;}
					.detail {
						position: relative;
						ul{
							&:after {display:block; clear:both; content:""}
							li {float: left; }
							li + li:before {display: inline-block; content: "/"; margin:0 4px 0 4px;}
							span {font-family: $font3;}
						}
						.lnk {display: inline-block; overflow: hidden; position: absolute; right: 6px; top:6px; width: 21px; height: 20px; @include background("usc/icon_link.png", no-repeat 50% 50%); text-indent: -999em; }
					}
				}
			}
			.tab-zone {
				margin-top: 10px;
				&:after {display:block; clear:both; content:""}
				li {float: left;}
				li + li {margin-left: 12px;}
				a {
					display: block; position: relative; height: 45px; width: 140px; 
					font-size: 18px; font-weight: 700; color:$color1; font-family: $font3; line-height: 38px; 
					text-align: center; background:#fff; border-radius: 100px; box-sizing: border-box;
					border-width: 3px; border-style: solid; 
					-ms-transition:background 0.3s 0.1s ease; -moz-transition:background 0.3s 0.1s ease; -webkit-transition:background 0.3s 0.1s ease; transition:background 0.3s 0.1s ease;
					&:after {
						display: block; content: ""; position: absolute; left: 50%; top:100%; margin-left: -10px;
						width: 0; height: 0; border-top-width:11px; border-top-style: solid; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 11px solid transparent;
						opacity: 0; -ms-transform: rotate(-90deg) translateX(18px); -webkit-transform: rotate(-90deg) translateX(18px); -moz-transform: rotate(-90deg) translateX(18px); transform: rotate(-90deg) translateX(18px);
					}
					span {
						display: block; position: relative; overflow: hidden; z-index: 1; width: 100%; height:39px; border-radius: 12px; 
						-ms-transition:0.3s 0.1s ease; -webkit-transition:0.3s 0.1s ease;-moz-transition:0.3s 0.1s ease;transition:0.3s 0.1s ease;
						&:before {display: inline-block; position: relative; content: ""; height: 21px; margin-right: 12px; @include background("usc/sp_main.png", no-repeat 0 0); vertical-align: middle; z-index: 1}
						&:after {
							display:block; position: absolute; left: 0; top: 0; content: ""; width: 0; height: 100%; border-radius: 14px; z-index: -1;
							-ms-transition:0.3s ease-out; -webkit-transition:0.3s ease-out; -moz-transition:0.3s ease-out; transition:0.3s ease-out;
						}
					}

					// 버튼 각각
					&[aria-controls=bigtabcont1] {
						border-color:#ff8926;
						&:after {border-top-color:#ff8926;}
						span {
							&:before {width:21px; background-position: 0px 0;}
							&:after {background:#ff8926;}
						}
					}
					&[aria-controls=bigtabcont2] {
						border-color:#0775bc;
						&:after {border-top-color:#0775bc;}
						span {
							&:before {width:28px; background-position: -50px 0;}
							&:after {background:#0775bc;}
						}
					}
					&[aria-controls=bigtabcont3] {
						border-color:#08a46b;
						&:after {border-top-color:#08a46b;}
						span {
							&:before {width:28px; margin-right: 8px; background-position: -100px 0;}
							&:after {background:#08a46b;}
						}
					}


					// 선택시 -
					&[aria-selected=true], &:hover {
						color:#fff;
						&:after {
							opacity:1; 
							-ms-transform: rotate(0deg) translateX(0); -moz-transform: rotate(0deg) translateX(0); -webkit-transform: rotate(0deg) translateX(0); transform: rotate(0deg) translateX(0);
							-ms-transition:0.3s 0.2s ease-out; -webkit-transition:0.3s 0.2s ease-out; -moz-transition:0.3s 0.2s ease-out; transition:0.3s 0.2s ease-out;
						}
						span:after {width: 100%;}
						&[aria-controls=bigtabcont1]{
							 background:#ff8926;
							span:before {background-position: 0 -50px}
						}
						&[aria-controls=bigtabcont2] {
							 background:#0775bc;
							span:before {background-position: -50px -50px}
						}
						&[aria-controls=bigtabcont3] {
							background:#08a46b; 
							span:before {background-position: -100px -50px}
						}
					}
				}
			}			
		}
	}
	
	// 탭 컨텐츠
	.main-tabcontent {
		div[class^=tab-] {display: none; padding-top: 145px; height: 940px; box-sizing: border-box;}
		// 탭 - 소식
		.tab-news {
			@include background("usc/bg_maintab1.jpg", no-repeat 50% 0); background-size: cover;
		}
		// 탭 - 민원 
		.tab-complaint {
			@include background("usc/bg_maintab2.jpg", no-repeat 50% 0); background-size: cover;
		}
		// 탭 - 관광
		.tab-sightseeing {
			@include background("usc/bg_maintab3.jpg", no-repeat 50% 0); background-size: cover;
		}
	}
	

	// 소식 탭
	.tab-news {
		// 탭 LAYOUT
		.l-left {overflow:hidden; float: left; width: 670px}
		.l-right {overflow:hidden; float: right; width:650px; padding-left: 12px; box-sizing: border-box;}

		// 배너1
		.news-banner {
			position: relative; 
			.slick-dots {
				position: absolute; right: 0; bottom: 0; z-index: 1; 
				width: 200px; height:50px; background:rgba(0,0,0,0.6); font-size: 18px; color:#fff;
				li {display: none; position: absolute; left:19px; top:14px;}
				li.slick-active {display: block;}
				.current {display: inline-block; height: 23px; width:23px; color:#000; background:#fff; border-radius: 100px; line-height: 22px; text-align: center; font-family: $font2;}	
				.division {margin:0 3px 0 2px;}
			}
			.slick-arrow {
				position: absolute; bottom:0; right: 0; z-index: 111; 
				width:32px; height:50px; text-indent: -999em; 
				&:after{display:block; content: ""; position: absolute; left:50%; top:50%; width:12px; height: 20px; margin:-10px 0 0 -6px; @include background("usc/sp_main.png", no-repeat 0 0);}
				&.slick-prev{
					right:89px;
					&:after {background-position: 0px -100px;}
				}
				&.slick-next {
					right:10px;
					&:after {background-position: -100px -100px;}
				}
			}
			.btn-slickPause {
				position: absolute; bottom:0; right: 50px; 
				width:32px; height: 50px; text-indent: -999em; z-index: 1;
				&:after {
					display: block; content: ""; position: absolute; left:50%; top:50%; 
					width:11px; height: 20px; margin:-10px 0 0 -5px;
					@include background("usc/sp_main.png", no-repeat -50px -100px)
				}
			}
		}
		// 게시판
		.news-board {
			position: relative; margin-top: 10px; background:#fff;

			.boardtab-content {
				&>div {display: none}
			}	

		}
		// 자주찾는 메뉴
		.news-favoritmenu {
			float: left; width: 220px; height: 745px; background:#eb9d35; color:#fff; text-align: center;
			.tit {padding-top:35px; font-size: 20px; font-family: $font2;}
			.news-favoritmenu {
				margin-top: 13px; 
				.slide-indicator {
					display: inline-block; overflow:hidden;
					margin-bottom: 11px; border: 1px solid rgba(256,256,256,0.25); 
					p {
						display: inline-block; float: left;
						& + p {border-left: 1px solid rgba(256,256,256,0.25); }
					}
					button[class^=btn-] {
						overflow:hidden; position: relative; height:37px; width: 37px; 
						span {display: block; margin:0 auto; @include background("usc/sp_main.png", no-repeat 0 0); text-indent: -999em;}
						&.btn-up span {width:17px; height: 10px; background-position: 0 -150px;}
						&.btn-down span {width:17px; height: 10px; background-position: -50px -150px;}
						&.btn-pause span {width:10px; height: 18px; background-position: -100px -150px;}
					}
				}
				.slider {
					padding:0 20px;
					.slide {padding: 16px 10px 15px; border-bottom: 1px solid rgba(256,256,256,0.2);}
					a {
						display: block; position: relative; overflow:hidden; width:100%; height:42px; padding-left: 50px; border-radius: 100px; font-size: 16px; text-align: left; line-height: 42px; box-sizing: border-box;
						span {position:relative; z-index: 1}
						&:before {
							display: block; overflow:hidden; content: ""; position: absolute; left:0; top:0; width:42px; height: 42px; border-radius: 100px; border:1px solid rgba(256,256,256,0.5); text-align: center; box-sizing: border-box; z-index: 1;
						}
						&:after {display:block; position: absolute; left:0; top:0; content: ""; width: 0%; height: 100%; background:#fff; }

						&:hover {
							span {color:#ff6826; font-family: $font2; -ms-transition:0.2s 0.3s ease; -webkit-transition:0.2s 0.3s ease; -moz-transition:0.2s 0.3s ease; transition:0.2s 0.3s ease; }
							&:after {width:100%; -ms-transition:0.2s 0.3s ease; -moz-transition:0.2s 0.3s ease; -webkit-transition:0.2s 0.3s ease; transition:0.2s 0.3s ease; }
							&:before {background-color:#ff6826; -ms-transition:0.2s ease; -webkit-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease; }
						}
					}
					a[class^=icon-favorit] {
						&:before {@include background("usc/sp_main.png",no-repeat 0 0); }

						&.icon-favorit1:before {background-position: -150px 0;}
						&.icon-favorit2:before {background-position: -200px 0;}
						&.icon-favorit3:before {background-position: -250px 0;}
						&.icon-favorit4:before {background-position: -300px 0;}
						&.icon-favorit5:before {background-position: -350px 0;}
						&.icon-favorit6:before {background-position: -400px 0;}
						&.icon-favorit7:before {background-position: -450px 0;}
						&.icon-favorit8:before {background-position: -150px -50px;}
						&.icon-favorit9:before {background-position: -200px -50px;}
						&.icon-favorit10:before {background-position: -250px -50px;}
						&.icon-favorit11:before {background-position: -300px -50px;}
						&.icon-favorit12:before {background-position: -350px -50px;}
						&.icon-favorit13:before {background-position: -400px -50px;}

						&:hover {
							&:before {background:#ff6826 url('../../static/images/usc/sp_main.png') no-repeat 0 0;}
							&.icon-favorit1:before {background-position: -150px 0;}
							&.icon-favorit2:before {background-position: -200px 0;}
							&.icon-favorit3:before {background-position: -250px 0;}
							&.icon-favorit4:before {background-position: -300px 0;}
							&.icon-favorit5:before {background-position: -350px 0;}
							&.icon-favorit6:before {background-position: -400px 0;}
							&.icon-favorit7:before {background-position: -450px 0;}
							&.icon-favorit8:before {background-position: -150px -50px;}
							&.icon-favorit9:before {background-position: -200px -50px;}
							&.icon-favorit10:before {background-position: -250px -50px;}
							&.icon-favorit11:before {background-position: -300px -50px;}
							&.icon-favorit12:before {background-position: -350px -50px;}
							&.icon-favorit13:before {background-position: -400px -50px;}
						}
					}
				}
			}
		}
		// 군수, 통합예약시스템, 팝업존
		.menugroup {
			float: right; width:410px; text-align: center;

			// 군수 관련 메뉴
			.news-leadermenu {
				height: 270px; padding:26px 20px 0; box-sizing: border-box;
				background:#f5cf66 url("../../static/images/usc/img_main_leadermenu.png") no-repeat 100% 100%;

				.txt {width:211px; height: 49px; @include background("usc/img_main_leadermenutxt.png",no-repeat 0 0); text-indent: -999em;}
				.menu {
					margin-top: 32px;
					li + li {margin-top: 8px;}
					a {
						display:block; width:140px; height: 40px; font-size: 15px; color:#222; line-height: 40px; text-align: center; background:#fff; 
						&:before {display: inline-block; content: ""; width:16px; height: 14px; @include background("usc/sp_main.png", no-repeat 0 0); vertical-align: middle;}
						&[class^=icon-] {
							&.icon-openleader:before {margin-right: 6px; background-position: -150px -100px;}
							&.icon-current:before {margin-right: 4px; background-position: -200px -100px;}
							&.icon-talk:before {width:20px; margin-right: 3px; background-position: -250px -100px;}
						}
					}

					a:hover {
						font-family:$font2; color:#fff; @include background("usc/bg_main_leaderbtn.png", repeat-x 0 0);
						&[class^=icon-] {
							&.icon-openleader:before {background-position: -150px -150px;}
							&.icon-current:before {background-position: -200px -150px;}
							&.icon-talk:before {background-position: -250px -150px;}
						}	
					} 
				}
			}
			// 통합예약시스템
			.news-bookingsys {
				margin-top: 10px;
				a {display:block; height:120px; padding:23px 20px 0; text-align: left; box-sizing: border-box; color:#fff; background:#c97c49 url("../../static/images/usc/img_main_bookingsys.png") no-repeat 100% 100%; }
				.tit {font-family: $font2; font-size: 20px; }
				.txt {margin-top: 12px; font-size: 13px; color:rgba(256,256,256,0.7); line-height: 20px;}
			}
			// 팝업존
			.news-popupzone {
				position: relative; margin-top: 10px;
				.popupzone-titlezone {
					position: absolute; left:0; top:0; width: 100%; height:85px; padding:15px 15px 10px; 
					background:#383b3b; text-align: left; box-sizing: border-box; z-index: 10;
					.tit {font-size: 20px; font-family: $font2; color:#fff; line-height: 26px;}
					.desc {margin-top: 16px; font-size: 13px; color:rgba(256,256,256,0.7);}
					.indicator {
						position: absolute; right: 12px; top:12px;
						overflow:hidden; width:113px; border:1px solid rgba(256,256,256,0.25);
						p {
							float: left;
							& + p {border-left:1px solid rgba(256,256,256,0.25); }
						}
						button[class^=btn-] {
							width:37px; height: 37px;
							span {
								display: block; content: ""; margin:0 auto; width:10px; height: 18px; 
								@include background("usc/sp_main.png", no-repeat 0 0);  text-indent: -9999em; 
							}
							&.btn-prev span {background-position: 0 -200px;}
							&.btn-next span {background-position: -50px -200px;}
							&.btn-pause span {background-position: -100px -200px;}
						}
					}
					.hotnews {position: absolute; left:78px; top:15px; width:68px; font-size: 12px; text-align: center; height: 26px; line-height: 24px; border:1px solid #fff; border-radius:6px; box-sizing: border-box; color:#fff; }
				}

				.slick-dots {
					position: absolute; right:140px; top:6px; z-index: 11; font-size: 16px; color:#fff;
					width:65px; text-align: center;
					li {display: none; position: absolute; left:19px; top:14px;}
					li.slick-active {display: block;}
					.current {display: inline-block; height: 20px; width:20px; border-radius: 100px; line-height: 22px; text-align: center; font-family: $font2; color:#1f506f;background:#ffb00d;	} 
					.division {margin:0 3px 0 2px;}
				}
				.slider {padding-top: 85px; }
			}
		}
	}
}






/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */






/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1025px){}
@media (max-width:768px){


}
@media (max-width:321px){}

