@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.usc #header {
	
	
}
 

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usc #container.main {
	position: relative;
	.inner {
		width: 1320px; margin:0 auto;
		&:after {display:block; clear:both; content:""}
	}

	// 상단 텍스트 및 탭 메뉴
	.main-top-zone {
		position: absolute; left:0; top:0; width: 100%; z-index: 100;
		.inner {display: table; height: 145px; width: 1320px; margin:0 auto;}
		// 텍스트
		.top-txt {display: table-cell; font-size: 18px; color:#555; font-weight: 700; vertical-align: middle; }
		// 날씨 및 탭 메뉴
		.top-menu {
			display: table-cell; width:445px;
			.weather-zone {
				overflow:hidden; position: relative; height: 42px; margin-top: 15px;
				&:after {display:block; clear:both; content:""}
				.today-icon {overflow: hidden; position: absolute; left:0; top:0;  width: 42px; height: 42px; border-radius: 100px; background:#fff;}
				.today-txt {
					overflow:hidden; color:$color1; font-size: 14px; border-radius: 100px; margin-top: 5px; padding-left: 50px; box-sizing: border-box; line-height: 32px; background:#ffe76a;
					&:after {display:block; clear:both; content:""}
					.day {float: left; margin-right: 3px;}
					.detail {
						position: relative;
						ul{
							&:after {display:block; clear:both; content:""}
							li {float: left; }
							li + li:before {display: inline-block; content: "/"; margin:0 4px 0 4px;}
							span {font-family: $font3;}
						}
						.lnk {display: inline-block; overflow: hidden; position: absolute; right: 6px; top:6px; width: 21px; height: 20px; @include background("usc/icon_link.png", no-repeat 50% 50%); text-indent: -999em; }
					}
				}
			}
			.tab-zone {
				margin-top: 10px; height: 56px;
				&:after {display:block; clear:both; content:""}
				// .li + .li {margin-left: 12px;}
				.slick-slide {height: 56px; cursor: pointer;}
				h2 {
					display: block; position: relative; height: 45px; width: 140px; 
					font-size: 18px; font-weight: 700; color:$color1; font-family: $font3; line-height: 38px; 
					text-align: center; background:#fff; border-radius: 100px; box-sizing: border-box;
					border-width: 3px; border-style: solid; 
					-ms-transition:background 0.3s 0.1s ease; -moz-transition:background 0.3s 0.1s ease; -webkit-transition:background 0.3s 0.1s ease; transition:background 0.3s 0.1s ease;
					&:after {
						display: block; content: ""; position: absolute; left: 50%; top:100%; margin-left: -10px;
						width: 0; height: 0; border-top-width:11px; border-top-style: solid; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 11px solid transparent;
						opacity: 0; -ms-transform: rotate(-90deg) translateX(18px); -webkit-transform: rotate(-90deg) translateX(18px); -moz-transform: rotate(-90deg) translateX(18px); transform: rotate(-90deg) translateX(18px);
					}
					span {
						display: block; position: relative; overflow: hidden; z-index: 1; width: 100%; height:39px; border-radius: 12px; 
						-ms-transition:0.3s 0.1s ease; -webkit-transition:0.3s 0.1s ease;-moz-transition:0.3s 0.1s ease;transition:0.3s 0.1s ease;
						&:before {display: inline-block; position: relative; content: ""; height: 21px; margin-right: 12px; @include background("usc/sp_main.png", no-repeat 0 0); vertical-align: middle; z-index: 1}
						&:after {
							display:block; position: absolute; left: 0; top: 0; content: ""; width: 0; height: 100%; border-radius: 14px; z-index: -1;
							-ms-transition:0.3s ease-out; -webkit-transition:0.3s ease-out; -moz-transition:0.3s ease-out; transition:0.3s ease-out;
						}
					}

					// 버튼 각각
					&[class*=bigtabcont1] {
						border-color:#ff8926;
						&:after {border-top-color:#ff8926;}
						span {
							&:before {width:21px; background-position: 0px 0;}
							&:after {background:#ff8926;}
						}
					}
					&[class*=bigtabcont2] {
						border-color:#0775bc;
						&:after {border-top-color:#0775bc;}
						span {
							&:before {width:28px; background-position: -50px 0;}
							&:after {background:#0775bc;}
						}
					}
					&[class*=bigtabcont3] {
						border-color:#08a46b;
						&:after {border-top-color:#08a46b;}
						span {
							&:before {width:28px; margin-right: 8px; background-position: -100px 0;}
							&:after {background:#08a46b;}
						}
					}
				}
				// 선택시 -
				.slick-current, .li:hover {
					h2{
						color:#fff;
						&:after {
							opacity:1; 
							-ms-transform: rotate(0deg) translateX(0); -moz-transform: rotate(0deg) translateX(0); -webkit-transform: rotate(0deg) translateX(0); transform: rotate(0deg) translateX(0);
							-ms-transition:0.3s 0.2s ease-out; -webkit-transition:0.3s 0.2s ease-out; -moz-transition:0.3s 0.2s ease-out; transition:0.3s 0.2s ease-out;
						}
						span:after {width: 100%;}
						&[class*=bigtabcont1]{
							 background:#ff8926;
							span:before {background-position: 0 -50px}
						}
						&[class*=bigtabcont2] {
							 background:#0775bc;
							span:before {background-position: -50px -50px}
						}
						&[class*=bigtabcont3] {
							background:#08a46b; 
							span:before {background-position: -100px -50px}
						}
					}
				}
			}			
		}
	}
	
	// 탭 컨텐츠
	.main-tabcontent {
		div[class^=tab-] {padding-top: 145px; height: 940px; box-sizing: border-box; outline: none;}
		// 탭 - 소식
		.tab-news {
			@include background("usc/bg_maintab1.jpg", no-repeat 50% 0); background-size: cover;
		}
		// 탭 - 민원 
		.tab-complaint {
			@include background("usc/bg_maintab2.jpg", no-repeat 50% 0); background-size: cover;
		}
		// 탭 - 관광
		.tab-sightseeing {
			@include background("usc/bg_maintab3.jpg", no-repeat 50% 0); background-size: cover;
		}
	}
	

	// 소식 탭
	.tab-news {
		// 탭 LAYOUT
		.l-left {overflow:hidden; float: left; width: 670px}
		.l-right {overflow:hidden; float: right; width:650px; padding-left: 12px; box-sizing: border-box;}

		// 배너1
		.news-banner {
			position: relative; 
			.slick-dots {
				position: absolute; right: 0; bottom: 0; z-index: 1; 
				width: 200px; height:50px; background:rgba(0,0,0,0.6); font-size: 18px; color:#fff;
				li {display: none; position: absolute; left:19px; top:14px;}
				li.slick-active {display: block;}
				.current {display: inline-block; height: 23px; width:23px; color:#000; background:#fff; border-radius: 100px; line-height: 22px; text-align: center; font-family: $font2;}	
				.division {margin:0 3px 0 2px;}
			}
			.slick-arrow {
				position: absolute; bottom:0; right: 0; z-index: 111; 
				width:32px; height:50px; text-indent: -999em; 
				&:after{display:block; content: ""; position: absolute; left:50%; top:50%; width:12px; height: 20px; margin:-10px 0 0 -6px; @include background("usc/sp_main.png", no-repeat 0 0);}
				&.slick-prev{
					right:89px;
					&:after {background-position: 0px -100px;}
				}
				&.slick-next {
					right:10px;
					&:after {background-position: -100px -100px;}
				}
			}
			.btn-slickPause {
				position: absolute; bottom:0; right: 50px; 
				width:32px; height: 50px; text-indent: -999em; z-index: 1;
				&:after {
					display: block; content: ""; position: absolute; left:50%; top:50%; 
					width:11px; height: 20px; margin:-10px 0 0 -5px;
					@include background("usc/sp_main.png", no-repeat -50px -100px)
				}
			}
		}
		// 게시판
		.news-board {
			position: relative; overflow:hidden; height: 335px; margin-top: 10px; background:#fff; padding:0 27px;

			// 탭메뉴 
			.board-tabmenu {
				border-bottom: 1px solid #f27405;
				&:after {display:block; clear:both; content:""}
				li {float: left; width: 110px; }
				li + li {margin-left: 10px;}
				a {position: relative; display: block; font-size: 20px; color:#494949; line-height: 54px; text-align: center;}
				a[aria-selected*=true] {
					color:#f27405; font-family: $font2;
					&:before {display: block; position: absolute; top:0; left:0; content: ""; width: 100%; height: 3px; background:#f27405;}
				}
			}
			// 탭 컨텐츠
			.boardtab-content {
				&>div {display: none}
				// 오늘 중요 게시물 
				.board-important {
					overflow:hidden; padding-top: 20px;
					.todays  {
						float: left;
						width: 90px; height: 88px; padding-top: 20px; border:1px solid #bfbfbf; text-align: center; box-sizing: border-box;
						.year {display: block; color:#666; font-size: 17px;}
						.day {display: block; margin-top: 1px; color:#f27405; font-size: 28px; font-family: $font2;}
					}
					.today-cont {
						padding:10px 0 18px 110px;
						.tit {font-size: 18px; font-family: $font2; color:#222; }
						dd {
							display:-webkit-box; overflow:hidden; max-height: 44px; margin-top: 15px; padding-right: 60px;
							color:#666; font-size: 16px; line-height: 22px; 
							-webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;
						}
					}	
				}
				// 그외 게시글
				.board-lst {
					padding-top: 14px; border-top: 1px solid #e5e5e5;
					li {
						line-height: 20px;
						&:before {display: inline-block; width: 3px; height: 3px; background:#000; content: ""; margin-right:8px; vertical-align: middle;}
						& + li {margin-top: 12px;}
					}
					.new {display: inline-block; overflow:hidden; vertical-align: middle; width:20px; height: 20px; margin-right: 5px; color:#fff; font-size: 12px; line-height: 21px; text-align: center; background:#f0412c; border-radius: 100px}
					.cont {display:inline-block; overflow:hidden; max-width: 80%; font-size: 17px; color:#222; vertical-align: middle; white-space: nowrap; text-overflow: ellipsis; }
					.date {float: right; font-size: 17px; color:#989898;}

					.new + .cont {max-width: 75%}
				}
				// 더보기 버튼
				.btn-more {
					position: absolute; right: 27px; top:8px;
					a {
						display: block; position: relative; width: 39px; height: 39px; box-sizing: border-box; border: 1px solid #d6d6d6; text-align: center;
						span  {
							position: absolute; top:50%; left:50%; margin-top: -10px; margin-left: -8px;
							display: inline-block; text-indent: -999em; width: 17px; height: 18px; 
							@include background("usc/sp_main.png",no-repeat -150px -200px);
						}
					}
				}
			}	
		}
		// 자주찾는 메뉴
		.news-favoritmenu {
			float: left; width: 220px; height: 745px; background:#eb9d35; color:#fff; text-align: center;
			.tit {padding-top:35px; font-size: 20px; font-family: $font2;}
			.news-favoritmenu {
				margin-top: 13px; 
				.slide-indicator {
					display: inline-block; overflow:hidden;
					margin-bottom: 11px; border: 1px solid rgba(256,256,256,0.25); 
					p {
						display: inline-block; float: left;
						& + p {border-left: 1px solid rgba(256,256,256,0.25); }
					}
					button[class^=btn-] {
						overflow:hidden; position: relative; height:37px; width: 37px; 
						span {display: block; margin:0 auto; @include background("usc/sp_main.png", no-repeat 0 0); text-indent: -999em;}
						&.btn-up span {width:17px; height: 10px; background-position: 0 -150px;}
						&.btn-down span {width:17px; height: 10px; background-position: -50px -150px;}
						&.btn-pause span {width:10px; height: 18px; background-position: -100px -150px;}
					}
				}
				.slider {
					padding:0 20px;
					.slide {padding: 16px 10px 15px; border-bottom: 1px solid rgba(256,256,256,0.2);}
					a {
						display: block; position: relative; overflow:hidden; width:100%; height:42px; padding-left: 50px; border-radius: 100px; font-size: 16px; text-align: left; line-height: 42px; box-sizing: border-box;
						span {position:relative; z-index: 1}
						&:before {
							display: block; overflow:hidden; content: ""; position: absolute; left:0; top:0; width:42px; height: 42px; border-radius: 100px; border:1px solid rgba(256,256,256,0.5); text-align: center; box-sizing: border-box; z-index: 1;
						}
						&:after {display:block; position: absolute; left:0; top:0; content: ""; width: 0%; height: 100%; background:#fff; }

						&:hover {
							span {color:#ff6826; font-family: $font2; -ms-transition:0.2s 0.3s ease; -webkit-transition:0.2s 0.3s ease; -moz-transition:0.2s 0.3s ease; transition:0.2s 0.3s ease; }
							&:after {width:100%; -ms-transition:0.2s 0.3s ease; -moz-transition:0.2s 0.3s ease; -webkit-transition:0.2s 0.3s ease; transition:0.2s 0.3s ease; }
							&:before {background-color:#ff6826; -ms-transition:0.2s ease; -webkit-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease; }
						}
					}
					a[class^=icon-favorit] {
						&:before {@include background("usc/sp_main.png",no-repeat 0 0); }

						&.icon-favorit1:before {background-position: -150px 0;}
						&.icon-favorit2:before {background-position: -200px 0;}
						&.icon-favorit3:before {background-position: -250px 0;}
						&.icon-favorit4:before {background-position: -300px 0;}
						&.icon-favorit5:before {background-position: -350px 0;}
						&.icon-favorit6:before {background-position: -400px 0;}
						&.icon-favorit7:before {background-position: -450px 0;}
						&.icon-favorit8:before {background-position: -150px -50px;}
						&.icon-favorit9:before {background-position: -200px -50px;}
						&.icon-favorit10:before {background-position: -250px -50px;}
						&.icon-favorit11:before {background-position: -300px -50px;}
						&.icon-favorit12:before {background-position: -350px -50px;}
						&.icon-favorit13:before {background-position: -400px -50px;}

						&:hover {
							&:before {background:#ff6826 url('../../static/images/usc/sp_main.png') no-repeat 0 0;}
							&.icon-favorit1:before {background-position: -150px 0;}
							&.icon-favorit2:before {background-position: -200px 0;}
							&.icon-favorit3:before {background-position: -250px 0;}
							&.icon-favorit4:before {background-position: -300px 0;}
							&.icon-favorit5:before {background-position: -350px 0;}
							&.icon-favorit6:before {background-position: -400px 0;}
							&.icon-favorit7:before {background-position: -450px 0;}
							&.icon-favorit8:before {background-position: -150px -50px;}
							&.icon-favorit9:before {background-position: -200px -50px;}
							&.icon-favorit10:before {background-position: -250px -50px;}
							&.icon-favorit11:before {background-position: -300px -50px;}
							&.icon-favorit12:before {background-position: -350px -50px;}
							&.icon-favorit13:before {background-position: -400px -50px;}
						}
					}
				}
			}
		}
		// 군수, 통합예약시스템, 팝업존
		.menugroup {
			float: right; width:410px; text-align: center;

			// 군수 관련 메뉴
			.news-leadermenu {
				height: 270px; padding:26px 20px 0; box-sizing: border-box;
				background:#f5cf66 url("../../static/images/usc/img_main_leadermenu.png") no-repeat 100% 100%;

				.txt {width:211px; height: 49px; @include background("usc/img_main_leadermenutxt.png",no-repeat 0 0); text-indent: -999em;}
				.menu {
					margin-top: 32px;
					li + li {margin-top: 8px;}
					a {
						display:block; width:140px; height: 40px; font-size: 15px; color:#222; line-height: 40px; text-align: center; background:#fff; 
						&:before {display: inline-block; content: ""; width:16px; height: 14px; @include background("usc/sp_main.png", no-repeat 0 0); vertical-align: middle;}
						&[class^=icon-] {
							&.icon-openleader:before {margin-right: 6px; background-position: -150px -100px;}
							&.icon-current:before {margin-right: 4px; background-position: -200px -100px;}
							&.icon-talk:before {width:20px; margin-right: 3px; background-position: -250px -100px;}
						}
					}

					a:hover {
						font-family:$font2; color:#fff; @include background("usc/bg_main_leaderbtn.png", repeat-x 0 0);
						&[class^=icon-] {
							&.icon-openleader:before {background-position: -150px -150px;}
							&.icon-current:before {background-position: -200px -150px;}
							&.icon-talk:before {background-position: -250px -150px;}
						}	
					} 
				}
			}
			// 통합예약시스템
			.news-bookingsys {
				margin-top: 10px;
				a {display:block; height:120px; padding:23px 20px 0; text-align: left; box-sizing: border-box; color:#fff; background:#c97c49 url("../../static/images/usc/img_main_bookingsys.png") no-repeat 100% 100%; }
				.tit {font-family: $font2; font-size: 20px; }
				.txt {margin-top: 12px; font-size: 13px; color:rgba(256,256,256,0.7); line-height: 20px;}
			}
			// 팝업존
			.news-popupzone {
				position: relative; margin-top: 10px;
				.popupzone-titlezone {
					position: absolute; left:0; top:0; width: 100%; height:85px; padding:15px 15px 10px; 
					background:#383b3b; text-align: left; box-sizing: border-box; z-index: 10;
					.tit {font-size: 20px; font-family: $font2; color:#fff; line-height: 26px;}
					.desc {margin-top: 16px; font-size: 13px; color:rgba(256,256,256,0.7);}
					.indicator {
						position: absolute; right: 12px; top:12px;
						overflow:hidden; width:115px; border:1px solid rgba(256,256,256,0.25);
						p {
							float: left;
							& + p {border-left:1px solid rgba(256,256,256,0.25); }
						}
						button[class^=btn-] {
							width:37px; height: 37px;
							span {
								display: block; content: ""; margin:0 auto; width:10px; height: 18px; 
								@include background("usc/sp_main.png", no-repeat 0 0);  text-indent: -9999em; 
							}
							&.btn-prev span {background-position: 0 -200px;}
							&.btn-next span {background-position: -50px -200px;}
							&.btn-pause span {background-position: -100px -200px;}
						}
					}
					.hotnews {position: absolute; left:78px; top:15px; width:68px; font-size: 12px; text-align: center; height: 26px; line-height: 24px; border:1px solid #fff; border-radius:6px; box-sizing: border-box; color:#fff; }
				}

				.slick-dots {
					position: absolute; right:140px; top:6px; z-index: 11; font-size: 16px; color:#fff;
					width:65px; text-align: center;
					li {display: none; position: absolute; left:19px; top:14px;}
					li.slick-active {display: block;}
					.current {display: inline-block; height: 20px; width:20px; border-radius: 100px; line-height: 22px; text-align: center; font-family: $font2; color:#1f506f;background:#ffb00d;	} 
					.division {margin:0 3px 0 2px;}
				}
				.slider {padding-top: 85px; }
			}
		}
	}

	// 민원 탭
	.tab-complaint {
		// 탭 LAYOUT
		.l-left {overflow:hidden; float: left; width: 915px}
		.l-right {overflow:hidden; float: right; width:405px; padding-left:10px; box-sizing: border-box;}
 
 		// 의성 sns
 		.complaint-sns {
 			height: 745px; 
 			background:#fff url("../../static/images/usc/bg_complaint_sns.png") no-repeat 100% 0;
 			box-sizing: border-box; text-align: center;
 			.tit {padding-top: 30px; color:#292929; font-size: 20px; font-family: $font2;}
			.tab-sns {
				display: inline-block; overflow: hidden; margin-top: 21px;
				li {
					float: left; 
					&+li {margin-left: 8px;}
				}
				button {
					width:35px; height: 35px; text-indent: -999em;
					&.icon_all {font-size: 14px; text-indent: 0; color:#fff; background:#555; border-radius: 5px;}
				}
			}
			.lst-sns-zone {
				overflow:hidden; position: relative; margin-top: 20px; height: 615px;
				.lst-sns {
					padding:0 19px 10px; 
					li {position: relative; overflow:hidden; height: 138px; padding:9px 0; border: 1px solid #d5d5d5; box-sizing: border-box; margin-bottom: 10px;}
				}
				.sns {position: absolute; left:-1px; top:-1px; z-index: 1}
				.thumb {
					position: absolute; left:0; top:0; width:134px; border-right:  1px solid #d5d5d5; box-sizing: border-box;
					img {width:100%;}
				}
				.cont {
					display:-webkit-box; overflow:hidden; max-height: 88px; padding-left: 140px; padding-right: 5px;
					font-size: 15px; line-height: 22px; color:#222; text-align: left; 
					-webkit-line-clamp:4; -webkit-box-orient:vertical; text-overflow:ellipsis;
				}
				.btn {position: absolute; bottom:6px; right: 6px;}
			}
 		}
 		// 민원서비스
 		.complaint-bottom {overflow:hidden; margin-top: 9px;}
 		.complaint-service {
 			overflow:hidden; float: left; width: 295px; height: 436px; padding:0 12px; background: #0c6dac;
 			.notice-number {
 				padding:9px 20px; text-align: center; background:#fff;
 				.number {font-family: $font3; color:#fd7400; font-size: 34px; }
 				.txt {margin-top: 2px; font-size: 14px; color:#333; line-height: 18px;}
 			}
 			.tit {margin: 19px 0 17px; height: 68px; @include background("usc/img_main_service.png",no-repeat 50% 0); text-indent: -999em;}
 			.notice-service {
 				padding:12px 0 0 17px;	
 				li {color:#fff; font-size: 15px; line-height: 27px}
 				li:before {display: inline-block; content: ""; width: 4px;height: 4px; margin-right: 10px; background:#fff; vertical-align: middle;}
 			}
 		}
 		// 정보화 마을
 		.complaint-invil {
 			float: left; width: 305px; height: 436px; padding:20px 0 0; 
 			background:#344362; margin-left: 9px; text-align: center;
 			.tit {
 				color:#fff; font-size: 14px; 
 				strong {display: block; margin-top: 7px; font-family: $font2; font-size: 20px;}
 			}
 			.invil {
 				height: 118px; padding-top: 26px; @include background("usc/bg_main_invil.png", no-repeat 50% 0); text-align: center; box-sizing: border-box;
 				img {display: inline;}
 			}
 			.lnk-group {
 				margin-top: 10px; padding:0 38px;
 				li + li {margin-top: 10px;}
 				a {
 					display: block; padding:0 15px 0 12px; border:1px solid rgba(256,256,256,0.4);
 					font-size: 15px; color:#fff; line-height: 43px; text-align: left;
 					em {
 						font-size: 12px; float: right;
 						&:after {display: inline-block; content: ">"; margin-left: 3px; vertical-align: middle;}
 					}
 					&:hover {border-color:#fff; @include background("usc/bg_main_invilbtn.png", repeat 0 0); }
 				}
 			}
 		}
 		// 복지 
 		.complaint-welfare {
 			float: left; height: 436px; width: 295px; margin-left: 9px; text-align: center; background:#d5e9f2;
 			.tit {height:100px; font-size: 20px; color:#fff; font-family: $font2;  text-shadow: 0px 2px 10px rgba(23,23,24,0.7); line-height: 100px; @include background("usc/bg_welfare.png",no-repeat 50% 50%);}
 			.welfare-slider {
 				margin-top: 40px;
 				a {
 					display: block;
	 				.name {display: block; margin-top: 17px; font-size: 18px; text-align: center; color:#333;}
	 				.img {
	 					display: block;
	 					img {display: inline;}
	 				}
 				}
 				.slick-dots {
 					display: inline-block; margin-top: 29px;
 					&:after {display:block; clear:both; content:""}
 					li {
 						float: left;
	 					& + li {margin-left:10px;}
 					}
 					button {
 						width:10px; height: 10px; border-radius: 100px; background:#aeb2b5; text-indent: -999em; 
 						transition:0.2s ease;
 					}
 					.slick-active button {background:#0c6dac; width:27px;}
 				}
 			}
 		}
 		// 민원관련 메뉴 
 		.complaint-menu {
 			overflow:hidden; position: relative; height: 300px;
			.tab {
				position: absolute; left:0; top:0; width:248px; padding:0 12px; background:#fff;
				li + li {border-top: 1px dashed #e3e3e3;}
				a {
					position: relative; display: block; height: 99px; padding-top: 32px; padding-left: 84px; margin:0 -12px;
					font-size: 13px; color:rgba(48,48,48,0.7); box-sizing: border-box;
					em {display: block; font-size: 18px; font-family: $font2; margin-bottom: 6px; color:#303030;}
					&:before {display: block; position: absolute; left:16px; top:22px; width: 57px; height: 57px;@include background("usc/sp_main.png",no-repeat 0 0); content: ""}
					&[aria-controls=complainttab1]:before {background-position: 0 -250px;}
					&[aria-controls=complainttab2]:before {background-position: -100px -250px;}
					&[aria-controls=complainttab3]:before {background-position: -200px -250px;}
				}
				a[aria-selected=true] {
					&:after {display: block; position: absolute; left:100%; top:0; content: ""; width: 0; height: 0; border-left: 21px solid #ff8000; border-radius: 21px solid transparent; border-top: 50px solid transparent; border-bottom: 50px solid transparent;}
					&[aria-controls=complainttab1] {background:#ff8000;}
					&[aria-controls=complainttab2] {background:#03a596;}
					&[aria-controls=complainttab3] {background:#0c6dac;}
					&[aria-controls=complainttab1]:before {background-position: 0 -350px;}
					&[aria-controls=complainttab2]:before {background-position: -100px -350px;}
					&[aria-controls=complainttab3]:before {background-position: -200px -350px;}
					&[aria-controls=complainttab1]:after {border-left-color:#ff8000}
					&[aria-controls=complainttab2]:after {border-left-color:#03a596}
					&[aria-controls=complainttab3]:after {border-left-color:#0c6dac}
				}
			}
			.complaint-tab-contents {
				div[id^=complainttab] {display: none; height:300px; background:#e2e1e1; padding-left: 315px;}
				.lst-menu {
					&:after {display:block; clear:both; content:""}
					.icon {
						display: block; position: relative; margin:0 auto; width: 90px; height: 90px;background:#b4b4b4; box-sizing:border-box;  border-radius: 100px; 
						-ms-transition:0.2s ease; -webkit-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease;
						&:after {position: absolute; left:0; top:0; display: block; content: ""; width:100%; height: 100%; box-sizing: border-box; border-width:5px; border-style:solid; border-color:#fff; border-radius: 100px;  border-radius: 100px; -ms-transition:0.2s ease; -webkit-transition:0.2s ease; -moz-transition:0.2s ease; transition:0.2s ease;}
					}
					.name {display: block; margin-top: 11px; font-size: 15px; color:#303030; text-align: center;}
					li {float: left; margin-left: 60px; margin-top: 20px;}
					li:nth-child(4n+1) {clear:both; margin-left: 0;}
					a:hover .name {font-family: $font2; }
				}
				#complainttab1 {
					.lst-menu a:hover .icon {
						background:#ff8000;
						&:after {border-color:#ff8000;}
					}
				}
				#complainttab2 {
					.lst-menu a:hover .icon {
						background:#03a596;
						&:after {border-color:#03a596;}
					}
				}
				#complainttab3 {
					.lst-menu a:hover .icon {
						background:#0c6dac;
						&:after {border-color:#0c6dac;}
					}
				}
			}
 		}
	}

	// 관광 탭
	.tab-sightseeing {
		.inner {position: relative;}
		// 슬라이드
		.sightseeing-slider {
			float: left; position: relative; width:1005px; height: 600px;

			.bigslider {
				position: relative; height: 600px;
				.detailzone {
					position: absolute; left:0; bottom: 0; width: 100%; padding:19px 25px; background:rgba(0,0,0,0.7);
					.detail-txt {
						color:#fff;
						dt {font-family: $font2; font-size: 20px;}
						dd {margin-top: 15px; font-size: 15px; line-height: 22px;}
					}
					.btn-more {
						position: absolute; right:10px; top:10px; display: block;
						height: 38px; width:138px; line-height: 38px; border:1px solid rgba(256,256,256,0.5); 
						text-align: center; font-size: 15px; color:#fff; 
						&:after {display: inline-block; content: ">"; margin-left: 5px; vertical-align: middle;}
					}
				}
				.slick-arrow {
					position: absolute; top:205px; width:80px; height: 130px; opacity: 0;
					background:rgba(0,0,0,0.5); text-indent: -999em; z-index: 1; 
					-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;
					&:after {display: block; position: absolute; left:50%; top:50%; content: ""; width:34px; height: 57px; 
						margin-top: -29px; margin-left: -17px;
						@include background("usc/sp_main.png",no-repeat 0 0);}
					&.slick-next {
						right:0;
						&:after {background-position: -350px -100px;}
					}
					&.slick-prev {
						left:0;
						&:after {background-position: -300px -100px;}
					}
					&.on {opacity: 1}
				}
				.slide {position: relative;}
			}
			.thumb-slider {
				position: absolute; left:0; bottom:120px; z-index: 10; width: 100%; text-align: center;
				ul {
					display: inline-block;
					&:after {display:block; clear:both; content:""}
					li {float: left;}
					li + li {margin-left:16px}
				}
				button {
					overflow:hidden; position:relative; width:35px; height: 35px; border-radius: 100px; 
					img {width: 100%; height: 100%}
					&:before {display: block; position: absolute; left:0; top:0; width: 100%; height: 100%; content: ""; border-radius: 100px; border:1px solid #fff; box-sizing: border-box; border-radius: 100px; z-index: 1}
					&:after {display: block; position: absolute; left:0; top:0; width: 100%; height: 100%; content: ""; background:rgba(0,0,0,0.4); z-index: 2}
				}
				.current button {
					width:66px; height: 66px; top:-13px;
					&:before {border-width:5px;}
					&:after {display: none}
				}
			}
		}
		// 바로가기메뉴
		.sightseeing-gotolnk {
			float: right; width: 305px; height: 745px; background:#03a596; text-align: center;
			.tit {padding-top: 37px; font-size: 20px; color:#fff; font-family: $font2;}
			.gotolnk-zone {
				position: relative; padding: 226px 28px 0; margin-top: 17px; @include background("usc/bg_sightseeing_goto.png", no-repeat 50% 0);

				.gotolnk {
					li {
						border-bottom: 1px solid rgba(256,256,256,0.2); margin-top: 10px;
						&:first-child {margin-top: 0;}
						a {
							display: block; position:relative; height: 40px; font-size: 16px; color:#fff; line-height: 40px; padding-left:72px;
							text-align: left;
							&:before {display: inline-block; position: absolute; left:48px; top:50%; width:5px; height: 5px; background:#fff; content: ""; margin-top: -2.5px;}
						}

						&.on {
							border-bottom-color:#fff;
							&:after {display:block; position: absolute; left:0; top:0; width:147px; height: 147px; content: ""; }
							a {
								background:#fff;color:#0c9687; font-family: $font3;
								&:before {width:23px; height: 23px; left:39px; background:#0c9687 url("../../static/images/usc/icon_arrow.png") no-repeat 50% 50%; border-radius: 100px; margin-top: -12px;}
							}
						}
					}
				}
			}
		}
		// 알려드립니다.
		.sightseeing-attention {position: absolute; bottom:0; left:0; width: 1005px; height: 138px; background:#0d8559;}
	}
}






/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */






/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){}
@media (max-width:768px){


}
@media (max-width:321px){}


