@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
@media (min-width:1025px){
//-------------------------------------------------------------------------------
body.pc #wrap.usclib #header {
	#gnb {
		.gnb {
			& > li {float:left; }
			h2 {
				position: relative;
				&:before {display: inline-block; position: absolute; left:0; top:50%; margin-top: -10px; content: ""; width: 1px; height:20px; background:#e0c58b; vertical-align: middle;}
				a {
					display: block; position: relative; width:210px; line-height:50px; font-size: 20px; color:#fff; text-align: center; 
				}
				&.over a, a:hover {
					font-family: $font3;
					&:before {display: block; position: absolute; bottom:0; left:0; width: 100%; content: ""; background:#f0412c; height: 6px; z-index: 1000}
					&:after {display: block; position: absolute; bottom:-9px; left:50%; width:21px; height: 21px; margin-left: -10.5px; content: ""; border:6px solid #f0412c; box-sizing: border-box; border-radius: 100px; background:#fff; z-index: 1000}
				}
			}
		}
		.category {
			.btn {
				position: absolute; right: 0; top:5px;
				a {display: block; overflow: hidden; position: relative; width: 260px; height: 39px; padding-right: 38px; font-size: 20px; color:#fff; line-height: 40px; text-align: center; box-sizing: border-box; background:#785719}
				a:before {display: block; position: absolute; right: 0; top:0; width: 38px; height: 39px; @include background("usc/sp_main.png",no-repeat -300px -250px); content: "";}
				a:after {display: block; position: absolute; right: 75px; top:50%; margin-top: -5px; width:14px; height: 10px; @include background("usc/sp_main.png",no-repeat -200px -200px); content: "";}
			}
		}
	}
	.depth2menu {
		display: none; overflow:hidden; position: absolute; top: 100%; left:0; background:#fff;z-index: 100;
		.part-introduce {
			float: left;width: 305px; 
			dl {padding-left: 68px; margin-top: 20px; padding-top: 24px; @include background("usc/img_gnb.png",no-repeat 0 0);}
			dt {font-size: 26px; font-family: $font3; color:#2a2a2a;}
			dd {
				margin-top: 11px; font-size: 15px; color:#525252;
				img {margin-top: 15px;}
			}
			
			.gotolnk {
				margin-top: 20px; padding:0 26px;
				li + li {margin-top: 10px;}
				a {
					display: block; position: relative; padding:0 19px; font-size: 15px; color:#666; font-family: $font2;border:1px solid #d6d5d5; line-height: 43px;
					em {float: right; font-family: $font1; font-size: 12px;}
					em:after {display: inline-block; content: ">"; margin-left: 3px; vertical-align: middle;}
					&:hover {
						border-color:#f27405; font-family: $font3;
						&:after {display: block; position: absolute; left:0; top:0; content: ""; border:1px solid #f27405; width: 100%; height: 100%; box-sizing: border-box;}
					}
				}
			}			
		}
		.menu {
			float: left; overflow:hidden; min-height:365px; width: 1015px; padding:34px 0 30px 15px; border-left: 1px solid #e2e1e1;
			h3 a {
				display: block; font-size: 17px; color:#525252; line-height: 35px; background:#ffeda9; text-align: center;
				&:hover, &.current {background:#f27405; font-family: $font2; color:#fff;}
				&.small {font-size: 15px;}
			}
			h4 a {
				font-size: 15px; color:#525252; line-height: 26px;
				&:before {display: inline-block; content: ""; width: 4px; height: 4px; background:#1e4363; margin-right: 7px; vertical-align: middle;}
				&:hover, &.current {
					color:#f27405; font-family: $font2; 
					&:before {background:#f27405;}
				}
			}
			.depth3menu {padding: 9px 0 0 10px; }
			.menugroup {
				&:after {display:block; clear:both; content:""}
				.group {float: left; width: 20%; padding-left: 10px; box-sizing: border-box;}
				& + .menugroup {margin-top: 10px;}
				&.other {margin-top: -200px;}
			}

			&.other {
				.menugroup {
					float: left;width: 80%;
					.group {width: 25%}
				}
				.menugroup:nth-of-type(2) {width: 20%; float: right; margin-top: 0; padding-left: 10px; box-sizing: border-box;}
			}
		}
		.category-menu {
			float: left; width: 1015px; padding: 42px 50px 48px; border-left: 1px solid #e2e1e1;
			ul:after{display:block; clear:both; content:""}
			li {float: left; width: 14%; text-align: center;}
			li:nth-child(7) ~ li {margin-top: 30px;}
			a {
				display: block;
				.img{
					display: block; position: relative; overflow:hidden; width: 90px; height: 90px; border-radius: 100px; margin:0 auto; 
					img {
						position: absolute; left:0; top:0; 
						-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;
					}
				}
				.name {display: block; margin-top: 11px; font-size: 17px; color:#525252; }
				&:hover {
					.img img {top: -100%;}
					.name {font-family: $font2; text-decoration: underline;}
				}
			}
		}
	}
	&.open {border-bottom: 6px solid #f27405; }
}
//-------------------------------------------------------------------------------
}
#wrap.usclib #footer {
	background:#364550;
	.btn-gototop a {background:#4f4f4f;}
	.footer-selectgroup {
		.footer-comp-select {
			dt{
				button {background:#263038 url("../../static/images/usclib/form_select.png") no-repeat 100% 50%; border-color:#263038; color:#fff;}
			}
		}
	}
	.footer-utilegroup {
		color:#a9a9a9; padding-left:0;
		.footer-utile {
			a {color:rgba(256,256,256,0.7);}
		}
		.footer-addr {
			strong {color:#fff;}
		}
	}
	.footer-notice {
		.number {
			color:#c0e6f1;
			.call {@include background("usclib/icon_footer_call.png",no-repeat 50% 50%);}
		}
		.txt {color:#bababa;}
	}
}
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usclib #container.main {
	.inner {width: 1320px; margin:0 auto;}
	// 메인 비주얼 슬라이드 & 검색
	.main-visual-zone {
		position: relative; 
		.slider {
			position: relative; height: 350px; overflow:hidden; min-width: 1320px;
			.slide {
				div[class$=bg] {width: 100%; height: 350px;}
				.mobg {display: none;}
				img {display: none;}
			}
			.slick-arrow {
				position: absolute; right: 0; width: 70px; height: 74px; text-indent: -999em; z-index: 1; 
				&:after {display: inline-block; content: ""; width: 22px; height: 43px;}
				&.slick-next {top: 107px; background:rgba(0,0,0,0.3) url("../../static/images/usclib/main/icon_next.png") no-repeat 50% 50%;}
				&.slick-prev {top: 182px; background:rgba(0,0,0,0.3) url("../../static/images/usclib/main/icon_prev.png") no-repeat 50% 50%; }
			}
		}
		.search {
			position: absolute; left:0; bottom:0; width: 100%;
			.inner {padding-bottom: 30px;}
			.form {
				position: relative; width: 538px; background:#fff; border-radius: 100px;
				&:after{display:block; clear:both; content:""}
				dt {
					float: left; width: 108px; padding-right: 7px; box-sizing: border-box; position: relative;
					&:after {display: inline-block; vertical-align: middle; content: "/"; position: absolute; right: 0; top:0; line-height: 55px;}
					label {display: inline-block; width: 100px; color:#343434; font-size: 17px; font-family: $font0; line-height:55px; text-align: center;}
				}
				dd {
					float: left; width:430px; position: relative;
					input {width: 100%; height: 55px; font-size: 16px; padding:0 40px 0 15px; font-family: $font0; border-top-right-radius: 100px; border-bottom-right-radius: 100px; box-sizing: border-box;}
					button {position: absolute; right:-35px; top:-8px; width: 70px; height: 70px; background:#3f9a82 url("../../static/images/usclib/main/icon_search.png") no-repeat 50% 50%; text-indent: -999em; border-radius: 100px;}
				}
			}
			.btn-position {
				margin-top: 10px;
				.btn-detailsearch {
					display: inline-block; width: 160px; height: 40px; font-size: 16px; font-family: $font0; color:#fff; border-radius: 100px; text-align: center; line-height: 40px;
					-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;
					&:before {display: inline-block; content: "";vertical-align: middle; width: 21px; height: 15px; @include background("usclib/main/icon_detailsearch.png",no-repeat 50% 50%); margin-right: 5px; }
					&:hover {background:#0a2738;}
				}
			}
		}
	}
	// 게시판 영역
	.main-board-zone {
		background: #eff0f1; position: relative;
		&:before {display: block; position: absolute; left:0; top:0; background:#016dae; content: ""; height: 55px; width: 100%;}
		.tab {
			background:#016dae; position: relative; z-index: 1;
			&:after {display:block; clear:both; content:""}
			li {float:  left; width: 25%;}
			a {display: block; font-size: 22px; line-height: 55px; height: 55px; font-family: $font2; color:#fff; text-align: center;}
			a[aria-selected=true], a:hover {background:#fff; color:#222;}
		}
		.tab-cont {display: none; overflow:hidden; height: 230px; background: #fff; box-shadow:0 5px 10px rgba(24,24,24,0.1); }
		//공지사항
		#boardTab1 {
			padding:20px; 
			.flag {
				color:#fff;
				&.notice {background:#336ac0;}
				&.culture {background:#0abaa6;}
				&.event {background:#fe6c00;}
				&.data {background:#b419be;}
			}
			.l-left {
				float: left; width:620px; height: 190px;
				.thumb {
					float: left; overflow:hidden; width: 145px; height: 194px; border:1px solid #d6d5d5; 
					img {width: 100%; height: 100%;}
				}
				dl{
					height: 190px; position: relative; padding:0 30px 0 160px; 
					&:after{display: block; position: absolute; right: 0; top:4px; width: 1px; height: 188px; content: ""; background: #d6d5d5;}
					dt {
						font-size: 20px; font-family: $font2; color:#222; line-height: 30px;
						.flag {width: 80px; display: inline-block; line-height: 30px; font-size: 17px; text-align: center; border-radius: 100px; margin-right: 5px;}
					}
					.txt {
						display:-webkit-box; overflow:hidden; font-size: 16px; line-height: 24px; max-height: 120px; margin-top: 14px;
						-webkit-line-clamp:5; -webkit-box-orient:vertical; text-overflow:ellipsis; color:#666; padding-left: 7px;
					}
					.date {
						position: absolute; left:160px; bottom:0; color:#666; font-size: 16px;
						&:before {display: inline-block; content: ""; width: 18px; height: 18px; @include background("usclib/main/icon_date.png",no-repeat 50% 50%); margin-right: 9px; vertical-align: middle; position: relative; top:-1px;}
					}
				}
			}
			.l-right {
				float: left; width: 640px; padding-left: 20px; padding-top: 5px;
				li:before {display: inline-block; vertical-align: middle; content: ""; width: 4px; height: 4px; background:#acacac; margin-right: 10px;}
				li + li {margin-top: 10px;}
				.flag {display: inline-block; width: 68px; line-height: 22px; color:#fff; border-radius: 100px; text-align: center; vertical-align: middle;}
				.cont {display: inline-block; vertical-align: middle; overflow:hidden; max-width: 420px; padding-left: 10px; color:#666; font-size: 16px; line-height: 22px; text-overflow:ellipsis; white-space: nowrap;}
				.date {display: inline-block; float: right; color:#666; font-size: 16px; line-height: 22px;}
			}
		}
		// 문화강좌
		#boardTab2 {
			padding-top:15px;
			.lst-culture {
				&:after {display:block; clear:both; content:""}
				& > li {float: left; width: 25%; padding:0 17px; box-sizing: border-box; letter-spacing: -0.5px;}
				& > li + li {border-left: 1px solid #d6d5d5;}
				h3.tit {font-family: $font2; font-size: 20px; color:#222; text-align: center;}
				.lst {
					font-size: 16px; color:#666; line-height: 22px; margin-top: 13px;
					.tit {color:#222; font-family: $font2;}
					.total {color:#df1111;}
					.current {color:#016dae;}
					li {
						margin-top: 10px; padding-left: 14px; position: relative;
						&:first-child {margin-top: 0}
						&:last-child .tit {display: block;}
						&:before {display: inline-block; content: ""; width: 4px;height: 4px; background:#acacac; position: absolute; left:0; top:9px;}
					}
				}
				.btn {
					width: 278px; margin:12px auto 0;
					.soldout {display: block; text-align: center; font-size: 16px; color:#909090; line-height: 32px; border:1px solid #e2e1e1; background:#eff0f1; border-radius: 4px;}
					a {display: block; text-align: center; font-size: 16px; color:#fff; line-height: 34px; background:#707070; border-radius: 4px;}
				}
			}
		}
		// 자주하는 질문
		#boardTab3 {
			padding:20px 25px 20px;
			.l-left {
				float: left; width:50%; height: 190px; border-right:1px solid #d6d5d5;
				.tit {font-size: 20px; color:#222; font-family: $font2;}
				.cont {
					display:-webkit-box; overflow:hidden; font-size: 16px; line-height: 24px; max-height: 144px; margin-top: 17px; padding-right: 10px; -webkit-line-clamp:6; -webkit-box-orient:vertical; text-overflow:ellipsis; color:#666;
				}
			}
			.l-right {
				float: right; width:50%; height: 190px;
				.lst {
					li {padding-left: 20px;}
					li a {display: inline-block; overflow:hidden; max-width: 90%; line-height: 32px; color:#666; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
					li:before {display: inline-block; content: ""; width: 4px; height: 4px; background:#acacac; vertical-align: middle; margin-right: 15px;}
				}
			}
		}
		// 문의게시판
		#boardTab4 {
			padding:20px 25px 20px;
			.l-left {
				float: left; position: relative; width:50%; height: 190px; border-right:1px solid #d6d5d5;
				.tit {font-size: 20px; color:#222; font-family: $font2;}
				.cont {
					display:-webkit-box; overflow:hidden; font-size: 16px; line-height: 24px; max-height: 120px; margin-top: 17px; padding-right: 10px; -webkit-line-clamp:5; -webkit-box-orient:vertical; text-overflow:ellipsis; color:#666;
				}
				.date {
					position: absolute; left:0; bottom:0; color:#666; font-size: 16px;
					&:before {display: inline-block; content: ""; width: 18px; height: 18px; @include background("usclib/main/icon_date.png",no-repeat 50% 50%); margin-right: 9px; vertical-align: middle; position: relative; top:-1px;}
				}
			}
			.l-right {
				float: right; width:50%; height: 190px;
				.lst {
					li {padding-left: 20px;}
					li:before {display: inline-block; content: ""; width: 4px; height: 4px; background:#acacac; vertical-align: middle; margin-right: 15px;}
					.cont {display: inline-block; overflow:hidden; max-width: 80%; line-height: 32px; color:#666; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
					.date {font-size: 16px; color:#666; float: right; line-height: 32px;	}
				}
			}
		}
	}
	// 즐겨찾는 메뉴 영역
	.main-favorit-zone {
		background: #eff0f1; padding:24px 0 50px; overflow:hidden;
		.inner {position: relative;}
		.tit {
			position:absolute; left:0; top:0; font-size: 23px; color:#2b2b2b; line-height: 30px; font-family: $font2; padding-top: 20px;
			&:after {display: block; content: ""; width: 81px; height: 19px; @include background("usclib/main/bg_favorit.png",no-repeat 50% 50%); margin-top: 11px;}
		}
		.lst-favorit-service {
			padding-left: 120px;  overflow:hidden;
			li{float: left; position:relative; width: 150px;}
			.slick-slide:last-of-type a:after {display: none;}
			a {
				display: block; position: relative;
				&:after {display: block; content: ""; position: absolute; right:0; top:11px; width: 1px; height: 108px; background:#e2e1e1;}
				.icon {
					display: block; position: relative; width: 90px; height: 90px; overflow: hidden; border-radius: 100px; margin:0 auto; 
					img {position: absolute; left:0; top:0;-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;} 
				}
				.name {display: block; font-size: 17px; text-align: center; color:#555; margin-top: 12px;}
			}
			a:hover {
				.icon img {top:-90px;}				
				.name {font-family: $font2;}
			}
		}
	}
	// 휴관일
	.main-closedays-zone {
		height: 70px; background: #fff; 
		.inner {position: relative;}
		.closeday-zone {
			overflow:hidden;
			.tit {
				float: left;font-family: $font2; font-size: 23px; color:#2b2b2b; line-height: 70px;
				strong {color:#dc1010;}
			}
			.indicator {
				overflow:hidden; position: relative; float: left;margin-left: 26px; 
				.month {
					font-family: $font3; color:#2b2b2b; font-size: 26px; padding:0 30px; line-height: 70px;
					em {font-size: 30px;}
				}
				.btn-arrow {
					position: absolute; top:50%; margin-top: -12px;
					button {text-indent: -999em; width: 12px; height: 23px; }
					&.btn-prev {
						left:0;
						button{ @include background("usclib/main/icon_prev1.png",no-repeat 50% 50%);}
					}
					&.btn-next{ 
						right:0; 
						button {@include background("usclib/main/icon_next1.png",no-repeat 50% 50%);}
					}
				}
			}
			.closeday {
				float: left; overflow: hidden; margin-top: 14px; margin-left: 65px;
				li {float: left;width: 42px; height: 42px; line-height: 42px; color:#fff; text-align: center; font-size: 18px; background:#36659f; margin-left: 12px; border-radius: 100px;}
				li:first-child {margin-left: 0;}
			}
		}
		.btn-librarian {
			position: absolute; right: 80px; top:0; background:#3f9a82; border-top-left-radius: 100px; border-bottom-left-radius: 100px; 
			a {
				display: inline-block; position: relative; line-height: 70px; color:#fff; font-size: 20px; font-family: $font2; padding:0 92px 0 125px; @include background("usclib/main/icon_librarian.png",no-repeat 29px 50%);
				&:before {display: block; position: absolute; right:-80px; top:9px; content: ""; width: 102px; height: 42px; background:#fff; border:5px solid #27738c;}
				&:after {display: block; position: absolute; right:-18px; top:50%; margin-top: -9px; content: ""; width: 36px; height: 18px; @include background("usclib/main/bg_librarian_arrow.png",no-repeat 50% 50%); 
					-ms-animation: arrowMove 1s ease-out; -webkit-animation: arrowMove 1s ease-out; -moz-animation: arrowMove 1s ease-out; animation: arrowMove 1s ease-out;
					-webkit-animation-iteration-count:infinite; -ms-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; animation-iteration-count:infinite; 
				}
			}

		}
	}
	// ETC 영역
	.main-etc-zone {
		padding:40px 0; @include background("usclib/main/bg_etczone.png", repeat 0 0);
		.inner {overflow: hidden}
		.inner > div {width: 420px; float: left; background:#fff;}
		.inner > div + div {margin-left: 30px;} 

		// 행사일정
		.calendar-zone {
			position: relative;  padding:60px 20px 0;  height: 330px;
			.tit {font-size: 23px; font-family: $font2; color:#2b2b2b; position: absolute; left:28px; top: 22px}
			.btn-more {
				position: absolute; right: 20px; top:17px;border:1px solid #adc1d1;
				a {display:inline-block; width:35px;height: 35px;@include background("usclib/main/icon_more.png",no-repeat 50% 50%); text-indent: -999em;}
			}
			.indicator {
				position: absolute; right: 74px; top:23px;
				.month {
					font-size: 22px; font-family: $font3; color:#2b2b2b; padding:0 28px;
					em {color:#ec560c;}
				}
				.btn-arrow {
					position: absolute; top:0; 
					button {width: 12px; height: 23px; text-indent: -999em;}
					&.btn-prev{
						left:0; top:0;
						button {@include background("usclib/main/icon_prev1.png",no-repeat 50% 50%);}
					}
					&.btn-next {
						right:0; top:0;
						button {@include background("usclib/main/icon_next1.png",no-repeat 50% 50%);}
					}
				}
			}
			.calendar {
				.tbl {
					width: 100%; table-layout: fixed; 
					thead {
						th {font-size: 15px; color:#484848; font-family: $font2;}
						th:first-child {color:#dc1010;}
					}
					tbody {
						td {font-size: 15px; color:#484848; text-align: center; padding:4px 0; height: 24px;}
						a {display:inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; color:#fff; background:#136dc1; border-radius: 100px;}
						.today {display:inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; color:#fff; background:#fb5706; border-radius: 100px;}
						tr:first-child td {padding-top:11px;}
					}
				}
				.txt {margin-top: 10px; color:#787878; font-size: 15px; font-family: $font2; text-align: center;}
				.noti {
					background: #eff0f1; text-align: center; height: 30px; line-height: 30px; margin-top: 8px;
					p {display: inline-block; font-size: 16px; color:#484848; font-family: $font2;}
					p + p {margin-left: 20px;}
					.bullet {
						display: inline-block; width: 16px; height: 16px; border-radius: 100px; text-indent: -999em; margin-right: 6px; vertical-align: middle; position: relative; top:-2px;
						&.today {background: #fb5706}
						&.event {background: #136dc1}
					}
				}
			}
		}
		// 인기/신간도서
		.books-zone	{
			position: relative; padding:75px 20px 0; height: 330px;
			& > ul[role=tablist] {
				position: absolute; left:20px; top:22px;
				&:after {display:block; clear:both; content:""}
				button {
					font-size: 23px; color:#c7c1bf; font-family: $font2;
					&[aria-selected=true] {color:#2b2b2b; font-family: $font3;}
				}
				li {float: left;}
				li + li:before {display: inline-block; content: ""; width: 19px; height: 19px; @include background("usclib/main/icon_arrow.png",no-repeat 50% 50%);margin:0 15px; vertical-align: middle; position: relative; top:-3px;}
			}
			.tab-contents {
				.tab-cont {display: none}
				.thumb {
					display:block; overflow:hidden; width: 128px; height: 177px; margin:0 auto;
					img {width: 100%; height: 100%;}
				}
				.name {display: block; overflow:hidden; text-align: center; font-size: 16px; color:#484848; margin-top: 12px; text-overflow:ellipsis; white-space: nowrap; }
			}
			.slick-dots {
				text-align: center; margin-top: 9px;
				li {display: inline-block; margin-left:4px;}
				li:first-child {margin-left: 0;}
				button {width: 14px; height: 14px; background:#c7c1bf; border-radius: 100px; text-indent: -999em;}
				.slick-active button {background:#136dc1;}
			}
		}
		// 팝업존
		.popup-zone {
			position: relative; height: 330px;padding:70px 13px 0; 
			.tit {font-family: $font2; font-size: 23px; color:#2b2b2b; position: absolute; left:15px; top:22px;}
			a {
				display: block; overflow: hidden; width: 100%; height: 250px; 
				img {width: 100%; height: 100%;}
			}
		}

		.books-zone .indicator, .popup-zone .indicator {
			border:1px solid #adc1d1; overflow: hidden; position: absolute; right: 19px; top:17px; height: 37px;
			p[class^=btn-] {
				float: left; 
				& + p {border-left: 1px solid #adc1d1;}
				* {display: inline-block; width:35px;height: 35px; text-indent: -999em;}
				&.btn-prev * {@include background("usclib/main/icon_prev2.png",no-repeat 50% 50%);}
				&.btn-next * {@include background("usclib/main/icon_next2.png",no-repeat 50% 50%);}
				&.btn-more * {@include background("usclib/main/icon_more.png",no-repeat 50% 50%);}
			} 
		}

	}
}


@keyframes arrowMove {
	0% {-ms-transform:translateX(0px); -webkit-transform:translateX(0px); -moz-transform:translateX(0px);transform:translateX(0px);}
	40% {-ms-transform:translateX(50px); -webkit-transform:translateX(50px); -moz-transform:translateX(50px); transform:translateX(50px);}
	100% {-ms-transform:translateX(0px); -webkit-transform:translateX(0px); -moz-transform:translateX(0px);transform:translateX(0px);}
}





















/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */




















/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.usclib #header {
	.header-bottom {
		.header-utilegroup .header-utile {
			.icon-login:before {@include background("usc/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
			.icon-join:before {@include background("usc/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
		}
	}
	#gnb .category {display: none}
}
#wrap.usclib #gnb {
	.gnb {
		h2 a {
			line-height: 1.1; overflow:hidden; 
			&:before {display: block; content: ""; width: 100%; margin-top: 1.8rem;}
		}
		& > li:nth-child(1) h2 a:before {@include background("usc/icon_gnb_m1.png",no-repeat 50% 0); background-size:auto 2.1rem; height: 2.1rem; margin-bottom: 0.8rem;}
		& > li:nth-child(2) h2 a:before {@include background("usc/icon_gnb_m2.png",no-repeat 50% 0); background-size:auto 2.3rem; height: 2.3rem; margin-bottom: 0.8rem;}
		& > li:nth-child(3) h2 a:before {@include background("usc/icon_gnb_m3.png",no-repeat 50% 0); background-size:auto 2rem; height: 2rem;margin-bottom: 0.9rem;}
		& > li:nth-child(4) h2 a:before {@include background("usc/icon_gnb_m4.png",no-repeat 50% 0); background-size:auto 1.8rem; height: 1.8rem; margin-bottom: 0.9rem;}
		& > li:nth-child(5) h2 a:before {@include background("usc/icon_gnb_m5.png",no-repeat 50% 0); background-size:auto 1.6rem; height: 1.6rem; margin-bottom: 1rem;}	

		& > li:nth-child(1) h2 a:hover:before, 
		& > li:nth-child(1) h2 a.clicked:before, 
		& > li:nth-child(1) h2 a.current:before {@include background("usc/icon_gnb_m1_over.png",no-repeat 50% 0); background-size:auto 2.1rem; height: 2.1rem; margin-bottom: 0.8rem;}
		& > li:nth-child(2) h2 a:hover:before, 
		& > li:nth-child(2) h2 a.clicked:before, 
		& > li:nth-child(2) h2 a.current:before {@include background("usc/icon_gnb_m2_over.png",no-repeat 50% 0); background-size:auto 2.3rem; height: 2.3rem; margin-bottom: 0.8rem;}
		& > li:nth-child(3) h2 a:hover:before, 
		& > li:nth-child(3) h2 a.clicked:before, 
		& > li:nth-child(3) h2 a.current:before {@include background("usc/icon_gnb_m3_over.png",no-repeat 50% 0); background-size:auto 2rem; height: 2rem;margin-bottom: 0.9rem;}
		& > li:nth-child(4) h2 a:hover:before, 
		& > li:nth-child(4) h2 a.clicked:before, 
		& > li:nth-child(4) h2 a.current:before {@include background("usc/icon_gnb_m4_over.png",no-repeat 50% 0); background-size:auto 1.8rem; height: 1.8rem; margin-bottom: 0.9rem;}
		& > li:nth-child(5) h2 a:hover:before, 
		& > li:nth-child(5) h2 a.clicked:before, 
		& > li:nth-child(5) h2 a.current:before {@include background("usc/icon_gnb_m5_over.png",no-repeat 50% 0); background-size:auto 1.6rem; height: 1.6rem; margin-bottom: 1rem;}
	}
}
#wrap.usclib #footer {
	.footer-selectgroup .footer-comp-select dt button {background-size: auto 100%;}
	.footer-notice .number .call {background-size: 100% 100%;}
	.footer-utilegroup .footer-utile {color:#d5d5d5;}
	.footer-utilegroup .footer-addr strong {color:#d5d5d5;}
	.footer-utilegroup .footer-utile a {color:#d5d5d5;}
	.footer-utilegroup .footer-utile a strong {color:#fff;}
}

/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usclib #container.main {
	.inner {width: 100%;}

	// 메인 비주얼
	.main-visual-zone {
		.slider {
			min-width: inherit; height: 50rem;
			.slide {
				div[class$=bg] { height: 50rem;}
				.pcbg {display: none;}
				.mobg {display: block;}
			}
		}
		.search {
			bottom:inherit; top:15rem;padding:0 1.1rem;
			.form {
				display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; width: 100%; background:0; overflow:hidden; padding:0.6rem 0;
				dt {
					background:#fff; border-top-left-radius: 100px; border-bottom-left-radius: 100px; width: 8rem;
					label {font-size: 1.4rem; line-height: 4.6rem; width: 7.4rem;}
					&:after {line-height: 4.6rem; font-size: 1.4rem;}
				}
				dd {
					-webkit-flex:1; flex:1; padding-right: 3rem; 
					input {height: 4.6rem;background:#fff; font-size: 1.3rem; padding-left:1rem;}
					button {width: 5.8rem; height: 5.8rem; background-size: 50% 50%; right: 0}
				}
			}
			.btn-position {
				margin-top: 1.2rem;
				.btn-detailsearch {
					font-size: 1.3rem; height: 3.3rem; line-height: 3.3rem; width: 13.3rem; background:#0a2738; 
					&:before {width: 1.7rem; background-size: 100% auto; position: relative; top: -2px;}
				}
			}
		}
	}
	// board
	.main-board-zone {
		&:before {display: none}
		.tab {
			a {font-size: 1.3rem; height: 3.6rem; line-height: 3.6rem;}
		}
		.tab-cont {height: 32rem;}

		// 공지사항
		#boardTab1 {
			padding:1.6rem 1.4rem 0;
			.l-left {
				width: 100%; float: none; height: 13rem;
				.thumb {width:9.6rem; height: 13rem;}
				dl {
					padding:0 0 0 11rem; height: 13rem;
					&:after {display:none}
					dt {
						.flag {line-height: 2rem; font-size: 1.1rem; width: 5.2rem; vertical-align: top}
						font-size: 1.3rem; line-height: 2rem; 
					}
					.txt {font-size: 1rem; line-height: 1.6rem; max-height: 6.4rem; margin-top: 1rem; padding-left: 0.4rem; -webkit-line-clamp: 4;}
					.date {
						font-size: 1rem; left:11rem; padding-left: 0.4rem;
						&:before {width: 1.2rem; height: 1.2rem; margin-right: 0.5rem; background-size: 100% 100%;}
					}
				}
			}
			.l-right {
				width: 100%; float: none; padding-left: 0; padding-top: 1.5rem; margin-top: 1.7rem; border-top: 1px solid #d6d5d5;
				.cont {font-size: 1.1rem; line-height: 1.5rem; max-width: 60%;}
				.date {font-size: 1.1rem; line-height: 1.5rem;}
				.flag {font-size: 1rem; width: 4.4rem; line-height: 1.5rem;}
				li + li {margin-top: 0.6rem;}
				li:first-child {margin-top: 0}
				li:before {margin-right: 0.8rem; width: 2px; height: 2px;}
			}
		}
		// 문화강좌
		#boardTab2 {
			padding: 1rem 1rem 0.5rem; 
			.lst-culture {
				& > li {
					width: 50%; height: 15.25rem;
					&:nth-child(odd) {padding:1rem 0.9rem 1.3rem 0; border-left: 0;}
					&:nth-child(even) {padding:1rem 0 1.3rem 0.9rem; border-left: 1px solid #d6d5d5;}
					&:nth-child(2) ~ li {border-top: 1px solid #d6d5d5;}
				}
				h3.tit {font-size: 1.3rem; }
				.lst {
					font-size: 1rem; line-height:1.4rem; 
					&:before {width: 2px; height: 2px; }
					li {margin-top: 0.3rem; padding-left: 1rem; }
				}
				.btn {
					width: 100%; margin-top: 0.6rem;
					.soldout {font-size: 1.1rem; line-height: 2.2rem; }
					a {font-size: 1.1rem; line-height: 2.2rem; border:1px solid #707070;}
				}
			}
		}
		// 자주하는 질문
		#boardTab3 {
			padding:2.5rem 1.5rem 0;
			.l-left {
				float: none; width: 100%; border-right:0; height: 13rem;
				.tit {font-size: 1.3rem;}
				.cont {font-size: 1.1rem; line-height: 1.6rem;margin-top: 1.3rem; padding-right: 0; max-height:9.6rem; }
			}
			.l-right {
				float: none; width: 100%; height: auto; margin-top: 1.2rem;  padding-top: 1.4rem;
				border-top: 1px solid #d6d5d5;
				.lst {
					li {
						padding-left: 0.5rem;
						&:before {width: 2px; height: 2px; margin-right: 1rem;}
						a {font-size: 1.1rem; line-height: 2.1rem; max-width: 95%}
					}
				}
			}
		}
		// 문의게시판
		#boardTab4 {
			padding:2.5rem 1.5rem 0;
			.l-left {
				float: none; width: 100%; border-right:0; height: 13rem;
				.tit {font-size: 1.3rem;}
				.cont {font-size: 1.1rem; line-height: 1.6rem;margin-top: 1.3rem; padding-right: 0; max-height:8rem; }
				.date {
					font-size: 1.1rem; line-height: 1.6rem;
					&:before {width: 1.2rem; height: 1.2rem; margin-right: 0.5rem; background-size: 100% 100%;}
				}
			}
			.l-right {
				float: none; width: 100%; height: auto; margin-top: 1.2rem;  padding-top: 1.4rem;
				border-top: 1px solid #d6d5d5;
				.lst {
					li {
						padding-left: 0.5rem;
						&:before {width: 2px; height: 2px; margin-right: 1rem;}
						.cont {font-size: 1.1rem; line-height: 2.1rem; max-width: 75%}
						.date {font-size: 1.1rem; line-height: 2.1rem; }

					}
				}
			}
		}
	}
	// 자주찾는 서비스
	.main-favorit-zone {
		padding:0.8rem 1rem 2rem;
		.tit {
			font-size: 1.5rem; line-height: 2rem;  padding-left: 0.9rem;
			&:after {width: 5.4rem; height: 1.2rem; background-size: 100% auto; margin-top:0.5rem;}
		}
		.lst-favorit-service {
			padding-left: 10rem;
			a {
				&:after {height: 7.2rem; top: 0.8rem;}
				.icon {
					width: 6rem; height: 6rem; 
					background-size: 100% auto !important;
				}
				.name {font-size: 1.1rem; margin-top: 0.9rem;}
				&:hover {
					.icon img {top:-6rem;}
				}
			}
		}

	}
	// 이달의 휴관일
	.main-closedays-zone {
		padding:0 1rem;height: 4.4rem;
		.btn-librarian {display: none;} 
		.closeday-zone  {
			.tit {line-height: 4.4rem; font-size: 1.5rem;}
			.indicator {
				margin-left: 1rem; 
				.month {
					padding:0 1.5rem; line-height: 4.4rem; font-size: 1.7rem;  
					em {font-size: 2rem;}
				}
				.btn-arrow {
					top:0; margin-top: 0;
					button {width: 0.8rem; height: 4.4rem; background-size: 100% auto !important;}
					.btn-prev button {@include background("usclib/main/icon_prev1_m.png",no-repeat 50% 50%);}
					.btn-next button {@include background("usclib/main/icon_next1_m.png",no-repeat 50% 50%);}
				}
			}		
			.closeday {
				margin-left: 0; float: right; margin-top: 0.8rem;
				li {width: 2.8rem; height: 2.8rem; line-height: 2.8rem; font-size: 1.2rem; margin-left: 0.6rem;}
			}
		}
	}
	// etc
	.main-etc-zone {
		padding:2.3rem 2.3rem 3.3rem;
		.inner > div {width: 100%; float: none;}
		.inner > div + div {margin-left: 0; margin-top: 1.4rem;}

		.popup-zone {
			padding:4.5rem 1rem 1.1rem;height: auto;
			.tit {font-size: 1.5rem; left:1.7rem; top:1.3rem;}
		}
		.books-zone {
			padding:5rem 1rem 1.1rem; height: auto;
			& > ul[role=tablist] {
				left:1.7rem; top:1.3rem;
				li + li:before {margin:0 0.9rem; width: 1.2rem; background-size: 100% auto;}
				button {font-size: 1.5rem; }
			}
			.slick-dots {
				margin-top: 1rem;
				li + li {margin-left: 0.5rem;}
				button {width: 1rem; height: 1rem;}
			}
		}
		.books-zone .indicator, .popup-zone .indicator {
			height: auto; right: 1rem; top:1.1rem; height: 2.3rem; box-sizing: content-box;
			p[class^=btn-] * {width: 2.3rem; height: 2.3rem; background-size: 40% 40% !important;}
		}
		.calendar-zone {
			padding:4.3rem 1rem 1rem;  height: auto;
			.tit {font-size: 1.5rem; left:1.7rem; top:1.4rem; line-height:1.5rem;}
			.btn-more {
				right: 1rem; top:1.1rem;
				a {width: 2.3rem; height: 2.3rem; background-size: 40% 40%;}
			}
			.indicator {
				top:1.4rem; right:5rem;
				.month {font-family: $font3; font-size: 1.4rem; padding:0 1.8rem;}
				.btn-arrow {
					button {width: 0.8rem; height: 1.5rem; background-size: 100% auto !important;}
					&.btn-prev button {@include background("usclib/main/icon_prev1_m.png",no-repeat 50% 50%);}
					&.btn-next button {@include background("usclib/main/icon_next1_m.png",no-repeat 50% 50%);}
				}
			}
			.calendar {
				.noti {
					line-height: 2rem;height: 2rem; margin-top: 1rem;
					p {font-size: 1.1rem; }
					.bullet {width: 1.1rem; height: 1.1rem;}
				}
				.txt {font-size: 1rem; }
				.tbl {
					th {font-size: 1rem;}
					td {font-size: 1rem; height: 1.6rem;}
					a {width: 1.6rem; height: 1.6rem; line-height:1.6rem;}
					.today {width: 1.6rem; height: 1.6rem; line-height:1.6rem;}

				}
			}
		}
	}
}
//-------------------------------------------------------------------------------
}
@media (max-width:768px){
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usclib #container.main {
	// 이달의 휴관일
	.main-closedays-zone {
		height: 10.6vw;
		.closeday-zone  {
			.tit {line-height: 10.6vw; font-size:3.7vw;}
			.indicator {
				margin-left: 4.4vw; 
				.month {
					padding:0 1.5rem; line-height: 10.6vw; font-size: 4.1vw;
					em {font-size: 4.8vw;}
				}
				.btn-arrow {
					width: 1.9vw; height: 10.6vw; background-size: 100% auto;
					button {height: 10.6vw;}
				}
			}		
			.closeday {
				margin-left: 0; float: right; margin-top: 2vw;
				li {width: 6.7vw; height: 6.7vw; line-height:6.7vw; font-size: 2.9vw; margin-left: 2vw;}
			}
		}
	}
}
//-------------------------------------------------------------------------------
}
@media (max-width:600px){}
@media (max-width:321px){}