@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
@media (min-width:1025px){
	body.pc .usclib #header {
		.header-middle .title a {width: 224px; height: 52px; background:url("../../static/images/usclib/img_logo.png") no-repeat 50% 50%;}
		.header-bottom .sitemap {background: #3f9a82}
		&.header-type2 #gnb {
			h2.over a:before,
			h2 a:hover:before {background: #1058a8; }
			h2.over a:after,
			h2 a:hover:after {border-color:#1058a8;}
			p a:hover {background: #3cb7cd;}
			h3 a:before{background: #1e4363;}
		}

		&.header-type2.open {border-bottom-color:#1058a8;}
		&.header-type2.open .header-bottom {border-bottom-color: #54c2d8;}
	}
	body.pc .usclib #gnb {
		margin-left: 330px;
		h2 a {width: 150px}
		.depth2menu {width: 226px; height: 420px; padding-left: 36px;}
		.gnb > li:nth-child(1) .depth2menu {left:0;}
		.gnb > li:nth-child(2) .depth2menu {left:190px;}
		.gnb > li:nth-child(3) .depth2menu {left:416px;}
		.gnb > li:nth-child(4) .depth2menu {left:642px}
		.gnb > li:nth-child(5) .depth2menu {left:868px}
		.gnb > li:nth-child(6) .depth2menu {left:1094px}
		.gnb > li:nth-child(1) .depth2menu {width:190px; padding-left: 0}
	}
}
#wrap.usclib #footer {
	background:#364550;
	.btn-gototop a {background:#4f4f4f;}
	.footer-selectgroup {
		.footer-comp-select {
			dt{
				button {background:#263038 url("../../static/images/usclib/form_select.png") no-repeat 100% 50%; border-color:#263038; color:#fff;}
			}
		}
	}
	.footer-utilegroup {
		color:#a9a9a9; padding-left:0;
		.footer-utile {
			a {color:rgba(256,256,256,0.7);}
		}
		.footer-addr {
			strong {color:#fff;}
		}
	}
	.footer-notice {
		.number {
			color:#c0e6f1;
			.call {@include background("usclib/icon_footer_call.png",no-repeat 50% 50%);}
		}
		.txt {color:#bababa;}
	}
}
#wrap.usclib #container {
	padding-top: 130px;
	&:before {top:315px;}
	.top-visual-zone p {width:1320px; height:185px; margin:0 auto; @include background("commonbg/img_usclibtxt.png",no-repeat 0 50%);}
}
#wrap.usclib #lnb {
	.title-depth h2 {background:#336ac0;}
	.menu {
		h2 a {
			&.open, &:hover {
				background:#3f889a;
				&:after {background-color: #155764;}
			}
		}
		.smallmenu {
			ul {background:#eff9fe;}
			a {
				&[aria-current=page], &:hover{
					&:before {@include background("usclib/bul_lnb.png",no-repeat 50% 50%);}
				}
			}
		}
	}
}


/* 통합예약 홈페이지 */
@media (min-width:1025px){
	body.pc .reservation #header {
		.header-middle {
			border-bottom: 1px solid #dddbdb;
			.title {
				top:20px;
				a {width: 281px; height: 51px; background:url("../../static/images/reservation/img_logo.png") no-repeat 50% 50%;}
			}
			.comp-search {
				.form {border-color: #1667c1;}
				& > button {background:#1667c1;}
			}
		}
		.header-bottom {
			background:#fff; border-top: 1px solid #c2c0bf;
			.sitemap {background: #1058a8}
		}
		&.header-type2 #gnb {
			p a {background:#ffeda9;}

			h2.over a:before,
			h2 a:hover:before {background: #f0412c; }
			h2.over a:after,
			h2 a:hover:after {border-color:#f0412c;}
			p a:hover {background: #f27405;}
			h3 a:before{background: #1e4363;}
		}

		&.header-type2.open {border-bottom-color:#f27405;}
		&.header-type2.open .header-bottom {border-bottom-color: #ff9900;}
	}
	body.pc .reservation #gnb {
		margin-left: 390px;
		h2 a {width: 170px}
		.depth2menu {width: 272px; height: 230px; padding-left: 40px;}
		.gnb > li:nth-child(1) .depth2menu {left:0;}
		.gnb > li:nth-child(2) .depth2menu {left:232px;}
		.gnb > li:nth-child(3) .depth2menu {left:504px}
		.gnb > li:nth-child(4) .depth2menu {left:776px}
		.gnb > li:nth-child(5) .depth2menu {left:1048px}
		.gnb > li:nth-child(1) .depth2menu {width:232px; padding-left: 0}
	}
}
#wrap.reservation #footer {
	height: 290px;
	.footer-utilegroup {
		padding-left: 0;
		.footer-utile a strong,
		.footer-addr li strong {color:#333;}
	}
}
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
#wrap.usclib {
	*[class^=heading] {
		&[class*=-h3]:before {width:27px; @include background("usclib/bul_h3.png",no-repeat 50% 50%);}
		&[class*=-h4]:before {@include background("usclib/bul_h4.png",no-repeat 50% 50%);}
	}
	h4[class^=comp-lst],
	h5[class^=comp-lst],
	p[class^=comp-lst] {
		&[class*=_hyphen] {
			&:before {background:#336ac0;}
			&[class*=_txt]:before {background:none;}
		}
	}
	*[class^=comp-lst]{
		&[class*=_hyphen] {
			& > li:before {background:#336ac0;}
			&[class*=_txt] > li:before {background:none;}
		}
	}



	*[class^=comm-btn] {
		&[class*=_download1]:before {@include background("usclib/icon_download1.png",no-repeat 50% 50%);}
	}



	*[class^=comp-tab] {
		a[aria-selected=true]:after {background:#336ac0;}

		&[class*=_row] {
			a[aria-selected=true] span {color:#336ac0;}
		}
	}
	*[class^=comp-iconbox] {
		border-top-color:#336ac0;
		&:before {background:#336ac0;}
	}


	.top-search-zone {
		&.bgcolor {background:#eff9fe; }
	}
	.sorting-lst {
		button[class^=btn-type_] { 
			&[aria-selected=true] {
				border:1px solid #336ac0;
				&[class*=_list] {background-color:#336ac0}
				&[class*=_gallery] {background-color:#336ac0}
			}
		}
	}

}
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usclib #container.main {
	.inner {width: 1320px; margin:0 auto;}
	// 메인 비주얼 슬라이드 & 검색
	.main-visual-zone {
		position: relative; 
		.slider {
			position: relative; height: 350px; overflow:hidden; min-width: 1320px;
			.slide {
				div[class$=bg] {width: 100%; height: 350px;}
				.mobg {display: none;}
				img {display: none;}
			}
			.slick-arrow {
				position: absolute; right: 0; width: 70px; height: 74px; text-indent: -999em; z-index: 1; 
				&:after {display: inline-block; content: ""; width: 22px; height: 43px;}
				&.slick-next {top: 107px; background:rgba(0,0,0,0.3) url("../../static/images/usclib/main/icon_next.png") no-repeat 50% 50%;}
				&.slick-prev {top: 182px; background:rgba(0,0,0,0.3) url("../../static/images/usclib/main/icon_prev.png") no-repeat 50% 50%; }
			}
		}
		.search {
			position: absolute; left:0; bottom:0; width: 100%;
			.inner {padding-bottom: 30px;}
			.form {
				position: relative; width: 538px; background:#fff; border-radius: 100px;
				&:after{display:block; clear:both; content:""}
				dt {
					float: left; width: 108px; padding-right: 7px; box-sizing: border-box; position: relative;
					&:after {display: inline-block; vertical-align: middle; content: "/"; position: absolute; right: 0; top:0; line-height: 55px;}
					label {display: inline-block; width: 100px; color:#343434; font-size: 17px; font-family: $font0; line-height:55px; text-align: center;}
				}
				dd {
					float: left; width:430px; position: relative;
					input {width: 100%; height: 55px; font-size: 16px; padding:0 40px 0 15px; font-family: $font0; border-top-right-radius: 100px; border-bottom-right-radius: 100px; box-sizing: border-box;}
					button {position: absolute; right:-35px; top:-8px; width: 70px; height: 70px; background:#3f9a82 url("../../static/images/usclib/main/icon_search.png") no-repeat 50% 50%; text-indent: -999em; border-radius: 100px;}
				}
			}
			.btn-position {
				margin-top: 10px;
				.btn-detailsearch {
					display: inline-block; width: 160px; height: 40px; font-size: 16px; font-family: $font0; color:#fff; border-radius: 100px; text-align: center; line-height: 40px;
					-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;
					&:before {display: inline-block; content: "";vertical-align: middle; width: 21px; height: 15px; @include background("usclib/main/icon_detailsearch.png",no-repeat 50% 50%); margin-right: 5px; }
					&:hover {background:#0a2738;}
				}
			}
		}
	}
	// 게시판 영역
	.main-board-zone {
		background: #eff0f1; position: relative;
		&:before {display: block; position: absolute; left:0; top:0; background:#016dae; content: ""; height: 55px; width: 100%;}
		.tab {
			background:#016dae; position: relative; z-index: 1;
			&:after {display:block; clear:both; content:""}
			li {float:  left; width: 25%;}
			a {display: block; font-size: 22px; line-height: 55px; height: 55px; font-family: $font2; color:#fff; text-align: center;}
			a[aria-selected=true], a:hover {background:#fff; color:#222;}
		}
		.tab-cont {display: none; overflow:hidden; height: 230px; background: #fff; box-shadow:0 5px 10px rgba(24,24,24,0.1); }
		//공지사항
		#boardTab1 {
			padding:20px; 
			.flag {
				color:#fff;
				&.notice {background:#336ac0;}
				&.culture {background:#0abaa6;}
				&.event {background:#fe6c00;}
				&.data {background:#b419be;}
			}
			.l-left {
				float: left; width:620px; height: 190px;
				.thumb {
					float: left; overflow:hidden; width: 145px; height: 194px; border:1px solid #d6d5d5; 
					img {width: 100%; height: 100%;}
				}
				dl{
					height: 190px; position: relative; padding:0 30px 0 160px; 
					&:after{display: block; position: absolute; right: 0; top:4px; width: 1px; height: 188px; content: ""; background: #d6d5d5;}
					dt {
						font-size: 20px; font-family: $font2; color:#222; line-height: 30px;
						.flag {width: 80px; display: inline-block; line-height: 30px; font-size: 17px; text-align: center; border-radius: 100px; margin-right: 5px;}
					}
					.txt {
						display:-webkit-box; overflow:hidden; font-size: 16px; line-height: 24px; max-height: 120px; margin-top: 14px;
						-webkit-line-clamp:5; -webkit-box-orient:vertical; text-overflow:ellipsis; color:#666; padding-left: 7px;
					}
					.date {
						position: absolute; left:160px; bottom:0; color:#666; font-size: 16px;
						&:before {display: inline-block; content: ""; width: 18px; height: 18px; @include background("usclib/main/icon_date.png",no-repeat 50% 50%); margin-right: 9px; vertical-align: middle; position: relative; top:-1px;}
					}
				}
			}
			.l-right {
				float: left; width: 640px; padding-left: 20px; padding-top: 5px;
				li:before {display: inline-block; vertical-align: middle; content: ""; width: 4px; height: 4px; background:#acacac; margin-right: 10px;}
				li + li {margin-top: 10px;}
				.flag {display: inline-block; width: 68px; line-height: 22px; color:#fff; border-radius: 100px; text-align: center; vertical-align: middle;}
				.cont {display: inline-block; vertical-align: middle; overflow:hidden; max-width: 420px; padding-left: 10px; color:#666; font-size: 16px; line-height: 22px; text-overflow:ellipsis; white-space: nowrap;}
				.date {display: inline-block; float: right; color:#666; font-size: 16px; line-height: 22px;}
			}
		}
		// 문화강좌
		#boardTab2 {
			padding-top:15px;
			.lst-culture {
				&:after {display:block; clear:both; content:""}
				& > li {float: left; width: 25%; padding:0 17px; box-sizing: border-box; letter-spacing: -0.5px;}
				& > li + li {border-left: 1px solid #d6d5d5;}
				h3.tit {font-family: $font2; font-size: 20px; color:#222; text-align: center;}
				.lst {
					font-size: 16px; color:#666; line-height: 22px; margin-top: 13px;
					.tit {color:#222; font-family: $font2;}
					.total {color:#df1111;}
					.current {color:#016dae;}
					li {
						margin-top: 10px; padding-left: 14px; position: relative;
						&:first-child {margin-top: 0}
						&:last-child .tit {display: block;}
						&:before {display: inline-block; content: ""; width: 4px;height: 4px; background:#acacac; position: absolute; left:0; top:9px;}
					}
				}
				.btn {
					width: 278px; margin:12px auto 0;
					.soldout {display: block; text-align: center; font-size: 16px; color:#909090; line-height: 32px; border:1px solid #e2e1e1; background:#eff0f1; border-radius: 4px;}
					a {display: block; text-align: center; font-size: 16px; color:#fff; line-height: 34px; background:#707070; border-radius: 4px;}
				}
			}
		}
		// 자주하는 질문
		#boardTab3 {
			padding:20px 25px 20px;
			.l-left {
				float: left; width:50%; height: 190px; border-right:1px solid #d6d5d5;
				.tit {font-size: 20px; color:#222; font-family: $font2;}
				.cont {
					display:-webkit-box; overflow:hidden; font-size: 16px; line-height: 24px; max-height: 144px; margin-top: 17px; padding-right: 10px; -webkit-line-clamp:6; -webkit-box-orient:vertical; text-overflow:ellipsis; color:#666;
				}
			}
			.l-right {
				float: right; width:50%; height: 190px;
				.lst {
					li {padding-left: 20px;}
					li a {display: inline-block; overflow:hidden; max-width: 90%; line-height: 32px; color:#666; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
					li:before {display: inline-block; content: ""; width: 4px; height: 4px; background:#acacac; vertical-align: middle; margin-right: 15px;}
				}
			}
		}
		// 문의게시판
		#boardTab4 {
			padding:20px 25px 20px;
			.l-left {
				float: left; position: relative; width:50%; height: 190px; border-right:1px solid #d6d5d5;
				.tit {font-size: 20px; color:#222; font-family: $font2;}
				.cont {
					display:-webkit-box; overflow:hidden; font-size: 16px; line-height: 24px; max-height: 120px; margin-top: 17px; padding-right: 10px; -webkit-line-clamp:5; -webkit-box-orient:vertical; text-overflow:ellipsis; color:#666;
				}
				.date {
					position: absolute; left:0; bottom:0; color:#666; font-size: 16px;
					&:before {display: inline-block; content: ""; width: 18px; height: 18px; @include background("usclib/main/icon_date.png",no-repeat 50% 50%); margin-right: 9px; vertical-align: middle; position: relative; top:-1px;}
				}
			}
			.l-right {
				float: right; width:50%; height: 190px;
				.lst {
					li {padding-left: 20px;}
					li:before {display: inline-block; content: ""; width: 4px; height: 4px; background:#acacac; vertical-align: middle; margin-right: 15px;}
					.cont {display: inline-block; overflow:hidden; max-width: 80%; line-height: 32px; color:#666; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle;}
					.date {font-size: 16px; color:#666; float: right; line-height: 32px;	}
				}
			}
		}
	}
	// 즐겨찾는 메뉴 영역
	.main-favorit-zone {
		background: #eff0f1; padding:24px 0 50px; overflow:hidden;
		.inner {position: relative;}
		.tit {
			position:absolute; left:0; top:0; font-size: 23px; color:#2b2b2b; line-height: 30px; font-family: $font2; padding-top: 20px;
			&:after {display: block; content: ""; width: 81px; height: 19px; @include background("usclib/main/bg_favorit.png",no-repeat 50% 50%); margin-top: 11px;}
		}
		.lst-favorit-service {
			padding-left: 120px;  overflow:hidden;
			li{float: left; position:relative; width: 150px;}
			.slick-slide:last-of-type a:after {display: none;}
			a {
				display: block; position: relative;
				&:after {display: block; content: ""; position: absolute; right:0; top:11px; width: 1px; height: 108px; background:#e2e1e1;}
				.icon {
					display: block; position: relative; width: 90px; height: 90px; overflow: hidden; border-radius: 100px; margin:0 auto; 
					img {position: absolute; left:0; top:0;-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;} 
				}
				.name {display: block; font-size: 17px; text-align: center; color:#555; margin-top: 12px;}
			}
			a:hover {
				.icon img {top:-90px;}				
				.name {font-family: $font2;}
			}
		}
	}
	// 휴관일
	.main-closedays-zone {
		height: 70px; background: #fff; 
		.inner {position: relative;}
		.closeday-zone {
			overflow:hidden;
			.tit {
				float: left;font-family: $font2; font-size: 23px; color:#2b2b2b; line-height: 70px;
				strong {color:#dc1010;}
			}
			.indicator {
				overflow:hidden; position: relative; float: left;margin-left: 26px; 
				.month {
					font-family: $font3; color:#2b2b2b; font-size: 26px; padding:0 30px; line-height: 70px;
					em {font-size: 30px;}
				}
				.btn-arrow {
					position: absolute; top:50%; margin-top: -12px;
					button {text-indent: -999em; width: 12px; height: 23px; }
					&.btn-prev {
						left:0;
						button{ @include background("usclib/main/icon_prev1.png",no-repeat 50% 50%);}
					}
					&.btn-next{ 
						right:0; 
						button {@include background("usclib/main/icon_next1.png",no-repeat 50% 50%);}
					}
				}
			}
			.closeday {
				float: left; overflow: hidden; width:540px; margin-top: 14px; margin-left: 20px;
				li {width: 42px !important; height: 42px; line-height: 42px; color:#fff; text-align: center; font-size: 18px; background:#36659f; margin-left: 12px; border-radius: 100px;}
				li:first-child {margin-left: 0;}
			}
		}
		.btn-librarian {
			position: absolute; right: 80px; top:0; background:#3f9a82; border-top-left-radius: 100px; border-bottom-left-radius: 100px; 
			a {
				display: inline-block; position: relative; line-height: 70px; color:#fff; font-size: 20px; font-family: $font2; padding:0 48px 0 125px; @include background("usclib/main/icon_librarian.png",no-repeat 29px 50%);
				&:before {display: block; position: absolute; right:-80px; top:9px; content: ""; width: 102px; height: 42px; background:#fff; border:5px solid #27738c;}
				&:after {display: block; position: absolute; right:-18px; top:50%; margin-top: -9px; content: ""; width: 36px; height: 18px; @include background("usclib/main/bg_librarian_arrow.png",no-repeat 50% 50%); 
					-ms-animation: arrowMove 1s ease-out; -webkit-animation: arrowMove 1s ease-out; -moz-animation: arrowMove 1s ease-out; animation: arrowMove 1s ease-out;
					-webkit-animation-iteration-count:infinite; -ms-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; animation-iteration-count:infinite; 
				}
			}

		}
	}
	// ETC 영역
	.main-etc-zone {
		padding:40px 0; @include background("usclib/main/bg_etczone.png", repeat 0 0);
		.inner {overflow: hidden}
		.inner > div {width: 420px; float: left; background:#fff;}
		.inner > div + div {margin-left: 30px;} 

		// 행사일정
		.calendar-zone {
			position: relative;  padding:70px 20px 0;  height: 350px;
			.tit {font-size: 23px; font-family: $font2; color:#2b2b2b; position: absolute; left:28px; top: 22px}
			.btn-more {
				position: absolute; right: 20px; top:17px;border:1px solid #adc1d1;
				a {display:inline-block; width:35px;height: 35px;@include background("usclib/main/icon_more.png",no-repeat 50% 50%); text-indent: -999em;}
			}
			.indicator {
				position: absolute; right: 74px; top:23px;
				.month {
					font-size: 22px; font-family: $font3; color:#2b2b2b; padding:0 28px;
					em {color:#ec560c;}
				}
				.btn-arrow {
					position: absolute; top:0; 
					button {width: 12px; height: 23px; text-indent: -999em;}
					&.btn-prev{
						left:0; top:0;
						button {@include background("usclib/main/icon_prev1.png",no-repeat 50% 50%);}
					}
					&.btn-next {
						right:0; top:0;
						button {@include background("usclib/main/icon_next1.png",no-repeat 50% 50%);}
					}
				}
			}
			.calendar {
				.tbl {
					width: 100%; table-layout: fixed; 
					thead {
						th {font-size: 15px; color:#484848; font-family: $font2;}
						th:first-child {color:#dc1010;}
					}
					tbody {
						td {font-size: 15px; color:#484848; text-align: center; padding:5px 0; height: 24px;}
						a {display:inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; color:#fff; background:#136dc1; border-radius: 100px;}
						.today {display:inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; color:#fff; background:#fb5706; border-radius: 100px;}
						tr:first-child td {padding-top:11px;}
					}
				}
				.txt {margin-top: 10px; color:#787878; font-size: 15px; font-family: $font2; text-align: center;}
				.noti {
					background: #eff0f1; text-align: center; height: 30px; line-height: 30px; margin-top: 8px;
					p {display: inline-block; font-size: 16px; color:#484848; font-family: $font2;}
					p + p {margin-left: 20px;}
					.bullet {
						display: inline-block; width: 16px; height: 16px; border-radius: 100px; text-indent: -999em; margin-right: 6px; vertical-align: middle; position: relative; top:-2px;
						&.today {background: #fb5706}
						&.event {background: #136dc1}
					}
				}
			}
		}
		// 인기/신간도서
		.books-zone	{
			position: relative; padding:75px 20px 0; height: 350px;
			& > ul[role=tablist] {
				position: absolute; left:20px; top:22px;
				&:after {display:block; clear:both; content:""}
				button {
					font-size: 23px; color:#c7c1bf; font-family: $font2;
					&[aria-selected=true] {color:#2b2b2b; font-family: $font3;}
				}
				li {float: left;}
				li + li:before {display: inline-block; content: ""; width: 19px; height: 19px; @include background("usclib/main/icon_arrow.png",no-repeat 50% 50%);margin:0 15px; vertical-align: middle; position: relative; top:-3px;}
			}
			.tab-contents {
				.tab-cont {display: none}
				.thumb {
					display:block; overflow:hidden; width: 128px; height: 177px; margin:0 auto;
					img {width: 100%; height: 100%;}
				}
				.name {display: block; display:-webkit-box; overflow:hidden; max-height: 40px; text-align: center; font-size: 16px; line-height: 20px;  color:#484848; margin-top: 12px; text-overflow:ellipsis;  -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;}
			}
			.slick-dots {
				text-align: center; margin-top: 9px;
				li {display: inline-block; margin-left:4px;}
				li:first-child {margin-left: 0;}
				button {width: 14px; height: 14px; background:#c7c1bf; border-radius: 100px; text-indent: -999em;}
				.slick-active button {background:#136dc1;}
			}
		}
		// 팝업존
		.popup-zone {
			position: relative; height: 350px;padding:80px 13px 0; 
			.tit {font-family: $font2; font-size: 23px; color:#2b2b2b; position: absolute; left:15px; top:22px;}
			a {
				display: block; overflow: hidden; width: 100%; height: 250px; 
				img {width: 100%; height: 100%;}
			}
		}

		.books-zone .indicator, .popup-zone .indicator {
			border:1px solid #adc1d1; overflow: hidden; position: absolute; right: 19px; top:17px; height: 37px;
			p[class^=btn-] {
				float: left; 
				& + p {border-left: 1px solid #adc1d1;}
				* {display: inline-block; width:35px;height: 35px; text-indent: -999em;}
				&.btn-prev * {@include background("usclib/main/icon_prev2.png",no-repeat 50% 50%);}
				&.btn-next * {@include background("usclib/main/icon_next2.png",no-repeat 50% 50%);}
				&.btn-more * {@include background("usclib/main/icon_more.png",no-repeat 50% 50%);}
			} 
		}
	}
}
@keyframes arrowMove {
	0% {-ms-transform:translateX(0px); -webkit-transform:translateX(0px); -moz-transform:translateX(0px);transform:translateX(0px);}
	40% {-ms-transform:translateX(50px); -webkit-transform:translateX(50px); -moz-transform:translateX(50px); transform:translateX(50px);}
	100% {-ms-transform:translateX(0px); -webkit-transform:translateX(0px); -moz-transform:translateX(0px);transform:translateX(0px);}
}
/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 자료검색  */
// 일반검색
.usclib table[class^=tbl-lst] {
	.flag {display: block; position: absolute; left:0; top:0; color:#fff; text-align: center; background:#588681; font-family: $font1; border-radius: 4px}
	.td-btn {
		*[class^=btn-] {display:inline-block; text-align: center; border-radius: 3px; border-width:1px; border-style: solid; font-family: $font2; color:#333; vertical-align: top; box-sizing: border-box}
		.btn-booking,
		.btn-borrow {border-color:#a2b9e0; background:#d4e7f7;}
		.btn-notbooking {border-color:#db91a6; background:#f5ced9;}
		.btn-put {
			border-color:#d2d2d2; background:#ededed;
			&:before {display: inline-block; vertical-align: middle; content: ""; @include background("usclib/subpage/btn_list.png",no-repeat 50% 50%); background-size: 100% 100%;}
		}
	}

	// 목록형
	&[class*=_list] {
		border-bottom: 1px solid #c7c1bf;
		thead th {
			background:#f4f4f4; font-size: 18px; color:#333; height: 44px; border-top: 2px solid #336ac0;
			&:nth-child(1) {width: 340px}
			&:nth-child(2) {width: 115px}
			&:nth-child(3) {width: 150px}
			&:nth-child(4) {width: 80px}
			&:nth-child(5) {width: 100px}
			&:nth-child(6) {width: 225px}
		}
		tbody td {overflow:hidden; height:110px; padding:12px 0; border-top: 1px solid #c7c1bf; box-sizing: border-box;}
		.tdlayout {
			display: table;
			& > div[class^=td-] {display:table-cell; font-size: 15px; color:#333; text-align: center; vertical-align: middle;}
		}

		.td-name {
			width: 340px; padding:0 10px 0 7px; vertical-align: top;
			.name {display: block;  position: relative; padding-left: 68px; font-size: 16px; color:#333; font-family: $font2; line-height: 24px; text-align: left;}
			.flag {width: 58px; line-height: 20px; font-size: 12px;}
			.writer {display:block; font-size: 14px; color:rgba(52,52,52,0.7); line-height: 20px; text-align: left;}
		}
		.td-group {
			width:445px;
			> div[class^=td-] {float: left;}
			> div[class^=td-].td-year {float:right;}
			.tit {display: none;}
		}
		.td-company {width:115px;}
		.td-code {width:150px;}
		.td-category {width:80px; color:#336ac0; font-family: $font3;}
		.td-year {width:100px;}
		.td-btn {
			width:225px;
			*[class^=btn-] {font-size: 16px;  height: 40px; line-height: 38px}
			.btn-notbooking,
			.btn-booking,
			.btn-borrow {width:95px;}
			.btn-put {
				width:195px; margin-top: 5px;
				&:before {width: 19px; height: 16px; margin-right: 5px;}
			}
		}
		.td-thumb {display: none !important}
	}

	// 갤러리형
	&[class*=_gallery] {
		margin-top: -25px;
		thead {display: none;}
		tbody td {padding:25px 20px 20px; border-bottom: 1px solid #c7c1bf;}
		.tdlayout {position: relative; height: 240px; padding-left: 195px;}
		.td-name {
			padding-top: 9px;
			.name {display:block; position: relative; padding-left: 78px; font-size: 20px; font-family: $font2; color:#333;}
			.flag {width: 70px; line-height: 25px; font-size: 15px;}
			.writer {display: block; font-size: 16px; color:#333; margin-top: 12px;}
		}
		.td-group {
			margin-top: 20px; padding:15px 14px; background:#eff0f1; color:#333; font-size: 16px; line-height: 24px;
			> div[class^=td-] {
				float: left;
				&:after {display: inline-block; content: "|"; margin:0 13px;}
			} 
			> div[class^=td-].td-year:after {display: none;}
			> div[class^=td-].td-category {
				float:none; clear:both;
				&:after {display: none}
			}
		}
		.td-category {
			.cont {color:#336ac0; font-family: $font3;}
		}
		.td-thumb {
			position: absolute; left:0; top:0; width: 172px; height: 238px; @include background("usclib/subpage/img_book.png",no-repeat 0 0);
			img {width: 160px; height: 225px;}
		}
		.td-btn {
			margin-top: 35px;
			*[class^=btn-] {font-size: 17px; font-family: $font2; height: 45px; line-height: 43px}
			.btn-booking,
			.btn-notbooking,
			.btn-borrow {width:120px; margin-right: 4px;}
			.btn-put {
				width:145px;
				&:before {width: 21px; height: 17px; margin-right: 8px;}
			}
		}
	}
}
// 상세검색
.usclib .search-box-detail {
	padding:29px 25px 25px; background: #eff9fe; border:1px solid #d1d1d1;
	.form-base-search {
		overflow: hidden;
		select {width: 160px;}
		input {width:775px; margin-left: 15px;}
	}
	table[class^=comp-tbl][class*=_formtype] {
		margin-top: 15px; border-top: 1px solid #d0cdcd;
		tr > * {height: 55px}
		th {font-family: $font2; font-size: 17px; width:130px; line-height: 42px; color:#333; background:#d8e9f2; }
		td {padding:5px 10px;}
	}
	.w_year {
		input {width:115px;}
		.txt {font-size: 17px; color:#333; margin:0 5px;}
	}
	.comp-btn-zone {
		* {width: 130px}
	}
}
// 도서 상세보기
.usclib .books-infor-zone {
	position: relative;
	.thumb {
		position: absolute; left:0; top:0;
		width: 241px; height: 335px; @include background("usclib/subpage/img_book2.png",no-repeat 0 0);
		img {width: 225px; height: 315px;}
	}	
	.infor {
		padding-left: 265px; padding-top: 20px;
		.book-name {
			margin-bottom: 15px; font-size: 20px; color:#333; font-family: $font2; line-height: 27px;
			.flag {display:inline-block; min-width:75px; padding:0 20px; margin-right: 4px; font-family: $font1; color:#fff; text-align: center; box-sizing: border-box; line-height: 27px; border-radius: 4px; background:#588681; font-size: 16px;} 
		}
		.lst {
			li {padding:10px 5px; border-bottom: 1px solid #d6d5d5; color:#333; font-size: 16px; line-height: 25px;}
			.tit {display: inline-block; width:105px; box-sizing: border-box; line-height: 23px; color:#336ac0; font-size: 15px; border:1px solid #336ac0; border-radius: 3px; text-align: center; margin-right: 10px;}
		}
	}
	.tbl-book-infor {
		margin-top: 40px; border-top:2px solid #336ac0;
		thead th {height: 45px; border-bottom: 1px solid #c7c1bf; font-size: 18px; color:#333; background:#f4f4f4;}
		thead th:last-child {text-align: left; padding-left: 30px;}
		td {padding:10px 0; font-size: 16px; color:#333; text-align: center; border-bottom: 1px solid #c7c1bf;}
		td:first-child {font-family: $font2;}
		td:last-child {text-align: left; padding-left: 10px;}

		tr> *:nth-child(1) {width:145px;}
		tr> *:nth-child(2) {width:152px;}
		tr> *:nth-child(3) {width:90px;}
		tr> *:nth-child(4) {width:115px;}
		tr> *:nth-child(5) {width:135px;}
		tr> *:nth-child(6) {width:100px;}

		.tit {display: none}
		*[class^=state-] {
			display: inline-block; width:96px; font-family: $font2; text-align: center; line-height: 38px; border-radius: 3px; border-width:1px; border-style: solid; box-sizing: border-box;
			&.state-data {background:#f5ced9; border-color:#dd95a9;}
			&.state-booking {background:#d4e7f7; border-color:#aec2e4;}
		}
		.btn-put {
			display: inline-block; width:135px; margin-left: 15px; font-family: $font2; text-align: center; line-height: 38px; border-radius: 3px; border:1px solid #d5d5d5; box-sizing: border-box; background:#ededed;
			&:before {display: inline-block; width:19px; height: 16px; margin-right: 5px; vertical-align: middle; content: ""; @include background("usclib/subpage/btn_list.png",no-repeat 50% 50%); background-size: 100% 100%;}
		}
	}
}
.usclib .books-detail-contents {
	padding:0 20px;
}

/* 열린마당 */
// 강당대관
.usclib_part05_01 {
	.flow-chart{
		&:after { display: block; clear: both; content: '';}
		li { 
			position: relative; float: left; width: 164px; height: 163px; margin-left: 104px; padding:41px 0 0; background: url(../images/usclib/subpage/bg_chart.png) no-repeat; text-align: center; box-sizing: border-box; 
			&:before { display: block; position: absolute; left: 164px; top: 50%; width: 104px; height: 1px; margin-top: -1px; background: #d6d3d2; content:'';}
			&:after { display: block; position: absolute; left: -63px; top: 50%; width: 24px; height: 24px; margin-top: -12px; background: url(../images/usc/bg_flow_chart_arrow.png) no-repeat; content:''; }
			&:first-child { margin-left: 0; }
			&:first-child:after, 
			&:last-child:before { display: none; }
			span { display: block; width:110px; margin:7px auto 0;  padding: 7px 0 0; border-top: 1px solid #e9e8e7; font-size: 16px; color: #336ac0; line-height: 20px}
		}
	}
}




























































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack

/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.usclib #header {
	.header-bottom {
		.header-utilegroup .header-utile {
			.icon-login:before {@include background("usclib/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
			.icon-join:before {@include background("usclib/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
		}
		.gnb-mo-title {background: #016dae}
		.header-utilegroup {background: #d6eef0;}
		.header-utilegroup .header-utile li + li {border-color:#73cdc3;}
	}
	.header-middle {
		.btn-menu-open button {background-color: #3f9a82}
		.title a {width: 23.3rem; @include background("usclib/img_logo.png",no-repeat 50% 50%); }
	}
}
#wrap.usclib #gnb {
	.category {display: none}
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#016dae;}
	.gnb h4 a:hover:before {background:#016dae;}
}
#wrap.usclib #footer {
	.footer-selectgroup .footer-comp-select dt button {background-size: auto 100%;}
	.footer-notice .number .call {background-size: 100% 100%;}
	.footer-utilegroup .footer-utile {color:#d5d5d5;}
	.footer-utilegroup .footer-addr strong {color:#d5d5d5;}
	.footer-utilegroup .footer-utile a {color:#d5d5d5;}
	.footer-utilegroup .footer-utile a strong {color:#fff;}
}
#wrap.usclib #container {padding-top: 0;}


/* 외국어 홈페이지 */
// #wrap.foreign #header {
// 	.header-bottom {
// 		.gnb-mo-title {background: #f27405}
// 		.header-utilegroup {background: #d6eef0;}
// 		.header-utilegroup .header-utile li + li {border-color:#73cdc3;}
// 	}
// 	.header-middle {
// 		.btn-menu-open button {background-color: #f27405}
// 		.title a {width: 17rem; @include background("foreign/img_logo_m.png",no-repeat 50% 50%); }
// 	}
// 	&.header-type2 #gnb .gnb > li:first-child .depth2menu {height: calc(100vh - 6rem)}
// }
// #wrap.foreign #footer {
// 	.footer-logo {width: 13.3rem; height: 3.3rem; background-size: 100% auto;}
// 	.footer-utilegroup {padding-left: 2rem; margin-top: 2.5rem;}
// }

/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
#wrap.usclib {
	*[class^=heading] {
		&[class*=-h3]:before {width:2rem; height: 2rem; background-size: 100% auto;}
		&[class*=-h4]:before {background-size: 100% auto;}
	}
}
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.usclib #container.main {
	.inner {width: 100%;}

	// 메인 비주얼
	.main-visual-zone {
		.slider {
			min-width: inherit; height: 50rem;
			.slide {
				div[class$=bg] { height: 50rem;}
				.pcbg {display: none;}
				.mobg {display: block;}
			}
		}
		.search {
			bottom:inherit; top:15rem;padding:0 1.1rem;
			.form {
				display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; width: 100%; background:0; overflow:hidden; padding:0.6rem 0;
				dt {
					background:#fff; border-top-left-radius: 100px; border-bottom-left-radius: 100px; width: 8rem;
					label {font-size: 1.4rem; line-height: 4.6rem; width: 7.4rem;}
					&:after {line-height: 4.6rem; font-size: 1.4rem;}
				}
				dd {
					-webkit-flex:1; flex:1; padding-right: 3rem; 
					input {height: 4.6rem;background:#fff; font-size: 1.3rem; padding-left:1rem;}
					button {width: 5.8rem; height: 5.8rem; background-size: 50% 50%; right: 0}
				}
			}
			.btn-position {
				margin-top: 1.2rem;
				.btn-detailsearch {
					font-size: 1.3rem; height: 3.3rem; line-height: 3.3rem; width: 13.3rem; background:#0a2738; 
					&:before {width: 1.7rem; background-size: 100% auto; position: relative; top: -2px;}
				}
			}
		}
	}
	// board
	.main-board-zone {
		&:before {display: none}
		.tab {
			a {font-size: 1.3rem; height: 3.6rem; line-height: 3.6rem;}
		}
		.tab-cont {height: 32rem;}

		// 공지사항
		#boardTab1 {
			padding:1.6rem 1.4rem 0;
			.l-left {
				width: 100%; float: none; height: 13rem;
				.thumb {width:9.6rem; height: 13rem;}
				dl {
					padding:0 0 0 11rem; height: 13rem;
					&:after {display:none}
					dt {
						.flag {line-height: 2rem; font-size: 1.1rem; width: 5.2rem; vertical-align: top}
						font-size: 1.3rem; line-height: 2rem; 
					}
					.txt {font-size: 1rem; line-height: 1.6rem; max-height: 6.4rem; margin-top: 1rem; padding-left: 0.4rem; -webkit-line-clamp: 4;}
					.date {
						font-size: 1rem; left:11rem; padding-left: 0.4rem;
						&:before {width: 1.2rem; height: 1.2rem; margin-right: 0.5rem; background-size: 100% 100%;}
					}
				}
			}
			.l-right {
				width: 100%; float: none; padding-left: 0; padding-top: 1.5rem; margin-top: 1.7rem; border-top: 1px solid #d6d5d5;
				.cont {font-size: 1.1rem; line-height: 1.5rem; max-width: 60%;}
				.date {font-size: 1.1rem; line-height: 1.5rem;}
				.flag {font-size: 1rem; width: 4.4rem; line-height: 1.5rem;}
				li + li {margin-top: 0.6rem;}
				li:first-child {margin-top: 0}
				li:before {margin-right: 0.8rem; width: 2px; height: 2px;}
			}
		}
		// 문화강좌
		#boardTab2 {
			padding: 1rem 1rem 0.5rem; 
			.lst-culture {
				& > li {
					width: 50%; height: 15.25rem;
					&:nth-child(odd) {padding:1rem 0.9rem 1.3rem 0; border-left: 0;}
					&:nth-child(even) {padding:1rem 0 1.3rem 0.9rem; border-left: 1px solid #d6d5d5;}
					&:nth-child(2) ~ li {border-top: 1px solid #d6d5d5;}
				}
				h3.tit {font-size: 1.3rem; }
				.lst {
					font-size: 1rem; line-height:1.4rem; 
					&:before {width: 2px; height: 2px; }
					li {margin-top: 0.3rem; padding-left: 1rem; }
				}
				.btn {
					width: 100%; margin-top: 0.6rem;
					.soldout {font-size: 1.1rem; line-height: 2.2rem; }
					a {font-size: 1.1rem; line-height: 2.2rem; border:1px solid #707070;}
				}
			}
		}
		// 자주하는 질문
		#boardTab3 {
			padding:2.5rem 1.5rem 0;
			.l-left {
				float: none; width: 100%; border-right:0; height: 13rem;
				.tit {font-size: 1.3rem;}
				.cont {font-size: 1.1rem; line-height: 1.6rem;margin-top: 1.3rem; padding-right: 0; max-height:9.6rem; }
			}
			.l-right {
				float: none; width: 100%; height: auto; margin-top: 1.2rem;  padding-top: 1.4rem;
				border-top: 1px solid #d6d5d5;
				.lst {
					li {
						padding-left: 0.5rem;
						&:before {width: 2px; height: 2px; margin-right: 1rem;}
						a {font-size: 1.1rem; line-height: 2.1rem; max-width: 95%}
					}
				}
			}
		}
		// 문의게시판
		#boardTab4 {
			padding:2.5rem 1.5rem 0;
			.l-left {
				float: none; width: 100%; border-right:0; height: 13rem;
				.tit {font-size: 1.3rem;}
				.cont {font-size: 1.1rem; line-height: 1.6rem;margin-top: 1.3rem; padding-right: 0; max-height:8rem; }
				.date {
					font-size: 1.1rem; line-height: 1.6rem;
					&:before {width: 1.2rem; height: 1.2rem; margin-right: 0.5rem; background-size: 100% 100%;}
				}
			}
			.l-right {
				float: none; width: 100%; height: auto; margin-top: 1.2rem;  padding-top: 1.4rem;
				border-top: 1px solid #d6d5d5;
				.lst {
					li {
						padding-left: 0.5rem;
						&:before {width: 2px; height: 2px; margin-right: 1rem;}
						.cont {font-size: 1.1rem; line-height: 2.1rem; max-width: 75%}
						.date {font-size: 1.1rem; line-height: 2.1rem; }

					}
				}
			}
		}
	}
	// 자주찾는 서비스
	.main-favorit-zone {
		padding:0.8rem 1rem 2rem;
		.tit {
			font-size: 1.5rem; line-height: 2rem;  padding-left: 0.9rem;
			&:after {width: 5.4rem; height: 1.2rem; background-size: 100% auto; margin-top:0.5rem;}
		}
		.lst-favorit-service {
			padding-left: 10rem;
			a {
				&:after {height: 7.2rem; top: 0.8rem;}
				.icon {
					width: 6rem; height: 6rem; 
					background-size: 100% auto !important;
				}
				.name {font-size: 1.1rem; margin-top: 0.9rem;}
				&:hover {
					.icon img {top:-6rem;}
				}
			}
		}

	}
	// 이달의 휴관일
	.main-closedays-zone {
		padding:1rem 1rem 2rem; height: auto;
		.btn-librarian {display: none;} 
		.closeday-zone  {
			text-align: center; 
			.tit {float: none; display: inline-block; line-height: 4.4rem; font-size: 1.5rem; vertical-align: top;}
			.indicator {
				float: none; display: inline-block; margin-left: 1rem;
				.month {
					padding:0 1.5rem; line-height: 4.4rem; font-size: 1.7rem;  
					em {font-size: 2rem;}
				}
				.btn-arrow {
					top:0; margin-top: 0;
					button {width: 0.8rem; height: 4.4rem; background-size: 100% auto !important;}
					.btn-prev button {@include background("usclib/main/icon_prev1_m.png",no-repeat 50% 50%);}
					.btn-next button {@include background("usclib/main/icon_next1_m.png",no-repeat 50% 50%);}
				}
			}		
			.closeday {
				float: none; max-width:540px; width: 100%; margin: 0.8rem auto 0;
				li {width: 2.8rem !important;  height: 2.8rem; margin:0 auto; line-height: 2.8rem; font-size: 1.2rem; }
			}
		}
	}
	// etc
	.main-etc-zone {
		padding:2.3rem 2.3rem 3.3rem;
		.inner > div {width: 100%; float: none;}
		.inner > div + div {margin-left: 0; margin-top: 1.4rem;}

		.popup-zone {
			padding:4.5rem 1rem 1.1rem;height: auto;
			.tit {font-size: 1.5rem; left:1.7rem; top:1.3rem;}
		}
		.books-zone {
			padding:5rem 1rem 1.1rem; height: auto;
			& > ul[role=tablist] {
				left:1.7rem; top:1.3rem;
				li + li:before {margin:0 0.9rem; width: 1.2rem; background-size: 100% auto;}
				button {font-size: 1.5rem; }
			}
			.slick-dots {
				margin-top: 1rem;
				li + li {margin-left: 0.5rem;}
				button {width: 1rem; height: 1rem;}
			}
		}
		.books-zone .indicator, .popup-zone .indicator {
			height: auto; right: 1rem; top:1.1rem; height: 2.3rem; box-sizing: content-box;
			p[class^=btn-] * {width: 2.3rem; height: 2.3rem; background-size: 40% 40% !important;}
		}
		.calendar-zone {
			padding:4.3rem 1rem 1rem;  height: auto;
			.tit {font-size: 1.5rem; left:1.7rem; top:1.4rem; line-height:1.5rem;}
			.btn-more {
				right: 1rem; top:1.1rem;
				a {width: 2.3rem; height: 2.3rem; background-size: 40% 40%;}
			}
			.indicator {
				top:1.4rem; right:5rem;
				.month {font-family: $font3; font-size: 1.4rem; padding:0 1.8rem;}
				.btn-arrow {
					button {width: 0.8rem; height: 1.5rem; background-size: 100% auto !important;}
					&.btn-prev button {@include background("usclib/main/icon_prev1_m.png",no-repeat 50% 50%);}
					&.btn-next button {@include background("usclib/main/icon_next1_m.png",no-repeat 50% 50%);}
				}
			}
			.calendar {
				.noti {
					line-height: 2rem;height: 2rem; margin-top: 1rem;
					p {font-size: 1.1rem; }
					.bullet {width: 1.1rem; height: 1.1rem;}
				}
				.txt {font-size: 1rem; }
				.tbl {
					th {font-size: 1rem;}
					td {font-size: 1rem; height: 1.6rem;}
					a {width: 1.6rem; height: 1.6rem; line-height:1.6rem;}
					.today {width: 1.6rem; height: 1.6rem; line-height:1.6rem;}

				}
			}
		}
	}
}
/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 자료검색 */
// 일반검색
.usclib table[class^=tbl-lst] {
	.td-btn {
		.btn-put {
			&:before {display: inline-block; vertical-align: middle; content: ""; @include background("usclib/subpage/btn_list.png",no-repeat 50% 50%); background-size: 100% 100%;}
		}
	}

	// 목록형
	&[class*=_list] {
		margin-top: -1rem;
		thead th {display: none }
		tbody td {height:15rem; padding:1rem 0; }
		tbody tr:first-child td {border-top: 0;}
		.tdlayout {
			display: block;
			& > div[class^=td-] {display:block; padding:0 1rem; font-size:1.3rem; text-align: left;}
			& > div[class^=td-].td-btn {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;}
		}
		.td-name {
			width:100%; padding:0;
			.name {padding-left:6rem; font-size:1.4rem;line-height:1.8rem;}
			.flag {width:5rem; line-height: 2rem; font-size:1rem;}
			.writer {font-size:1.3rem;line-height:1.8rem; margin-top: 0.5rem;}
		}
		.td-group {
			overflow:hidden; width:100%; margin-top: 1rem; text-align: left; line-height: 2rem;
			> div[class^=td-] {float:left;}
			> div[class^=td-].td-year {float:left;}
		}
		.td-company, .td-code, .td-category, .td-year {width:50%}
		.td-btn {
			width:100%; margin-top: 1rem;
			*[class^=btn-] {font-size:1.2rem;  height:3rem; line-height:2.8rem}
			.btn-notbooking,
			.btn-booking,
			.btn-borrow {width:100%; -webkit-flex:1; flex:1; margin-right:0.5rem;}
			.btn-put {
				width:45%; margin-top:0;
				&:before {width: 2rem; height:1.5rem; background-size: 100% auto;}
			}
		}
	}

	// 갤러리형
	&[class*=_gallery] {
		margin-top: -1rem;
		tbody td {padding:1rem;}
		.tdlayout {height:auto; padding-left:0;}
		.td-name {
			height:20rem; padding-top: 0.5rem; padding-left: 15rem;
			.name {padding-left:0; font-size:1.5rem; line-height: 2rem;}
			.flag {position:static; width:7rem; line-height:2rem; font-size:1.2rem; margin-bottom: 0.5rem;}
			.writer {font-size: 1.2rem;margin-top: 1rem; line-height: 1.8rem;}
		}
		.td-group {
			margin-top: 1rem; padding:1rem;font-size:1.2rem; line-height:1.8rem;
			> div[class^=td-] {
				float: left;
				&:after {display: inline-block; content: "|"; margin:0 13px;}
			} 
			> div[class^=td-].td-company {
				float: none;
				&:after {display: none}
			}
		}
		.td-thumb {
			width:14rem; height:20rem; background-size: 100% auto;
			img {width: 13rem; height:auto;}
		}
		.td-btn {
			display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; margin-top: 1rem;
			*[class^=btn-] {font-size: 1.4rem; height:3.5rem; line-height:3.3rem}
			.btn-booking,
			.btn-notbooking,
			.btn-borrow {width:100%; margin-right:0.5rem; -webkit-flex:1; flex:1;}
			.btn-put {
				width:45%;
				&:before {width: 2rem; height:1.5rem; background-size: 100% auto;}
			}
		}
	}
}
// 상세검색
.usclib .search-box-detail {
	padding:2rem 1rem; 
	.form-base-search {
		display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
		select {width: 12rem;}
		input {width:100%; margin-left:0.5rem; -webkit-flex:1; flex:1;}
	}
	table[class^=comp-tbl][class*=_formtype] {
		display: block; margin-top: 2rem;
		tbody, tr {display: block; overflow:hidden;}
		tr > * {display:block; float: left;}
		th {font-size:1.2rem; height:4.3rem; width:30%; padding:0 1rem; line-height:4.3rem;}
		td {width:70%; height:4.3rem; padding:0.5rem 1rem;}
	}
	.w_year {
		display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
		input {width:100%; -webkit-flex:1; flex:1;}
		.txt {display:inline-block;font-size:1.2rem; margin:0 0.3rem;}
	}
}
// 도서 상세보기
.usclib .books-infor-zone {
	.thumb {
		position: static;
		width:22rem; height:33rem; margin:0 auto; background-size: 100% auto;
		img {width:20.5rem; height:auto;}
	}	
	.infor {
		padding-left:0; padding-top: 0; margin-top: 1rem;
		.book-name {
			position:relative; padding-top: 2.5rem; margin-bottom:1rem; font-size:1.5rem; line-height:2rem ;
			.flag {position: absolute; left:0; top:0; min-width:6rem; padding:0 1rem; line-height:2rem; font-size:1.2rem;} 
		}
		.lst {
			li {position: relative; padding:0.7rem 0.5rem 0.7rem 9rem; font-size:1.2rem; line-height:2rem;}
			.tit {position: absolute; left:0; top:0.7rem; width:8rem;line-height:2rem; font-size:1rem; margin-right:0.5rem;}
		}
	}
	.tbl-book-infor {
		display: block; margin-top:2rem;
		thead {display: none}
		tbody, tr {display: block;}
		td {display:block; overflow:hidden; height: 5rem; width:100% !important; padding:0; font-size:1.2rem; text-align: left;}
		td:last-child {padding-left: 0;}
		.tit {display:block; float: left; width: 30%; padding:1rem; background:#f4f7f9; line-height: 3rem}
		.cont {float: left; width: 70%; padding:1rem 0.5rem 1rem 1rem; line-height: 3rem}

		*[class^=state-] {width:9rem; line-height:3rem; }
		.btn-put {
			width:9rem; margin-left:0.5rem; line-height:3rem;
			&:before {width:1.5rem; height:1.3rem; background-size: 100% 100%;}
		}
	}
}
.usclib .books-detail-contents {padding:0 0.5rem }


/* 열린마당 */
// 강당대관
.usclib_part05_01 {
	.flow-chart { 
		display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
		li { 
			-webkit-flex: 1; flex: 1; width: auto; margin-left: 1.6rem; padding: 2rem 0 0; background-size: contain; background-position: center; text-align: center; 
			&:before { display: none; }
			&:after { left:-0.5rem; width: 1.6rem; height: 1.6rem; margin-left: -1rem; background-size: 100%; }
			span { width: 9rem; font-size: 1.2rem; line-height: 1.8rem;}
		}
	}
}



//-------------------------------------------------------------------------------
} 
@media (max-width:768px){
/* 열린마당 */
// 강당대관
.usclib_part05_01 {
	.flow-chart {
		li { 
			display:table; width:100%; height:8rem; padding:0; 
			&:before { display: none;}
			span {display: table-cell; width: auto; padding:0; margin: 0; border: 0; font-size: 1rem;line-height: 1.4rem; vertical-align: middle;}
			img {display: none}
		}
	}
}

}
@media (max-width:600px){}
@media (max-width:321px){}