@charset "utf-8";
 
@import 'base';


/* ------------------------------------------------------
LAYOUT
------------------------------------------------------ */
#wrap.uscmuseum #footer {
	background:#302c26;
	.footer-selectgroup {
		.footer-comp-select dt button {border-color: #221f1b; color:#fff; background:#221f1b url("../../static/images/uscmuseum/form_select.png") no-repeat 100% 50%;}
	}
	.footer-utilegroup {
		padding-left: 0; color:#a9a9a9;
		.footer-utile a {color:rgba(256,256,256,0.7);}
		.footer-addr li strong {color:#fff;}

	}
	.footer-notice {
		.number {
			color:#ee9166;
			.call {@include background("uscmuseum/icon_footer_call.png",no-repeat 50% 50%); background-size: 100% 100%;}
		}
		.txt {color:#bababa;}
	}
}
#wrap.uscmuseum #container {
	padding-top: 130px; 
	&:before {top:315px; background:#d6d5d5;}

	.breadcrumb-zone {
		background:#d6d5d5;
		.breadcrumb {
			& > li {border-right-color: #c4bebd}
			& > li > a {color:#666; -ms-transition: 0.3s ease; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; transition: 0.3s ease;}
			& > li:first-child > a {color:#8e8886;}
			a:after {@include background("uscmuseum/icon_arrow_lnb.png",no-repeat 50% 50%);}
			a.open {
				background:#383b3b; color:#fff;
				&:after {@include background("common/sp_icon.png",no-repeat -250px -100px);}
			} 
		}
		.page-zoom {
			button[class^=btn-] {
				width: 23px;
				&.btn-zoomup {@include background("uscmuseum/btn_zoom_up.png",no-repeat 50% 50%);}
				&.btn-zoomdown {@include background("uscmuseum/btn_zoom_down.png",no-repeat 50% 50%);}
			}
			dt {color:rgba(72,72,72,0.6);}
		}
	}
}
@media (min-width:1025px){
	body.pc .uscmuseum #header {
		.header-middle .title a {width: 250px; height:48px; background:url("../../static/images/uscmuseum/img_logo.png") no-repeat 50% 50%;}
		.header-bottom .sitemap {background: #c3893a}
		&.header-type2 #gnb {
			h2.over a:before,
			h2 a:hover:before {background: #733f2c; }
			h2.over a:after,
			h2 a:hover:after {border-color:#733f2c;}
			p a:hover {background: #dcb725; color:#fff; font-family: $font2;}
			h3 a:before{background: #1e4363;}
		}

		&.header-type2.open {background:#fff url("../../static/images/uscmuseum/bg_gnb.png") repeat-x 0 100%;}
		&.header-type2.open .header-bottom {border-bottom-color: #edc834;}
		&.header-type2 {
			.header-middle .title {
				top:22px;
			}
			#gnb p a {background:#ffeda9; color:#2d2d2d;}
		}
	}
	body.pc .uscmuseum #gnb {
		margin-left: 330px;
		h2 a {width: 150px}
		.depth2menu {width: 226px; height: 420px; padding-left: 36px;}
		.gnb > li:nth-child(1) .depth2menu {left:0;}
		.gnb > li:nth-child(2) .depth2menu {left:190px;}
		.gnb > li:nth-child(3) .depth2menu {left:416px;}
		.gnb > li:nth-child(4) .depth2menu {left:642px}
		.gnb > li:nth-child(5) .depth2menu {left:868px}
		.gnb > li:nth-child(6) .depth2menu {left:1094px}
		.gnb > li:nth-child(1) .depth2menu {width:190px; padding-left: 0}
	}
}
#wrap.uscmuseum #lnb {
	border-top-color: #d6d5d5; 
	.title-depth h2 {background:#edc834;}
	.menu {
		h2 a.open, 
		h2 a:hover {background:#be8538;}
		h2 a.open:after, 
		h2 a:hover:after {background-color:#3e3932;}
		.smallmenu ul a[aria-current=page]:before, 
		.smallmenu ul a:hover:before {border-color:#be8538;}
	}
}

/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
#wrap.uscmuseum {
	*[class^=comp-iconbox] {
		border-top-color:#8c4f2b;
		&:before {background:#8c4f2b}
		.icon {background:#8c4f2b}
	}
	*[class^=heading][class*=-h3]:before {width:26px; @include background("uscmuseum/bul_h3.png",no-repeat 50% 50%);}

	*[class^=comp-tab]{
		a[aria-selected=true]:after {background:#8c4f2b;}
		&[class*=_row] a[aria-selected=true] span {color:#8c4f2b;}

	}
}
/* ------------------------------------------------------
MAIN
------------------------------------------------------ */
#wrap.uscmuseum #container.main {
	position: relative;
	.inner {
		width: 1320px; margin:0 auto;
		&:after {display:block; clear:both; content:""}
	}

	// 게시판
	.main-board-zone {
		overflow:hidden; height: 80px; background:url('../../static/images/uscmuseum/main/bg_board1.png') no-repeat 0 0, url('../../static/images/uscmuseum/main/bg_board2.png') no-repeat 50% 0; background-size:50% 100%, 100% 100%;

		div[class^=board-] {
			float: left; width: 50%; position: relative;
			.tit {float: left;font-family: $font3; line-height: 80px;}	
			.cont {
				font-family: $font2; line-height: 80px;
				.flag {display:inline-block;margin-right: 3px;vertical-align: top;}
				.txt {display: inline-block; overflow:hidden; max-width: 70%; text-overflow: ellipsis; white-space: nowrap;}
			}
			.btn {
				position: absolute; right: 15px; top:21px;
				.btn-more {display: inline-block; width: 37px; height: 37px; text-indent: -999em; @include background("uscmuseum/btn_more.png",no-repeat 50% 50%); background-size: 100% auto;}
			}

			&[class*=-noticeboard] {
				.tit {width:100px; color:#2d2b29; text-align: left;}
				.cont {
					 padding-left: 100px;
					.flag {color:#e6260d;}
					.txt {color:#585551;}
				}
			}
			&[class*=-freeboard] {
				.tit {width:140px; color:#fff; text-align: center;}
				.cont {
					 padding-left: 140px;
					.flag {color:#fee948;}
					.txt {color:#bebebe;}
				}
			}
		}
	}
	// 진행중인 행사
	.main-group-zone {
		width:1320px; margin:0 auto; padding-top: 30px;
		&:after {display:block; clear:both; content:""}
		& > div[class^=main-] {position: relative; float: left;}
		.tit {
			font-size: 24px; font-family: $font3; color:#363636; padding-left: 6px;
			.small {font-size:16px; font-family: $font1; margin-left: 5px;}
		}
		.indicator {
			position: absolute; overflow:hidden; border-width:1px; border-style: solid;
			p {
				float: left; 
				* {display:block; width: 35px; height: 35px; text-indent: -90999em;}
				& + p {border-left-width:1px; border-left-style: solid;}
			}
		}
	}
	.main-event {
		width: 880px; height: 395px; padding:26px 35px 0;
		@include background("uscmuseum/main/bg_event.png", no-repeat 0 0); background-size:100% 295px;
		.indicator {
			right: 40px; top: 18px; border-color:#fff;
			p {
				& + p {border-left-color: #fff}
				.btn-prev {@include background("uscmuseum/btn_prev1.png",no-repeat 50% 50%);}
				.btn-next {@include background("uscmuseum/btn_next1.png",no-repeat 50% 50%);}
				.btn-more {@include background("uscmuseum/btn_more2.png",no-repeat 50% 50%);}
			}
		}
		.slider {
			height: 320px; margin-top: 20px;  background:#fff; padding:35px 0 0; box-shadow: 0 5px 10px rgba(24,23,24,0.2);
			.slide {border-left: 1px solid #f2e6d9; padding:0 20px;}
			.txt {
				display: block; display:-webkit-box; overflow:hidden; max-height: 44px; margin-top: 20px;
				text-align: center; color:#363636; font-size: 16px; line-height: 22px;
				-webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis;
			}
			.img {
				display: block; text-align: center;
				img {max-width: 100%; margin:0 auto;}
			}
		}
	}
	.main-popup {
		width: 400px; height:395px; margin-left:40px; padding-top:14px;
		.indicator {
			right: 0; top:10px; border-color:#8d6642;
			p {
				& + p {border-left-color: #8d6642}
				.btn-prev {@include background("uscmuseum/btn_prev2.png",no-repeat 50% 50%);}
				.btn-next {@include background("uscmuseum/btn_next2.png",no-repeat 50% 50%);}
				.btn-more {@include background("uscmuseum/btn_more3.png",no-repeat 50% 50%);}
			}
		}
		.slider {margin-top: 15px;}
	}
	// 자주찾는 서비스
	.main-favorit-zone {
		.inner {position: relative; padding:45px 0 40px; }
		.tit {
			position: absolute; left:0; top:57px;
			font-size: 23px; font-family: $font2; color:#2b2b2b;
			&:after {display: block; content: ""; width:82px; height: 19px; margin-top: 10px; @include background("uscmuseum/main/bg_favorit.png",no-repeat 50% 50%);}
		}
		.favorit-service {
			padding-left: 130px;
			.icon {
				display: block; width: 82px; height: 82px; margin:0 auto; border-radius: 100px; background:#f1f3f4;
				-ms-transition:background 0.3s ease; -webkit-transition:background 0.3s ease; -moz-transition:background 0.3s ease; transition:background 0.3s ease;
				img {width: 100%; height: 100%;}
			}
			.name {display: block; margin-top: 18px; text-align: center;font-size: 17px; color:#555;}
			.slide{
				position: relative;
				&:before {display:block; content: ""; width: 1px; height: 92px; background:#e2e1e1; position: absolute; left:0; top:14px;}
			}

			a:hover {
				.icon {background:#fac60e;}
				.name {font-family: $font2;}
			}
			.slick-current .slide:before {display: none}
		}
	}
	// main visual
	.main-visual-zone {
		position: relative; overflow:hidden;
		.visual-slider {
			height: 700px;
			.img {
				height: 700px; background-size: cover !important;
				&.m {display: none;}
				img {display: none; }
			}
			.slick-arrow {
				position: absolute; left:50%; top:0; width: 68px; height: 68px; border:1px solid #fff; text-indent: -999em; margin-left: 660px; z-index: 11;
				&.slick-prev {top: 290px; @include background("uscmuseum/main/btn_prev.png", no-repeat 50% 50%);}
				&.slick-next {top: 368px; @include background("uscmuseum/main/btn_next.png", no-repeat 50% 50%);}
			}
			.slick-dots {
				position: absolute; left:50%; margin-left: 680px; top:450px; color:#fff; font-size: 15px; font-family: $font0;
				.current {font-family: $font3; font-size: 18px;}
				li {display: none}
				li.slick-active {display: block;}
			}
		}
		.museum-group {
			position: absolute; left:0; top:0; width: 100%; 
			.inner {padding:37px 59px 0;}
		}
		.main-title {height: 137px; @include background("uscmuseum/main/img_title.png",no-repeat 50% 50%); text-indent: -999em;}
		.museum-information {
			margin-top: 55px;
			div[class^=l-] {
				float: left; width: 50%; height: 120px; box-sizing: border-box; 
				& + div {border-left: 1px solid #fff;}
				.tit {
					float: left; font-size: 30px; font-family: $font3; color:#fff;
					.small {font-size: 16px; font-family: $font1;}
				}
			}
			.l-left {
				.tit {
					padding-top: 22px;
					.small {margin-left: 5px;}
				}
				.information-lst {
					padding-left: 190px; padding-top: 13px;
					li {position: relative; padding-left:14px; font-size: 16px; line-height: 24px; color:#fff;}
					li:before {display:block; position: absolute; left: 0; top:0; content: "-"; }
					.sm {font-size: 14px;}
					.lp {letter-spacing: 4px;}
				}
			}
			.l-right {
				.tit {
					padding-left: 25px; margin-top: 15px;
					.small {display: inline-block; margin-bottom:10px;}
				}
				.reservation-menu {
					padding-left: 260px; padding-top: 6px;
					&:after{display:block; clear:both; content:""}
					li {float: left; margin-left: 12px;}
					li:first-child {margin-left: 0;}
					a {
						display:table; width: 105px; height: 105px; border-radius: 100px; border:1px solid #fff; box-sizing: border-box; color:#fff; font-size: 16px; line-height: 24px; text-align: center; box-sizing:border-box;
						-ms-transition:0.3s ease; -webkit-transition:0.3s ease; -moz-transition:0.3s ease; transition:0.3s ease;
						span {display: table-cell; vertical-align: middle;}
						&:hover {background:#b47e35; border-color:#b47e35;}
					}
				}
			}
		}
		.museum-menu {
			margin-top: 30px;
			ul {
				overflow:hidden;
				li {
					float:left; position: relative; width: 400px; height: 280px;
					&+li {margin-left: 1px;}
				}
				a {display:table; position: relative; width: 100%; height: 100%;box-sizing: border-box;background:rgba(0,0,0,0.5); text-align: center; word-break: keep-all;}
				a > div {display: table-cell; vertical-align: middle;}
			}
			.icon {display:block; }
			.tit {
				display: block; margin-top: 15px; font-size: 20px; color:#fff; text-shadow: 0 5px 10px rgba(0,0,0,0.7);
				&:before {display:block; position: absolute; left:0; top:0; width: 100%; height: 36px; @include background("uscmuseum/main/bg_menu1.png", no-repeat 50% 0); content: ""; opacity: 0; transition:0.3s ease; z-index: 11;}
				&:after {display: block; position: absolute; left:0; bottom:0; width: 100%; height: 36px; @include background("uscmuseum/main/bg_menu2.png", no-repeat 50% 0); content: ""; opacity: 0; transition:0.3s ease; z-index: 11;}
			}
			.desc {display: block; margin-top: 15px; font-size: 15px; color:rgba(256,256,256,0.7); line-height: 20px;}
			.gotodetail {display: block; margin: 15px auto 0; width: 213px; height:38px;  border:1px solid rgba(256,256,256,0.8); color:#fff; font-size: 15px; background:rgba(0,0,0,0.5); line-height: 38px;}


			a {
				&:before {
					display: block; position: absolute; left:0; top:0; content: ""; width: 0; height: 10px; background:#fac60e;
					-ms-transition:0.2s ease;  -ms-transition-delay: 0.6s;
					-webkit-transition:0.2s ease;  -webkit-transition-delay: 0.6s;
					-moz-transition:0.2s ease; -moz-transition-delay: 0.6s;
					transition:0.2s ease;  transition-delay: 0.6s;
				}
				&:after {
					display: block; position: absolute; right:0; top:0; content: ""; width: 10px; height:0; background:#fac60e;
					-ms-transition:0.2s ease;  -ms-transition-delay: 0.4s;
					-webkit-transition:0.2s ease;  -webkit-transition-delay: 0.4s;
					-moz-transition:0.2s ease;  -moz-transition-delay: 0.4s;
					transition:0.2s ease;  transition-delay: 0.4s;
				}
				> div:before {
					display: block; position: absolute; bottom:0; right:0; content: ""; width: 0; height: 10px; background:#fac60e;
					-ms-transition:0.2s ease;  -ms-transition-delay: 0.2s;
					-webkit-transition:0.2s ease;  -webkit-transition-delay: 0.2s;
					-moz-transition:0.2s ease;  -moz-transition-delay: 0.2s;
					transition:0.2s ease;  transition-delay: 0.2s;
				}
				> div:after {
					display: block; position: absolute; bottom:0; left:0; content: ""; width: 10px; height:0; background:#fac60e;
					-ms-transition:0.2s ease;  -ms-transition-delay:0s;
					-webkit-transition:0.2s ease;  -webkit-transition-delay:0s;
					-moz-transition:0.2s ease;  -moz-transition-delay:0s;
					transition:0.2s ease;  transition-delay:0s;
				}
			}

			a:hover {
				.gotodetail {border-color:#fac60e;}
				&:before {width: 100%; -ms-transition-delay: 0s; -webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;}
				&:after {height: 100%; -ms-transition-delay: 0.2s; -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; transition-delay: 0.2s;}
				& > div:before {width: 100%; -ms-transition-delay: 0.4s; -webkit-transition-delay: 0.4s; -moz-transition-delay: 0.4s; transition-delay: 0.4s;}
				& > div:after {height: 100%; -ms-transition-delay: 0.6s; -webkit-transition-delay: 0.6s; -moz-transition-delay: 0.6s; transition-delay: 0.6s;}
				.tit {
					&:before {opacity: 1;}
					&:after {opacity: 1;}
				}
			}
		}
	}
}

/* ------------------------------------------------------
SUB PAGE
------------------------------------------------------ */
/* 이용안내 */
// 시설현황 - 층별안내
.uscmuseum .floor-plan {
	min-height: 775px;
	.img {width:980px; margin:15px auto 0;}
	*[class^=comp-tab] {
		margin:0 15px;
		a {line-height: 45px;background:#fff;}
	}
}
// 시설현황 - 전체안내
.uscmuseum-view-zone {
	overflow: hidden; position:relative; margin-top: 20px; padding:45px 40px 40px; background:#efeeed;
	ul[role="tablist"] {
		position: absolute; top:45px; left:40px; z-index: 1;
		&:after {display:block; clear:both; content:""}
		li {float: left; margin-left: 8px; margin-bottom: 10px;}
		li:nth-child(3n+1){clear:both; margin-left: 0;}
		a {
			display: block; width: 50px; height:50px; color:#fff; font-size: 18px; font-family: $font2; text-align: center; line-height: 40px; background:#6c1b31; border:5px solid #6c1b31; box-sizing: border-box;
			&[aria-controls^=imgothertab] {background:#1fbbee; border-color:#1fbbee;}
			&:hover, &[aria-selected=true] {border-color:#fac60e;}
		}
	}
	.img-tabconts {
		position: relative; padding-left: 186px;
		div[role="tabpanel"] {display: none}
		.imgtxt {
			position: absolute; left:186px; bottom:0; width:280px; height:50px; font-size: 16px; font-family: $font2; color:#222; line-height: 50px; background:#fff;
			.num {display: inline-block; width:50px; margin-right: 15px; vertical-align:top; color:#fff; text-align: center; background:#6c1b31;  font-size: 18px;}
		}
		div[id^=imgothertab] {
			.num {background:#1fbbee;}
		}
	}
}
// 관람안내
.muse_part01_01 {
	.txt { background:#ffe293; }
	ol {
		li {
			h4 { 
				position: relative; width:250px; height:45px; color:#fff;border-radius: 50px; line-height: 45px; text-align: center; 
				&:before {display: inline-block; position: absolute; top: 13px; right: -9px; width: 9px; height:9px; border: 4px solid #fff; border-radius: 100px; z-index: 1; content:'';}
				&:after {display: inline-block; position: absolute; top:20px; right:-35px; width:34px; height:2px;content:'';}
			}
			&:nth-child(1) {
				h4 {background-color: #f3c716;}
				h4:before {background-color: #f3c716; }
				h4:after {background-color: #f3c716; }
			}
			&:nth-child(2) {
				h4 {background-color: #ec9601;}
				h4:before {background-color: #ec9601; }
				h4:after {background-color: #ec9601; }
			}
			&:nth-child(3) {
				h4 {background-color: #d96007;}
				h4:before {background-color: #d96007; }
				h4:after {background-color: #d96007; }
			}
			&:nth-child(4) {
				h4 {background-color: #cb483e;}
				h4:before {background-color: #cb483e; }
				h4:after {background-color: #cb483e; }
			}
			& > h4 { float:left; }
			& > ul { padding-left:295px; color:#4b4b4b; line-height: 28px; font-family: 'NanumSquareB'; }
		}
		& > li {
			overflow: hidden; 
			&:after { display: block;	clear:both;}
		}
	} 
}
// 시설대관안내
.muse_part01_02 {
	.flow-chart { 
		overflow: hidden; 
		li { 
			position: relative; float:left; width:134px; height:134px; margin-left:85px; padding-top: 59px; color:#3b3b3b; background: url(../images/uscmuseum/subpage/ico_chart.png) no-repeat; text-align: center; box-sizing: border-box;
			&:first-child { margin-left: 0; }
			&:last-of-type { padding-top:50px;}
			&:before { display: block; position: absolute; left: 134px; top: 50%; width: 86px; height: 1px; margin-top: -1px; background: #d6d3d2; content: '';}
			&:after { display: block; position: absolute; left: -52px; top: 50%; width: 18px; height: 19px; margin-top: -10px; background: url(../images/uscmuseum/subpage/bg_flow_chart_arrow.png) no-repeat; content: ''; }
			&:first-child:after,
			&:last-child:before { display: none; }
		}
	}
	.comm-btn_type4_whitegray:before { display: inline-block; width: 26px; height: 26px; margin-right: 10px; background: url(../images/uscmuseum/subpage/icon_download4.png) no-repeat 50% 50%; background-size: 100% auto; vertical-align: middle; content: '';}
	.btn_box a { width: 320px; }
	table tbody tr:nth-of-type(2) td,
	table tbody tr:nth-of-type(3) td { padding:15px 10px;}
	.comp-lst_important { color:#4b4b4b;}
}
/* 전시안내 */
// 가상체험vr
.vr {
	.gallery-vr {
		position:relative; background:#efeeed; padding:562px 40px 40px;
		ul[role=tablist] {
			overflow:hidden; margin:-7px 0 0 -7px;
			& > li {
				float:left; width:20%; padding:7px 0 0 7px; box-sizing:border-box;
				a {
					position:relative; display:block; height:135px; box-sizing:border-box;
					&:after {position:absolute; left:0; top:0; display:block; content:""; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:1;}
					.thumbnail {
						position:relative; width:100%; height:100%; font-size:0;
						img {position:absolute; left:0; top:0; width:100%; height:100%;}
					}
					.txt {
						position:absolute; left:0; top:0;  display:table; width:100%; height:100%; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#fff; z-index:2;
						span {display:table-cell; vertical-align:middle; text-align:center; line-height:20px;}
					}
				}
				a:hover, a[aria-selected=true]{
					.thumbnail:before {position:relative; display:block; content:""; width:100%; height:100%; border:7px solid #edc834; box-sizing:border-box; z-index:3; }
					.thumbnail:after {position:absolute; left:0; top:0; z-index:5; display:block; content:""; width:100%; height:100%; background:url(../../static/images/uscmuseum/subpage/bg_gallery_selected.png) no-repeat center; z-index:5;}
					.txt {z-index:0;}
				} 
			}
		}
		.cont-gallery {
			position:absolute; top:40px; right:40px; left:40px; 
			.vr_area {width:100%; height:504px;}
			.vr_area img {width:100%; height:100%; vertical-align:top;}
		}
	}
}
// 상설전시회
.exhibition-zone {
	position:relative; padding:45px 40px 40px; background:#efeeed;
	img {vertical-align:top;}
	.img-contets {padding:0 0 0 187px;}
	.img-contets img {width:100%; height:468px;}
	ul[role=tablist] {position:absolute; left:40px; top:45px; margin:-5px 0 0 -5px;}
	ul[role=tablist]:after {display:block; content:""; clear:both;}
	ul[role=tablist] > li {float:left; margin:5px 0 0 5px;}
	ul[role=tablist] > li:nth-child(2n+1) {clear:both;}
	ul[role=tablist] > li a {position:relative; display:block; width:80px; height:60px;}
	ul[role=tablist] > li a:hover:after, 
	ul[role=tablist] > li a[aria-selected=true]:after {position:absolute; left:0; top:0; display:block; content:""; width:100%; height:100%; background:url(../../static/images/uscmuseum/subpage/bg_gallery_selected.png) no-repeat center; background-size:25px 20px; z-index: 5;}
	ul[role=tablist] > li a:hover:before, 
	ul[role=tablist] > li a[aria-selected=true]:before {position:relative; display:block; content:""; width:100%; height:100%; border:5px solid #edc834; box-sizing:border-box;
	    z-index: 3;}
	ul[role=tablist] > li a img {position:absolute; left:0; top:0; height:100%; vertical-align:top}
}
.exhibition {
	.list-relic {
		margin-top: 15px; margin-left: 50px;
		ul {
			overflow:hidden; margin:-35px 0 0 -32px;
			& > li {float:left; width:25%; padding:35px 0 0 32px; box-sizing:border-box;}
			& > li a {display:block;}
			& > li a .img-area {display:block;}
			& > li a .img-area img {vertical-align:top}
			& > li a .txt {display:block; margin:10px 0 0 0; font-family:'NanumSquareB','Malgun Gothic','굴림',Gulim,'돋움',Dotum,Sans-serif; color:#4b4b4b; text-align:center;}
		}
	}
}
/* 박물관소개 */
// 박물관로고
.museumlogo {
	.symbol-wrap {
		overflow:hidden;position:relative;
		& > div {float:left;}
		.img-area {width:392px;height:289px;margin-right:20px;}
		.info-area {
			width:59%; padding-top: 5px;
			.txt {font-size:15px;color:#4b4b4b;font-family:'NanumSquareB';line-height:1.5;}
			.txt + .txt {margin-top:30px;}
			.green {color:#48b512;}
			.blue {color:#125fb5;}
			.orange {color:#eb7104;}
		}
		.btn-area {position:absolute;right:0;bottom:0;}
	}
	.img-area {
		display:table;background:url(../images/uscmuseum/subpage/bg_img.png) repeat left top;border:16px solid #efeeed;
		.img {display:table-cell;vertical-align:middle;text-align:center;}
	}
	.btn-down {
		display:inline-block;width:228px;height:43px;border:1px solid #c3c3c3;font-size:15px;color:#4b4b4b;text-align:center;line-height:43px;
		&:before {display:inline-block;content:""; width: 25px; height: 25px; background: url("../../static/images/uscmuseum/subpage/icon_download4.png") no-repeat 50% 50%; background-size: 100% auto; margin-right: 10px; vertical-align: middle;}
	}
	.img-area.full {
		margin:15px 0 0 40px;width:-webkit-calc(100% - 40px);width:-moz-calc(100% - 40px);width:-o-calc(100% - 40px);width:calc(100% - 40px);
		.img {height:154px;}
	}
	p.comp-lst_dotted {font-size:15px;}
	.btn-area {margin-top:20px;text-align:right;}
}
//	건축계획개념
.notion {
	.visual-img {
		position:relative;height:537px;background:url(../images/uscmuseum/subpage/bg_plan.png) no-repeat left top;
		.img-txt01 {position:absolute;top:63px;left:59px;}
		.img-txt02 {position:absolute;top:63px;right:234px;}
	}
	.comp-txt_box {
		margin:0 0 18px 30px;padding:33px 20px 28px;
		.tit {margin-bottom:26px;text-align:center;font-family:'NanumSquareB';color:#1c1c1c;font-size:18px;}
		.tit .green {color:#2e9911;}
		.txt {font-size:15px;font-family:'NanumSquareB';color:#4b4b4b;}
	}
	*[class$="tit"] {font-family:'NanumSquareB';color:#4b4b4b;font-size:17px;text-align:center;}
	.design-wrap {
		margin:0 0 24px 30px;
		&:after {display:block;clear:both;content:'';}
		.design-area {
			display:inline-block;width:308px;height:491px;margin-right:24px;padding:20px 14px;border:1px solid #c7c1bf;vertical-align:top;box-sizing:border-box;
			.tit {margin-bottom:15px;}
			.sub-tit {display:block;height:40px;line-height:40px;}
			.yellow {background:#ffcf26;}
			.green {background:#4dd360;}
			li {
				position:relative;display:table;width:100%;height:109px;margin-top:15px;padding:14px 10px;text-align:center;background:#f1f3f4;border-radius:10px;box-sizing:border-box;
				div {display:table-cell;vertical-align:middle;}
				p {font-size:15px;font-family:'NanumSquareB';color:#4b4b4b;}
			}
			li:after,
			&.concept:after {position:absolute;top:50%;right:-39px;display:inline-block;margin-top:-18px;font-size:30px;font-family:'NanumSquareB';color:#8f8f8f;content:'>';}
			.design {width:42%;}
			.and span {display:inline-block;width:36px;height:36px;line-height:36px;font-size:15px;font-family:'NanumSquareEB';color:#8f8f8f;background:#d6d9db;border-radius:50%;}
			*[class*="bg"] {
				margin-bottom:4px;padding-bottom:43px;
				&.bg01 {background:url(../images/uscmuseum/subpage/bg_goal01.png) no-repeat center bottom;}
				&.bg02 {background:url(../images/uscmuseum/subpage/bg_goal02.png) no-repeat center bottom;}
				&.bg03 {background:url(../images/uscmuseum/subpage/bg_goal03.png) no-repeat center bottom;}
				&.bg04 {background:url(../images/uscmuseum/subpage/bg_goal04.png) no-repeat center bottom;}
				&.bg05 {background:url(../images/uscmuseum/subpage/bg_goal05.png) no-repeat center bottom;}
				&.bg06 {background:url(../images/uscmuseum/subpage/bg_goal06.png) no-repeat center bottom;}
			}
			&.concept {
				position:relative;
				&:after {top:59%;right:-24px;}
				li {padding:10px 34px;}
				li:after {display:none;}
				li p {padding:35px 0 35px 110px;}
				.txt01 {background:url(../images/uscmuseum/subpage/bg_concept01.png) no-repeat left top}
				.txt02 {background:url(../images/uscmuseum/subpage/bg_concept02.png) no-repeat left top}
				.txt03 {padding:26px 0 27px 110px;line-height:1.2;background:url(../images/uscmuseum/subpage/bg_concept03.png) no-repeat left top}
			}
		}
	}
	.tree-area {
		display:inline-block;width:308px;height:489px;background:url(../images/uscmuseum/subpage/bg_tree.png) no-repeat left top;border:1px solid #c7c1bf;text-align:center;box-sizing:border-box;
		.tit {margin-bottom:110px;padding-top:20px;line-height:1.5;}
		.tit span {display:block;color:#fe970e;font-family:'NanumSquareEB';font-size:24px;}
		.txt {line-height:1.6;color:#fff;font-family:'NanumSquareB';font-size:15px;}
	}
	.plan-list {
		margin-left:30px;border-top:2px solid #7a7a7a;border-bottom:2px solid #7a7a7a;
		& > li {
			display:table;width:100%;border-top:1px solid #d9d6d5;
			&:first-child {border-top:0;}
			&:first-child .comp-lst_dotted li:last-child {padding-left:95px;text-indent:-80px;}
			&:nth-child(2) li:first-child,
			&:last-child li:last-child {padding-left:65px;text-indent:-52px;}

			.tit {display:table-cell;width:150px;background:#f4f7f9;font-size:16px;vertical-align:middle;line-height:1.5;}
			.comp-lst_dotted {padding:18px 20px;border-bottom:1px solid #d9d6d5;}
			.comp-lst_dotted li {font-size:15px;}
			.img-area {padding:25px 0 0 50px;}
		}
	}
}
// 인사말
.muse_part03_03 {
	.bg { position: relative; z-index: 1; }
	.txt { display: block; margin:0 auto;}
	.txt_box {position: relative; margin-top: 30px; margin-bottom: 15px; padding:0;}
	.txt_box:before { display: inline-block; position: absolute; top:-52px; left:0; width:194px; height:153px; background: url(../images/uscmuseum/subpage/ico_info.png) no-repeat center center; opacity:0.1; content:'';}
	p { padding: 0 10px; color:#4b4b4b; line-height: 24px; font-family: 'NanumSquareB'; font-size: 15px;}
}

























































































































































/* ------------------------------------------------------
BROWSER HACK
------------------------------------------------------ */
@media screen and (-webkit-min-device-pixel-ratio:0){ } // webkit hack
@-moz-document url-prefix() { } // firefox hack



/* ------------------------------------------------------
MEDIA QUERY
------------------------------------------------------ */
@media (max-width:1024px){
/* ------------------------------------------------------
- LAYOUT
------------------------------------------------------ */
#wrap.uscmuseum #header {
	.header-bottom {
		.header-utilegroup .header-utile {
			.icon-login:before {@include background("uscmuseum/icon_gnb_login.png",no-repeat 50% 50%); background-size:auto 100%;}		
			.icon-join:before {@include background("uscmuseum/icon_gnb_join.png",no-repeat 50% 50%); background-size:auto 100%;}
		}
		.gnb-mo-title {background: #dcb725}
		.header-utilegroup {background: #f5f3df;}
		.header-utilegroup .header-utile li + li {border-color:#d8cf6c;}
	}
	.header-middle {
		.btn-menu-open button {background-color:#c3893a}
		.title a {width: 20.8rem; @include background("uscmuseum/img_logo_m.png",no-repeat 50% 50%); }
	}
}
#wrap.uscmuseum #gnb {
	.category {display: none}
	.gnb .clicked, 
	.gnb .current, 
	.gnb .clicked h3 a, 
	.gnb h2 a:hover, 
	.gnb h3 a:hover, 
	.gnb h4 a:hover {color:#c3893a;}
	.gnb h4 a:hover:before {background:#c3893a;}
}
#wrap.uscmuseum #container {padding-top: 0;}	
/* ------------------------------------------------------
COMMON
------------------------------------------------------ */
#wrap.uscmuseum {
	*[class^=heading][class*=-h3]:before {width:1.5rem;}
}
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.uscmuseum #container.main {
	padding-top: 0;
	.inner {width: 100%; }

	// 게시판
	.main-board-zone {
		overflow:hidden; height:auto; background:none;

		div[class^=board-] {
			float:none; width:100%; height: 5.3rem; padding:0 1rem;
			.tit {line-height: 5.3rem; font-size: 1.3rem; padding-left: 0.5rem; box-sizing: border-box;}	
			.cont {
				line-height: 5.3rem; font-size: 1.2rem;
				.txt {max-width: 70%;}
			}
			.btn {
				right: 1.4rem; top:50%; margin-top:-1.24rem;
				.btn-more {width: 2.5rem; height: 2.5rem;}
			}

			&[class*=-noticeboard] {
				background:#edc834;
				.tit {width:7.2rem}
				.cont {padding-left:7.2rem; }
			}
			&[class*=-freeboard] {
				background:#3e3932;
				.tit {width:8rem; text-align: left;}
				.cont {padding-left:8rem; }
			}
		}
	}
	// 진행중인 행사
	.main-group-zone {
		width:100%; padding-top:0px;
		& > div[class^=main-] {position: relative; float:none;}
		.tit {
			font-size:1.6rem;
			.small {font-size:1rem; margin-left: 0.3rem;}
		}
		.indicator {
			p {
				* {width: 2.4rem; height: 2.4rem;}
			}
		}
	}
	.main-event {
		width: 100%; height: auto; padding:1.8rem 2.1rem 0; background-size:100% 19.8rem;
		.indicator {
			right:1rem; top: 1.2rem;
			p {
				.btn-prev {background-size: 30% auto;}
				.btn-next {background-size: 30% auto;}
				.btn-more {background-size: 50% auto;}
			}
		}
		.slider {
			height: 21.3rem; margin-top: 1.3rem; padding:2.3rem 0 0; 
			.slide {padding:0 2rem;}
			.txt {max-height: 2.8rem; margin-top:1.3rem; font-size: 1rem; line-height:1.4rem; }
			.img {
				max-width: 10rem; margin:0 auto;
				img {max-width: 100%; margin:0 auto;}
			}
		}
	}
	.main-popup {
		width:100%; height:auto; margin-left:0; padding:2.5rem 2.1rem 0;
		.indicator {
			right: 1rem; top:2rem;
			p {
				.btn-prev {background-size: 30% auto;}
				.btn-next {background-size: 30% auto;}
				.btn-more {background-size: 50% auto;}
			}
		}
		.slider {
			margin-top:1.1rem;
			.slide img {width: 100%;}
		}
	}
	// 자주찾는 서비스
	.main-favorit-zone {
		.inner {padding:3rem 1rem; }
		.tit {
			left:1rem; top:4rem; font-size:1.5rem;
			&:after {width:5.4rem; height: 19px; margin-top:0.7rem; background-position: 0 0; background-size:100% auto;}
		}
		.favorit-service {
			padding-left: 6rem;
			.icon {width: 5.3rem; height: 5.3rem; }
			.name {margin-top:1.1rem;font-size:1.1rem;}
			.slide:before {height:6rem; top:0.9rem;}
		}
	}
	// main visual
	.main-visual-zone {
		.visual-slider {
			height:55.1rem;
			.img {
				height: 55.1rem;
				&.m {display: block;}
				&.pc {display: none;}
			}
			.slick-arrow {display: none }
			.slick-dots {display: none; }
		}
		.museum-group .inner {padding:3.8rem 1rem 0;}
		.main-title {
			max-width:36rem; height: 5.9rem; margin:0 auto; @include background("uscmuseum/main/img_title_m.png",no-repeat 50% 50%); background-size:95% auto;
		}
		.museum-information {
			margin-top: 1.4rem;
			div[class^=l-] {
				float: none; width:100%; height: auto; padding:2rem 18vw;
				& + div {border-top: 1px solid #fff; border-left: 0;}
				.tit {
					font-size: 2rem; 
					.small {font-size: 1rem;}
				}
			}
			.l-left {
				.tit {
					padding-top: 1.3rem; padding-left: 0;
					.small {margin-left: 5px;}
				}
				.information-lst {
					padding-left: 13rem; padding-top:0;
					li {padding-left:0.7rem; font-size:1rem; line-height:1.6rem;}
					.sm {font-size: 0.9rem;}
					.lp {letter-spacing: 4px;}
				}
			}
			.l-right {
				.tit {
					padding-left:0; margin-top: 0;
					.small {margin-bottom:0.5rem;}
				}
				.reservation-menu {
					padding-left: 15rem; padding-top: 0;
					li {margin-left:0.5rem;}
					li:first-child {margin-left: 0;}
					a {display:table; width: 6.5rem; height: 6.5rem; font-size: 1.1rem; line-height:1.6rem; }
				}
			}
		}
		.museum-menu {
			margin-top: 4rem;
			ul {
				display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
				li {float:left; width:32%; height:auto; flex:1;}
				a {display:table; position: relative; width: 100%; height: 100%;box-sizing: border-box;background:rgba(0,0,0,0.5); text-align: center; word-break: keep-all;}
				a > div {display: table-cell; vertical-align: middle; padding:2rem 1.5rem;}
			}
			.icon {
				display:block; max-width: 11.2rem; margin:0 auto; 
				img {width: 50%;}
			}
			.tit {
				margin-top:1.2rem; font-size: 1rem; 
				&:before {height: 1.2rem; background-size:100% auto;}
				&:after {height: 1.2rem; background-size: 100% auto;}
			}
			.desc {display:none;}
			.gotodetail {margin: 1.4rem auto 0; width:100%; height:1.8rem; font-size: 0.7rem; line-height: 1.8rem;}


			a {
				&:before {height: 4px; }
				&:after {width: 4px; }
				> div:before {height: 4px; }
				> div:after {width: 4px; }
			}
		}
	}
}

/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */
/* 이용안내 */
// 시설현황 - 층별안내
.uscmuseum .floor-plan {
	min-height: auto;
	.img {width:100%; margin:15px auto 0;}
	*[class^=comp-tab] {
		margin:0 1rem;
		a {line-height: 2.5rem;}
	}
}
// 시설현황 - 전체안내
.uscmuseum-view-zone {
	padding:1.5rem 1rem; text-align: center; margin-top:1.5rem;
	ul[role="tablist"] {
		position: static; display: inline-block; margin-top: 1rem; margin-left: -0.5rem;
		li {margin-left:0.5rem; margin-bottom: 0.5rem;}
		li:nth-child(3n+1){clear:none; margin-left:0.5rem;}
		a {width: 3.1rem; height:3.1rem; font-size:1.5rem;line-height:2.6rem; border-width:0.2rem; }
	}
	.img-tabconts {
		padding-left: 0;
		.imgtxt {
			left:0; width:15rem; height:3rem; font-size:1.2rem;line-height:3rem; text-align: left;
			.num {width:3rem; margin-right:1rem; font-size:1.5rem;}
		}
	}
}
// 관람안내
.muse_part01_01 {
	ol li{
		h4.bold { width: 35%; line-height: 3rem; height: 3rem;}
		h4.bold:before{right:-0.5rem; width:1rem; height: 1rem; top:50%; margin-top: -0.5rem; box-sizing: border-box; border-width: 2px}
		h4.bold:after { right:inherit; left:100%; width:15%; top:50%; margin-top: -1px;}
		& > ul { padding-left:42%; line-height: 1.8rem; }
	}
}
// 시설대관안내
.muse_part01_02 {
	.flow-chart { 
		display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; 
		li { 
			-webkit-flex: 1; flex: 1; width:auto;  margin-left: 1.6rem; background-size: contain; background-position: center; 
			&:before { display: none; }
			&:after { left: -0.5rem; width: 1.6rem; height: 1.6rem; margin-left: -1rem; background-size: 100%; }
			span { font-size: 1.2rem; line-height: 1.8rem; }
		}
	}
	.btn_box { 
		width:100%;
		a { width:33%; margin-left:0 !important; }
		a span { font-size: 1rem; }
	}
}
/* 전시안내 */
// 가상체험vr
.vr {
	.gallery-vr {
		padding:48vw 1rem 1rem;
		.cont-gallery {
			top:1rem; right:1rem; left:1rem;
			.vr_area {height:45vw;}
		}
		ul[role=tablist] {
			margin:0 0 0 -0.5rem;
			& > li {
				width:25%; padding:0.5rem 0 0 0.5rem;
				a {
					height:15vw; font-size: 1.2rem;
					.txt span {padding:0 1rem; line-height:1.4rem;}
				}
				a:hover, a[aria-selected=true]{
					.thumbnail:before {border-width:0.3rem;}
					.thumbnail:after {background-size:2rem 1.4rem;}
				}
			}
		}
	}
}
/* 박물관소개 */
// 박물관로고
.museumlogo {
	.symbol-wrap {
		& > div {float:none;}
		.img-area {width:100%;height:inherit;margin-right:0;margin-bottom:2rem;padding:2rem;}
		.info-area {
			width:100%; padding-top: 0;
			.txt {font-size:1.3rem;}
			.txt + .txt {margin-top:1.5rem;}
		}
		.btn-area {position:static;text-align:right;}
	}
	.img-area {border:.8rem solid #efeeed}
	.btn-down {width:16rem;height:3.5rem;font-size:1.3rem;line-height:3.5rem;}
	p.comp-lst_dotted {font-size:1.3rem;}
	.btn-area {margin-top:1rem;}
	.img-area.full {
		margin:.8rem 0 0 0;width:100%;
		.img {height:10rem;padding:0 2rem;}
	}
}
//	건축계획개념
.notion {
	.visual-img {
		height:50vw;background-size:100%;
		.img-txt01 {top:5vw;left:5vw;width:14rem;}
		.img-txt02 {top:5vw;right:19vw;width:6rem;}
	}
	.comp-txt_box {
		margin:0 0 .9rem 0;padding:1.5rem 1rem 1.4rem;
		.tit {margin-bottom:1.3rem;font-size:1.5rem;}
		.txt {font-size:1.3rem;}
	}
	*[class$="tit"] {font-size:1.4rem;}
	.design-wrap {
		margin:0 0 1.2rem 0;
		.design-area {
			display:block;width:100%;height:inherit;margin:0 0 2rem 0;padding:1rem .7rem;
			.tit {margin-bottom:.8rem;}
			.sub-tit {height:3rem;line-height:3rem;}
			li {height:inherit;margin-top:.8rem;padding:.7rem 1rem;}
			li p {font-size:1.3rem;}
			li:after,
			&.concept:after {display:none;}
			.design {width:50%;}
			.and span {width:3rem;height:3rem;line-height:3rem;font-size:1.3rem;}
			*[class*="bg"] {margin-bottom:.2rem;padding-bottom:2.2rem;background-size:2rem;}
			&.concept{
				li {padding:1rem 1.7rem;}
				li p {display:inline-block;width:24rem;padding:2.8rem 0 2.8rem 5rem;background-size:7rem !important;box-sizing:border-box;}
				.txt03 {padding:2rem 0 2rem 5rem;}
			} 
		}
	}
	.tree-area {
		display:block;width:100%;height:45rem;background-size:100% 45rem;
		.tit {margin-bottom:6rem;padding-top:2rem;}
		.tit span {font-size:2rem;}
		.txt {font-size:1.8rem;}
	}
	.plan-list {
		margin-left:0;
		& > li{
			.tit {width:9rem;font-size:1.3rem;}
			.comp-lst_dotted {padding:1rem 1rem;}
			.comp-lst_dotted li {font-size:1.2rem;}
			.img-area {padding:1.8rem 0 0 2.5rem;}
			&:first-child .comp-lst_dotted li:last-child,
			&:nth-child(2) li:first-child,
			&:last-child li:last-child {padding-left:1rem;text-indent:0;}	
		} 
	}
}
// 인사말
.muse_part03_03  {
	.txt_box {margin-top: 1.5rem; margin-bottom: 1rem;}
	.txt_box:before { left:-3rem; background-size: 50% auto; }
	p {font-size: 1.2rem; line-height: 1.8rem;}
}
//-------------------------------------------------------------------------------
}
@media (max-width:768px){
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.uscmuseum #container.main {
	// main visual
	.main-visual-zone {
		.museum-information div[class^=l-] {padding:2rem 0;}
	}
}
/* ------------------------------------------------------
- SUB PAGE
------------------------------------------------------ */
/* 전시안내 */
// 가상체험vr
.vr {
	.gallery-vr ul[role=tablist] > li {width:50%;}
}
// 상설전시회
.exhibition-zone {
	padding:1rem;
	.img-contets {margin:0 0 1rem;padding:0; }
	.img-contets img {height:50vw;}
	ul[role=tablist] {position:static; margin:-0.5rem 0 0 -0.5rem;}
	ul[role=tablist] > li {width:20%; margin:0; padding:0.5rem 0 0 0.5rem; box-sizing:border-box;}
	ul[role=tablist] > li a {width:auto; height:10vw;}
	ul[role=tablist] > li a:hover:before, 
	ul[role=tablist] > li a[aria-selected=true]:before {border-width:0.3rem;}
	ul[role=tablist] > li a:hover:after, 
	ul[role=tablist] > li a[aria-selected=true]:after {background-size:2rem 1.4rem;}
	ul[role=tablist] > li a img {width:100%;}
	ul[role=tablist] > li:nth-child(2n+1) {clear:none;}
}
.exhibition {
	.list-relic{
		margin-top: 1rem; margin-left: 0;
		ul {
			overflow:hidden; margin:-1.5rem 0 0 -0.5rem;
			& > li {padding:1.5rem 0 0 0.5rem; box-sizing:border-box;}
			& > li a .txt {margin:0.5rem 0 0;}
		}
	} 
}
//시설대관안내
.muse_part01_02 {
	.flow-chart {
		li { height:auto; padding-top:2rem;}
		li:last-of-type { padding-top:1.5rem;}
		li span { font-size: 1rem;}
	} 
	.btn_box { 
		text-align: center;
		a { width:90%; margin-top:1rem;}
		a span { font-size: 1rem; }
	}
}

//-------------------------------------------------------------------------------
} @media (max-width:360px){
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.uscmuseum #container.main {
	// main visual
	.main-visual-zone {
		.museum-information .l-right .reservation-menu a {width: 6rem; height: 6rem;}
	}
	// 진행중인 행사
	.main-group-zone .tit .small {display: block;}
}
//-------------------------------------------------------------------------------
} @media (max-width:321px){
/* ------------------------------------------------------
- MAIN
------------------------------------------------------ */
#wrap.uscmuseum #container.main {
	// main visual
	.main-visual-zone {
		.museum-information {
			div[class^=l-] .tit {font-size: 1.7rem;}
			.l-left .information-lst {padding-left:  10rem;}
			.l-right .reservation-menu {
				padding-left: 12rem;
				a {width: 5.5rem; height:5.5rem;}
			}
		}
	}
}
//-------------------------------------------------------------------------------	
}


